<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="col-md-6">
          <h5>No Of Workers in Each Stage </h5>
        </div>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-md-9"></div>
          <div class="col-md-3">
            <select name="" id="" class="form-control">
              <option value="">Fabrication</option>
              <option value="">Assembly</option>
            </select>
          </div>          
        </div>
        <div class="row">
            <div class="col-lg-1">
              <p class="livefeed" data-toggle="tooltip" data-placement="top" title="No of Technicians : 10">Fab 01
  
              </p>
            </div>
            <div class="col-lg-1">
              <p class="livefeed" data-toggle="tooltip" data-placement="top" title="No of Technicians : 5">Fab 02</p>
            </div>
            <div class="col-lg-1">
              <p class="livefeed" data-toggle="tooltip" data-placement="top" title="No of Technicians : 3">Fab 03</p>
            </div>
            <div class="col-lg-1">
              <p class="livefeed" data-toggle="tooltip" data-placement="top" title="No of Technicians : 2">Fab 04</p>
            </div>
            <div class="col-lg-1">
              <p class="livefeed" data-toggle="tooltip" data-placement="top" title="No of Technicians : 3">Fab 05</p>
            </div>
            <div class="col-lg-1">
              <p class="livefeed" data-toggle="tooltip" data-placement="top" title="No of Technicians : 3">Fab 06</p>
            </div>
            <div class="col-lg-1">
              <p class="livefeed"data-toggle="tooltip" data-placement="top" title="No of Technicians : 10">Fab 07</p>
            </div>
            <div class="col-lg-1">
              <p class="livefeed" data-toggle="tooltip" data-placement="top" title="No of Technicians : 10">Fab 08</p>
            </div>
            <div class="col-lg-1">
              <p class="livefeed" data-toggle="tooltip" data-placement="top" title="No of Technicians : 10">Fab 09</p>
            </div>
            <div class="col-lg-1">
              <p class="livefeed" data-toggle="tooltip" data-placement="top" title="No of Technicians : 10">Fab 10</p>
            </div>
            <div class="col-lg-1">
              <p class="livefeed" data-toggle="tooltip" data-placement="top" title="No of Technicians : 10">Fab 11</p>
            </div>
            <div class="col-lg-1">
              <p class="livefeeds" data-toggle="tooltip" data-placement="top" title="No of Technicians : 2">Fab 12</p>
            </div>
            <div class="col-lg-1">
              <p class="livefeed" data-toggle="tooltip" data-placement="top" title="No of Technicians : 5">Fab 13</p>
            </div>
            <div class="col-lg-1">
              <p class="livefeed" data-toggle="tooltip" data-placement="top" title="No of Technicians : 2">Fab 14</p>
            </div>
            <div class="col-lg-1">
              <p class="livefeed" data-toggle="tooltip" data-placement="top" title="No of Technicians : 1">Fab 15</p>
            </div>
            <div class="col-lg-1">
              <p class="livefeed" data-toggle="tooltip" data-placement="top" title="No of Technicians : 9">Fab 16</p>
            </div>
            <div class="col-lg-1">
              <p class="livefeed" data-toggle="tooltip" data-placement="top" title="No of Technicians : 9">Fab 17</p>
            </div>
            <div class="col-lg-1">
              <p class="livefeed" data-toggle="tooltip" data-placement="top" title="No of Technicians : 5">Fab 18</p>
            </div>
            <div class="col-lg-1">
              <p class="livefeed" data-toggle="tooltip" data-placement="top" title="No of Technicians : 10">Fab 19</p>
            </div>
            <div class="col-lg-1">
              <p class="livefeed" data-toggle="tooltip" data-placement="top" title="No of Technicians : 2">Fab 20</p>
            </div>
            <div class="col-lg-1">
                <p class="livefeed" data-toggle="tooltip" data-placement="top" title="No of Technicians : 3">Fab 21</p>
              </div>
        </div>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>
