.livefeed,.livefeeds{
    border:1px solid #000;
    padding:10%;
}
.col-lg-1{
    margin-top:2%;
}
.livefeed::after{
    content: "";
    position: absolute;
    bottom: 50%;
    left: 81%;
    right: -16px;
    height: 0.5em;
    border-top: 1px solid #f81414;
}
/* .livefeed:hover {
    background-color: yellow; 

}*/