<div class="row">
  <div class="col-sm-12">      
    <form class="form-horizontal" name="addform" #addfrm="ngForm" (ngSubmit)="addchassisinward(addfrm)">
      <div class="card card-border-primary">
        <div class="card-header">
          <h5>Chassis Inward Clearance</h5>
          <p class="mandatoryfiles">* Fields Are mandatory</p>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label ">Choose Customer Name<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select name="customername" class="form-control" [(ngModel)]="customernames" #customername="ngModel" required (change)="getchassismake(customername.value)">
                    <option [value]="undefined" selected hidden>Select Customer Name</option>
                    <option [value]="null" selected hidden>Select Customer Name</option>                    
                    <option *ngFor="let items of customer_details.message" [value]="items.id">{{items.custid}}_{{items.customer_name}}</option>
                  </select>
                  <div *ngIf="customername.invalid && (customername.dirty || customername.touched)" class="alert-danger">
                    <span *ngIf="customername.errors?.required">
                      Customer Name is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label ">Chassis Make<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="chassismake" placeholder="Enter Chassis Make" [(ngModel)]="packagechassis.chassis_make" #chassismake="ngModel" required readonly appEmitfirstspace>
                  <div *ngIf="chassismake.invalid && (chassismake.dirty || chassismake.touched)" class="alert-danger">
                    <span *ngIf="chassismake.errors?.required">
                      Chassis Make is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">           
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label ">Chassis Model<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="chassismodel" placeholder="Enter Chassis Model " [(ngModel)]="packagechassis.chassismodel" #chassismodel="ngModel" required readonly appEmitfirstspace>
                  <div *ngIf="chassismodel.invalid && (chassismodel.dirty || chassismodel.touched)" class="alert-danger">
                    <span *ngIf="chassismodel.errors?.required">
                      Chassis Model is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>   
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label ">Qty<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="qty" placeholder="Enter Quantity" [(ngModel)]="packagechassis.quantity" #quantity="ngModel" required appEmitfirstspace appDigitOnly>
                  <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert-danger">
                    <span *ngIf="quantity.errors?.required">
                        Quantity is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>            
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label ">Date<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="calendar" [(ngModel)]="model" ngbDatepicker #calendars="ngbDatepicker" required readonly>
                    <div class="input-group-append" >
                      <button class="btn btn-outline-secondary calendar" (click)="calendars.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                    </div>
                  </div>
                  <div *ngIf="calendars.invalid && (calendars.dirty || calendars.touched)" class="alert-danger">
                    <span *ngIf="calendars.errors?.required">
                      Chassis Date is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>  
          </div>
        </div>
        <div class="card-footer">
          <div class="task-board m-0">
            <!-- end of dropdown-secondary -->
            <div class="dropdown-secondary dropdown">
              <button class="btn btn-primary btn-square" type="submit" [disabled]="!addfrm.form.valid">
                <i class="icofont icofont-tick-mark"></i>    Submit
              </button>
              <button class="btn btn-info btn-square" type="reset">
                <i class="icofont icofont-refresh"></i> Reset
              </button>
              <!-- end of dropdown menu -->
            </div>
            <!-- end of seconadary -->
          </div>
          <!-- end of pull-right class -->
        </div>
        <!-- end of card-footer -->
      </div>
    </form>    
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <div class="text-right">
            <button class="btn btn-primary btn-square" type="button" (click)="openmodal(mail)">
                <i class="icofont icofont-upload"></i> Intimate to
            </button>
        </div>
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr> 
              <th></th>
              <th>S.NO</th>     
              <th>Customer Name</th>
              <th>Chassis Make</th>
              <th>Chassis Model</th>
              <th>Quantity</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of chassisinward;let i =index">
              <td><input type="checkbox" [(ngModel)]="item.selected" name="menu1" [value]="item.id" id="{{item.id}}" (change)="checkValue(item.id,$event.target.checked)"></td>              
              <td>{{i+1}}</td>                         
              <td>{{item.customername}}</td>
              <td>{{item.chassismake}}</td>
              <td>{{item.chassismodel}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.chassisdate}}</td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletechassisinward(item.id)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit Chassis Inward Clearance</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="editfrm" #editfrm="ngForm" (ngSubmit)="editchassisinward(editfrm, edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editinward.id" required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label ">Choose Customer Name<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select name="customername" class="form-control" [(ngModel)]="editinward.custid" #customername="ngModel" required (change)="getchassismake(customername.value)">
                <option [value]="undefined" selected hidden>Select Customer Name</option>
                <option [value]="null" selected hidden>Select Customer Name</option>
                <option *ngFor="let items of customer_details.message" [value]="items.id">{{items.custid}}_{{items.customer_name}}</option>
              </select>
              <div *ngIf="customername.invalid && (customername.dirty || customername.touched)" class="alert-danger">
                <span *ngIf="customername.errors?.required">
                  Customer Name is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label ">Chassis Make<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="chassismake" [(ngModel)]="packagechassis.chassis_make" #chassismakes="ngModel" required readonly> 
              <div *ngIf="chassismakes.invalid && (chassismakes.dirty || chassismakes.touched)" class="alert-danger">
                <span *ngIf="chassismakes.errors?.required">
                  Chassis Make is Required
                </span>
              </div>
            </div>
          </div>
        </div>        
      </div>
      <div class="row"> 
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label ">Chassis Model<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="chassismodel" [(ngModel)]="packagechassis.chassismodel" #chassismodels="ngModel"
                required readonly>
              <div *ngIf="chassismodels.invalid && (chassismodels.dirty || chassismodels.touched)" class="alert-danger">
                <span *ngIf="chassismodels.errors?.required">
                  Chassis Model is Required
                </span>
              </div>
            </div>
          </div>
        </div>  
        <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label ">Qty<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="qty" placeholder="Enter Quantity" [(ngModel)]="editinward.quantity" #quantity="ngModel" required appEmitfirstspace appDigitOnly>
                <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert-danger">
                  <span *ngIf="quantity.errors?.required">
                      Quantity is Required
                  </span>
                </div>
              </div>
            </div>
          </div>     
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label ">Date<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="calendar" [(ngModel)]="editchassisdates" ngbDatepicker #calendar="ngbDatepicker" required readonly>
                <div class="input-group-append" >
                  <button class="btn btn-outline-secondary calendar" (click)="calendar.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                </div>
              </div>
              <div *ngIf="calendar.invalid && (calendar.dirty || calendar.touched)" class="alert-danger">
                <span *ngIf="calendar.errors?.required">
                  Chassis Date is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>
<ng-template #mail let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Chassis Inward</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" name="addform" #frm="ngForm"  (ngSubmit)="addmailingstatus()">
              <div class="container" >
          <div class="row">
              <div class="col-sm-4">
                  <div>
                    <label class="label-control">Select Users :
                        <span class="mandatoryfiles">*</span></label>
                  </div>
                </div>
            <div class="col-sm-8" >
  
                <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" ngModel name="selectedemails" #selectedemails="ngModel" required 
                [settings]="dropdownSettings" 
                (onSelect)="onItemSelect($event)" 
                (onDeSelect)="OnItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
                <div *ngIf="selectedemails.invalid && (selectedemails.dirty || selectedemails.touched)" class="alert-danger">
                  <span *ngIf="selectedemails.errors?.required">
                  Role is Required
                  </span>
                </div>
            
              
            </div>
          
          </div>
        </div>
  
        <hr>
        <div class="form-group row float-right">
          <div class="col-sm-6">
            <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
          </div>
        </div>
      </form>
    </div>   
</ng-template>
