<div class="row">
  <div class="col-sm-12">
    <!-- Panel card start -->
    <app-card [title]="'Panel'" [blockClass]="'panels-wells'">
        <div class="row">
          <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
            <div class="panel panel-default">
              <div class="panel-heading bg-default txt-white">
                Default Panel
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.</p>
              </div>
              <div class="panel-footer">
                Panel Footer
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
            <div class="panel panel-success">
              <div class="panel-heading bg-success">
                Success Panel
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.</p>
              </div>
              <div class="panel-footer text-success">
                Panel Footer
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
            <div class="panel panel-primary">
              <div class="panel-heading bg-primary">
                Primary Panel
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.</p>
              </div>
              <div class="panel-footer text-primary">
                Panel Footer
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
            <div class="panel panel-danger">
              <div class="panel-heading bg-danger">
                Danger Panel
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.</p>
              </div>
              <div class="panel-footer text-danger">
                Panel Footer
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
            <div class="panel panel-warning">
              <div class="panel-heading bg-warning">
                Warning Panel
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.</p>
              </div>
              <div class="panel-footer text-warning">
                Panel Footer
              </div>
            </div>
          </div>
          <div class="col-xl-2 col-lg-4 col-md-4 col-sm-6">
            <div class="panel panel-info">
              <div class="panel-heading bg-info">
                Info Panel
              </div>
              <div class="panel-body">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum tincidunt est vitae ultrices accumsan.</p>
              </div>
              <div class="panel-footer text-info">
                Panel Footer
              </div>
            </div>
          </div>
          <!-- end of row -->
        </div>
    </app-card>
    <!-- Panel card end -->
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <!-- Wells card start -->
    <app-card [title]="'Wells'" [blockClass]="'panels-wells'">
        <div class="row">
          <div class="col-xl-12 col-lg-4 col-md-4 col-sm-6">
            <div class="well well-sm">
              Small Well
            </div>
            <div class="well">
              Normal Well
            </div>
            <div class="well well-lg">
              Large Well
            </div>
          </div>
        </div>
    </app-card>
    <!-- Wells card end -->
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <app-card [title]="'Default'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
      <div class="sub-title">Basic</div>
      <pagination [totalItems]="totalItems" [boundaryLinks]="true" [(ngModel)]="currentPage" (pageChanged)="pageChanged($event)"></pagination>
      <div class="sub-title m-t-15">With Icon</div>
      <pagination [boundaryLinks]="true" [totalItems]="totalItems" [(ngModel)]="currentPage" class="pagination-sm" previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card [title]="'States & Limits'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
      <div class="sub-title m-t-15">Limit the maximum visible buttons</div>
      <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-sm" [boundaryLinks]="true"></pagination>
      <div class="sub-title m-t-15"></div>
      <pagination [totalItems]="bigTotalItems" [(ngModel)]="bigCurrentPage" [maxSize]="maxSize" class="pagination-md" [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event"></pagination>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card [title]="'Pager'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
      <div class="row">
        <div class="col-sm-6">
          <pagination [directionLinks]="false" [totalItems]="totalItems" [(ngModel)]="currentPager" (numPages)="smallNumPages = $event"></pagination>
        </div>
        <div class="col-sm-6">
          <pager [totalItems]="totalItems" [(ngModel)]="currentPager" (pageChanged)="pageChanged($event)" pageBtnClass="btn btn-primary" itemsPerPage="10"></pager>
        </div>
      </div>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card [title]="'Disabled'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
      <pagination [totalItems]="bigTotalItems" [disabled]="true" [maxSize]="maxSize" class="pagination-md" [boundaryLinks]="true"></pagination>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card [title]="'Pagination Size'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
      <div class="sub-title m-t-15">Large</div>
      <pagination [totalItems]="bigTotalItems" [maxSize]="maxSize" class="pagination-lg" [boundaryLinks]="true"></pagination>
      <div class="sub-title m-t-15">Medium</div>
      <pagination [totalItems]="bigTotalItems" [maxSize]="maxSize" class="pagination-md" [boundaryLinks]="true"></pagination>
      <div class="sub-title m-t-15">Small</div>
      <pagination [totalItems]="bigTotalItems" [maxSize]="maxSize" class="pagination-sm" [boundaryLinks]="true"></pagination>
    </app-card>
  </div>
  <div class="col-sm-6">
    <app-card [title]="'Pagination Advance'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
      <div class="sub-title m-t-15">maxSize = 5, rotate = false</div>
      <ngb-pagination [collectionSize]="120" [(page)]="pageAdvance" [maxSize]="5" [boundaryLinks]="true"></ngb-pagination>
      <div class="sub-title m-t-15">maxSize = 5, rotate = true</div>
      <ngb-pagination [collectionSize]="120" [(page)]="pageAdvance" [maxSize]="5" [rotate]="true" [boundaryLinks]="true"></ngb-pagination>
      <div class="sub-title m-t-15">maxSize = 5, rotate = true, ellipses = false</div>
      <ngb-pagination [collectionSize]="120" [(page)]="pageAdvance" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true"></ngb-pagination>
    </app-card>
  </div>
</div>
