<div class="multi-step-sign-up">
  <div id="msform">
    <div id="progressbar">
      <form-wizard (onStepChanged)="onStepChanged($event)">
        <wizard-step [title]="'Sign up'" (onNext)="onStep1Next($event)">
          <fieldset>
            <img class="logo" src="assets/images/logo-blue.png" alt="logo.png">
            <h2 class="fs-title">Sign up</h2>
            <h3 class="fs-subtitle">Let’s have a new beginning. Sign up for new you</h3>
            <div class="input-group">
              <input type="text" class="form-control" name="username" placeholder="Username" />
            </div>
            <div class="input-group">
              <input type="text" class="form-control" name="email" placeholder="Email" />
            </div>
            <div class="input-group">
              <input type="password" class="form-control" name="pass" placeholder="Password" />
            </div>
            <div class="input-group">
              <input type="password" class="form-control" name="cpass" placeholder="Confirm Password" />
            </div>
          </fieldset>
        </wizard-step>

        <wizard-step [title]="'Social Profiles'" [showNext]="step2.showNext" [showPrev]="step2.showPrev" (onNext)="onStep2Next($event)">
          <fieldset>
            <img class="logo" src="assets/images/logo-blue.png" alt="logo.png">
            <h2 class="fs-title">Social Profiles</h2>
            <h3 class="fs-subtitle">Little bit about your presence on social media</h3>
            <div class="input-group">
              <input type="text" class="form-control" name="twitter" placeholder="Twitter" />
            </div>
            <div class="input-group">
              <input type="text" class="form-control" name="facebook" placeholder="Facebook" />
            </div>
            <div class="input-group">
              <input type="text" class="form-control" name="gplus" placeholder="Google Plus" />
            </div>
          </fieldset>
        </wizard-step>

        <wizard-step [title]="'Personal'" [showPrev]="step2.showPrev" (onComplete)="onComplete($event)">
          <fieldset>
            <img class="logo" src="assets/images/logo-blue.png" alt="logo.png">
            <h2 class="fs-title">Personal Details</h2>
            <h3 class="fs-subtitle">And something about yourself!</h3>
            <div class="input-group">
              <input type="text" class="form-control" name="fname" placeholder="First Name" />
            </div>
            <div class="input-group">
              <input type="text" class="form-control" name="lname" placeholder="Last Name" />
            </div>
            <div class="input-group">
              <input type="text" class="form-control" name="phone" placeholder="Phone" />
            </div>
            <div class="input-group">
              <textarea name="address" class="form-control" placeholder="Address"></textarea>
            </div>
            <p class="m-t-20">Already have an account? <a href="javascript:;">Sign in</a></p>
          </fieldset>
        </wizard-step>
      </form-wizard>
    </div>
  </div>
</div>