<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="row">
            <div class="col-md-6">
                <h5>CM Variance</h5>
              </div>
              <div class="col-md-6">
                <div class="text-right">
                  <button class="btn btn-primary btn-square" type="button" (click)="open(bulkupload)">
                    <i class="icofont icofont-upload"></i> Bulk Upload
                  </button>      
                </div>
              </div>        
        </div>        
      </div>
      <div class="card-block">
        <form class="form-horizontal" #frm="ngForm" (ngSubmit)="addcmvariance(frm)">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Mixer Part No.</label>
                <div class="col-sm-6">
                  <select class='select-option  form-control' required ngModel name=partno #partno="ngModel"
                    (ngModelChange)='onOptionsSelected($event)'>
                    <option value="" selected>Select Part No.</option>
                    <option class='option' *ngFor='let optiond of options' [value]="optiond.id">{{optiond.part_no}}</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Mixer Model No.</label>
                <div class="col-sm-6">
                  <input type="text" class="form-control" name="modelno" [(ngModel)]='options1' #modelno="ngModel"
                    readonly>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">WorkStation Name</label>
                <div class="col-sm-6">
                  <select class='select-option  form-control' #workstation="ngModel" required ngModel name=workstation>
                    <option value="" selected>Select Workstation Name</option>
                    <option class='option' *ngFor='let option of workstationnames' [value]="option.id">{{option.operation_code}}_{{option.list_of_operation}}</option>
                  </select>
                  <div *ngIf="workstation.invalid && (workstation.dirty || workstation.touched)" class="alert-danger">
                    <span *ngIf="workstation.errors?.required">
                      workstation Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Component</label>
                <div class="col-sm-6">
                  <input type="text" ngModel Placeholder="Enter Component Name" name="name" class="form-control" #name="ngModel"
                    required />
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div>
            <div class="form-group row float-right">
              <button class="btn btn-primary btn-square" type="submit" [disabled]="!frm.form.valid">
                <i class="icofont icofont-tick-mark"></i> Submit
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <table class="datatable table table-striped  table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Mixer Model No.</th>
              <th>Mixer Part No.</th>
              <th>WorkStation Name</th>
              <th>Components</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of details;let i=index">
              <td>{{i+1}}</td>
              <td>{{item.mixer_model}}</td>
              <td>{{item.part_no}}</td>
              <td>{{item.list_of_operation}}({{item.operation_code}})</td>
              <td>{{item.components}}</td>
              <td>
                  <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                      <i class='icofont icofont-fountain-pen'></i>
                    </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletecmvariance(item.id)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>
<!-- Edit -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(bulkupload)">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <!-- <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder
          ="Upload file"> -->
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file"
          class="
            btn btn-default">
        <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
        <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
        <!-- <span class="custom-file-control"></span> -->
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click');reset(bulkupload)">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit CM Variance</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
   <form class="form-horizontal" name="editfrm" #editfrm="ngForm" (ngSubmit)="editcmvariance(editfrm, edit)">
    <div class="row" style="display:none">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Id</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" Placeholder="Enter ID" name="id" [(ngModel)]="cmvariance.id" required #id="ngModel">
            <input type="text" class="form-control" Placeholder="Enter mixer_part_no" name="mixer_part_no" [(ngModel)]="cmvariance.mixer_part_no" required #mixer_part_no="ngModel">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Mixer Model No</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" Placeholder="Enter Mixermodel No" name="mixermodel"  [(ngModel)]="cmvariance.mixer_model" #mixermodel="ngModel"
              readonly>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Mixer Part No</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" Placeholder="Enter Mixer Part No " name="mixerpart"  [(ngModel)]="cmvariance.part_no" #mixerpart="ngModel"
              readonly>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
           <label class="col-sm-4 col-form-label">Workstation Name</label>
            <div class="col-sm-8">
              <!-- <input type="type" class="form-control" Placeholder="Enter Workstation Name " name="WorkstationName"   [(ngModel)]="cmvariance.list_of_operation"
                #WorkstationName="ngModel"  > -->
                <select class='select-option  form-control' #workstation="ngModel" (ngModelChange)='onOptionscomponentSelected($event)'
                required [(ngModel)]="editsop.workstation_name" name=workstation>
                <option value="" selected>Select Component</option>
                <option class='option' *ngFor='let option of workstationnames' [value]="option.id">{{option.list_of_operation}}
                  ({{option.operation_code}})</option>
              </select>
            </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
           <label class="col-sm-4 col-form-label">components</label>
            <div class="col-sm-8">
              <input type="type" class="form-control" Placeholder="Enter Component Name " name="components"   [(ngModel)]="cmvariance.components"
                #components="ngModel"  >
              
            </div>
        </div>
      </div>
    </div>
   
<hr>
<div class="form-group row float-right">
  <div class="col-sm-6">
    <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
  </div>
  <div class="col-sm-6">
    <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" >Update</button>
  </div>
</div>
   </form>
      
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>