<div class="row">
  <div class="col-sm-12">
    <form class="form-horizontal" name="addform" #addfrm="ngForm" (ngSubmit)="addbillingstatus(addfrm)">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="row">
            <div class="col-md-6">
              <h5>Mixer Loading </h5>
              <p class="mandatoryfiles">* Fields Are mandatory</p>
            </div>
            <div class="col-md-6">
              <div class="text-right">
                <button class="btn btn-primary btn-square" type="button" (click)="open(bulkupload)">
                  <i class="icofont icofont-upload"></i> Bulk Upload
                </button>          
              </div>
            </div>
          </div>          
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Veh Type.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="vehtype" ngModel #vehtype="ngModel" required appEmitfirstspace placeholder="Enter Veh Type.">
                  <div *ngIf="vehtype.invalid && (vehtype.dirty || vehtype.touched)" class="alert-danger">
                    <span *ngIf="vehtype.errors?.required">
                      Veh Type is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Truck No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="truckno" ngModel appEmitfirstspace #truckno="ngModel" required placeholder="Enter Truck No.">
                  <div *ngIf="truckno.invalid && (truckno.dirty || truckno.touched)" class="alert-danger">
                    <span *ngIf="truckno.errors?.required">
                      Truck No. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">ENG No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="engno" [(ngModel)]="engno" #engnos="ngModel" required (change)="getalldetails(engnos.value)" >
                    <option [value]="undefined" selected hidden>Select ENG No.</option>
                    <option [value]="null" selected hidden>Select ENG No.</option>
                    <option *ngFor="let item of getengineno.message" [value]="item.asmainmatid">{{item.pm_no}}</option>
                  </select>
                  <div *ngIf="engnos.invalid && (engnos.dirty || engnos.touched)" class="alert-danger">
                    <span *ngIf="engnos.errors?.required">
                      WorkOrder No. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Mixer Part No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Mixer Part No" name="partno" [(ngModel)]="getmixerassembly.part_no"
                    #partnos="ngModel" required readonly>
                  <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                    <span *ngIf="partnos.errors?.required">
                      Mixer Part No. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>           
          </div>
          <div class="row">              
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Mixer SL. No.</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Mixer SL. No." name="mixerslno" [(ngModel)]="getmixerassembly.mixer_s_no" #mixer_sno="ngModel" readonly>
                  <div *ngIf="mixer_sno.invalid && (mixer_sno.dirty || mixer_sno.touched)" class="alert-danger">
                    <span *ngIf="mixer_sno.errors?.required">
                      Mixer Sl.No. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Version</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Version" name="version" [(ngModel)]="getmixerassembly.waterpump_cum3"  #versions="ngModel" readonly>
                  <div *ngIf="versions.invalid && (versions.dirty || versions.touched)" class="alert-danger">
                    <span *ngIf="versions.errors?.required">
                      Version is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>            
          </div>
          <div class="row">              
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Color Scheme<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Color Scheme" name="channelwidth" [(ngModel)]="getmixerassembly.color" #colorschemes="ngModel" readonly>
                  <div *ngIf="colorschemes.invalid && (colorschemes.dirty || colorschemes.touched)" class="alert-danger">
                    <span *ngIf="colorschemes.errors?.required">
                      Color Scheme is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>  
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Customer Name<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Customer Name" name="customername" [(ngModel)]="getmixerassembly.customer_name" #customernames="ngModel" required readonly>
                  <div *ngIf="customernames.invalid && (customernames.dirty || customernames.touched)" class="alert-danger">
                    <span *ngIf="customernames.errors?.required">
                      Customer Name is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>          
          </div>
          <div class="row">              
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Destination<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Destination" name="destination" [(ngModel)]="getmixerassembly.destination"  #destinations="ngModel" appEmitFirstSpace required>
                  <div *ngIf="destinations.invalid && (destinations.dirty || destinations.touched)" class="alert-danger">
                    <span *ngIf="destinations.errors?.required">
                      Destinations is Required
                    </span>
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Chassis Model (U Bolts)<span *ngIf="isReadOnly" class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Chassis Model (U Bolts)" name="chassis_model" [(ngModel)]="getmixerassembly.chassisaccessories" #chassis_models="ngModel">
                  <div *ngIf="chassis_models.invalid && (chassis_models.dirty || chassis_models.touched)" class="alert-danger">
                    <span *ngIf="chassis_models.errors?.required">
                      Chassis Model (U Bolts) is Required.
                    </span>
                  </div>
                </div>
              </div>
            </div>             
          </div>
          <div class="row">            
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">TPT<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter TPT" name="tpt" #tpt="ngModel" ngModel required>
                  <div *ngIf="tpt.invalid && (tpt.dirty || tpt.touched)" class="alert-danger">
                    <span *ngIf="tpt.errors?.required">
                      TPT is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">LR No<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter LR No" name="lrno" ngModel #lrno="ngModel"
                    required>
                  <div *ngIf="lrno.invalid && (lrno.dirty || lrno.touched)" class="alert-danger">
                    <span *ngIf="lrno.errors?.required">
                      LR No is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>          
          </div>
          <div class="row">
            <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">SO No</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter SO No" name="sono" [(ngModel)]="getmixerassembly.sono" #sonos="ngModel"
                  readonly>
                <div *ngIf="sonos.invalid && (sonos.dirty || sonos.touched)" class="alert-danger">
                  <span *ngIf="sonos.errors?.required">
                    SO No is Required
                  </span>
                </div>
              </div>
            </div>
            </div> 
            <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">PO No<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter PO No" name="pono" ngModel #pono="ngModel"
                  required>
                <div *ngIf="pono.invalid && (pono.dirty || pono.touched)" class="alert-danger">
                  <span *ngIf="pono.errors?.required">
                    PO No is Required
                  </span>
                </div>
              </div>
            </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Date<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">  
                  <!-- <input type="date" class="form-control" name="dateadmin" ngModel #date="ngModel"
                      required> -->
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" name="calendars" [(ngModel)]="model" ngbDatepicker #d1="ngbDatepicker" required readonly [markDisabled]="isDisabled">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                      </div>
                    </div>
                  <div *ngIf="d1.invalid && (d1.dirty || d1.touched)" class="alert-danger">
                    <span *ngIf="d1.errors?.required">
                    Date Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="task-board m-0">
            <!-- end of dropdown-secondary -->
            <div class="dropdown-secondary dropdown">
              <button class="btn btn-primary btn-square" type="submit" [disabled]="!addfrm.form.valid">
                <i class="icofont icofont-tick-mark"></i> Submit
              </button>
              <button class="btn btn-info btn-square" type="button" (click)="resetform(addfrm)">
                <i class="icofont icofont-refresh"></i> Reset
              </button>
              <!-- end of dropdown menu -->
            </div>
            <!-- end of seconadary -->
          </div>
          <!-- end of pull-right class -->
        </div>
      </div>
      <!-- end of card-footer -->
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6">
            <div class="text-right">
              <button class="btn btn-primary btn-square" type="button" (click)="openmodal(mail)">
                  <i class="icofont icofont-upload"></i> Intimate to
              </button>
            </div>
          </div>
        </div>        
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th></th>
              <th>S.NO</th>
              <th>Veh Type</th>
              <th>Truck No</th>
              <th>ENG No.</th>
              <th>Mixer Part No.</th>
              <th>Mixer Sl.No.</th>
              <th>Version</th>
              <th>Color Scheme</th>
              <th>Customer Name</th>
              <th>Destination</th>
              <th>Chassis Model (U Bolts) </th>
              <th>FOC</th>
              <th>TPT</th>
              <th>LR No.</th>
              <th>SO. No.</th>
              <th>PO. No.</th>
              <th>Mixer Loading Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of mixerloading.message;let i=index">
              <td><input type="checkbox" [(ngModel)]="item.selected" name="menu1" [value]="item.id" id="{{item.id}}" (change)="checkValue(item.id,$event.target.checked)"></td>
              <td>{{i+1}}</td>
              <td>{{item.vehtype}}</td>
              <td>{{item.truckno}}</td>
              <td>{{item.pm_no}}</td>
              <td>{{item.part_no}}</td>
              <td>{{item.mixer_s_no}}</td>
              <td>{{item.waterpump_cum3}}.{{item.waterpump_model}}</td>
              <td>{{item.color}}</td>
              <td>{{item.customer_name}}</td>
              <td>{{item.destination}}</td>
              <td>{{item.chassisaccessories}}</td>              
              <td>
                <button class='btn btn-primary btn-outline-primary' (click)='getfoc(item.custid);openfoc(openfocs)'>
                  viewfoc
                </button>
              </td>
              <td>{{item.tpt}}</td>
              <td>{{item.lrno}}</td>
              <td>{{item.sono}}</td>
              <td>{{item.pono}}</td>
              <td>{{item.mixerloadingdate}}</td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <!-- <span *ngIf="item.engno != item.mixer_sl_no"> -->
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletedispatchplan(item.id,item.asmainmatid)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              <!-- </span> -->
                <!-- <span *ngIf="item.engno == item.mixer_sl_no">
                    <button class='btn btn-danger btn-outline-danger btn-icon' (click)='notdeletedispatchplan()'>
                      <i class='icofont icofont-trash'></i>
                </button></span> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Mixer Loading</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="editfrm" #editfrm="ngForm" (ngSubmit)="editdispatchplans(editfrm, edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editdispatchplan.id" required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Veh Type.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="vehtype" [(ngModel)]="editdispatchplan.vehtype" #vehtype="ngModel" required placeholder="Enter Veh Type.">
              <div *ngIf="vehtype.invalid && (vehtype.dirty || vehtype.touched)" class="alert-danger">
                <span *ngIf="vehtype.errors?.required">
                  Veh Type is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Truck No.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="truckno" [(ngModel)]="editdispatchplan.truckno" #truckno="ngModel" required placeholder="Enter Truck No.">
              <div *ngIf="truckno.invalid && (truckno.dirty || truckno.touched)" class="alert-danger">
                <span *ngIf="truckno.errors?.required">
                  Truck No. is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">ENG No.</label>
            <div class="col-sm-8">
              <select class="form-control" name="engno" [(ngModel)]="editdispatchplan.asmainmatid" #engnos="ngModel" required (change)="getalldetails(engnos.value)" >
                <option [value]="undefined" [selected]="'true'" [disabled]="'true'">Select ENG No.</option>
                <option *ngFor="let item of getengineno.message" [value]="item.asmainmatid">{{item.pm_no}}</option>
              </select>
              <div *ngIf="engnos.invalid && (engnos.dirty || engnos.touched)" class="alert-danger">
                <span *ngIf="engnos.errors?.required">
                  WorkOrder No. is Required
                </span>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Mixer Part No.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Mixer Part No" name="partno" [(ngModel)]="getmixerassembly.part_no"
                #partnos="ngModel" required readonly>
              <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                <span *ngIf="partnos.errors?.required">
                  Mixer Part No. is Required
                </span>
              </div>
            </div>
          </div>
        </div>           
      </div>
      <div class="row">              
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Mixer SL. No.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Mixer SL. No." name="mixerslno" [(ngModel)]="getmixerassembly.mixer_s_no"
                #mixer_sno="ngModel" readonly>
              <div *ngIf="mixer_sno.invalid && (mixer_sno.dirty || mixer_sno.touched)" class="alert-danger">
                <span *ngIf="mixer_sno.errors?.required">
                  Mixer Sl.No. is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Version</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Version" name="version" [(ngModel)]="getmixerassembly.waterpump_cum3"
                #versions="ngModel" readonly>
              <div *ngIf="versions.invalid && (versions.dirty || versions.touched)" class="alert-danger">
                <span *ngIf="versions.errors?.required">
                  Version is Required
                </span>
              </div>
            </div>
          </div>
        </div>            
      </div>
      <div class="row">              
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Color Scheme</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Color Scheme" name="channelwidth" [(ngModel)]="getmixerassembly.color"
                #colorschemes="ngModel" required readonly>
              <div *ngIf="colorschemes.invalid && (colorschemes.dirty || colorschemes.touched)" class="alert-danger">
                <span *ngIf="colorschemes.errors?.required">
                  Color Scheme is Required
                </span>
              </div>
            </div>
          </div>
        </div>  
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Customer Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Customer Name" name="customername" [(ngModel)]="getmixerassembly.customer_name"
                #customernames="ngModel" required readonly>
              <div *ngIf="customernames.invalid && (customernames.dirty || customernames.touched)" class="alert-danger">
                <span *ngIf="customernames.errors?.required">
                  Customer Name is Required
                </span>
              </div>
            </div>
          </div>
        </div>          
      </div>
      <div class="row">              
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Destination</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Destination" name="destination" [(ngModel)]="editdispatchplan.destination"
                #destinations="ngModel" appEmitfirstspace required>
              <div *ngIf="destinations.invalid && (destinations.dirty || destinations.touched)" class="alert-danger">
                <span *ngIf="destinations.errors?.required">
                  Destinations is Required
                </span>
              </div>
            </div>
          </div>
        </div> 
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Chassis Model (U Bolts)</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Chassis Model (U Bolts)" name="chassis_model" [(ngModel)]="getmixerassembly.chassisaccessories"
                #chassis_models="ngModel"  readonly>
              <div *ngIf="chassis_models.invalid && (chassis_models.dirty || chassis_models.touched)" class="alert-danger">
                <span *ngIf="chassis_models.errors?.required">
                  Chassis Model (U Bolts) is Required.
                </span>
              </div>
            </div>
          </div>
        </div>             
      </div>
      <div class="row">            
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">TPT</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter TPT" name="tpt" #tpt="ngModel"  [(ngModel)]="editdispatchplan.tpt" required>
              <div *ngIf="tpt.invalid && (tpt.dirty || tpt.touched)" class="alert-danger">
                <span *ngIf="tpt.errors?.required">
                  TPT is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">LR No</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter LR No" name="lrno" [(ngModel)]="editdispatchplan.lrno" #lrno="ngModel"
              appEmitfirstspace required>
              <div *ngIf="lrno.invalid && (lrno.dirty || lrno.touched)" class="alert-danger">
                <span *ngIf="lrno.errors?.required">
                  LR No is Required
                </span>
              </div>
            </div>
          </div>
        </div>          
      </div>
      <div class="row">
        <div class="col-sm-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label text-right">SO No</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" Placeholder="Enter SO No" name="sono" [(ngModel)]="getmixerassembly.sono" #sonos="ngModel"
              readonly>
            <div *ngIf="sonos.invalid && (sonos.dirty || sonos.touched)" class="alert-danger">
              <span *ngIf="sonos.errors?.required">
                SO No is Required
              </span>
            </div>
          </div>
        </div>
        </div> 
        <div class="col-sm-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label text-right">PO No</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" Placeholder="Enter PO No" name="pono" [(ngModel)]="editdispatchplan.pono" #pono="ngModel"
            appEmitfirstspace required>
            <div *ngIf="pono.invalid && (pono.dirty || pono.touched)" class="alert-danger">
              <span *ngIf="pono.errors?.required">
                PO No is Required
              </span>
            </div>
          </div>
        </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Date</label>
            <div class="col-sm-8">  
              <!-- <input type="date" class="form-control" name="dateadmin" ngModel #date="ngModel"
                  required> -->
                <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" name="calendars" [(ngModel)]="mixerloadingdate" ngbDatepicker #d1="ngbDatepicker" required readonly [markDisabled]="isDisabled">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                  </div>
                </div>
              <div *ngIf="d1.invalid && (d1.dirty || d1.touched)" class="alert-danger">
                <span *ngIf="d1.errors?.required">
                Date Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>

<ng-template #openfocs let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">FOC Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="modal-body">
      <table class="datatable table table-striped table-bordered row-border hover">
        <thead>
          <tr>
            <th>S.NO</th>
            <th>Part No</th>
            <th>Description</th>
            <th>Unit</th>
            <th>Quantity</th>
          </tr>
        </thead>
        <tbody> 
          <tr *ngFor="let item of getfocdetails.message;let i=index">
            <td>{{i+1}}</td>
            <td>{{item.part_no}}</td>
            <td>{{item.description}}</td>
            <td>{{item.unit}}</td>
            <td>{{item.quantity}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
    </div> -->
  </ng-template>
<!-- Add Bulk Upload  x -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <!-- <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder
            ="Upload file"> -->
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class="
              btn btn-default">
        <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
        <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
        <!-- <span class="custom-file-control"></span> -->
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>
<ng-template #mail let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Mixer Loading</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" name="addform" #frm="ngForm"  (ngSubmit)="addmailingstatus()">
              <div class="container" >
          <div class="row">
              <div class="col-sm-4">
                  <div>
                    <label class="label-control">Select Users :
                    </label>
                  </div>
                </div>
            <div class="col-sm-8" >
  
                <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" ngModel name="selectedemails" #selectedemails="ngModel" required 
                [settings]="dropdownSettings" 
                (onSelect)="onItemSelect($event)" 
                (onDeSelect)="OnItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
                <div *ngIf="selectedemails.invalid && (selectedemails.dirty || selectedemails.touched)" class="alert-danger">
                  <span *ngIf="selectedemails.errors?.required">
                  Role is Required
                  </span>
                </div>
            
              
            </div>
          
          </div>
        </div>
  
        <hr>
        <div class="form-group row float-right">
          <div class="col-sm-6">
            <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
          </div>
        </div>
      </form>
    </div>   
</ng-template>