<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>CUSTOMER SPECIFICATION UPDATE</h5>
        <p class="mandatoryfiles">* Fields Are mandatory</p>

        <!-- <div class="text-right">
                <button class="btn btn-primary btn-square" type="button"  (click)="open(bulkupload)">
                  <i class="icofont icofont-upload"></i> Bulk Upload
                </button>
                
              </div> -->
      </div>
      <div class="card-block">
        <form class="form-horizontal" #frm="ngForm" (ngSubmit)="addcustomerspec(frm)">
          <div class="row">
            <!-- <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">S.O. No.</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter S.O. No." name="sno" ngModel #sno="ngModel"
                    required>
                  <div *ngIf="sno.invalid && (sno.dirty || sno.touched)" class="alert-danger">
                    <span *ngIf="sno.errors?.required">
                      S.O. No. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">CDS. No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter CDS. No." name="cdsno" ngModel appEmitfirstspace #cdsno="ngModel"
                    required>
                  <div *ngIf="cdsno.invalid && (cdsno.dirty || cdsno.touched)" class="alert-danger">
                    <span *ngIf="cdsno.errors?.required">
                      CDS. No. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Customer Name<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Customer Name" appEmitfirstspace name="customername" ngModel
                    #customername="ngModel" required>
                  <div *ngIf="customername.invalid && (customername.dirty || customername.touched)" class="alert-danger">
                    <span *ngIf="customername.errors?.required">
                      Customer Name is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">            
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Customer Address/Region<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Customer Address/Region" name="customeraddress"
                    ngModel #customeraddress="ngModel" appEmitfirstspace required>
                  <div *ngIf="customeraddress.invalid && (customeraddress.dirty || customeraddress.touched)" class="alert-danger">
                    <span *ngIf="customeraddress.errors?.required">
                      Customer Address/Region is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Commercial Remarks<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" appEmitfirstspace Placeholder="Enter Commercial Remarks" name="remarks" ngModel
                    #remarks="ngModel" required>
                  <div *ngIf="remarks.invalid && (remarks.dirty || remarks.touched)" class="alert-danger">
                    <span *ngIf="remarks.errors?.required">
                      Commercial Remarks is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Quantity<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Quantity." name="quantity" ngModel
                    #quantity="ngModel" pattern="^\d[0-9]*$" appEmitfirstspace appDigitOnly required>
                  <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert-danger">
                    <span *ngIf="quantity.errors?.required">
                      Quantity is Required
                    </span>
                    <span *ngIf="quantity.errors?.pattern">
                      Accepts only Numeric
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Chassis Make.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="chassismake" [(ngModel)]="chassismakes" #chassismake="ngModel" required (change)="getchassismodel(chassismake.value)">
                    <option [value]="undefined" selected hidden>Select Chassis Make</option>
                    <option [value]="null" selected hidden>Select Chassis Make</option>
                    <option *ngFor="let item of chassis_make.message" [value]="item.id">{{item.chassis_make}}</option>
                  </select> 
                  <div *ngIf="chassismake.invalid && (chassismake.dirty || chassismake.touched)" class="alert-danger">
                    <span *ngIf="chassismake.errors?.required">
                      Chassis Make. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Chassis Model.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="chassismodel" [(ngModel)]="setchassismodel" #chassismodel="ngModel" required>
                    <option [value]="undefined" selected hidden>Select Chassis Model</option>
                    <option [value]="null" selected hidden>Select Chassis Model</option>
                    <ng-container *ngFor="let item of chassis_model.message">
                      <option *ngIf="item.bsiii == '1'"  [value]="item.id" >{{item.chassismodel}}_BSIII_{{item.roh}}</option>
                      <option *ngIf="item.bsiii == '2'"  [value]="item.id" >{{item.chassismodel}}_BSIV_{{item.roh}}</option>
                      <!-- <ng-container [ngSwitch]="item.bsiii">
                        <option *ngSwitchCase="'1'"  [value]="item.id" >{{item.chassismodel}}_BSIII_{{item.roh}}</option>
                        <option *ngSwitchCase="'2'"  [value]="item.id" >{{item.chassismodel}}_BSIV_{{item.roh}}</option>
                      </ng-container> -->
                    </ng-container>
                    <!-- <option *ngFor="let item of chassis_model.message" [value]="item.id">{{item.chassismodel}}</option> -->
                  </select>
                  <div *ngIf="chassismodel.invalid && (chassismodel.dirty || chassismodel.touched)" class="alert-danger">
                    <span *ngIf="chassismodel.errors?.required">
                      Chassis Model. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div>
            <div class="form-group row float-right">

              <button class="btn btn-primary btn-square" type="submit" [disabled]="!frm.form.valid">
                <i class="icofont icofont-tick-mark"></i> Submit
              </button>
              <button class="btn btn-info btn-square" type="button" (click)="reset(frm)">
                <i class="icofont icofont-refresh"></i> Reset
              </button>
              <!-- <button class="btn btn-info btn-square" type="button">
                                <i class="icofont icofont-refresh"></i> Reset
                              </button> -->
              <!-- end of dropdown menu -->
            </div>
          </div>


        </form>

      </div>

      <!-- end of card-footer -->
    </div>
  </div>
</div>
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <!-- <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder
              ="Upload file"> -->
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file"
          class="
                btn btn-default">
        <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
        <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
        <!-- <span class="custom-file-control"></span> -->
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>

<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">

          <thead>
            <tr>
              <th>S.NO</th>
              <th>CDS.No.</th>
              <th>Customer ID</th>
              <th>Customer Name</th>
              <th>Customer Address/Region</th>
              <th>Commercial Remarks</th>
              <th>FOC Materials</th>
              <th>Quantity</th>
              <th>chassis Make</th>
              <th>chassis Model</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of options;let i=index">
              <td>{{i+1}}</td>
              <td>{{item.cds_no}}</td>
              <td>{{item.custid}}</td>
              <td>{{item.customer_name}}</td>
              <td>{{item.customer_address}}</td>
              <td>{{item.commercial_remarks}}</td>
              <td><button (click)='getfoc(item.custid);openedit(foc)'>
                  <a>View FOC</a>
                </button></td>
              <td>{{item.quantity}}</td>
              <td>{{item.chassismake}}</td>
              <td>{{item.chassismodel}}</td>
              <td>
                <button class="btn btn-primary btn-outline-primary btn-icon" (click)='editfunction(item);openedit(edit)'>
                  <i class="icofont icofont-fountain-pen"></i>
                </button>
                <button class="btn btn-danger btn-outline-danger btn-icon" (click)='deletecustomerspec(item.id,item.custid)'>
                  <i class="icofont icofont-trash"></i>
                </button>
                <!-- <button class="btn btn-danger btn-outline-danger btn-icon" (click)='item.customername==item.custid?deletecustomerspec(item.id,item.custid):notdelete()'>
                  <i class="icofont icofont-trash"></i>
                </button> -->
              </td>
            </tr>
          </tbody>

        </table>

      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit Customer Specification</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reloadPage()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editcustomerspec(editfrm,edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editplanning.id"
                #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">CDS. No.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter CDS. No." name="cdsno" [(ngModel)]="editplanning.cds_no"
                #dsno="ngModel" appEmitfirstspace required>
              <div *ngIf="dsno.invalid && (dsno.dirty || dsno.touched)" class="alert-danger">
                <span *ngIf="dsno.errors?.required">
                  CDS. No. is Required
                </span>
              </div>
            </div>
          </div>
        </div>        
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Customer Name<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Customer Name" name="customername" [(ngModel)]="editplanning.customer_name"
                #custname="ngModel" appEmitfirstspace required>
              <div *ngIf="custname.invalid && (custname.dirty || custname.touched)" class="alert-danger">
                <span *ngIf="custname.errors?.required">
                  Customer Name is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Customer Address/Region<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Customer Address/Region" name="customeraddress"
                [(ngModel)]="editplanning.customer_address" #custaddress="ngModel" appEmitfirstspace required>
              <div *ngIf="custaddress.invalid && (custaddress.dirty || custaddress.touched)" class="alert-danger">
                <span *ngIf="custaddress.errors?.required">
                  Customer Address/Region is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Commercial Remarks<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Commercial Remarks" name="remarks" [(ngModel)]="editplanning.commercial_remarks"
                #remark="ngModel" appEmitfirstspace required>
              <div *ngIf="remark.invalid && (remark.dirty || remark.touched)" class="alert-danger">
                <span *ngIf="remark.errors?.required">
                  Commercial Remarks is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Quantity<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Quantity" name="quantity" [(ngModel)]="editplanning.quantity" #quantity="ngModel" appEmitfirstspace appDigitOnly required>
              <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert-danger">
                <span *ngIf="quantity.errors?.required">
                  Quantity. is Required
                </span>
                <span *ngIf="quantity.errors?.pattern">
                  Accepts only Numeric
                </span>                
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Chassis Make.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="chassismake" [(ngModel)]="editplanning.chassis_make" #chassismake="ngModel" required (change)="getchassismodel(chassismake.value)">
                <option [value]="undefined" selected hidden>Select Chassis Make</option>
                <option [value]="null" selected hidden>Select Chassis Make</option>
                <option *ngFor="let item of chassis_make.message" [value]="item.id">{{item.chassis_make}}</option>
              </select> 
              <div *ngIf="chassismake.invalid && (chassismake.dirty || chassismake.touched)" class="alert-danger">
                <span *ngIf="chassismake.errors?.required">
                  Chassis Make. is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Chassis Model.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="chassismodel" [(ngModel)]="editplanning.chassis_model" #chassismodel="ngModel" required>
                <option [value]="undefined" selected hidden>Select Chassis Model</option>
                <option [value]="null" selected hidden>Select Chassis Model</option>
                <ng-container *ngFor="let item of chassis_model.message">
                  <option *ngIf="item.bsiii == '1'"  [value]="item.id" >{{item.chassismodel}}_BSIII_{{item.roh}}</option>
                  <option *ngIf="item.bsiii == '2'"  [value]="item.id" >{{item.chassismodel}}_BSIV_{{item.roh}}</option>
                  <!-- <ng-container [ngSwitch]="item.bsiii">
                    <option *ngSwitchCase="'1'"  [value]="item.id" >{{item.chassismodel}}_BSIII_{{item.roh}}</option>
                    <option *ngSwitchCase="'2'"  [value]="item.id" >{{item.chassismodel}}_BSIV_{{item.roh}}</option>
                  </ng-container> -->
                </ng-container>
                <!-- <optgroup *ngFor="let item of chassis_model.message">
                  <option *ngIf="item.bsiii == 1" [value]="item.id">{{item.chassismodel}}_BSIII_{{item.roh}}</option>
                  <option *ngIf="item.bsiii == 2" [value]="item.id">{{item.chassismodel}}_BSIII_{{item.roh}}</option>
                </optgroup> -->
                <!-- <ng-container *ngFor="let item of chassis_model.message">
                  <ng-container [ngSwitch]="item.bsiii">
                    <option *ngSwitchCase="'1'"  [value]="item.id" >{{item.chassismodel}}_BSIII_{{item.roh}}</option>
                    <option *ngSwitchCase="'2'"  [value]="item.id" >{{item.chassismodel}}_BSIV_{{item.roh}}</option>
                  </ng-container>
                </ng-container> -->
              </select>
              <div *ngIf="chassismodel.invalid && (chassismodel.dirty || chassismodel.touched)" class="alert-danger">
                <span *ngIf="chassismodel.errors?.required">
                  Chassis Model. is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reloadPage()">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>

    </form>
  </div>
  <!-- <div class="app-modal-footer">
        <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
        <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
      </div> -->
</ng-template>
<ng-template #foc let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit FOC Details</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #focfrm="ngForm" (ngSubmit)="editfoc(focfrm,foc)">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-8 col-form-label">FOC Materials to supply
            </label>
            <button (click)="addfocedit()">Add</button>
          </div>
        </div>
      </div>
      <div *ngFor="let editfocdata of datafoc; let in=index">
        <div class="row" style="display:none">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Id<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Emp No" name="id{{in}}" [(ngModel)]="editfocdata.id"
                  #eid="ngModel">
                <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                  <span *ngIf="eid.errors?.required">
                    ID is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">custid<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Emp No" name="custid" appEmitfirstspace [(ngModel)]="custid"
                  #cid="ngModel">
                <div *ngIf="cid.invalid && (cid.dirty || cid.touched)" class="alert-danger">
                  <span *ngIf="cid.errors?.required">
                    ID is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div>
          <td><button class="btn btn-light btn-square" type="button" (click)="deletefoc(editfocdata.id)">
              <i class="icofont icofont-ui-delete"></i>
            </button></td>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Part No.<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Part No." name="partno{{in}}" [(ngModel)]="editfocdata.part_no"
                  #partno="ngModel" pattern="^\d[0-9]*$" appEmitfirstspace appDigitOnly required>
                <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                  <span *ngIf="partno.errors?.required">
                    Part No. is Required
                  </span>
                  <span *ngIf="partno.errors?.pattern">
                    Accepts only Numeric.
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Description<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Description" name="desc{{in}}" [(ngModel)]="editfocdata.description"
                  #desc="ngModel" appEmitfirstspace required>
                <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                  <span *ngIf="desc.errors?.required">
                    Description is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Unit<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">

                <select class="form-control" name="unit{{in}}" [(ngModel)]="editfocdata.unit" #unit="ngModel" required>
                  <option [value]="undefined" selected hidden>Select Unit</option>
                  <option [value]="null" selected hidden>Select Unit</option>
                  <option [value]="1">PC</option>
                  <option [value]="2">Meter</option>
                  <option [value]="3">KG</option>
                </select>
                <div *ngIf="unit.invalid && (unit.dirty || unit.touched)" class="alert-danger">
                  <span *ngIf="unit.errors?.required">
                    Unit is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Quantity<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Quantity" name="quantity{{in}}" [(ngModel)]="editfocdata.quantity"
                  #quantity="ngModel" pattern="^\d[0-9]*$" appEmitfirstspace appDigitOnly required>
                <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert-danger">
                  <span *ngIf="quantity.errors?.required">
                    Quantity is Required
                  </span>
                  <span *ngIf="quantity.errors?.pattern">
                    Accepts only Numeric.
                  </span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!focfrm.form.valid">Update</button>
        </div>
      </div>

    </form>
  </div>
  <!-- <div class="app-modal-footer">
        <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
        <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
      </div> -->
</ng-template>