<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
            <form class="md-float-material" #frm="ngForm" (ngSubmit)="generateforgotpassword(frm)" novalidate="">
          <!--<form class="md-float-material">-->
            <div class="text-center">
              <img src="assets/images/auth/logo.png" height="60px" alt="logo.png">
            </div>
            <div class="auth-box">
              <div class="row m-b-20">
                <div class="col-md-12">
                  <h3 class="text-left">You forgot your Password? </h3>
                  <h3 class="text-left">Don't worry.</h3>
                </div>
              </div>
              <p class="text-inverse b-b-default text-right">Back to <a [routerLink]="['/authentication/login/with-bg-image']">Login.</a></p>
              <div class="input-group">
               
                <input type="email" class="form-control" placeholder="Your Email Address" name="email" email ngModel pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #emailLogin="ngModel" 
                  autofocus required>
                <span class="md-line"></span>
              </div>
              <div *ngIf="emailLogin.invalid && (emailLogin.dirty || emailLogin.touched)" class="alert alert-danger">
                  <span *ngIf="emailLogin.errors && emailLogin.errors.required">
                    Email is Required.
                  </span>
                  <!-- <div *ngIf="emailLogin.errors?.email">
                    Email is not valid.
                  </div> -->
                  <div  *ngIf="emailLogin.errors && emailLogin.errors.pattern">
                    Email is not valid.
                  </div>
                </div>
              <div class="row">
                <div class="col-md-12">
                    <button type="submit" name="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" [disabled]="!frm.valid">Reset and send me a new Password</button>
                 <!-- <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Reset and send me a new Password</button>-->
                </div>
              </div>
              <hr/>
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                  <p class="text-inverse text-left"><b>Your Autentification Team</b></p>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>