<div class="card-block">
    <div class="dt-responsive">
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div>
          <label class="label-control">
            <select class="form-control input-sm">
              <option [ngValue]="10">Daily</option>
              <option [ngValue]="25">Weekly</option>
              <option [ngValue]="50">Monthly</option>
              <option [ngValue]="100">Yearly</option>
            </select>
          </label>
        </div>
      </div>

  <!-- AREA CHART start -->
  <div class="col-md-12 col-lg-12">
    <div class="card card-border-primary">
      <div class="card-block">
        <div id="area-example"></div>
      </div>
    </div>
  </div>
  <!-- AREA CHART Ends -->

  <div class="col-md-12 col-lg-12">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Loss Analysis Report Details </h5>
      </div>
      <div class="card-header">
          <div class="task-board m-0">
            <!-- end of dropdown-secondary -->
            <div class="dropdown-secondary dropdown">
              <button class="btn btn-primary btn-square" type="button">
              Export To Excel
              </button>
              <!-- end of dropdown menu -->
            </div>
            <!-- end of seconadary -->
          </div>
          <!-- end of pull-right class -->
        </div>
      <div class="card-block">
        <div class="dt-responsive">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div>
                <label class="label-control">Show
                  <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div style="text-align: right;">
                <label>Search:
                  <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                </label>
              </div>
            </div>
          </div>
          <!-- <div class="panel-heading">User information</div>-->
          <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery"
            #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
          <thead>
            <tr>
              <th>
                <mfDefaultSorter by="s.no">S.No</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="Raw material Purchased">Work Station</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="Raw material Consumed">Part No.</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="Scrap">Description</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="Delivered mixer">Problem Description</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="Delivered mixer">Occurence</mfDefaultSorter>
              </th>
              <th>
                  <mfDefaultSorter by="Delivered mixer">Rework/Delay</mfDefaultSorter>
                </th>
                <th>
                    <mfDefaultSorter by="Delivered mixer">Category</mfDefaultSorter>
                  </th>
                  <th>
                      <mfDefaultSorter by="Delivered mixer">Man Power</mfDefaultSorter>
                    </th>
                    <th>
                        <mfDefaultSorter by="Delivered mixer">Loss time From</mfDefaultSorter>
                      </th>
                      <th>
                          <mfDefaultSorter by="Delivered mixer">Loss Time To</mfDefaultSorter>
                        </th>
                        <th>
                            <mfDefaultSorter by="Delivered mixer">Loss Total Time</mfDefaultSorter>
                          </th>
                          <th>
                              <mfDefaultSorter by="Delivered mixer">Loss Total Man Hour</mfDefaultSorter>
                            </th>
            </tr>
            <tr>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>1</td>
                <td>Channel Assembly</td>
                <td>80103999</td>
                <td>Jib Crane</td>
                <td>Dismanting Work Carried Out By</td>
                <td>1</td>
                <td>D3</td>
                <td>Machine Breakdown</td>
                <td>3</td>
                <td>7:00 Am</td>
                <td>7:15 Am</td>
                <td>15</td>
                <td>120</td>
            </tr>
            <tr>
                <td>2</td>
                <td>Testing Preparation</td>
                <td>80103999</td>
                <td>Jib Crane</td>
                <td>Remote Cable Assy</td>
                <td>1</td>
                <td>D3</td>
                <td>Shortage</td>
                <td>3</td>
                <td>7:00 Am</td>
                <td>7:15 Am</td>
                <td>15</td>
                <td>120</td>
            </tr>
          </tbody>
          <tfoot>

            <tr>
              <td colspan="6">
                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
        </div>
      </div>
    </div>
  </div>

</div>