<div class="row">
    <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="row">
              <div class="col-md-6">
                  <h5>Weekly Allotment</h5>
                  <p class="mandatoryfiles">* Fields Are mandatory</p>
                </div>        
                <div class="col-md-6">
                  <div class="text-right">
                    <button class="btn btn-primary btn-square" type="button" (click)="open(bulkupload)">
                      <i class="icofont icofont-upload"></i> Bulk Upload
                    </button>
                  </div>        
                </div>
          </div>
          
        </div>
      <div class="card-block">
          <form class="form-horizontal" #frm="ngForm" >
              <div class="row">
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Date<span class="mandatoryfiles">*</span></label>
                      <div class="col-sm-8">  
                        <!-- <input type="date" class="form-control" name="dateadmin" ngModel #date="ngModel"
                            required> -->
                            <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd"
                                     name="dp" [(ngModel)]="datepickermindate" ngbDatepicker #d1="ngbDatepicker" required [minDate]="datepickermindate" [maxDate]="datepickermindate" readonly [markDisabled]="isDisabled">
                             </div>
                          <div *ngIf="d1.invalid && (d1.dirty || d1.touched)" class="alert-danger">
                            <span *ngIf="d1.errors?.required">
                            Date Required
                            </span>
                          </div>
                        </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Week Selection</label>
                      <div class="col-sm-8">
                          <!-- <input type="date" class="form-control" name="week" ngModel #week="ngModel" required> -->
                          <!-- <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t">
                          </ngb-datepicker> -->
                          <tr>
                          <div class="input-group">
                            <td><label class="col-sm-4 col-form-label text-right">From<span class="mandatoryfiles">*</span></label></td>
                            <input class="form-control" placeholder="yyyy-mm-dd"
                                   name="dp1" ngModel ngbDatepicker #e1="ngbDatepicker" [minDate]="datepickermindate" required readonly [markDisabled]="isDisabled"  (ngModelChange)="onChange($event)">
                            <div class="input-group-append"> 
                              <button class="btn btn-outline-secondary calendar" (click)="e1.toggle()" type="buton"><i class="icofont icofont-ui-calendar"></i></button>
                            </div>
                          </div>
                        </tr>
                        <tr>
                            <div class="input-group">
                              <td><label class="col-sm-4 col-form-label text-right">To<span class="mandatoryfiles">*</span></label></td>
                              <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="minDate" [markDisabled]="isDisabled"
                                     name="dp2" ngModel ngbDatepicker #e4="ngbDatepicker" required readonly>
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="e4.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                              </div>
                            </div>
                          </tr>
                        <!-- <div *ngIf="week.invalid && (week.dirty || week.touched)" class="alert-danger">
                          <span *ngIf="week.errors?.required">
                            Week Selection is Required
                          </span>                    
                          </div> -->
                    </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">Choose Shift<span class="mandatoryfiles">*</span></label>
                      <div class="col-sm-8">
                          <select class="form-control" name="shift" [(ngModel)]="selchooseshift" #shift="ngModel" required>
                              <option [value]="undefined" selected hidden>Choose Shift</option>
                              <option [value]="null" selected hidden>Choose Shift</option>
                              <option  value="1">1</option>
                              <option  value="2">2</option>
                            </select>
                        <div *ngIf="shift.invalid && (shift.dirty || shift.touched)" class="alert-danger">
                          <span *ngIf="shift.errors?.required">
                           Shift is Required
                          </span>                    
                          </div>
                      </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">Type<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                            <select class="form-control" name="type" [(ngModel)]="seltype" #type="ngModel" required (ngModelChange)="getmodelno($event)">
                              <option [value]="undefined" selected hidden>Select Type</option>
                              <option [value]="null" selected hidden>Select Type</option>
                              <option value="1">Fabrication</option>
                              <option value="2">Assembly</option>
                            </select>
                              <div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert-danger">
                                <span *ngIf="type.errors?.required">
                                    Type is Required
                                </span>                            
                              </div>
                        </div>
                      </div>
                    </div>
                  </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Operation Code<span class="mandatoryfiles">*</span></label>
                      <div class="col-sm-8">
                          <select class="form-control" name="opcode" [(ngModel)]="seloperationcode" #opcode="ngModel" required (ngModelChange)="getstationname($event)">
                            <option [value]="undefined" selected hidden>Select Operation Code</option>
                            <option [value]="null" selected hidden>Select Operation Code</option>
                            <option *ngFor="let item of operationcodes" [value]="item.id">{{item.operation_code}}_{{item.list_of_operation}}</option>
                          </select>
                            <div *ngIf="opcode.invalid && (opcode.dirty || opcode.touched)" class="alert-danger">
                              <span *ngIf="opcode.errors?.required">
                              Operation Code is Required
                              </span>                            
                            </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">Employee ID<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <select class="form-control" name="empid" [(ngModel)]="selemployeeid" #empid="ngModel" required (ngModelChange)="onOptionsSelected($event)">
                            <option [value]="undefined" selected hidden>Select Employee ID</option>
                            <option [value]="null" selected hidden>Select Employee ID</option>
                            <option *ngFor="let item of technicianname" [value]="item.emp_no">{{item.name}}  ({{item.emp_no}})_{{item.role}}</option>
                          </select>
                            <div *ngIf="empid.invalid && (empid.dirty || empid.touched)" class="alert-danger">
                              <span *ngIf="empid.errors?.required">
                              Emp Id is Required
                              </span>                            
                            </div>
                      </div>
                      </div>
                    </div>
                </div>
                <div class="row" style="display:none">
  
                  
                  <div class="col-sm-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">Technician Name</label>
                         <div class="col-sm-8" >
                            <input type="text" class="form-control" name="techname" [(ngModel)]='options1' #techname="ngModel" readonly>
                            </div> 
                    
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">Designation</label>
                        <div class="col-sm-8" >
                          <input type="text" class="form-control" name="designation" [(ngModel)]='options2' #designation="ngModel" readonly>
                          </div>
                      </div>
                    </div>
                    </div>
                 
                      <!-- <div class="row"> 
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label class="col-sm-4 col-form-label text-right">Model No.</label>                          
                                  <div class="col-sm-8" *ngIf="name == '2'; else falsyTemplate">
                                      <select class="form-control" name="modelno" ngModel #modlno="ngModel" required>
                                        <option value="" selected>Select Model No.</option>
                                        <option *ngFor="let item of modelno" [value]="item.mixer_modelno">{{item.mixer_modelno}}</option>
                                      </select>
                                        <div *ngIf="modlno.invalid && (modlno.dirty || modlno.touched)" class="alert-danger">
                                          <span *ngIf="modlno.errors?.required">
                                          Model No. is Required
                                          </span>                            
                                        </div>
                                  </div>
                                  <ng-template #falsyTemplate>
                                      <div class="col-sm-8">
                                          <select class="form-control" name="modelno" ngModel #modlno="ngModel" required>
                                            <option value="" selected>Select Model No.</option>
                                            <option *ngFor="let item of modelno" [value]="item.drum_model_no">{{item.drum_model_no}}</option>
                                          </select>
                                            <div *ngIf="modlno.invalid && (modlno.dirty || modlno.touched)" class="alert-danger">
                                              <span *ngIf="modlno.errors?.required">
                                              Model No. is Required
                                              </span>                            
                                            </div>
                                      </div>
                                      </ng-template>
                         
                            </div>
                          </div>
                          <div class="col-md-6" *ngIf="name == '1'">
                              <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-right">Quantity</label>
                                <div class="col-sm-8" >
                                    <input type="text" class="form-control" Placeholder="Enter Quantity" name="qty" ngModel
                                    #qty="ngModel" required pattern="^\d[0-9]*$">
                                  <div *ngIf="qty.invalid && (qty.dirty || qty.touched)" class="alert-danger">
                                    <span *ngIf="qty.errors?.required">
                                      Quantity is Required
                                    </span>
                                    <span *ngIf="qty.errors?.pattern">
                                        Accepts only Numeric.
                                      </span>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div> -->
        <hr>
        <div>
            <div class="form-group row float-right">
                <div>
                <button class="btn btn-primary btn-square" type="submit" (click)="allotweekly(frm)">
                    <i class="icofont icofont-tick-mark"></i> Submit
                </button>
              </div>
              <div>
                <button class="btn btn-info btn-square" type="button" (click)=reset(frm)>
                  <i class="icofont icofont-refresh"></i> Reset
                </button>
              </div>
                <!-- end of dropdown menu -->
              </div>
        </div>
        </form>
      </div>
    
      <!-- end of card-footer -->
    </div>
</div>
</div>
<ng-template #t let-date="date" let-focused="focused">
  <span class="custom-day"
        [class.focused]="focused"
        [class.range]="isRange(date)"
        [class.faded]="isHovered(date) || isInside(date)"
        (mouseenter)="hoveredDate = date"
        (mouseleave)="hoveredDate = null">
    {{ date.day }}
  </span>
</ng-template>

<div class="row">
    <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-block">
            <table class="table table-striped table-bordered table-responsive row-border hover" id="example">
                <thead>
              <tr>              
                  <th>S.No.</th>
                  <th>Date</th>
                  <th>From Date</th>
                  <th>To Date</th>
                  <th>Shift</th>
                  <th>Emp Id</th>
                  <th>Technician Name</th>
                  <th>Designation</th>
                  <th>Type</th>
                  <th>Operation Code</th>
                  <th>Workstation Name</th> 
                  <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of options.message;let i=index">              
                  <td>{{i+1}}</td>
                  <td>{{item.date}}</td>
                  <td>{{item.from_date}}</td>
                  <td>{{item.to_date}}</td>
                  <td>{{item.shift}}</td>
                  <td>{{item.empno}}</td>
                  <td>{{item.technician_name}}</td>               
                  <td>{{item.designation}}</td> 
                  <td *ngIf="item.type == '1'; else falsyTemplate">Fabrication</td>
                  <ng-template #falsyTemplate>
                  <td>Assembly</td>
                  </ng-template>               
                  <td>{{item.opcode}}</td>               
                  <td>{{item.work_station}}</td>              
                 <td>
                    <button class='btn btn-danger btn-outline-danger btn-icon' (click)='delete(item.id)'>
                        <i class='icofont icofont-trash'></i>
                      </button>
                  </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end of card-footer -->
      </div>
    </div>
  </div>
<app-modal-basic #edit [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit Weekly Allotment</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close basic-close" (click)="edit.hide()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="app-modal-body">
    <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editweeklyallotment(editfrm,edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="weeklyallotment.id" required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Date<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
                <!-- <input type="date" class="form-control" name="date" ngModel #date="ngModel"
                  required> -->
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="today"
                           name="dp" [(ngModel)]="model" ngbDatepicker #d="ngbDatepicker" [markDisabled]="isDisabled" required readonly>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                    </div>
                  </div>
                <div *ngIf="d.invalid && (d.dirty || d.touched)" class="alert-danger">
                  <span *ngIf="d.errors?.required">
                  Date Required
                  </span>
                </div>
              </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Week Selection</label>
            <div class="col-sm-8">
                <!-- <input type="date" class="form-control" name="week" ngModel #week="ngModel" required> -->
                <!-- <ngb-datepicker #dp (select)="onDateSelection($event)" [displayMonths]="2" [dayTemplate]="t">
                </ngb-datepicker> -->
               <tr><div class="input-group">
                    <td><label class="col-sm-4 col-form-label text-right">From<span class="mandatoryfiles">*</span></label></td> 
                    <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="today"
                         name="dp1" [(ngModel)]="model1" ngbDatepicker #e="ngbDatepicker" [markDisabled]="isDisabled" required readonly (ngModelChange)="onChange($event)">
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="e.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                  </div>
                </div></tr>
                <tr>
                    <div class="input-group">
                      <td><label class="col-sm-4 col-form-label text-right">To<span class="mandatoryfiles">*</span></label></td>
                      <input class="form-control" placeholder="yyyy-mm-dd" [minDate]="minDate"
                             name="dp2" [(ngModel)]="model2" ngbDatepicker #e3="ngbDatepicker" required readonly [markDisabled]="isDisabled">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="e3.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                      </div>
                    </div>
                  </tr>
              <!-- <div *ngIf="week.invalid && (week.dirty || week.touched)" class="alert-danger">
                <span *ngIf="week.errors?.required">
                  Week Selection is Required
                </span>                    
                </div> -->
          </div>
          </div>
        </div>
      </div>
      <div class="row">
           <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label text-right">Type<span class="mandatoryfiles">*</span></label>
          <div class="col-sm-8">
              <select class="form-control" name="type"  [(ngModel)]="weeklyallotment.type" #tpe="ngModel" required (ngModelChange)="getmodelno($event)">
                <option [value]="undefined" selected hidden>Select Type</option>
                <option [value]="null" selected hidden>Select Type</option>
                <option [value]="1">Fabrication</option>
                <option [value]="2">Assembly</option>
              </select>
                <div *ngIf="tpe.invalid && (tpe.dirty || tpe.touched)" class="alert-danger">
                  <span *ngIf="tpe.errors?.required">
                      Type is Required
                  </span>                            
                </div>
          </div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Operation Code<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
                <select class="form-control" name="opcode" [(ngModel)]="weeklyallotment.operation_code" #ocode="ngModel" required (ngModelChange)="getstationname($event)">
                  <option [value]="undefind" selected hidden>Select Operation Code</option>
                  <option [value]="null" selected hidden>Select Operation Code</option>
                  <option *ngFor="let item of operationcodes" [value]="item.id">{{item.operation_code}}</option>
                </select>
                  <div *ngIf="ocode.invalid && (ocode.dirty || ocode.touched)" class="alert-danger">
                    <span *ngIf="ocode.errors?.required">
                    Operation Code is Required
                    </span>                            
                  </div>
            </div>
          </div>
        </div>
    </div>
      <div class="row"> 
    
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label text-right">Workstation Name</label>
          <div class="col-sm-8">
              <input type="text" class="form-control" name="stationname"  [(ngModel)]="weeklyallotment.workstation" #stationame="ngModel" readonly>
          </div>
        </div>
      </div>
      <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Employee ID<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="empid" [(ngModel)]="weeklyallotment.emp_id" #emid="ngModel" required (ngModelChange)="onOptionsSelected($event)">
                <option [value]="undefined">Select Employee ID</option>
                <option [value]="null">Select Employee ID</option>
                <option *ngFor="let item of technicianname" [value]="item.id">{{item.name}} ({{item.emp_no}})</option>
              </select>
                <div *ngIf="emid.invalid && (emid.dirty || emid.touched)" class="alert-danger">
                  <span *ngIf="emid.errors?.required">
                  Emp Id is Required
                  </span>                            
                </div>
          </div>
          </div>
        </div>
    </div>
      <div class="row">

       
        <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Technician Name</label>
               <div class="col-sm-8" >
                  <input type="text" class="form-control" name="techname" [(ngModel)]="weeklyallotment.technician_name" #tehname="ngModel" readonly>
                  </div> 
          
            </div>
          </div>
          <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Designation</label>
                <div class="col-sm-8" >
                  <input type="text" class="form-control" name="designation" [(ngModel)]="weeklyallotment.designation" #desgnation="ngModel" readonly>
                  </div>
              </div>
            </div>
          </div>
        
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="edit.hide()">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</app-modal-basic>
<ng-template #bulkupload let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Bulk Upload</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-4 text-right">
          <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
        </div>
        <label class="custom-file col-sm-6">
          <!-- <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder
              ="Upload file"> -->
          <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class="
                btn btn-default">
          <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
          <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
          <!-- <span class="custom-file-control"></span> -->
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
    </div>
  </ng-template>