<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block">
          <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="getdetails(frm,addNew)">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Choose Technician</label>
              <div class="col-sm-5">
                <!--<select class="form-control" name="choostech" ngModel #choostech="ngModel" required >
                  <option value="" selected disabled >Select Technician Name</option>
                  <option value="all"> All </option>
                        <option *ngFor="let items of technician.message" [value]="items.emp_no">{{items.emp_no}}_{{items.name}}({{items.role}})</option>
                </select>-->
                <angular2-multiselect [data]="dropdownList_technician" ngModel name="choostech" #choostech="ngModel" required 
                [settings]="dropdownSettings_technician" 
                (onSelect)="getselecttechnician($event)" 
               ></angular2-multiselect>

                <div *ngIf="choostech.invalid && (choostech.dirty || choostech.touched||frm.submitted)" class="alert-danger">
                  <span *ngIf="choostech.errors?.required">
                    Choose Technician Name is Required
                  </span>
                </div>
              </div>
            </div>
          </div>          
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Choose Process Type</label>
              <div class="col-sm-5">
                <select class="form-control" name="choosprocess" ngModel #choosprocess="ngModel" required (ngModelChange)="getprocesstype($event)">
                  <option value="" selected disabled >Select Process Type</option>
                  <option value="1"> Fabrication </option>
                  <option value="2"> Assembly </option>
                </select>
                <div *ngIf="choosprocess.invalid && (choosprocess.dirty || choosprocess.touched||frm.submitted)" class="alert-danger">
                  <span *ngIf="choosprocess.errors?.required">
                    Choose Process Type is Required
                  </span>
                </div>
              </div>
            </div>
          </div>          
        </div>         
        <div [ngSwitch]="choosprocesstype">
            <div *ngIf="choosprocesstype==='1'">
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-sm-5 col-form-label text-right">Select Process Category:</label>
                        <div class="col-sm-5">
                          <select class="form-control" name="choosecategory" ngModel
                            #choosecategory="ngModel" required (ngModelChange)="getworkstation($event)">
                            <option value="" selected disabled>Select Process Category</option>
                            <option value="7">Cone fabrication</option>
                            <option value="8">Drum fabrication</option>
                            <option value="9">Drum final Clearance</option>
                            <option value="10">RA Shell Process</option>
                          </select>
                          <div *ngIf="choosecategory.invalid && (choosecategory.dirty || choosecategory.touched||frm.submitted)"
                            class="alert-danger">
                            <span *ngIf="choosecategory.errors?.required">
                               Process Category Required
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div *ngIf="choosprocesstype==='2'">
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-sm-5 col-form-label text-right">Select Process Category:</label>
                        <div class="col-sm-5">
                          <select class="form-control" name="choosecategory" ngModel
                            #choosecategory="ngModel" required (ngModelChange)="getworkstation($event)">
                            <option value="" selected disabled>Select Process Category</option>
                            <!-- <option value="1">Preliminary Process</option> -->
                            <option value="2">Mixer Assembly</option>
                            <option value="3">Mixer Testing & Clearance</option>
                            <option value="4">Mixer Painting & FG Posting on SAP</option>
                            <!-- <option value="5">Mixer Mounting (Only based on Commercial Requirement)</option>
                            <option value="6">Mixer Delivery</option> -->
                          </select>
                          <div *ngIf="choosecategory.invalid && (choosecategory.dirty || choosecategory.touched||frm.submitted)"
                            class="alert-danger">
                            <span *ngIf="choosecategory.errors?.required">
                               Process Category Required
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label text-right">Choose WorkStation</label>
                <div class="col-sm-5">
                  <!--<select class="form-control" name="choosws" ngModel #choosws="ngModel" required >
                    <option value="" selected disabled >Select Work Station</option>
                    <option value="all"> All </option>
                    <option *ngFor="let items of workstation.message" [value]="items.id">{{items.operation_code}}_{{items.list_of_operation}}</option>                
                  </select>-->
                  <angular2-multiselect [data]="dropdownList_workstation" [(ngModel)]="choosewsmodel" name="choosws" #choosws="ngModel" required 
                  [settings]="dropdownSettings_workstation" 
                  (onSelect)="getworkstationselected($event)" 
                 ></angular2-multiselect>
                  <div *ngIf="choosws.invalid && (choosws.dirty || choosws.touched||frm.submitted)" class="alert-danger">
                    <span *ngIf="choosws.errors?.required">
                       Work Station is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">   
              <label class="col-sm-5 col-form-label text-right">Select Period:</label>                           
              <div class="col-sm-5">
                <select class="form-control" name="productionduration" ngModel #productionduration="ngModel" required (ngModelChange)="getduration($event)">
                  <option value="" selected disabled >Select Production Duration</option>
                  <option value="1"> Historical </option>
                  <option value="3">Calendar Year</option>
                </select>
                <div *ngIf="productionduration.invalid && (productionduration.dirty || productionduration.touched||frm.submitted)" class="alert-danger">
                  <span *ngIf="productionduration.errors?.required">
                    Choose Production Duration Required
                  </span>
                </div>
              </div>
            </div>
          </div>          
        </div>
          <div [ngSwitch]="productiondurations">
            <div *ngSwitchCase="1">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-6 col-form-label text-right">From Date:</label>
                    <div class="col-sm-6">
                      <div class="input-group">                       
                        <input class="form-control" placeholder="yyyy-mm-dd"
                        name="fromcalendar" [(ngModel)]="models" ngbDatepicker #fromcalendar="ngbDatepicker" [minDate]="hist_mindate" [maxDate]="hist_maxdate" required readonly [markDisabled]="isDisabled"  (ngModelChange)="onChange($event)">
                 <div class="input-group-append"> 
                   <button class="btn btn-outline-secondary calendar" (click)="fromcalendar.toggle()" type="buton"><i class="icofont icofont-ui-calendar"></i></button>
                 </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-right">To Date:</label>
                    <div class="col-sm-6">
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="tocalendar" [minDate]="hist_mindate" [maxDate]="hist_maxdate" [(ngModel)]="model"
                          ngbDatepicker #tocalendar="ngbDatepicker" required readonly>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="tocalendar.toggle()" type="button"><i
                              class="icofont icofont-ui-calendar"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngSwitchCase="3">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-6 col-form-label text-right">From Date:</label>
                    <div class="col-sm-6">
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="fromcalendar" [minDate]="mindate" [maxDate]="maxdate" [(ngModel)]="models"
                          ngbDatepicker #fromcalendar="ngbDatepicker" required readonly>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="fromcalendar.toggle()" type="button"><i
                              class="icofont icofont-ui-calendar"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-right">To Date:</label>
                    <div class="col-sm-6">
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="tocalendar" [minDate]="mindate" [maxDate]="maxdate" [(ngModel)]="model"
                          ngbDatepicker #tocalendar="ngbDatepicker" required readonly>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="tocalendar.toggle()" type="button"><i
                              class="icofont icofont-ui-calendar"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>           
            </div>
          </div>
        <hr>   
        <div class="form-group row pull-right">
          <div class="container">
            <button class="btn btn-info  btn-primary btn-square" type="submit" >
              <i class="icofont icofont-check"></i> Submit
            </button>
          </div>
        </div>
      </form>     
      <!-- end of card-footer -->
      </div>
      <div class="card-block">          
        <div class="row table-responsive">
            <button (click)="export()">Export</button>
          <table #tableex class="table table-striped table-bordered row-border hover" id="tableex">
              <thead>
                <tr>
                  <th>S.No.</th>
                  <th>Tech Emp ID</th>
                  <th>Tech Name </th>
                  <th>Designation</th>
                  <th>No Of Snags</th>
                  <th>No Of Delays</th>
                  <th>No Of Reworks</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of details;let i=index">
                  <td>{{i+1}}</td>
                  <td>{{item.empid}}</td>
                  <td>{{item.name}}</td>
                  <td>{{item.user_role}}</td>
                  <td>{{item.snagcount}}</td>
                  <td>{{item.delaycount}}</td>
                  <td>{{item.reworkcount}}</td>
                </tr>
              </tbody>
            </table>         
        </div>
      </div>
    </div>
  </div>
</div>