<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="col-md-6">
          <h5>Monthly Plan</h5>
          <p class="mandatoryfiles">* Fields Are mandatory</p>
        </div>
      </div>
      <div class="card-block">
        <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="adddruminternal(frm,addnew)">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Part No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select name="partno" id="" class="form-control" [(ngModel)]="getpart" #partno="ngModel" required (change)="getrawsmaterialdetail(partno.value)">
                    <option [value]="undefined" selected hidden>Select Part No</option>
                    <option [value]="null" selected hidden>Select Part No</option>
                    <option *ngFor="let item of rawmaterial.message" [value]="item.id">{{item.part_no}}</option>
                  </select>
                  <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                    <span *ngIf="partno.errors?.required">
                      Part No. is Required
                    </span>
                    <span *ngIf="partno.errors?.pattern">
                      Accepts only Numeric.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Object Description<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Description" name="desc" [(ngModel)]="rawmaterialdescription" #desc="ngModel" required appEmitfirstspace readonly>
                  <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                    <span *ngIf="desc.errors?.required">
                      Description is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Total Quantity<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Quantity" name="qty" ngModel  pattern="^\d[0-9]*$" #qty="ngModel" required appEmitfirstspace appDigitOnly>
                  <div *ngIf="qty.invalid && (qty.dirty || qty.touched)" class="alert-danger">
                    <span *ngIf="qty.errors?.required">
                      Quantity is Required
                    </span>
                    <span *ngIf="qty.errors?.pattern">
                      Accepts only Numeric.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Remarks</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Remarks" name="remarks" ngModel #remarks="ngModel">
                  <div *ngIf="remarks.invalid && (remarks.dirty || remarks.touched)" class="alert-danger">
                    <span *ngIf="remarks.errors?.required">
                      Remarks is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>            
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Date.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <div class="row">
                    <div class="col-sm-6">
                      <select name="month" #month="ngModel" [(ngModel)]="seldate" class="form-control" required>
                        <option [value]="undefined" selected hidden>Select Month</option>
                        <option [value]="null" selected hidden>Select Month</option>
                        <option [value]="01">Jan</option>
                        <option [value]="02">Feb</option>
                        <option [value]="03">Mar</option>
                        <option [value]="04">Apr</option>
                        <option [value]="05">May</option>
                        <option [value]="06">Jun</option>
                        <option [value]="07">July</option>
                        <option [value]="08">Aug</option>
                        <option [value]="09">Sep</option>
                        <option [value]="10">Oct</option>
                        <option [value]="11">Nov</option>
                        <option [value]="12">Dec</option>
                      </select>
                      <div *ngIf="month.invalid && (month.dirty || month.touched)" class="alert-danger">
                        <span *ngIf="month.errors?.required">
                          Month is Required
                        </span>
                      </div>
                    </div>
                    <div class="col-sm-6">
                      <select name="year" #years="ngModel" [(ngModel)]="yeardetails" class="form-control" required>
                        <option [value]="undefined" selected hidden>Select Year</option>
                        <option [value]="null" selected hidden>Select Year</option>
                        <option *ngFor="let years of endyear" [value]="years">{{years}}</option>
                      </select>
                      <div *ngIf="years.invalid && (years.dirty || years.touched)" class="alert-danger">
                        <span *ngIf="years.errors?.required">
                          Year is Required
                        </span>
                      </div>
                    </div>
                  </div>
                  
                  <!-- <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="calender" [(ngModel)]="model" ngbDatepicker #models="ngbDatepicker" [displayMonths]="displayMonths" required readonly>
                    <div class="input-group-append" >
                      <button class="btn btn-outline-secondary model" (click)="models.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                    </div>
                  </div>
                  <div *ngIf="models.invalid && (models.dirty || models.touched)" class="alert-danger">
                    <span *ngIf="models.errors?.required">
                      Date is Required
                    </span>
                  </div> -->
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group row float-right">
            <div class="col-sm-6">
              <button type="button" class="btn btn-default waves-effect pull-right" (click)="reset(frm)">Reset</button>
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Part No</th>
              <th>Object Description</th>
              <th>Total Quantity</th>
              <th>Remarks</th>
              <th>Month</th>
              <th>Year</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of employees.message;let i=index">
              <td>{{i+1}}</td>
              <td>{{item.part_no}}</td>
              <td>{{item.mixer_description}}</td>
              <td>{{item.totalqty}}</td>
              <td>{{item.remarks}}</td>
              <td [ngSwitch]="item.month">
                <p *ngSwitchCase="'01'">Jan</p>
                <p *ngSwitchCase="'02'">Feb</p>
                <p *ngSwitchCase="'03'">Mar</p>
                <p *ngSwitchCase="'04'">Apr</p>
                <p *ngSwitchCase="'05'">May</p>
                <p *ngSwitchCase="'06'">Jun</p>
                <p *ngSwitchCase="'07'">Jul</p>
                <p *ngSwitchCase="'08'">Aug</p>
                <p *ngSwitchCase="'09'">Sep</p>
                <p *ngSwitchCase="'10'">Oct</p>
                <p *ngSwitchCase="'11'">Nov</p>
                <p *ngSwitchCase="'12'">Dec</p>                
              </td>
              <td>{{item.year}}</td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletedruminternal(item.id,item.partno)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class="btn btn-default">
        <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
        <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close
    </button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>

<!-- Edit -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit Raw Material Issue</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reloadPage()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editdruminternal(editfrm,edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editdrumheader.id" required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Part No.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select name="partno" id="" class="form-control" [(ngModel)]="editdrumheader.partno" #partno="ngModel" required (change)="getrawsmaterialdetail(partno.value)">
                <option [value]="undefined" selected hidden>Select Part No</option>
                <option [value]="null" selected hidden>Select Part No</option>
                <option *ngFor="let item of rawmaterial.message" [value]="item.id">{{item.part_no}}</option>
              </select>
              <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                <span *ngIf="partno.errors?.required">
                  Part No. is Required
                </span>
                <span *ngIf="partno.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Object Description<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Description" name="desc" [(ngModel)]="rawmaterialdescription" #desc="ngModel" required appEmitfirstspace readonly>
              <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                <span *ngIf="desc.errors?.required">
                  Description is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Quantity<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Quantity" name="qty" [(ngModel)]="editdrumheader.totalqty"  pattern="^\d[0-9]*$" #qty="ngModel" appEmitfirstspace appDigitOnly  required>
              <div *ngIf="qty.invalid && (qty.dirty || qty.touched)" class="alert-danger">
                <span *ngIf="qty.errors?.required">
                  Quantity is Required
                </span>
                <span *ngIf="qty.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Remarks</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Remarks" name="remarks" [(ngModel)]="editdrumheader.remarks" #remarks="ngModel">
              <div *ngIf="remarks.invalid && (remarks.dirty || remarks.touched)" class="alert-danger">
                <span *ngIf="remarks.errors?.required">
                  Remarks Required
                </span>
              </div>
            </div>
          </div>
        </div>        
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Date.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <div class="row">
                <div class="col-sm-6">
                  <select name="month" #month="ngModel" [(ngModel)]="editdrumheader.month"  class="form-control" required>
                    <option [value]="undefined" selected hidden>Select Month</option>
                    <option [value]="null" selected hidden>Select Month</option>
                    <option [value]="01">Jan</option>
                    <option [value]="02">Feb</option>
                    <option [value]="03">Mar</option>
                    <option [value]="04">Apr</option>
                    <option [value]="05">May</option>
                    <option [value]="06">Jun</option>
                    <option [value]="07">July</option>
                    <option [value]="08">Aug</option>
                    <option [value]="09">Sep</option>
                    <option [value]="10">Oct</option>
                    <option [value]="11">Nov</option>
                    <option [value]="12">Dec</option>
                  </select>
                  <div *ngIf="month.invalid && (month.dirty || month.touched)" class="alert-danger">
                    <span *ngIf="month.errors?.required">
                      Month is Required
                    </span>
                  </div>
                </div>
                <div class="col-sm-6">
                  <select name="year" #year="ngModel" [(ngModel)]="editdrumheader.year" class="form-control" required>
                    <option [value]="undefined" selected hidden>Select Year</option>
                    <option [value]="null" selected hidden>Select Year</option>
                    <option *ngFor="let years of endyear" [value]="years">{{years}}</option>
                  </select>
                  <div *ngIf="year.invalid && (year.dirty || year.touched)" class="alert-danger">
                    <span *ngIf="year.errors?.required">
                      Year is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reloadPage()">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>