<div class="d-flex align-items-stretch min-height-100 bg-dark text-white">
  <div class="p-5">
    <div class="error-number fw-900 text-danger text-uppercase">Error 503</div>
    <h6 class="fw-300 mb-0">Service is currently unavailable. :(</h6>
    <small class="ff-headers fw-300">The server is currently unable to handle the request. <a [routerLink]="['/']">Take me home!</a></small>
  </div>
</div>
