<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
        <div class="card-header container">
          <div class="row">
              <div class="col-md-6">
                  <h5>Customer FOC</h5>
                </div>
                <div class="col-md-6">
                  <div class="text-right">
                    <button class="btn btn-info btn-square" type="button" (click)="open(addNew)">
                      <i class="icofont icofont-plus"></i> Add FOC
                    </button>
                  </div>
                </div>
          </div>
            
          </div>
      <div class="card-block">

        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Select Customer</label>
              <div class="col-sm-8">
                <select class="form-control" name="custid" [(ngModel)]="setselcust" #custid="ngModel" required (ngModelChange)="oncustselected($event)">
                  <option [value]="undefined" selected hidden>Select Customer</option>
                  <option [value]="null" selected hidden>Select Customer</option>
                  <option class='option' *ngFor='let option of cust' [value]="option.custid">{{option.custid}} _
                    {{option.customer_name}}</option>
                </select>
                <div *ngIf="custid.invalid && (custid.dirty || custid.touched)" class="alert-danger">
                  <span *ngIf="custid.errors?.required">
                    Customer is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row" *ngIf="isselected=='1'">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-8 col-form-label">FOC Materials to supply
              </label>
            </div>
          </div>
        </div> -->
        <div class="card-block">
          <table class="table table-striped table-bordered row-border hover" id="example">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Part No.</th>
                <th>Description</th>
                <th>Unit</th>
                <th>Quantity</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of focitems; let i=index">
                <td>{{i+1}}</td>
                <td>{{item.part_no}}</td>
                <td>{{item.description}}</td>
                <td>
                  <span *ngIf="item.unit == 1">PC</span>
                  <span *ngIf="item.unit == 2">Meter</span>
                  <span *ngIf="item.unit == 3">KG</span>
                </td>
                <td>{{item.quantity}}</td>
                <td>
                  <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                    <i class='icofont icofont-fountain-pen'></i>
                  </button>
                  <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletefoc(item.id)'>
                    <i class='icofont icofont-trash'></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>
<ng-template #addNew let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Add FOC</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(addNew)">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #frm="ngForm" (ngSubmit)="addfoc(frm)">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-8 col-form-label">FOC Materials to supply
            </label>
          </div>
        </div>
      </div>
      <div >
        <!-- <div>
          <td><button class="btn btn-light btn-square" type="button" (click)="deletefoc(container.id)">
              <i class="icofont icofont-ui-delete"></i>
            </button></td>
        </div> -->


        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Part No.<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Part No." name="partno" ngModel
                  #partno="ngModel" pattern="^\d[0-9]*$" required  appEmitfirstspace appDigitOnly>
                <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                  <span *ngIf="partno.errors?.required">
                    Part No. is Required
                  </span>
                  <span *ngIf="partno.errors?.pattern">
                    Accepts only Numeric.
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Description<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Description" name="desc" ngModel
                  #desc="ngModel" required  appEmitfirstspace>
                <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                  <span *ngIf="desc.errors?.required">
                    Description is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Unit<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select class="form-control" name="unit" [(ngModel)]="setunit" #unit="ngModel" required>
                  <option [value]="undefined" selected hidden>Select Unit</option>
                  <option [value]="null" selected hidden>Select Unit</option>
                  <option value="1">PC</option>
                  <option value="2">Meter</option>
                  <option value="3">KG</option>
                </select>
                <div *ngIf="unit.invalid && (unit.dirty || unit.touched)" class="alert-danger">
                  <span *ngIf="unit.errors?.required">
                    Unit is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Quantity<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Quantity" name="quantity" ngModel
                  #quantity="ngModel" pattern="^\d[0-9]*$" required  appEmitfirstspace appDigitOnly>
                <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert-danger">
                  <span *ngIf="quantity.errors?.required">
                    Quantity is Required
                  </span>
                  <span *ngIf="quantity.errors?.pattern">
                    Accepts only Numeric.
                  </span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <hr>
      <div>
        <div class="form-group row float-right">

          <button class="btn btn-primary btn-square" type="submit" [disabled]="!frm.form.valid">
            <i class="icofont icofont-tick-mark"></i> Submit
          </button>
          <button class="btn btn-info btn-square" type="button" (click)="reset(frm)">
            <i class="icofont icofont-refresh"></i> Reset
          </button>
          <!-- <button class="btn btn-info btn-square" type="button">
                    <i class="icofont icofont-refresh"></i> Reset
                  </button> -->
          <!-- end of dropdown menu -->
        </div>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #edit let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Edit FOC</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(edit)">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="addfoc(editfrm)">
        <div class="row" style="display:none">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Id<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editfocdetails.id" required #eid="ngModel">
                <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                  <span *ngIf="eid.errors?.required">
                    ID is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" >               
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Part No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Part No." name="partno" [(ngModel)]="editfocdetails.part_no" #part="ngModel" pattern="^\d[0-9]*$" required  appEmitfirstspace appDigitOnly>
                  <div *ngIf="part.invalid && (part.dirty || part.touched)" class="alert-danger">
                    <span *ngIf="part.errors?.required">
                      Part No. is Required
                    </span>
                    <span *ngIf="part.errors?.pattern">
                      Accepts only Numeric.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Description<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Description" name="desc" [(ngModel)]="editfocdetails.description" #des="ngModel" required  appEmitfirstspac>
                  <div *ngIf="des.invalid && (des.dirty || des.touched)" class="alert-danger">
                    <span *ngIf="des.errors?.required">
                    Description is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>    
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Unit<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                     
                      <select class="form-control" name="unit" [(ngModel)]="editfocdetails.unit" #unt="ngModel" required>
                          <option [value]="undefined" selected hidden>Select Unit</option>
                          <option [value]="null" selected hidden>Select Unit</option>
                          <option value="1">PC</option>       
                          <option value="2">Meter</option>       
                          <option value="3">KG</option>       
                        </select>
                      <div *ngIf="unt.invalid && (unt.dirty || unt.touched)" class="alert-danger">
                        <span *ngIf="unt.errors?.required">
                        Unit is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>   
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Quantity<span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Quantity" name="quantity" [(ngModel)]="editfocdetails.quantity" #qty="ngModel" pattern="^\d[0-9]*$" required appEmitfirstspace appDigitOnly>
                    <div *ngIf="qty.invalid && (qty.dirty || qty.touched)" class="alert-danger">
                      <span *ngIf="qty.errors?.required">
                      Quantity is Required
                      </span>
                      <span *ngIf="qty.errors?.pattern">
                        Accepts only Numeric.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              
            </div>
       
        <hr>
        <div class="form-group row float-right">
          <div class="col-sm-6">
            <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset(edit)">Close</button>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  <ng-template #add let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">ADD FOC</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(edit)">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" #addfrm="ngForm" (ngSubmit)="addfoc(addfrm)">
     
        <div class="row" *ngIf="isselected=='1'">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-8 col-form-label">FOC Materials to supply
                </label>
                <button (click)="add()">Add</button>
            </div>
          </div>
        </div>
        <div *ngFor="let container of containers; let in=index" >
          <div>
              <td><button class="btn btn-light btn-square" type="button" (click)="delete(container.id)">
                  <i class="icofont icofont-ui-delete"></i>
                </button></td>
          </div>
          <div class="row" >               
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Part No.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Part No." name="partno{{in}}" [(ngModel)]="container.part_no" #partno="ngModel" pattern="^\d[0-9]*$" required  appEmitfirstspace appDigitOnly>
              <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                <span *ngIf="partno.errors?.required">
                  Part No. is Required
                </span>
                <span *ngIf="partno.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Description<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Description" name="desc{{in}}" [(ngModel)]="container.description" #desc="ngModel" required  appEmitfirstspace>
              <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                <span *ngIf="desc.errors?.required">
                Description is Required
                </span>
              </div>
            </div>
          </div>
        </div>    
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Unit<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                 
                  <select class="form-control" name="unit{{in}}" [(ngModel)]="container.unit" #unit="ngModel" required>
                      <option [value]="undefined" selected hidden>Select Unit</option>
                      <option [value]="null" selected hidden>Select Unit</option>
                      <option value="1">PC</option>       
                      <option value="2">Meter</option>       
                      <option value="3">KG</option>       
                    </select>
                  <div *ngIf="unit.invalid && (unit.dirty || unit.touched)" class="alert-danger">
                    <span *ngIf="unit.errors?.required">
                    Unit is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>   
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Quantity<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Quantity" name="quantity{{in}}" [(ngModel)]="container.quantity" #quantity="ngModel" pattern="^\d[0-9]*$" required appEmitfirstspace appDigitOnly>
                <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert-danger">
                  <span *ngIf="quantity.errors?.required">
                  Quantity is Required
                  </span>
                  <span *ngIf="quantity.errors?.pattern">
                    Accepts only Numeric.
                  </span>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
        <hr>
        <div>
            <div class="form-group row float-right">
                
                <button class="btn btn-primary btn-square" type="submit" [disabled]="!frm.form.valid">
                    <i class="icofont icofont-tick-mark"></i> Submit
                </button>
                <button class="btn btn-info btn-square" type="button" (click)="reset(frm)">
                    <i class="icofont icofont-refresh"></i> Reset
                  </button>
                <!-- <button class="btn btn-info btn-square" type="button">
                  <i class="icofont icofont-refresh"></i> Reset
                </button> -->
                <!-- end of dropdown menu -->
              </div>
        </div>


      </form>
</div>
  </ng-template>