<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="col-md-6">
          <h5>One Point Lesson</h5>
        </div>
      </div>
      <div class="modal-body">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Type</label>
                <div class="col-sm-5">
                  <select class="form-control" name="type" [(ngModel)]="selectedtype" #type="ngModel" required (ngModelChange)="gettype($event)">
                    <option [value]="undefined" selected hidden>Select Type</option>
                    <option [value]="null" selected hidden>Select Type</option>
                    <option value="1">SH/FH Snag</option>
                    <option value="2">In process snag</option>
                    <option value="3">PDI Snag</option>
                  </select>
                  <div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert-danger">
                    <span *ngIf="type.errors?.required">
                      Type is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" (click)="getdetails()">Submit </button>
              </div>
          </div>
        </div>
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Part No</th>
              <th>Engine/GearBox No.</th>
              <th>Stage of Snag Reported</th>
              <th>Snag Category</th>             
              <th>Responsible Workstation</th>                
              <th>Problem Description</th>
              <th>Photo Reference</th>              
              <th>Employee Performance Scale</th>              
              <th>Delay in Delivery</th>              
              <th>Waranty Replacement</th>              
              <th>Productivity Loss</th>              
              <th>Order Cancellation</th>              
              <th>Material Loss</th>              
              <th>Reputation Loss</th>              
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of snagdetails ; let i=index">
              <td>{{i+1}}</td>
              <td>{{item.part_no}}</td>
              <td>{{item.engine_s_no}}</td>
              <td>{{stage}}</td>
              <td>{{item.snag_category}}</td>
              <td>{{item.operation_code}}</td>
              <td>{{item.description}}</td>
              <td class="text-left">
                <button class='btn btn-default btn-outline-default btn-icon' (click)='showimage(item.defect_image);openbulkupload(image)'>
                  <i class='icofont icofont-image'></i>
                </button>
              </td>
              <td>{{item.description}}</td>
              <td *ngIf="item.delay_in_delivery == '1'; else falsyTemplate1">YES</td>
              <ng-template #falsyTemplate1>
              <td>No</td>
              </ng-template>              
              <td *ngIf="item.waranty_replacement == '1'; else falsyTemplate2">YES</td>
              <ng-template #falsyTemplate2>
              <td>No</td>
              </ng-template>
              <td *ngIf="item.productivity_loss == '1'; else falsyTemplate3">YES</td>
              <ng-template #falsyTemplate3>
              <td>No</td>
              </ng-template>
              <td *ngIf="item.order_cancellation == '1'; else falsyTemplate4">YES</td>
              <ng-template #falsyTemplate4>
              <td>No</td>
              </ng-template>
              <td *ngIf="item.material_loss == '1'; else falsyTemplate5">YES</td>
              <ng-template #falsyTemplate5>
              <td>No</td>
              </ng-template>
              <td *ngIf="item.reputation_loss == '1'; else falsyTemplate6">YES</td>
              <ng-template #falsyTemplate6>
              <td>No</td>
              </ng-template>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-primary' (click)='generatereport(item.engine_s_no)'>
                  Generate Report
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>
<ng-template #image let-c="close" let-d="dismiss">
  <div class="modal-body">
    <button type="button" class="close basic-close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
    <img src="http://52.35.246.28/schwing_backends_V5/storage/app/public/pdi_defectimages/{{processimage}}" class="form-control" height="400" width="300">
  </div>
</ng-template>
<!-- Add Bulk Upload  -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">One Point Lesson</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="editform" #editfrm="ngForm" (ngSubmit)="editonepoint(editfrm, edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editonepointlesson.id" required #did="ngModel">
              <div *ngIf="did.invalid && (did.dirty || did.touched)" class="alert-danger">
                <span *ngIf="did.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Part No.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="partno" [(ngModel)]="editonepointlesson.part_no"
                #partnos="ngModel" pattern="^\d[0-9]*$" readonly>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Snag ID</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="snagid" [(ngModel)]="editonepointlesson.id"
                #snagids="ngModel" readonly>
             
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Engine/Gearbox No.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="engineno" [(ngModel)]="editonepointlesson.engine_s_no"
                #enginenos="ngModel" readonly>
             
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Snag Reported Stage</label>
            <div class="col-sm-8">
            <input type="text" class="form-control" name="snagstage" [(ngModel)]="stage"
            #snagstages="ngModel" readonly>
            </div>
          </div>
        </div>
      </div>
     
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Snag Category</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="category" [(ngModel)]="editonepointlesson.snag_category"
              #categorys="ngModel" readonly>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Responsible station Code</label>
            <div class="col-sm-8">
              <select class='select-option  form-control' #operationcode="ngModel"  required [(ngModel)]="editonepointlesson.station_code" name=operationcode (ngModelChange)='getworkstation($event)'>
                <option [value]="undefind" selected hidden>Select Responsible station Code</option>
                <option [value]="null" selected hidden>Select Responsible station Code</option>
              <option class='option' *ngFor='let option of operationcodes' [value]="option.id">{{option.operation_code}}</option>
          </select>
          <div *ngIf="operationcode.invalid && (operationcode.dirty || operationcode.touched)" class="alert-danger">
            <span *ngIf="operationcode.errors?.required">
                Responsible station Code Required
            </span>
          </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Responsible Workstation</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="workstation" [(ngModel)]="workstationnames"
                #workstation="ngModel" readonly>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Respective Person</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="respectiveperson" [(ngModel)]="respectiveperson"
                #photorefs="ngModel" readonly>
              </div>
            </div>
          </div>
          </div>  
          <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Tested By</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="tested" [(ngModel)]="testedby"
                    #tested="ngModel" readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Mixer Cleared By</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="cleared" [(ngModel)]="clearedby"
                    #cleared="ngModel" readonly>
                  </div>
                </div>
              </div>
              </div> 
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Problem Description</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="problemdesc" [(ngModel)]="editonepointlesson.description"
              #problemdescs="ngModel" readonly>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Photo Reference</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="photoref" [(ngModel)]="editonepointlesson.defect_image"
              #photorefs="ngModel" readonly>
            </div>
          </div>
        </div>
        </div>  
      <div class="row">
          <div class="col-md-6">
        <div class="checkbox-fade fade-in-primary">
          <label>
            <!-- <input type="checkbox" name="comp" [(ngModel)]="option" [value]="options" (change)="change(options, $event.target.checked)"> -->
            <!--[checked]="(facility.timeslotids && (-1 !== facility.timeslotids.indexOf(timeslot.id)) ? 'checked' : '')"-->
            <input type="checkbox"  name="delayindelivery" [(ngModel)]="delay" #delayindelivery="ngModel">
            <span class="cr">
              <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
            </span>
            <span class="text-inverse">Delay in Delivery</span>
            <!-- <input type="checkbox" value="{{options.id}}" name="{{options.id}}" (change)="updateSelectedoptionss($event)" />{{options.components}} -->
          </label>
        </div>
        </div>
        <div class="col-md-6">
            <div class="checkbox-fade fade-in-primary">
              <label>
               <input type="checkbox"  name="warantyreplacement" [(ngModel)]="waranty" #warantyreplacement="ngModel">
                <span class="cr">
                  <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                </span>
                <span class="text-inverse">Waranty Replacement</span>
                <!-- <input type="checkbox" value="{{options.id}}" name="{{options.id}}" (change)="updateSelectedoptionss($event)" />{{options.components}} -->
              </label>
            </div>
            </div>
      </div>
      <div class="row">
          <div class="col-md-6">
        <div class="checkbox-fade fade-in-primary">
          <label>
            <!-- <input type="checkbox" name="comp" [(ngModel)]="option" [value]="options" (change)="change(options, $event.target.checked)"> -->
            <!--[checked]="(facility.timeslotids && (-1 !== facility.timeslotids.indexOf(timeslot.id)) ? 'checked' : '')"-->
            <input type="checkbox"  name="reputationloss" [(ngModel)]="reputation" #reputationloss="ngModel">
            <span class="cr">
              <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
            </span>
            <span class="text-inverse">Reputation Loss</span>
            <!-- <input type="checkbox" value="{{options.id}}" name="{{options.id}}" (change)="updateSelectedoptionss($event)" />{{options.components}} -->
          </label>
        </div>
        </div>
        <div class="col-md-6">
            <div class="checkbox-fade fade-in-primary">
              <label>
                <input type="checkbox"  name="ordercancellation" [(ngModel)]="order" #ordercancellation="ngModel">
                <span class="cr">
                  <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                </span>
                <span class="text-inverse">Order Cancellation</span>
                <!-- <input type="checkbox" value="{{options.id}}" name="{{options.id}}" (change)="updateSelectedoptionss($event)" />{{options.components}} -->
              </label>
            </div>
            </div>
      </div>
      <div class="row">
 
        <div class="col-md-6">
            <div class="checkbox-fade fade-in-primary">
              <label>
                <!-- <input type="checkbox" name="comp" [(ngModel)]="option" [value]="options" (change)="change(options, $event.target.checked)"> -->
                <!--[checked]="(facility.timeslotids && (-1 !== facility.timeslotids.indexOf(timeslot.id)) ? 'checked' : '')"-->
                <input type="checkbox"  name="materialloss" [(ngModel)]="material" #materialloss="ngModel">
                <span class="cr">
                  <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                </span>
                <span class="text-inverse">Material Loss</span>
                <!-- <input type="checkbox" value="{{options.id}}" name="{{options.id}}" (change)="updateSelectedoptionss($event)" />{{options.components}} -->
              </label>
            </div>
            </div>
            <div class="col-md-6">
                <div class="checkbox-fade fade-in-primary">
                  <label>
                    <!-- <input type="checkbox" name="comp" [(ngModel)]="option" [value]="options" (change)="change(options, $event.target.checked)"> -->
                    <!--[checked]="(facility.timeslotids && (-1 !== facility.timeslotids.indexOf(timeslot.id)) ? 'checked' : '')"-->
                    <input type="checkbox"   name="productivityloss" [(ngModel)]="productivity" #productivityloss="ngModel">
                    <span class="cr">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                    </span>
                    <span class="text-inverse">Productivity Loss</span>
                    <!-- <input type="checkbox" value="{{options.id}}" name="{{options.id}}" (change)="updateSelectedoptionss($event)" />{{options.components}} -->
                  </label>
                </div>
                </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>

