<div class="row">
  <div class="col-sm-12">
     <div class="card card-border-primary">
        <div class="card-header container">
           <div class="col-md-6">
              <h5>Change Password</h5>
              <p class="mandatoryfiles">* Fields Are mandatory</p>
           </div>
        </div>
        <div class="card-block">
           <form class="form-horizontal" #frm="ngForm" (ngSubmit)="changepwd(frm)">
           <div class="row">
              <div class="col-md-6">
                 <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Old Password<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="pwd" placeholder="Old Password" ngModel #pwd="ngModel" appEmitfirstspace required>
                      <div *ngIf="pwd.invalid && (pwd.dirty || pwd.touched)" class="alert-danger">
                         <span *ngIf="pwd.errors?.required">
                            Password is Required
                         </span>
                      </div>
                   </div>
                 </div>
              </div>
           </div>
           <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                 <label class="col-sm-4 col-form-label text-right">New Password<span class="mandatoryfiles">*</span></label>
                 <div class="col-sm-8">
                   <input type="text" class="form-control" name="newpwd" placeholder="New Password" ngModel #newpwd="ngModel" appEmitfirstspace  required>
                   <div *ngIf="newpwd.invalid && (newpwd.dirty || newpwd.touched)" class="alert-danger">
                      <span *ngIf="newpwd.errors?.required">
                         Password is Required
                      </span>
                   </div>
                </div>
              </div>
           </div>
           </div>
           <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                 <label class="col-sm-4 col-form-label text-right">Confirm Password<span class="mandatoryfiles">*</span></label>
                 <div class="col-sm-8">
                   <input type="text" class="form-control" name="conpwd" placeholder="Confirm Password" ngModel #conpwd="ngModel" appEmitfirstspace required>
                   <div *ngIf="conpwd.invalid && (conpwd.dirty || conpwd.touched)" class="alert-danger">
                      <span *ngIf="conpwd.errors?.required">
                         Password is Required
                      </span>
                   </div>
                </div>
              </div>
           </div>
           </div>
           <hr>
           <div>
              <div class="form-group row float-right">
                 <button class="btn btn-primary btn-square" type="submit" [disabled]="!frm.form.valid">
                 <i class="icofont icofont-tick-mark"></i> Submit
                 </button>
                 <button class="btn btn-info btn-square" type="button" (click)=reset(frm)>
                 <i class="icofont icofont-refresh"></i> Reset
                 </button>
                 <!-- end of dropdown menu -->
              </div>
           </div>
           </form>
        </div>
        <!-- end of card-footer -->
     </div>
  </div>
</div>