<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="col-md-6">
          <h5>Snag Floor Shop</h5>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Type</label>
              <div class="col-sm-5">
                <select class="form-control" name="type" [(ngModel)]="selectedtype" #type="ngModel" required
                  (ngModelChange)="gettype($event)">
                  <option [value]="undefined" selected hidden>Select Type</option>
                  <option [value]="null" selected hidden>Select Type</option>
                  <option value="1">SH/FH Snag</option>
                  <option value="2">In process snag</option>
                  <option value="3">PDI Snag</option>
                </select>
                <div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert-danger">
                  <span *ngIf="type.errors?.required">
                    Type is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div [ngSwitch]="selectedtype">
          <div *ngSwitchCase="'1'">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Engine Sl. No.</label>
                  <div class="col-sm-5">
                    <select name="drummodel" class="form-control" [(ngModel)]="drummodel" #sno="ngModel" (change)="storesno(sno.value)">
                      <option value="undefined"  selected hidden>Select Engine Sl. No.</option>
                      <option value="ALL" selected>ALL</option>
                      <option *ngFor="let item of slno" [value]="item.engine_sl_no">{{item.engine_sl_no}}</option>
                    </select>
                    <div *ngIf="sno.invalid && (sno.dirty || sno.touched)" class="alert-danger">
                      <span *ngIf="sno.errors?.required">
                        Engine Serial No. is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Category</label>
                  <div class="col-sm-5">
                    <select class='select-option form-control' required ngModel #cate="ngModel" name="cate"
                      (ngModelChange)='oncategoryselected($event)'>
                      <option value="" selected hidden >Select Cone Category</option>
                      <option [value]="undefined" selected hidden>Select Category</option>
                      <option value="ALL" selected>ALL</option>
                      <option *ngFor='let option of category' [value]="option.id">{{option.snag_category}}</option>
                    </select>
                    <div *ngIf="cate.invalid && (cate.dirty || cate.touched)" class="alert-danger">
                      <span *ngIf="cate.errors?.required">
                        Category is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Sub Category</label>
                  <div class="col-sm-5">
                    <select class='select-option  form-control' required ngModel #cate="ngModel" name="cate"
                      (ngModelChange)='onsubcategoryselected($event)'>
                      <option value="" selected hidden >Select  Sub  Category</option>
                      <option [value]="undefined" selected hidden>Select Sub Category</option>
                      <option value="ALL" selected>ALL</option>
                      <option *ngFor='let option of subcategory' [value]="option.id">{{option.snag_description}}</option>
                    </select>
                    <div *ngIf="cate.invalid && (cate.dirty || cate.touched)" class="alert-danger">
                      <span *ngIf="cate.errors?.required">
                        Sub Category is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" (click)="getdetails()">Submit
                </button>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'2'">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Mixer W/O No.</label>
                  <div class="col-sm-5">
                    <select class="form-control" name="workorder" [(ngModel)]="workorder" #workordernos="ngModel"
                      required (ngModelChange)="storewo($event)">
                      <option [value]="undefined" selected hidden>Select Workorder No.</option>
                      <option [value]="null" selected hidden>Select Workorder No.</option>
                      <option value="ALL" selected>ALL</option>
                      <option *ngFor="let item of workorderno" [value]="item.id">{{item.workorder_no}}</option>
                    </select>
                    <div *ngIf="workordernos.invalid && (workordernos.dirty || workordernos.touched)" class="alert-danger">
                      <span *ngIf="workordernos.errors?.required">
                        WorkOrder No. is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Workstation Name</label>
                  <div class="col-sm-5">
                    <select class='select-option  form-control' required ngModel #stationame="ngModel" name=stationame
                      (ngModelChange)='storestation($event)'>
                      <option [value]="undefined" selected hidden>Select Workstation Name</option>
                      <option [value]="null" selected hidden>Select Workstation Name</option>
                      <option value="ALL" selected>ALL</option>
                      <option class='option' *ngFor='let option of workstationnames' [value]="option.id">{{option.operation_code}}_{{option.list_of_operation}}</option>
                    </select>
                    <div *ngIf="stationame.invalid && (stationame.dirty || stationame.touched)" class="alert-danger">
                      <span *ngIf="stationame.errors?.required">
                        Workstation is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" (click)="getdetails()">Submit
                </button>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'3'">
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Engine Sl. No.</label>
                  <div class="col-sm-5">
                    <select name="drummodel" class="form-control" ngModel #sno="ngModel" (change)="storesno(sno.value)">
                      <option value="undefined" selected>Select Engine Sl. No.:</option>
                      <option value="ALL" selected>ALL</option>
                      <option *ngFor="let item of slno" [value]="item.engine_sl_no">{{item.engine_sl_no}}</option>
                    </select>
                    <div *ngIf="sno.invalid && (sno.dirty || sno.touched)" class="alert-danger">
                      <span *ngIf="sno.errors?.required">
                        Engine Serial No. is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Category</label>
                  <div class="col-sm-5">
                    <select class='select-option  form-control' required ngModel #cate="ngModel" name="cate"
                      (ngModelChange)='oncategoryselected($event)'>
                      <!-- <option value="" selected >Select Cone Category</option> -->
                      <option [value]="undefined" selected>Select Category</option>
                      <option value="ALL" selected>ALL</option>
                      <option *ngFor='let option of category' [value]="option.id">{{option.snag_category}}</option>
                    </select>
                    <div *ngIf="cate.invalid && (cate.dirty || cate.touched)" class="alert-danger">
                      <span *ngIf="cate.errors?.required">
                        Category is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Sub Category</label>
                  <div class="col-sm-5">
                    <select class='select-option  form-control' required ngModel #cate="ngModel" name="cate"
                      (ngModelChange)='onsubcategoryselected($event)'>
                      <option [value]="undefined" selected>Select Sub Category</option>
                      <option value="ALL" selected>ALL</option>
                      <option *ngFor='let option of subcategory' [value]="option.id">{{option.snag_description}}</option>
                    </select>
                    <div *ngIf="cate.invalid && (cate.dirty || cate.touched)" class="alert-danger">
                      <span *ngIf="cate.errors?.required">
                        Sub Category is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" (click)="getdetails()">Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Date</th>
              <th>Engine/GearBox No.</th>
              <th>Mixer S.No.</th>
              <th>Part No</th>
              <th>Snag Category</th>
              <th>Problem Description</th>
              <th>Photo Reference</th>
              <th>Responsible Workstation</th>
              <th>Respective Person</th>
              <th>Tested By</th>
              <th>Mixer Cleared by</th>
              <th>Rework Hrs (in Mins)</th>
              <th>Production Remarks</th>
              <th>Corrective Action</th>
              <th>Preventive Action</th>
              <th>Responsibility</th>
              <th>Target Date</th>
              <th>Closed Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of snagdetails ; let i=index">
              <td>{{i+1}}</td>
              <td>{{item.created_at}}</td>
              <td>{{item.pm_no}}</td>
              <td>{{item.mixer_s_no}}</td>
              <td>{{item.part_no}}</td>
              <td>{{item.snag_category}}</td>
              <td>{{item.snag_description}}</td>
              <td class="text-left">
                <button class='btn btn-default btn-outline-default btn-icon' (click)='showimage(item.defect_image);openbulkupload(image)'>
                  <i class='icofont icofont-image'></i>
                </button>
              </td>
              <td>{{item.operation_code}}</td>
              <td>{{item.respective_person}}</td>
              <td>{{item.tested_by}}</td>
              <td>{{item.cleared_by}}</td>
              <td>{{item.rework_hrs}}</td>
              <td>{{item.production_remarks}}</td>
              <td>{{item.corrective_action}}</td>
              <td>{{item.preventive_action}}</td>
              <td>{{item.responsible_person}}</td>
              <td>{{item.target_date}}</td>
              <td>{{item.closed_date}}</td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>
<ng-template #image let-c="close" let-d="dismiss">
  <div class="modal-body">
    <button type="button" class="close basic-close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
    <img src="http://52.35.246.28/schwing_backends_V5/storage/app/public/pdi_defectimages/{{processimage}}||'assets/images/signature1.png'" class="form-control"
      height="400" width="300" alt="Image Not Found">
  </div>
</ng-template>
<!-- Add Bulk Upload  -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Snag Floor Shop</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="editform" #editfrm="ngForm" (ngSubmit)="editonepoint(editfrm, edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editonepointlesson.id"
                required #did="ngModel">
              <div *ngIf="did.invalid && (did.dirty || did.touched)" class="alert-danger">
                <span *ngIf="did.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Date</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="date" [(ngModel)]="editonepointlesson.created_at" #dates="ngModel"
                pattern="^\d[0-9]*$" readonly>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Engine/Gear Box No.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="enginegearno" [(ngModel)]="editonepointlesson.engine_s_no"
                #enginegearnos="ngModel" readonly>

            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Mixer S. No.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="mixersno" [(ngModel)]="editonepointlesson.mixer_s_no"
                #mixersnos="ngModel" readonly>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Part No.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="partno" [(ngModel)]="editonepointlesson.part_no" #partnos="ngModel"
                readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Snag Category</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="category" [(ngModel)]="editonepointlesson.snag_category"
                #categorys="ngModel" readonly>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Problem Description</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="problemdesc" [(ngModel)]="editonepointlesson.description"
                #problemdescs="ngModel" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Responsible station Code</label>
            <div class="col-sm-8">
              <select class='select-option  form-control' #operationcode="ngModel" required [(ngModel)]="editonepointlesson.station_code"
                name=operationcode (ngModelChange)='getworkstation($event)'>
                <option [value]="undefind" selected hidden>Select Responsible station Code</option>
                <option [value]="null" selected hidden>Select Responsible station Code</option>
                <option class='option' *ngFor='let option of operationcodes' [value]="option.id">{{option.operation_code}}</option>
              </select>
              <div *ngIf="operationcode.invalid && (operationcode.dirty || operationcode.touched)" class="alert-danger">
                <span *ngIf="operationcode.errors?.required">
                  Responsible station Code Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Responsible Workstation</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="workstation" [(ngModel)]="workstationnames" #workstation="ngModel"
                readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Respective Person</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="respectiveperson" [(ngModel)]="respectiveperson" #photorefs="ngModel"
                readonly>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Tested By</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="tested" [(ngModel)]="testedby" #tested="ngModel" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Mixer Cleared By</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="cleared" [(ngModel)]="clearedby" #cleared="ngModel"
                readonly>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Rework Hrs (in mins) </label>
            <div class="col-sm-8">
              <ngb-timepicker ngModel [seconds]="seconds" name="reworkhrs" #reworkhrs="ngModel" required
                (ngModelChange)="timechanged($event)"></ngb-timepicker>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Production Remarks</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="remarks" [(ngModel)]="editonepointlesson.remarks" #remark="ngModel"
                required>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Corrective Action</label>
            <div class="ol-sm-8">
              <textarea type="text" class="form-control" name="corectiveaction" [(ngModel)]="editonepointlesson.corrective_action"
                #corectiveaction="ngModel" required></textarea>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Preventive Action</label>
            <div class="col-sm-8">
              <textarea type="text" class="form-control" name="preventiveaction" [(ngModel)]="editonepointlesson.preventive_action"
                #preventiveaction="ngModel" required></textarea>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Responsibility</label>
            <div class="col-sm-8">
              <select class='select-option  form-control' required ngModel name=empid #empid="ngModel">
                <option value="" selected>Select Employee</option>
                <option class='option' *ngFor='let option of employees' [value]="option.emp_no">{{option.name}}({{option.emp_no}})_{{option.role}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Target Date</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="targetdate" [(ngModel)]="datepickermindate"
                  ngbDatepicker #targetdate="ngbDatepicker" required [minDate]="datepickermindate" [maxDate]="datepickermindate"
                  required >
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="targetdate.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                  </div>
              </div>
              <div *ngIf="targetdate.invalid && (targetdate.dirty || targetdate.touched)" class="alert-danger">
                <span *ngIf="targetdate.errors?.required">
                  Target Date Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Closed Date</label>
            <div class="col-sm-8">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="closeddate" [(ngModel)]="datepickermindate1"
                  ngbDatepicker #closeddate="ngbDatepicker" required [minDate]="datepickermindate" [maxDate]="datepickermindate"
                  required>
                  <div class="input-group-append">
                    <button class="btn btn-outline-secondary calendar" (click)="closeddate.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                  </div>
              </div>
              <div *ngIf="closeddate.invalid && (closeddate.dirty || closeddate.touched)" class="alert-danger">
                <span *ngIf="closeddate.errors?.required">
                  Closed Date Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>
