<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="row">
            <div class="col-md-6">
                <h5>2 Bin System </h5>
              </div>
              <div class="col-md-6">
                <div class="text-right">
                  <!-- <button class="btn btn-primary btn-square" type="button" (click)="openbulkupload(bulkupload)">
                    <i class="icofont icofont-upload"></i> Bulk Upload
                  </button> -->
                  <button class="btn btn-info btn-square" type="button" (click)="open(addnew)">
                    <i class="icofont icofont-plus"></i> Add 2 Bin System Master
                  </button>
                </div>
              </div>
        </div>
        
      </div>
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Work Station</th>
              <th>Part No.</th>
              <th>Object Description</th>
              <th>Storage Location</th>
              <th>Bin Size</th>
              <th>Bin Model</th>
              <th>Label Size</th>
              <th>Remarks</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of binsystem; let i=index">
              <td>{{i+1}}</td>
              <td [ngSwitch]="item.WORKSTATION">
                <p *ngSwitchCase="'1'">Engine & Roller Sub Assy</p>
                <p *ngSwitchCase="'2'">Channel frame with pedestal Assy</p>
                <p *ngSwitchCase="'3'">Gear box assy</p>
                <p *ngSwitchCase="'4'">Oil cooler sub Assy, 1" & 1 1/2" water line Sub Assembly</p>
                <p *ngSwitchCase="'5'">Engine,Oil cooler Assy & water pump setting</p>
                <p *ngSwitchCase="'6'">Charging Hopper</p>
                <p *ngSwitchCase="'7'">Ladder Assy</p>
                <p *ngSwitchCase="'8'">Testing Preparation</p>
              </td>
              <td>{{item.PARTNO}}</td>
              <td>{{item.OBJECTDESC}}</td>
              <td>{{item.STORAGELOCATION}}</td>
              <td [ngSwitch]="item.BINSIZE">
                <p *ngSwitchCase="'1'">15</p>
                <p *ngSwitchCase="'2'">25</p>
                <p *ngSwitchCase="'3'">45</p>
                <p *ngSwitchCase="'4'">100</p>
                <p *ngSwitchCase="'5'">Steel Bin</p>
              </td>
              <td [ngSwitch]="item.BINMODEL">
                <p *ngSwitchCase="'1'">Nilkamal</p>
                <p *ngSwitchCase="'2'">Power King</p>
                <p *ngSwitchCase="'3'">Steel Bin</p>
                <p *ngSwitchCase="'4'">Supreme</p>
              </td>
              <td>{{item.LABELSIZE}}</td>
              <td>{{item.REMARKS}}</td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletebinsystem(item.ID)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class=" btn btn-default">
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close
    </button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>

<!-- Add New -->
<ng-template #addnew let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add 2 Bin System </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="addbinsystem(frm, addnew)">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Part No.</label>
            <div class="col-sm-8">
              <select name="partno" id="" class="form-control" [(ngModel)]="part_no" #partno="ngModel" required (change)="getpartnos(partno.value)">
                <option value="" selected disabled>Select Work Station</option>
                <option *ngFor="let item of getpartno.message" [value]="item.ID">{{item.PARTNO}}</option>
              </select>
              <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                <span *ngIf="partno.errors?.required">
                  Part No. is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Work Station</label>
            <div class="col-sm-8">              
              <select name="workstation" id="" class="form-control" [(ngModel)]="getbinsizemake.work_station" #workstation="ngModel" required readonly>
                <option value="" selected disabled>Select Work Station</option>
                <option value="1">Engine & Roller Sub Assy</option>
                <option value="2">Channel frame with pedestal Assy</option>
                <option value="3">Gear box assy</option>
                <option value="4">Oil cooler sub Assy, 1" & 1 1/2" water line Sub Assembly</option>
                <option value="5">Engine,Oil cooler Assy & water pump setting</option>
                <option value="6">Charging Hopper</option>
                <option value="7">Ladder Assy</option>
                <option value="8">Testing Preparation</option>
              </select>
              <div *ngIf="workstation.invalid && (workstation.dirty || workstation.touched)" class="alert-danger">
                <span *ngIf="workstation.errors?.required">
                  Workstation is Required
                </span>
              </div>
            </div>
          </div>
        </div>        
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Object Description</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Object Description" name="objectdesc" [(ngModel)]="getbinsizemake.object_desc" #objectdesc="ngModel"
                required readonly>
              <div *ngIf="objectdesc.invalid && (objectdesc.dirty || objectdesc.touched)" class="alert-danger">
                <span *ngIf="objectdesc.errors?.required">
                  Obect Description is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Storage Location</label>
            <div class="col-sm-8"> 
              <input type="text" class="form-control" Placeholder="Enter Object Description" name="storageloc" [(ngModel)]="getbinsizemake.storage_location" #storageloc="ngModel" required readonly>
              <!-- <select name="storageloc" id="" class="form-control" [(ngModel)]="storage_loc" #storageloc="ngModel" required multiple>
                <option value="" selected disabled>Select Work Station</option>
                <option *ngFor="let item of storagelocaton" [value]="item.id">{{item.storage_location}}</option>
              </select>       -->    
              <div *ngIf="storageloc.invalid && (storageloc.dirty || storageloc.touched)" class="alert-danger">
                <span *ngIf="storageloc.errors?.required">
                  Storage Location is Required
                </span>
              </div>              
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Bin Size</label>
            <div class="col-sm-8">
              <select name="binsize" id="" class="form-control" [(ngModel)]="getbinsizemake.bin_size" #binsize="ngModel" required disabled>
                <option value="" selected disabled>Select Bin Size</option>
                <option value="1">15</option>
                <option value="2">25</option>
                <option value="3">45</option>
                <option value="4">100</option>
                <option value="5">Steel Bin</option>
              </select>
              <div *ngIf="binsize.invalid && (binsize.dirty || binsize.touched)" class="alert-danger">
                <span *ngIf="binsize.errors?.required">
                  Bin Size is Required
                </span>
                <span *ngIf="binsize.errors?.pattern">
                  Bin Size is accepts only Numeric
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Bin Model</label>
            <div class="col-sm-8">
              <select name="binmodel" id="" class="form-control" [(ngModel)]="getbinsizemake.bin_model" #binmodel="ngModel" required disabled>
                <option value="" selected disabled>Select Bin Model</option>
                <option value="1">Nilkamal</option>
                <option value="2">Power King</option>
                <option value="3">Steel Bin</option>
                <option value="4">Supreme</option>
              </select>
              <div *ngIf="binmodel.invalid && (binmodel.dirty || binmodel.touched)" class="alert-danger">
                <span *ngIf="binmodel.errors?.required">
                  Bin Model is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Label Size</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Label Size" name="labelsize" [(ngModel)]="getbinsizemake.label_size"
                #labelsize="ngModel" required readonly>
              <div *ngIf="labelsize.invalid && (labelsize.dirty || labelsize.touched)" class="alert-danger">
                <span *ngIf="labelsize.errors?.required">
                  Label Size is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Remarks</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Remarks" name="remarks" ngModel #remarks="ngModel">
              <div *ngIf="remarks.invalid && (remarks.dirty || remarks.touched)" class="alert-danger">
                <span *ngIf="remarks.errors?.required">
                  Remarks is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>


<!-- Edit -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Delay/Rework</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="editform" #editfrm="ngForm" (ngSubmit)="editbinsystems(editfrm, edit)">
      <div class="row" style="display: none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter id" name="id" [(ngModel)]="editbinsystem.ID" #id="ngModel" required>
              <div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert-danger">
                <span *ngIf="id.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Part No.</label>
            <div class="col-sm-8">
              <select name="partno" id="" class="form-control" [(ngModel)]="editbinsystem.PART_NO" #partno="ngModel" required (change)="getpartnos(partno.value)">
                <option value="" selected disabled>Select Work Station</option>
                <option *ngFor="let item of getpartno.message" [value]="item.ID">{{item.PARTNO}}</option>
              </select>
              <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                <span *ngIf="partno.errors?.required">
                  Part No. is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Work Station</label>
            <div class="col-sm-8">
              <select name="workstation" id="" class="form-control" [(ngModel)]="editbinsystem.WORKSTATION" #workstation="ngModel" required
                 disabled>
                <option value="" selected disabled>Select Work Station</option>
                <option value="1">Engine & Roller Sub Assy</option>
                <option value="2">Channel frame with pedestal Assy</option>
                <option value="3">Gear box assy</option>
                <option value="4">Oil cooler sub Assy, 1" & 1 1/2" water line Sub Assembly</option>
                <option value="5">Engine,Oil cooler Assy & water pump setting</option>
                <option value="6">Charging Hopper</option>
                <option value="7">Ladder Assy</option>
                <option value="8">Testing Preparation</option>
              </select>
              <div *ngIf="workstation.invalid && (workstation.dirty || workstation.touched)" class="alert-danger">
                <span *ngIf="workstation.errors?.required">
                  Workstation is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Object Description</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Object Description" name="objectdesc" [(ngModel)]="editbinsystem.OBJECTDESC"
                #objectdesc="ngModel" required readonly>
              <div *ngIf="objectdesc.invalid && (objectdesc.dirty || objectdesc.touched)" class="alert-danger">
                <span *ngIf="objectdesc.errors?.required">
                  Obect Description is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Storage Location</label>
            <div class="col-sm-8">            
              <input type="text" class="form-control" Placeholder="Enter Storage Location" name="storageloc" [(ngModel)]="editbinsystem.STORAGELOCATION" #storageloc="ngModel" required readonly>
              <div *ngIf="storageloc.invalid && (storageloc.dirty || storageloc.touched)" class="alert-danger">
                <span *ngIf="storageloc.errors?.required">
                  Storage Location is Required
                </span>
              </div>
              <!-- <input type="text" class="form-control" Placeholder="Enter Storage Location" name="storageloc" [(ngModel)]="editbinsystem.STORAGELOCATION" #storageloc="ngModel" required readonly> -->
              <!-- <div *ngIf="storageloc.invalid && (storageloc.dirty || storageloc.touched)" class="alert-danger">
                <span *ngIf="storageloc.errors?.required">
                  Storage Location is Required
                </span>
              </div> -->
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Bin Size</label>
            <div class="col-sm-8">
              <select name="binsize" id="" class="form-control" [(ngModel)]="editbinsystem.BINSIZE" #binsize="ngModel" required disabled>
                <option value="" selected disabled>Select Bin Size</option>
                <option value="1">15</option>
                <option value="2">25</option>
                <option value="3">45</option>
                <option value="4">100</option>
                <option value="5">Steel Bin</option>
              </select>
              <div *ngIf="binsize.invalid && (binsize.dirty || binsize.touched)" class="alert-danger">
                <span *ngIf="binsize.errors?.required">
                  Bin Size is Required
                </span>
                <span *ngIf="binsize.errors?.pattern">
                  Bin Size is accepts only Numeric
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Bin Model</label>
            <div class="col-sm-8">
              <select name="binmodel" id="" class="form-control" [(ngModel)]="editbinsystem.BINMODEL" #binmodel="ngModel" required disabled>
                <option value="" selected disabled>Select Bin Model</option>
                <option value="1">Nilkamal</option>
                <option value="2">Power King</option>
                <option value="3">Steel Bin</option>
                <option value="4">Supreme</option>
              </select>
              <div *ngIf="binmodel.invalid && (binmodel.dirty || binmodel.touched)" class="alert-danger">
                <span *ngIf="binmodel.errors?.required">
                  Bin Model is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Label Size</label>
            <div class="col-sm-8">
               <input type="text" class="form-control" Placeholder="Enter Label Size" name="labelsize" [(ngModel)]="editbinsystem.LABELSIZE"
                #labelsize="ngModel" required readonly>
              <div *ngIf="labelsize.invalid && (labelsize.dirty || labelsize.touched)" class="alert-danger">
                <span *ngIf="labelsize.errors?.required">
                  Label Size is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Remarks</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Remarks" name="remarks" [(ngModel)]="editbinsystem.REMARKS" #remarks="ngModel">
              <div *ngIf="remarks.invalid && (remarks.dirty || remarks.touched)" class="alert-danger">
                <span *ngIf="remarks.errors?.required">
                  Remarks is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>