<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="col-md-6">
          <h5>View Packaging List </h5>
        </div>
      </div>
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Engine No</th>
              <th>Part No</th>
              <th>Mixer Description</th>
              <th>Mixer Model</th>              
              <th>Vehicle No</th>
              <th>Date</th>
              <th>View Mounting Header</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of packagingdetails.message;let i =index">
              <td>{{i+1}}</td>
              <td>{{item.engineno}}</td>
              <td>{{item.part_no}}</td>
              <td>{{item.mixer_description}}</td>
              <td>{{item.mixer_model}}</td>
              <td>{{item.vehicleno}}</td>
              <td>{{item.date}}</td>
              <td>
                <button class='btn btn-primary' (click)='getdetails(item.id)'>
                  View Deatils
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>