<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="row">
          <div class="col-md-6">
            <h5>Package Mapping</h5>
            <p class="mandatoryfiles">* Fields Are mandatory</p>
          </div>
          <!--<div class="col-md-6">
            <div class="text-right">
              <button class="btn btn-primary btn-square" type="button" (click)="open(bulkupload)">
                <i class="icofont icofont-upload"></i> Bulk Upload
              </button>
            </div>
          </div>-->
        </div>
      </div>
      <div class="card-block">
        <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="addchassispackage(frm,addnew)">              
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Part No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select name="partno" class="form-control" [(ngModel)]="selpartno" #partno="ngModel" required (change)="getmixerassemblymaster(partno.value)">                    
                    <option [value]="undefined" selected hidden>Select Part No.</option>
                    <option [value]="null" selected hidden>Select Part No.</option>
                    <option *ngFor="let option of mixermodel.message" [value]="option.id">{{option.part_no}}_{{option.mixer_description}}</option>
                  </select>
                  <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                    <span *ngIf="partno.errors?.required">
                      Part No. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Chassis Make.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                    <select name="chassismake" class="form-control" [(ngModel)]="selmake" #chassismake="ngModel" (change)="getpchassismake(chassismake.value)" required>
                      <option [value]="undefined" selected hidden>Select Chassis Make</option>
                    <option [value]="null" selected hidden>Select Chassis Make</option>
                      <option *ngFor="let option of pchassis.message" [value]="option.id">{{option.chassis_make}}</option>
                    </select>                    
                  <div *ngIf="chassismake.invalid && (chassismake.dirty || chassismake.touched)" class="alert-danger">
                    <span *ngIf="chassismake.errors?.required">
                      Chassis Make is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">              
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Chassis Model<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                    <select name="chassismodel" class="form-control" [(ngModel)]="pchasvalue.chassismodel" #chassismodel="ngModel" (change)="getroh(chassismodel.value)" required>
                      <option [value]="undefined" selected hidden>Select Chassis model</option>
                      <option [value]="null" selected hidden>Select Chassis Model</option>
                      <option *ngFor="let option of pchasvalue.message" [value]="option.id">{{option.chassismodel}}</option>
                    </select> 
                  <!-- <input type="text" class="form-control" Placeholder="Chassis Model" name="chassismodel" [(ngModel)]="pchasvalue.chassismodel" #chassismodel="ngModel" required readonly> -->
                  <div *ngIf="chassismodel.invalid && (chassismodel.dirty || chassismodel.touched)" class="alert-danger">
                    <span *ngIf="chassismodel.errors?.required">
                      Chassis Model is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">ROH<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter ROH" name="roh" [(ngModel)]="pchasroh.roh" #roh="ngModel" required readonly>
                  <div *ngIf="roh.invalid && (roh.dirty || roh.touched)" class="alert-danger">
                    <span *ngIf="roh.errors?.required">
                      ROH is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">              
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Engine Type<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Engine Type" name="enginetype" [(ngModel)]="mixassvalue.engine_make" #enginetype="ngModel" required readonly>
                  <div *ngIf="enginetype.invalid && (enginetype.dirty || enginetype.touched)" class="alert-danger">
                    <span *ngIf="enginetype.errors?.required">
                      Engine Type is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Mix. Capacity<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Mix. Capacity" name="mixcapacity" [(ngModel)]="mixassvalue.waterpump_cum3" #mixcapacity="ngModel" readonly>
                  <div *ngIf="mixcapacity.invalid && (mixcapacity.dirty || mixcapacity.touched)" class="alert-danger">
                    <span *ngIf="mixcapacity.errors?.required">
                        Mix. Capacity is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Accessories list<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select name="accessories" class="form-control" [(ngModel)]="selaccessories" #accessories="ngModel" required>
                    <option [value]="undefined" selected hidden>Select Accessories List</option>
                    <option [value]="null" selected hidden>Select Accessories List</option>
                    <option *ngFor="let item of packaging_header.message" [value]="item.id">{{item.obj_desc}}</option>
                  </select>
                  <div *ngIf="accessories.invalid && (accessories.dirty || accessories.touched)" class="alert-danger">
                    <span *ngIf="accessories.errors?.required">
                      Accessories list is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Mounting BOM<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select name="mounting" class="form-control" [(ngModel)]="selmounting" #mounting="ngModel" required>
                    <option [value]="undefined" selected hidden>Select Mounting BOM</option>
                    <option [value]="null" selected hidden>Select Mounting BOM</option>
                    <option *ngFor="let item of mounting_header.message" [value]="item.id">{{item.obj_desc}}</option>
                  </select>
                  <div *ngIf="mounting.invalid && (mounting.dirty || mounting.touched)" class="alert-danger">
                    <span *ngIf="mounting.errors?.required">
                      Mounting BOM is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">              
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">U Bolt<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter U Bolt" name="ubolt" ngModel #ubolt="ngModel" appEmitfirstspace required>
                  <div *ngIf="ubolt.invalid && (ubolt.dirty || ubolt.touched)" class="alert-danger">
                    <span *ngIf="ubolt.errors?.required">
                        U Bolt is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Remarks<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Remarks" name="remarks" ngModel #remarks="ngModel" appEmitfirstspace required>
                  <div *ngIf="remarks.invalid && (remarks.dirty || remarks.touched)" class="alert-danger">
                    <span *ngIf="remarks.errors?.required">
                        Remarks is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group row float-right">
            <div class="col-sm-6">
              <button type="button" class="btn btn-default waves-effect pull-right" (click)="reset(frm)">Reset</button>
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>
  
  
<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Mixer Part No.</th>
              <th>Mixer Desc.</th>
              <th>Chassis Make.</th>
              <th>Chassis Model</th>
              <th>ROH</th>
              <th>BSIII / IV</th>
              <th>Engine Type</th>
              <th>Mix. Capacity</th>
              <th>Remarks</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of packagemappings.message;let i=index">
              <td>{{i+1}}</td>
              <td>{{item.part_no}}</td>
              <td>{{item.mixer_description}}</td>
              <td>{{item.chassis_make}}</td>
              <td>{{item.chassismodel}}</td>
              <td>{{item.roh}}</td>
              <td>
                <span *ngIf="item.bsiii==1">BSIII</span>
                <span *ngIf="item.bsiii==2">BSIV</span>
              </td>
              <td>{{item.engine_make}}</td>
              <td>{{item.waterpump_cum3}}</td>
              <td>{{item.remarks}}</td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletechassis(item.id,item.mixer_partno)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>
  
  <!-- Add Bulk Upload  -->
  <ng-template #bulkupload let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Bulk Upload</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-4 text-right">
          <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
        </div>
        <label class="custom-file col-sm-6">
          <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class="btn btn-default">
          <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
          <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close
      </button>
      <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
    </div>
  </ng-template>
  
  <!-- Edit -->
  <ng-template #edit let-c="close" let-d="dismiss">
    <div class="modal-header">
      <div class="col-md-6">
        <h4 class="modal-title">Edit Package Chassis</h4>
        <p class="mandatoryfiles">* Fields Are mandatory</p>
      </div>
      <div class="col-md-6">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reload()">
          <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editchassispackage(editfrm,edit)">
        <div class="row" style="display:none">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Id</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editpchassis.id" required #eid="ngModel">
                <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                  <span *ngIf="eid.errors?.required">
                    ID is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Part No.<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select name="partno" class="form-control" [(ngModel)]="editpchassis.partid" #partno="ngModel" required (change)="getmixerassemblymaster(partno.value)">
                  <option [value]="undefined" selected hidden>Select Part No.</option>
                    <option [value]="null" selected hidden>Select Part No.</option>
                  <option *ngFor="let option of mixermodel.message" [value]="option.id">{{option.part_no}}_{{option.mixer_description}}</option>
                </select>
                <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                  <span *ngIf="partno.errors?.required">
                    Part No. is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Chassis Make.<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                  <select name="chassismake" class="form-control" [(ngModel)]="editpchassis.chassismakeid" #chassismake="ngModel" (change)="getpchassismake(chassismake.value)" required>
                    <option [value]="undefined" selected hidden>Select Chassis Make</option>
                    <option [value]="null" selected hidden>Select Chassis Make</option>
                    <option *ngFor="let option of pchassis.message" [value]="option.id">{{option.chassis_make}}</option>
                  </select>                    
                <div *ngIf="chassismake.invalid && (chassismake.dirty || chassismake.touched)" class="alert-danger">
                  <span *ngIf="chassismake.errors?.required">
                    Chassis Make is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">              
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Chassis Model<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select name="chassismodel" class="form-control" [(ngModel)]="editpchassis.chasiismodelid" #chassismodel="ngModel" (change)="getroh(chassismodel.value)" required>
                  <option [value]="undefined" selected hidden>Select Chassis model</option>
                  <option [value]="null" selected hidden>Select Chassis Model</option>
                  <option *ngFor="let option of pchasvalue.message" [value]="option.id">{{option.chassismodel}}</option>
                </select> 
               <!--  <input type="text" class="form-control" Placeholder="Chassis Model" name="chassismodel" [(ngModel)]="pchasvalue.chassismodel" #chassismodel="ngModel" required readonly> -->
                <div *ngIf="chassismodel.invalid && (chassismodel.dirty || chassismodel.touched)" class="alert-danger">
                  <span *ngIf="chassismodel.errors?.required">
                    Chassis Model is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">ROH<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter ROH" name="roh" [(ngModel)]="pchasroh.roh" #roh="ngModel" required readonly>
                <div *ngIf="roh.invalid && (roh.dirty || roh.touched)" class="alert-danger">
                  <span *ngIf="roh.errors?.required">
                    ROH is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">              
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Engine Type<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Engine Type" name="enginetype" [(ngModel)]="mixassvalue.engine_make" #enginetype="ngModel" required readonly>
                <div *ngIf="enginetype.invalid && (enginetype.dirty || enginetype.touched)" class="alert-danger">
                  <span *ngIf="enginetype.errors?.required">
                    Engine Type is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Mix. Capacity<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Mix. Capacity" name="mixcapacity" [(ngModel)]="mixassvalue.waterpump_cum3" #mixcapacity="ngModel" readonly>
                <div *ngIf="mixcapacity.invalid && (mixcapacity.dirty || mixcapacity.touched)" class="alert-danger">
                  <span *ngIf="mixcapacity.errors?.required">
                      Mix. Capacity is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Accessories list<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select name="accessories" class="form-control" [(ngModel)]="editpchassis.packagesheadersid" #accessories="ngModel" required>
                  <option [value]="undefined" selected hidden>Select Accessories List</option>
                    <option [value]="null" selected hidden>Select Accessories List</option>
                  <option *ngFor="let item of packaging_header.message" [value]="item.id">{{item.obj_desc}}</option>
                </select>
                <div *ngIf="accessories.invalid && (accessories.dirty || accessories.touched)" class="alert-danger">
                  <span *ngIf="accessories.errors?.required">
                    Accessories list is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Mounting BOM<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select name="mounting" class="form-control" [(ngModel)]="editpchassis.mountingheadersid" #mounting="ngModel" required>
                  <option [value]="undefined" selected hidden>Select Mounting BOM</option>
                    <option [value]="null" selected hidden>Select Mounting BOM</option>
                  <option *ngFor="let item of mounting_header.message" [value]="item.id">{{item.obj_desc}}</option>
                </select>
                <div *ngIf="mounting.invalid && (mounting.dirty || mounting.touched)" class="alert-danger">
                  <span *ngIf="mounting.errors?.required">
                    Mounting BOM is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">              
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">U Bolt<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="U Bolt" name="ubolt" [(ngModel)]="editpchassis.ubolt" #ubolt="ngModel" appEmitfirstspace required>
                <div *ngIf="ubolt.invalid && (ubolt.dirty || ubolt.touched)" class="alert-danger">
                  <span *ngIf="ubolt.errors?.required">
                      U Bolt is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Remarks<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Remarks" name="remarks" [(ngModel)]="editpchassis.remarks" #remarks="ngModel" appEmitfirstspace required>
                <div *ngIf="remarks.invalid && (remarks.dirty || remarks.touched)" class="alert-danger">
                  <span *ngIf="remarks.errors?.required">
                      Remarks is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="form-group row float-right">
          <div class="col-sm-6">
            <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reload()">Close</button>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
          </div>
        </div>
      </form>
    </div>
    <!-- <div class="app-modal-footer">
        <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
        <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
      </div> -->
  </ng-template>