<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block">
          <form class="form-horizontal" name="editfrm" #editfrm="ngForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Customer Name:</label>
              <div class="col-sm-5">
                <!--<select class="form-control" (change)="getcustlistall()" name="choosecustomer" [(ngModel)]="choosecustomer" #choosecustomers="ngModel" required >
                  <option value="" selected disabled >Select Customer Name</option>
                  <option value="1"> Nanthakumar </option>
                  <option value="1"> Senthil Kumar </option>
                  <option value="1"> Megala </option>
                </select>
                 (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)"
              
              -->
                <angular2-multiselect [data]="dropdownList" [(ngModel)]="choosecustomer" ngModel name="choosecustomer" #choosecustomers="ngModel" required 
                [settings]="dropdownSettings" 
                (onSelect)="oncustomerSelect($event)" 
                (onDeSelect)="OncustomerDeSelect($event)"
               ></angular2-multiselect>
                <div *ngIf="choosecustomers.invalid && (choosecustomers.dirty || choosecustomers.touched)" class="alert-danger">
                  <span *ngIf="choosecustomers.errors?.required">
                     Customer is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Select Chassis NO:</label>
              <div class="col-sm-5">
                  <angular2-multiselect [data]="dropdownListchassisno" [(ngModel)]="choosechassisnomodel" ngModel name="choosechassisnomodel" #choosechassisno="ngModel" required 
                  [settings]="dropdownSettingschassisno" 
                  (onSelect)="onchassisSelect($event)" 
                  (onDeSelect)="OnchassisDeSelect($event)"
                 ></angular2-multiselect>
                <!--<input type="text" class="form-control" name="choosechassisno" ngModel #choosechassisno="ngModel" required readonly>-->
                <div *ngIf="choosechassisno.invalid && (choosechassisno.dirty || choosechassisno.touched)" class="alert-danger">
                  <span *ngIf="choosechassisno.errors?.required">
                    Enter Chassis.No is Required
                  </span>
                </div>
              </div>
            </div>
          </div>            
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Make:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" [(ngModel)]="makename"  name="makename" ngModel #choosemake="ngModel" required readonly>
                <!--<div *ngIf="choosemake.invalid && (choosemake.dirty || choosemake.touched)" class="alert-danger">
                  <span *ngIf="choosemake.errors?.required">
                    Choose Make is Required
                  </span>
                </div>-->
              </div>
            </div>
          </div>
        </div>    
        <hr>        
        
        <div class="row pull-right">
          <div class="container">            
            <button class="btn btn-warning btn-square" type="reset" >
              <i class="icofont icofont-reset"></i> Reset
            </button>
            <button class="btn btn-info btn-square" type="button" (click)="getchassisinspectiondetails()">
              <i class="icofont icofont-check"></i> Submit
            </button>
          </div>
        </div>
        </form>
      <!-- end of card-footer -->
      </div>
      <div class="card-block" *ngIf="formclicked"> 
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">   
              <label class="col-sm-5 col-form-label text-right">Driver Signature:</label>                           
              <div class="col-sm-5">
                <!--<input type="text" class="form-control" name="supervisor" ngModel #supervisor="ngModel" required readonly>-->
                <img src="{{supervisorsign|| 'assets/images/signature1.png'}}" class="form-control" height="100" width="200" alt="image not found" onerror="this.onerror=null;this.src='assets/images/signature1.png'"/>
                <!--<div *ngIf="supervisor.invalid && (supervisor.dirty || supervisor.touched)" class="alert-danger">
                  <span *ngIf="supervisor.errors?.required">
                      Supervisor Signature is required
                  </span>
                </div>-->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">   
              <label class="col-sm-5 col-form-label text-right">Quality Inspector:</label>                           
              <div class="col-sm-5">
                <input type="text" class="form-control" [(ngModel)]="qcinspectormodel" name="qcinspectormodel" ngModel #qcinspector="ngModel" required readonly>
              <!--  <div *ngIf="qcinspectormodel.invalid && (qcinspectormodel.dirty || qcinspectormodel.touched)" class="alert-danger">
                  <span *ngIf="qcinspectormodel.errors?.required">
                    Quality Inspector is Required
                  </span>
                </div>-->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">   
              <label class="col-sm-5 col-form-label text-right">Driver Mobile NO:</label>                           
              <div class="col-sm-5">
                <input type="text" class="form-control" [(ngModel)]="drivermobileno" name="drivermobileno" ngModel #drivermobile="ngModel" required readonly>
              <!--  <div *ngIf="supervisor.invalid && (supervisor.dirty || supervisor.touched)" class="alert-danger">
                  <span *ngIf="supervisor.errors?.required">
                    Driver Mobile NO is required
                  </span>
                </div>-->
              </div>
            </div>
          </div>
        </div>        
        <div class="row table-responsive">
            <button (click)="export()">Export</button>  
          <table #table1 class="table table-striped datatable table-bordered row-border hover">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Inspection Points</th>
                <th>Quality Control</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
                 <tr *ngFor="let item of tabledata;let i=index">
                   <td>{{i+1}}</td>
                    <td>{{item.checklistname}} </td>
                    <td>
                      <!-- <span *ngIf="item.checkqc==true"><div align="Center"><i class="icofont icofont-tick-mark" style="color:#008000;"></i></div></span>
                      <span *ngIf="item.checkqc==false"><div align="Center"><i class="icofont icofont-close" style="color:#FF0000;"></i></div></span> -->
                      <span *ngIf="item.checkqc==true"><div align="Center">Checked</div></span>
                      <span *ngIf="item.checkqc==false"><div align="Center">Not Checked</div></span>
                    </td>                        
                   
                    <td>
                      <span *ngIf="item.checklistRemarks==''">NA</span>
                      <span *ngIf="item.checklistRemarks!=''">{{item.checklistRemarks}}</span>
                    </td>
                 </tr>
            </tbody>
          </table>
        </div>        
      </div>
    </div>
  </div>
</div>