<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="col-md-6">
          <h5>Package List</h5>
          <p class="mandatoryfiles">* Fields Are mandatory</p>
        </div>
      </div>
      <div class="card-block">
        <!-- <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="getchassismapping(frm,addnew);getmountingheader()"> -->
        <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="getmountingheader(frm)">   
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Engine Sl.NO.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="engineslno" [(ngModel)]="setengineslno" #engineslno="ngModel" required (change)="changeengine(engineslno.value)">
                    <option [value]="undefined" selected hidden>Select Engine Sl.No</option>
                    <option [value]="null" selected hidden>Select Engine SL.No</option>
                    <option *ngFor="let mixer of mixerslno.message" [value]="mixer.asmainmatid">{{ mixer.pm_no }}</option>
                  </select>
                  <div *ngIf="engineslno.invalid && (engineslno.dirty || engineslno.touched)" class="alert-danger">
                    <span *ngIf="engineslno.errors?.required">
                      Engine Sl.NO. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6" >
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Part No ID.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" [(ngModel)]="mixerdetails.partnoid" placeholder="Enter Part No ID" #partnoid="ngModel" name="partnoid" required readonly>
                  <div *ngIf="partnoid.invalid && (partnoid.dirty || partnoid.touched)" class="alert-danger">
                    <span *ngIf="partnoid.errors?.required">
                      Part No is Required
                    </span>
                  </div>
                </div>
              </div>
            </div> 
            <!-- <div class="col-md-6">
              <div class="form-group row">
                <div class="col-sm-3">
                  <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!checkfrm.form.valid">Generate</button>                  
                </div>
              </div>
            </div> -->
          </div>        
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Model<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Model" name="model" [(ngModel)]="mixerdetails.mixer_model" #model="ngModel" required readonly>
                  <div *ngIf="model.invalid && (model.dirty || model.touched)" class="alert-danger">
                    <span *ngIf="model.errors?.required">
                      Model is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Part No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" [(ngModel)]="mixerdetails.part_no" #partno="ngModel" name="partno" placeholder="Enter Part No." required readonly>
                  <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                    <span *ngIf="partno.errors?.required">
                      Part No is Required
                    </span>
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-md-6" style="display:none">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Cust ID.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" [(ngModel)]="mixerdetails.cust_id" #cust_id="ngModel" name="custid" placeholder="Enter Cust ID." required readonly>
                  <div *ngIf="cust_id.invalid && (cust_id.dirty || cust_id.touched)" class="alert-danger">
                    <span *ngIf="cust_id.errors?.required">
                      Cust ID is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>            
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Date:<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="dp" [(ngModel)]="datepicker" ngbDatepicker #d="ngbDatepicker" readonly required>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                    </div>
                  </div>
                  <div *ngIf="d.invalid && (d.dirty || d.touched)" class="alert-danger">
                    <span *ngIf="d.errors?.required">
                      Date is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Customer Name<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Customer Name" name="customername" [(ngModel)]="mixerdetails.customer_name" #customername="ngModel" required readonly>
                  <div *ngIf="customername.invalid && (customername.dirty || customername.touched)" class="alert-danger">
                    <span *ngIf="customername.errors?.required">
                      Customer Name is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Packaging List For<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="packaginglist" [(ngModel)]="mixerdetails.mountingcategory" #packaginglist="ngModel" id="" disabled required>
                    <option value="undefined" selected hidden>Select Mounting Category</option>
                    <option value="null" selected hidden>Select Mounting Category</option>
                    <option value="1">Export</option>
                    <option value="2">FBV</option>
                    <option value="3">Party Mounting</option>
                  </select>
                  <div *ngIf="packaginglist.invalid && (packaginglist.dirty || packaginglist.touched)" class="alert-danger">
                    <span *ngIf="packaginglist.errors?.required">
                      Packaging List For is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Vehicle No<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Vehicle No" name="vehicleno" ngModel #vehicleno="ngModel" appEmitfirstspace required>
                  <div *ngIf="vehicleno.invalid && (vehicleno.dirty || vehicleno.touched)" class="alert-danger">
                    <span *ngIf="vehicleno.errors?.required">
                      Vehicle No is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Color<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Color" name="color" [(ngModel)]="mixerdetails.color" #color="ngModel" readonly required>
                  <div *ngIf="color.invalid && (color.dirty || color.touched)" class="alert-danger">
                    <span *ngIf="color.errors?.required">
                      Color is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Chassis Model</label>
                <div class="col-sm-8">
                  <input type="hidden" name=chassis_model_id [(ngModel)]="mixerdetails.chassis_model_id">
                  <input type="text" class="form-control" Placeholder="Enter Chassis Model" name="chassismodel" [(ngModel)]="mixerdetails.chassismodel" #chassismodel="ngModel" readonly>
                  <div *ngIf="chassismodel.invalid && (chassismodel.dirty || chassismodel.touched)" class="alert-danger">
                    <span *ngIf="chassismodel.errors?.required">
                      Chassis Model is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group row float-right">
            <div class="col-sm-6">
              <button type="button" class="btn btn-default waves-effect pull-right" (click)="reset(frm)">Reset</button>
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <div class="row">
          <div class="col-md-6"></div>
          <div class="col-md-6 text-right">
            <button class="btn btn-primary btn-square" type="button"  (click)="savepackagelist(frm)">
              <i class="icofont icofont-check"></i> Save
            </button>
            <button class="btn btn-primary btn-square" type="button"  (click)="open(foc)">
              <i class="icofont icofont-plus"></i> Add Loose Items
            </button>
          </div>
        </div>
        <br>        
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>SL.No.</th>
              <th>Part No.</th>
              <th>Description</th>
              <th>UOM</th>
              <th>QTY</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th colspan="5" class="text-center">Wooden Palletized Carton Box - 1</th>
            </tr>
            <tr *ngFor="let item of mountingheaders.message;let i=index">
              <td>{{i+1}}</td>
              <td>{{item.HEADERNO}}</td>
              <td>{{item.DESCRIPTION}}</td>
              <td [ngSwitch]="item.UNIT">
                <p *ngSwitchCase="'1'">PC</p>
                <p *ngSwitchCase="'2'">KG</p>
                <p *ngSwitchCase="'3'">MTR</p>
                <p *ngSwitchCase="'4'">LTR</p>
                <p *ngSwitchCase="'5'">UN</p>
              </td>
              <td>{{item.QUANTITY}}</td>
            </tr>
            <tr>
              <th colspan="5" class="text-center">Carton Box - 1</th>
            </tr>
            <tr *ngFor="let items of packagebom.message;let i=index">
              <td>{{i+1}}</td>
              <td>{{items.PART_NO}}</td>
              <td>{{items.DESCRIPTION}}</td>
              <td [ngSwitch]="items.UNIT">
                <p *ngSwitchCase="'1'">PC</p>
                <p *ngSwitchCase="'2'">KG</p>
                <p *ngSwitchCase="'3'">MTR</p>
                <p *ngSwitchCase="'4'">LTR</p>
                <p *ngSwitchCase="'5'">UN</p>
              </td>
              <td>{{items.QTY}}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>              
              <td>{{mixerdetails.enginemake}} Engine Catalogue</td>
              <td>PC</td>
              <td>1</td>
            </tr>
            <tr>
              <td></td>
              <td></td>              
              <td>{{mixerdetails.enginemake}} Ignition Key</td>
              <td>PC</td>
              <td>2</td>
            </tr>
            <tr>
              <td></td>
              <td></td>              
              <td>Instruction & Spare Parts Catelogue</td>
              <td>PC</td>
              <td>1</td>
            </tr>
            <tr>
              <th colspan="5" class="text-center">Carton Box - 2</th>
            </tr>
            <tr>
              <td>0</td>
              <td>60306408</td>
              <td>Roller Cover</td>
              <td>PC</td>
              <td>2</td>
            </tr>
            <tr>
              <th colspan="5" class="text-center">Loose Items</th>
            </tr>
            <tr *ngFor="let items of datafoc;let i=index">
              <td>{{i+1}}</td>
              <td>{{items.part_no}}</td>
              <td>{{items.description}}</td>
              <td [ngSwitch]="items.UNIT">
                <p *ngSwitchCase="'1'">PC</p>
                <p *ngSwitchCase="'2'">KG</p>
                <p *ngSwitchCase="'3'">MTR</p>
                <p *ngSwitchCase="'4'">LTR</p>
                <p *ngSwitchCase="'5'">UN</p>
              </td>
              <td>{{items.quantity}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class="btn btn-default">
        <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
        <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close
    </button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>

<!-- Edit -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Package Chassis</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editchassispackage(editfrm,edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editpchassis.id" required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Chassis Make.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" [(ngModel)]="editpchassis.chassismake" #chassismake="ngModel" name="chassismake" required>
                <div *ngIf="chassismake.invalid && (chassismake.dirty || chassismake.touched)" class="alert-danger">
                  <span *ngIf="chassismake.errors?.required">
                    Chassis Make is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Chassis Model</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Chassis Model" name="chassismodel" [(ngModel)]="editpchassis.chassismodel" #chassismodel="ngModel" required>
                <div *ngIf="chassismodel.invalid && (chassismodel.dirty || chassismodel.touched)" class="alert-danger">
                  <span *ngIf="chassismodel.errors?.required">
                    Chassis Model Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">ROH</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter ROH" name="roh" [(ngModel)]="editpchassis.roh" #roh="ngModel" required>
                <div *ngIf="roh.invalid && (roh.dirty || roh.touched)" class="alert-danger">
                  <span *ngIf="roh.errors?.required">
                    ROH Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">BSIII/IV</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter BSIII/IV" name="bsiii" [(ngModel)]="editpchassis.bsiii" #bsiii="ngModel" required>
                <div *ngIf="bsiii.invalid && (bsiii.dirty || bsiii.touched)" class="alert-danger">
                  <span *ngIf="bsiii.errors?.required">
                    BSIII/IV Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Remarks</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Remarks" name="remarks" [(ngModel)]="editpchassis.remarks" #remarks="ngModel" >
                <div *ngIf="remarks.invalid && (remarks.dirty || remarks.touched)" class="alert-danger">
                  <span *ngIf="remarks.errors?.required">
                    Remarks is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
    </div> -->
</ng-template>

<ng-template #foc let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit FOC Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #focfrm="ngForm" (ngSubmit)="editfoc(focfrm,foc)">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-8 col-form-label">FOC Materials to supply
            </label>
            <button (click)="addfocedit()">Add</button>
          </div>
        </div>
      </div>
      <div *ngFor="let editfocdata of datafoc; let in=index">
        <div class="row" style="display:none">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Id</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Emp No" name="id{{in}}" [(ngModel)]="editfocdata.id"
                  #eid="ngModel">
                <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                  <span *ngIf="eid.errors?.required">
                    ID is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">custid</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Emp No" name="custid" [(ngModel)]="mixerdetails.cust_id"
                  #cid="ngModel" appEmitfirstspace>
                <div *ngIf="cid.invalid && (cid.dirty || cid.touched)" class="alert-danger">
                  <span *ngIf="cid.errors?.required">
                    ID is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div>
          <td><button class="btn btn-light btn-square" type="button" (click)="deletefoc(editfocdata.id)">
              <i class="icofont icofont-ui-delete"></i>
            </button></td>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Part No.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Part No." name="partno{{in}}" [(ngModel)]="editfocdata.part_no"
                  #partno="ngModel" pattern="^\d[0-9]*$" appEmitfirstspace appDigitOnly required>
                <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                  <span *ngIf="partno.errors?.required">
                    Part No. is Required
                  </span>
                  <span *ngIf="partno.errors?.pattern">
                    Accepts only Numeric.
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Description</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Description" name="desc{{in}}" [(ngModel)]="editfocdata.description"
                  #desc="ngModel" appEmitfirstspace required>
                <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                  <span *ngIf="desc.errors?.required">
                    Description is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Unit</label>
              <div class="col-sm-8">

                <select class="form-control" name="unit{{in}}" [(ngModel)]="editfocdata.unit" #unit="ngModel" required>
                  <option [value]="undefined" selected disabled>Select Unit</option>
                  <option [value]="null" selected disabled>Select Unit</option>
                  <option [value]="PC">PC</option>
                  <option [value]="Meter">Meter</option>
                  <option [value]="KG">KG</option>
                </select>
                <div *ngIf="unit.invalid && (unit.dirty || unit.touched)" class="alert-danger">
                  <span *ngIf="unit.errors?.required">
                    Unit is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Quantity</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Quantity" name="quantity{{in}}" [(ngModel)]="editfocdata.quantity"
                  #quantity="ngModel" pattern="^\d[0-9]*$" appEmitfirstspace appDigitOnly required>
                <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert-danger">
                  <span *ngIf="quantity.errors?.required">
                    Quantity is Required
                  </span>
                  <span *ngIf="quantity.errors?.pattern">
                    Accepts only Numeric.
                  </span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!focfrm.form.valid">Update</button>
        </div>
      </div>

    </form>
  </div>
  <!-- <div class="app-modal-footer">
        <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
        <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
      </div> -->
</ng-template>