<div class="row">
  <div class="col-sm-12">
     <div class="card card-border-primary">
        <div class="card-header container">
          <div class="row">
            <div class="col-md-6">
              <h5>Mounting Arrangements BOM</h5>
              <p class="mandatoryfiles">* Fields Are mandatory</p>
            </div>
            <div class="col-md-6">
              <div class="text-right">
                <button class="btn btn-primary btn-square" type="button" (click)="open(bulkupload)">
                  <i class="icofont icofont-upload"></i> Bulk Upload
                </button>
              </div>        
            </div>
          </div>
        </div>
        <div class="card-block">
           <form class="form-horizontal" #frm="ngForm" (ngSubmit)="addmountinbom(frm)">
           <div class="row">
              <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Mounting Header<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <select class="form-control" name="headernos" [(ngModel)]="headernos.headerno" #headernos="ngModel" required>
                        <option [value]="undefined" selected hidden>Select Mounting Header</option>
                        <option [value]="null" selected hidden>Select Mounting Header</option>
                        <option *ngFor="let mountingheader of mountingheaders.message" [value]="mountingheader.id">{{ mountingheader.obj_desc }}</option>
                      </select>
                      <div *ngIf="headernos.invalid && (headernos.dirty || headernos.touched)" class="alert-danger">
                        <span *ngIf="headernos.errors?.required">
                          Header No. is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              <div class="col-sm-6">
                 <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">ID No.<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                       <input type="text" class="form-control" Placeholder="Enter ID No." name="idno" ngModel #idno="ngModel" pattern="^\d[0-9]*$" appEmitfirstspace appDigitOnly required>
                       <div *ngIf="idno.invalid && (idno.dirty || idno.touched)" class="alert-danger">
                          <span *ngIf="idno.errors?.required">
                          ID No. is Required
                          </span>
                          <span *ngIf="idno.errors?.pattern">
                          Accepts only Numeric.
                          </span>
                       </div>
                    </div>
                 </div>
              </div>              
           </div>
           <div class="row">
              <div class="col-sm-6">
                  <div class="form-group row">
                     <label class="col-sm-4 col-form-label text-right">Description<span class="mandatoryfiles">*</span></label>
                     <div class="col-sm-8">
                        <input type="text" class="form-control" Placeholder="Enter Description" name="desc" ngModel #desc="ngModel"
                        appEmitfirstspace required>
                        <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                           <span *ngIf="desc.errors?.required">
                           Description is Required
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
              <div class="col-sm-6">
                 <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Revision No.<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                       <input type="text" class="form-control" Placeholder="Enter Revision No." name="revno" ngModel #revno="ngModel" pattern="^\d[0-9]*$" appEmitfirstspace appDigitOnly required>
                       <div *ngIf="revno.invalid && (revno.dirty || revno.touched)" class="alert-danger">
                          <span *ngIf="revno.errors?.required">
                          Revision No. is Required
                          </span>
                          <span *ngIf="revno.errors?.pattern">
                          Accepts only Numeric.
                          </span>
                       </div>
                    </div>
                 </div>
              </div>              
           </div>
           <div class="row">
              <div class="col-sm-6">
                  <div class="form-group row">
                     <label class="col-sm-4 col-form-label text-right">Revised Date<span class="mandatoryfiles">*</span></label>
                     <div class="col-sm-8">
                        <div class="input-group">
                           <input class="form-control" placeholder="yyyy-mm-dd" name="revdate" [(ngModel)]="model" ngbDatepicker #revdate="ngbDatepicker" required readonly>
                           <div class="input-group-append" >
                              <button class="btn btn-outline-secondary revdate" (click)="revdate.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                           </div>
                        </div>
                        <!-- <input type="date" class="form-control" name="revdate" max='2020-01-01' ngModel #revdate="ngModel" >-->
                        <div *ngIf="revdate.invalid && (revdate.dirty || revdate.touched)" class="alert-danger">
                           <span *ngIf="revdate.errors?.required">
                           Revised Date is required
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
              <div class="col-sm-6">
                 <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Date<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                       <div class="input-group">
                          <input class="form-control" placeholder="yyyy-mm-dd" name="welcomedates" [(ngModel)]="welcomedate" ngbDatepicker #welcomedates="ngbDatepicker" required readonly>
                          <div class="input-group-append" >
                             <button class="btn btn-outline-secondary welcomedates" (click)="welcomedates.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                          </div>
                       </div>
                       <!-- <input type="date" class="form-control" name="date" max='2020-01-01' ngModel #date="ngModel"
                          required> -->
                       <div *ngIf="welcomedates.invalid && (welcomedates.dirty || welcomedates.touched)" class="alert-danger">
                          <span *ngIf="welcomedates.errors?.required">
                          Date is required
                          </span>
                       </div>
                    </div>
                 </div>
              </div>
           </div>
           <div class="row">             
              <div class="col-sm-6">
                  <div class="form-group row">
                     <label class="col-sm-4 col-form-label text-right">Created By<span class="mandatoryfiles">*</span></label>
                     <div class="col-sm-8">
                        <input type="text" class="form-control" placeholder="Created By" name="createdby" ngModel #createdby="ngModel" 
                        appEmitfirstspace required>
                        <div *ngIf="createdby.invalid && (createdby.dirty || createdby.touched)" class="alert-danger">
                           <span *ngIf="createdby.errors?.required">
                           Created By is Required
                           </span>
                        </div>
                     </div>
                  </div>
               </div>
               <div class="col-sm-6">
                <div class="form-group row">
                   <label class="col-sm-4 col-form-label text-right">Unit<span class="mandatoryfiles">*</span></label>
                   <div class="col-sm-8">
                      <select class="form-control" name="unit" [(ngModel)]="setunit" #unit="ngModel" required>
                        <option [value]="undefined" selected hidden>Select Unit</option>
                        <option [value]="null" selected hidden>Select Unit</option>
                        <option [value]="1">PC</option>
                        <option [value]="2">KG</option>
                        <option [value]="3">MTR</option>
                        <option [value]="4">LTR</option>
                        <option [value]="5">UN</option>
                      </select>
                      <div *ngIf="unit.invalid && (unit.dirty || unit.touched)" class="alert-danger">
                         <span *ngIf="unit.errors?.required">
                         Unit is Required
                         </span>
                         <span *ngIf="unit.errors?.pattern">
                          Unit should be Numeric
                          </span>
                      </div>
                      
                   </div>
                </div>
             </div>
           </div>
           <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Quantity<span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" placeholder="Quantity" name="qty" ngModel #qty="ngModel" pattern="^\d[0-9]*$"
                    appEmitfirstspace appDigitOnly required>
                    <div *ngIf="qty.invalid && (qty.dirty || qty.touched)" class="alert-danger">
                        <span *ngIf="qty.errors?.required">
                            Quantity is Required
                        </span>
                        <span *ngIf="qty.errors?.pattern">
                            Quantity should be Numeric
                        </span>
                    </div>
                    
                  </div>
              </div>
            </div>
           </div>

           <hr>
           <div>
              <div class="form-group row float-right">
                 <button class="btn btn-primary btn-square" type="submit" [disabled]="!frm.form.valid">
                 <i class="icofont icofont-tick-mark"></i> Submit
                 </button>
                 <button class="btn btn-info btn-square" type="button" (click)="reset(frm)">
                 <i class="icofont icofont-refresh"></i> Reset
                 </button>
                 <!-- <button class="btn btn-info btn-square" type="button">
                    <i class="icofont icofont-refresh"></i> Reset
                    </button> -->
                 <!-- end of dropdown menu -->
              </div>
           </div>
           </form>
        </div>
        <!-- end of card-footer -->
     </div>
  </div>
</div>
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
     <h4 class="modal-title">Bulk Upload</h4>
     <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
     <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
     </button>
  </div>
  <div class="modal-body">
     <div class="row">
        <div class="col-sm-4 text-right">
           <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
        </div>
        <label class="custom-file col-sm-6">
           <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class="
           btn btn-default">
        </label>
     </div>
  </div>
  <div class="modal-footer">
     <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close</button>
     <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>
<div class="row">
  <div class="col-sm-12">
     <div class="card card-border-primary">
        <div class="card-block table-responsive">
           <table class="datatable table table-striped table-bordered row-border hover">
              <thead>
                 <tr>
                    <th>S.No.</th>
                    <th>Header No</th>
                    <th>Header Desc</th>
                    <th>ID No.</th>
                    <th>Description</th>
                    <th>Revision No.</th>
                    <th>Revised Date</th>
                    <th>Date</th>
                    <th>Created By</th>
                    <th>Unit</th>
                    <th>Quantity</th>
                    <th>Action</th>
                 </tr>
              </thead>
              <tbody>
                 <tr *ngFor="let item of mountinginternal.message;let i =index">
                    <td>{{i+1}}</td>
                    <td>{{item.HEADERNO}}</td>
                    <td>{{item.OBJ_DESC}}</td>
                    <td>{{item.ID_NO}}</td>
                    <td>{{item.DESCRIPTION}}</td>
                    <td>{{item.REVISION_NO}}</td>
                    <td>{{item.REVISED_date}}</td>
                    <td>{{item.DATE}}</td>
                    <td>{{item.CREATED_BY}}</td>
                    <td [ngSwitch]="item.UNIT">
                      <p *ngSwitchCase="'1'">PC</p>
                      <p *ngSwitchCase="'2'">KG</p>
                      <p *ngSwitchCase="'3'">MTR</p>
                      <p *ngSwitchCase="'4'">LTR</p>
                      <p *ngSwitchCase="'5'">UN</p>
                    </td>
                    <td>{{item.QUANTITY}}</td>
                    <td>
                       <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                       <i class='icofont icofont-fountain-pen'></i>
                       </button>
                       <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletemountingbom(item.MOUNTINGHEADERS_ID)'>
                       <i class='icofont icofont-trash'></i>
                       </button>
                    </td>
                 </tr>
              </tbody>
           </table>
        </div>
     </div>
  </div>
</div>
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit Mounting Internal BOM</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
     <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editmountinginternal(editfrm,edit)">
     <div class="row" style="display:none">
        <div class="col-md-6">
           <div class="form-group row">
              <label class="col-sm-4 col-form-label">Id<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                 <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editmountinginternals.ID" required #eid="ngModel">
                 <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                    <span *ngIf="eid.errors?.required">
                    ID is Required
                    </span>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Drum Header<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select class="form-control" name="headernos" [(ngModel)]="editmountinginternals.MOUNTINGHEADERS_ID" #headernos="ngModel" required>
                  <option [value]="undefined" selected hidden>Select Mounting Header</option>
                  <option [value]="null" selected hidden>Select Mounting Header</option>
                  <option *ngFor="let mountingheader of mountingheaders.message" [value]="mountingheader.id">{{ mountingheader.obj_desc }}</option>
                </select>
                <div *ngIf="headernos.invalid && (headernos.dirty || headernos.touched)" class="alert-danger">
                  <span *ngIf="headernos.errors?.required">
                    Header No. is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        <div class="col-sm-6">
           <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">ID No.<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                 <input type="text" class="form-control" Placeholder="Enter ID No." name="idno" [(ngModel)]="editmountinginternals.ID_NO" #idno="ngModel" pattern="^\d[0-9]*$" appEmitfirstspace appDigitOnly required>
                 <div *ngIf="idno.invalid && (idno.dirty || idno.touched)" class="alert-danger">
                    <span *ngIf="idno.errors?.required">
                    ID No. is Required
                    </span>
                    <span *ngIf="idno.errors?.pattern">
                    Accepts only Numeric.
                    </span>
                 </div>
              </div>
           </div>
        </div>
        
     </div>
     <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
               <label class="col-sm-4 col-form-label text-right">Description<span class="mandatoryfiles">*</span></label>
               <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Description" name="desc" [(ngModel)]="editmountinginternals.DESCRIPTION" #desc="ngModel" appEmitfirstspace required>
                  <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                     <span *ngIf="desc.errors?.required">
                     Description is Required
                     </span>
                  </div>
               </div>
            </div>
         </div>
         <div class="col-sm-6">
            <div class="form-group row">
               <label class="col-sm-4 col-form-label text-right">Revision No.<span class="mandatoryfiles">*</span></label>
               <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Revision No." name="revno" [(ngModel)]="editmountinginternals.REVISION_NO" #revno="ngModel" pattern="^\d[0-9]*$" appEmitfirstspace appDigitOnly required>
                  <div *ngIf="revno.invalid && (revno.dirty || revno.touched)" class="alert-danger">
                     <span *ngIf="revno.errors?.required">
                     Revision No. is Required
                     </span>
                     <span *ngIf="revno.errors?.pattern">
                     Accepts only Numeric.
                     </span>
                  </div>
               </div>
            </div>
         </div>
     </div>
     <div class="row">
        <div class="col-sm-6">
           <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Revised Date<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                  <div class="input-group">
                      <input type="text" class="form-control"  name="revdate" [(ngModel)]="editrevdate" #revdate="ngbDatepicker" ngbDatepicker
                      required readonly>
                      <div class="input-group-append" >
                         <button class="btn btn-outline-secondary revdate" (click)="revdate.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                      </div>
                  </div>                 
                 <div *ngIf="revdate.invalid && (revdate.dirty || revdate.touched)" class="alert-danger">
                    <span *ngIf="revdate.errors?.required">
                    Revised Date is Required
                    </span>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-sm-6">
           <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Date<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                  <div class="input-group">
                      <input type="text" class="form-control" name="date" [(ngModel)]="editdates" #date="ngbDatepicker"  ngbDatepicker
                      required readonly>
                      <div class="input-group-append" >
                         <button class="btn btn-outline-secondary revdate" (click)="date.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                      </div>
                  </div>                 
                 <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert-danger">
                    <span *ngIf="date.errors?.required">
                    Date is Required
                    </span>
                 </div>
              </div>
           </div>
        </div>
     </div>
     <div class="row">
        <div class="col-sm-6">
           <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Created By<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                 <input type="text" class="form-control" placeholder="Created By" name="createdby" [(ngModel)]="editmountinginternals.CREATED_BY" #createdby="ngModel" appEmitfirstspace required>
                 <div *ngIf="createdby.invalid && (createdby.dirty || createdby.touched)" class="alert-danger">
                    <span *ngIf="createdby.errors?.required">
                    Created By is Required
                    </span>
                 </div>
              </div>
           </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
             <label class="col-sm-4 col-form-label text-right">Unit<span class="mandatoryfiles">*</span></label>
             <div class="col-sm-8">
                <select class="form-control" name="unit" [(ngModel)]="editmountinginternals.UNIT"  #units="ngModel" required>
                  <option [value]="undefined" selected hidden>Select Unit</option>
                  <option [value]="null" selected hidden>Select Unit</option>
                  <option [value]="1">PC</option>
                  <option [value]="2">KG</option>
                  <option [value]="3">MTR</option>
                  <option [value]="4">LTR</option>
                  <option [value]="5">UN</option>
                </select>
                <div *ngIf="units.invalid && (units.dirty || units.touched)" class="alert-danger">
                   <span *ngIf="units.errors?.required">
                   Unit is Required
                   </span>
                   <span *ngIf="units.errors?.pattern">
                    Unit should be Numeric
                    </span>
                </div>
                
             </div>
          </div>
       </div>
     </div>
     <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Quantity<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="Quantity" name="qty" [(ngModel)]="editmountinginternals.QUANTITY" #qty="ngModel" pattern="^\d[0-9]*$" appEmitfirstspace appDigitOnly  required>
                <div *ngIf="qty.invalid && (qty.dirty || qty.touched)" class="alert-danger">
                    <span *ngIf="qty.errors?.required">
                        Quantity is Required
                    </span>
                    <span *ngIf="qty.errors?.pattern">
                        Quantity should be Numeric
                    </span>
                </div>
                
              </div>
          </div>
        </div>
      </div>
     <hr>
     <div class="form-group row float-right">
        <div class="col-sm-6">
           <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
           <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
     </div>
     </form>
  </div>
</ng-template>