<div class="row">
  <div class="col-sm-12">
    <form class="form-horizontal" name="addform" #addfrm="ngForm" (ngSubmit)="addmixerwip(addfrm)">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="row">
            <div class="col-md-6">
              <h5>Mixer Planning </h5>
              <p class="mandatoryfiles">* Fields Are mandatory</p>
            </div>
            <div class="col-md-6">
              <div class="text-right">
                <button class="btn btn-primary btn-square" type="button" (click)="openbulkupload(bulkupload)">
                  <i class="icofont icofont-upload"></i> Bulk Upload
                </button>
              </div>  
            </div>
          </div>
        </div>
        <div class="card-block">
          <div class="row">            
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Part No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="partno" [(ngModel)]="mixerpartnos" #partnos="ngModel" required (change)="getworkorderno(partnos.value)">
                    <option [value]="undefined" selected hidden>Select Part No.</option>
                    <option [value]="null" selected hidden>Select Part No.</option>
                    <option *ngFor="let item of getmixerparts.message" [value]="item.id">{{item.part_no}}_{{item.mixer_model}}</option>
                  </select>
                  <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                    <span *ngIf="partnos.errors?.required">
                      Part No. is Required
                    </span>
                  </div>                  
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">WorkOrder No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="workorderno" [(ngModel)]="workorder" #workordernos="ngModel" required (change)="getpartno(workordernos.value)">
                    <option [value]="undefined" selected hidden>Select Workorder No.</option>
                    <option [value]="null" selected hidden>Select Workorder No.</option>
                    <option *ngFor="let item of mixerplanning.message" [value]="item.id">{{item.workorder_no}}</option>
                  </select>
                  <div *ngIf="workordernos.invalid && (workordernos.dirty || workordernos.touched)" class="alert-danger">
                    <span *ngIf="workordernos.errors?.required">
                        WorkOrder No. is Required
                    </span>
                    <span *ngIf="workordernos.errors?.pattern">
                      WorkOrder No. should acceptd only Numeric.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Description</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Description" name="description" [(ngModel)]="mixerdetails.mixer_description" #description="ngModel" readonly>
                  <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert-danger">
                    <span *ngIf="description.errors?.required">
                      Description is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Channel Width</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Channel Width" name="channelwidth" [(ngModel)]="mixerdetails.channelassembly_widthheight" #channelwidth="ngModel" readonly>
                  <div *ngIf="channelwidth.invalid && (channelwidth.dirty || channelwidth.touched)" class="alert-danger">
                    <span *ngIf="channelwidth.errors?.required">
                      Channel Width is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Hydraulic Combination</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Hydraulic Combination" name="hydrauliccombination" [(ngModel)]="mixerdetails.waterpump_hydcombution" #hydrauliccombination="ngModel" readonly>
                  <div *ngIf="hydrauliccombination.invalid && (hydrauliccombination.dirty || hydrauliccombination.touched)" class="alert-danger">
                    <span *ngIf="hydrauliccombination.errors?.required">
                       Hydraulic Combination is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Customer Name<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="customername" [(ngModel)]="customernames" #customername="ngModel" required>
                    <option [value]="undefined" selected hidden>Select Customer Name</option>
                    <option [value]="null" selected hidden>Select Customer Name</option>
                    <option *ngFor="let items of customer.message" [value]="items.id">{{items.custid}}_{{items.customer_name}}</option>
                  </select>
                  <div *ngIf="customername.invalid && (customername.dirty || customername.touched)" class="alert-danger">
                    <span *ngIf="customername.errors?.required">
                       Customer Name is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Color<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Color" name="color" ngModel #color="ngModel"
                    required appEmitfirstspace>
                  <div *ngIf="color.invalid && (color.dirty || color.touched)" class="alert-danger">
                    <span *ngIf="color.errors?.required">
                      Color is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Logo/Strips<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Logo/Strips" name="logo" ngModel #logo="ngModel"
                    required appEmitfirstspace>
                  <div *ngIf="logo.invalid && (logo.dirty || logo.touched)" class="alert-danger">
                    <span *ngIf="logo.errors?.required">
                      Logo/Strips is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>            
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Mounting Category<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="mountingcategory" [(ngModel)]="selmoucate" #mountingcategory="ngModel" required>
                    <option [value]="undefined" selected hidden>Select Mounting Category</option>
                    <option [value]="null" selected hidden>Select Mounting Category</option>
                    <option value="1">Export</option>
                    <option value="2">FBV</option>
                    <option value="3">Party Mounting</option>
                    <option value="4">Mixer</option>
                    
                  </select>
                  <div *ngIf="mountingcategory.invalid && (mountingcategory.dirty || mountingcategory.touched)" class="alert-danger">
                    <span *ngIf="mountingcategory.errors?.required">
                      Mounting Category is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Mixer Assembly S.No</label>
                <div class="col-sm-8">
                  <!-- <input type="text" class="form-control" name="slno" placeholder="Enter Mixer Assembly Sl.No" [(ngModel)]="slnos" #slno="ngModel" required disabled> -->
                  <input class="form-control" placeholder="Enter Engine NO." name="engineno" [(ngModel)]="getmixerassembly.mixer_s_no" #engineno="ngModel" readonly>
                  <div *ngIf="engineno.invalid && (engineno.dirty || engineno.touched)" class="alert-danger">
                    <span *ngIf="engineno.errors?.required">
                      Mixer Assembly Sl.No is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>            
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Engine NO.</label>
                <div class="col-sm-8">
                  <input class="form-control" placeholder="Enter Engine NO." name="engineno" [(ngModel)]="getmixerassembly.engine_sl_no" #engineno="ngModel" readonly>
                  <div *ngIf="engineno.invalid && (engineno.dirty || engineno.touched)" class="alert-danger">
                    <span *ngIf="engineno.errors?.required">
                      Engine NO. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">GB NO.</label>
                <div class="col-sm-8">
                  <input class="form-control" placeholder="Enter Engine NO." name="gbno" [(ngModel)]="getmixerassembly.gear_box_sl_no" #gbno="ngModel" readonly>
                  <div *ngIf="gbno.invalid && (gbno.dirty || gbno.touched)" class="alert-danger">
                    <span *ngIf="gbno.errors?.required">
                      GB NO. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>                        
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Mixer Status<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  
                  <select class="form-control" name="mixerstatus" [(ngModel)]="getmixerassembly.selmixstatu" #mixerstatus="ngModel" disabled required>
                    <option [value]="undefined" selected hidden>Select Mixer Status</option>
                    <option [value]="null" selected hidden>Select Mixer Status</option>
                    <option value="6">Yet to start</option>
                    <option value="1">Under Testing</option>
                    <option value="2">Under Rework</option>
                    <option value="3">Ready for Painting</option>
                    <option value="4">Painted</option>
                    <option value="5">FG</option>
                    <option value="7">In Progress</option>
                    <option value="8">Dispatched </option>
                  <!--  <option value="1">Under Testing</option>
                    <option value="2">Under Rework</option>
                    <option value="3">Under Dispatch</option>-->
                  </select>
                  <div *ngIf="mixerstatus.invalid && (mixerstatus.dirty || mixerstatus.touched)" class="alert-danger">
                    <span *ngIf="mixerstatus.errors?.required">
                      Mixer Status is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Workorder Date</label>
                <div class="col-sm-8">
                  <input class="form-control" placeholder="Enter Work Order Date" name="workorderdate" [(ngModel)]="getmixerassembly.plan_schedule"  #workorderdates="ngModel" readonly>
                  <div *ngIf="workorderdates.invalid && (workorderdates.dirty || workorderdates.touched)" class="alert-danger">
                    <span *ngIf="workorderdates.errors?.required">
                      Workorder Date is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>            
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Assembly Date</label>
                <div class="col-sm-8">
                  <input class="form-control" placeholder="Enter Assembly Date" name="assemblydate" [(ngModel)]="getmixerassembly.date_mfg"  #assemblydates="ngModel" readonly>
                  <div *ngIf="assemblydates.invalid && (assemblydates.dirty || assemblydates.touched)" class="alert-danger">
                    <span *ngIf="assemblydates.errors?.required">
                      Assembly Date is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">FG Date</label>
                <div class="col-sm-8">
                  <input class="form-control" placeholder="Enter FG Date" name="fgdate" [(ngModel)]="getmixerassembly.fg_date"  #fgdates="ngModel" readonly>
                  <div *ngIf="fgdates.invalid && (fgdates.dirty || fgdates.touched)" class="alert-danger">
                    <span *ngIf="fgdates.errors?.required">
                      Fg Date is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class=row>
        <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Sales Region</label>
              <div class="col-sm-8">
                <select class="form-control" name="salesregion" (ngModel)="salesregion" #salesregion="ngModel" required>
                  <option [value]="undefined" selected hidden>Enter Sales Region</option>
                  <option [value]="null" selected hidden>Enter Sales Region</option>
                  <option [value]="1">Domestic</option>
                  <option [value]="2">Export</option>
                  </select>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="task-board m-0">
            <!-- end of dropdown-secondary -->
            <div class="dropdown-secondary dropdown">
              <button class="btn btn-primary btn-square" type="submit" [disabled]="!addfrm.form.valid">
                <i class="icofont icofont-tick-mark"></i> Submit
              </button>
              <button class="btn btn-info btn-square" type="button" (click)="resetform(addfrm)">
                <i class="icofont icofont-refresh"></i> Reset
              </button>
              <!-- end of dropdown menu -->
            </div>
            <!-- end of seconadary -->
          </div>
          <!-- end of pull-right class -->
        </div>
      </div>
        <!-- end of card-footer -->
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.NO</th>
              <th>Work Order No</th>              
              <th>Part No</th>
              <th>Description</th>
              <th>Channel Width</th>
              <th>Hydraulic Combination</th>
              <th>Customer Name</th>
              <th>Color</th>
              <th>Logo/Strips</th>
              <th>Mounting Category</th>
              <th>Mixer S.No</th>
              <th>Engine No.</th>  
              <th>GB No.</th>  
              <th>Work Order Date</th>
              <th>Assembly Date</th>
              <th>Tested</th>
              <th>Reworked</th>
              <th>Painted</th>              
              <th>FG Date</th>
              <th>Dispatched</th>
              <th>Sales Region</th>
              <th>Action</th>
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of mixerwip.message;let i =index">
              <td>{{i+1}}</td>
              <td>{{item.workorder_no}}</td>
              <td>{{item.part_no}}</td>              
              <td>{{item.mixer_description}}</td>
              <td>{{item.channelassembly_widthheight}}</td>
              <td>{{item.waterpump_hydcombution}}</td>
              <td>{{item.customer_name}}</td>
              <td>{{item.color}}</td>
              <td>{{item.logo}}</td>
              <td [ngSwitch]="item.mountingcategory">
                <p *ngSwitchCase="'1'">Export</p>
                <p *ngSwitchCase="'2'">FBV</p>
                <p *ngSwitchCase="'3'">Party Mounting</p>
                <p *ngSwitchCase="'4'">Mixer</p> <!--26.04.19 Adding options by sam-->
              </td>
              <td>{{item.mixer_s_no}}</td>
              <td>{{item.engine_sl_no}}</td>
              <td>{{item.gear_box_sl_no}}</td>
              <td>{{item.plan_schedule}}</td>
              <td>{{item.date_mfg}}</td>
              <td>{{item.tested}}</td>
              <td>{{item.reworked}}</td>
              <td>{{item.painting_date}}</td>
              <td>{{item.fg_date}}</td>
              <td>{{item.dispatched_date}}</td>
              <td [ngSwitch]="item.salesregion">
                <p *ngSwitchCase="'1'">Demostic</p>
                <p *ngSwitchCase="'2'">Export</p>
              </td>

              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <span *ngIf="item.work_station==27">
                <button class='btn  btn-primary btn-danger btn-outline-danger btn-icon' (click)='notdelete()'>
                  <i class='icofont icofont-trash'></i>
                </button></span>
                <span *ngIf="item.work_station!=27">
                  <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletewip(item.id)' >
                    <i class='icofont icofont-trash'></i>
                  </button></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit Chassis Inspection</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reloadPage()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="editfrm" #editfrm="ngForm" (ngSubmit)="editmixerwip(editfrm, edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editwipprocess.id" required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">            
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Part No.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="partno" [(ngModel)]="editwipprocess.partnoid" #partnos="ngModel" required (change)="getworkorderno(partnos.value)">
                <option [value]="undefined" selected hidden>Select Part No.</option>
                <option [value]="null" selected hidden>Select Part No.</option>
                <option *ngFor="let item of getmixerparts.message" [value]="item.id">{{item.part_no}}_{{item.mixer_model}}</option>
              </select>
              <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                <span *ngIf="partnos.errors?.required">
                  Part No. is Required
                </span>
              </div>                  
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">WorkOrder No.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="workorderno" [(ngModel)]="editwipprocess.workorderno" #workordernos="ngModel" required (change)="getpartno(workordernos.value)">
                <option [value]="undefined" selected hidden>Select Workorder No.</option>
                <option [value]="null" selected hidden>Select Workorder No.</option>
                <option *ngFor="let item of mixerplanning.message" [value]="item.id">{{item.workorder_no}}</option>
              </select>
              <div *ngIf="workordernos.invalid && (workordernos.dirty || workordernos.touched)" class="alert-danger">
                <span *ngIf="workordernos.errors?.required">
                    WorkOrder No. is Required
                </span>
                <span *ngIf="workordernos.errors?.pattern">
                  WorkOrder No. should acceptd only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      
      <!-- <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">WorkOrder No.</label>
            <div class="col-sm-8">
              <select class="form-control" name="workorderno" [(ngModel)]="editwipprocess.workorderno" #workordernos="ngModel" required (change)="getpartno(workordernos.value)">
                <option *ngFor="let item of mixerplanning.message" [value]="item.id">{{item.workorder_no}}</option>
              </select>
              <div *ngIf="workorderno.invalid && (workorderno.dirty || workorderno.touched)" class="alert-danger">
                <span *ngIf="workorderno.errors?.required">
                  WorkOrder No. is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Part No.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Part No" name="partno" [(ngModel)]="editwipprocess.partno"
                #partnos="ngModel" required readonly>
              <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                <span *ngIf="partnos.errors?.required">
                  Part No. is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Description</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Description" name="description" [(ngModel)]="mixerdetails.mixer_description" #description="ngModel" readonly>
              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert-danger">
                <span *ngIf="description.errors?.required">
                  Description is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Channel Width</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Channel Width" name="channelwidth" [(ngModel)]="mixerdetails.channelassembly_widthheight"
                #channelwidth="ngModel" readonly>
              <div *ngIf="channelwidth.invalid && (channelwidth.dirty || channelwidth.touched)" class="alert-danger">
                <span *ngIf="channelwidth.errors?.required">
                  Channel Width is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Hydraulic Combination</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Hydraulic Combination" name="hydrauliccombination" [(ngModel)]="mixerdetails.waterpump_hydcombution"
                #hydrauliccombination="ngModel" readonly>
              <div *ngIf="hydrauliccombination.invalid && (hydrauliccombination.dirty || hydrauliccombination.touched)" class="alert-danger">
                <span *ngIf="hydrauliccombination.errors?.required">
                  Hydraulic Combination is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Customer Name<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="customername" [(ngModel)]="editwipprocess.customername" #customername="ngModel" required>
                <option [value]="undefined" selected hidden>Select Customer Name</option>
                <option [value]="null" selected hidden>Select Customer Name</option>
                <option *ngFor="let items of customer.message" [value]="items.id">{{items.customer_name}}</option>
              </select>
              <div *ngIf="customername.invalid && (customername.dirty || customername.touched)" class="alert-danger">
                <span *ngIf="customername.errors?.required">
                  Customer Name is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Color<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Color" name="color" [(ngModel)]="editwipprocess.color" #color="ngModel" required appEmitfirstspace>
              <div *ngIf="color.invalid && (color.dirty || color.touched)" class="alert-danger">
                <span *ngIf="color.errors?.required">
                  Color is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Logo/Strips<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Logo/Strips" name="logo" [(ngModel)]="editwipprocess.logo" #logo="ngModel" appEmitfirstspace required>
              <div *ngIf="logo.invalid && (logo.dirty || logo.touched)" class="alert-danger">
                <span *ngIf="logo.errors?.required">
                  Logo/Strips is Required
                </span>
              </div>
            </div>
          </div>
        </div>        
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Mounting Category<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="mountingcategory" [(ngModel)]="editwipprocess.mountingcategory" #mountingcategory="ngModel" required>
                <option [value]="undefined" selected hidden>Select Mounting Category</option>
                <option [value]="null" selected hidden>Select Mounting Category</option>
                <option value="1">Export</option>
                <option value="2">FBV</option>
                <option value="3">Party Mounting</option>
                <option value="4">Mixer</option>
              </select>
              <div *ngIf="mountingcategory.invalid && (mountingcategory.dirty || mountingcategory.touched)" class="alert-danger">
                <span *ngIf="mountingcategory.errors?.required">
                  Mounting Category is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Mixer Assembly S.No</label>
            <div class="col-sm-8">
              <!-- <input type="text" class="form-control" name="slno" placeholder="Enter Mixer Assembly Sl.No" [(ngModel)]="slnos" #slno="ngModel" required disabled> -->
              <input class="form-control" placeholder="Enter Engine NO." name="engineno" [(ngModel)]="getmixerassembly.mixer_s_no" #engineno="ngModel" readonly>
              <div *ngIf="engineno.invalid && (engineno.dirty || engineno.touched)" class="alert-danger">
                <span *ngIf="engineno.errors?.required">
                  Mixer Assembly Sl.No is Required
                </span>
              </div>
            </div>
          </div>
        </div>        
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Engine NO.</label>
            <div class="col-sm-8">
              <input class="form-control" placeholder="Enter Engine NO." name="engineno" [(ngModel)]="getmixerassembly.engine_sl_no" #engineno="ngModel" readonly>
              <div *ngIf="engineno.invalid && (engineno.dirty || engineno.touched)" class="alert-danger">
                <span *ngIf="engineno.errors?.required">
                  Engine NO. is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">GB NO.</label>
            <div class="col-sm-8">
              <input class="form-control" placeholder="Enter Engine NO." name="gbno" [(ngModel)]="getmixerassembly.gear_box_sl_no" #gbno="ngModel" readonly>
              <div *ngIf="gbno.invalid && (gbno.dirty || gbno.touched)" class="alert-danger">
                <span *ngIf="gbno.errors?.required">
                  GB NO. is Required
                </span>
              </div>
            </div>
          </div>
        </div>                        
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Mixer Status<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="mixerstatus" [(ngModel)]="editwipprocess.mixerstatus" #mixerstatus="ngModel" disabled required>
                <!--<option [value]="undefined" selected hidden>Select Mixer Status</option>
                <option [value]="null" selected hidden>Select Mixer Status</option>
                <option value="4">Yet to start </option>
                <option value="1">Under Testing</option>
                <option value="2">Under Reworked</option>
                <option value="3">Under Dispatch</option>-->
                <option value="6">Yet to start</option>
                <option value="1">Under Testing</option>
                <option value="2">Under Rework</option>
                <option value="3">Ready for Painting</option>
                <option value="4">Painted</option>
                <option value="5">FG</option>
                <option value="7">In Progress</option>
                <option value="8">Dispatched</option>
              </select>
              <div *ngIf="mixerstatus.invalid && (mixerstatus.dirty || mixerstatus.touched)" class="alert-danger">
                <span *ngIf="mixerstatus.errors?.required">
                  Mixer Status is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Workorder Date</label>
            <div class="col-sm-8">
              <input class="form-control" placeholder="Enter Work Order Date" name="workorderdate" [(ngModel)]="editwipprocess.plan_schedule"
              #workorderdatess="ngModel" readonly>
              <div *ngIf="workorderdatess.invalid && (workorderdatess.dirty || workorderdatess.touched)" class="alert-danger">
                <span *ngIf="workorderdatess.errors?.required">
                  Workorder Date is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Assembly Date</label>
            <div class="col-sm-8">
              <input class="form-control" placeholder="Enter Assembly Date" name="assemblydate" [(ngModel)]="getmixerassembly.date_mfg"  #assemblydates="ngModel" readonly>
              <div *ngIf="assemblydates.invalid && (assemblydates.dirty || assemblydates.touched)" class="alert-danger">
                <span *ngIf="assemblydates.errors?.required">
                  Assembly Date is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">FG Date</label>
            <div class="col-sm-8">
              <input class="form-control" placeholder="Enter FG Date" name="fgdate" [(ngModel)]="getmixerassembly.fg_date"  #fgdates="ngModel" readonly>
              <div *ngIf="fgdates.invalid && (fgdates.dirty || fgdates.touched)" class="alert-danger">
                <span *ngIf="fgdates.errors?.required">
                  Fg Date is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class=row>
        <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Sales Region</label>
              <div class="col-sm-8">
                <select class="form-control" name="salesregion" [(ngModel)]="editwipprocess.salesregion" #salesregion="ngModel" required>
                  <option [value]="undefined" selected hidden>Enter Sales Region</option>
                  <option [value]="null" selected hidden>Enter Sales Region</option>
                  <option [value]="1">Domestic</option>
                  <option [value]="2">Export</option>
                  </select>
              </div>
            </div>
          </div>
        </div>

      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reloadPage()">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>

<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reloadPage(bulkupload)">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <!-- <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder
            ="Upload file"> -->
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class="
              btn btn-default">
        <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
        <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
        <!-- <span class="custom-file-control"></span> -->
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click');reloadPage(bulkupload)">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>