<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="col-md-6">          
          <h5>CNC Segment Cutting Request</h5>          
        </div> 
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Part No</label>
              <div class="col-sm-8">
                <select class="form-control" name="part" [(ngModel)]="selpartnos" #part="ngModel" required (ngModelChange)="get_partno($event)">
                  <option [value]="undefined" selecetd hidden>Select Part No</option>
                  <option [value]="null" selecetd hidden>Select Part No</option>
                  <option value="ALL" selected>ALL</option>
                  <option *ngFor="let item of partno" [value]="item.id">{{item.raw_partno}} ({{item.description}})</option>
                </select>
                <div *ngIf="part.invalid && (part.dirty || part.touched)" class="alert-danger">
                  <span *ngIf="part.errors?.required">
                    Part No is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" (click)="getdetails($event)">Submit </button>
            </div>
          </div>
      </div>
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Date</th>
              <th>Emp. ID</th>
              <th>RM Part No.</th>           
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of segmentdetails;let i =index">
              <td>{{i+1}}</td>
              <td>{{item.created_at}}</td>
              <td>{{item.userid}}</td>
              <td>{{item.raw_partno}}</td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='getdrumdetails(item);openedit(edit)'>
                    <div align="Center"><i class='icofont icofont-eye-alt'></i></div>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<!-- Add Bulk Upload  -->
<ng-template #plates let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">CNC Segment Cutting</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">    
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="accept(partno,1,plates.value)">Submit</button>
  </div>
</ng-template>
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">CNC Segment Cutting Request</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #editfrm="ngForm" >
        <div class="card-block">
            <table class="datatable table table-striped table-bordered row-border hover">
              <thead>
                <tr >
                  <th>S.No.</th>
                  <th>Drum Model</th>
                  <th>Segment Qty</th>                
                  <th>Cone Category</th>                
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of drumdetails;let i =index">
                  <td>{{i+1}}</td>
                  <td>{{item.drum_model}}</td>
                  <td>{{item.no_of_plate_segment}}</td>               
                  <td>{{item.cone_category}}</td>               
                </tr>
              </tbody>
            </table>
          </div>
          <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Total Segment Weight</label>
                  <div class="col-sm-8">
                                     
                    <label class="col-form-label">{{weight}} Kg</label>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">RM Weight</label>
                      <div class="col-sm-8">                        
                        <label class="col-form-label">{{rm_weight}} Kg</label>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Scrap(%)</label>
                      <div class="col-sm-8">
                        <label class="col-form-label">{{scrap_percentage}} %</label>
                      </div>
                    </div>
                  </div>
            </div>
            <div class="row" *ngIf="action == 1">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">No. of Plates</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter No. of Plates" name="plates" (ngModelChange)="noofplates($event)" ngModel #plates="ngModel" pattern="^\d[0-9]*$"
                    required>
                  <div *ngIf="plates.invalid && (plates.dirty || plates.touched)" class="alert-danger">
                    <span *ngIf="plates.errors?.required">
                    No of Plates is Required
                    </span>
                    <span *ngIf="plates.errors?.pattern">
                        Accepts only Numeric.
                    </span>
                  </div>
                </div>
            </div>
          </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-primary waves-effect waves-light pull-right" (click)="accept(searchpartno,0)">Accept</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-danger waves-effect waves-light pull-right" (click)="accept(searchpartno,1)">Reject</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>
<!-- Edit -->

