<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block">
        <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="getdetails(frm,addNew)">

          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label text-right">Choose Module</label>
                <div class="col-sm-5">
                  <select class="form-control" name="type" ngModel #type="ngModel" required (ngModelChange)="gettype($event)">
                    <option value="" selected disabled>Select  Report</option>
                    <option value="1"> Drum Module </option>
                    <option value="2"> Mixer Module </option>
                  </select>
                  <div *ngIf="type.invalid && (type.dirty || type.touched||frm.submitted)" class="alert-danger">
                    <span *ngIf="type.errors?.required">
                      Choose Module Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div [ngSwitch]="choosep">
            <div *ngSwitchCase="2">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-sm-5 col-form-label text-right">Choose Type</label>
                    <div class="col-sm-5">
                      <select class="form-control" name="mixertype" ngModel #mixertype="ngModel" required>
                        <option value="" selected disabled>Select Type</option>
                        <option value="1"> Production</option>
                        <option value="2"> Dispatch </option>
                      </select>
                      <div *ngIf="mixertype.invalid && (mixertype.dirty || mixertype.touched||frm.submitted)" class="alert-danger">
                        <span *ngIf="mixertype.errors?.required">
                          Choose Type Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label text-right">Select Period:</label>
                <div class="col-sm-5">
                  <select class="form-control" name="productionduration" ngModel
                    #productionduration="ngModel" required (ngModelChange)="getduration($event)">
                    <option value="" selected disabled>Select  Duration</option>
                    <option value="1"> Historical </option>
                    <option value="3"> Date Selection </option>
                  </select>
                  <div *ngIf="productionduration.invalid && (productionduration.dirty || productionduration.touched||frm.submitted)"
                    class="alert-danger">
                    <span *ngIf="productionduration.errors?.required">
                      Choose Production Duration Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div [ngSwitch]="productiondurations">
            <div *ngSwitchCase="1">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-6 col-form-label text-right">From Date:</label>
                    <div class="col-sm-6">
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="fromcalendar" ngModel ngbDatepicker
                          #fromcalendar="ngbDatepicker" [minDate]="hist_mindate" [maxDate]="hist_maxdate" required
                          readonly [markDisabled]="isDisabled" (ngModelChange)="onChange($event)">


                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="fromcalendar.toggle()"
                            type="buton"><i class="icofont icofont-ui-calendar"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-right">To Date:</label>
                    <div class="col-sm-6">
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="tocalendar" [minDate]="hist_mindate"
                          [maxDate]="hist_maxdate" [(ngModel)]="model" ngbDatepicker #tocalendar="ngbDatepicker"
                          required readonly>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="tocalendar.toggle()"
                            type="button"><i class="icofont icofont-ui-calendar"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngSwitchCase="3">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-6 col-form-label text-right">From Date:</label>
                    <div class="col-sm-6">
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="fromcalendar" [minDate]="mindate"
                          [maxDate]="maxdate" [(ngModel)]="models" ngbDatepicker #fromcalendar="ngbDatepicker" required
                          readonly>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="fromcalendar.toggle()"
                            type="button"><i class="icofont icofont-ui-calendar"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-right">To Date:</label>
                    <div class="col-sm-6">
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="tocalendar" [minDate]="mindate"
                          [maxDate]="maxdate" [(ngModel)]="model" ngbDatepicker #tocalendar="ngbDatepicker" required
                          readonly>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="tocalendar.toggle()"
                            type="button"><i class="icofont icofont-ui-calendar"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- <div class="row">
                              <div class="col-md-12">
                                <div class="form-group row">   
                                  <label class="col-sm-5 col-form-label text-right">Select Period:</label>                           
                                  <div class="col-sm-5">
                                    <select class="form-control" name="productionduration" [(ngModel)]="productiondurations" #productionduration="ngModel" required>
                                      <option value="" selected disabled >Select Production Duration</option>
                                      <option value="1"> Monthly </option>                          
                                      <option value="2"> Date Selection </option>
                                    </select>
                                    <div *ngIf="productionduration.invalid && (productionduration.dirty || productionduration.touched)" class="alert-danger">
                                      <span *ngIf="productionduration.errors?.required">
                                        Choose Production Duration Required
                                      </span>
                                    </div>
                                  </div>
                                </div>
                              </div>          
                            </div> -->
            </div>
          </div>
          <hr>

          <div class="form-group row pull-right">
            <div class="container">
              <button class="btn btn-info  btn-primary btn-square" type="submit">
             
                <i class="icofont icofont-check"></i> Submit
              </button>
            </div>
          </div>
        </form>

        <!-- end of card-footer -->
      </div>
      <div class="card-block">
        <div class="row table-responsive">
          <div [ngSwitch]="choosep">
            <div *ngSwitchCase="'1'">
                <button (click)="export()">Export</button>
              <table #exampletable class="table table-striped table-bordered row-border hover" id="exampletable">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Drum Part No.</th>
                    <th>Drum Model</th>
                    <th>Planned</th>
                    <th>Actual</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of details;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.part_no}}</td>
                    <td>{{item.model}}</td>
                    <td>{{planned[i]}}</td>
                    <td>{{actual[i]}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngSwitchCase="'2'">
                <button (click)="export1()">Export</button>
              <table #exampletable1 class="table table-striped table-bordered row-border hover" id="exampletable1">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Mixer Part No.</th>
                    <th>Mixer Model</th>
                    <th>Mixer Description</th>
                    <th>Planned</th>
                    <th>Actual</th>
                  </tr>
                </thead>
                <tr *ngFor="let item of details;let i=index">
                  <td>{{i+1}}</td>
                  <td>{{item.part_no}}</td>
                  <td>{{item.model}}</td>
                  <td>{{item.mixer_description}}</td>
                  <td>{{item.planned}}</td>
                  <td>{{item.actual}}</td>
                </tr>
                <tbody>
                </tbody>
              </table>
            </div>
            <div *ngSwitchCase="'3'">
                <button (click)="export2()">Export</button>
              <table #exampletable2 datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover" id="exampletable2">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Cone Category.</th>
                    <th>Type</th>
                    <th>Segment</th>
                    <th>Planned</th>
                    <th>Actual</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>80103985</td>
                    <td>3 RHS</td>
                    <td>Description</td>
                    <td>60</td>
                    <td>70</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>80103985</td>
                    <td>3 RHS</td>
                    <td>Description</td>
                    <td>60</td>
                    <td>70</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>80103985</td>
                    <td>3 RHS</td>
                    <td>Description</td>
                    <td>60</td>
                    <td>70</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
