<div class="row">
    <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="col-md-6">
            <h5>Delay/Snag/Rework</h5>
          </div> 
        </div>
        <div class="modal-body">
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Process Type</label>
                    <div class="col-sm-8">
                      <select class="form-control" name="processtype" ngModel #processtype="ngModel" required (ngModelChange)="getworkstation($event)">
                        <option value="" selected disabled>Select Process Type</option>
                        <option value="1">Fabrication</option>       
                        <option value="2">Assembly</option>    
                      </select>
                      <div *ngIf="processtype.invalid && (processtype.dirty || processtype.touched)" class="alert-danger">
                        <span *ngIf="processtype.errors?.required">
                          Process Type is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Workstation</label>
                    <div class="col-sm-8">
                      <select  class="form-control" name="workstation" ngModel #workstation="ngModel" required (ngModelChange)="getselectedworkstation($event)">
                        <option value="" selected disabled>Select Workstation</option>
                        <option value="ALL" >ALL</option>
                        <option class='option' *ngFor='let option of workstationnames' [value]="option.id">{{option.operation_code}}_{{option.list_of_operation}}</option>
                      </select>
                      <div *ngIf="workstation.invalid && (workstation.dirty || workstation.touched)" class="alert-danger">
                        <span *ngIf="workstation.errors?.required">
                            Workstation is Required
                        </span>
                      </div>
                    </div>                   
                  </div>
                </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Type</label>
                    <div class="col-sm-8">
                      <select class="form-control" name="type" ngModel #type="ngModel" required (ngModelChange)="getselectedtype($event)">
                        <option value="" selected disabled>Select Type</option>                     
                        <option value="1">Delay</option>       
                        <option value="2">Rework</option>       
                        <option value="3">Snag</option>       
                      </select>
                      <div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert-danger">
                        <span *ngIf="type.errors?.required">
                          Type is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" (click)="getdetails()">Submit </button>
            </div>
          </div>
        </div>
        <div class="card-block" *ngIf="isselected == '1'">
          <table class="datatable table table-responsive table-striped table-bordered row-border hover">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Emp.ID</th>
                <th>Code</th>                  
                <th>Description</th>         
                <th>Comments</th>         
                <th>Model</th>         
                <th>Action</th>
              </tr>
            </thead>
            <tbody>            
                <tr *ngFor="let item of details;let i=index">
                  <td>{{i+1}}</td>
                  <td>{{item.emp_no}}</td>
                  <td>{{item.code}}</td>
                  <td>{{item.description}}</td>
                  <td>{{item.remarks}}</td>
                  <td>{{item.drum_model}}</td>
                <td> 
                    <!-- <!-(click)='openedit(edit)'--> 
                  <button class='btn btn-primary btn-outline-secondary btn-icon' (click)='approveorreject(item.id,1)'>
                      <div align="Center"><i class='icofont icofont-tick-mark'></i></div>
                  </button>
                  <button class='btn btn-primary btn-danger btn-icon' (click)='approveorreject(item.id,2)'>
                      <div align="Center"><i class='icofont icofont-brand-nexus'></i></div>
                  </button>
                </td> 
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end of card-footer -->
      </div>
    </div>
  </div> 
  <!-- Add Bulk Upload  -->
  <ng-template #bulkupload let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Bulk Upload</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-4 text-right">
          <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
        </div>
        <label class="custom-file col-sm-6">
          <!-- <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder
              ="Upload file"> -->
          <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class="
                btn btn-default">
          <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
          <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
          <!-- <span class="custom-file-control"></span> -->
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
    </div>
  </ng-template>
  
 <ng-template #edit let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Rework Time</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" #editfrm="ngForm">

            <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Reworked Time</label>
                    <div class="col-sm-8">                                       
                        <ngb-timepicker [(ngModel)]="edittime" [seconds]="seconds" name="timings" #timngs="ngModel" required (ngModelChange)="timechangededit($event)"></ngb-timepicker>
                    </div>
                  </div>
                </div>
              </div>
            
        <hr>
        <div class="form-group row float-right">
          <div class="col-sm-6">
            <button type="button" class="btn btn-primary waves-effect waves-light pull-right" (click)="d('Cross click')">Submit</button>
          </div>
         
        </div>
      </form>
    </div>
    <!-- <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
    </div> -->
  </ng-template>
  <!-- Edit -->
  
  