<form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="getdetails(frm,addNew)">
  <div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Select WIP Report:</label>
              <div class="col-sm-5">
                <select class="form-control" name="choosereport" [(ngModel)]="choosereports" #choosereport="ngModel"
                  required (ngModelChange)="getreporttype($event)">
                  <option value="" selected disabled>Select Production Duration</option>
                  <option value="1"> Work In Progress Report </option>
                  <option value="2"> Mixer Prod. Master Report </option>
                </select>
                <div *ngIf="choosereport.invalid && (choosereport.dirty || choosereport.touched||frm.submitted)" class="alert-danger">
                  <span *ngIf="choosereport.errors?.required">
                    WIP Report is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div [ngSwitch]="choosereports">
          <div *ngSwitchCase="'1'">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-5 col-form-label text-right">Select Status:</label>
                  <div class="col-sm-5">
                    <select class="form-control" name="selstatus" ngModel #selstatuss="ngModel"
                      required (ngModelChange)="getstatus($event)">
                      <option value="" selected disabled>Select Status</option>
                      <option value="1"> U/Testing </option>
                      <option value="2"> U/Rework </option>
                      <option value="3"> F/Painting </option>
                      <option value="4"> Painted </option>
                      <option value="5"> FG </option>
                    </select>
                    <div *ngIf="selstatuss.invalid && (selstatuss.dirty || selstatuss.touched||frm.submitted)" class="alert-danger">
                      <span *ngIf="selstatuss.errors?.required">
                        Status Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngSwitchCase="'2'">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-5 col-form-label text-right">Select Status:</label>
                  <div class="col-sm-5">
                    <select class="form-control" name="selstatus" [(ngModel)]="selstatus" #selstatuss="ngModel"
                      required (ngModelChange)="getstatus($event)" placeholder="Select Status">
                      <option value="" selected disabled>Select Status</option>
                      <option value="1"> MANUFACTURED ON </option>
                      <option value="2"> TESTED </option>
                      <option value="3"> REWORKED </option>
                      <option value="4"> FG </option>
                      <option value="5"> DISPATCHED </option>
                    </select>
                    <div *ngIf="selstatuss.invalid && (selstatuss.dirty || selstatuss.touched||frm.submitted)" class="alert-danger">
                      <span *ngIf="selstatuss.errors?.required">
                        Status Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Part No</label>
              <div class="col-sm-5">
                <!--<select class="form-control" name="part" [(ngModel)]="selpartnos" #part="ngModel" required
                  (ngModelChange)="get_partno($event)">
                  <option [value]="undefined" selecetd hidden>Select Part No</option>
                  <option [value]="null" selected hidden>Select Part No</option>
                  <option value="ALL" selected>ALL</option>
                  <option *ngFor="let item of partno" [value]="item.id">{{item.part_no}} ({{item.mixer_model}})</option>
                </select>-->
                <angular2-multiselect [data]="dropdownList_partno" [(ngModel)]="selpartnos" ngModel name="part" #part="ngModel" required 
                [settings]="dropdownSettings_partno" 
                (onSelect)="getselectedpartno($event)" 
               ></angular2-multiselect>
                <div *ngIf="part.invalid && (part.dirty || part.touched||frm.submitted)" class="alert-danger">
                  <span *ngIf="part.errors?.required">
                    Part No is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="row">
            <div class="col-md-12">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Select Period:</label>                           
                <div class="col-sm-5">
                  <select class="form-control" name="productionduration" [(ngModel)]="productiondurations" #productionduration="ngModel" required>
                    <option value="" selected disabled >Select Production Duration</option>
                    <option value="1"> Historical </option>
                    <option value="3"> Date Selection </option>
                  </select>
                  <div *ngIf="productionduration.invalid && (productionduration.dirty || productionduration.touched)" class="alert-danger">
                    <span *ngIf="productionduration.errors?.required">
                       Production Duration Required
                    </span>
                  </div>
                </div>
              </div>
            </div>          
          </div> -->
        <div [ngSwitch]="productiondurations">
          <div *ngSwitchCase="'3'">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-6 col-form-label text-right">From Date:</label>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" name="fromcalendar" [(ngModel)]="models"
                        ngbDatepicker #fromcalendar="ngbDatepicker" required readonly (ngModelChange)="getfromdate($event)">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="fromcalendar.toggle()" type="button"><i
                            class="icofont icofont-ui-calendar"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-3 col-form-label text-right">To Date:</label>
                  <div class="col-sm-6">
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" name="tocalendar" [(ngModel)]="model"
                        ngbDatepicker #tocalendar="ngbDatepicker" required readonly (ngModelChange)="gettodate($event)">
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="tocalendar.toggle()" type="button"><i
                            class="icofont icofont-ui-calendar"></i></button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="row pull-right">
          <div class="container">
            <button class="btn btn-info btn-primary btn-square" type="submit" >
              <i class="icofont icofont-check"></i> Submit
            </button>
          </div>
        </div>

        <!-- end of card-footer -->
      </div>
      <div class="card-block">
        <div class="row table-responsive">
          <div [ngSwitch]="choosereports">
            <div *ngSwitchCase="'1'">
                <button (click)="export()">Export</button>
                <table #extab class="table table-striped table-bordered row-border hover" id="extab">
                <thead>
                  <tr>
                    <th> S.No.</th>
                    <th>Workorder No.</th>
                    <th> Channel Width </th>
                    <th> Part No. </th>
                    <th> Mixer Model</th>
                    <th>Mixer S.No. </th>
                    <th> Hydraulic Combination</th>
                    <th>Engine/Gear No.</th>
                    <th> Manufactured On.</th>
                    <th> Tested On.</th>
                    <th> Reworked On.</th>
                    <th> Painted On.</th>
                    <th> FG Date</th>
                    <th> Dispatched Date</th>
                    <!--<th>Status</th>-->
                    <th> Customer Name</th>
                    <th> Color</th>
                    <th>Export/FBV/Party Mounting/Mixer</th>
                    <th>W/o Confirmation Status</th>
                    <th>Confirmation Done By.</th>
                    <th>Production FG Location</th>
                    <th>Remarks</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of details;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.workorder_no}}</td>
                    <td>{{item.channelassembly_widthheight}}</td>
                    <td>{{item.part_no}}</td>
                    <td>{{item.model}}</td>
                    <td>{{item.mixer_s_no}}</td>
                    <td>{{item.hydraulic_combination}}</td>
                    <td>{{item.pm_no}}</td>
                    <td>{{item.manufactured_on}}</td>
                    <td>{{item.tested_on}}</td>
                    <td>{{item.reworked_on}}</td>
                    <td>{{item.painted_on}}</td>
                    <td>{{item.fg_date}}</td>
                    <td>{{item.dispatched_date}}</td>
                    <!--<td>143</td>-->
                    <td>{{item.customer_name}}</td>
                    <td>{{item.mix_color}}</td>
                    <td [ngSwitch]=item.mountingcategory>
                      <p *ngSwitchCase="1">Export</p>
                      <p *ngSwitchCase="2">FBV</p>
                      <p *ngSwitchCase="3">Party Mounting</p>
                      <p *ngSwitchCase="4">Mixer</p>
                    </td>
                    <td *ngIf="item.mixer_workorder_confirmation == 0;else falsetemplate">Not Confirmed</td>
                    <ng-template #falsetemplate>
                      <td>Confirmed</td>
                    </ng-template>
                    <td></td>
                    <td *ngIf="item.fg_location == 1;else falsetemplate1">SSIPL</td>
                    <ng-template #falsetemplate1>
                        <td>Others</td>
                      </ng-template>
                    <td></td>
                  </tr>
                </tbody>
                </table>
              
            </div>
            <div *ngSwitchCase="'2'">
              <div *ngIf="selstatus == '5'">
                <!-- <div [ngSwitch]="selstatus"> -->
                <!-- <div *ngSwitchCase="'5'"> -->
                <button (click)="export1()">Export</button>
                <table #extable class="table table-striped table-bordered row-border hover" id="extable">
                <thead>
                  <tr>
                    <th> S.No.</th>
                    <th> Mixer Part. No</th>
                    <th> Mixer Model </th>
                    <th>Chassis Suitable For</th>
                    <th> Hyd. Combination</th>
                    <th>Mixer Assembled this year</th>
                    <th>Total Stock</th>
                    <th> Year Opening Stock </th>
                    <th> Mixers Dispatched this year</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of details;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.part_no}}</td>
                    <td>{{item.model}}</td>
                    <td>{{item.waterpump_chassis}}</td>
                    <td>{{item.waterpump_hydcombution}}</td>
                    <td>{{item.r_stock}}</td>
                    <td>-</td>
                    <td>--</td>
                    <td>{{item.total}}</td>
                  </tr>
                
                </tbody>
              </table>
         </div>
         <div *ngIf="selstatus != '5'">
         <!-- <div *ngSwitchCase="'4'">  -->
            <button (click)="export1()">Export</button>
            <table #extable class="table table-striped table-bordered row-border hover" id="extable">
            <thead>
              <tr>
                <th> S.No.</th>
                <th> Mixer Part. No</th>
                <th> Mixer Model </th>
                <th>Chassis Suitable For</th>
                <th> Hyd. Combination</th>
                <th>Stock</th>
               </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of details;let i=index">
                <td>{{i+1}}</td>
                <td>{{item.part_no}}</td>
                <td>{{item.model}}</td>
                <td>{{item.waterpump_chassis}}</td>
                <td>{{item.waterpump_hydcombution}}</td>
                <td>{{item.total}}</td>
              </tr>
           
            </tbody>

            <!-- <tfoot>
              <tr>
              <td colspan="5"><b>Total</b> </td>
              <td> </td></tr>
            </tfoot> -->
          </table>
     </div>
         </div>
           
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</form>