<div class="row">
    <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-block">
          <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="showtable()"  >
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label text-right">Choose Part No:</label>
                <div class="col-sm-5">
                 <!-- <select class="form-control" name="chooseproduction" [(ngModel)]="choosep" #chooseproduction="ngModel" required >
                    <option value="" selected disabled >Select Production Report</option>
                    <option value="1"> 80100123 </option>
                    <option value="2"> 80100124 </option>
                    <option value="3"> 80100125 </option>
                    <option value="4"> 80100126 </option>
                  </select>-->
                  <angular2-multiselect [data]="dropdownList" [(ngModel)]="choosep" ngModel name="chooseproduction" #chooseproduction="ngModel" required 
                    [settings]="dropdownSettings" 
                    (onSelect)="onpartnoselect($event)" 
                   ></angular2-multiselect>
                  <div *ngIf="chooseproduction.invalid && (chooseproduction.dirty || chooseproduction.touched||frm.submitted)" class="alert-danger">
                    <span *ngIf="chooseproduction.errors?.required">
                      Choose Production Report Required
                    </span>
                  </div>
                </div>
              </div>
            </div>          
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Select Period:</label>                           
                <div class="col-sm-5">
                  <select class="form-control" name="productionduration" (change)="reortDuratioChange($event)" [(ngModel)]="productiondurations" #productionduration="ngModel" required>
                    <option value="" selected disabled >Select Production Duration</option>
                    <option value="1"> Historical </option>
                    <option value="2"> Calendar </option>
                  </select>
                  <div *ngIf="productionduration.invalid && (productionduration.dirty || productionduration.touched||frm.submitted)" class="alert-danger">
                    <span *ngIf="productionduration.errors?.required">
                      Choose Production Duration Required
                    </span>
                  </div>
                </div>
              </div>
            </div>          
          </div>
          <!--<div [ngSwitch]="productiondurations">
            <div *ngSwitchCase="'3'">-->
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label text-right">From Date:</label>
                        <div class="col-sm-6">
                          <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd" name="fromcalendar" [(ngModel)]="fromdatemodel" (ngModelChange)="fromdatechanged($event)" ngbDatepicker [minDate]="from_mindate" [maxDate]="from_maxdate" #fromcalendar="ngbDatepicker" readonly required>
                              <div class="input-group-append" >
                                <button class="btn btn-outline-secondary calendar" (click)="fromcalendar.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                              </div>
                            </div>
                            <div *ngIf="fromcalendar.invalid && (fromcalendar.dirty || fromcalendar.touched||frm.submitted)" class="alert-danger">
                              <span *ngIf="fromcalendar.errors?.required">
                                From date is required
                              </span>
                            </div>
                        </div>                      
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">To Date:</label>
                        <div class="col-sm-6">
                          <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd" name="tocalendar" [(ngModel)]="todatemodel" ngbDatepicker [minDate]="to_mindate" [maxDate]="to_maxdate" #tocalendar="ngbDatepicker" required readonly>
                              <div class="input-group-append" >
                                <button class="btn btn-outline-secondary calendar" (click)="tocalendar.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                              </div>
                            </div>
                            <div *ngIf="tocalendar.invalid && (tocalendar.dirty || tocalendar.touched||frm.submitted)" class="alert-danger">
                              <span *ngIf="tocalendar.errors?.required">
                                To date is required
                              </span>
                            </div>
                        </div>                      
                    </div>
                </div>
              </div>
              <div class="row pull-right">
                <div class="container">            
                 
                  <button  class="btn btn-info btn-primary btn-square" type="submit">
                    <i class="icofont icofont-check"></i> Submit
                  </button>
                </div>
              </div>
              <br>
           <!-- </div>          
          </div>-->
          <hr>
          <br>
          </form>
        <!-- end of card-footer -->
        </div>
        <div class="card-block">          
          <div class="row table-responsive">
              <button (click)="export()">Export</button>
            
              <table #mixertable class="table datatable1 table-striped table-bordered row-border hover" id="mixertable">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Mixer Part No.</th>
                    <th>Channel Width</th>
                    <th>Drum No </th>
                    <th>Mix.Sl.No</th>
                    <th>Mixer Model </th>
                    <th>Date of MFG</th>
                    <th>Remarks</th>
                    <th>Engine Make</th>
                    <th>Engine Model</th>
                    <th>Engine.S. No.</th>
                    <th>Mixer W/O. No</th>
                    <th>G.B Make</th>
                    <th>G.B Model</th>
                    <th>G.B Serial No.</th>
                    <th>Hyd.pump Make</th>
                    <th>Hyd.pump Model</th>
                    <th>Hyd.pump Serial No.</th>
                    <th>Hyd.motor Make</th>
                    <th>Hyd.motor Model</th>
                    <th>Hyd.motor Serial No.</th>
                    <th>Water pump Make</th>
                    <th>Water pump Serial No.</th>
                
                  </tr>
                </thead>
                <tbody>
                  
                    <tr *ngFor="let item of tabledata;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{item.part_no}}</td>
                        <td>{{item.channelassembly_widthheight}}</td>
                        <td>{{item.drum_sl_no}}</td>
                        <td>{{item.mixer_s_no}}</td>
                        <td>{{item.mix_model}}</td>
                        <td>{{item.date_mfg}}</td>
                        <td>{{item.waterpump_remarks}}</td>
                        <td>{{item.engine_make}}</td>
                        <td>{{item.engine_model}}</td>
                        <td>{{item.engine_sl_no}}</td>
                        <td>{{item.work_order_no}}</td>
                        <td>{{item.gearbox_make}}</td>
                        <td>{{item.gearbox_model}}</td>
                        <td>{{item.gear_box_sl_no}}</td>
                        <td>{{item.hydpump_make}}</td>
                        <td>{{item.hydpump_model}}</td>
                        <td>{{item.hyd_pump_s_no}}</td>
                        <td>{{item.hydmotor_make}}</td>
                        <td>{{item.hydmotor_model}}</td>
                        <td>{{item.hyd_motor_s_no}}</td>
                        <td>{{item.waterpump_make}}</td>
                        <td>{{item.water_pump_s_no}}</td>

                      </tr>
             
                </tbody>
              </table>          
          </div>
        </div>
      </div>
    </div>
  </div>