<form class="form-horizontal" name="addform" #frm="ngForm">
<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block">
        <div class="row">
          <div class="col-md-12">
              <div class="form-group row">
                  <label class="col-sm-5 col-form-label text-right">Choose Type:</label>
                  <div class="col-sm-5">
                    <select class="form-control" name="choosetype" ngModel #choosetype="ngModel" required (ngModelChange)="getreporttype($event)">
                      <option value="" selected disabled >Select Type</option>
                      <option value="1"> Fabrication</option>
                      <option value="2"> Assembly</option>
                    </select>
                    <div *ngIf="choosetype.invalid && (choosetype.dirty || choosetype.touched||frm.submitted)" class="alert-danger">
                      <span *ngIf="choosetype.errors?.required">
                        Choose type Required
                      </span>
                    </div>
                  </div>
                </div>
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Choose Report Type:</label>
              <div class="col-sm-5">
                <select class="form-control" name="chooseproduction" ngModel #chooseproduction="ngModel" required (ngModelChange)="gettype($event)">
                  <option value="" selected disabled >Select Report Type</option>
                  <option value="1"> Snag </option>
                  <option value="2"> Delay </option>
                  <option value="3"> Rework </option>
                  <!-- <option value="4"> By Technician </option> -->
                </select>
                <div *ngIf="chooseproduction.invalid && (chooseproduction.dirty || chooseproduction.touched||frm.submitted)" class="alert-danger">
                  <span *ngIf="chooseproduction.errors?.required">
                    Choose Report Type Required
                  </span>
                </div>
              </div>
            </div>
            <div class="form-group row">
             
              <label *ngIf="reporttype=='1' && type != 4" class="col-sm-5 col-form-label text-right">Choose Drum Model:</label>
              <div *ngIf="reporttype=='1' && type != 4" class="col-sm-5">
                <!--<select class="form-control" name="model" [(ngModel)]="choosemodels" #model="ngModel" required (ngModelChange)="getmodel($event)">
                  <option value="" selected disabled >Select Drum Model</option>
                  <option value="ALL">ALL</option>
                  <option *ngFor="let item of drummodel" [value]="item.id">{{item.drum_model}}</option>
                </select>-->
                <angular2-multiselect [data]="dropdownList_model" [(ngModel)]="choosemodels" ngModel name="model" #model="ngModel" required 
                [settings]="dropdownSettings_model" 
                (onSelect)="getmodel($event)" 
               ></angular2-multiselect>
                <div *ngIf="model.invalid && (model.dirty || model.touched||frm.submitted)" class="alert-danger">
                  <span *ngIf="model.errors?.required">
                    Choose Drum Model Required
                  </span>
                </div>
              </div>
           
            
              <label *ngIf="reporttype=='2' && type != 4" class="col-sm-5 col-form-label text-right">Choose Mixer Model:</label>
              <div *ngIf="reporttype=='2' && type != 4" class="col-sm-5">
                <!--<select class="form-control" name="model" [(ngModel)]="choosemodels" #model="ngModel" required (ngModelChange)="getmodel($event)">
                  <option value="" selected disabled >Select Drum Model</option>
                  <option value="ALL">ALL</option>
                  <option *ngFor="let item of drummodel" [value]="item.id">{{item.drum_model}}</option>
                </select>-->
                <angular2-multiselect [data]="dropdownList_mixermodel" [(ngModel)]="choosemixermodels" ngModel name="mixermodel" #mixermodel="ngModel" required 
                [settings]="dropdownSettings_mixermodel" 
                (onSelect)="getmodel($event)" 
               ></angular2-multiselect>
                <div *ngIf="mixermodel.invalid && (mixermodel.dirty || mixermodel.touched||frm.submitted)" class="alert-danger">
                  <span *ngIf="mixermodel.errors?.required">
                    Choose Mixer Model Required
                  </span>
                </div>
              </div>
           
            </div>    


            <div  [ngSwitch]="reporttype">
              <div *ngSwitchCase="'1'">
                  <div class="row">
                      <div class="col-md-12">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label text-right">Select Process Category:</label>
                          <div class="col-sm-5">
                            <select class="form-control" name="choosecategory" ngModel
                              #choosecategory="ngModel" required (ngModelChange)="getworkstation($event)">
                              <option value="" selected disabled>Select Process Category</option>
                              <option value="7">Cone fabrication</option>
                              <option value="8">Drum fabrication</option>
                              <option value="9">Drum final Clearance</option>
                              <option value="10">RA Shell Process</option>
                            </select>
                            <div *ngIf="choosecategory.invalid && (choosecategory.dirty || choosecategory.touched||frm.submitted)"
                              class="alert-danger">
                              <span *ngIf="choosecategory.errors?.required">
                                 Process Category Required
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>
              <div *ngSwitchCase="'2'">
                  <div class="row">
                      <div class="col-md-12">
                        <div class="form-group row">
                          <label class="col-sm-5 col-form-label text-right">Select Process Category:</label>
                          <div class="col-sm-5">
                            <select class="form-control" name="choosecategory" ngModel
                              #choosecategory="ngModel" required (ngModelChange)="getworkstation($event)">
                              <option value="" selected disabled>Select Process Category</option>z
                              <!-- <option value="1">Preliminary Process</option> -->
                              <option value="2">Mixer Assembly</option>
                              <option value="3">Mixer Testing & Clearance</option>
                              <option value="4">Mixer Painting & FG Posting on SAP</option>
                              <!-- <option value="5">Mixer Mounting (Only based on Commercial Requirement)</option>
                              <option value="6">Mixer Delivery</option> -->
                            </select>
                            <div *ngIf="choosecategory.invalid && (choosecategory.dirty || choosecategory.touched||frm.submitted)"
                              class="alert-danger">
                              <span *ngIf="choosecategory.errors?.required">
                                 Process Category Required
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
              </div>    
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Choose Workstation:</label>
              <div class="col-sm-5">
               <!-- <select class="form-control" name="choosestation" ngModel #choosestation="ngModel" required (ngModelChange)="getstation($event)">
                  <option value="" selected disabled >Select Workstation</option>
                  <option value="ALL">ALL</option>
                  <option *ngFor="let item of station" [value]="item.id">{{item.operation_code}}({{item.list_of_operation}})</option>
                </select>-->
                <angular2-multiselect [data]="dropdownList_ws" [(ngModel)]="choosews" ngModel name="choosestation" #choosestation="ngModel" required 
                [settings]="dropdownSettings_ws" 
                (onSelect)="getstation($event)" 
               ></angular2-multiselect>

                <div *ngIf="choosestation.invalid && (choosestation.dirty || choosestation.touched||frm.submitted)" class="alert-danger">
                  <span *ngIf="choosestation.errors?.required">
                    Choose Workstation Required
                  </span>
                </div>
              </div>
            </div>               
            <div [ngSwitch]="choosep">
              <div *ngSwitchCase="'4'">            
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label text-right">Choose Technician:</label>
                      <div class="col-sm-5">
                        <!-- <angular2-multiselect [data]="dropdownList_technician" ngModel name="choostech" #choostech="ngModel" required 
                        [settings]="dropdownSettings_technician" 
                        (onSelect)="getselecttechnician($event)" 
                       ></angular2-multiselect> -->
                        <div *ngIf="choostech.invalid && (choostech.dirty || choostech.touched||frm.submitted)" class="alert-danger">
                          <span *ngIf="choostech.errors?.required">
                            Technician is Required.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>          
                </div>             
              </div>
            </div>
            <div class="form-group row">   
              <label class="col-sm-5 col-form-label text-right">Select Period:</label>                           
              <div class="col-sm-5">
                <select class="form-control" name="productionduration" ngModel #productionduration="ngModel" required (ngModelChange)="getduration($event)">
                  <option value="" selected disabled >Select Period</option>
                  <option value="1"> Historical</option>
                  <option value="3"> Date Selection </option>
                </select>
                <div *ngIf="productionduration.invalid && (productionduration.dirty || productionduration.touched||frm.submitted)" class="alert-danger">
                  <span *ngIf="productionduration.errors?.required">
                    Choose Period Required
                  </span>
                </div>
              </div>
            </div>    
          </div> 
          <!-- ,choosestation.value,productionduration.value -->
               
        </div>

  <!--      <div [ngSwitch]="productiondurations">
>>>>>>> b686570a868ed5e5a95e414d8e3df2098b13b7b0
>>>>>>> 16a1ff46d36ce8fb1b8f5f145617c7fb4268025e
            <div *ngSwitchCase="'3'">-->
              <div class="row" *ngIf="datemodelchange">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label text-right">From Date:</label>
                        <div class="col-sm-6">
                          <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd" name="fromcalendar" [(ngModel)]="fromdat" ngbDatepicker #fromcalendar="ngbDatepicker" required readonly (ngModelChange)="getfromdate($event)">
                              <div class="input-group-append" >
                                <button class="btn btn-outline-secondary calendar" (click)="fromcalendar.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                              </div>
                            </div>
                        </div>                      
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">To Date:</label>
                        <div class="col-sm-6">
                          <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd" name="tocalendar" [(ngModel)]="todat" ngbDatepicker #tocalendar="ngbDatepicker" required readonly (ngModelChange)="gettodate($event)">
                              <div class="input-group-append">
                                <button class="btn btn-outline-secondary calendar" (click)="tocalendar.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                              </div>
                            </div>
                        </div>                      
                    </div>
                </div>
              </div>    
          <!--  </div>          
          </div>-->
        <hr>
        <div class=" row pull-right">
          <div class="container">
                      
              <!-- <button class="btn btn-warning btn-square" type="button" (click)="reset()">
                <i class="icofont icofont-reset"></i> Reset
              </button> -->
              <button class="btn btn-info btn-square" type="submit" (click)="getdetails(choosetype.value,chooseproduction.value,productionduration.value)">
                <i class="icofont icofont-check"></i> Submit
              </button>
          </div>
          </div> 
        <hr>          
      <!-- end of card-footer -->
      </div>
      <div class="card-block">          
        <div class="row table-responsive">
          <div [ngSwitch]="choosep">
            <div *ngSwitchCase="'1'"> 
                <button (click)="export()">Export</button>
              <table #exdata class="table table-striped table-bordered row-border hover" id="ex1data">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Snag code</th>
                    <th>Snag Description</th>
                    <th>Operation code </th>
                    <th>Work station</th>
                    <th>Occurance </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of snagchecklist;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.code}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.operation_code}}</td>
                    <td>{{item.list_of_operation}}</td>
                    <td>{{item.monthly_occurance}}</td>
                  </tr>                             
                </tbody>
              </table>
            </div>
            <div *ngSwitchCase="'2'"> 
                <button (click)="export1()">Export</button>
                <table #exdata1 class="table table-striped table-bordered row-border hover" id="ex2data1">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Delay code</th>
                    <th>Delay Description</th>
                    <th>Operation code </th>
                    <th>Work station</th>
                    <th>Occurance </th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of delaychecklist;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.code}}</td>
                    <td>{{item.description}}</td>
                    <td>{{item.operation_code}}</td>
                    <td>{{item.list_of_operation}}</td>
                    <td>{{item.monthly_occurance}}</td>
                  </tr>     
                 
                </tbody>
              </table>
            </div>
            <div *ngSwitchCase="'3'"> 
                <button (click)="export2()">Export</button>
                <table #exdata2 class="table table-striped table-bordered row-border hover" id="ex2data2">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Rework code</th>
                    <th>Rework Description</th>
                    <th>Operation code </th>
                    <th>Work station</th>
                    <th>Occurance </th>
                  </tr>
                </thead>
                <tbody>
                  
                    <tr *ngFor="let item of reworkchecklist;let i=index">
                      <td>{{i+1}}</td>
                      <td>{{item.code}}</td>
                      <td>{{item.description}}</td>
                      <td>{{item.operation_code}}</td>
                      <td>{{item.list_of_operation}}</td>
                      <td>{{item.monthly_occurance}}</td>
                       
                  </tr>
              
                </tbody>
              </table>
            </div>
          <!--  <div *ngSwitchCase="'4'"> 
                <button (click)="export3()">Export</button>
              <table #exdata3 class="table table-striped table-bordered row-border hover" id="exdata3">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Operation Code</th>
                    <th>Workstation</th>
                    <th>Emp No</th>
                    <th>Technician Name</th>
                    <th>Snag codes created </th>
                    <th>Delay codes created</th>
                    <th>Rework codes created</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>FAB 08</td>
                    <td>Cone 1 spiral fixing & welding</td>
                    <td>Emp 01</td>
                    <td>Senthil</td>
                    <td>2</td>
                    <td>5</td>
                    <td>10</td>
                  </tr>  
                  <tr>
                    <td>2</td>
                    <td>FAB 09</td>
                    <td>Cone 2 TR setting </td>
                    <td>Emp 01</td>
                    <td>Senthil</td>
                    <td>2</td>
                    <td>5</td>
                    <td>10</td>
                  </tr> 
                  <tr>
                    <td>3</td>
                    <td>FAB 10</td>
                    <td>Cone 2 Spiral fixing</td>
                    <td>Emp 01</td>
                    <td>Senthil</td>
                    <td>2</td>
                    <td>5</td>
                    <td>10</td>
                  </tr>                   
                </tbody>
              </table>
            </div>-->
          </div>           
        </div>
      </div>
    </div>
  </div>
</div>