<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="col-md-6">
          <h5>Drum Clearance</h5>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Part No</label>
              <div class="col-sm-8">
                <select class="form-control" name="part" ngModel #part="ngModel" required (ngModelChange)="getserialno($event)">
                  <option value="" selected disabled>Select Part No</option>
                  <option *ngFor="let item of partno" [value]="item.id">{{item.drumpart_no}} ({{item.drum_model}})</option>
                </select>
                <div *ngIf="part.invalid && (part.dirty || part.touched)" class="alert-danger">
                  <span *ngIf="part.errors?.required">
                    Part No is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Drum Serial Number</label>
              <div class="col-sm-8">
                <select class="form-control" name="sno" ngModel #sno="ngModel" required (ngModelChange)="onserialchanged($event)">
                  <option value="" selected disabled>Select Serial No</option>
                  <option value="ALL">ALL</option>
                  <option *ngFor="let item of serialno" [value]="item.drum_serial_no">{{item.drum_serial_no}}</option>
                </select>
                <div *ngIf="sno.invalid && (sno.dirty || sno.touched)" class="alert-danger">
                  <span *ngIf="sno.errors?.required">
                    Drum Serial No is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" (click)="getdetails()">Submit</button>
          </div>
        </div>
      </div>
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Drum Sl.No.</th>
              <th>Drum Model</th>
              <th>Workorder No.</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of details;let i =index">
              <td>{{i+1}}</td>
              <td>{{item.drum_serial_no}}</td>
              <td>{{item.drum_model}}</td>
              <td>{{item.workorder_number}}</td>

              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>
<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <!-- <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder
            ="Upload file"> -->
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file"
          class="
              btn btn-default">
        <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
        <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
        <!-- <span class="custom-file-control"></span> -->
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>



<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Drum Clearance</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #editfrm="ngForm">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editprocess.id"
                required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
          <div class="form-group row">
            <div class="col-sm-2">
              <button class="btn btn-primary btn-square" type="button" (click)="proceed(editprocess.drum_serial_no,1)">
                <i class="icofont icofont-upload"></i> Proceed to Spare
              </button>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group row">
            <div class="col-sm-2">
              <button class="btn btn-primary btn-square" type="button" (click)="proceed(editprocess.drum_serial_no,2)">
                <i class="icofont icofont-upload"></i> Proceed to Assembly
              </button>
            </div>
          </div>
        </div>
      </div>

    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>
<!-- Edit -->