<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary"> 
      <div class="card-block">
          <form class="form-horizontal" name="editfrm" #editfrm="ngForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Engine SL.NO:</label>
              <div class="col-sm-5">
                <!--<select class="form-control" name="slno" [(ngModel)]="chooseslnos" #slno="ngModel" required
                  (ngModelChange)=getenginedetails($event)>
                  <option [value]="undefined" selected hidden>Select SL.NO.</option>
                  <option [value]="null" selected hidden>Select SL.No.</option>
                  <option *ngFor="let item of engineno" [value]="item.engine_sl_no">{{item.engine_sl_no}}</option>
                </select>-->
                <angular2-multiselect [data]="dropdownList" [(ngModel)]="chooseslnos" ngModel name="slno" #slno="ngModel" required 
                [settings]="dropdownSettings" 
                (onSelect)="getenginedetails($event)" 
               ></angular2-multiselect>
                <div *ngIf="slno.invalid && (slno.dirty || slno.touched)" class="alert-danger">
                  <span *ngIf="slno.errors?.required">
                    Engine.SL.NO is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Part NO:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="choosepartno" [(ngModel)]="partno" #choosepartno="ngModel"
                  required readonly>

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Mixer Sl.NO:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="choosemcslno" [(ngModel)]="mixerslno" #choosemcslno="ngModel"
                  required readonly>

              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Prd Cleared Date:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="pdtcleared" [(ngModel)]="prd_cleared_date" #pdtcleared="ngModel"
                  required readonly>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right"> Colour:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="choosecolour" [(ngModel)]="mix_color" #choosecolour="ngModel"
                  required readonly>

              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Painting Date:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="paintingdate" [(ngModel)]="painting_date" #paintingdate="ngModel"
                  required readonly>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Model:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="choosemodel" [(ngModel)]="model" #choosemodel="ngModel"
                  required readonly>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">FG Date:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="fgdate" [(ngModel)]="fg_date" #fgdate="ngModel" required
                  readonly>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Customer:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="choosecustomer" [(ngModel)]="customer_name"
                  #choosecustomer="ngModel" required readonly>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Contract:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="contract" [(ngModel)]="contractor_name" #contract="ngModel"
                  required readonly>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Select Checklist:</label>
              <div class="col-sm-5">
                <select class="form-control" name="checklistname" [(ngModel)]="checklistnames" #checklistname="ngModel"
                  required>
                  <option value="" selected disabled>Select Checklist</option>
                  <option value="1"> Painting/Inspection/Rework Checklist </option>
                  <option value="2"> Preperation Work </option>
                </select>
                <div *ngIf="checklistname.invalid && (checklistname.dirty || checklistname.touched)" class="alert-danger">
                  <span *ngIf="checklistname.errors?.required">
                    Choose Production Duration Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>

        <div class="row pull-right">
          <div class="container">
            <button class="btn btn-warning btn-square" type="reset">
              <i class="icofont icofont-reset"></i> Reset
            </button>
            <button class="btn btn-info btn-square" type="button" (click)="getqadetails(checklistname.value)">
              <i class="icofont icofont-check"></i> Submit
            </button>
          </div>
        </div>
        </form>
        <!-- end of card-footer -->
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Contractor Name:</label>             <div class="col-sm-5">
                <input type="text" class="form-control" name="supervisor" [(ngModel)]="contractor_empname" #supervisor="ngModel" required
                  readonly>
                <div *ngIf="supervisor.invalid && (supervisor.dirty || supervisor.touched)" class="alert-danger">
                  <span *ngIf="supervisor.errors?.required">
                    Choose Painting Supervisor Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Supervisor Name:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="qcinspector" [(ngModel)]="supervisor_empname" #qcinspector="ngModel" required
                  readonly>
                <div *ngIf="qcinspector.invalid && (qcinspector.dirty || qcinspector.touched)" class="alert-danger">
                  <span *ngIf="qcinspector.errors?.required">
                    Choose QC Inspector Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Contractor Signature:</label>                           
                <div class="col-sm-5">
                  <!-- <input type="text" class="form-control" name="supervisorsign" [(ngModel)]="painter_supervisor" #supervisorsign="ngModel" required readonly> -->
                  <a><img src="{{contractorsign||'assets/images/signature1.png'}}" class="form-control" height="100" width="200" alt="Signature Not Upload"  onerror="this.onerror=null;this.src='assets/images/signature1.png'"/></a>  
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Supervisor Signature:</label>                           
                <div class="col-sm-5">
                  <a><img src="{{supervisorsign||'assets/images/signature1.png'}}" class="form-control" height="100" width="200" alt="Signature Not Upload"  onerror="this.onerror=null;this.src='assets/images/signature1.png'"/></a>         
                </div>
              </div>
            </div>
          </div>   
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Contractor created Date:</label>                           
                <div class="col-sm-5">
                  <input type="text" class="form-control" name="supervisordate" [(ngModel)]="contractor_createddate" #supervisordate="ngModel" required readonly>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Supervisor Inspected Date:</label>                     
                <div class="col-sm-5">
                  <input type="text" class="form-control" name="qcinspectordate" [(ngModel)]="supervisor_createddate" #qcinspectordate="ngModel" required readonly>               
                </div>
              </div>
            </div>
          </div>      
        <div class="row table-responsive">
            <button (click)="export()">Export</button>
          <table #table1 class="table table-striped table-bordered row-border hover" id="example3">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Visual Check List</th>
                <th>Checkby Contractor</th>
                <th>Checkby Supervisor</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody *ngFor="let items of processchecklist">
              <tr><td></td><b>{{items.checklisttitle}}</b></tr>
              <tr *ngFor="let item of items.qc_checklistDescriptionList;let i = index">
                <td>{{i+1}}</td>              
                <td>{{item.checklistname}}</td>
                <!-- <td *ngIf="item.checkpainter == true; else falsyTemplate"><div align="Center"><i class="icofont icofont-tick-mark" style="color:#008000;"></i></div></td>
                <ng-template #falsyTemplate>
                  <td><div align="Center"><i class="icofont icofont-close" style="color:#FF0000;"></i></div></td>
                </ng-template>
                <td *ngIf="item.checkqc == true; else falsyTemplate1"><div align="Center"><i class="icofont icofont-tick-mark" style="color:#008000;"></i></div></td>
                <ng-template #falsyTemplate1>
                  <td><div align="Center"><i class="icofont icofont-close" style="color:#FF0000;"></i></div></td>
                </ng-template> -->
                <td *ngIf="item.checkpainter == true; else falsyTemplate">Checked</td>
                <ng-template #falsyTemplate>
                  <td>Not Checked</td>
                </ng-template>
                <td *ngIf="item.checkqc == true; else falsyTemplate1">Checked</td>
                <ng-template #falsyTemplate1>
                  <td>Not Checked</td>
                </ng-template>
                <td>{{item.qcRemarks}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <!-- <div class="card-block">
        <div class="row table-responsive">
          <div class="row">
            <div class="container">
              <h3>Preparation Work - Visual Check</h3>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label text-right">Checked By:</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" name="supervisor" ngModel #supervisor="ngModel" required
                    readonly>
                  <div *ngIf="supervisor.invalid && (supervisor.dirty || supervisor.touched)" class="alert-danger">
                    <span *ngIf="supervisor.errors?.required">
                      Choose Painting Supervisor Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label text-right">Approved By:</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" name="qcinspector" ngModel #qcinspector="ngModel" required
                    readonly>
                  <div *ngIf="qcinspector.invalid && (qcinspector.dirty || qcinspector.touched)" class="alert-danger">
                    <span *ngIf="qcinspector.errors?.required">
                      Choose QC Inspector Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Visual Check List</th>
                <th>Checkby Contractor</th>
                <th>Checkby Supervisor</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>a) Emery Work</td>
                <td>Checked</td>
                <td>Checked</td>
                <td>Remarks</td>
              </tr>
              <tr>
                <td>2</td>
                <td>b) Putty Application</td>
                <td>Checked</td>
                <td>Not Checked</td>
                <td>Remarks</td>
              </tr>
              <tr>
                <td>3</td>
                <td>c) masking</td>
                <td>Not Checked</td>
                <td>Checked</td>
                <td>Remarks</td>
              </tr>
              <tr>
                <td>4</td>
                <td>d) Sealant Apply</td>
                <td>Not Checked</td>
                <td>Not Checked</td>
                <td>Remarks</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> -->
    </div>
  </div>
</div>
