<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Default alert'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
      <div class="sub-title">Default Alert</div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-6">
          <!-- Border Alert start -->
          <div class="alert alert-default">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled"></i>
            </button>
            <strong>Default!</strong> add Class <code> alert-default</code>
          </div>
          <div class="alert alert-primary">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled"></i>
            </button>
            <strong>Primary!</strong> add Class <code> alert-primary</code>
          </div>
          <div class="alert alert-success">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled"></i>
            </button>
            <strong>Success!</strong> add Class <code> alert-success</code>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-xl-6">
          <div class="alert alert-info">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled"></i>
            </button>
            <strong>Info!</strong> add Class <code> alert-info</code>
          </div>
          <div class="alert alert-warning">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled"></i>
            </button>
            <strong>Warning!</strong> add Class <code> alert-warning</code>
          </div>
          <div class="alert alert-danger">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled"></i>
            </button>
            <strong>Danger!</strong> add Class <code> alert-danger</code>
          </div>
        </div>
      </div>
      <!-- Border Alert end -->
      <!-- Left Border Alert start -->
      <div class="sub-title">Border Alert</div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-6">
          <div class="alert alert-default border-default">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled"></i>
            </button>
            <strong>Default!</strong> add Class <code> border-default</code>
          </div>
          <div class="alert alert-primary border-primary">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled"></i>
            </button>
            <strong>Primary!</strong> add Class <code> border-primary</code>
          </div>
          <div class="alert alert-success border-success">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled"></i>
            </button>
            <strong>Success!</strong> add Class <code> border-success</code>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-xl-6">
          <div class="alert alert-info border-info">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled"></i>
            </button>
            <strong>Info!</strong> add Class <code> border-info</code>
          </div>
          <div class="alert alert-warning border-warning">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled"></i>
            </button>
            <strong>Warning!</strong> add Class <code> border-warning</code>
          </div>
          <div class="alert alert-danger border-danger">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled"></i>
            </button>
            <strong>Danger!</strong> Add Class <code> border-danger</code>
          </div>
        </div>
      </div>
      <!-- Left Border Alert start -->
      <!-- Solid Alert start -->
      <div class="sub-title">Solid Border Alert</div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-6">
          <div class="alert alert-default background-default">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled text-white"></i>
            </button>
            <strong>Default!</strong> Add Class <code> background-default</code>
          </div>
          <div class="alert alert-primary background-primary">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled text-white"></i>
            </button>
            <strong>Primary!</strong> Add Class <code> background-primary</code>
          </div>
          <div class="alert alert-success background-success">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled text-white"></i>
            </button>
            <strong>Success!</strong> Add Class <code> background-success</code>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-xl-6">
          <div class="alert alert-info background-info">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled text-white"></i>
            </button>
            <strong>Info!</strong> Add Class <code> background-info</code>
          </div>
          <div class="alert alert-warning background-warning">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled text-white"></i>
            </button>
            <strong>Warning!</strong> Add Class <code> background-warning</code>
          </div>
          <div class="alert alert-danger background-danger">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled text-white"></i>
            </button>
            <strong>Danger!</strong> Add Class <code> background-danger</code>
          </div>
        </div>
      </div>
      <!-- Solid Alert end -->
      <!-- icon Alert start -->
      <div class="sub-title">Icon Alert</div>
      <div class="row">
        <div class="col-sm-12 col-md-12 col-xl-6">
          <div class="alert alert-default icons-alert">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled"></i>
            </button>
            <p><strong>Default!</strong> Add Class <code>alert-default icons-alert</code></p>
          </div>
          <div class="alert alert-primary icons-alert">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled"></i>
            </button>
            <p><strong>Primary!</strong> Add Class <code>alert-primary icons-alert</code></p>
          </div>
          <div class="alert alert-success icons-alert">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled"></i>
            </button>
            <p><strong>Success!</strong> Add Class <code>alert-success icons-alert</code></p>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-xl-6">
          <div class="alert alert-info icons-alert">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled"></i>
            </button>
            <p><strong>Info!</strong> Add Class <code>alert-info icons-alert</code></p>
          </div>
          <div class="alert alert-warning icons-alert">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled"></i>
            </button>
            <p><strong>Warning!</strong> Add Class <code>alert-warning icons-alert</code></p>
          </div>
          <div class="alert alert-danger icons-alert">
            <button type="button" class="close" parentRemove>
              <i class="icofont icofont-close-line-circled"></i>
            </button>
            <p><strong>Danger!</strong> Add Class <code>alert-danger icons-alert</code></p>
          </div>
        </div>
      </div>
    </app-card>
  </div>
</div>