<div class="row">
    <div class="col-sm-12">
      <form class="form-horizontal" name="addform" #addfrm="ngForm" (ngSubmit)="addpdicheck(addfrm)">
        <div class="card card-border-primary">
          <div class="card-header container">
            <div class="col-md-6">
              <h5>Hydraulic Combination</h5>
              <p class="mandatoryfiles">* Fields Are mandatory</p>
            </div>
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Hydraulic Combination Model <span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <select class="form-control" name="checklist" [(ngModel)]="related" #relatedtos="ngModel" required>                      
                      <option [ngValue]="undefined" hidden selected> please select Hydraulic Model</option>
                      <option [ngValue]="null" hidden selected> please select Hydraulic Model</option>
                        <option [ngValue]="1">Engine Model
                          </option>
                        <option [ngValue]="2">Gear Box Model
                          </option>
                        <option [ngValue]="3">Hyd. Pump Model
                          </option>
                        <option [ngValue]="4">Hyd. Motor Model
                          </option>
                          <option [ngValue]="5">Water Pump Model
                            </option>
                    </select>
                    <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                    <div *ngIf="relatedtos.invalid && (relatedtos.dirty || relatedtos.touched)" class="alert-danger">
                      <span *ngIf="relatedtos.errors?.required">
                        Hydraulic Combination is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Make <span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" Placeholder="Enter Make" name="make" ngModel #make="ngModel"
                        required appEmitfirstspace>
                      <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                      <div *ngIf="make.invalid && (make.dirty || make.touched)" class="alert-danger">
                        <span *ngIf="make.errors?.required">
                          Make is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
            </div>          
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Model<span class="mandatoryfiles">*</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" Placeholder="Enter Model" name="modelno" ngModel #modeln="ngModel"
                          required appEmitfirstspace>
                        <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                        <div *ngIf="modeln.invalid && (modeln.dirty || modeln.touched)" class="alert-danger">
                          <span *ngIf="modeln.errors?.required">
                            Model is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>

                <div class="col-sm-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Capacity<span class="mandatoryfiles">*</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" Placeholder="Enter Capacity" name="capacity" ngModel #capacity="ngModel"
                          required appEmitfirstspace>
                        <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                        <div *ngIf="capacity.invalid && (capacity.dirty || capacity.touched)" class="alert-danger">
                          <span *ngIf="capacity.errors?.required">
                              Capacity is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                                          
                
            </div>
          </div>
          <div class="card-footer">
            <div class="task-board m-0">
              <!-- end of dropdown-secondary -->
              <div class="dropdown-secondary dropdown">
                <button class="btn btn-primary btn-square" type="submit">
                  <i class="icofont icofont-tick-mark"></i> Submit
                </button>
                <button class="btn btn-info btn-square" type="button" (click)=reset(addfrm)>
                  <i class="icofont icofont-refresh"></i> Reset
                </button>
                <!-- end of dropdown menu -->
              </div>
              <!-- end of seconadary -->
            </div>
            <!-- end of pull-right class -->
          </div>
          <!-- end of card-footer -->
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-block table-responsive">
          <table class="datatable table table-striped table-bordered row-border hover">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Hydraulic Combination Model</th>
                <th>Make</th>
                <th>Model</th>
                <th>Capacity</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of checklist; let i=index">
                <td>{{i+1}}</td>
                <td *ngIf="item.combination_model == '1'; else falsyTemplate">Engine Model</td>
              <ng-template #falsyTemplate>
              <td *ngIf="item.combination_model == '2'; else falsyTemplate1">Gear Box Model</td>
              </ng-template>
              <ng-template #falsyTemplate1>
                  <td *ngIf="item.combination_model == '3'; else falsyTemplate2">Hyd. Pump Model</td>
                  </ng-template>
                  <ng-template #falsyTemplate2>
                      <td *ngIf="item.combination_model == '4'; else falsyTemplate3">Hyd. Motor Model</td>
                      </ng-template>
                      <ng-template #falsyTemplate3>
                          <td *ngIf="item.combination_model == '5'; else falsyTemplate4">Water Pump Model</td>
                          </ng-template>
                          <ng-template #falsyTemplate4>
                              <td></td>
                              </ng-template>

                <td>{{item.make}}</td>
                <td>{{item.model}}</td>
                <td>{{item.capacity}}</td>
                <td>
                  <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                    <i class='icofont icofont-fountain-pen'></i>
                  </button>
                  <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletechecklist(item.id)'>
                    <i class='icofont icofont-trash'></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end of card-footer -->
      </div>
    </div>
  </div>
  
  <ng-template #edit let-c="close" let-d="dismiss">
    <div class="modal-header">
      <div class="col-md-6">
        <h4 class="modal-title">Edit Hydraulic Combination</h4>
        <p class="mandatoryfiles">* Fields Are mandatory</p>
      </div>
      <div class="col-md-6">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(editfrm)">
          <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" name="editfrm" #editfrm="ngForm" (ngSubmit)="editchecklists(editfrm, edit)">
        <div class="row" style="display:none">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Id</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editchecklist.id" required #eid="ngModel">
                <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                  <span *ngIf="eid.errors?.required">
                    ID is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Hydraulic Combination Model<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">             
                    <select class="form-control" name="checklist" [(ngModel)]="editchecklist.combination_model" #relatedtos="ngModel" required>
                        <option value="1">Engine Model
                          </option>
                        <option value="2">Gear Box Model
                          </option>
                        <option value="3">Hyd. Pump Model
                          </option>
                        <option value="4">Hyd. Motor Model
                          </option>
                          <option value="5">Water Pump Model
                            </option>
                    </select>
                <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                <div *ngIf="relatedtos.invalid && (relatedtos.dirty || relatedtos.touched)" class="alert-danger">
                  <span *ngIf="relatedtos.errors?.required">
                    Drum Inspection Checklist. is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Make<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Make" name="make" [(ngModel)]="editchecklist.make"
                    #snagcodes="ngModel" required appEmitfirstspace> 
                  <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                  <div *ngIf="snagcodes.invalid && (snagcodes.dirty || snagcodes.touched)" class="alert-danger">
                    <span *ngIf="snagcodes.errors?.required">
                      Make is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Model<span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Model" name="modelno" [(ngModel)]="editchecklist.model" #modeln="ngModel"
                      required appEmitfirstspace>
                    <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                    <div *ngIf="modeln.invalid && (modeln.dirty || modeln.touched)" class="alert-danger">
                      <span *ngIf="modeln.errors?.required">
                        Model is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Capacity<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Capacity" name="capacity" [(ngModel)]="editchecklist.capacity"
                  #snagcode="ngModel" required appEmitfirstspace>
                <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                <div *ngIf="snagcode.invalid && (snagcode.dirty || snagcode.touched)" class="alert-danger">
                  <span *ngIf="snagcode.errors?.required">
                    Capacity is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          
        </div>
        <hr>
        <div class="form-group row float-right">
          <div class="col-sm-6">
            <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset(editfrm)">Close</button>
          </div>
          <div class="col-sm-6">
              <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
          </div>
        </div>
      </form>
    </div>
    <!-- <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
    </div> -->
  </ng-template>