<div class="row">
    <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="col-md-6">
            <h5>FH/SH Checklist</h5>
            <p class="mandatoryfiles">* Fields Are mandatory</p>
          </div>
        </div>
        <div class="card-block">
            <form class="form-horizontal" #frm="ngForm" (ngSubmit)="addshfhcheck(frm)">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Category<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <select class="form-control" name="category" [(ngModel)]="setcategory" #category="ngModel" required>
                        <option [value]="undefined" selected hidden>Select Category</option>
                        <option [value]="null" selected hidden>Select Category</option>
                        <option [value]="1">SH Checklist</option>
                        <option [value]="2">FH Checklist</option>
                      </select>
                      <div *ngIf="category.invalid && (category.dirty || category.touched)" class="alert-danger">
                        <span *ngIf="category.errors?.required">
                          Category is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Related To<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <select class="form-control" name="relatedto" [(ngModel)]="setrelated" #relatedto="ngModel" required>
                        <option [value]="undefined" selected hidden>Select Related To</option>
                        <option [value]="null" selected hidden>Select Related To</option>
                        <option [value]="1">ASSEMBLY CHECK LIST</option>
                        <option [value]="2">FUNCTIONAL TESTING</option>
                      </select>
                      <div *ngIf="relatedto.invalid && (relatedto.dirty || relatedto.touched)" class="alert-danger">
                        <span *ngIf="relatedto.errors?.required">
                          Related To is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>                                 
              </div>  
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Inspection Points<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <textarea type="text" class="form-control" Placeholder="Enter Inspection Point" name="checklist" ngModel #checklistss="ngModel"  required appEmitfirstspace></textarea>
                      <div *ngIf="checklistss.invalid && (checklistss.dirty || checklistss.touched)" class="alert-danger">
                        <span *ngIf="checklistss.errors?.required">
                          Inspection points is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Calculations<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <select class="form-control" name="calculations" [(ngModel)]="calculation" #calculations="ngModel" required>
                        <option [value]="undefined" selected hidden>Select Calculation</option>
                        <option [value]="null" selected hidden>Select Calculation</option>
                        <option value="1">Static</option>
                        <option value="2">Dynamic</option>
                      </select>
                      <div *ngIf="calculations.invalid && (calculations.dirty || calculations.touched)" class="alert-danger">
                        <span *ngIf="calculations.errors?.required">
                          Calculation is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>              
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Calculations Based on</label>
                    <div class="col-sm-8">
                      <label class="radio-inline">
                        <input name="basedon" type="radio" value='1' ngModel #radiovalue="ngModel" required>Standard
                      </label>
                      <label class="radio-inline">
                        <input name="basedon" type="radio" value="2" ngModel #radiovalue="ngModel" required>Actual
                      </label>
                    </div>
                    <div *ngIf="radiovalue.invalid && (radiovalue.dirty || radiovalue.touched)" class="alert-danger">
                      <span *ngIf="radiovalue.errors?.required">
                        Calculation Based On is Required
                      </span>
                    </div>
                  </div>                  
                </div>
                <div class="col-md-6">
                  <div [ngSwitch]="calculation">
                    <div *ngSwitchCase="'1'">                      
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">Remarks</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" Placeholder="Enter Remarks" name="remarks" ngModel #remarks="ngModel" required appEmitfirstspace>
                            <div *ngIf="remarks.invalid && (remarks.dirty || remarks.touched)" class="alert-danger">
                              <span *ngIf="remarks.errors?.required">
                                Remarks is Required
                              </span>
                            </div>
                          </div>
                        </div>
                    </div>
                  </div>                
                </div>                
              </div>
              <hr>
              <div>
                <div class="dropdown-secondary dropdown text-right">
                    <button class="btn btn-primary btn-square" type="submit" [disabled]="!frm.form.valid">
                      <i class="icofont icofont-tick-mark"></i> Submit
                    </button>
                  
                    <button class="btn btn-info btn-square" type="reset">
                      <i class="icofont icofont-refresh"></i> Reset
                    </button>
                    <!-- end of dropdown menu -->
                  </div>
              </div>
          </form>
        </div>
      
        <!-- end of card-footer -->
      </div>
  </div>
</div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-block table-responsive">
          <table class="datatable table table-striped table-bordered row-border hover">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Category</th>
                <th>Related To</th>
                <th>Inspection Points</th>
                <th>Calculations</th>
                <th>Remarks</th>
                <th>Calculations Based On</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of checklist;let i=index">
                <td>{{i+1}}</td>
                <td>
                  <span *ngIf="item.category == 1">SH Checklist</span>
                  <span *ngIf="item.category == 2">FH Checklist</span>
                </td>
                <td>
                  <span *ngIf="item.relatedto == 1">ASSEMBLY CHECK LIST</span>
                  <span *ngIf="item.relatedto == 2">FUNCTIONAL TESTING</span>
                </td>
                <td>{{item.inspection_points}}</td>
                <td>
                  <span *ngIf="item.calculation == 1">Static</span>
                  <span *ngIf="item.calculation == 2">Dynamic</span>
                </td>
                <td>
                  <span *ngIf="item.remarks;else other_content">{{item.remarks}}</span>
                  <ng-template #other_content>NA</ng-template>
                </td>
                <td>
                    <span *ngIf="item.calculation_basedon == 1">Standard</span>
                    <span *ngIf="item.calculation_basedon == 2">Actual</span>
                  </td>
                <td>
                  <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                    <i class='icofont icofont-fountain-pen'></i>
                  </button>
                  <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletechecklist(item.id)'>
                    <i class='icofont icofont-trash'></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end of card-footer -->
      </div>
    </div>
  </div>
  
  <ng-template #edit let-c="close" let-d="dismiss">
    <div class="modal-header">
      <div class="col-md-6">
        <h4 class="modal-title">Edit SH/FH Chechlist</h4>
        <p class="mandatoryfiles">* Fields Are mandatory</p>
      </div>
      <div class="col-md-6">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reloadPage()">
          <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" name="editfrm" #editfrm="ngForm" (ngSubmit)="editchecklists(editfrm, edit)">
        <div class="row" style="display:none">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Id</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editchecklist.id" required #eid="ngModel">
                <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                  <span *ngIf="eid.errors?.required">
                    ID is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Category<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select class="form-control" name="category" [(ngModel)]="editchecklist.category" #categorys="ngModel" required>
                  <option [value]="undefined" selected hidden>Select Category</option>
                  <option [value]="null" selected hidden>Select Category</option>
                  <option [value]="1">SH Checklist</option>
                  <option [value]="2">FH Checklist</option>
                </select>
                <div *ngIf="categorys.invalid && (categorys.dirty || categorys.touched)" class="alert-danger">
                  <span *ngIf="categorys.errors?.required">
                    Category is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Related To<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select class="form-control" name="relatedto" [(ngModel)]="editchecklist.relatedto" #relatedtos="ngModel" required>
                  <option [value]="undefined" selected hidden>Select Related To</option>
                  <option [value]="null" selected hidden>Select Related To</option>
                  <option [value]="1">ASSEMBLY CHECK LIST</option>
                  <option [value]="2">FUNCTIONAL TESTING</option>
                </select>
                <div *ngIf="relatedtos.invalid && (relatedtos.dirty || relatedtos.touched)" class="alert-danger">
                  <span *ngIf="relatedtos.errors?.required">
                    Related To is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Inspection Points<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <textarea type="text" class="form-control" Placeholder="Enter Inspection Point" name="checklist" [(ngModel)]="editchecklist.inspection_points" #checklistss="ngModel"  required appEmitfirstspace></textarea>
                <div *ngIf="checklistss.invalid && (checklistss.dirty || checklistss.touched)" class="alert-danger">
                  <span *ngIf="checklistss.errors?.required">
                    Inspection points is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Calculations<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select class="form-control" name="calculations" [(ngModel)]="editchecklist.calculation" #calculationss="ngModel" required>
                  <option [value]="undefined" selected hidden>Select Calculation</option>
                  <option [value]="null" selected hidden>Select Calculation</option>
                  <option [value]="1">Static</option>
                  <option [value]="2">Dynamic</option>
                </select>
                <div *ngIf="calculationss.invalid && (calculationss.dirty || calculationss.touched)" class="alert-danger">
                  <span *ngIf="calculationss.errors?.required">
                    Calculation is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Calculations Based on</label>
              <div class="col-sm-8">
                <label class="radio-inline">
                  <input name="basedon" type="radio" value='1' [(ngModel)]="editchecklist.calculation_basedon" required>Standard
                </label>
                <label class="radio-inline">
                  <input name="basedon" type="radio" value="2" [(ngModel)]="editchecklist.calculation_basedon" required>Actual
                </label>
              </div>
            </div>                  
          </div>
          <div class="col-md-6">
            <div [ngSwitch]="editchecklist.calculation">
              <div *ngSwitchCase="'1'">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Remarks</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Remarks" name="remarks" [(ngModel)]="editchecklist.remarks" #remarkss="ngModel" required appEmitfirstspace>
                    <div *ngIf="remarkss.invalid && (remarkss.dirty || remarkss.touched)" class="alert-danger">
                      <span *ngIf="remarkss.errors?.required">
                        Remarks is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="form-group row float-right">
          <div class="col-sm-6">
            <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reloadPage()">Close</button>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
          </div>
        </div>
      </form>
    </div>
    <!-- <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
    </div> -->
  </ng-template>
  