<div class="cd-horizontal-timeline loaded" ><!--[ngClass]="{'loaded': loaded}"-->
  <div class="timeline">
    <div class="events-wrapper" #timelineWrapper>
      <div class="events" #eventsWrapper>
        <ol>
          <li *ngFor="let item of timelineElements; let index = index">
            <a #timelineEvents href="javascript:;"
               [attr.data-date]="item.caption"
               [ngClass]="{'selected': item.selected, 'older-event': index < selectedIndex}"
               (click)="onEventClick($event, item)">{{item.caption}}</a>
            <span></span>
          </li>
        </ol>
        <span class="filling-line" aria-hidden="true" #fillingLine></span>
      </div>
    </div>

    <ul class="cd-timeline-navigation">
      <li>
        <a href="javascript:;" (click)="onPrevClick($event)" class="prev" [ngClass]="{'inactive':prevLinkInactive}">Prev</a>
      </li>
      <li>
        <a href="javascript:;" (click)="onNextClick($event)" class="next" [ngClass]="{'inactive':nextLinkInactive}">Next</a>
      </li>
    </ul>
  </div>
  <div class="events-content" #eventsContent *ngIf="showContent">
    <ol>
      <li *ngFor="let item of timelineElements; let index = index" [attr.data-date]="item.date | date:dateFormat"
          [attr.data-state]="item.selected ? 'active' : (index < selectedIndex ? 'left' : 'right')"
          [@contentState]="item.selected ? 'active' : (index < selectedIndex ? 'left' : 'right')">
        <h2>{{item.title}}</h2>
        <em>{{item.date | date:dateFormat}}</em>
        <p class="m-b-0">{{item.content}}</p>
        <div class="m-t-20 d-timeline-btn">
          <button class="btn btn-danger">Read More</button>
          <button class="btn btn-primary f-right"><i class="icofont icofont-plus m-r-0"></i></button>
        </div>
      </li>
    </ol>
  </div>
</div>
