<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
        <form class="form-horizontal" name="editfrm" #editfrm="ngForm">
      <div class="card-block">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Drum Model:</label>
              <div class="col-sm-5">
                <!--<select class="form-control" name="choosemodel" [(ngModel)]="chooseslnos" #choosemodel="ngModel" required (ngModelChange)=getdrumdetails($event)>
                  <option [value]="undefined" selected hidden>Select Drum Model</option>
                  <option [value]="null" selected hidden>Select Drum Model</option>
                  <option *ngFor="let item of drummodel" [value]="item.id">{{item.drum_model}}</option>
                 </select>-->
                 <angular2-multiselect [data]="dropdownList_drummodel" [(ngModel)]="chooseslnos" ngModel name="choosemodel" #choosemodel="ngModel" required 
                 [settings]="dropdownSettings_drummodel" 
                 (onSelect)="getdrumdetails($event)"
                ></angular2-multiselect> 
                <div *ngIf="choosemodel.invalid && (choosemodel.dirty || choosemodel.touched)" class="alert-danger">
                  <span *ngIf="choosemodel.errors?.required">
                    Drum Model is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Drum Serial NO:</label>
              <div class="col-sm-5">
                <!-- <input type="text" class="form-control" name="drumno" [(ngModel)]="drum_serial_number" #drumno="ngModel" required readonly> -->
              <!--  <select class="form-control" name="drumno" ngModel #drumno="ngModel" required (ngModelChange)=getdrumserialno($event)> 
                    <option [value]="undefined" selected hidden>Select Drum Model</option>
                    <option [value]="null" selected hidden>Select Drum Model</option>
                    <option *ngFor="let item of drum_serial_number" [value]="item">{{item}}</option>
                   </select>-->
                   <angular2-multiselect [data]="dropdownListserial" [(ngModel)]="drum_serial_number" ngModel name="drumno" #drumno="ngModel" required 
                   [settings]="dropdownSettingsserial" 
                   (onSelect)="getdrumserialno($event)"
                  ></angular2-multiselect> 
                <div *ngIf="drumno.invalid && (drumno.dirty || drumno.touched)" class="alert-danger">
                  <span *ngIf="drumno.errors?.required">
                    Drum.No is Required
                  </span>
                </div>
              </div>
            </div>
          </div>            
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Batch:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="batch" [(ngModel)]="drum_batch" #batch="ngModel" required readonly>
                <div *ngIf="batch.invalid && (batch.dirty || batch.touched)" class="alert-danger">
                  <span *ngIf="batch.errors?.required">
                    Batch is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Date:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="pdtcleared" [(ngModel)]="drum_date" #pdtcleared="ngModel" required readonly>
                <div *ngIf="pdtcleared.invalid && (pdtcleared.dirty || pdtcleared.touched)" class="alert-danger">
                  <span *ngIf="pdtcleared.errors?.required">
                    Date is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label text-right">Verison:</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" name="version" [(ngModel)]="drum_version" #version="ngModel" required readonly>
                  <div *ngIf="version.invalid && (version.dirty || version.touched)" class="alert-danger">
                    <span *ngIf="version.errors?.required">
                      Version is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
        </div>      
        <hr>        
        
        <div class="row pull-right">
          <div class="container">            
            <button class="btn btn-warning btn-square" type="reset" >
              <i class="icofont icofont-reset"></i> Reset
            </button>
            <button class="btn btn-info btn-square" type="button" (click)="getdrumchecklistdetails()">
              <i class="icofont icofont-check"></i> Submit
            </button>
          </div>
        </div>
    
      <!-- end of card-footer -->
      </div>
    </form>
      <div class="card-block"> 
          <!-- <div class="row">
              <div class="col-md-3">
                  <div class="form-group row">   
                    <label class="col-sm-5 col-form-label text-right">Tested By:</label>
                  </div>
                </div>
              <div class="col-md-4">
                <div class="form-group row">   
                  <label class="col-sm-5 col-form-label text-right">Rectified By:</label>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row">   
                  <label class="col-sm-5 col-form-label text-right">Inspected By</label>
                </div>
              </div>
            </div>    -->
            <div class="row">
              <div class="col-md-4">
                  <div class="form-group row">   
                    <label class="col-sm-5 col-form-label text-right">Fitter Name:</label>         <div class="col-sm-5">
                      <input type="text" class="form-control" name="fitter" [(ngModel)]="fitter_name" #fitter="ngModel" required readonly>                    
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">   
                    <label class="col-sm-5 col-form-label text-right">Fitter Signature:</label>                           
                    <div class="col-sm-5">
                      <!-- <input type="text" class="form-control" name="supervisorsign" [(ngModel)]="painter_supervisor" #supervisorsign="ngModel" required readonly> -->
                      <a><img src="{{fitter_sign||'assets/images/signature1.png'}}" class="form-control" height="100" width="200" alt="Signature Not Upload"  onerror="this.onerror=null;this.src='assets/images/signature1.png'" /></a>  
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="form-group row">   
                    <label class="col-sm-5 col-form-label text-right">Fitter Tested Date:</label>                           
                    <div class="col-sm-5">
                      <input type="text" class="form-control" name="date" [(ngModel)]="fitter_tested_date" #date="ngModel" required readonly>
                    </div>
                  </div>
                </div>
          </div>  
            <div class="row">
            <div class="col-md-4">
                <div class="form-group row">   
                  <label class="col-sm-5 col-form-label text-right">Welder Name:</label>             <div class="col-sm-5">
                    <input type="text" class="form-control" name="welder" [(ngModel)]="welder_name" #welder="ngModel" required readonly>                    
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row">   
                  <label class="col-sm-5 col-form-label text-right">Welder Signature:</label>                           
                  <div class="col-sm-5">
                    <!-- <input type="text" class="form-control" name="supervisorsign" [(ngModel)]="painter_supervisor" #supervisorsign="ngModel" required readonly> -->
                    <a><img src="{{welder_sign||'assets/images/signature1.png'}}" class="form-control" height="100" width="200" alt="Signature Not Upload"  onerror="this.onerror=null;this.src='assets/images/signature1.png'"/></a>  
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group row">   
                  <label class="col-sm-5 col-form-label text-right">Welder Tested Date:</label>                           
                  <div class="col-sm-5">
                    <input type="text" class="form-control" name="supervisordate" [(ngModel)]="welder_tested_date" #supervisordate="ngModel" required readonly>
                  </div>
                </div>
              </div>
        </div>   
        <div class="row">
          <div class="col-md-4">
            <div class="form-group row">   
              <label class="col-sm-5 col-form-label text-right">Rectified By:</label>             <div class="col-sm-5">
                <input type="text" class="form-control" name="supervisor" [(ngModel)]="rectified_by" #supervisor="ngModel" required readonly>
                <div *ngIf="supervisor.invalid && (supervisor.dirty || supervisor.touched)" class="alert-danger">
                  <span *ngIf="supervisor.errors?.required">
                    Choose Painting Supervisor Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row">   
              <label class="col-sm-5 col-form-label text-right">Rectifier Signature:</label>                           
              <div class="col-sm-5">
                <!-- <input type="text" class="form-control" name="supervisorsign" [(ngModel)]="painter_supervisor" #supervisorsign="ngModel" required readonly> -->
                <a><img src="{{rectifier_sign||'assets/images/signature1.png'}}" class="form-control" height="100" width="200" alt="Signature Not Upload"  onerror="this.onerror=null;this.src='assets/images/signature1.png'"/></a>  
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row">   
              <label class="col-sm-5 col-form-label text-right">Rectified Date:</label>                           
              <div class="col-sm-5">
                <input type="text" class="form-control" name="supervisordate" [(ngModel)]="rectified_date" #supervisordate="ngModel" required readonly>
              </div>
            </div>
          </div>
        </div>   
        <div class="row">
          <div class="col-md-4">
            <div class="form-group row">   
              <label class="col-sm-5 col-form-label text-right">Inspected By</label>                           
              <div class="col-sm-5">
                <input type="text" class="form-control" name="qcinspector" [(ngModel)]="inspected_by" #qcinspector="ngModel" required readonly>
                <div *ngIf="qcinspector.invalid && (qcinspector.dirty || qcinspector.touched)" class="alert-danger">
                  <span *ngIf="qcinspector.errors?.required">
                    Choose QC Inspector Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row">   
              <label class="col-sm-5 col-form-label text-right">Inspector Signature:</label>                           
              <div class="col-sm-5">
                <a><img src="{{inspector_sign||'assets/images/signature1.png'}}" class="form-control" height="100" width="200" alt="Signature Not Upload"  onerror="this.onerror=null;this.src='assets/images/signature1.png'"/></a>         
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group row">   
              <label class="col-sm-5 col-form-label text-right">Inspected Date:</label>                     
              <div class="col-sm-5">
                <input type="text" class="form-control" name="qcinspectordate" [(ngModel)]="inspected_date" #qcinspectordate="ngModel" required readonly>               
              </div>
            </div>
          </div>
        </div>           
        <div class="card-block" *ngIf="showtable">
            <button (click)="export()">Export</button>
          <table #table1 class="table table-striped table-responsive table-bordered row-border hover" id="exampletable">              
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Problem Nature</th>
                <th>Snag Code</th>
                <th>Problem Description</th>
                <th *ngIf="cone_count>0">Cone 1</th>
                <th *ngIf="cone_count>1">Cone 2</th>
                <th *ngIf="cone_count>2">Cone 3</th>
                <th *ngIf="cone_count>3">Cone 4</th>
                <th *ngIf="shell_count>0">Shell 1</th>
                <th *ngIf="shell_count>1">Shell 2</th>
                <th *ngIf="shell_count>2">Shell 3</th>
                <th *ngIf="shell_count>3">Shell 4</th>
                <th *ngIf="shell_count>4">Shell 5</th>
                <th>Problem Rectified</th>
              </tr>
            </thead>
            <tbody *ngFor="let items of drumchecklist">
              <tr><td></td><b>{{items.related_to}}</b></tr>
              <tr *ngFor="let item of items.checklist;let i=index">
                <td>{{i+1}}</td>
                <td>{{item.problemnature}}</td>
                <td>{{item.snagcode}}</td>
                <td>{{item.problemdesc}}</td>
                <!-- <td *ngIf="item.isCone1Selected == true; else falsyTemplate"><div align="Center"><i class="icofont icofont-tick-mark" style="color:#008000;"></i></div></td>
                <ng-template #falsyTemplate>
                  <td><div align="Center"><i class="icofont icofont-close" style="color:#FF0000;"></i></div></td>
                </ng-template>
                <td *ngIf="item.isCone2Selected == true; else falsyTemplate1"><div align="Center"><i class="icofont icofont-tick-mark" style="color:#008000;"></i></div></td>
                <ng-template #falsyTemplate1>
                  <td><div align="Center"><i class="icofont icofont-close" style="color:#FF0000;"></i></div></td>
                </ng-template>
                <td *ngIf="item.isCone3Selected == true; else falsyTemplate2"><div align="Center"><i class="icofont icofont-tick-mark" style="color:#008000;"></i></div></td>
                <ng-template #falsyTemplate2>
                  <td><div align="Center"><i class="icofont icofont-close" style="color:#FF0000;"></i></div></td>
                </ng-template>
                <td *ngIf="item.isCone4Selected == true; else falsyTemplate3"><div align="Center"><i class="icofont icofont-tick-mark" style="color:#008000;"></i></div></td>
                <ng-template #falsyTemplate3>
                  <td><div align="Center"><i class="icofont icofont-close" style="color:#FF0000;"></i></div></td>
                </ng-template>
                <td *ngIf="item.isShell1Selected == true; else falsyTemplate4"><div align="Center"><i class="icofont icofont-tick-mark" style="color:#008000;"></i></div></td>
                <ng-template #falsyTemplate4>
                  <td><div align="Center"><i class="icofont icofont-close" style="color:#FF0000;"></i></div></td>
                </ng-template>
                <td *ngIf="item.isShell2Selected == true; else falsyTemplate5"><div align="Center"><i class="icofont icofont-tick-mark" style="color:#008000;"></i></div></td>
                <ng-template #falsyTemplate5>
                  <td><div align="Center"><i class="icofont icofont-close" style="color:#FF0000;"></i></div></td>
                </ng-template>
                <td *ngIf="item.isShell3Selected == true; else falsyTemplate6"><div align="Center"><i class="icofont icofont-tick-mark" style="color:#008000;"></i></div></td>
                <ng-template #falsyTemplate6>
                  <td><div align="Center"><i class="icofont icofont-close" style="color:#FF0000;"></i></div></td>
                </ng-template>
                <td *ngIf="item.isShell4Selected == true; else falsyTemplate7"><div align="Center"><i class="icofont icofont-tick-mark" style="color:#008000;"></i></div></td>
                <ng-template #falsyTemplate7>
                  <td><div align="Center"><i class="icofont icofont-close" style="color:#FF0000;"></i></div></td>
                </ng-template>
                <td *ngIf="item.isShell5Selected == true; else falsyTemplate8"><div align="Center"><i class="icofont icofont-tick-mark" style="color:#008000;"></i></div></td>
                <ng-template #falsyTemplate8>
                  <td><div align="Center"><i class="icofont icofont-close" style="color:#FF0000;"></i></div></td>
                </ng-template>
                <td *ngIf="item.isProblemRectified == true; else falsyTemplate9"><div align="Center"><i class="icofont icofont-tick-mark" style="color:#008000;"></i></div></td>
                <ng-template #falsyTemplate9>
                  <td><div align="Center"><i class="icofont icofont-close" style="color:#FF0000;"></i></div></td>
                </ng-template> -->
                <!--<td *ngIf="item.isCone1Selected == true; else falsyTemplate">Checked</td>
                <ng-template #falsyTemplate>
                  <td>Not Checked</td>
                </ng-template>-->
                <td *ngIf="cone_count>0">
                  <span *ngIf="item.isCone1Selected == true">Checked</span>
                  <span *ngIf="item.isCone1Selected != true">Not Checked</span>
                </td>
                
                <td *ngIf="cone_count>1">
                    <span *ngIf="item.isCone2Selected == true">Checked</span>
                    <span *ngIf="item.isCone2Selected != true">Not Checked</span>
                  </td>
                  <td *ngIf="cone_count>2">
                      <span *ngIf="item.isCone3Selected == true">Checked</span>
                      <span *ngIf="item.isCone3Selected != true">Not Checked</span>
                    </td>
                    <td *ngIf="cone_count>3">
                        <span *ngIf="item.isCone4Selected == true">Checked</span>
                        <span *ngIf="item.isCone4Selected != true">Not Checked</span>
                      </td>

               <!-- <td *ngIf="item.isCone2Selected == true; else falsyTemplate1">Checked</td>
                <ng-template #falsyTemplate1>
                  <td>Not Checked</td>
                </ng-template>
                <td *ngIf="item.isCone3Selected == true; else falsyTemplate2">Checked</td>
                <ng-template #falsyTemplate2>
                  <td>Not Checked</td>
                </ng-template>
                <td *ngIf="item.isCone4Selected == true; else falsyTemplate3">Checked</td>
                <ng-template #falsyTemplate3>
                  <td>Not Checked</td>
                </ng-template>-->
                <td *ngIf="shell_count>0">
                    <span *ngIf="item.isShell1Selected == true">Checked</span>
                    <span *ngIf="item.isShell1Selected != true">Not Checked</span>
                  </td>
                  <td *ngIf="shell_count>1">
                      <span *ngIf="item.isShell2Selected == true">Checked</span>
                      <span *ngIf="item.isShell2Selected != true">Not Checked</span>
                    </td>
                    <td *ngIf="shell_count>2">
                        <span *ngIf="item.isShell3Selected == true">Checked</span>
                        <span *ngIf="item.isShell3Selected != true">Not Checked</span>
                      </td>
                      <td *ngIf="shell_count>3">
                          <span *ngIf="item.isShell4Selected == true">Checked</span>
                          <span *ngIf="item.isShell4Selected != true">Not Checked</span>
                        </td>
                        <td *ngIf="shell_count>4">
                            <span *ngIf="item.isShell5Selected == true">Checked</span>
                            <span *ngIf="item.isShell5Selected != true">Not Checked</span>
                          </td>
                <!--<td *ngIf="item.isShell1Selected == true; else falsyTemplate4">Checked</td>
                <ng-template #falsyTemplate4>
                  <td>Not Checked</td>
                </ng-template>
                <td *ngIf="item.isShell2Selected == true; else falsyTemplate5">Checked</td>
                <ng-template #falsyTemplate5>
                  <td>Not Checked</td>
                </ng-template>
                <td *ngIf="item.isShell3Selected == true; else falsyTemplate6">Checked</td>
                <ng-template #falsyTemplate6>
                  <td>Not Checked</td>
                </ng-template>
                <td *ngIf="item.isShell4Selected == true; else falsyTemplate7">Checked</td>
                <ng-template #falsyTemplate7>
                  <td>Not Checked</td>
                </ng-template>
                <td *ngIf="item.isShell5Selected == true; else falsyTemplate8">Checked</td>
                <ng-template #falsyTemplate8>
                  <td>Not Checked</td>
                </ng-template>-->
                <td *ngIf="item.isProblemRectified == true; else falsyTemplate9">Checked</td>
                <ng-template #falsyTemplate9>
                  <td>Not Checked</td>
                </ng-template>
              </tr>
            
            </tbody>
          </table>
        </div>        
      </div>
      <!-- <div class="card-block">
        <div class="row table-responsive">
          <div class="row">
            <div class="container">
              <h3>Preparation Work - Visual Check</h3>
            </div>            
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Checked By:</label>                           
                <div class="col-sm-5">
                  <input type="text" class="form-control" name="supervisor" ngModel #supervisor="ngModel" required readonly>
                  <div *ngIf="supervisor.invalid && (supervisor.dirty || supervisor.touched)" class="alert-danger">
                    <span *ngIf="supervisor.errors?.required">
                      Choose Painting Supervisor Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Approved By:</label>                           
                <div class="col-sm-5">
                  <input type="text" class="form-control" name="qcinspector" [(ngModel)]="inspected_by" #qcinspector="ngModel" required readonly>
                  <div *ngIf="qcinspector.invalid && (qcinspector.dirty || qcinspector.touched)" class="alert-danger">
                    <span *ngIf="qcinspector.errors?.required">
                      Choose QC Inspector Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Visual Check List</th>
                <th>Checkby Contractor</th>
                <th>Checkby Supervisor</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>a) Emery Work</td>
                <td>Checked</td>
                <td>Checked</td>
                <td>Remarks</td>
              </tr>
              <tr>
                <td>2</td>
                <td>b) Putty Application</td>
                <td>Checked</td>
                <td>Not Checked</td>
                <td>Remarks</td>
              </tr>
              <tr>
                <td>3</td>
                <td>c) masking</td>
                <td>Not Checked</td>
                <td>Checked</td>
                <td>Remarks</td>
              </tr>
              <tr>
                <td>4</td>
                <td>d) Sealant Apply</td>
                <td>Not Checked</td>
                <td>Not Checked</td>
                <td>Remarks</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> -->
    </div>
  </div>
</div>