<div class="row">
  <div class="col-sm-12">
    <form class="form-horizontal" name="addform" #addfrm="ngForm" (ngSubmit)="addpdicheck(addfrm)">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="col-md-6">
            <h5>Drum Inspection </h5>
            <p class="mandatoryfiles">* Fields Are mandatory</p>
          </div>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Related To. <span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="checklist" [(ngModel)]="relatedto" #relatedtos="ngModel" required>                    
                    <option [value]="undefined" hidden selected> please select Related To</option>
                    <option [value]="null" hidden selected> please select Related To</option>
                    <option [value]="1">Welding related Snags</option>
                    <option [value]="2">Fit-up related Snags</option>
                  </select>
                  <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                  <div *ngIf="relatedtos.invalid && (relatedtos.dirty || relatedtos.touched)" class="alert-danger">
                    <span *ngIf="relatedtos.errors?.required">
                      Related To. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div [ngSwitch]="relatedto">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Problem Nature <span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <select class="form-control" name="problemnature" [(ngModel)]="setproble" #problemnature="ngModel" required>
                      <option [value]="undefined" hidden selected> please select Problem Nature</option>
                      <option [value]="null" hidden selected> please select Problem Nature</option>
                      <optgroup *ngSwitchCase="'1'">
                        <option [value]="1">Welding Missed out</option>
                        <option [value]="2">Welding Misalignment</option>
                        <option [value]="3">Welding Undercut</option>
                        <option [value]="4">Welding bead undersize</option>
                        <option [value]="5">Welding Spatters</option>
                        <option [value]="6">Burn through</option>
                        <option [value]="7">Problem Nature</option>
                      </optgroup>
                      <optgroup *ngSwitchCase="'2'">
                        <option [value]="undefined" hidden selected> please select Problem Nature</option>
                        <option [value]="null" hidden selected> please select Problem Nature</option>
                        <option [value]="8">Circumferential joint Fitup misalignment</option>
                        <option [value]="9">Fit-up misalignment</option>
                        <option [value]="10">Rolling mark</option>
                        <option [value]="11">Dent</option>
                        <option [value]="12">Grinding & finishing work pending</option>
                        <option [value]="13">Material non - conformance</option>
                      </optgroup>
                    </select>
                    <div *ngIf="problemnature.invalid && (problemnature.dirty || problemnature.touched)" class="alert-danger">
                      <span *ngIf="problemnature.errors?.required">
                        Problem Nature is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>              
            </div>
          </div>          
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Snag Code <span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                    <select class="form-control" name="snagcode" [(ngModel)]="setsnagcode" #snagcode="ngModel" required>
                      <option [value]="undefined" hidden selected> please select Snag Code</option>
                      <option [value]="null" hidden selected> please select Snag Code</option>
                      <option class='option' *ngFor='let option of snagcode_all' [value]="option.id">{{option.snag_code}}</option>       
                    </select>
                  <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                  <div *ngIf="snagcode.invalid && (snagcode.dirty || snagcode.touched)" class="alert-danger">
                    <span *ngIf="snagcode.errors?.required">
                      Snag Code. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Problem Description<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <textarea type="text" class="form-control" Placeholder="Enter Problem Description" name="problemdesc" ngModel #problemdesc="ngModel" pattern="^[a-zA-Z]+( [a-zA-Z]+)*$" appEmitfirstspace required></textarea>
                  <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                  <div *ngIf="problemdesc.invalid && (problemdesc.dirty || problemdesc.touched)" class="alert-danger">
                    <span *ngIf="problemdesc.errors?.required">
                      Problem Description is Required
                    </span>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>
        <div class="card-footer">
          <div class="task-board m-0">
            <!-- end of dropdown-secondary -->
            <div class="dropdown-secondary dropdown">
              <button class="btn btn-primary btn-square" type="submit">
                <i class="icofont icofont-tick-mark"></i> Submit
              </button>
              <button class="btn btn-info btn-square" type="button" (click)=reset(addfrm)>
                <i class="icofont icofont-refresh"></i> Reset
              </button>
              <!-- end of dropdown menu -->
            </div>
            <!-- end of seconadary -->
          </div>
          <!-- end of pull-right class -->
        </div>
        <!-- end of card-footer -->
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Related To.</th>
              <th>Problem Nature</th>
              <th>Snag Code</th>
              <th>Problem Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of checklist;let i=index">
              <td>{{i+1}}</td>
              <td [ngSwitch]="item.relatedto">
                <p *ngSwitchCase="'1'">Welding related Snags</p>
                <p *ngSwitchCase="'2'">Fit-up related Snags</p>
              </td>
              <td [ngSwitch]="item.relatedto">
                <p *ngSwitchCase="'1'">Welding Missed out</p>
                <p *ngSwitchCase="'2'">Welding Misalignment</p>
                <p *ngSwitchCase="'3'">Welding Undercut</p>
                <p *ngSwitchCase="'4'">Welding bead undersize</p>
                <p *ngSwitchCase="'5'">Welding Spatters</p>
                <p *ngSwitchCase="'6'">Burn through</p>
                <p *ngSwitchCase="'7'">Problem Nature</p>
                <p *ngSwitchCase="'8'">Circumferential joint Fitup misalignment</p>
                <p *ngSwitchCase="'9'">Fit-up misalignment</p>
                <p *ngSwitchCase="'10'">Rolling mark</p>
                <p *ngSwitchCase="'11'">Dent</p>
                <p *ngSwitchCase="'12'">Grinding & finishing work pending</p>
                <p *ngSwitchCase="'13'">Material non - conformance</p>
              </td>
              <td>{{item.snag_code}}</td>
              <td>{{item.problemdesc}}</td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletechecklist(item.id)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit Drum Inspection Checklist</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(editfrm)">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="editfrm" #editfrm="ngForm" (ngSubmit)="editchecklists(editfrm, edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editchecklist.id" required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Related To. <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="checklist" [(ngModel)]="editchecklist.relatedto" #relatedtoss="ngModel" required>
                <option value="1">Welding related Snags</option>
                <option value="2">Fit-up related Snags</option>
              </select>
              <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
              <div *ngIf="relatedtoss.invalid && (relatedtoss.dirty || relatedtoss.touched)" class="alert-danger">
                <span *ngIf="relatedtoss.errors?.required">
                  Related To. is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div [ngSwitch]="editchecklist.relatedto">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Problem Nature <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select class="form-control" name="problemnature" [(ngModel)]="editchecklist.problemnature" #problemnatures="ngModel" required>
                  <option [value]="undefined" hidden selected> please select Problem Nature</option>
                  <option [value]="null" hidden selected> please select Problem Nature</option>
                  <optgroup *ngSwitchCase="'1'">
                    <option [value]="1">Welding Missed out</option>
                    <option [value]="2">Welding Misalignment</option>
                    <option [value]="3">Welding Undercut</option>
                    <option [value]="4">Welding bead undersize</option>
                    <option [value]="5">Welding Spatters</option>
                    <option [value]="6">Burn through</option>
                    <option [value]="7">Problem Nature</option>
                  </optgroup>
                  <optgroup *ngSwitchCase="'2'">
                    <option [value]="undefined" hidden selected> please select Problem Nature</option>
                    <option [value]="null" hidden selected> please select Problem Nature</option>
                    <option [value]="8">Circumferential joint Fitup misalignment</option>
                    <option [value]="9">Fit-up misalignment</option>
                    <option [value]="10">Rolling mark</option>
                    <option [value]="11">Dent</option>
                    <option [value]="12">Grinding & finishing work pending</option>
                    <option [value]="13">Material non - conformance</option>
                  </optgroup>
                </select>
                <div *ngIf="problemnatures.invalid && (problemnatures.dirty || problemnatures.touched)" class="alert-danger">
                  <span *ngIf="problemnatures.errors?.required">
                    Problem Nature is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Snag Code <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
                <select class="form-control" name="snagcode" [(ngModel)]="editchecklist.snagcode" #snagcodes="ngModel" required>
                  <option [value]="undefined" hidden selected> please select Snag Code</option>
                  <option [value]="null" hidden selected> please select Snag Code</option>
                  <option class='option' *ngFor='let option of snagcode_all' [value]="option.id">{{option.snag_code}}</option>       
                </select>
              <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
              <div *ngIf="snagcodes.invalid && (snagcodes.dirty || snagcodes.touched)" class="alert-danger">
                <span *ngIf="snagcodes.errors?.required">
                  Snag Code. is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Problem Description<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <textarea type="text" class="form-control" Placeholder="Enter Problem Description" name="problemdesc" [(ngModel)]="editchecklist.problemdesc" #problemdescs="ngModel"  pattern="^[a-zA-Z]+( [a-zA-Z]+)*$" required appEmitfirstspace></textarea>
              <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
              <div *ngIf="problemdescs.invalid && (problemdescs.dirty || problemdescs.touched)" class="alert-danger">
                <span *ngIf="problemdescs.errors?.required">
                  Problem Description is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset(editfrm)">Close</button>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
          </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>