<div class="row">
    <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="col-md-6">
            <h5>Rework Assignment</h5>
          </div>
        </div>
        <div class="card-block">
            <form class="form-horizontal" #frm="ngForm" (ngSubmit)="assignrework(frm)">
                <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">Date</label>
                        <div class="col-sm-8">
                            <!-- <ngb-datepicker name="date" #dp [(ngModel)]="model" (navigate)="date = $event.next"></ngb-datepicker> -->
                            <input type="date" class="form-control" name="date" #date="ngModel" required ngModel >
                            <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert-danger">
                              <span *ngIf="date.errors?.required">
                              Date Required
                              </span>
                            </div>
                          </div>
                      </div>
                    </div>
                  
                    <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">Employee ID</label>
                          <div class="col-sm-8">
                            <select class="form-control" name="empid" ngModel #empid="ngModel" required (change)="onOptionsSelected($event)">
                              <option value="" selected>Select Employee ID</option>
                              <option *ngFor="let item of technicianname" [value]="item.id">{{item.emp_no}}</option>
                            </select>
                              <div *ngIf="empid.invalid && (empid.dirty || empid.touched)" class="alert-danger">
                                <span *ngIf="empid.errors?.required">
                                Emp Id is Required
                                </span>                            
                              </div>
                        </div>
                        </div>
                      </div>
                  </div>
                  <div class="row">
    
                    <div class="col-sm-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">Technician Name</label>
                           <div class="col-sm-8" >
                              <input type="text" class="form-control" name="techname" [(ngModel)]='options1' #techname="ngModel" readonly>
                              </div> 
                      
                        </div>
                      </div>
                      <div class="col-sm-6">
                          <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-right">Designation</label>
                            <div class="col-sm-8" >
                              <input type="text" class="form-control" name="designation" [(ngModel)]='options2' #designation="ngModel" readonly>
                              </div>
                          </div>
                        </div>
                      </div>
                      <div class="row">
                   
                        <div class="col-md-6">
                            <div class="form-group row">
                              <label class="col-sm-4 col-form-label text-right">Operation Code</label>
                              <div class="col-sm-8">
                                  <select class="form-control" name="opcode" ngModel #opcode="ngModel" required (ngModelChange)="getstationname($event)">
                                    <option value="" selected>Select Operation Code</option>
                                    <option *ngFor="let item of operationcodes" [value]="item.operation_code">{{item.operation_code}}</option>
                                  </select>
                                    <div *ngIf="opcode.invalid && (opcode.dirty || opcode.touched)" class="alert-danger">
                                      <span *ngIf="opcode.errors?.required">
                                      Operation Code is Required
                                      </span>                            
                                    </div>
                              </div>
                            </div>
                          </div>
                          <div class="col-md-6">
                              <div class="form-group row">
                                <label class="col-sm-4 col-form-label text-right">Workstation Name</label>
                                <div class="col-sm-8">
                                    <input type="text" class="form-control" name="stationname" [(ngModel)]='workstationnames' #stationname="ngModel" readonly>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="row"> 
                          <div class="col-md-6">
                            <div class="form-group row">
                              <label class="col-sm-4 col-form-label text-right">Remarks</label>
                              <div class="col-sm-8">
                                  <input type="text" class="form-control" Placeholder="Enter Remarks" name="remarks" ngModel #remarks="ngModel">
           
                              </div>
                            </div>
                          </div>
                        </div>
          <hr>
          <div>
              <div class="form-group row float-right">
                  
                  <button class="btn btn-primary btn-square" type="submit" [disabled]="!frm.form.valid">
                      <i class="icofont icofont-tick-mark"></i> Release W/O
                  </button>
                  <button class="btn btn-info btn-square" type="button" (click)=reset(frm)>
                    <i class="icofont icofont-refresh"></i> Reset
                  </button>
                  <!-- end of dropdown menu -->
                </div>
          </div>
          </form>
        </div>
      
        <!-- end of card-footer -->
      </div>
  </div>
  </div>
  
  
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-block table-responsive">
          <table class="datatable table table-striped table-bordered row-border hover">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Date</th>
                <th>Emp ID</th>
                <th>Technician Name</th>
                <th>Designation</th>
                <th>Operation Code</th>
                <th>Workstation Name</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of options;let i=index">
                <td>{{i+1}}</td>
                <td>{{item.date}}</td>
                <td>{{item.emp_id}}</td>
                <td>{{item.technician_name}}</td>
                <td>{{item.designation}}</td>               
                <td>{{item.operation_code}}</td>               
                <td>{{item.workstation}}</td>               
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end of card-footer -->
      </div>
    </div>
  </div>