<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="col-md-6">
          <h5>Raw Material Issue</h5>
        </div>
      </div>
      
      <div class="card-block">
        <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="adddruminternal(frm,addnew)">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Part No.</label>
                <div class="col-sm-8">
                  <select name="partno" id="" class="form-control" [(ngModel)]="selpartnio" #partno="ngModel" required (change)="getrawsmaterialdetail(partno.value)">
                    <option [value]="undefind" selected hidden>Select Part No</option>
                    <option [value]="null" selected hidden>Select Part No</option>
                    <option *ngFor="let item of rawmaterial.message" [value]="item.id">{{item.raw_partno}}</option>
                  </select>
                  <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                    <span *ngIf="partno.errors?.required">
                      Part No. Required
                    </span>
                    <span *ngIf="partno.errors?.pattern">
                      Accepts only Numeric.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Object Description</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Description" name="desc" [(ngModel)]="rawmaterialdescription" #desc="ngModel" required readonly>
                  <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                    <span *ngIf="desc.errors?.required">
                      Description Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Quantity</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Quantity" name="qty" ngModel  pattern="^\d[0-9]*$" #qty="ngModel" required>
                  <div *ngIf="qty.invalid && (qty.dirty || qty.touched)" class="alert-danger">
                    <span *ngIf="qty.errors?.required">
                      Quantity Required
                    </span>
                    <span *ngIf="qty.errors?.pattern">
                      Accepts only Numeric.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Date.</label>
                <div class="col-sm-8">
                  <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" name="calender" [(ngModel)]="model" ngbDatepicker #models="ngbDatepicker" required readonly>
                      <div class="input-group-append" >
                        <button class="btn btn-outline-secondary model" (click)="models.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                      </div>
                    </div>            
                  <div *ngIf="models.invalid && (models.dirty || models.touched)" class="alert-danger">
                    <span *ngIf="models.errors?.required">
                      Date is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group row float-right">
            <div class="col-sm-6">
              <button type="button" class="btn btn-default waves-effect pull-right" (click)="reset(frm)">Reset</button>
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Part No</th>
              <th>Object Description</th>
              <th>Quantity</th>
              <th>Date</th>
              <th>Approval Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of employees;let i=index">
              <td>{{i+1}}</td>
              <td>{{item.raw_partno}}</td>
              <td>{{item.description}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.datess}}</td>
              <td>
                  <span *ngIf="item.approval_status==0">Waiting For Approval</span>
                  <span *ngIf="item.approval_status==1">Approved</span>
                  <span *ngIf="item.approval_status==2">Rejected</span>
                </td>
              <td>
                  <div *ngIf="item.approval_status==0">
                      <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                          <i class='icofont icofont-fountain-pen'></i>
                        </button>
                        <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletedruminternal(item.id)'>
                          <i class='icofont icofont-trash'></i>
                        </button>
                    </div>
                    <div *ngIf="item.approval_status!=0">
                        NA
                    </div>
               
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class="btn btn-default">
        <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
        <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close
    </button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>

<!-- Edit -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Raw Material Issue</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editdruminternal(editfrm,edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editdrumheader.id" required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Part No.</label>
            <div class="col-sm-8">
              <select name="partno" id="" class="form-control" [(ngModel)]="editdrumheader.partno" #partno="ngModel" required (change)="getrawsmaterialdetail(partno.value)">
                <option [value]="undefind" selected hidden>Select Part No</option>
                <option [value]="null" selected hidden>Select Part No</option>
                <option *ngFor="let item of rawmaterial.message" [value]="item.id">{{item.raw_partno}}</option>
              </select>
              <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                <span *ngIf="partno.errors?.required">
                  Part No. Required
                </span>
                <span *ngIf="partno.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Object Description</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Description" name="desc" [(ngModel)]="rawmaterialdescription" #desc="ngModel" required readonly>
              <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                <span *ngIf="desc.errors?.required">
                  Description Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Quantity</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Quantity" name="qty" [(ngModel)]="editdrumheader.quantity"  pattern="^\d[0-9]*$" #qty="ngModel" required>
              <div *ngIf="qty.invalid && (qty.dirty || qty.touched)" class="alert-danger">
                <span *ngIf="qty.errors?.required">
                  Quantity Required
                </span>
                <span *ngIf="qty.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Date.</label>
            <div class="col-sm-8">
              <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" name="calender" [(ngModel)]="editmodel" ngbDatepicker #models="ngbDatepicker" required readonly>
                  <div class="input-group-append" >
                    <button class="btn btn-outline-secondary model" (click)="models.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                  </div>
                </div>            
              <div *ngIf="models.invalid && (models.dirty || models.touched)" class="alert-danger">
                <span *ngIf="models.errors?.required">
                  Date is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>