
  <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="showtable(frm,addNew)">
    <div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Choose Module</label>
              <div class="col-sm-5">
              <!--  <select class="form-control" name="chooseproduction" [(ngModel)]="choosep" #chooseproduction="ngModel" required >
                  <option value="" selected disabled >Select Production Report</option>
                  <option value="1"> Drum Module </option>
                  <option value="2"> Mixer Module </option>
                  <option value="3"> Mounting </option>
                </select>-->
                <input class="form-control" name="chooseproduction" [(ngModel)]="choosep"  #chooseproduction="ngModel" required readonly>
                <div *ngIf="chooseproduction.invalid && (chooseproduction.dirty || chooseproduction.touched||frm.submitted)" class="alert-danger">
                  <span *ngIf="chooseproduction.errors?.required">
                    Choose Production Report Required
                  </span>
                </div>
              </div>
            </div>
          </div>          
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Choose Part No</label>
              <div class="col-sm-5">
                  <angular2-multiselect [data]="dropdownList" [(ngModel)]="choopartnomodel" ngModel name="choopartno" #choopartno="ngModel" required 
                  [settings]="dropdownSettings" 
                  (onSelect)="onpartnoselect($event)" 
                 ></angular2-multiselect>
                <div *ngIf="choopartno.invalid && (choopartno.dirty || choopartno.touched||frm.submitted)" class="alert-danger">
                  <span *ngIf="choopartno.errors?.required">
                    Choose Part No
                  </span>
                </div>
              </div>
            </div>
          </div>
      </div> 
      <div class="row">
       <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-5 col-form-label text-right">From Stage</label>
            <div class="col-sm-5">
                <angular2-multiselect [data]="dropdownListstage" [(ngModel)]="fromstagemodel" ngModel name="fromstage" #fromstage="ngModel" required 
                [settings]="dropdownSettingsstage" 
                (onSelect)="onfromstageselect($event)" 
               ></angular2-multiselect>
              <div *ngIf="fromstage.invalid && (fromstage.dirty || fromstage.touched||frm.submitted)" class="alert-danger">
                <span *ngIf="fromstage.errors?.required">
                  Choose Stage
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-5 col-form-label text-right">To Stage</label>
            <div class="col-sm-5">
                <angular2-multiselect [data]="dropdownListstage" [(ngModel)]="tostagemodel" ngModel name="tostage" #tostage="ngModel" required 
                [settings]="dropdownSettingsstage" 
                (onSelect)="ontostageselect($event)" 
               ></angular2-multiselect>
              <div *ngIf="tostage.invalid && (tostage.dirty || tostage.touched||frm.submitted)" class="alert-danger">
                <span *ngIf="tostage.errors?.required">
                  Choose Stage
                </span>
              </div>
            </div>
          </div>
        </div>
    </div> 
        <div class="row">
          <div class="col-md-12">
            <div class="form-group row">   
              <label class="col-sm-5 col-form-label text-right">Select Period:</label>                           
              <div class="col-sm-5">
                <select class="form-control" name="productionduration" [(ngModel)]="productiondurations" (change)="reortDuratioChange($event)" #productionduration="ngModel" required>
                  <option value="" selected disabled >Select Production Duration</option>
                 <!-- <option value="1"> Monthly </option>
                  <option value="2"> Yearly </option>
                  <option value="3"> Date Selection </option>-->
                  <option value="1"> Historical </option>
                  <option value="2"> Calendar </option>
                </select>
                <div *ngIf="productionduration.invalid && (productionduration.dirty || productionduration.touched||frm.submitted)" class="alert-danger">
                  <span *ngIf="productionduration.errors?.required">
                    Choose Production Duration Required
                  </span>
                </div>
              </div>
            </div>
          </div>          
        </div>
        <div class="row">
          <div class="col-md-6">
              <div class="form-group row">
                  <label class="col-sm-6 col-form-label text-right">From Date:</label>
                  <div class="col-sm-6">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="fromcalendar" [(ngModel)]="fromdatemodel" (ngModelChange)="fromdatechanged($event)" ngbDatepicker [minDate]="from_mindate" [maxDate]="from_maxdate" #fromcalendar="ngbDatepicker" readonly required>
                        <div class="input-group-append" >
                          <button class="btn btn-outline-secondary calendar" (click)="fromcalendar.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                        </div>
                      </div>
                      <div *ngIf="fromcalendar.invalid && (fromcalendar.dirty || fromcalendar.touched||frm.submitted)" class="alert-danger">
                        <span *ngIf="fromcalendar.errors?.required">
                          From date is required
                        </span>
                      </div>
                  </div>                      
              </div>
          </div>
          <div class="col-md-6">
              <div class="form-group row">
                  <label class="col-sm-3 col-form-label text-right">To Date:</label>
                  <div class="col-sm-6">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="tocalendar" [(ngModel)]="todatemodel" ngbDatepicker [minDate]="to_mindate" [maxDate]="to_maxdate" #tocalendar="ngbDatepicker" required readonly>
                        <div class="input-group-append" >
                          <button class="btn btn-outline-secondary calendar" (click)="tocalendar.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                        </div>
                      </div>
                      <div *ngIf="tocalendar.invalid && (tocalendar.dirty || tocalendar.touched||frm.submitted)" class="alert-danger">
                        <span *ngIf="tocalendar.errors?.required">
                          To date is required
                        </span>
                      </div>
                  </div>                      
              </div>
          </div>
        </div>
        <!--<div [ngSwitch]="productiondurations">
          <div *ngSwitchCase="'3'">
            <div class="row">
              <div class="col-md-6">
                  <div class="form-group row">
                      <label class="col-sm-6 col-form-label text-right">From Date:</label>
                      <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="fromcalendar" [(ngModel)]="models" (ngModelChange)="fromdatechanged($event)" ngbDatepicker #fromcalendar="ngbDatepicker" required readonly>
                            <div class="input-group-append" >
                              <button class="btn btn-outline-secondary calendar" (click)="fromcalendar.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                            </div>
                          </div>
                      </div>                      
                  </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group row">
                      <label class="col-sm-3 col-form-label text-right">To Date:</label>
                      <div class="col-sm-6">
                        <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="tocalendar" [(ngModel)]="model" ngbDatepicker #tocalendar="ngbDatepicker" required readonly>
                            <div class="input-group-append" >
                              <button class="btn btn-outline-secondary calendar" (click)="tocalendar.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                            </div>
                          </div>
                      </div>                      
                  </div>
              </div>
            </div>
          </div>          
        </div>-->
        <hr>
        <div class="row pull-right">
            <div class="container">            
             
              <button  class="btn btn-info btn-primary btn-square" type="submit"  >
                <i class="icofont icofont-check"></i> Submit
              </button>
            </div>
          </div>
          <br>
          <br>
        </div>
      <!-- end of card-footer -->
      
    
      <div class="card-block">          
        <div class="row table-responsive" *ngIf="showtableboolean">
            <button (click)="export()">Export</button>
            <table #table1 class="table table-striped table-bordered row-border hover" id="table1">
              <thead>
                <tr>
                <th>S.No.</th>
                <th>Mixer Part No</th>
                <th>Mixer Model</th>
                <th>Work order no</th>
                <th>Engine Sl no</th>
                <th>Gearbox Sl no</th>
                <th>Stage</th>
                <th>Date</th>
                <th>No Of shifts</th>
                <th>Delivery Target Shift</th>
                <th>Delivery Efficiency</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of tabledata;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.part_no}}</td>
                    <td>{{item.mixer_model}}</td>
                    <td>{{item.workorder_no}}</td>
                    <td>{{item.engine_sl_no}}</td>
                    <td>{{item.gear_box_sl_no}}</td>
                    <td>{{item.operation_code}}</td>
                    <td>{{item.date_on}}</td>
                    <td>{{item.shift_count}}</td>
                    <td>{{item.delivery_target_shift}}</td>
                    <td>{{item.delivery_efficiency}}</td>
                    <td>{{item.Remarks}}</td>
                  </tr>
            </tbody>
            </table>
         <!-- <div [ngSwitch]="choosep">
            <div *ngSwitchCase="'1'">
              <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover">
                  <thead>
                    <tr>
                      <th>S.No.</th>
                      <th>Drum Part No.</th>
                      <th>Drum Model</th>
                      <th>Drum Description</th>
                      <th>Planned</th>
                      <th>Delivered</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of details;let i=index">
                      <td>{{i+1}}</td>
                      <td>{{item.part_no}}</td>
                      <td>{{item.drum_model}}</td>
                      <td>{{item}}</td>
                      <td>100</td>
                      <td>99</td>
                    </tr>                  
                  </tbody>
                </table>
            </div>
            <div *ngSwitchCase="choosep==='2' ? choosep : '' ">            
              <table datatable [dtOptions]="dtOptions" class="table table-striped table-bordered row-border hover">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Mixer Part No.</th>
                    <th>Mixer Model</th>
                    <th>Mixer Description</th>
                    <th>Planned</th>
                    <th>Delivered</th>
                  </tr>
                </thead>
                  <tr>
                    <td>1</td>
                    <td>80103985</td>
                    <td>3 RHS</td>
                    <td>Description</td>
                    <td>50</td>
                    <td>40</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>80103985</td>
                    <td>3 RHS</td>
                    <td>Description</td>
                    <td>50</td>
                    <td>50</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>80103985</td>
                    <td>3 RHS</td>
                    <td>Description</td>
                    <td>60</td>
                    <td>70</td>
                  </tr>
                <tbody>
                </tbody>
              </table>
            </div>
          </div>   -->   
        </div>
      </div>
    </div>
  </div>
</div>
</form>