
<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block">
          <form class="form-horizontal" name="editfrm" #editfrm="ngForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Engine SL.NO:</label>
              <div class="col-sm-5">
                <!--<select class="form-control" name="partno" [(ngModel)]="chooseslnos" #chooseslno="ngModel" required (ngModelChange)=getenginedetails($event)>
                  <option [value]="undefined" selected hidden>Select SL.NO.</option>
                  <option [value]="null" selected hidden>Select SL.No.</option>
                  <option *ngFor="let item of engineno" [value]="item.engine_sl_no">{{item.engine_sl_no}}</option>
                 </select>-->
                 <angular2-multiselect [data]="dropdownList" [(ngModel)]="chooseslnos" ngModel name="chooseslnos" #chooseslno="ngModel" required 
                 [settings]="dropdownSettings" 
                 (onSelect)="getenginedetails($event)" 
                ></angular2-multiselect>

                <div *ngIf="chooseslno.invalid && (chooseslno.dirty || chooseslno.touched)" class="alert-danger">
                  <span *ngIf="chooseslno.errors?.required">
                   Engine SL.NO is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label text-right">MC/SL.NO:</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" name="choosemcslno" [(ngModel)]="mixerslno" #choosemcslno="ngModel" required readonly>
                  <div *ngIf="choosemcslno.invalid && (choosemcslno.dirty || choosemcslno.touched)" class="alert-danger">
                    <span *ngIf="choosemcslno.errors?.required">
                      Choose MC/SL.NO is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Part NO:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="choosepartno" [(ngModel)]="partno" #choosepartno="ngModel" required readonly>
                <div *ngIf="choosepartno.invalid && (choosepartno.dirty || choosepartno.touched)" class="alert-danger">
                  <span *ngIf="choosepartno.errors?.required">
                    Enter Part.No is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Mixer Model:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="choosemodel" [(ngModel)]="model" #choosemodel="ngModel" required readonly>
                <div *ngIf="choosemodel.invalid && (choosemodel.dirty || choosemodel.touched)" class="alert-danger">
                  <span *ngIf="choosemodel.errors?.required">
                    Enter Model is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">   
              <label class="col-sm-5 col-form-label text-right">Select Checklist:</label>                           
              <div class="col-sm-5">
                <select class="form-control" name="productionduration" [(ngModel)]="productiondurations" #productionduration="ngModel" required>
                  <option value="" selected disabled >Select Checklist</option>
                  <option value="1"> Visual Checklist </option>
                  <option value="2"> Parts Assembly </option>
                </select>
                <div *ngIf="productionduration.invalid && (productionduration.dirty || productionduration.touched)" class="alert-danger">
                  <span *ngIf="productionduration.errors?.required">
                    Choose Production Duration Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>        
        <hr>        
        
        <div class="row pull-right">
          <div class="container">            
            <button class="btn btn-warning btn-square" type="reset" >
              <i class="icofont icofont-reset"></i> Reset
            </button>
            <button class="btn btn-info btn-square" type="button" (click)="getqadetails(productionduration.value);getdefects(productionduration.value)">
              <i class="icofont icofont-check"></i> Submit
            </button>
          </div>
        </div>
      </form>
      <!-- end of card-footer -->
      </div>
      <div class="card-block"> 
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">   
              <label class="col-sm-5 col-form-label text-right">Painting Supervisor:</label>                           
              <div class="col-sm-5">
                <input type="text" class="form-control" name="supervisor" [(ngModel)]="painter_supervisor" #supervisor="ngModel" required readonly>
                <div *ngIf="supervisor.invalid && (supervisor.dirty || supervisor.touched)" class="alert-danger">
                  <span *ngIf="supervisor.errors?.required">
                    Choose Painting Supervisor Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">   
              <label class="col-sm-5 col-form-label text-right">QC Inspector:</label>                           
              <div class="col-sm-5">
                <input type="text" class="form-control" name="qcinspector" [(ngModel)]="qc_inspector" #qcinspector="ngModel" required readonly>
                <div *ngIf="qcinspector.invalid && (qcinspector.dirty || qcinspector.touched)" class="alert-danger">
                  <span *ngIf="qcinspector.errors?.required">
                    Choose QC Inspector Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>   
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">   
              <label class="col-sm-5 col-form-label text-right">Painting Supervisor Signature:</label>                           
              <div class="col-sm-5">
                <!-- <input type="text" class="form-control" name="supervisorsign" [(ngModel)]="painter_supervisor" #supervisorsign="ngModel" required readonly> -->
                <a><img src="{{paintersign || 'assets/images/signature1.png'}}" class="form-control" height="100" width="200" alt="Signature Not Upload"  onerror="this.onerror=null;this.src='assets/images/signature1.png'"/></a>  
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">   
              <label class="col-sm-5 col-form-label text-right">QC Inspector Signature:</label>                           
              <div class="col-sm-5">
                <a><img src="{{qcsign ||'assets/images/signature1.png'}}" class="form-control" height="100" width="200" alt="Signature Not Upload"  onerror="this.onerror=null;this.src='assets/images/signature1.png'"/></a>         
              </div>
            </div>
          </div>
        </div>   
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">   
              <label class="col-sm-5 col-form-label text-right">Painting supervised Date:</label>                           
              <div class="col-sm-5">
                <input type="text" class="form-control" name="supervisordate" [(ngModel)]="painter_created_date" #supervisordate="ngModel" required readonly>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">   
              <label class="col-sm-5 col-form-label text-right">QC Inspected Date:</label>                     
              <div class="col-sm-5">
                <input type="text" class="form-control" name="qcinspectordate" [(ngModel)]="qc_created_date" #qcinspectordate="ngModel" required readonly>               
              </div>
            </div>
          </div>
        </div>      
       
        <div class="row table-responsive">
            <button (click)="export()">Export</button>
          <table #table1 class="datatable table table-striped table-bordered row-border hover" id="example">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Check List</th>
                <th>Check Painter</th>
                <th>Check QC</th>
                <th>Painter Remarks</th>
                <th>QC Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of pdichecklist; let i=index">
                <td>{{i+1}}</td>
                <td>{{item.checklistname}}</td>
                <!-- <td *ngIf="item.checkpainter == true; else falsyTemplate"><div align="Center"><i class="icofont icofont-tick-mark" style="color:#008000;"></i></div></td>
                <ng-template #falsyTemplate>
                  <td><div align="Center"><i class="icofont icofont-close" style="color:#FF0000;"></i></div></td>
                </ng-template> -->
                <td *ngIf="item.checkpainter == true; else falsyTemplate">Checked</td>
                <ng-template #falsyTemplate>
                  <td>Not Checked</td>
                </ng-template>
                <td *ngIf="item.checkqc == true; else falsyTemplate1">Checked</td>
                <ng-template #falsyTemplate1>
                  <td>Not Checked</td>
                </ng-template>
                <td>{{item.painterRemarks}}</td>
                <td>{{item.qcRemarks}}</td>
              </tr>             
            </tbody>
          </table>
        </div>        
      </div>
      <div class="card-block">
        <div class="row table-responsive">
          <div class="row">
            <div class="container">
              <h3>Defects</h3>
            </div>            
          </div>
          
          <button (click)="export1()">Export</button>
          <table #table2 class="table table-striped table-bordered row-border hover" id="example2">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Category</th>
                <th>Sub Category</th>
                <th>Description</th>
                <th>Defect Image</th>
                <th>Posted By</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of pdidefect; let i=index">
                <td>{{i+1}}</td>
                <td>{{item.category}}</td>
                <td>{{item.subcategory}}</td>
                <td>{{item.description}}</td>
                <td class="text-center">
                  <button class='btn btn-default btn-outline-default btn-icon' (click)='showimage(item.defect_image);openbulkupload(viewimage)'>
                    <i class='icofont icofont-image'></i>
                  </button>
                </td>
                <td>{{item.name}}({{item.emp_id}})</td>
              </tr>             
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #viewimage let-c="close" let-d="dismiss">
  <div class="modal-body">
    <button type="button" class="close basic-close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
    <img src="{{defect_image}}" class="form-control" height="400" width="300"  onerror="this.onerror=null;this.src='assets/images/signature1.png'">
  </div>
</ng-template>
