<div class="row">
    <div class="col-sm-12">
      <form class="form-horizontal" name="addform" #addfrm="ngForm" (ngSubmit)="addchassisclearance(addfrm)">
        <div class="card card-border-primary">
          <div class="card-header">
            <h5>Acknowledgement for Chassis Inward</h5>
          </div>
          <div class="card-block">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Inward Date</label>
                  <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="inward_model" [(ngModel)]="inward_models" ngbDatepicker #inward_model="ngbDatepicker" required readonly>
                        <div class="input-group-append" >
                          <button class="btn btn-outline-secondary inward_model" (click)="inward_model.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                        </div>
                      </div>            
                    <div *ngIf="inward_model.invalid && (inward_model.dirty || inward_model.touched)" class="alert-danger">
                      <span *ngIf="inward_model.errors?.required">
                        Inward Date is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Inward No.</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="inwardno" placeholder="Enter Inward No." [(ngModel)]="inwardnos" #inwardno="ngModel"
                      required>
                    <div *ngIf="inwardno.invalid && (inwardno.dirty || inwardno.touched)" class="alert-danger">
                      <span *ngIf="inwardno.errors?.required">
                        Inward No. is Required.
                      </span>
                      <span *ngIf="inwardno.errors?.pattern">
                          Inward No. is accepts only Numeric.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Choose Customer Name.</label>
                  <div class="col-sm-8">
                    <select name="customername" class="form-control" [(ngModel)]="customernames" #customername="ngModel" required (change)="getchassismakes(customername.value)">
                      <option value="" selected disabled>Select Customer Name</option>
                      <option *ngFor="let items of customer_details.message" [value]="items.id">{{items.custid}}_{{items.customer_name}}</option>
                    </select>
                    <div *ngIf="customername.invalid && (customername.dirty || customername.touched)" class="alert-danger">
                      <span *ngIf="customername.errors?.required">
                        Customer Name is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Chassis Make.</label>
                  <div class="col-sm-8">
                    <select class="form-control" name="chassismake" [(ngModel)]="chassismake" #chassismakes="ngModel" required (change)="getchassismodel(chassismakes.value)">
                        <option value="" selected disabled>Select Chassis Make</option>
                        <option *ngFor="let item of chassisinward.message" [value]="item.id">{{item.chassismake}}</option>
                    </select>
                    <div *ngIf="chassismakes.invalid && (chassismakes.dirty || chassismakes.touched)" class="alert-danger">
                      <span *ngIf="chassismakes.errors?.required">
                        Chassis Make is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>                       
            </div>
            <div class="row">            
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Chassis Model.</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="chassismodel" [(ngModel)]="chassismodels" #chassismodel="ngModel" required readonly />
                    <div *ngIf="chassismodel.invalid && (chassismodel.dirty || chassismodel.touched)" class="alert-danger">
                      <span *ngIf="chassismodel.errors?.required">
                        Chassis Model is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Chassis No.</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="chassisno" placeholder="Enter Chassis No." [(ngModel)]="chassisnos" #chassisno="ngModel"
                      required>
                    <div *ngIf="chassisno.invalid && (chassisno.dirty || chassisno.touched)" class="alert-danger">
                      <span *ngIf="chassisno.errors?.required">
                        Chassis No. is Required.
                      </span>
                      <span *ngIf="chassisno.errors?.pattern">
                        Chassis No. is accepts only Numeric.
                      </span>
                    </div>
                  </div>
                </div>
              </div>                        
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Invoice No.</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="invoiceno" placeholder="Enter Invoice No." [(ngModel)]="invoicenos" pattern="^\d[0-9]*$" #invoiceno="ngModel"
                      required>
                    <div *ngIf="invoiceno.invalid && (invoiceno.dirty || invoiceno.touched)" class="alert-danger">
                      <span *ngIf="invoiceno.errors?.required">
                        Invoice No. is Required.
                      </span>
                      <span *ngIf="invoiceno.errors?.pattern">
                        Invoice No. is accepts only Numeric.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Invoice Date.</label>
                  <div class="col-sm-8">
                    <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="invoice_model" [(ngModel)]="invoice_models" ngbDatepicker #invoice_model="ngbDatepicker" required readonly>
                        <div class="input-group-append" >
                          <button class="btn btn-outline-secondary invoice_model" (click)="invoice_model.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                        </div>
                      </div>            
                    <div *ngIf="invoice_model.invalid && (invoice_model.dirty || invoice_model.touched)" class="alert-danger">
                      <span *ngIf="invoice_model.errors?.required">
                        Invoice Date is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Chassis Accessories list.</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="chassisaccessno" placeholder="Enter Chassis Accessories list." [(ngModel)]="chassisaccessnos" #chassisaccessno="ngModel"
                      required>
                    <div *ngIf="chassisaccessno.invalid && (chassisaccessno.dirty || chassisaccessno.touched)" class="alert-danger">
                      <span *ngIf="chassisaccessno.errors?.required">
                          Chassis Accessories list. is Required.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Remarks.</label>
                  <div class="col-sm-8">
                      <input type="text" class="form-control" name="remarks" placeholder="Enter remarks." [(ngModel)]="remarkss" #remarks="ngModel">            
                    <div *ngIf="remarks.invalid && (remarks.dirty || remarks.touched)" class="alert-danger">
                      <span *ngIf="remarks.errors?.required">
                        Remarks is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Total Qty.</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="totalqty" placeholder="Enter Qty" [(ngModel)]="getchassis.total_qty" pattern="^\d[0-9]*$" #totalqty="ngModel" required disabled>
                    <div *ngIf="totalqty.invalid && (totalqty.dirty || totalqty.touched)" class="alert-danger">
                      <span *ngIf="totalqty.errors?.required">
                        Quantity is Required
                      </span>
                      <span *ngIf="totalqty.errors?.pattern">
                        Quantity is accepts only Numeric
                      </span>
                    </div>
                  </div>
                </div>
              </div> 
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Remaining Qty.</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="availableqty" placeholder="Enter Qty" [(ngModel)]="getchassis.available_qty" pattern="^\d[0-9]*$" #availableqty="ngModel" disabled>
                    <div *ngIf="availableqty.invalid && (availableqty.dirty || availableqty.touched)" class="alert-danger">
                      <span *ngIf="availableqty.errors?.required">
                        Quantity is Required
                      </span>
                      <span *ngIf="availableqty.errors?.pattern">
                        Quantity is accepts only Numeric
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="task-board m-0">
              <!-- end of dropdown-secondary -->
              <div class="dropdown-secondary dropdown">
                <button class="btn btn-primary btn-square" type="submit" [disabled]="!addfrm.form.valid">
                  <i class="icofont icofont-tick-mark"></i> Submit
                </button>
                <button class="btn btn-info btn-square" type="button">
                  <i class="icofont icofont-refresh"></i> Reset
                </button>
                <!-- end of dropdown menu -->
              </div>
              <!-- end of seconadary -->
            </div>
            <!-- end of pull-right class -->
          </div>
          <!-- end of card-footer -->
        </div>
      </form>
    </div>
  </div>
  
  <div class="row">
    <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-block table-responsive">
          <div class="text-right">
            <button class="btn btn-primary btn-square" type="button" (click)="openmodal(mail)">
                <i class="icofont icofont-upload"></i> Intimate to
            </button>
          </div>
          <table class="datatable table table-striped table-bordered row-border hover">
            <thead>
              <tr>
                <th></th>
                <th>S.No</th>
                <th>Inward Date</th>
                <th>Inward No</th>              
                <th>Customer Name</th>              
                <th>Chassis Make</th>
                <th>Chassis Model</th>
                <th>Chassis No</th>
                <th>Invoice No</th>
                <th>Invoice Date</th>
                <th>Chassis Accessories List</th>
                <th>Remarks</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of chassisclearance;let i =index">
                <td><input type="checkbox" [(ngModel)]="item.selected" name="menu1" [value]="item.id" id="{{item.id}}" (change)="checkValue(item.id,$event.target.checked)"></td>
                <td>{{i+1}}</td>
                <td>{{item.inwarddate}}</td>
                <td>{{item.inwardno}}</td>
                <td>{{item.customername}}</td>              
                <td>{{item.chassismake}}</td>
                <td>{{item.chassismodel}}</td>
                <td>{{item.chassisno}}</td>
                <td>{{item.invoiceno}}</td>
                <td>{{item.invoicedate}}</td>
                <td>{{item.chassisaccessories}}</td>
                <td>{{item.remarks}}</td>
                <td>
                  <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                    <i class='icofont icofont-fountain-pen'></i>
                  </button>
                  <span ng-class="item.status==1?">
                  <button class='btn btn-danger btn-outline-danger btn-icon' (click)='item.status==1? notdeletechassisinward():deletechassisinward(item.id)'>
                    <i class='icofont icofont-trash'></i>
                  </button>
                </span>
                <!-- <span *ngIf="item.status==1">
                  <button class='btn btn-danger btn-outline-danger btn-icon' (click)='notdeletechassisinward()'>
                    <i class='icofont icofont-trash'></i>
                  </button>
                </span> -->
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end of card-footer -->
      </div>
    </div>
  </div>
  
  <ng-template #edit let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Edit Chassis Inward Clearance</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" name="editfrm" #editfrm="ngForm" (ngSubmit)="editchassisclearances(editfrm, edit)">
        <div class="row" style="display:none">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Id</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editchassisclearance.id" required #eid="ngModel">
                <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                  <span *ngIf="eid.errors?.required">
                    ID is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Inward Date</label>
              <div class="col-sm-8">
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="inward_model" [(ngModel)]="editchassisclearance_inwarddate" ngbDatepicker #inward_model="ngbDatepicker" required readonly>
                    <div class="input-group-append" >
                      <button class="btn btn-outline-secondary inward_model" (click)="inward_model.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                    </div>
                  </div>            
                <div *ngIf="inward_model.invalid && (inward_model.dirty || inward_model.touched)" class="alert-danger">
                  <span *ngIf="inward_model.errors?.required">
                    Inward Date is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Inward No.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="inwardno" placeholder="Enter Inward No." [(ngModel)]="editchassisclearance.inwardno" pattern="^\d[0-9]*$" #inwardno="ngModel"
                  required>
                <div *ngIf="inwardno.invalid && (inwardno.dirty || inwardno.touched)" class="alert-danger">
                  <span *ngIf="inwardno.errors?.required">
                    Inward No. is Required.
                  </span>
                  <span *ngIf="inwardno.errors?.pattern">
                      Inward No. is accepts only Numeric.
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Choose Customer Name.</label>
              <div class="col-sm-8">
                <select name="customername" class="form-control" [(ngModel)]="customernames" #customername="ngModel" required>
                  <option [value]="undefined" [selected]="'true'" [disabled]="'true'">Select Customer Name</option>
                  <option *ngFor="let items of customer_details.message" [value]="items.id">{{items.custid}}_{{items.customer_name}}</option>
                </select>
                <div *ngIf="customername.invalid && (customername.dirty || customername.touched)" class="alert-danger">
                  <span *ngIf="customername.errors?.required">
                    Customer Name is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Chassis Make.</label>
              <div class="col-sm-8">
                <select class="form-control" name="chassismake" [(ngModel)]="editchassisclearance.chassis_make" #chassismakes="ngModel" required (change)="getchassismake(chassismakes.value)">
                  <option *ngFor="let item of chassisinward.message" [value]="item.id">{{item.chassismake}}</option>
                </select>
                <div *ngIf="chassismakes.invalid && (chassismakes.dirty || chassismakes.touched)" class="alert-danger">
                  <span *ngIf="chassismakes.errors?.required">
                    Chassis Make is Required
                  </span>
                </div>
              </div>
            </div>
          </div>                
        </div>
        <div class="row">        
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Chassis Model.</label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" name="chassismodel" [(ngModel)]="editchassisclearance.chassis_model" #chassismodel="ngModel" required readonly />
                <div *ngIf="chassismodel.invalid && (chassismodel.dirty || chassismodel.touched)" class="alert-danger">
                  <span *ngIf="chassismodel.errors?.required">
                    Chassis Model is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Chassis No.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="chassisno" placeholder="Enter Chassis No." [(ngModel)]="editchassisclearance.chassisno" #chassismakess="ngModel" pattern="^\d[0-9]*$" #chassisnos="ngModel" required>
                <div *ngIf="chassisnos.invalid && (chassisnos.dirty || chassisnos.touched)" class="alert-danger">
                  <span *ngIf="chassisnos.errors?.required">
                    Chassis Make is Required
                  </span>
                </div>
              </div>
            </div>
          </div> 
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Invoice No.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="invoiceno" placeholder="Enter Invoice No." [(ngModel)]="editchassisclearance.invoiceno" pattern="^\d[0-9]*$" #invoiceno="ngModel"
                  required>
                <div *ngIf="invoiceno.invalid && (invoiceno.dirty || invoiceno.touched)" class="alert-danger">
                  <span *ngIf="invoiceno.errors?.required">
                    Invoice No. is Required.
                  </span>
                  <span *ngIf="invoiceno.errors?.pattern">
                    Invoice No. is accepts only Numeric.
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Invoice Date.</label>
              <div class="col-sm-8">
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="invoice_model" [(ngModel)]="editchassisclearance_invoicedate" ngbDatepicker #invoice_model="ngbDatepicker" required readonly>
                    <div class="input-group-append" >
                      <button class="btn btn-outline-secondary invoice_model" (click)="invoice_model.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                    </div>
                  </div>            
                <div *ngIf="invoice_model.invalid && (invoice_model.dirty || invoice_model.touched)" class="alert-danger">
                  <span *ngIf="invoice_model.errors?.required">
                    Invoice Date is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Chassis Accessories list.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="chassisaccessno" placeholder="Enter Chassis Accessories list." [(ngModel)]="editchassisclearance.chassisaccessories" #chassisaccessno="ngModel"
                  required>
                <div *ngIf="chassisaccessno.invalid && (chassisaccessno.dirty || chassisaccessno.touched)" class="alert-danger">
                  <span *ngIf="chassisaccessno.errors?.required">
                      Chassis Accessories list. is Required.
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Remarks.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="remarks" placeholder="Enter remarks." [(ngModel)]="editchassisclearance.remarks" #remarks="ngModel">
                <div *ngIf="remarks.invalid && (remarks.dirty || remarks.touched)" class="alert-danger">
                  <span *ngIf="remarks.errors?.required">
                    Remarks is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Total Qty.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="totalqty" placeholder="Enter Qty" [(ngModel)]="editchassisclearance.total_qty" pattern="^\d[0-9]*$" #totalqtys="ngModel" required disabled>
                <div *ngIf="totalqtys.invalid && (totalqtys.dirty || totalqtys.touched)" class="alert-danger">
                  <span *ngIf="totalqtys.errors?.required">
                    Quantity is Required
                  </span>
                  <span *ngIf="totalqtys.errors?.pattern">
                    Quantity is accepts only Numeric
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Available Qty.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="availableqty" placeholder="Enter Qty" [(ngModel)]="getchassis.available_qty" pattern="^\d[0-9]*$" #availableqty="ngModel" disabled>
                <div *ngIf="availableqty.invalid && (availableqty.dirty || availableqty.touched)" class="alert-danger">
                  <span *ngIf="availableqty.errors?.required">
                    Quantity is Required
                  </span>
                  <span *ngIf="availableqty.errors?.pattern">
                    Quantity is accepts only Numeric
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div> 
        <hr>
        <div class="form-group row float-right">
          <div class="col-sm-6">
            <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
          </div>
        </div>
      </form>
    </div>
    <!-- <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
    </div> -->
  </ng-template>
  <ng-template #mail let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Chassis Clearances</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
          <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" name="addform" #frm="ngForm"  (ngSubmit)="addmailingstatus()">
                <div class="container" >
            <div class="row">
                <div class="col-sm-4">
                    <div>
                      <label class="label-control">Select Users :
                      </label>
                    </div>
                  </div>
              <div class="col-sm-8" >
    
                  <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" ngModel name="selectedemails" #selectedemails="ngModel" required 
                  [settings]="dropdownSettings" 
                  (onSelect)="onItemSelect($event)" 
                  (onDeSelect)="OnItemDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
                  <div *ngIf="selectedemails.invalid && (selectedemails.dirty || selectedemails.touched)" class="alert-danger">
                    <span *ngIf="selectedemails.errors?.required">
                    Role is Required
                    </span>
                  </div>
              
                
              </div>
            
            </div>
          </div>
    
          <hr>
          <div class="form-group row float-right">
            <div class="col-sm-6">
              <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
            </div>
          </div>
        </form>
      </div>   
  </ng-template>