<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="row">
            <div class="col-md-6">
                <h5>Drum Internal Parts</h5>
              </div>
              <div class="col-md-6">
                <div class="text-right">
                  <button class="btn btn-primary btn-square" type="button" (click)="openbulkupload(bulkupload)">
                    <i class="icofont icofont-upload"></i> Bulk Upload
                  </button>
                  <button class="btn btn-info btn-square" type="button" (click)="open(addnew)">
                    <i class="icofont icofont-plus"></i> Add Drum Internal Parts
                  </button>
                </div>
              </div>
        </div>
        
      </div>
      <div class="card-block">
        <table class="datatable table table-striped table-bordered table-responsive row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Drum Model No</th>
              <th>LV</th>
              <th>Header No.</th>
              <th>Part No</th>
              <th>Object Description</th>
              <th>Qty</th>
              <th>Unit</th>
              <th>Storage Location</th>
              <th>Class</th>
              <th>Work Station</th>
              <th>Total Qty</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of employees;let i=index">
              <td>{{i+1}}</td>
                <td>{{item.drum_model_no}}</td>
                <td>{{item.lv}}</td>
              <td>{{item.header_no}}</td>
              <td>{{item.part_no}}</td>
              <td>{{item.description}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.unit}}</td>
              <td>{{item.storagelocation}}</td>
              <td>{{item.class}}</td>
              <td>{{item.opcode}}</td>
              <td>{{item.total_qty}}</td>

              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletedruminternal(item.id)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class="btn btn-default">
        <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
        <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close
    </button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>

<!-- Add Bulk Upload -->

<!-- Add New -->
<ng-template #addnew let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Drum Internal Parts</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="adddruminternal(frm,addnew)">
        <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Drum Model No.</label>
                <div class="col-sm-8">
                    <select class='select-option  form-control' #drummodelno="ngModel"  required ngModel name=drummodelno>
                      <option value="" selected>Select Drum Model No.</option>
                        <option class='option' *ngFor='let option of modelno' [value]="option.drum_model">{{option.drum_model}}</option>
                    </select>
                    <div *ngIf="drummodelno.invalid && (drummodelno.dirty || drummodelno.touched)" class="alert-danger">
                      <span *ngIf="drummodelno.errors?.required">
                    Drum Model No. is Required
                      </span>
                      </div>
                </div>
              </div>
            </div>
          </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">LV</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter LV" name="lv" ngModel #lv="ngModel" required>
              <div *ngIf="lv.invalid && (lv.dirty || lv.touched)" class="alert-danger">
                <span *ngIf="lv.errors?.required">
                  LV Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Header No.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Header No." name="headerno" ngModel #headerno="ngModel" required>
              <div *ngIf="headerno.invalid && (headerno.dirty || headerno.touched)" class="alert-danger">
                <span *ngIf="headerno.errors?.required">
                  Header No. Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Part No</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Part No" pattern="^\d[0-9]*$" name="partno" ngModel #partno="ngModel"
                required>
              <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                <span *ngIf="partno.errors?.required">
                  Part Number Required
                </span>
                <span *ngIf="partno.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Object Description</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Description" name="desc" ngModel #desc="ngModel" required>
              <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                <span *ngIf="desc.errors?.required">
                  Description Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Quantity</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Quantity" name="Quantity" ngModel pattern="^\d[0-9]*$" #Quantity="ngModel"
                required>
              <div *ngIf="Quantity.invalid && (Quantity.dirty || Quantity.touched)" class="alert-danger">
                <span *ngIf="Quantity.errors?.required">
                  Quantity Required
                </span>
                <span *ngIf="Quantity.errors?.pattern">
                  Pattern accepts only Numeric value
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Unit</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Unit." name="unit" ngModel #unit="ngModel" required>
              <div *ngIf="unit.invalid && (unit.dirty || unit.touched)" class="alert-danger">
                <span *ngIf="unit.errors?.required">
                  Unit is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Storage Location</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Storage Location" name="storagelocation" ngModel #storagelocation="ngModel"
                required>
              <div *ngIf="storagelocation.invalid && (storagelocation.dirty || storagelocation.touched)" class="alert-danger">
                <span *ngIf="storagelocation.errors?.required">
                  Storage Location Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Class</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Class" name="class" ngModel #class="ngModel" required>
              <div *ngIf="class.invalid && (class.dirty || class.touched)" class="alert-danger">
                <span *ngIf="class.errors?.required">
                  Class is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Work Station</label>
            <div class="col-sm-8">
              <select class='select-option  form-control' #workstation="ngModel"  required ngModel name=workstation>
                <option value="" selected>Select Work Station</option>
                <option class='option' *ngFor='let option of workstationnames' [value]="option.id">{{option.list_of_operation}}</option>
            </select>
            <div *ngIf="workstation.invalid && (workstation.dirty || workstation.touched)" class="alert-danger">
              <span *ngIf="workstation.errors?.required">
                  workstation Required
              </span>
            </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Total Qty</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Total Qty" name="totalqty" ngModel #totalqty="ngModel" pattern="^\d[0-9]*$"
                required>
              <div *ngIf="totalqty.invalid && (totalqty.dirty || totalqty.touched)" class="alert-danger">
                <span *ngIf="totalqty.errors?.required">
                  Total Qty is Required
                </span>
                <span *ngIf="totalqty.errors?.pattern">
                  Total Qty is accepts only Numeric
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Remarks</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Remarks" name="remarks" ngModel #remarks="ngModel" required>
              <div *ngIf="remarks.invalid && (remarks.dirty || remarks.touched)" class="alert-danger">
                <span *ngIf="remarks.errors?.required">
                  Remarks is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>

<!-- Edit -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Drum Internal Parts</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editdruminternal(editfrm,edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editemployee.id" required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Drum Model No.</label>
              <div class="col-sm-8">
                  <select class='select-option  form-control' #drummodelno="ngModel"  required [(ngModel)]="editemployee.drum_model_no" name=drummodelno disabled>
                      <option class='option' *ngFor='let option of modelno' [value]="option.drum_model">{{option.drum_model}}</option>
                  </select>
              </div>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">LV</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter LV" name="lv" [(ngModel)]="editemployee.lv" #lvs="ngModel" required>
              <div *ngIf="lvs.invalid && (lvs.dirty || lvs.touched)" class="alert-danger">
                <span *ngIf="lvs.errors?.required">
                  LV Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Header No.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Header No." name="headerno" [(ngModel)]="editemployee.header_no"
                #headernos="ngModel" required>
              <div *ngIf="headernos.invalid && (headernos.dirty || headernos.touched)" class="alert-danger">
                <span *ngIf="headernos.errors?.required">
                  Header No. Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Part No</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Part No" pattern="^\d[0-9]*$" name="partno" [(ngModel)]="editemployee.part_no"
                #partnos="ngModel" required>
              <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                <span *ngIf="partnos.errors?.required">
                  Part Number Required
                </span>
                <span *ngIf="partnos.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Object Description</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Description" name="desc" [(ngModel)]="editemployee.description"
                #descs="ngModel" required>
              <div *ngIf="descs.invalid && (descs.dirty || descs.touched)" class="alert-danger">
                <span *ngIf="descs.errors?.required">
                  Description Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Quantity</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Quantity" name="Quantity" [(ngModel)]="editemployee.quantity"
                pattern="^\d[0-9]*$" #Quantitys="ngModel" required>
              <div *ngIf="Quantitys.invalid && (Quantitys.dirty || Quantitys.touched)" class="alert-danger">
                <span *ngIf="Quantitys.errors?.required">
                  Quantity Required
                </span>
                <span *ngIf="Quantitys.errors?.pattern">
                  Pattern accepts only Numeric value
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Unit</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Unit." name="unit" [(ngModel)]="editemployee.unit" #units="ngModel"
                required>
              <div *ngIf="units.invalid && (units.dirty || units.touched)" class="alert-danger">
                <span *ngIf="units.errors?.required">
                  Unit is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Storage Location</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Storage Location" name="storagelocation" [(ngModel)]="editemployee.storagelocation"
                #storagelocations="ngModel" required>
              <div *ngIf="storagelocations.invalid && (storagelocations.dirty || storagelocations.touched)" class="alert-danger">
                <span *ngIf="storagelocations.errors?.required">
                  Storage Location Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Class</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Class" name="class" [(ngModel)]="editemployee.class" #classs="ngModel"
                required>
              <div *ngIf="classs.invalid && (classs.dirty || classs.touched)" class="alert-danger">
                <span *ngIf="classs.errors?.required">
                  Class is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Work Station</label>
            <div class="col-sm-8">
              
                <select class='select-option  form-control' #workstations="ngModel"  required [(ngModel)]="editemployee.workstation_name" name=workstation>
                  <option value="" selected>Select Work Station</option>
                  <option class='option' *ngFor='let option of workstationnames' [value]="option.id">{{option.list_of_operation}}</option>
              </select>
              <div *ngIf="workstations.invalid && (workstations.dirty || workstations.touched)" class="alert-danger">
                <span *ngIf="workstations.errors?.required">
                  Work Station is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Total Qty</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Total Qty" name="totalqty" [(ngModel)]="editemployee.total_qty"
                #totalqtys="ngModel" pattern="^\d[0-9]*$" required>
              <div *ngIf="totalqtys.invalid && (totalqtys.dirty || totalqtys.touched)" class="alert-danger">
                <span *ngIf="totalqtys.errors?.required">
                  Total Qty is Required
                </span>
                <span *ngIf="totalqtys.errors?.pattern">
                  Total Qty is accepts only Numeric
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Remarks</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Remarks" name="remarks" [(ngModel)]="editemployee.remarks" #remarkss="ngModel"
                required>
              <div *ngIf="remarkss.invalid && (remarkss.dirty || remarkss.touched)" class="alert-danger">
                <span *ngIf="remarkss.errors?.required">
                  Remarks is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>
