<div class="row">
    <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="row">
            <div class="col-md-6">
              <h5>Employee Master </h5>
            </div>
            <div class="col-md-6">
              <div class="text-right">
                <button class="btn btn-primary btn-square" type="button" (click)="open(bulkupload)">
                  <i class="icofont icofont-upload"></i> Bulk Upload
                </button>
                <button class="btn btn-info btn-square" type="button" (click)="open(addNew)">
                  <i class="icofont icofont-plus"></i> Add Employee
                </button>
              </div>        
            </div>
          </div>
          
        </div>
        <div class="card-block table-responsive">
          <table class="datatable table table-striped table-bordered row-border hover">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Emp No</th>
                <th>Name</th>
                <th>Mobile Number</th>
                <th>Emp Batch</th>              
                <th>Emp Details</th>
                <th>Employee Category</th>
                <th>Bus Route</th>
                <th>Qualification Status</th>
                <th>Role</th>
                <th>User Status</th>
                <th>Contractor Name</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of employees;let i =index">
                <td>{{i+1}}</td>
                <td>{{item.emp_no}}</td>
                <td>{{item.name}}</td>
                <td>{{item.mobile_number}}</td>
                <td>{{item.emp_batch}}</td>
                <td>{{item.emp_details}}</td>
                <td>
                  <span *ngIf='item.emp_category == 1'>Permanent</span>
                  <span *ngIf='item.emp_category == 2'>Contract</span>
                </td>
                <td>{{item.bus_route}}</td>
                <td>{{item.emp_qual}}</td>
                <td>{{item.designation}}</td>
               
                <td>
                  <div *ngIf="item.emp_status==1">Active</div>
                  <div *ngIf="item.emp_status==0">In Active</div>
                </td>
                <td *ngIf="item.conid == null; else name">-</td>
                <ng-template #name>
                <td>{{item.conid}}</td>
                </ng-template>
                <td>
                  <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                    <i class='icofont icofont-fountain-pen'></i>
                  </button>
                  <button class='btn btn-primary btn-outline-primary btn-icon' (click)='employeesnag(item.emp_no);openedit(snag)'>
                    <i class="icofont icofont-eye-alt"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end of card-footer -->
      </div>
    </div>
  </div>
  
  
  
  <!-- Add Bulk Upload  -->
  <ng-template #bulkupload let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Bulk Upload</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(bulkupload)">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-4 text-right">
          <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
        </div>
        <label class="custom-file col-sm-6">
          <!-- <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder
              ="Upload file"> -->
          <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class="
                btn btn-default">
          <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
          <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
          <!-- <span class="custom-file-control"></span> -->
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click');reset(bulkupload)">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
    </div>
  </ng-template>
  
  <ng-template #addNew let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Employee Master</h4>
    <p class="mandatoryfiles">* Fields Are mandatory</p>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(addNew)">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="addform" #frm="ngForm"  (ngSubmit)="addemployee(frm,addNew)">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Emp No <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="empno" ngModel #empno="ngModel" appEmitfirstspace required>
              <div *ngIf="empno.invalid && (empno.dirty || empno.touched)" class="alert-danger">
                <span *ngIf="empno.errors?.required">
                  Emp No. is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Name <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Name" name="empname" ngModel appEmitfirstspace #empname="ngModel" required>
              <div *ngIf="empname.invalid && (empname.dirty || empname.touched)" class="alert-danger">
                <span *ngIf="empname.errors?.required">
                  Emp Name is Required
                </span>
                <span *ngIf="empname.errors?.pattern">
                  Pattern Mis Match
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Mobile Number<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Mobile Number" name="empmobile" ngModel appDigitOnly appEmitfirstspace #empmobile="ngModel" pattern="^\d[0-9]*$" minlength="10" maxlength="10" required>
              <div *ngIf="empmobile.invalid && (empmobile.dirty || empmobile.touched)" class="alert-danger">
                <span *ngIf="empmobile.errors?.required">
                  Emp Mobile Number is Required
                </span>
               
                <span *ngIf="empmobile.errors?.minlength">
                  Mobile number should not be less than 10 digits,
                </span>
                <span *ngIf="empmobile.errors?.maxlength">
                  Mobile number should not be greater than 10 digits.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Emp Batch <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="empbatch" ngModel appEmitfirstspace #empbatch="ngModel" required>
                <option value="" selected disabled>Select Batch</option>
                <option value="A">A</option>       
                <option value="B">B</option>       
                <option value="General">General</option>       
              </select>
              <div *ngIf="empbatch.invalid && (empbatch.dirty || empbatch.touched)" class="alert-danger">
                <span *ngIf="empbatch.errors?.required">
                  Emp Batch is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Emp Workstation</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp WorkStation" name="empstation" ngModel #empstation="ngModel" required>
              <div *ngIf="empstation.invalid && (empstation.dirty || empstation.touched)" class="alert-danger">
                <span *ngIf="empbatch.errors?.required">
                  Emp Work Station is Required
                </span>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Bus Route <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Bus Route" name="busroute" appEmitfirstspace ngModel #bus="ngModel" required>
              <div *ngIf="bus.invalid && (bus.dirty || bus.touched)" class="alert-danger">
                <span *ngIf="bus.errors?.required">
                  Bus Route is Required
                </span>
              </div>
            </div>
          </div>
        </div>        
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Emp Details <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp Details" name="empdetails" appEmitfirstspace ngModel #empdetails="ngModel" required>
              <div *ngIf="empdetails.invalid && (empdetails.dirty || empdetails.touched)" class="alert-danger">
                <span *ngIf="empdetails.errors?.required">
                  Emp Details is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Employee Category <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="empcategory" ngModel appEmitfirstspace #empcategory="ngModel" required>
                <option value="" selected disabled>Select Employee Category</option>
                <option value="1">Permanent</option>       
                <option value="2">Contract</option>       
              </select>
              <div *ngIf="empcategory.invalid && (empcategory.dirty || empcategory.touched)" class="alert-danger">
                <span *ngIf="empcategory.errors?.required">
                  Emp Category is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Qualification Status <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
            
              <select class="form-control" name="empqual" ngModel appEmitfirstspace #empqual="ngModel" required>
                <option value="" selected disabled>Select Qualification Status</option>
                <option value="Qualified">Qualified</option>       
                <option value="Not Qualified">Not Qualified</option>       
              </select>
              <div *ngIf="empqual.invalid && (empqual.dirty || empqual.touched)" class="alert-danger">
                <span *ngIf="empqual.errors?.required">
                  Emp Qualification Status is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Employee Role<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
                <select class="form-control" name="empdest" ngModel #empdest="ngModel" required (ngModelChange)="contractor($event)">
                    <option value="" selected disabled>Select Role</option>
                    <option class='option' *ngFor='let option of userrole' [value]="option.id">{{option.user_role}}</option>       
                  </select>
              <div *ngIf="empdest.invalid && (empdest.dirty || empdest.touched)" class="alert-danger">
                <span *ngIf="empdest.errors?.required">
                  Emp Destination is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" *ngIf="isavailable == '1'">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Contractor Name <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
                <select class="form-control" name="conname" ngModel #conname="ngModel" required>
                    <option value="" selected disabled>Select Contractor</option>
                    <option class='option' *ngFor='let option of contractorname' [value]="option.contractor_id">{{option.name}}</option>       
                  </select>
              <div *ngIf="conname.invalid && (conname.dirty || conname.touched)" class="alert-danger">
                <span *ngIf="conname.errors?.required">
                  Contractor Name is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset(frm)">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
  </ng-template>
  
  <ng-template #edit let-c="close" let-d="dismiss">
    <div class="modal-header">
      <div class="text-left">
        <h4 class="modal-title">Edit Employee Master</h4>
        <p class="mandatoryfiles">* Fields Are mandatory</p>
      </div>
      <div class="text-right">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(edit)">
          <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editemployees(editfrm)">
        <div class="row" style="display:none">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Id</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editemployee.id" required #eid="ngModel">
                <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                  <span *ngIf="eid.errors?.required">
                    ID is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Emp No <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Emp No" name="empno" appEmitfirstspace [(ngModel)]="editemployee.emp_no" #eno="ngModel"
                  required>
                <div *ngIf="eno.invalid && (eno.dirty || eno.touched)" class="alert-danger">
                  <span *ngIf="eno.errors?.required">
                    Emp No. is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Name <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Name" name="empname" appEmitfirstspace [(ngModel)]="editemployee.name" #ename="ngModel"
                  required>
                <div *ngIf="ename.invalid && (ename.dirty || ename.touched)" class="alert-danger">
                  <span *ngIf="ename.errors?.required">
                    Emp Name is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Mobile Number<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Mobile Number" name="empmobile" appEmitfirstspace appDigitOnly [(ngModel)]="editemployee.mobile_number"
                  #emobile="ngModel" pattern="^\d[0-9]*$" minlength="10" maxlength="10" required>
                <div *ngIf="emobile.invalid && (emobile.dirty || emobile.touched)" class="alert-danger">
                  <span *ngIf="emobile.errors?.required">
                    Emp Mobile Number is Required
                  </span>
                  
                  <span *ngIf="emobile.errors?.minlength">
                    Mobile number should not be less than 10 digits,
                  </span>
                  <span *ngIf="emobile.errors?.maxlength">
                    Mobile number should not be greater than 10 digits.
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Emp Batch <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                  <select class="form-control" name="empbatch" [(ngModel)]="editemployee.emp_batch" appEmitfirstspace #ebatch="ngModel" required>
                    <option value="A">A</option>       
                    <option value="B">B</option>   
                    <option value="General">General</option>
                  </select>
                <div *ngIf="ebatch.invalid && (ebatch.dirty || ebatch.touched)" class="alert-danger">
                  <span *ngIf="ebatch.errors?.required">
                    Emp Batch is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Bus Route <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Bus Route" name="busroute" appEmitfirstspace [(ngModel)]="editemployee.bus_route"
                  #route="ngModel" required>
                <div *ngIf="route.invalid && (route.dirty || route.touched)" class="alert-danger">
                  <span *ngIf="route.errors?.required">
                    Bus Route is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Emp Details <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Emp Details" name="empdetails" appEmitfirstspace [(ngModel)]="editemployee.emp_details"
                  #edetail="ngModel" required>
                <div *ngIf="edetail.invalid && (edetail.dirty || edetail.touched)" class="alert-danger">
                  <span *ngIf="edetail.errors?.required">
                    Emp Details is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Employee Category <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                  <select class="form-control" name="empcategory" [(ngModel)]="editemployee.emp_category" #ecategory="ngModel" required>
                      <option [value]="undefined" selected hidden>Select Employee Category</option>
                      <option [value]="null" selected hidden>Select Employee Category</option>
                      <option [value]="1">Permanent</option>       
                      <option [value]="2">Contract</option>       
                    </select>
                <div *ngIf="ecategory.invalid && (ecategory.dirty || ecategory.touched)" class="alert-danger">
                  <span *ngIf="ecategory.errors?.required">
                    Emp Category is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Qualification Status <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                  <select class="form-control" name="empqual" [(ngModel)]="editemployee.emp_qual" #equal="ngModel" required>
                    <option [value]="undefined" selected hidden>Select Qualification Station</option>
                    <option [value]="null" selected hidden>Select Qualification Station</option>
                    <option value="Qualified">Qualified</option>       
                    <option value="Not Qualified">Not Qualified</option>       
                  </select>
                <div *ngIf="equal.invalid && (equal.dirty || equal.touched)" class="alert-danger">
                  <span *ngIf="equal.errors?.required">
                    Emp Qualification Status is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Employee Role<span class="mandatoryfiles">*</span></label>
          
              <div class="col-sm-8">
                <select class="form-control" name="empdest" [(ngModel)]="editemployee.emp_designation" #edest="ngModel" required (ngModelChange)="contractor($event)">
                  <option [value]="undefined" selected hidden>Select Employee Role</option>
                  <option [value]="null" selected hidden>Select Employee Role</option>
                  <option class='option' *ngFor='let option of userrole' [value]="option.id">{{option.user_role}}</option>       
                </select>
                  <div *ngIf="edest.invalid && (edest.dirty || edest.touched)" class="alert-danger">
                    <span *ngIf="edest.errors?.required">
                      Emp Destination is Required
                    </span>
                  </div>
            </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Employee Status <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select name="" id="" class="form-control" name="empstatus" [(ngModel)]="editemployee.emp_status" #estatus="ngModel" required>
                  <option [value]="undefined" selected hidden>Select Employee Status</option>
                  <option [value]="null" selected hidden>Select Employee Status</option>
                  <option value="1">Active</option>
                  <option value="0">In Active</option>
                </select>
                <div *ngIf="estatus.invalid && (estatus.dirty || estatus.touched)" class="alert-danger">
                  <span *ngIf="estatus.errors?.required">
                    Emp Status is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row"> 
          <div class="col-md-6" *ngIf="isavailable == '1'">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Contractor Name <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                  <select class="form-control" name="connames" [(ngModel)]="editemployee.contractor_name" #conname="ngModel" required>
                    <option [value]="undefined" selected hidden>Select Contractor</option>
                    <option [value]="null" selected hidden>Select Contractor</option>
                      <option class='option' *ngFor='let option of contractorname' [value]="option.name">{{option.name}}</option>       
                    </select>
                <div *ngIf="conname.invalid && (conname.dirty || conname.touched)" class="alert-danger">
                  <span *ngIf="conname.errors?.required">
                    Contractor Name is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <hr>
        <div class="form-group row float-right">
          <div class="col-sm-6">
            <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset(edit)">Close</button>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  <!-- Edit -->
  <ng-template #snag let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Employee Snag Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(edit)">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" #snagfrm="ngForm">
        <div class="card-block table-responsive">
          <table class="table table-striped table-bordered row-border hover" id="example">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Snag Code</th>
                <th>Snag Category</th>
                <th>Responsible Station</th>
                <th>Reporting Station</th>         
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of employeesnags;let i =index">
                <td>{{i+1}}</td>
                <td>{{item.snag_code}}</td>
                <td>{{item.snag_category}}</td>
                <td>{{item.operation_code}}</td>
                <td>{{item.reporting_station}}</td>      
              
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </ng-template>