<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">      
      <div class="card-block">
        <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="frm.form.valid && getdetails(frm,addNew)">
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-sm-5 col-form-label text-right">Choose Process Type</label>
                    <div class="col-sm-5">
                      <select class="form-control" name="type" ngModel #type="ngModel" required (ngModelChange)="getmodel($event)">
                        <option value="" selected disabled >Select Process Type</option>
                        <option value="1"> Fabrication </option>
                        <option value="2"> Assembly </option>
                      </select>
                      <div *ngIf="type.invalid && (type.dirty || type.touched||formerror)" class="alert-danger">
                        <span *ngIf="type.errors?.required">
                          Choose Production Report Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>          
              </div>
              <div [ngSwitch]="choosep">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label text-right">Choose Model</label>
                      <div class="col-sm-5">
                       <!-- <select class="form-control" name="model" ngModel
                        #model="ngModel" required>
                        <option value="" selected disabled>Select Model</option>
                        <option *ngFor="let items of modeldata.message" [value]="items.id">{{items.part_no}}_{{items.model}}</option>
                      </select>-->
                      <angular2-multiselect [data]="dropdownList_model" [(ngModel)]="choosemodel" name="model" #model="ngModel" required 
                      [settings]="dropdownSettings_model" 
                      (onSelect)="getselectedmodel($event)" 
                     ></angular2-multiselect>

                        <div *ngIf="model.invalid && (model.dirty || model.touched||formerror)" class="alert-danger">
                          <span *ngIf="model.errors?.required">
                            Choose Model is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div [ngSwitch]="choosetype">
                  <div *ngIf="choosetype==='1'">
                      <div class="row">
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label text-right">Select Process Category:</label>
                              <div class="col-sm-5">
                                <select class="form-control" name="choosecategory" ngModel
                                  #choosecategory="ngModel" required (ngModelChange)="getworkstation($event)">
                                  <option value="" selected disabled>Select Process Category</option>
                                  <!-- <option value="7">Cone fabrication</option> -->
                                  <option value="8">Drum fabrication</option>
                                  <option value="9">Drum final Clearance</option>
                                  <!-- <option value="10">RA Shell Process</option> -->
                                </select>
                                <div *ngIf="choosecategory.invalid && (choosecategory.dirty || choosecategory.touched||formerror)"
                                  class="alert-danger">
                                  <span *ngIf="choosecategory.errors?.required">
                                     Process Category Required
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
                  <div *ngIf="choosetype==='2'">
                      <div class="row">
                          <div class="col-md-12">
                            <div class="form-group row">
                              <label class="col-sm-5 col-form-label text-right">Select Process Category:</label>
                              <div class="col-sm-5">
                                <select class="form-control" name="choosecategory" ngModel
                                  #choosecategory="ngModel" required (ngModelChange)="getworkstation($event)">
                                  <option value="" selected disabled>Select Process Category</option>
                                  <!-- <option value="1">Preliminary Process</option> -->
                                  <option value="2">Mixer Assembly</option>
                                  <option value="3">Mixer Testing & Clearance</option>
                                  <option value="4">Mixer Painting & FG Posting on SAP</option>
                                  <!-- <option value="5">Mixer Mounting (Only based on Commercial Requirement)</option>
                                  <option value="6">Mixer Delivery</option> -->
                                </select>
                                <div *ngIf="choosecategory.invalid && (choosecategory.dirty || choosecategory.touched||formerror)"
                                  class="alert-danger">
                                  <span *ngIf="choosecategory.errors?.required">
                                     Process Category Required
                                  </span>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                  </div>
             
              </div>
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label text-right">Choose WorkStation</label>
                      <div class="col-sm-5">
                        <!--<select class="form-control" name="station" ngModel
                        #station="ngModel" required>
                        <option value="" selected disabled>Select Workstation</option>
                        <option *ngFor="let items of workstation.message" [value]="items.id">{{items.operation_code}}_{{items.list_of_operation}}</option>
                      </select>-->
                      <angular2-multiselect [data]="dropdownList_workstation" [(ngModel)]="choosewsmodel" name="station" #station="ngModel" required 
                      [settings]="dropdownSettings_workstation" 
                      (onSelect)="getselectedworkstation($event)" 
                     ></angular2-multiselect>
                        <div *ngIf="station.invalid && (station.dirty || station.touched||formerror)" class="alert-danger">
                          <span *ngIf="station.errors?.required">
                            Choose Work Station is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            <hr>
  
            <div class="form-group row pull-right">
              <div class="container">
                <button class="btn btn-info btn-primary btn-square" type="submit" (click)="formerror=true">
                  <i class="icofont icofont-check"></i> Submit
                </button>
              </div>
            </div>
          </form>
      <!-- end of card-footer -->
      </div>
      <div class="card-block"> 
          <div class="row">
            <div class="col-md-4">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Plant:</label>                   
                <div class="col-sm-6">
                  <input type="text" class="form-control" name="plant" ngModel placeholder="D6" #plant="ngModel" required readonly>                  
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Rev:</label>                     
                <div class="col-sm-6">
                  <input type="text" class="form-control" name="revno" [(ngModel)]="rev" #revno="ngModel" required readonly>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Rev Date:</label>                  <div class="col-sm-6">
                    <input type="text" class="form-control" name="revdate" [(ngModel)]="rev_date" #revdate="ngModel" required readonly>
                  </div>
              </div>
            </div>
          </div>   
          <div class="row">
        
            <div class="col-md-4">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">PPE:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" name="pp" [(ngModel)]="ppe" #pp="ngModel" required readonly>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Prepared By:</label>          
                <div class="col-sm-6">
                  <input type="text" class="form-control" name="prepared" [(ngModel)]="preparedby" #prepared="ngModel" required readonly>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Checked By:</label>                     
                <div class="col-sm-6">
                  <input type="text" class="form-control" name="checked" [(ngModel)]="checkedby" #checked="ngModel" required readonly>               
                </div>
              </div>
            </div>
          </div>      
          <div class="row">
              <div class="col-md-4">
                <div class="form-group row">   
                  <label class="col-sm-5 col-form-label text-right">Approved By:</label>                           
                  <div class="col-sm-6">
                    <input type="text" class="form-control" name="approved" [(ngModel)]="approvedby" #approved="ngModel" required readonly>
                  </div>
                </div>
              </div>
            </div>        
        </div>
      <div class="card-block">          
        <div class="row table-responsive">
            <button (click)="export()">Export</button>
          <table #example class="table table-striped table-bordered row-border hover" id="example">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Operation No.</th>
                <th>Work Element Description</th>
                <th>Critical Points</th>
                <th>Tools/Equipment Used</th>
                <th>Visual Aid</th>                     
                <th>Components</th>                     
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of details;let i=index">
                <td>{{i+1}}</td>
                <td>{{item.operation_no}}</td>
                <td>{{item.element_description}}</td>
                <td>{{item.critical_point}}</td>
                <td>{{item.tools_equipments}}</td>
                <td class="text-center">
                    <button class='btn btn-default btn-outline-default btn-icon' (click)='showimage(item.visual_aid);openbulkupload(viewimage)'>
                      <i class='icofont icofont-image'></i>
                    </button>
                </td>
                  <td>{{item.component}}</td>
              </tr>                                      
            </tbody>
        </table>      
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #viewimage let-c="close" let-d="dismiss">
    <div class="modal-body">
      <button type="button" class="close basic-close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
      <img src="{{processimage}}" class="form-control" height="400" width="300">
    </div>
  </ng-template>