<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Add Contractor Master</h5>
        <p class="mandatoryfiles">* Fields Are mandatory</p>
      </div>
      <div class="card-block">
        <form class="form-horizontal" #frm="ngForm" (ngSubmit)="addcontract(frm)">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Contractor Name <span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="Enter Contractot Name" name="name" appEmitfirstspace ngModel #name="ngModel"
                    required>
                  <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert-danger">
                    <span *ngIf="name.errors?.required">
                      Name is Required
                    </span>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Email <span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="email" class="form-control" placeholder="Your Email Address" name="email" appEmitfirstspace email ngModel
                    #emailLogin="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>

                  <div *ngIf="emailLogin.invalid && (emailLogin.dirty || emailLogin.touched)" class="alert-danger">                    
                    <span *ngIf="emailLogin.errors && emailLogin.errors.required">
                      Email is Required.
                    </span>
                    <!-- <div *ngIf="emailLogin.errors?.email">
                      Email is not valid.
                    </div> -->
                    <div  *ngIf="emailLogin.errors && emailLogin.errors.pattern">
                      Email is not valid.
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Mobile Number <span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">                    
                  <input type="text" class="form-control" Placeholder="Enter Mobile Number" name="empmobile" ngModel appDigitOnly appEmitfirstspace #empmobile="ngModel" pattern="^(6|7|8|9)\d[0-9]*$" minlength="10" maxlength="10" required>
                  <div *ngIf="empmobile.invalid && (empmobile.dirty || empmobile.touched)" class="alert-danger">
                    <span *ngIf="empmobile.errors?.required">
                      Mobile Number is Required
                    </span>
                    <span *ngIf="empmobile.errors?.pattern">
                      Accepts only Numeric and should start with 9,8,7,6.
                    </span>
                    <span *ngIf="empmobile.errors?.minlength">
                      Mobile number should not be less than 10 digits,
                    </span>
                    <span *ngIf="empmobile.errors?.maxlength">
                      Mobile number should not be greater than 10 digits.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Address <span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Address" name="address" ngModel appEmitfirstspace #address="ngModel"
                    required>
                  <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert-danger">
                    <span *ngIf="address.errors?.required">
                      Address is Required
                    </span>

                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div>
            <div class="form-group row float-right">
              <button class="btn btn-primary btn-square" type="submit" [disabled]="!frm.form.valid">
                <i class="icofont icofont-tick-mark"></i> Submit
              </button>
              <!-- <button class="btn btn-info btn-square" type="button" (click)="reset(frm)">
                            <i class="icofont icofont-refresh"></i> Reset
                          </button> -->
              <!-- <button class="btn btn-info btn-square" type="button">
                          <i class="icofont icofont-refresh"></i> Reset
                        </button> -->
              <!-- end of dropdown menu -->
            </div>
          </div>
        </form>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Contractor Name</th>
              <th class="text-center">Email</th>
              <th>Mobile Number</th>              
              <th>Address</th>
              <th>Contractor Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of contracts;let i=index">
              <td>{{i+1}}</td>
              <td>{{item.name}}</td>
              <td>{{item.email}}</td>
              <td>{{item.mobno}}</td>              
              <td>{{item.address}}</td>
              <td>
                <div *ngIf="item.contractor_status==1">Active</div>
                <div *ngIf="item.contractor_status==0">In Active</div>
              </td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="text-left">
      <h4 class="modal-title">Edit Contractor Master</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="text-right">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editcontracts(editfrm)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editcontract.id"
                required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-5 col-form-label text-right">Contractor Name <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-7">
              <input type="text" class="form-control" placeholder="Enter Contractot Name" name="name" [(ngModel)]="editcontract.name"
              appEmitfirstspace #name="ngModel" required>
              <div *ngIf="name.invalid && (name.dirty || name.touched)" class="alert-danger">
                <span *ngIf="name.errors?.required">
                  Name is Required
                </span>
              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-5 col-form-label text-right">Email <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-7">
              <input type="email" class="form-control" placeholder="Your Email Address" name="email" email appEmitfirstspace [(ngModel)]="editcontract.email"
                #emailLogin="ngModel" pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" required>

              <div *ngIf="emailLogin.invalid && (emailLogin.dirty || emailLogin.touched)" class="alert-danger">
                <span *ngIf="emailLogin.errors && emailLogin.errors.required">
                  Email is Required.
                </span>
                <!-- <div *ngIf="emailLogin.errors?.email">
                  Email is not valid.
                </div> -->
                <div  *ngIf="emailLogin.errors && emailLogin.errors.pattern">
                  Email is not valid.
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-5 col-form-label text-right">Mobile Number <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-7">
              <input type="text" class="form-control" Placeholder="Enter Mobile Number" name="empmobile" appEmitfirstspace appDigitOnly [(ngModel)]="editcontract.mobno"
                #empmobile="ngModel" pattern="^(6|7|8|9)\d[0-9]*$" minlength="10" maxlength="10" required>
              <div *ngIf="empmobile.invalid && (empmobile.dirty || empmobile.touched)" class="alert-danger">
                <span *ngIf="empmobile.errors?.required">
                  Mobile Number is Required
                </span>
                <span *ngIf="empmobile.errors?.pattern">
                  Accepts only Numeric and should start with 9,8,7,6.
                </span>
                <span *ngIf="empmobile.errors?.minlength">
                  Mobile number should not be less than 10 digits,
                </span>
                <span *ngIf="empmobile.errors?.maxlength">
                  Mobile number should not be greater than 10 digits.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-5 col-form-label text-right">Address <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-7">
              <input type="text" class="form-control" Placeholder="Enter Address" name="address" [(ngModel)]="editcontract.address"
              appEmitfirstspace  #address="ngModel" required>
              <div *ngIf="address.invalid && (address.dirty || address.touched)" class="alert-danger">
                <span *ngIf="address.errors?.required">
                  Address is Required
                </span>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-5 col-form-label">Contractor Status <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-7">
              <select name="" id="" class="form-control" name="constatus" [(ngModel)]="editcontract.contractor_status"
                #estatus="ngModel" required>
                <option value="" selected disabled>Select Status</option>
                <option value="1">Active</option>
                <option value="0">In Active</option>
              </select>
              <div *ngIf="estatus.invalid && (estatus.dirty || estatus.touched)" class="alert-danger">
                <span *ngIf="estatus.errors?.required">
                  Contractor Status is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');;reset()">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>