<div class="row">
  <div class="col-sm-12">
    <form class="form-horizontal" name="addform" #addfrm="ngForm" (ngSubmit)="addprocesscheck(addfrm)">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="col-md-6">
            <h5>Process Checklist </h5>
            <p class="mandatoryfiles">* Fields Are mandatory</p>
          </div>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Related To.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="visualchecks" [(ngModel)]="visualcheck" #visualchecks="ngModel" required (change)="getprocesschecklistnames(visualchecks.value)">
                    <option [value]="null" hidden selected> please select Related To</option>
                    <option [value]="undefined" hidden selected> please select Related To</option>
                    <option [value]="1">PREPARATION WORK - VISUAL CHECK</option>
                    <option [value]="2">PAINTING/INSPECTION/REWORK/FINISHING - VISUAL CHECK</option>
                  </select>
                  <div *ngIf="visualchecks.invalid && (visualchecks.dirty || visualchecks.touched)" class="alert-danger">
                    <span *ngIf="visualchecks.errors?.required">
                      Related To. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div [ngSwitch]="visualcheck">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Check List.<span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <select class="form-control" name="checklistss" [(ngModel)]="setchecklist" #checklistss="ngModel" required>
                      <option [value]="null" hidden selected> please select Checklist</option>
                      <option [value]="undefined" hidden selected> please select Checklist</option>
                      <option *ngFor="let item of processcheckklistnamess.message" [value]="item.id">{{item.checklist_name}}</option>
                    </select>
                    <div *ngIf="checklistss.invalid && (checklistss.dirty || checklistss.touched)" class="alert-danger">
                      <span *ngIf="checklistss.errors?.required">
                        CheckList. is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Inspection Points.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <textarea type="text" class="form-control" Placeholder="Enter Inspection Points." name="inspection" pattern="^[a-zA-Z]+( [a-zA-Z]+)*$" ngModel #inspection="ngModel"
                    required appEmitfirstspace></textarea>
                  <div *ngIf="inspection.invalid && (inspection.dirty || inspection.touched)" class="alert-danger">
                    <span *ngIf="inspection.errors?.required">
                      Inspection Points. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="task-board m-0">
            <!-- end of dropdown-secondary -->
            <div class="dropdown-secondary dropdown">
              <button class="btn btn-primary btn-square" type="submit">
                <i class="icofont icofont-tick-mark"></i> Submit
              </button>
              <button class="btn btn-info btn-square" type="button" (click)=reset(addfrm)>
                <i class="icofont icofont-refresh"></i> Reset
              </button>
              <!-- end of dropdown menu -->
            </div>
            <!-- end of seconadary -->
          </div>
          <!-- end of pull-right class -->
        </div>
        <!-- end of card-footer -->
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Related To</th>
              <th>Checklist</th>
              <th>Inspection Points</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of checklist;let i=index">
              <td>{{i+1}}</td>
              <td [ngSwitch]="item.visualcheck">
                <p *ngSwitchCase="'1'">PREPARATION WORK - VISUAL CHECK</p>
                <p *ngSwitchCase="'2'">PAINTING/INSPECTION/REWORK/FINISHING - VISUAL CHECK</p>
              </td>
              <td [ngSwitch]="item.type">
                <p *ngSwitchCase="1">RUST REMOVAL/PRIMER PROCESS</p>
                <p *ngSwitchCase="2">EMERY/SANDERING ALL PARTS [i.e.PSA80/Sheet]</p>
                <p *ngSwitchCase="3">PUTTY APPLY IF REQUIRED PARTS</p>
                <p *ngSwitchCase="4">FINE EMERY APPY [i.e.PSA150,320/Sheets]</p>
                <p *ngSwitchCase="5">MASKING</p>
                <p *ngSwitchCase="6">SEALANT APPLICATION</p>
                <p *ngSwitchCase="7">AIR CLEANING PROCESS</p>
                <p *ngSwitchCase="8">INSPECTION BEFORE PAINTING /CHECK POINTS</p>
                <p *ngSwitchCase="9">PRE-TOUCH UP PROCESS</p>
                <p *ngSwitchCase="10">BOOTH PAINTING PROCESS</p>
                <p *ngSwitchCase="11">POST-TOUCH UP</p>
                <p *ngSwitchCase="12">INSPECTION AFTER PAINTING</p>
                <p *ngSwitchCase="13">REWORK/ISSUE/RECTIFICATION/RECOMMENTATION</p>
                <p *ngSwitchCase="14">PAINT CONSUMPTION</p>
                <p *ngSwitchCase="15">FINISHING</p>
              </td>
              <td>{{item.inspection}}</td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletechecklist(item.id)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit PDI Chechlist</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reloadPage()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="editfrm" #editfrm="ngForm" (ngSubmit)="editchecklists(editfrm, edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editchecklist.id" required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Related To.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="visualcheckss" [(ngModel)]="editchecklist.visualcheck" #visualcheckss="ngModel" required>
                <option [value]="null" hidden selected> please select Related To</option>
                <option [value]="undefined" hidden selected> please select Related To</option>
                <option value="1">PREPARATION WORK - VISUAL CHECK</option>
                <option value="2">PAINTING/INSPECTION/REWORK/FINISHING - VISUAL CHECK</option>
              </select>
              <div *ngIf="visualcheckss.invalid && (visualcheckss.dirty || visualcheckss.touched)" class="alert-danger">
                <span *ngIf="visualcheckss.errors?.required">
                  Visualcheck is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div [ngSwitch]="editchecklist.visualcheck">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Check List.<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select class="form-control" name="checklistss" [(ngModel)]="editchecklist.type" #checklistsss="ngModel" required>
                    <option [value]="null" hidden selected> please select Checklist</option>
                    <option [value]="undefined" hidden selected> please select Checklist</option>
                  <optgroup *ngSwitchCase="'1'">
                    <option [value]="1">RUST REMOVAL/PRIMER PROCESS</option>
                    <option [value]="2">EMERY/SANDERING ALL PARTS [i.e.PSA80/Sheet]</option>
                    <option [value]="3">PUTTY APPLY IF REQUIRED PARTS</option>
                    <option [value]="4">FINE EMERY APPY [i.e.PSA150,320/Sheets]</option>
                    <option [value]="5">MASKING</option>
                    <option [value]="6">SEALANT APPLICATION</option>
                    <option [value]="7">AIR CLEANING PROCESS</option>
                  </optgroup>
                  <optgroup *ngSwitchCase="'2'">
                    <option [value]="8">INSPECTION BEFORE PAINTING /CHECK POINTS</option>
                    <option [value]="9">PRE-TOUCH UP PROCESS</option>
                    <option [value]="10">BOOTH PAINTING PROCESS</option>
                    <option [value]="11">POST-TOUCH UP</option>
                    <option [value]="12">INSPECTION AFTER PAINTING</option>
                    <option [value]="13">REWORK/ISSUE/RECTIFICATION/RECOMMENTATION</option>
                    <option [value]="14">PAINT CONSUMPTION</option>
                    <option [value]="15">FINISHING</option>
                  </optgroup>
                </select>
                <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                <div *ngIf="checklistsss.invalid && (checklistsss.dirty || checklistsss.touched)" class="alert-danger">
                  <span *ngIf="checklistsss.errors?.required">
                    Checklist. is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Inspection Points.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <textarea type="text" class="form-control" Placeholder="Enter Inspection Points." name="inspection" [(ngModel)]="editchecklist.inspection" #inspections="ngModel"  required appEmitfirstspace></textarea>
              <div *ngIf="inspections.invalid && (inspections.dirty || inspections.touched)" class="alert-danger">
                <span *ngIf="inspections.errors?.required">
                   Inspection Points is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reloadPage()">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>