<div class="row">
    <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="col-md-6">
            <h5>Assembly Job Sheet </h5>
          </div>
          <!-- <div class="col-md-6">
            <div class="text-right">
              <button class="btn btn-primary btn-square" type="button" (click)="bulkupload.show()">
                <i class="icofont icofont-upload"></i> Bulk Upload
              </button>
              
            </div>
          </div> -->
        </div>
        <div class="card-block">
          <div class="dt-responsive">
              <div slimScroll class="app-modal-body scroll-window" width="100%" height="900px" size="7px" color="rgb(27, 139, 249)" opacity="0.4">
                  <table class="table-responsive table-striped table-bordered">
                    <thead>
                      <tr>
                        <th style="background-color:aliceblue">W/O.No.</th>
                        <td colspan="4">                           
                            <select name="wono" class="form-control" [(ngModel)]="woorderno" #wono="ngModel" (ngModelChange)="getwo($event)">
                              <option [value]="undefined" [selected]="'true'" [disabled]="'true'">Select Workorder No.</option>
                              <option *ngFor="let item of mixerplanning.message" [value]="item.id">{{item.workorder_no}}</option>
                            </select>
                            <div *ngIf="wono.invalid && (wono.dirty || wono.touched)" class="alert-danger">
                              <span *ngIf="wono.errors?.required">
                                  W/O No Required
                              </span>
                            </div>                        
                          </td>
                       <!-- <td> <button class="btn btn-info btn-square" type="button" (click)="generatesheet(option.part_no)">
                              Generate Sheet
                           </button></td> -->
                        
                      </tr>
                      <tr *ngFor='let option of inputVar' >
                          <th style="background-color:aliceblue">Model</th>
                          <td colspan="2">
                              <input type="text" class="form-control" #model name="mod" [(ngModel)]="option.mixer_modelno" #mod="ngModel" required>
                          </td>
                          <th style="background-color:aliceblue">Part No.</th>
                          <td colspan="3">
                              <input type="text" class="form-control" #part name="mod" [(ngModel)]="option.part_no" #modq="ngModel" required size=10>
                          </td>
                          <th style="background-color:aliceblue">Date</th>
                          <td colspan="2">
                              <input type="text" class="form-control" #date name="mod" [(ngModel)]="option.plan_schedule" #mod2="ngModel" required>
                          </td>
                          <td> <button class="btn btn-info btn-square" type="button" (click)="generatesheet(option.part_no)">
                              Generate Sheet
                           </button></td>
                      </tr>
                      <tr *ngFor='let option of inputVar'>
                          <th style="background-color:aliceblue">Planned Sequence</th>
                          <td colspan="2">
                              <input type="text" class="form-control" #part name="mod" [(ngModel)]="option.priority" #modq="ngModel" required>
                          </td>
                          <th style="background-color:aliceblue">Actual Sequence</th>
                          <td colspan="2">
                              <input type="text" class="form-control" #date name="mod" ngModel #mod2="ngModel" [(ngModel)]="option.actual_priority" required>
                          </td>
                      </tr>
                      <tr *ngFor='let option of details'>
                        <th colspan="2">Welder Details</th>
                        <th colspan="2">Welder No</th>
                        <th colspan="2">Signature</th>
                        <th colspan="2">Remarks</th>
                      </tr>
                      <tr *ngFor='let option of details'>
                          <th colspan="2" style="background-color: teal;color: #fff;">Channel Assembly</th>         
                          <td colspan="2">{{welder6}}</td>
                          <td colspan="2">{{welderis6}}</td>
                          <td colspan="2"></td>
                        </tr>
                        <tr *ngFor='let option of details'>
                          <th colspan="2" style="background-color: teal;color: #fff;">Engine SIde C/H</th>
                          <td colspan="2">{{welder8}}</td>
                          <td colspan="2">{{welderis8}}</td>
                          <td colspan="2"></td>
                        </tr>
                        <tr *ngFor='let option of details'>
                          <th colspan="2" style="background-color: teal;color: #fff;">Cooler Side C/H</th>
                          <td colspan="2">{{welder8}}</td>
                          <td colspan="2">{{welderis8}}</td>
                          <td colspan="2"></td>
                        </tr>
                        <tr *ngFor='let option of details'>
                          <th colspan="2" style="background-color: teal;color: #fff;">Engine & Hopper Assembly Stage</th>
                          <td colspan="2">{{welder16}}</td>
                          <td colspan="2">{{welderis16}}</td>
                          <td colspan="2"></td>
                        </tr>
                        <tr *ngFor='let option of details'>
                          <th colspan="2" style="background-color: teal;color: #fff;">Ladder Assembly Stage</th>
                          <td colspan="2">{{welder17}}</td>
                          <td colspan="2">{{welderis17}}</td>
                          <td colspan="2"></td>
                        </tr>
    
                      <!-- <tr>
                        <th colspan="2" style="background-color: teal;color: #fff;">{{process}}</th>         
                        <td></td>
                        <td></td>
                        <td></td>
                      </tr> -->
              
                      <!-- <tr>
                        <td> <button class="btn btn-info btn-square" type="button" (click)="addnew.show()">
                            <i class="icofont icofont-plus"></i> Add Details
                          </button></td>
                      </tr> -->
                      <tr *ngFor='let option of details'>
                        <th colspan="2" style="background-color:aliceblue">Fitter Details</th>
                        <th colspan="2" style="background-color:aliceblue">Fitter.No</th>
                        <th colspan="2" style="background-color:aliceblue">Signature</th>
                        <th colspan="2" style="background-color:aliceblue">Remarks</th>
                        <th style="background-color:aliceblue">Particulars/Components</th>
                        <th style="background-color:aliceblue">Make</th>
                        <th style="background-color:aliceblue">Model</th>
                        <th style="background-color:aliceblue">Capacity</th>
                        <th style="background-color:aliceblue">Dimension / Sl.No</th>
                      </tr>
                      <tr *ngFor='let option of details' >
                        <th colspan="2" style="background-color: teal;color: #fff;" >Engine / PTO Sub Assy</th>
                        <td colspan="2" >{{fitter10}}</td>
                        <td colspan="2">{{fittersi10}}</td>
                        <td colspan="2"></td>
                        <td colspan="4" *ngIf="torque != '' "  >  
                          <span *ngFor="let item of torque">
                           <p *ngFor="let items of item" ><!--list torque -->
                          {{items.work_description}}:{{items.torque}}Nm</p></span></td>
                        <td></td>
                        <td></td>
                      </tr >
                      <tr *ngFor='let option of details'>
                        <th colspan="2" style="background-color: teal;color: #fff;">Roller Sub Assy</th>
                        <td colspan="2">{{fitter5}}</td>
                        <td colspan="2">{{fittersi5}}</td>
                        <td colspan="2"></td>
                        <td colspan="2"> <p class="text-inverse">{{rollassembly}}</p>
                      
                        </td>
  <td colspan="2"><div class="">
    <label>
      
      <span class="text-inverse">Supplier Name(if others):{{contractor_name}}</span>
    </label>
  </div></td>
  <td></td>
                      </tr>
                      <tr  *ngFor='let option of details'>
                        <th colspan="2" style="background-color: teal;color: #fff;">Channel Assy</th>
                        <td colspan="2">{{fitter6}}</td>
                        <td colspan="2">{{fittersi6}}</td>
                        <td colspan="2"></td>
                        <td style="background-color:#FF7F50	;" ><div class="">
                          <label>
                            
                            <span class="text-inverse">Channel Width</span>
                          </label>
                        </div></td>
                        <td ><div class="">
                          <label>
                            
                            <span class="text-inverse">{{option.channelassembly_widthheight}}</span>
                          </label>
                        </div></td>
                        <td><div class="">
                          <label>
                            
                            <span class="text-inverse">{{option.channelassembly_stopcable}}</span>
                          </label>
                        </div></td>
                        <td><div class="">
                          <label>
                            
                            <span class="text-inverse">6 Cubic</span>
                          </label>
                        </div></td>
                        <td></td>
                      </tr>
                      <tr *ngFor='let option of details' >
                        <th colspan="2" rowspan="2"  style="background-color: teal;color: #fff;" >Gear box fixing with mixer drum</th>
                        <td colspan="2" rowspan="2">{{fitter7}}</td>
                        <td colspan="2" rowspan="2">{{fittersi7}}</td>
                        <td colspan="2" rowspan="2"></td>
                        <td style="background-color:#FF7F50	;"><div class="">
                          <label>
                            
                            <span class="text-inverse">Gear Box</span>
                          </label>
                        </div></td>
                        <td>
                          <div class="">
                          <label>
                            
                            <span class="text-inverse">{{option.gearbox_make}}</span>
                          </label>
                        </div></td>
                        <td><div class="">
                          <label>
                            
                            <span class="text-inverse">{{option.gearbox_model}}</span>
                          </label>
                        </div></td>
                        <td><div class="">
                          <label>
                            
                            <span class="text-inverse">{{gearboxcapacity}}</span>
                          </label>
                        </div></td>
                        <td>{{gearno}}</td></tr>
                       
                        <tr *ngFor='let option of details'>
                              <td style="background-color:#FF7F50	;"><div class="">
  
                            <label>
                              
                              <span class="text-inverse">Mixer Drum</span>
                            </label>
                          </div></td>
                          <td><div class="">
                            <label>
                              
                              <span class="text-inverse">SSIPL</span>
                            </label>
                          </div></td>
                          <td><div class="">
                            <label>
                              
                              <span class="text-inverse">C2 ver.</span>
                            </label>
                          </div></td>
                          <td><div class="">
                            <label>
                              
                              <span class="text-inverse">6 Cubic</span>
                            </label>
                          </div></td>
                      
                          <td></td>
                      </tr>
                      <tr></tr>
                      <tr *ngFor='let option of details'>
                        <th colspan="2" style="background-color: teal;color: #fff;">U bolt & gear box Torque</th>
                        <td colspan="2">{{fitter9}}</td>
                        <td colspan="2">{{fittersi9}}</td>
                        <td colspan="2"></td>
                        <td colspan="4">
                         <span *ngFor="let item of ubolt " class="text-inverse">
                                    <p *ngFor="let items of item" >
                                        <label *ngIf="ubolt != '' "><!--list torque -->
                                      {{items.work_description}}:{{items.torque}}Nm</label></p></span>
                            
                         
                          </td> 
                        <td></td>
                        <td></td>
                      </tr>
                      <tr *ngFor='let option of details'>
                        <th colspan="2" style="background-color: teal;color: #fff;">Sub assy -T pipe</th>
                        <td colspan="2">{{fitter12}}</td>
                        <td colspan="2">{{fittersi12}}</td>
                        <td colspan="2"></td>
                        <td colspan="4"><div class="checkbox-fade fade-in-primary">
                            <label>
                              <span class="text-inverse" *ngIf="subassy !=''"><span *ngFor="let item of subassy">
                                  <p *ngFor="let items of item" ><!--list torque -->
                                 {{items.work_description}}:{{items.torque}}Nm</p></span></span>
                            </label>
                          </div>
                          </td>
                          <td></td>
                      </tr>
                      <tr *ngFor='let option of details'>
                        <th colspan="2" rowspan="3" style="background-color: teal;color: #fff;">Engine & pump setting, 1" assy, 1 1/2" assy</th>
                        <td colspan="2" rowspan="3" >{{fitter13}}</td>
                        <td colspan="2" rowspan="3">{{fittersi13}}</td>
                        <td colspan="2"rowspan="3"></td>
                        <td style="background-color:#FF7F50	;"><div class="">
                            <label>
                              
                              <span class="text-inverse">Engine</span>
                            </label>
                          </div></td>
                          <td>
                            <div class="">
                            <label>
                              
                              <span class="text-inverse">{{option.engine_make}}</span>
                            </label>
                          </div></td>
                          <td><div class="">
                            <label>
                              
                              <span class="text-inverse">{{option.engine_model}}</span>
                            </label>
                          </div></td>
                          <td><div class="">
                            <label>
                              
                              <span class="text-inverse">{{enginecapacity}}</span>
                            </label>
                          </div></td>
                          <td>{{enginesr}}</td></tr>
                         
                          <tr *ngFor='let option of details'>
                             
                             
                          <td style="background-color:#FF7F50	;"><div class="">
  
                              <label>
                                
                                <span class="text-inverse">Hydraulic Pump</span>
                              </label>
                            </div></td>
                            <td><div class="">
                              <label>
                                
                                <span class="text-inverse">{{option.hydpump_make}}</span>
                              </label>
                            </div></td>
                            <td><div class="">
                              <label>
                                
                                <span class="text-inverse">{{option.hydpump_make}}</span>
                              </label>
                            </div></td>
                            <td><div class="">
                              <label>
                                
                                <span class="text-inverse">{{hydpumpcapacity}}</span>
                              </label>
                            </div></td>
                        
                            <td>{{hysrno}}</td>
                        </tr>
                        <tr *ngFor='let option of details'>
                            
                            
                           
                        <td style="background-color:#FF7F50	;"><div class="">
  
                            <label>
                              
                              <span class="text-inverse">Water Pump / pneumatic</span>
                            </label>
                          </div></td>
                          <td><div class="">
                            <label>
                              
                              <span class="text-inverse">{{option.waterpump_make}}</span>
                            </label>
                          </div></td>
                          <td><div class="">
                            <label>
                              
                              <span class="text-inverse">{{option.waterpump_model}}</span>
                            </label>
                          </div></td>
                          <td><div class="">
                            <label>
                              
                              <span class="text-inverse">{{waterpumpcapacity}}</span>
                            </label>
                          </div></td>
                          <td>{{waterno}}</td>
                      
                      </tr>
                    
                      <tr *ngFor='let option of details'>
                        <th colspan="2" style="background-color: teal;color: #fff;">Motor, Water tank, Cooler fixing</th>
                        <td colspan="2">{{fitter13}}</td>
                        <td colspan="2">{{fittersi13}}</td>
                        <td colspan="2"></td>
                        <td style="background-color:#FF7F50	;"><div class="">
                          <label>
                            
                            <span class="text-inverse">Hydraulic Motor</span>
                          </label>
                        </div></td>
                        <td><div class="">
                          <label>
                            
                            <span class="text-inverse">{{option.hydmotor_make}}</span>
                          </label>
                        </div></td>
                        <td><div class="">
                          <label>
                            
                            <span class="text-inverse">{{option.hydmotor_model}}</span>
                          </label>
                        </div></td>
                        <td><div class="">
                          <label>
                            
                            <span class="text-inverse">{{hydmotorcapacity}}</span>
                          </label>
                        </div></td>
                        <td>{{hymsrno}}</td>
                      </tr>
                      <tr *ngFor='let option of details'>
                        <th colspan="2" style="background-color: teal;color: #fff;">Hopper setting</th>
                        <td colspan="2">{{fitter14}}</td>
                        <td colspan="2">{{fittersi14}}</td>
                        <td colspan="2"></td>
                        <td></td>
                      </tr>
                      <tr *ngFor='let option of details'>
                        <th colspan="2" style="background-color: teal;color: #fff;">Roller / Door setting</th>
                        <td colspan="2">{{fitter14}}</td>
                        <td colspan="2">{{fittersi14}}</td>
                        <td colspan="2"></td>
                        <td style="background-color:#FF7F50	;"><div class="">
                          <label>
                            
                            <span class="text-inverse">Roller Pitch</span>
                          </label>
                        </div></td>
                        <td><div class="">
                          <label>
                            
                            <span class="text-inverse" *ngIf="roll_pitch !=''">{{roll_pitch}}:Nm</span>
                          </label>
                        </div></td>
                        <td><div class="">
                          <label>
                            
                            <span class="text-inverse">Track Ring Back Mark</span>
                          </label>
                        </div></td>
                        <td><div class="">
                          <label>
                            
                            <span class="text-inverse" *ngIf="rack_ring !=''">{{rack_ring}}</span>
                          </label>
                        </div></td>
                        <td></td>
                        <td></td>
                      </tr>
                      <tr *ngFor='let option of details'>
                        <th colspan="2" style="background-color: teal;color: #fff;">Ladder / Closure clamp setting</th>
                        <td colspan="2">{{fitter16}}</td>
                        <td colspan="2">{{fittersi16}}</td>
                        <td colspan="2"></td>
                        <td></td>
                      </tr>
                      <tr *ngFor='let option of details'>
                        <th colspan="2" style="background-color: teal;color: #fff;">Hyd. Hose</th>
                        <td colspan="2">{{fitter17}}</td>
                        <td colspan="2">{{fittersi17}}</td>
                        <td colspan="2"></td>
                        <td style="background-color:#FF7F50	;"><div class="">
                          <label>
                            
                            <span class="text-inverse">Pressure Line</span>
                          </label>
                        </div></td>
                        <td><div class="">
                          <label>
                            
                            <span class="text-inverse">DN 25 X 900 LG / DN 25 X 900 LG</span>
                          </label>
                        </div></td>
                        <td style="background-color:#FF7F50	;"><div class="">
                          <label>
                            
                            <span class="text-inverse">Return Line</span>
                          </label>
                        </div></td>
                        <td><div class="">
                          <label>
                            
                            <span class="text-inverse">DN 25 X 900 LG / DN 25 X 900 LG</span>
                          </label>
                        </div></td>
                        <td style="background-color:#FF7F50	;"><div class="">
                          <label>                          
                            <span class="text-inverse">Suction Line</span>
                          </label>
                        </div><div class="">
                          <label>
                            
                            <span class="text-inverse">D  N 25 X 900 LG / DN 25 X 900 LG</span>
                          </label>
                        </div></td>
                        <td></td>
                      </tr>
                      <tr *ngFor='let option of details'>
                        <th colspan="2" style="background-color: teal;color: #fff;">Cock valve, Stop cable, Fitting sub assy</th>
                        <td colspan="2">{{fitter16}}</td>
                        <td colspan="2">{{fittersi16}}</td>
                        <td colspan="2"></td>
                        <td style="background-color:#FF7F50	;"><div class="">
                          <label>
                            
                            <span class="text-inverse">Stop Cable</span>
                          </label>
                        </div></td>
                        <td><div class="">
                          <label>
                            
                            <span class="text-inverse">{{option.channelassembly_stopcable}}</span>
                          </label>
                        </div></td>
                        <td style="background-color:#FF7F50	;"><div class="">
                          <label>
                            
                            <span class="text-inverse">Contrl Cable bkt</span>
                          </label>
                        </div></td>
                        <td><div class="">
                          <label>
                            
                            <span class="text-inverse">80103475</span>
                          </label>
                        </div></td>
                        <td></td>
                      </tr>
                      <tr *ngFor='let option of details'>
                        <th colspan="2" style="background-color: teal;color: #fff;">Water hose, remote cable</th>
                        <td colspan="2">{{fitter17}}</td>
                        <td colspan="2">{{fittersi17}}</td>
                        <td colspan="2"></td>
                        <td style="background-color:#FF7F50	;"><div class="">
                          <label>
                            
                            <span class="text-inverse">Remote Cable</span>
                          </label>
                        </div></td>
                        <td><div class="">
                          <label>
                            
                            <span class="text-inverse">80103999</span>
                          </label>
                        </div></td>
                        <td></td>
                      </tr>
                      <tr *ngFor='let option of details'>
                        <th colspan="11">Mixer S. No. :{{mixno}}</th>
                        <td colspan="3"></td>
                        <td></td>
                      </tr>
                      <tr></tr>
                      <!-- <tr>
                        <td colspan="8"> <button class="btn btn-info btn-square" type="button" (click)="addnewfitter.show()">
                            <i class="icofont icofont-plus"></i> Add Details
                          </button></td>
                          <td> <button class="btn btn-info btn-square" type="button" (click)="addnewfitter.show()">
                              <i class="icofont icofont-plus"></i> Upload Job Sheet
                            </button></td>
                      </tr> -->
                    </thead>
                  </table>
                </div>
              
            <!-- <div class="panel-heading">User information</div>-->
            <!-- <table class="table table-striped table-bordered table-responsiveness full-data-table" [mfData]="data | dataFilter : filterQuery"
              #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
              <thead>
                <tr>
                  <th>
                    <mfDefaultSorter by="s.no">S.No</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="Emp No">Process Name</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="Mobile Number">Process Image</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="Emp No">Process Sequence</mfDefaultSorter>
                  </th>
                  <th>
                    <mfDefaultSorter by="action">Action</mfDefaultSorter>
                  </th>
                </tr>
                <tr>
                </tr>
              </thead>
              <tbody>
              </tbody>
              <tfoot>
                <tr>
                  <td colspan="6">
                    <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                  </td>
                </tr>
              </tfoot>
            </table> -->
          </div>
        </div>
        <!-- end of card-footer -->
      </div>
    </div>
  </div>
  
  <!-- Add Bulk Upload  -->
  <!-- <app-modal-basic #bulkupload [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
      <h4 class="modal-title">Bulk Upload</h4>
      <button type="button" class="close basic-close" (click)="bulkupload.hide()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="app-modal-body">
      <div class="row">
        <div class="col-sm-4 text-right">
          <button type="button" class="btn btn-default waves-effect">Sample Template</button>
        </div>
        <label class="custom-file col-sm-6">
          <input type="file" ng2FileSelect [uploader]="uploader" class="custom-file-input">
          <span class="custom-file-control"></span>
        </label>
      </div>
  
  
    </div> 
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="bulkupload.hide()">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light ">Submit</button>
    </div>
  </app-modal-basic> -->
  
  <!-- Add Bulk Upload -->
  
  <!-- Add New -->
  
  <app-modal-basic #addnew [dialogClass]="'modal-lg'" style="min-height:1200px">
    <div class="app-modal-header">
      <h4 class="modal-title">Add Process</h4>
      <button type="button" class="close basic-close" (click)="addnew.hide()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="app-modal-body">
        <form class="form-horizontal" name="addform" #frm1="ngForm"  (ngSubmit)="savechanges(frm1,addnew)">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label text-right">Process Name:</label>
              <div class="col-sm-8">
                  <div class="col-sm-8">
                      <select class='select-option  form-control' required [(ngModel)]='optionSelected' name=workstation (ngModelChange)='onOptionstationSelected($event)'>
                          <option class='option' *ngFor='let option of processname' [value]="option.work_station">{{option.work_station}}</option>
                      </select> 
                  </div>
              </div>
          </div>
      
        <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="addnew.hide()">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm1.form.valid">Submit</button>
        </div>
      </div>
      </form>
      </div>
      </app-modal-basic>
  
  <app-modal-basic #addnewfitter [dialogClass]="'modal-lg'" style="min-height:1200px">
      <div class="app-modal-header">
        <h4 class="modal-title">Add Details</h4>
        <button type="button" class="close basic-close" (click)="addnew.hide()">
          <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
        </button>
      </div>
      <div class="app-modal-body">
          <form class="form-horizontal" name="addform" #frm="ngForm"  (ngSubmit)="addemployee(frm,addNew)">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Process Name:</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" Placeholder="Enter Process Name" name="procesname" ngModel #procesname="ngModel" required>
                    <div *ngIf="procesname.invalid && (procesname.dirty || procesname.touched)" class="alert-danger">
                      <span *ngIf="procesname.errors?.required">
                          Process Name Required
                      </span>
                    </div>
                </div>
            </div>
        
          <hr>
        <div class="form-group row float-right">
          <div class="col-sm-6">
            <button type="button" class="btn btn-default waves-effect pull-right" (click)="addnewfitter.hide()">Close</button>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
          </div>
        </div>
        </form>
        </div>
  
      </app-modal-basic>
    
  <!-- Edit -->
  
  <app-modal-basic #edit [dialogClass]="'modal-lg'">
    <div class="app-modal-header">
      <h4 class="modal-title">Edit Assembly Job Sheet</h4>
      <button type="button" class="close basic-close" (click)="edit.hide()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="app-modal-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Process Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Process Name">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Process Image</label>
            <div class="col-sm-8">
              <input type="file" ng2FileSelect [uploader]="uploader" class="custom-file-input">
              <span class="custom-file-control"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Process Sequence</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Process Sequence">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="edit.hide()">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
    </div>
  </app-modal-basic>