<div class="row">
  <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="col-md-6">
            <h5>Material Picking</h5>
          </div>
        </div>
        <div class="card-block">
          <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="addsubassy(frm,addnew)">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Material Issue For:</label>
                  <div class="col-sm-5">
                    <select name="materialissue" class="form-control" [(ngModel)]="materialissues" #materialissue="ngModel" (change)="getvalue(materialissue.value)">
                      <option [value]="undefined" selected hidden>Select Material Issue For:</option>
                      <option [value]="null" selected hidden>Select Material Issue For:</option>
                      <option value="1">Drum Model</option>
                      <option value="2">Mixer Assembly</option>
                      <option value="3">Mounting Model</option>
                    </select>
                    <div *ngIf="materialissue.invalid && (materialissue.dirty || materialissue.touched)" class="alert-danger">
                        <span *ngIf="materialissue.errors?.required">
                          Material Issue for. is Required
                        </span>
                      </div>
                    <!-- <input type="text" class="form-control" Placeholder="Enter Drum / Mixer No / Mounting"> -->
                  </div>
                </div>
              </div>
            </div>

            <div [ngSwitch]="materialissues">
              <div *ngSwitchCase="'1'">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Drum Model:</label>
                      <div class="col-sm-5">
                        <select name="drummodel" class="form-control" [(ngModel)]="drummodels" #drummodel="ngModel" (change)="drum_getwo(drummodel.value);">

                        <!-- <select name="drummodel" class="form-control" [(ngModel)]="drummodels" #drummodel="ngModel" (change)="drum_getwo(drummodel.value)"> -->
                          <option [value]="undefined" selected hidden>Select Drum Model:</option>
                          <option [value]="null" selected hidden>Select Drum Model:</option>
                          <option *ngFor="let item of mixer_value.message" [value]="item.id" >{{item.drumpart_no}} _ {{item.drum_model}}</option>
                        </select>
                        <div *ngIf="drummodel.invalid && (drummodel.dirty || drummodel.touched)" class="alert-danger">
                          <span *ngIf="drummodel.errors?.required">
                            Drum Model. is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Drum W/O No.</label>
                      <div class="col-sm-5">
                        <select class="form-control" name="workorder" [(ngModel)]="workorder" #workordernos="ngModel" required>
                          <option [value]="undefined" selected hidden>Select Workorder No.</option>
                          <option [value]="null" selected hidden>Select Workorder No.</option>
                          <option *ngFor="let item of drumworkorder.message" [value]="item.id">{{item.workorder_no}}</option>
                        </select>
                        <div *ngIf="workordernos.invalid && (workordernos.dirty || workordernos.touched)" class="alert-danger">
                          <span *ngIf="workordernos.errors?.required">
                              WorkOrder No. is Required
                          </span>
                          <span *ngIf="workordernos.errors?.pattern">
                            WorkOrder No. should acceptd only Numeric.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>    
                
              

              </div>
              <div *ngSwitchCase="'2'">   
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Mixer Part No.</label>
                      <div class="col-sm-5">
                        <select class="form-control" name="drummodel" [(ngModel)]="mixerpartnos" #partnos="ngModel" required (change)="getworkorderno(partnos.value)">
                          <option [value]="undefined" selected hidden>Select Part No.</option>
                          <option [value]="null" selected hidden>Select Part No.</option>
                          <option *ngFor="let item of getmixerparts.message" [value]="item.id">{{item.part_no}}_{{item.mixer_model}}</option>
                        </select>
                        <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                          <span *ngIf="partnos.errors?.required">
                            Part No. is Required
                          </span>
                        </div>  
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Mixer W/O No.</label>
                      <div class="col-sm-5">
                        <select class="form-control" name="workorder" [(ngModel)]="workorder" #workordernos="ngModel" required (change)="getassyvalue(frm)">
                          <option [value]="undefined" selected hidden>Select Workorder No.</option>
                          <option [value]="null" selected hidden>Select Workorder No.</option>
                          <option *ngFor="let item of mixerplanning.message" [value]="item.id">{{item.workorder_no}}</option>
                        </select>
                        <div *ngIf="workordernos.invalid && (workordernos.dirty || workordernos.touched)" class="alert-danger">
                          <span *ngIf="workordernos.errors?.required">
                              WorkOrder No. is Required
                          </span>
                          <span *ngIf="workordernos.errors?.pattern">
                            WorkOrder No. should acceptd only Numeric.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
         
              
              </div>  
              <div *ngSwitchCase="'3'">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Mounting WorkOrder:</label>
                      <div class="col-sm-5">
                          <select name="workorder" class="form-control" [(ngModel)]="mountwos" #mountwo="ngModel" (change)="getmountreleaseqty(mountwo.value,materialissue.value)">
                            <option value="undefined" selected hidden>Select Mounting Release WorkOrder:</option>
                            <option value="null" selected hidden>Select Mounting Release WorkOrder:</option>
                            <option *ngFor="let item of mounting_wo.message" [value]="item.id" >{{item.workorder_no}}</option>
                          </select>
                        <div *ngIf="mountwo.invalid && (mountwo.dirty || mountwo.touched)" class="alert-danger">
                          <span *ngIf="mountwo.errors?.required">
                              Mounting Release WorkOrder is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            
              </div> 
            </div> 
            <hr>            
            <!-- <div class="form-group row float-right">
              <div class="col-sm-6">
                <button type="button" class="btn btn-default waves-effect pull-right" (click)="reset(frm)">Reset</button>
              </div>
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
              </div>
            </div> -->


          </form>
        </div>
        <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editmaterialpickings(editfrm)">
        
            <div>
              <div class="row">  
                <div class="col-sm-3"></div>          
                <div class="col-sm-6">
                  <div class="checkbox-fade fade-in-primary col-sm-12">
                    <label class="col-sm-12">                            
                        <input type="checkbox" (change)="selectAll($event);"/> 
                      <span class="cr">
                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                      </span>
                      <span class="text-inverse">Select All</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>      
            <div *ngFor="let option of drum_value1.message">
              <div class="row">  
                <div class="col-sm-3"></div>          
                <div class="col-sm-6">
                  <div class="checkbox-fade fade-in-primary col-sm-12">
                    <label class="col-sm-12">
                      <input type="checkbox" [(ngModel)]="option.selected" name="menu1" [value]="option.id" id="{{option.id}}" (change)="checkValue(option.id,$event.target.checked)">
                      <span class="cr">
                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                      </span>
                      <span class="text-inverse">{{option.description}}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <hr>
            <div class="form-group row float-right">
              <div class="col-sm-6">
                <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
              </div>
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
              </div>
            </div>
          </form>
        <!-- end of card-footer -->
      </div>    
  </div>
</div>

<!-- <ng-template #edit let-c="close" let-d="dismiss" >
<div class="modal-header">
  <h4 class="modal-title">Edit Material Pickings</h4>
  <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
    <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
  </button>
</div>
<div class="modal-body">
    
</div>
</ng-template> -->