<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="col-md-6">
          <h5>Shift Allotment</h5>
        </div>
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-12">
            <div class="card-block table-responsive">
              <table class="datatable table table-striped table-bordered row-border hover">
                  <thead>
                    <tr>
                      <th>S.No.</th>
                      <th>Date</th>
                      <th>Shift</th>
                      <th>Emp Id</th>
                      <th>Technician Name</th>
                      <th>Designation</th>
                      <th>Workstation Name</th>
                      <th>Type</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of options;let i=index">
                      <td>{{i+1}}</td>
                      <td>{{item.date}}</td>
                      <td>{{item.shift}}</td>
                      <td>{{item.emp_id}}</td>
                      <td>{{item.technician_name}}</td>               
                      <td>{{item.designation}}</td>               
                      <td>{{item.opcode}}_{{item.list_of_operation}}</td>              
                      <td *ngIf="item.type == '1'; else falsyTemplate">Fabrication</td>
                            <ng-template #falsyTemplate>
                            <td>Assembly</td>
                            </ng-template>    
                      <td>
                          <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                            <i class='icofont icofont-fountain-pen'></i>
                          </button>
                        </td>           
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- end of card-footer -->
        
          </div>
        </div>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>
  

  
  <ng-template #edit let-c="close" let-d="dismiss">
      <div class="modal-header">
        <h4 class="modal-title">Edit Shift Allotment</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(edit)">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editsallotment(editfrm)">
          <div class="row" style="display:none">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Id</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editshiftallotment.id" required #eid="ngModel">
                  <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                    <span *ngIf="eid.errors?.required">
                      ID is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
         
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Date</label>
                <div class="col-sm-8">
                    <!-- <input type="date" class="form-control" name="date" ngModel #date="ngModel"
                      required> -->
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd"
                               name="dp" [(ngModel)]="model" ngbDatepicker #d1="ngbDatepicker" [markDisabled]="isDisabled" required readonly>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="d1.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                        </div>
                      </div>
                    <div *ngIf="d1.invalid && (d1.dirty || d1.touched)" class="alert-danger">
                      <span *ngIf="d1.errors?.required">
                      Date Required
                      </span>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Choose Shift</label>
                  <div class="col-sm-8">
                      <select class="form-control" name="shift" [(ngModel)]="editshiftallotment.shift" #shft="ngModel" required>
                          <option value="" selected>Choose Shift</option>
                          <option  value="1">1</option>
                          <option  value="2">2</option>
                        </select>
                    <div *ngIf="shft.invalid && (shft.dirty || shft.touched)" class="alert-danger">
                      <span *ngIf="shft.errors?.required">
                       Shift is Required
                      </span>                    
                      </div>
                </div>
                </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Type</label>
                    <div class="col-sm-8">
                        <select class="form-control" name="type"  [(ngModel)]="editshiftallotment.type" #tipe="ngModel" required (ngModelChange)="getmodelno($event)">
                          <option value="" selected>Select Type</option>
                          <option value="1">Fabrication</option>
                          <option value="2">Assembly</option>
                        </select>
                          <div *ngIf="tipe.invalid && (tipe.dirty || tipe.touched)" class="alert-danger">
                            <span *ngIf="tipe.errors?.required">
                                Type is Required
                            </span>                            
                          </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Operation Code</label>
                      <div class="col-sm-8">
                          <select class="form-control" name="opcode" [(ngModel)]="editshiftallotment.operation_code" #ocode="ngModel" required (ngModelChange)="getstationname($event)">
                            <option value="" selected>Select Operation Code</option>
                            <option *ngFor="let item of operationcodes" [value]="item.id">{{item.operation_code}}_{{item.list_of_operation}}</option>
                          </select>
                            <div *ngIf="ocode.invalid && (ocode.dirty || ocode.touched)" class="alert-danger">
                              <span *ngIf="ocode.errors?.required">
                              Operation Code is Required
                              </span>                            
                            </div>
                      </div>
                    </div>
                  </div>
          </div>
          <div class="row"> 
            <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Employee ID</label>
                  <div class="col-sm-8">
                    <select class="form-control" name="empid" [(ngModel)]="editshiftallotment.emp_id" #emid="ngModel" required (ngModelChange)="onOptionsSelected($event)">
             
                      <option *ngFor="let item of technicianname" [value]="item.emp_no">{{item.emp_no}} ({{item.name}})_{{item.role}}</option>
                    </select>
                      <div *ngIf="emid.invalid && (emid.dirty || emid.touched)" class="alert-danger">
                        <span *ngIf="emid.errors?.required">
                        Emp Id is Required
                        </span>                            
                      </div>
                </div>
                </div>
              </div>
          </div>

   
                <!-- <div class="row"> 
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">Model No.</label>
                    
                            <div class="col-sm-8" *ngIf="editshiftallotment.type == '2'; else falsyTemplate">
                                <select class="form-control" name="modelno"  [(ngModel)]="editshiftallotment.model_no" #modlno="ngModel" required>
                                  <option [value]="undefined" [selected]="'true'" [disabled]="'true'">Select Model No.</option>
                                  <option *ngFor="let item of modelno" [value]="item.mixer_modelno">{{item.mixer_modelno}}</option>
                                </select>
                                  <div *ngIf="modlno.invalid && (modlno.dirty || modlno.touched)" class="alert-danger">
                                    <span *ngIf="modlno.errors?.required">
                                    Model No. is Required
                                    </span>                            
                                  </div>
                            </div>
                            <ng-template #falsyTemplate>
                                <div class="col-sm-8">
                                    <select class="form-control" name="modelno" [(ngModel)]="editshiftallotment.model_no" #modlno="ngModel" required>
                                      <option [value]="undefined" [selected]="'true'" [disabled]="'true'">Select Model No.</option>
                                      <option *ngFor="let item of modelno" [value]="item.drum_model_no">{{item.drum_model_no}}</option>
                                    </select>
                                      <div *ngIf="modlno.invalid && (modlno.dirty || modlno.touched)" class="alert-danger">
                                        <span *ngIf="modlno.errors?.required">
                                        Model No. is Required
                                        </span>                            
                                      </div>
                                </div>
                                </ng-template>
                   
                      </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">Priority</label>
                          <div class="col-sm-8" >
                              <input type="text" class="form-control" Placeholder="Enter Priority" name="qty" [(ngModel)]="editshiftallotment.priority"
                              #qty="ngModel" required pattern="^\d[0-9]*$">
                            <div *ngIf="qty.invalid && (qty.dirty || qty.touched)" class="alert-danger">
                              <span *ngIf="qty.errors?.required">
                                Priority is Required
                              </span>
                              <span *ngIf="qty.errors?.pattern">
                                  Accepts only Numeric.
                                </span>
                            </div>
                          </div>
                        </div>
                      </div>
                  </div> -->
     
                  <hr>
                  <div class="form-group row float-right">
                    <div class="col-sm-6">
                      <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset(edit)">Close</button>
                    </div>
                    <div class="col-sm-6">
                      <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
                    </div>
                  </div>
        </form>
      </div>
      <!-- <div class="app-modal-footer">
        <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
        <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
      </div> -->
    </ng-template>