<!-- Row start -->
<div class="row">
  <!-- Multiple Open Accordion start -->
  <div class="col-lg-6">
    <app-card [title]="'MULTIPLE OPEN ACCORDION'" [blockClass]="'accordion-block scale-accordion'">
      <squeezebox [multiple]="true">
        <sb-item class="accordion-panel">
          <sb-item-head class="accordion-heading accordion-msg">Lorem Message 1</sb-item-head>
          <sb-item-body class="accordion-content">
            <div class="accordion-desc">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more .</p>
            </div>
          </sb-item-body>
        </sb-item>
        <sb-item [collapsed]="false" class="accordion-panel">
          <sb-item-head class="accordion-msg">Lorem Message 2</sb-item-head>
          <sb-item-body class="accordion-content">
            <div class="accordion-desc">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more .</p>
            </div>
          </sb-item-body>
        </sb-item>
        <sb-item class="accordion-panel">
          <sb-item-head class="accordion-msg">Lorem Message 3</sb-item-head>
          <sb-item-body class="accordion-content">
            <div class="accordion-desc">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more .</p>
            </div>
          </sb-item-body>
        </sb-item>
      </squeezebox>
    </app-card>
  </div>

  <div class="col-lg-6">
    <app-card [title]="'Single Open Accordion'" [blockClass]="'accordion-block'">
      <squeezebox [multiple]="false">
        <sb-item [collapsed]="false" class="accordion-panel">
          <sb-item-head class="accordion-heading accordion-msg">Lorem Message 1</sb-item-head>
          <sb-item-body class="accordion-content">
            <div class="accordion-desc">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more .</p>
            </div>
          </sb-item-body>
        </sb-item>
        <sb-item class="accordion-panel">
          <sb-item-head class="accordion-msg">Lorem Message 2</sb-item-head>
          <sb-item-body class="accordion-content">
            <div class="accordion-desc">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more .</p>
            </div>
          </sb-item-body>
        </sb-item>
        <sb-item class="accordion-panel">
          <sb-item-head class="accordion-msg">Lorem Message 3</sb-item-head>
          <sb-item-body class="accordion-content">
            <div class="accordion-desc">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more .</p>
            </div>
          </sb-item-body>
        </sb-item>
      </squeezebox>
    </app-card>
  </div>
</div>
<!-- row end -->
<!-- row start -->
<div class="row">
  <!-- Multiple Open Accordion start -->
  <div class="col-lg-6">
    <app-card [title]="'SCALE ACCORDION'" [blockClass]="'accordion-block scale-accordion'">
      <squeezebox [multiple]="false">
        <sb-item class="accordion-panel">
          <sb-item-head class="accordion-heading accordion-msg">Lorem Message 1</sb-item-head>
          <sb-item-body class="accordion-content">
            <div class="accordion-desc">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more .</p>
            </div>
          </sb-item-body>
        </sb-item>
        <sb-item class="accordion-panel">
          <sb-item-head class="accordion-msg">Lorem Message 2</sb-item-head>
          <sb-item-body class="accordion-content">
            <div class="accordion-desc">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more .</p>
            </div>
          </sb-item-body>
        </sb-item>
        <sb-item [collapsed]="false" class="accordion-panel">
          <sb-item-head class="accordion-msg">Lorem Message 3</sb-item-head>
          <sb-item-body class="accordion-content">
            <div class="accordion-desc">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more .</p>
            </div>
          </sb-item-body>
        </sb-item>
      </squeezebox>
    </app-card>
  </div>

  <div class="col-lg-6">
    <app-card [title]="'COLOR ACCORDION'" [blockClass]="'accordion-block'">
      <squeezebox [multiple]="false">
        <sb-item [collapsed]="false" class="accordion-panel">
          <sb-item-head class="accordion-heading bg-primary accordion-msg">Lorem Message 1</sb-item-head>
          <sb-item-body class="accordion-content">
            <div class="accordion-desc">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more .</p>
            </div>
          </sb-item-body>
        </sb-item>
        <sb-item class="accordion-panel">
          <sb-item-head class="accordion-heading bg-danger accordion-msg">Lorem Message 2</sb-item-head>
          <sb-item-body class="accordion-content">
            <div class="accordion-desc">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more .</p>
            </div>
          </sb-item-body>
        </sb-item>
        <sb-item class="accordion-panel">
          <sb-item-head class="accordion-heading bg-success accordion-msg">Lorem Message 3</sb-item-head>
          <sb-item-body class="accordion-content">
            <div class="accordion-desc">
              <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more .</p>
            </div>
          </sb-item-body>
        </sb-item>
      </squeezebox>
    </app-card>
  </div>
</div>
<!-- row end -->