<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="col-md-6">
          <h5>Mixer Workorder Confirmation</h5>
        </div>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Part No</label>
              <div class="col-sm-8">
                <select class="form-control" name="partno" [(ngModel)]="selpartno" #processtype="ngModel" required (ngModelChange)="getworkorder($event)">
                  <option [value]="undefined" selected hidden>Select Part No</option>
                  <option [value]="null" selected hidden>Select Part No</option>
                  <option value="ALL">ALL</option>
                  <option *ngFor="let item of partno.message" [value]="item.id">{{item.part_no}}_{{item.mixer_model}}</option>
                </select>
                <div *ngIf="processtype.invalid && (processtype.dirty || processtype.touched)" class="alert-danger">
                  <span *ngIf="processtype.errors?.required">
                    Part No is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Workorder Number</label>
              <div class="col-sm-8">
                <select class="form-control" name="workorder" [(ngModel)]="selworkorder" #workstation="ngModel" required (ngModelChange)="getwo($event)">
                  <option [value]="undefined" selected hidden>Select Workorder Number</option>
                  <option [value]="null" selected hidden>Select Workorder Number</option>
                  <option value="ALL">ALL</option>
                  <option *ngFor="let item of workorder.message" [value]="item.id">{{item.workorder_no}}</option>
                </select>
                <div *ngIf="workstation.invalid && (workstation.dirty || workstation.touched)" class="alert-danger">
                  <span *ngIf="workstation.errors?.required">
                    Workorder Number is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" (click)="getdetails()">Submit </button>
            </div>
          </div>
      </div>
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Workorder No.</th>
              <th>Mixer Sl. No.</th>
              <th>Part No.</th>
              <th>Engine/Gearbox No.</th>
              <th>Model</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of mixerworkorder;let i=index">
              <td>{{i+1}}</td>
              <td>{{item.workorder_no}}</td>
              <td>{{item.mixer_s_no}}</td>
              <td>{{item.mix_part_no}}</td>
              <td *ngIf="item.engine_sl_no != ''; else falsyTemplate1">{{item.engine_sl_no}}</td>
              <ng-template #falsyTemplate1>
                <td>{{item.gear_box_sl_no}}</td>
              </ng-template>
              <td>{{item.mix_model}}</td>
              <td>
                <button class='btn btn-info btn-square' (click)='confirm(item.mixer_s_no,1)'>
                  Confirm
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>



<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <!-- <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder
            ="Upload file"> -->
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file"
          class="
              btn btn-default">
        <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
        <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
        <!-- <span class="custom-file-control"></span> -->
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>

<ng-template #addNew let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Employee Master</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="addemployee(frm,addNew)">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-8 col-form-label" style="color: red">* All fields are Mandatory</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Emp No</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="empno" ngModel #empno="ngModel"
                required>
              <div *ngIf="empno.invalid && (empno.dirty || empno.touched)" class="alert-danger">
                <span *ngIf="empno.errors?.required">
                  Emp No. Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Name" name="empname" ngModel #empname="ngModel"
                required>
              <div *ngIf="empname.invalid && (empname.dirty || empname.touched)" class="alert-danger">
                <span *ngIf="empname.errors?.required">
                  Emp Name Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Mobile Number</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Mobile Number" name="empmobile" ngModel
                #empmobile="ngModel" pattern="^(6|7|8|9)\d[0-9]*$" minlength="10" maxlength="10" required>
              <div *ngIf="empmobile.invalid && (empmobile.dirty || empmobile.touched)" class="alert-danger">
                <span *ngIf="empmobile.errors?.required">
                  Emp Mobile Number is Required
                </span>
                <span *ngIf="empmobile.errors?.pattern">
                  Accepts only Numeric and should start with 9,8,7,6.
                </span>
                <span *ngIf="empmobile.errors?.minlength">
                  Mobile number should not be less than 10 digits,
                </span>
                <span *ngIf="empmobile.errors?.maxlength">
                  Mobile number should not be greater than 10 digits.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Emp Batch</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp Batch" name="empbatch" ngModel #empbatch="ngModel"
                required>
              <div *ngIf="empbatch.invalid && (empbatch.dirty || empbatch.touched)" class="alert-danger">
                <span *ngIf="empbatch.errors?.required">
                  Emp Batch is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Emp Workstation</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp WorkStation" name="empstation" ngModel #empstation="ngModel" required>
              <div *ngIf="empstation.invalid && (empstation.dirty || empstation.touched)" class="alert-danger">
                <span *ngIf="empbatch.errors?.required">
                  Emp Work Station is Required
                </span>
              </div>
            </div>
          </div>
        </div> -->
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Bus Route</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Bus Route" name="busroute" ngModel #bus="ngModel"
                required>
              <div *ngIf="bus.invalid && (bus.dirty || bus.touched)" class="alert-danger">
                <span *ngIf="bus.errors?.required">
                  Bus Route is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Emp Details</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp Details" name="empdetails" ngModel
                #empdetails="ngModel" required>
              <div *ngIf="empdetails.invalid && (empdetails.dirty || empdetails.touched)" class="alert-danger">
                <span *ngIf="empdetails.errors?.required">
                  Emp Details is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Employee Category</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Employee Category" name="empcategory" ngModel
                #empcategory="ngModel" required>
              <div *ngIf="empcategory.invalid && (empcategory.dirty || empcategory.touched)" class="alert-danger">
                <span *ngIf="empcategory.errors?.required">
                  Emp Category is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Qualification Status</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Qualification Status" name="empqual" ngModel
                #empqual="ngModel" required>
              <div *ngIf="empqual.invalid && (empqual.dirty || empqual.touched)" class="alert-danger">
                <span *ngIf="empqual.errors?.required">
                  Emp Qualification Status is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Employee Role</label>
            <div class="col-sm-8">
              <select class="form-control" name="empdest" ngModel #empdest="ngModel" required>
                <option value="" selected disabled>Select Role</option>
                <option value="Fitter">Fitter</option>
                <option value="Welder">Welder</option>
                <option value="Helper">Helper</option>
                <option value="Manager">Manager</option>
                <option value="Production Manager">Production Manager</option>
                <option value="Shift Engineer">Shift Engineer</option>
              </select>
              <div *ngIf="empdest.invalid && (empdest.dirty || empdest.touched)" class="alert-danger">
                <span *ngIf="empdest.errors?.required">
                  Emp Destination is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>

<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Production Plan</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editmixerplanning(editfrm)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editplanning.id"
                required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Mixer Assembly Variant</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="modelno" [(ngModel)]="editplanning.mixer_modelno" #eno="ngModel"
                readonly>
              <div *ngIf="eno.invalid && (eno.dirty || eno.touched)" class="alert-danger">
                <span *ngIf="eno.errors?.required">
                  Emp No. Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Planned Schedule</label>
            <div class="col-sm-8">
              <input type="date" class="form-control" name="date" [(ngModel)]="editplanning.plan_schedule" #ename="ngModel"
                readonly>
              <div *ngIf="ename.invalid && (ename.dirty || ename.touched)" class="alert-danger">
                <span *ngIf="ename.errors?.required">
                  Emp Name Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Priority</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Priority" name="priority" [(ngModel)]="editplanning.priority"
                #emobile="ngModel" pattern="^\d[0-9]*$" required>
              <div *ngIf="emobile.invalid && (emobile.dirty || emobile.touched)" class="alert-danger">
                <span *ngIf="emobile.errors?.required">
                  Priority is Required
                </span>
                <span *ngIf="emobile.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>

      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>
<!-- Edit -->