<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="row">
          <div class="col-md-6">
            <h5>SOP Procedure</h5>
          </div>
          <div class="col-md-6">
            <div class="text-right">
              <button class="btn btn-primary btn-square" type="button" (click)="open(bulkupload)">
                <i class="icofont icofont-upload"></i> Bulk Upload
              </button>
              <button class="btn btn-info btn-square" type="button" (click)="open(addnew)">
                <i class="icofont icofont-plus"></i> Add SOP Procedure
              </button>
            </div>
          </div>
        </div>

      </div>
      <div class="card-block">
        <form class="form-horizontal" #searchfrm="ngForm" (ngSubmit)="search(searchfrm)">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Select Part Number</label>
            <div class="col-sm-4">
              <select class='select-option  form-control' required ngModel #modelnumber=ngModel name=modelno
                (ngModelChange)='onOptionsmodelSelected($event)'>
                <option value="" selected>Select Part No.</option>
                <option class='option' *ngFor='let option of optionmodel' [value]="option.id">{{option.part_no}}
                  ({{option.mixer_model}})</option>
              </select>
              <div *ngIf="modelnumber.invalid && (modelnumber.dirty || modelnumber.touched)" class="alert-danger">
                <span *ngIf="modelnumber.errors?.required">
                  Part Number is Required
                </span>
              </div>
            </div>
          </div>
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Select Workstation Name</label>
            <div class="col-sm-4">
              <select class='select-option  form-control' required ngModel name=stationname #station=ngModel
                (ngModelChange)='onOptionsSelected($event)'>
                <option value="" selected>Select Workstation Name</option>
                <option class='option' *ngFor='let option of options' [value]="option.id">{{option.list_of_operation}}
                  ({{option.operation_code}})</option>
              </select>
              <div *ngIf="station.invalid && (station.dirty || station.touched)" class="alert-danger">
                <span *ngIf="station.errors?.required">
                  Workstation Name is Required
                </span>
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Select Rev. No.</label>
            <div class="col-sm-4">
              <select class='select-option  form-control' required ngModel #revno=ngModel name=revno>
                <option value="" selected>Select Rev No.</option>
                <option class='option' *ngFor='let option of revino' [value]="option.rev_no">{{option.rev_no}}</option>
              </select>
              <div *ngIf="revno.invalid && (revno.dirty || revno.touched)" class="alert-danger">
                <span *ngIf="revno.errors?.required">
                  Rev No. is Required
                </span>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right">Search</button>
          </div>
        </form>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div class="card card-border-primary">
            <div class="card-block table-responsive">
              <table class="datatable table table-striped table-bordered row-border hover">
                <thead>
                  <tr>
                    <th>S.No</th>
                    <th>Operation No.</th>
                    <th>Work Element Description</th>
                    <th>Part No.</th>
                    <th>Workstation Name</th>
                    <th>Rev No.</th>
                    <th>Critical Points</th>
                    <th>Tools/Equipment Used</th>
                    <th>Visual Aid</th>
                    <th>Components</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of employees;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.operation_no}}</td>
                    <td>{{item.element_description}}</td>
                    <td>{{item.mixer_part_no}}({{item.mixer_model}})</td>
                    <td>{{item.list_of_operation}} ({{item.operation_code}})</td>
                    <td>{{item.rev_no}}</td>
                    <td>{{item.critical_point}}</td>
                    <td>{{item.tools_equipments}}</td>
                    <td class="text-center">
                      <button class='btn btn-default btn-outline-default btn-icon' (click)='showimage(item.visual_aid);openbulkupload(viewimage)'>
                        <i class='icofont icofont-image'></i>
                      </button>
                    </td>
                    <td>{{item.components}}</td>
                    <td>
                      <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item,stationname);openedit(edit)'>
                        <i class='icofont icofont-fountain-pen'></i>
                      </button>
                      <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletesopprocedure(item.id)'><i
                          class='icofont icofont-trash'></i></button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>
<ng-template #viewimage let-c="close" let-d="dismiss">
  <div class="modal-body">
    <button type="button" class="close basic-close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
    <img src="{{processimage}}" class="form-control" height="400" width="300">
  </div>
</ng-template>

<!-- Edit -->
<ng-template #addnew let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add SOP Procedure</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset()">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="addfrm" #frm="ngForm" (ngSubmit)="addsopprocedure(frm, addnew)">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Mixer Part No.</label>
            <div class="col-sm-8">
              <select class='select-option  form-control' required ngModel name=partno #partno="ngModel"
                (ngModelChange)='onOptionsmodelSelected($event)'>
                <option value="" selected>Select Part No.</option>
                <option class='option' *ngFor='let optiond of optionspartno' [value]="optiond.id">{{optiond.part_no}}
                  ({{optiond.mixer_model}})</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Workstation</label>
            <div class="col-sm-8">
              <select class='select-option  form-control' #componentassembly="ngModel" (ngModelChange)='onOptionscomponentSelected($event)'
                required ngModel name=componentassembly>
                <option value="" selected>Select Component</option>
                <option class='option' *ngFor='let option of stationnam' [value]="option.id">{{option.list_of_operation}}
                  ({{option.operation_code}})</option>
              </select>
              <div *ngIf="componentassembly.invalid && (componentassembly.dirty || componentassembly.touched)" class="alert-danger">
                <span *ngIf="componentassembly.errors?.required">
                  Component/Assembly is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Rev. No.</label>
            <div class="col-sm-8">
              <select class='select-option  form-control' #revno="ngModel" required ngModel name=revno>
                <option value="" selected>Select Rev No.</option>
                <option class='option' *ngFor='let option of revino' [value]="option.rev_no">{{option.rev_no}}</option>
              </select>
              <div *ngIf="revno.invalid && (revno.dirty || revno.touched)" class="alert-danger">
                <span *ngIf="revno.errors?.required">
                  Rev. No. is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Operation No.
            </label>
            <div class="col-sm-8">
              <!--<input type="text" class="form-control" Placeholder="Enter Operation No">-->
              <input type="text" class="form-control" name="operationno" [(ngModel)]="operation_no" #operationno="ngModel"
                readonly>
              <div *ngIf="operationno.invalid && (operationno.dirty || operationno.touched)" class="alert-danger">
                <span *ngIf="operationno.errors?.required">
                  Operation No Required
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Work Element Description
            </label>
            <div class="col-sm-8">
              <!-- <input type="text" class="form-control" Placeholder="Enter Work Element Description">-->
              <textarea type="text" class="form-control" Placeholder="Enter Work Element Description" name="desc"
                ngModel #desc="ngModel" required></textarea>
              <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                <span *ngIf="desc.errors?.required">
                  Work Element Description Required
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Critical Points
            </label>
            <div class="col-sm-8">
              <!-- <input type="text" class="form-control" Placeholder="Enter Critical Points">-->
              <input type="text" class="form-control" Placeholder="Enter Critical Point" name="criticalpoints" ngModel
                #criticalpoints="ngModel" required>
              <div *ngIf="criticalpoints.invalid && (criticalpoints.dirty || criticalpoints.touched)" class="alert-danger">
                <span *ngIf="criticalpoints.errors?.required">
                  Critical Points Required
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Tools/Equipment Used
            </label>
            <div class="col-sm-8">
              <!-- <input type="text" class="form-control" Placeholder="Enter Tools/Equipment Used">-->
              <textarea type="text" class="form-control" Placeholder="Enter Tools/Equipment Used" name="tools" ngModel
                #tools="ngModel" required></textarea>
              <div *ngIf="tools.invalid && (tools.dirty || tools.touched)" class="alert-danger">
                <span *ngIf="tools.errors?.required">
                  Tools/Equipment Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Visual Aid
            </label>
            <div class="col-sm-8">
              <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file"
                name="visualaid" ngModel #visualaid="ngModel" accept="image/x-png,image/gif,image/jpeg" required>
              <div *ngIf="visualaid.invalid && (visualaid.dirty || visualaid.touched)" class="alert-danger">
                <span *ngIf="visualaid.errors?.required">
                  Visual Aid is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Component
            </label>
            <div class="col-sm-8">
              <div class="checkbox-fade fade-in-primary" *ngFor="let options of component_cm">
                <label>
                  <input type="text" class="form-control" name="componentoptions" [(ngModel)]="options.components"
                    #componentoptions="ngModel" readonly required>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
        <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
        <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
      </div> -->
</ng-template>
<app-modal-basic #edit1 [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="modal-title">Image</h4>
    <button type="button" class="close basic-close" (click)="edit1.hide()">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="row">
      <img src="http://rmg-pars.com/construction/wp-content/uploads/2017/05/timthumb-6.jpg" alt="Smiley face">
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="edit1.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div>
</app-modal-basic>
<app-modal-basic #edit2 [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="modal-title">Image</h4>
    <button type="button" class="close basic-close" (click)="edit2.hide()">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="row">
      <img src="https://5.imimg.com/data5/KW/FD/MY-3183279/concrete-transit-truck-mixer-500x500.jpg" alt="Smiley face">
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="edit2.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div>
</app-modal-basic>
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <!-- <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder
                  ="Upload file"> -->
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file"
          class="
                    btn btn-default">
        <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
        <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
        <!-- <span class="custom-file-control"></span> -->
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit SOP Procedure</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editsopprocedure(editfrm)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editsop.id"
                required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Mixer Part No.</label>
            <div class="col-sm-8">
              <select class='select-option  form-control'  [(ngModel)]="editsop.part_no" name=partno #partno="ngModel"
                (ngModelChange)='onOptionsmodelSelected($event)'>
                <option value="" selected>Select Part No.</option>
                <option class='option' *ngFor='let optiond of optionspartno' [value]="optiond.id">{{optiond.part_no}}
                  ({{optiond.mixer_model}})</option>
              </select>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Workstation</label>
            <div class="col-sm-8">
              <select class='select-option  form-control' #componentassembly="ngModel" (ngModelChange)='onOptionscomponentSelected($event)'
                required [(ngModel)]="editsop.workstation_name" name=componentassembly>
                <option value="" selected>Select Component</option>
                <option class='option' *ngFor='let option of stationnam' [value]="option.id">{{option.list_of_operation}}
                  ({{option.operation_code}})</option>
              </select>
              <div *ngIf="componentassembly.invalid && (componentassembly.dirty || componentassembly.touched)" class="alert-danger">
                <span *ngIf="componentassembly.errors?.required">
                  Component/Assembly is Required
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Rev. No.</label>
            <div class="col-sm-8">
              <select class='select-option  form-control' #revno="ngModel" required [(ngModel)]="editsop.rev_no" name=revno>
                <option value="" selected>Select Rev No.</option>
                <option class='option' *ngFor='let option of revino' [value]="option.rev_no">{{option.rev_no}}</option>
              </select>
              <div *ngIf="revno.invalid && (revno.dirty || revno.touched)" class="alert-danger">
                <span *ngIf="revno.errors?.required">
                  Rev. No. is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Operation No.
            </label>
            <div class="col-sm-8">
              <!--<input type="text" class="form-control" Placeholder="Enter Operation No">-->
              <input type="text" class="form-control" Placeholder="Enter Operation No" name="operationno" [(ngModel)]="editsop.operation_no"
                #operation="ngModel" readonly>
              <div *ngIf="operation.invalid && (operation.dirty || operation.touched)" class="alert-danger">
                <span *ngIf="operation.errors?.required">
                  Operation No Required
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Work Element Description
            </label>
            <div class="col-sm-8">
              <!-- <input type="text" class="form-control" Placeholder="Enter Work Element Description">-->
              <textarea type="text" class="form-control" Placeholder="Enter Work Element Description" name="desc"
                [(ngModel)]="editsop.element_description" #des="ngModel" required></textarea>
              <div *ngIf="des.invalid && (des.dirty || des.touched)" class="alert-danger">
                <span *ngIf="des.errors?.required">
                  Work Element Description Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Critical Points
            </label>
            <div class="col-sm-8">
              <!-- <input type="text" class="form-control" Placeholder="Enter Critical Points">-->
              <input type="text" class="form-control" Placeholder="Enter Critical Point" name="criticalpoints"
                [(ngModel)]="editsop.critical_point" #criticalpoint="ngModel" required>
              <div *ngIf="criticalpoint.invalid && (criticalpoint.dirty || criticalpoint.touched)" class="alert-danger">
                <span *ngIf="criticalpoint.errors?.required">
                  Critical Points Required
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">

        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Tools/Equipment Used
            </label>
            <div class="col-sm-8">
              <!-- <input type="text" class="form-control" Placeholder="Enter Tools/Equipment Used">-->
              <textarea type="text" class="form-control" Placeholder="Enter Tools/Equipment Used" name="tools"
                [(ngModel)]="editsop.tools_equipments" #tool="ngModel" required></textarea>
              <div *ngIf="tool.invalid && (tool.dirty || tool.touched)" class="alert-danger">
                <span *ngIf="tool.errors?.required">
                  Tools/Equipment Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Visual Aid
            </label>
            <div class="col-sm-8">
              <!-- <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file"
                    name="visualaid" ngModel #visualaid="ngModel" accept="image/x-png,image/gif,image/jpeg">
                  <input type="text" class="form-control" Placeholder="Enter Fabrication Process Flow" name="visualaid"
                  [(ngModel)]="editsop.visual_aid"   #visualaid="ngModel" required style="display:none"> -->
              <div class="col-sm-8">
                <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file"
                  name="visualaids" ngModel #visualaid="ngModel" accept="image/x-png,image/gif,image/jpeg">
                <input type="text" class="form-control" Placeholder="Enter Fabrication Process Flow" name="visualaidss"
                  [(ngModel)]="editsop.visual_aid" #visualaidss="ngModel" style="display:none">
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-6">

          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Component
            </label>
            <div class="col-sm-8">
              <div class="checkbox-fade fade-in-primary" *ngFor="let options of component_cm">
                <label>
                  <input type="text" class="form-control" name="componentoptions" [(ngModel)]="options.components"
                    #componentoptions="ngModel" readonly required>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>