<div class="row">
  <div class="col-sm-12">
    <form class="form-horizontal" name="addform" #addfrm="ngForm" (ngSubmit)="addmoutingscope(addfrm)">
      <div class="card card-border-primary">
        <div class="card-header">
          <h5>Mounting Scope</h5>
          <p class="mandatoryfiles">* Fields Are mandatory</p>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Date<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" name="date_model" [(ngModel)]="date_models" ngbDatepicker #date_model="ngbDatepicker" required readonly>
                      <div class="input-group-append" >
                        <button class="btn btn-outline-secondary date_model" (click)="date_model.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                      </div>
                    </div>       
                  <div *ngIf="date_model.invalid && (date_model.dirty || date_model.touched)" class="alert-danger">
                    <span *ngIf="date_model.errors?.required">
                      Date is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Customer Name<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="customername" [(ngModel)]="setcusname" #customernames="ngModel" required (change)="getcustomer(customernames.value);getchassisclearance(customernames.value)">
                    <option [value]="undefined" selected hidden>Select Customer Name</option>
                    <option [value]="null" selected hidden>Select Customer Name</option>
                    <option *ngFor="let item of getcustomerspec.message" [value]="item.id">{{item.custid}}_{{item.customer_name}}</option>
                  </select>
                  <div *ngIf="customernames.invalid && (customernames.dirty || customernames.touched)" class="alert-danger">
                    <span *ngIf="customernames.errors?.required">
                      Customer Name is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>            
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Part No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="mixerpartno" [(ngModel)]="mixerpartnos" #mixerpartno="ngModel" required (change)="getmixerslno(mixerpartno.value)">
                    <option [value]="undefined" selected hidden>Select Part No.</option>
                    <option [value]="null" selected hidden>Select Part No.</option>
                    <option *ngFor="let mixer of getmixerparts.message" [value]="mixer.id">{{mixer.part_no}}_{{mixer.mixer_model}}</option>
                  </select>
                  <div *ngIf="mixerpartno.invalid && (mixerpartno.dirty || mixerpartno.touched)" class="alert-danger">
                    <span *ngIf="mixerpartno.errors?.required">
                      Part No. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Mixer Assembly S.No<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">              
                  <select name="mixerslno" id="" class="form-control" [(ngModel)]="mixerslnos" #mixerslno="ngModel" required (change)="getcolor(mixerslno.value)">
                    <option [value]="undefined" selected hidden>Select Mixer Sl NO.</option>
                    <option [value]="null" selected hidden>Select Mixer Sl NO.</option>
                    <option *ngFor="let items of mixerslnoss.message" [value]="items.asmainmatid">{{items.pm_no}}</option>
                  </select>
                  <div *ngIf="mixerslno.invalid && (mixerslno.dirty || mixerslno.touched)" class="alert-danger">
                    <span *ngIf="mixerslno.errors?.required">
                      Mixer Assembly Sl.No is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>                                     
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Color Scheme<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="colorscheme" placeholder="Enter Color Scheme" [(ngModel)]="mixerwips.color" #colorschemes="ngModel" required readonly>
                  <div *ngIf="colorschemes.invalid && (colorschemes.dirty || colorschemes.touched)" class="alert-danger">
                    <span *ngIf="colorschemes.errors?.required">
                      Color Scheme is Required
                    </span>
                  </div>
                </div>
              </div>
            </div> 
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Chassis No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="chassisno" [(ngModel)]="selchassisno" #chassisnos="ngModel" required>
                    <option [value]="undefind" selected hidden>Select Chassis No.</option>
                    <option [value]="null" selected hidden>Select Chassis No.</option>
                    <option *ngFor="let item of chassisclearance.message" [value]="item.chassisid">{{item.chassis_no}}</option>
                  </select>
                  <!-- <input type="text" class="form-control" name="chassisno" placeholder="Enter Chassis No." [(ngModel)]="getcolors.chassis_no" #chassisnos="ngModel" required readonly> -->
                  <div *ngIf="chassisnos.invalid && (chassisnos.dirty || chassisnos.touched)" class="alert-danger">
                    <span *ngIf="chassisnos.errors?.required">
                      Chassis No. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>         
          </div>
          <div class="row">            
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Scope of Mounting<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">                  
                  <select class="form-control" name="scopeofmounting" [(ngModel)]="mixerwips.mountingcategory" #scopeofmounting="ngModel" required readonly>
                    <option [value]="undefined" selected hidden>Select of Scope Mounting </option>
                    <option [value]="null" selected hidden>Select of Scope Mounting </option>
                    <option [value]="1">Export</option>
                    <option [value]="2">FBV</option>
                    <option [value]="3">Party Mounting</option>
          
                  </select>
                  <div *ngIf="scopeofmounting.invalid && (scopeofmounting.dirty || scopeofmounting.touched)" class="alert-danger">
                    <span *ngIf="scopeofmounting.errors?.required">
                      Scope of Mounting is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>   
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">FBV Completion Date<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" name="calendar" [(ngModel)]="model" ngbDatepicker #fbvdates="ngbDatepicker" required readonly>
                      <div class="input-group-append" >
                        <button class="btn btn-outline-secondary calendar" (click)="fbvdates.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                      </div>
                    </div>          
                  <div *ngIf="fbvdates.invalid && (fbvdates.dirty || fbvdates.touched)" class="alert-danger">
                    <span *ngIf="fbvdates.errors?.required">
                      Chassis No. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>         
          </div>
          <div class="row">            
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">To<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="export" [(ngModel)]="selto" #export="ngModel" required>
                    <option [value]="undefined" selected hidden>Select To </option>
                    <option [value]="null" selected hidden>Select To </option>
                    <option [value]="1">Domestic</option>
                    <option [value]="2">Export</option>
                  </select>
                  <div *ngIf="export.invalid && (export.dirty || export.touched)" class="alert-danger">
                    <span *ngIf="export.errors?.required">
                      Export is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="task-board m-0">
            <!-- end of dropdown-secondary -->
            <div class="dropdown-secondary dropdown">
              <button class="btn btn-primary btn-square" type="submit" [disabled]="!addfrm.form.valid">
                <i class="icofont icofont-tick-mark"></i> Submit
              </button>
              <button class="btn btn-info btn-square" type="button" (click)="reset(frm)">
                <i class="icofont icofont-refresh"></i> Reset
              </button>
              <!-- end of dropdown menu -->
            </div>
            <!-- end of seconadary -->
          </div>
          <!-- end of pull-right class -->
        </div>
        <!-- end of card-footer -->
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <div class="text-right">
          <button class="btn btn-primary btn-square" type="button" (click)="openmodal(mail)">
              <i class="icofont icofont-upload"></i> Intimate to
          </button>
        </div>
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th></th>
              <th>S.NO</th>
              <th>Date</th>
              <th>Customer Name</th>
              <th>Color Scheme</th>
              <th>Part No</th>
              <th>Mixer Sl NO.</th>
              <th>Chasis No.</th>
              <th>Scope of Mounting</th>
              <th>FBV completion target Date</th>
              <th>To</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let items of getmountingscope.message;let i=index">
              <td><input type="checkbox" [(ngModel)]="items.selected" name="menu1" [value]="items.id" id="{{items.id}}" (change)="checkValue(items.id,$event.target.checked)"></td>   
              <td>{{i+1}}</td>
              <td>{{items.date}}</td>
              <td>{{items.customer_name}}</td>
              <td>{{items.color}}</td>
              <td>{{items.partnos}}</td>
              <td>{{items.mixer_s_no}}</td>              
              <td>{{items.chassisno}}</td>
              <td [ngSwitch]="items.mountingscope">
                <p *ngSwitchCase="'1'">Export</p>
                <p *ngSwitchCase="'2'">FBV</p>
                <p *ngSwitchCase="'3'">Party Mounting</p>
                
              </td>
              <td>{{items.fbvdate}}</td>
              <td [ngSwitch]="items.export">
                <p *ngSwitchCase="'1'">Domestic</p>
                <p *ngSwitchCase="'2'">Export</p>
              </td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(items);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <span *ngIf="items.fbv_completion_status!=1">
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletemoutingscope(items.id)'>
                  <i class='icofont icofont-trash'></i>
                </button></span>
                <span *ngIf="items.fbv_completion_status==1">
                    <button class='btn btn-danger btn-outline-danger btn-icon' (click)='notdeletemoutingscope()'>
                      <i class='icofont icofont-trash'></i>
                    </button></span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit Mounting Scope</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reloadPage()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="editfrm" #editfrm="ngForm" (ngSubmit)="editmoutingscope(editfrm, edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editmountingscope.id" required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Date<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <div class="input-group">
                  <input class="form-control" placeholder="yyyy-mm-dd" name="date_model" [(ngModel)]="editdates" ngbDatepicker #date_model="ngbDatepicker" required readonly>
                  <div class="input-group-append" >
                    <button class="btn btn-outline-secondary date_model" (click)="date_model.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                  </div>
                </div>
              <!-- <input class="form-control" placeholder="yyyy-mm-dd" name="calendar" [(ngModel)]="model" ngbDatepicker (click)="fbvdates.toggle()" #fbvdates="ngbDatepicker" required>   -->              
              <div *ngIf="date_model.invalid && (date_model.dirty || date_model.touched)" class="alert-danger">
                <span *ngIf="date_model.errors?.required">
                  Date is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Customer Name<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="customername" [(ngModel)]="editmountingscope.customerid" #customernames="ngModel" required (change)="getcustomer(customernames.value);getchassisclearance(customernames.value)">
                <option [value]="undefined" selected hidden>Select Customer Name</option>
                <option [value]="null" selected hidden>Select Customer Name</option>
                <option *ngFor="let item of getcustomerspec.message" [value]="item.id">{{item.custid}}_{{item.customer_name}}</option>
              </select>
              <div *ngIf="customernames.invalid && (customernames.dirty || customernames.touched)" class="alert-danger">
                <span *ngIf="customernames.errors?.required">
                  Customer Name. is Required
                </span>
              </div>
            </div>
          </div>
        </div>        
      </div>
      <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Part No.<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select class="form-control" name="mixerpartno" [(ngModel)]="editmountingscope.part_no" #mixerpartno="ngModel" required (change)="getmixerslno(mixerpartno.value)">
                    <option [value]="undefined" selected hidden>Select Part No.</option>
                    <option [value]="null" selected hidden>Select Part No.</option>
                    <option *ngFor="let mixer of getmixerparts.message" [value]="mixer.id">{{mixer.part_no}}_{{mixer.mixer_model}}</option>
                </select>
                <div *ngIf="mixerpartno.invalid && (mixerpartno.dirty || mixerpartno.touched)" class="alert-danger">
                  <span *ngIf="mixerpartno.errors?.required">
                    Part No. is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Mixer Assembly S.No<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <!-- <input type="text" class="form-control" name="slno" placeholder="Enter Mixer Assembly Sl.No" [(ngModel)]="slnos" #slno="ngModel" required disabled> -->                  
                <select name="mixerslno" id="" class="form-control" [(ngModel)]="editmountingscope.asmainmatid" #mixerslno="ngModel" required (change)="getcolor(mixerslno.value)">
                  <option [value]="undefined" selected hidden>Select Mixer Sl No.</option>
                  <option [value]="null" selected hidden>Select Mixer Sl No.</option>
                  <option *ngFor="let items of mixerslnoss.message" [value]="items.asmainmatid">{{items.pm_no}}</option>
                </select>
                <div *ngIf="mixerslno.invalid && (mixerslno.dirty || mixerslno.touched)" class="alert-danger">
                  <span *ngIf="mixerslno.errors?.required">
                    Mixer Assembly Sl.No is Required
                  </span>
                </div>
              </div>
            </div>
          </div>                                   
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Color Scheme<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="colorscheme" placeholder="Enter Color Scheme" [(ngModel)]="mixerwips.color" #colorschemes="ngModel" required disabled readonly>
                <div *ngIf="colorschemes.invalid && (colorschemes.dirty || colorschemes.touched)" class="alert-danger">
                  <span *ngIf="colorschemes.errors?.required">
                    Color Scheme is Required
                  </span>
                </div>
              </div>
            </div>
          </div> 
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Chassis No.<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select class="form-control" name="chassisno" [(ngModel)]="editmountingscope.chassisid" #chassisnoss="ngModel" required>
                  <option [value]="undefind" selected hidden>Select Chassis No.</option>
                  <option [value]="null" selected hidden>Select Chassis No.</option>
                  <option *ngFor="let item of chassisclearance.message" [value]="item.chassisid">{{item.chassis_no}}</option>
                </select>
                <!-- <input type="text" class="form-control" name="chassisno" placeholder="Enter Chassis No." [(ngModel)]="getcolors.chassis_no" #chassisnos="ngModel" required disabled readonly> -->
                <div *ngIf="chassisnos.invalid && (chassisnos.dirty || chassisnos.touched)" class="alert-danger">
                  <span *ngIf="chassisnos.errors?.required">
                    Chassis No. is Required
                  </span>
                </div>
              </div>
            </div>
          </div>         
        </div>
        <div class="row">            
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Scope of Mounting<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select class="form-control" name="scopeofmounting" [(ngModel)]="mixerwips.mountingcategory" #scopeofmounting="ngModel" required readonly>
                  <option [value]="undefined" selected hidden>Select Scope of Mounting </option>
                  <option [value]="null" selected hidden>Select Scope of Mounting </option>
                  <option value="1">Export</option>
                  <option value="2">FBV</option>
                  <option value="3">Party Mounting</option>
                </select>
                <div *ngIf="scopeofmounting.invalid && (scopeofmounting.dirty || scopeofmounting.touched)" class="alert-danger">
                  <span *ngIf="scopeofmounting.errors?.required">
                    Scope of Mounting is Required
                  </span>
                </div>
              </div>
            </div>
          </div>   
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">FBV Completion Date<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="calendar" [(ngModel)]="editfbvdates" ngbDatepicker #fbvdates="ngbDatepicker" required readonly>
                    <div class="input-group-append" >
                      <button class="btn btn-outline-secondary calendar" (click)="fbvdates.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                    </div>
                  </div>
                <!-- <input class="form-control" placeholder="yyyy-mm-dd" name="calendar" [(ngModel)]="model" ngbDatepicker (click)="fbvdates.toggle()" #fbvdates="ngbDatepicker" required>   -->              
                <div *ngIf="fbvdates.invalid && (fbvdates.dirty || fbvdates.touched)" class="alert-danger">
                  <span *ngIf="fbvdates.errors?.required">
                    Chassis No. is Required
                  </span>
                </div>
              </div>
            </div>
          </div>         
        </div>
        <div class="row">            
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">To<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select class="form-control" name="export" [(ngModel)]="editmountingscope.export" #export="ngModel" required>
                  <option [value]="undefined" selected hidden>Select To </option>
                  <option [value]="null" selected hidden>Select To </option>
                  <option value="1">Domestic</option>
                  <option value="2">Export</option>
                </select>
                <div *ngIf="export.invalid && (export.dirty || export.touched)" class="alert-danger">
                  <span *ngIf="export.errors?.required">
                    Export is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reloadPage()">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>
<ng-template #mail let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Mounting Scope</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" name="addform" #frm="ngForm"  (ngSubmit)="addmailingstatus()">
              <div class="container" >
          <div class="row">
              <div class="col-sm-4">
                  <div>
                    <label class="label-control">Select Users :
                    </label>
                  </div>
                </div>
            <div class="col-sm-8" >
  
                <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" ngModel name="selectedemails" #selectedemails="ngModel" required 
                [settings]="dropdownSettings" 
                (onSelect)="onItemSelect($event)" 
                (onDeSelect)="OnItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
                <div *ngIf="selectedemails.invalid && (selectedemails.dirty || selectedemails.touched)" class="alert-danger">
                  <span *ngIf="selectedemails.errors?.required">
                  Role is Required
                  </span>
                </div>
            
              
            </div>
          
          </div>
        </div>
  
        <hr>
        <div class="form-group row float-right">
          <div class="col-sm-6">
            <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
          </div>
        </div>
      </form>
    </div>   
</ng-template>
             