<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">     
        <div class="row">
            <div class="col-md-6">
                <h5>Drum Assy BOM</h5>
                <p class="mandatoryfiles">* Fields Are mandatory</p>
              </div>
              <div class="col-md-6">
                <div class="text-right">
                  <button class="btn btn-primary btn-square" type="button" (click)="open(bulkupload)">
                    <i class="icofont icofont-upload"></i> Bulk Upload
                  </button>
                </div>        
              </div>
        </div>   
        
      </div>
      <div class="card-block">
        <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="adddruminternal(frm,addnew)">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Drum Header <span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="headernos" [(ngModel)]="headerno" #headernos="ngModel" required>
                    <option [value]="undefined" hidden selected> please select Drum Header</option>
                    <option [value]="null" hidden selected> please select Drum Header</option>
                    <option *ngFor="let drumheaders of drumheader.message" [value]="drumheaders.id">{{drumheaders.headerno}}_{{drumheaders.obj_desc}}</option>
                  </select>
                  <div *ngIf="headernos.invalid && (headernos.dirty || headernos.touched)" class="alert-danger">
                    <span *ngIf="headernos.errors?.required">
                      Header No. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Part No. <span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Part No" pattern="^\d[0-9]*$" name="partno" ngModel #partno="ngModel" required appDigitOnly appEmitfirstspace>
                  <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                    <span *ngIf="partno.errors?.required">
                      Part Number is Required
                    </span>
                    <span *ngIf="partno.errors?.pattern">
                      Accepts only Numeric.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Object Description<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Description" name="desc" ngModel #desc="ngModel" required appEmitfirstspace>
                  <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                    <span *ngIf="desc.errors?.required">
                      Description is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Qty<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Qty" name="qty" ngModel #qty="ngModel" pattern="^\d[0-9]*$" appDigitOnly appEmitfirstspace required>
                  <div *ngIf="qty.invalid && (qty.dirty || qty.touched)" class="alert-danger">
                    <span *ngIf="qty.errors?.required">
                      Quantity is Required
                    </span>
                    <span *ngIf="qty.errors?.pattern">
                      Quantity accepts only Numeric value
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Work Station<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="workstations" [(ngModel)]="workstation" #workstations="ngModel" required>
                    <option [value]="undefined" hidden selected> please select Work Station</option>
                    <option [value]="null" hidden selected> please select Work Station</option>
                    <option *ngFor="let operations of drumoperations.message" [value]="operations.id">{{operations.operation_code}}-{{operations.list_of_operation}}</option>
                  </select>
                  <div *ngIf="workstations.invalid && (workstations.dirty || workstations.touched)" class="alert-danger">
                    <span *ngIf="workstations.errors?.required">
                      Work Station is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                 <label class="col-sm-4 col-form-label text-right">Unit<span class="mandatoryfiles">*</span></label>
                 <div class="col-sm-8">
                    <!-- <input type="text" class="form-control" placeholder="Unit" name="unit" ngModel #unit="ngModel" pattern="^\d[0-9]*$"
                       required> -->
                    <select class="form-control" name="unit" [(ngModel)]="getunitss" #unit="ngModel" required>
                      <option [value]="undefined" hidden selected> please select Unit</option>
                      <option [value]="null" hidden selected> please select Unit</option>
                      <option [value]="1">PC</option>
                      <option [value]="2">KG</option>
                      <option [value]="3">MTR</option>
                      <option [value]="4">LTR</option>
                      <option [value]="5">UN</option>
                    </select> 
                    <div *ngIf="unit.invalid && (unit.dirty || unit.touched)" class="alert-danger">
                       <span *ngIf="unit.errors?.required">
                       Unit is Required
                       </span>
                       <span *ngIf="unit.errors?.pattern">
                        Unit should be Numeric
                        </span>
                    </div>
                    
                 </div>
              </div>
           </div>
          </div>
          <hr>
          <div class="form-group row float-right">
            <div class="col-sm-6">
              <button type="button" class="btn btn-default waves-effect pull-right" (click)="reset(frm)">Reset</button>
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Header No.</th>
              <th>Header Desc.</th>
              <th>Part No</th>
              <th>Object Description</th>
              <th>Quantity</th>
              <th>Work station</th>
              <th>Unit</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of druminternal.message;let i=index">
              <td>{{i+1}}</td>
              <td>{{item.HEADERNO}}</td>
              <td>{{item.OBJ_DESC}}</td>               
              <td>{{item.PART_NO}}</td>
              <td>{{item.DESCRIPTION}}</td>
              <td>{{item.QTY}}</td>
              <td>{{item.LIST_OF_OPERATION}}</td>
              <td [ngSwitch]="item.UNIT">
                <p *ngSwitchCase="'1'">PC</p>
                <p *ngSwitchCase="'2'">KG</p>
                <p *ngSwitchCase="'3'">MTR</p>
                <p *ngSwitchCase="'4'">LTR</p>
                <p *ngSwitchCase="'5'">UN</p>
              </td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletedruminternal(item.ID,item.HEADER_NO)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class="btn btn-default">
        <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
        <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close
    </button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>

<!-- Edit -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="text-left">
      <h4 class="modal-title">Edit Drum Internal Parts</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="text-right">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(editfrm)">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editdruminternal(editfrm,edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editdruminternals.ID" required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Header No. <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="headernos" [(ngModel)]="editdruminternals.HEADER_NO" #headernoss="ngModel" required>
                <option [value]="undefined" hidden selected> please select Drum Header</option>
                <option [value]="null" hidden selected> please select Drum Header</option>
                <option *ngFor="let drumheaders of drumheader.message" [value]="drumheaders.id">{{drumheaders.headerno}}_{{drumheaders.obj_desc}}</option>
              </select>
              <div *ngIf="headernoss.invalid && (headernoss.dirty || headernoss.touched)" class="alert-danger">
                <span *ngIf="headernoss.errors?.required">
                  Header No. is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Part No <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Part No" pattern="^\d[0-9]*$" name="partno" [(ngModel)]="editdruminternals.PART_NO" #partnoss="ngModel" required appDigitOnly appEmitfirstspace>
              <div *ngIf="partnoss.invalid && (partnoss.dirty || partnoss.touched)" class="alert-danger">
                <span *ngIf="partnoss.errors?.required">
                  Part Number is Required
                </span>
                <span *ngIf="partnoss.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Object Description <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Description" name="desc" [(ngModel)]="editdruminternals.DESCRIPTION"
                #descs="ngModel" required appEmitfirstspace>
              <div *ngIf="descs.invalid && (descs.dirty || descs.touched)" class="alert-danger">
                <span *ngIf="descs.errors?.required">
                  Description is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Qty <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Qty" name="qty" [(ngModel)]="editdruminternals.QTY" #qtys="ngModel" pattern="^\d[0-9]*$" required appDigitOnly appEmitfirstspace>
              <div *ngIf="qtys.invalid && (qtys.dirty || qtys.touched)" class="alert-danger">
                <span *ngIf="qtys.errors?.required">
                  Quantity is Required
                </span>
                <span *ngIf="qtys.errors?.pattern">
                  Quantity accepts only Numeric value
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Work Station <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="workstations" [(ngModel)]="editdruminternals.WORKSTATIONNAME" #workstationss="ngModel" required>
                <option [value]="undefined" hidden selected> please select Work Station</option>
                <option [value]="null" hidden selected> please select Work Station</option>
                <option *ngFor="let operations of drumoperations.message" [value]="operations.id">{{operations.list_of_operation}}</option>
              </select>
              <div *ngIf="workstationss.invalid && (workstations.dirty || workstations.touched)" class="alert-danger">
                <span *ngIf="workstationss.errors?.required">
                  Work Station is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
             <label class="col-sm-4 col-form-label text-right">Unit <span class="mandatoryfiles">*</span></label>
             <div class="col-sm-8">
                <select class="form-control" name="unit" [(ngModel)]="editdruminternals.UNIT" #unit="ngModel" required>
                  <option [value]="undefined" hidden selected> please select Unit</option>
                  <option [value]="null" hidden selected> please select Unit</option>
                  <option [value]="1">PC</option>
                  <option [value]="2">KG</option>
                  <option [value]="3">MTR</option>
                  <option [value]="4">LTR</option>
                  <option [value]="5">UN</option>
                </select>
                <!-- <input type="text" class="form-control" placeholder="Unit" name="unit" [(ngModel)]="editdruminternals.UNIT" #unit="ngModel" pattern="^\d[0-9]*$"
                   required> -->
                <div *ngIf="unit.invalid && (unit.dirty || unit.touched)" class="alert-danger">
                   <span *ngIf="unit.errors?.required">
                   Unit is Required
                   </span>
                   <span *ngIf="unit.errors?.pattern">
                    Unit should be Numeric
                    </span>
                </div>
                
             </div>
          </div>
       </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset(editfrm)">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
    </div> -->
</ng-template>