<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="col-md-6">
          <h5>Painting Process</h5>
        </div> 
      </div>
      <div class="modal-body">
          <form class="form-horizontal" name="addform" #frm="ngForm">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Assembly Stage</label>
                  <div class="col-sm-6">
                    <select class="form-control" name="assemblystage" [(ngModel)]="selassestages" #processtype="ngModel" (ngModelChange)="getstage($event)" required>
                      <option [value]="undefined" selected hidden>Select Assembly Stage</option>
                      <option [value]="null" selected hidden>Select Assembly Stage</option>
                      <option value="24">Assy 24(Mixer preparation for Painting)</option>       
                      <option value="25">Assy 25(Mixer Painting)</option>       
                      <option value="26">Assy 26(Logo / Strips work (if any))</option>    
                    </select>
                    <div *ngIf="processtype.invalid && (processtype.dirty || processtype.touched)" class="alert-danger">
                      <span *ngIf="processtype.errors?.required">
                        Assembly Stage is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Part No.</label>
              <div class="col-sm-6">
                <select class="form-control" name="drummodel" [(ngModel)]="selpartno" #partnos="ngModel" required
                  (change)="getpartno(partnos.value)">
                  <option [value]="undefined" selected hidden>Select Part No.</option>
                  <option [value]="null" selected hidden>Select Part No.</option>
                  <option value="ALL">ALL</option>
                  <option *ngFor="let item of getmixerparts" [value]="item.id">{{item.part_no}}_{{item.mixer_model}}</option>
                </select>
                <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                  <span *ngIf="partnos.errors?.required">
                    Part No. is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" (click)="getenginesno()">Submit </button>
            </div>
          </div>
        <!-- <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Engine Serial Number</label>
                  <div class="col-sm-8">
                    <select class="form-control" name="serialno" ngModel #workstation="ngModel" required>
                      <option value="" selected disabled>Select Engine Serial Number</option>
                      <option class='option' *ngFor='let option of sno' [value]="option.mixer_s_no">{{option.mixer_s_no}}</option>
                    </select>
                    <div *ngIf="workstation.invalid && (workstation.dirty || workstation.touched)" class="alert-danger">
                      <span *ngIf="workstation.errors?.required">
                        Engine Serial Number is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
        </div> -->
        <!-- <div class="row">
            <div class="col-md-6" >
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Contractor</label>
                  <div class="col-sm-8">
                    <select class="form-control" name="conname" [(ngModel)]="contractor_name" #conname="ngModel" required>
                        <option value="" selected disabled>Select Contractor</option>
                        <option class='option' *ngFor='let option of contractorname' [value]="option.id">{{option.name}}</option>       
                      </select>
                  <div *ngIf="conname.invalid && (conname.dirty || conname.touched)" class="alert-danger">
                    <span *ngIf="conname.errors?.required">
                      Contractor Name is Required
                    </span>
                  </div>
                </div>
                </div>
              </div>
        </div> -->
        <!-- <hr>
        <div class="form-group row float-right">
          <div class="col-sm-6">
            <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset(frm)">Close</button>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
          </div>
        </div> -->
      <!-- end of card-footer -->
      <div class="card-block table-responsive">
          <table class="datatable table table-striped table-bordered row-border hover">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Engine Sl.No.</th>
                <th>Mixer W/O NO</th>
                <th>Mixer Part No</th>
                <th>Mixer Model</th>           
                <th>Mixer Description</th>           
                <th>Hydraulic Combination</th>           
                <th>Customer Name</th>           
                <th>Color</th>           
                <th>Dispatch Plan Date </th>           
                <th>Chassis Suitable for</th>           
                <th>Chassis width</th>           
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of sno;let i =index">
                <td>{{i+1}}</td>
                <td>{{item.engine_sl_no}}</td>
                <td>{{item.workorder_no}}</td>
                <td>{{item.part_no}}</td>
                <td>{{item.mixer_model}}</td>
                <td>{{item.mixer_description}}</td>
                <td>{{item.waterpump_hydcombution}}</td>
                <td>{{item.customer_name}}</td>
                <td>{{item.mix_color}}</td>
                <td>{{item.dispatched_date}}</td>
                <td>{{item.chassis_suitablefor}}</td>
                <td>{{item.chassiswidth}}</td>
                <td>
                  <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                      <div align="Center"><i class='icofont icofont-fountain-pen'></i></div>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </form>
    </div>
  </div>
</div>




<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <!-- <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder
            ="Upload file"> -->
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class="
              btn btn-default">
        <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
        <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
        <!-- <span class="custom-file-control"></span> -->
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>


<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Painting Process</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="updatepaintingprocess(editfrm)">
        <div class="row" style="display:none">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Id</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editpaintingprocess.id" required #eid="ngModel">
                  <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                    <span *ngIf="eid.errors?.required">
                      ID is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Engine Sl. No.</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="serialno" [(ngModel)]="editpaintingprocess.engine_sl_no" #eno="ngModel"
                    readonly>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Mixer WO. No.</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="wono" [(ngModel)]="editpaintingprocess.workorder_no" #ename="ngModel"
                    readonly>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Mixer Part No.</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="partno" [(ngModel)]="editpaintingprocess.part_no" #eno="ngModel"
                      readonly>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Mixer Model</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="model" [(ngModel)]="editpaintingprocess.mixer_model" #ename="ngModel"
                    readonly>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Mixer Description</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="desc" [(ngModel)]="editpaintingprocess.mixer_description" #eno="ngModel"
                        readonly>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Hydraulic Combination</label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="combination" [(ngModel)]="editpaintingprocess.waterpump_hydcombution" #ename="ngModel"
                      readonly>
                      
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Customer Name</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="cust" [(ngModel)]="editpaintingprocess.customer_name" #eno="ngModel"
                          readonly>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Color</label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="color" [(ngModel)]="editpaintingprocess.mix_color" #ename="ngModel"
                        readonly>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Dispatch Plan Date</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="dispatch" [(ngModel)]="editpaintingprocess.dispatched_date" #eno="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Chassis Suitable For</label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="chassissuitable" [(ngModel)]="editpaintingprocess.chassis_suitablefor" #ename="ngModel"
                          readonly>
                         
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label">Chassis Width</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="width" [(ngModel)]="editpaintingprocess.chassiswidth" #eno="ngModel"
                              readonly>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                          <div class="form-group row">
                            <label class="col-sm-4 col-form-label">Contractor Name</label>
                            <div class="col-sm-8">
                                <select class="form-control" name="conname" [(ngModel)]="contractor_name" #conname="ngModel" required>
                                    <option [value]="undefined" selected hidden>Select Contractor</option>
                                    <option [value]="null" selected hidden>Select Contractor</option>
                                    <option class='option' *ngFor='let option of contractorname' [value]="option.id">{{option.name}}</option>       
                                  </select>
                              <div *ngIf="conname.invalid && (conname.dirty || conname.touched)" class="alert-danger">
                                <span *ngIf="conname.errors?.required">
                                  Contractor Name is Required
                                </span>
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                    <hr>
                    <div class="form-group row float-right">
                      <div class="col-sm-6">
                        <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset(edit)">Close</button>
                      </div>
                      <div class="col-sm-6">
                        <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" >Update</button>
                      </div>
                    </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>
<!-- Edit -->

