<section class="login p-fixed d-flex text-center bg-primary common-img-bg">
  <div class="auth-fluid">
    <div class="row">
      <div class="col-sm-12">
        <div class="login-card card-body auth-body">
          <form class="md-float-material" #frm="ngForm" (ngSubmit)="checkUser(frm)" novalidate="">
            <div class="text-center">
              <img src="assets/images/auth/logo.png" height="60px" alt="logo.png">
            </div>
            <div class="auth-box">
              <div class="row">
                <div class="col-md-12">
                  <h3 class="text-left txt-primary">Sign In</h3>
                  <p class="text-left" style="color:red"> {{ errors }} </p>
                </div>           
              </div>
              <hr/>
              <div class="input-group">
                <input type="email" class="form-control" placeholder="Your Email Address" name="email" email ngModel pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$" #emailLogin="ngModel" 
                  autofocus required>
                <span class="md-line"></span>
              </div>
              <div *ngIf="emailLogin.invalid && (emailLogin.dirty || emailLogin.touched)" class="alert alert-danger">
                <span *ngIf="emailLogin.errors && emailLogin.errors.required">
                  Email is Required.
                </span>
                <!-- <div *ngIf="emailLogin.errors?.email">
                  Email is not valid.
                </div> -->
                <div  *ngIf="emailLogin.errors && emailLogin.errors.pattern">
                  Email is not valid.
                </div>
              </div>
              <div class="input-group">
                <input type="password" class="form-control" placeholder="Password" name="password" ngModel #passwordLogin="ngModel" required>
                <span class="md-line"></span>
              </div>
              <div *ngIf="passwordLogin.invalid && (passwordLogin.dirty || passwordLogin.touched)" class="alert alert-danger">
                <div *ngIf="passwordLogin.errors?.required">
                  Password is Required
                </div>
              </div>
              <div class="row m-t-25 text-left">
                <div class="col-sm-6 col-xs-12">
                  <div class="checkbox-fade fade-in-primary">
                    <label>
                      <input type="checkbox" value="">
                      <span class="cr">
                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                      </span>
                      <span class="text-inverse">Remember me</span>
                    </label>
                  </div>
                </div>
                <div class="col-sm-6 col-xs-12 forgot-phone text-right">
                  <!--<a [routerLink]="['/authentication/forgot/forgotpwd']" class="text-right f-w-600 text-inverse"> Forgot Your Password?</a>-->
               <!--   [routerLink]="['/', 'dashboard']"-->
                  <a [routerLink]="['/','forgot']" class="text-right f-w-600 text-inverse"> Forgot Your Password?</a>
                </div>
              </div>
              <div class="row m-t-30">
                <div class="col-md-12">
                  <button type="submit" name="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" [disabled]="!frm.valid">Sign in</button>
                </div>
              </div>
              <!-- <hr/>
              <div class="row">
                <div class="col-md-10">
                  <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                  <p class="text-inverse text-left"><b>Your Autentification Team</b></p>
                </div>
                <div class="col-md-2">
                  <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                </div>
              </div> -->
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>