<div class="row">
    <div class="col-sm-12">
      <form class="md-float-material" #frm="ngForm"  novalidate="">
        <div class="card card-border-primary">
          <div class="card-header">
            <h5>Sales Order No. Circulation</h5>
          </div>
          <div class="card-block">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Sales Order No.</label>
              <div class="col-sm-6">
                <input type="text" class="form-control">
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="task-board m-0">
              <!-- end of dropdown-secondary -->
              <div class="dropdown-secondary dropdown">
                <button class="btn btn-primary btn-square" type="button">
                  <i class="icofont icofont-tick-mark"></i> Intimate
                </button>
                <button class="btn btn-info btn-square" type="button">
                  <i class="icofont icofont-refresh"></i> Reset
                </button>
                <!-- end of dropdown menu -->
              </div>
              <!-- end of seconadary -->
            </div>
            <!-- end of pull-right class -->
          </div>
          <!-- end of card-footer -->
        </div>
      </form>    
    </div>
  </div>
  