<div class="row">
  <div class="col-sm-12">
    <form class="form-horizontal" name="addform" #addfrm="ngForm" (ngSubmit)="addpdicheck(addfrm)">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="col-md-6">
            <h5>PDI Checklist </h5>
            <p class="mandatoryfiles">* Fields Are mandatory</p>
          </div>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Related To.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">                  
                  <select class="form-control" name="relatedto" [(ngModel)]="setrelatedto" #relatedtos="ngModel" required>                    
                    <option [ngValue]="undefined" hidden selected> please select Related To.</option>
                    <option [ngValue]="null" hidden selected> please select Related To.</option>
                    <option [ngValue]="1">VISUAL CHECK</option>
                    <option [ngValue]="2">Parts Assembly</option>
                  </select>
                  <div *ngIf="relatedtos.invalid && (relatedtos.dirty || relatedtos.touched)" class="alert-danger">
                    <span *ngIf="relatedtos.errors?.required">
                       Related To. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Check List.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <textarea type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel"  required appEmitfirstspace></textarea>
                  <div *ngIf="checklistss.invalid && (checklistss.dirty || checklistss.touched)" class="alert-danger">
                    <span *ngIf="checklistss.errors?.required">
                      CheckList. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Remarks.</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Remarks." name="remarks" ngModel #remarks="ngModel" appEmitfirstspace>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="task-board m-0">
            <!-- end of dropdown-secondary -->
            <div class="dropdown-secondary dropdown">
              <button class="btn btn-primary btn-square" type="submit" [disabled]="!addfrm.form.valid">
                Submit
              </button>
              <button class="btn btn-default btn-square" type="button" (click)=reset(addfrm)>
                <i class="icofont icofont-refresh"></i> Reset
              </button>
              <!-- end of dropdown menu -->
            </div>
            <!-- end of seconadary -->
          </div>
          <!-- end of pull-right class -->
        </div>
        <!-- end of card-footer -->
      </div>
    </form>    
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Related To</th>
              <th>Checklist</th>
              <th>Remarks</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of checklist;let i=index">
              <td>{{i+1}}</td>
              <td [ngSwitch]="item.relatedto">
                <p *ngSwitchCase="'1'">VISUAL CHECK</p>
                <p *ngSwitchCase="'2'">Parts Assembly</p>
              </td>
              <td>{{item.checklist}}</td>
              <td>
                <span *ngIf="!item.remarks">NA</span>
                <span *ngIf="item.remarks">{{item.remarks}}</span>
              </td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletechecklist(item.id)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit PDI Chechlist</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reloadPage()">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="editfrm" #editfrm="ngForm" (ngSubmit)="editchecklists(editfrm, edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editchecklist.id" required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Related To.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">              
              <select class="form-control" name="relatedto" [(ngModel)]="editchecklist.relatedto" #relatedtoss="ngModel" required>
                <!-- <option [ngValue]="undefined" hidden selected> please select Related To.</option>
                <option [ngValue]="null" hidden selected> please select Related To.</option> -->
                <option [value]=""  selected>Select one category </option>
                <option [value]="1">VISUAL CHECK</option>
                <option [value]="2">Parts Assembly</option>
              </select>
              <div *ngIf="relatedtoss.invalid && (relatedtoss.dirty || relatedtoss.touched)" class="alert-danger">
                <span *ngIf="relatedtoss.errors?.required">
                  Related To. is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Check List.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <textarea type="text" class="form-control" Placeholder="Enter Checklist" name="checklist" [(ngModel)]="editchecklist.checklist"
                #checklistss="ngModel" required appEmitfirstspace></textarea>
              <div *ngIf="checklistss.invalid && (checklistss.dirty || checklistss.touched)" class="alert-danger">
                <span *ngIf="checklistss.errors?.required">
                  Checklist is Required
                </span>
              </div>
            </div>            
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Remarks.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Remarks." name="remarks" [(ngModel)]="editchecklist.remarks" #remarkss="ngModel" appEmitfirstspace>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reloadPage()">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>
