<div class="row">
  <!-- Right column start -->
  <div class="col-xl-3 col-lg-12 push-xl-9">
    <!-- Search box card start -->
    <div class="card">
      <div class="card-header">
        <h5 class="card-header-text">Search Box</h5></div>
      <div class="card-body p-t-10">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search here...">
          <span class="input-group-addon" id="basic-addon1"><i class="icofont icofont-search"></i></span>
        </div>
        <div class="task-right">
          <div class="accordion-block scale-accordion">
            <squeezebox [multiple]="true">
              <sb-item [collapsed]="false" class="accordion-panel">
                <sb-item-head class="accordion-heading">
                  <div class="task-right-header-status">
                    <span data-toggle="collapse">Completed Stats</span>
                    <i class="icofont icofont-rounded-down f-right"></i>
                  </div>
                </sb-item-head>
                <sb-item-body class="accordion-content">
                  <div class="taskboard-right-progress">
                      <h6>Highest Priority</h6>
                      <div class="faq-progress">
                        <div class="progress">
                          <!-- <span class="faq-text3"></span> -->
                          <div class="faq-bar3" style="width: 80%;"></div>
                        </div>
                      </div>
                      <h6>High priority</h6>
                      <div class="faq-progress">
                        <div class="progress">
                          <!-- <span class="faq-text1"></span> -->
                          <div class="faq-bar1" style="width: 70%;"></div>
                        </div>
                      </div>
                      <h6>Normal priority</h6>
                      <div class="faq-progress">
                        <div class="progress">
                          <!-- <span class="faq-text2"></span> -->
                          <div class="faq-bar2" style="width: 50%;"></div>
                        </div>
                      </div>
                      <h6>Low priority</h6>
                      <div class="faq-progress">
                        <div class="progress">
                          <!-- <span class="faq-text4"></span> -->
                          <div class="faq-bar4" style="width: 60%;"></div>
                        </div>
                      </div>
                    </div>
                </sb-item-body>
              </sb-item>
              <sb-item [collapsed]="false" class="accordion-panel">
                <sb-item-head class="accordion-heading">
                  <div class="task-right-header-users">
                    <span data-toggle="collapse">Assign Users</span>
                    <i class="icofont icofont-rounded-down f-right"></i>
                  </div>
                </sb-item-head>
                <sb-item-body class="accordion-content">
                  <div class="user-box assign-user taskboard-right-users">
                      <div class="media">
                        <div class="media-left media-middle photo-table">
                          <a href="javascript:;">
                            <img class="media-object img-circle" src="assets/images/avatar-1.png" alt="Generic placeholder image">
                            <div class="live-status bg-danger"></div>
                          </a>
                        </div>
                        <div class="media-body">
                          <h6>Josephin Doe</h6>
                          <p>Santa Ana,CA</p>
                        </div>
                      </div>
                      <div class="media">
                        <div class="media-left media-middle photo-table">
                          <a href="javascript:;">
                            <img class="media-object img-circle" src="assets/images/avatar-2.png" alt="Generic placeholder image">
                            <div class="live-status bg-success"></div>
                          </a>
                        </div>
                        <div class="media-body">
                          <h6>Josephin Doe</h6>
                          <p>Huntingston, NJ</p>
                        </div>
                      </div>
                      <div class="media">
                        <div class="media-left media-middle photo-table">
                          <a href="javascript:;">
                            <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                            <div class="live-status bg-danger"></div>
                          </a>
                        </div>
                        <div class="media-body">
                          <h6>Josephin Doe</h6>
                          <p>Willingstion, WA</p>
                        </div>
                      </div>
                      <div class="media">
                        <div class="media-left media-middle photo-table">
                          <a href="javascript:;">
                            <img class="media-object img-circle" src="assets/images/avatar-2.png" alt="Generic placeholder image">
                            <div class="live-status bg-success"></div>
                          </a>
                        </div>
                        <div class="media-body">
                          <h6>Josephin Doe</h6>
                          <p>Illions, IL</p>
                        </div>
                      </div>
                    </div>
                </sb-item-body>
              </sb-item>
              <sb-item [collapsed]="false" class="accordion-panel">
                <sb-item-head class="accordion-heading">
                  <div class="task-right-header-revision">
                    <span data-toggle="collapse">Revision</span>
                    <i class="icofont icofont-rounded-down f-right"></i>
                  </div>
                </sb-item-head>
                <sb-item-body class="accordion-content">
                  <div class="taskboard-right-revision user-box">
                    <div class="media">
                      <div class="media-left">
                        <a class="btn btn-outline-primary btn-lg bg-white txt-muted btn-icon" href="javascript:;" role="button"><i class="icofont icofont-gears"></i>
                        </a>
                      </div>
                      <div class="media-body">
                        <div class="chat-header">Drop the IE specific hacks for temporal inputs</div>
                        <p class="chat-header  text-muted">4 minutes ago</p>
                      </div>
                      <!-- end of media body -->
                    </div>
                    <!-- end of media -->
                    <div class="media">
                      <div class="media-left">
                        <a class="btn btn-outline-danger btn-lg bg-white txt-muted btn-icon" href="javascript:;" role="button"><i class="icofont icofont-share"></i>
                        </a>
                      </div>
                      <div class="media-body">
                        <div class="chat-header">Have Carousel ignore keyboard events</div>
                        <p class="chat-header  text-muted">12 Dec,2015</p>
                      </div>
                      <!-- end of media body -->
                    </div>
                    <!-- end of media -->
                    <div class="media">
                      <div class="media-left">
                        <a class="btn btn-outline-warning btn-lg bg-white txt-muted btn-icon" href="javascript:;" role="button"><i class="icofont icofont-font"></i>
                        </a>
                      </div>
                      <div class="media-body">
                        <div class="chat-header">Add full font overrides for popovers and tooltips</div>
                        <p class="chat-header text-muted">2 month ago</p>
                      </div>
                      <!-- end of media body -->
                    </div>
                    <!-- end of media -->
                    <div class="media">
                      <div class="media-left">
                        <a class="btn btn-outline-success btn-lg bg-white txt-muted btn-icon" href="javascript:;" role="button"><i class="icofont icofont-responsive"></i>
                        </a>
                      </div>
                      <div class="media-body">
                        <div class="chat-header">Responsive Asssignment</div>
                        <p class="chat-header  text-muted">6 month ago</p>
                      </div>
                      <!-- end of media body -->
                    </div>
                    <!-- end of media -->
                  </div>
                </sb-item-body>
              </sb-item>
            </squeezebox>
          </div>
          <!-- end of task-right-revision -->
        </div>
        <!-- end of sidebar-right -->
      </div>
      <!-- end of card-body -->
    </div>
    <!-- Search box card end -->
  </div>
  <!-- Right column end -->
  <!-- Left column start -->
  <div class="col-xl-9 col-lg-12 pull-xl-3 filter-bar">
    <!-- Nav Filter tab start -->
    <nav class="navbar navbar-light bg-faded m-b-30 p-10">
      <ul class="nav navbar-nav">

        <li class="nav-item active">
          <a class="nav-link" href="javascript:;">Filter: <span class="sr-only">(current)</span></a>
        </li>
        <li ngbDropdown="" class="nav-item dropdown">
          <a ngbDropdownToggle="" class="nav-link dropdown-toggle" href="javascript:;" id="bydate" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-clock-time"></i> By Date</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="bydate">
            <a class="dropdown-item" href="javascript:;">Show all</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:;">Today</a>
            <a class="dropdown-item" href="javascript:;">Yesterday</a>
            <a class="dropdown-item" href="javascript:;">This week</a>
            <a class="dropdown-item" href="javascript:;">This month</a>
            <a class="dropdown-item" href="javascript:;">This year</a>
          </div>
        </li>
        <!-- end of by date dropdown -->
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" href="javascript:;" id="bystatus" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-chart-histogram-alt"></i> By Status</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="bystatus">
            <a class="dropdown-item" href="javascript:;">Show all</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:;">Open</a>
            <a class="dropdown-item" href="javascript:;">On hold</a>
            <a class="dropdown-item" href="javascript:;">Resolved</a>
            <a class="dropdown-item" href="javascript:;">Closed</a>
            <a class="dropdown-item" href="javascript:;">Dublicate</a>
            <a class="dropdown-item" href="javascript:;">Wontfix</a>
          </div>
        </li>
        <!-- end of by status dropdown -->
        <li ngbDropdown class="nav-item dropdown">
          <a ngbDropdownToggle class="nav-link dropdown-toggle" href="javascript:;" id="bypriority" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-sub-listing"></i> By Priority</a>
          <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="bypriority">
            <a class="dropdown-item" href="javascript:;">Show all</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="javascript:;">Highest</a>
            <a class="dropdown-item" href="javascript:;">High</a>
            <a class="dropdown-item" href="javascript:;">Normal</a>
            <a class="dropdown-item" href="javascript:;">Low</a>
          </div>
        </li>
      </ul>
        <div class="nav-item nav-grid">
          <span class="m-r-15">View Mode: </span>
          <button type="button" class="btn btn-sm btn-primary waves-effect waves-light m-r-10" data-toggle="tooltip" data-placement="top" title="list view">
            <i class="icofont icofont-listine-dots"></i>
          </button>
          <button type="button" class="btn btn-sm btn-primary waves-effect waves-light" data-toggle="tooltip" data-placement="top" title="grid view">
            <i class="icofont icofont-table"></i>
          </button>
        </div>
        <!-- end of by priority dropdown -->

    </nav>
    <!-- Nav Filter tab end -->
    <!-- Task board design block start-->
    <div class="row">
      <div class="col-sm-6">
        <div class="card card-border-default">
          <div class="card-header">
            <a href="javascript:;" class="card-title">#24. Create UI design model </a>
            <span class="label label-default f-right"> 28 January, 2015 </span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <p class="task-detail">A collection of textile samples lay spread out on the table One morning, when Gregor Samsa woke from troubled.</p>
                <p class="task-due"><strong> Due : </strong><strong class="label label-danger">23 hours</strong></p>
              </div>
              <!-- end of col-sm-8 -->
            </div>
            <!-- end of row -->
          </div>
          <div class="card-footer">
            <div class="task-list-table">
              <a href="javascript:;"><img class="img-fluid img-circle" src="assets/images/avatar-1.png" alt="1" /></a>
              <a href="javascript:;"><img class="img-fluid img-circle" src="assets/images/avatar-2.png" alt="1" /></a>
              <a href="javascript:;"><i class="icofont icofont-plus"></i></a>
            </div>
            <div class="task-board">
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-primary btn-mini dropdown-toggle waves-effect waves-light" type="button" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Normal</button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-danger"></span>Highest priority</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-warning"></span>High priority</a>
                  <a class="dropdown-item waves-light waves-effect active" href="javascript:;"><span class="point-marker bg-success"></span>Normal priority</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-info"></span>Low priority</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-default btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Open</button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown2" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect active" href="javascript:;">Open</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">On hold</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Resolved</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Closed</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Dublicate</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Invalid</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Wontfix</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <!-- end of dropdown-secondary -->
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-default btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-navigation-menu"></i></button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown3" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-ui-alarm"></i> Check in</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-attachment"></i> Attach screenshot</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-spinner-alt-5"></i> Reassign</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-ui-edit"></i> Edit task</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-close-line"></i> Remove</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <!-- end of seconadary -->
            </div>
            <!-- end of pull-right class -->
          </div>
          <!-- end of card-footer -->
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-border-default">
          <div class="card-header">
            <a href="javascript:;" class="card-title">#24. Create UI design model </a>
            <span class="label label-default f-right"> 28 January, 2015 </span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <p class="task-detail">A collection of textile samples lay spread out on the table One morning, when Gregor Samsa woke from troubled.</p>
                <p class="task-due"><strong> Due : </strong><strong class="label label-danger">23 hours</strong></p>
              </div>
              <!-- end of col-sm-8 -->
            </div>
            <!-- end of row -->
          </div>
          <div class="card-footer">
            <div class="task-list-table">
              <a href="javascript:;"><img class="img-fluid img-circle" src="assets/images/avatar-1.png" alt="1" /></a>
              <a href="javascript:;"><img class="img-fluid img-circle" src="assets/images/avatar-2.png" alt="1" /></a>
              <a href="javascript:;"><i class="icofont icofont-plus"></i></a>
            </div>
            <div class="task-board">
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-primary btn-mini dropdown-toggle waves-effect waves-light" type="button" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Normal</button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-danger"></span>Highest priority</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-warning"></span>High priority</a>
                  <a class="dropdown-item waves-light waves-effect active" href="javascript:;"><span class="point-marker bg-success"></span>Normal priority</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-info"></span>Low priority</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-default btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Open</button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown2" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect active" href="javascript:;">Open</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">On hold</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Resolved</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Closed</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Dublicate</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Invalid</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Wontfix</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <!-- end of dropdown-secondary -->
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-default btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-navigation-menu"></i></button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown3" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-ui-alarm"></i> Check in</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-attachment"></i> Attach screenshot</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-spinner-alt-5"></i> Reassign</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-ui-edit"></i> Edit task</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-close-line"></i> Remove</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <!-- end of seconadary -->
            </div>
            <!-- end of pull-right class -->
          </div>
          <!-- end of card-footer -->
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-border-default">
          <div class="card-header">
            <a href="javascript:;" class="card-title">#24. Create UI design model </a>
            <span class="label label-default f-right"> 28 January, 2015 </span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <p class="task-detail">A collection of textile samples lay spread out on the table One morning, when Gregor Samsa woke from troubled.</p>
                <p class="task-due"><strong> Due : </strong><strong class="label label-danger">23 hours</strong></p>
              </div>
              <!-- end of col-sm-8 -->
            </div>
            <!-- end of row -->
          </div>
          <div class="card-footer">
            <div class="task-list-table">
              <a href="javascript:;"><img class="img-fluid img-circle" src="assets/images/avatar-1.png" alt="1" /></a>
              <a href="javascript:;"><img class="img-fluid img-circle" src="assets/images/avatar-2.png" alt="1" /></a>
              <a href="javascript:;"><i class="icofont icofont-plus"></i></a>
            </div>
            <div class="task-board">
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-primary btn-mini dropdown-toggle waves-effect waves-light" type="button" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Normal</button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-danger"></span>Highest priority</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-warning"></span>High priority</a>
                  <a class="dropdown-item waves-light waves-effect active" href="javascript:;"><span class="point-marker bg-success"></span>Normal priority</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-info"></span>Low priority</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-default btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Open</button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown2" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect active" href="javascript:;">Open</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">On hold</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Resolved</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Closed</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Dublicate</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Invalid</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Wontfix</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <!-- end of dropdown-secondary -->
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-default btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-navigation-menu"></i></button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown3" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-ui-alarm"></i> Check in</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-attachment"></i> Attach screenshot</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-spinner-alt-5"></i> Reassign</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-ui-edit"></i> Edit task</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-close-line"></i> Remove</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <!-- end of seconadary -->
            </div>
            <!-- end of pull-right class -->
          </div>
          <!-- end of card-footer -->
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-border-default">
          <div class="card-header">
            <a href="javascript:;" class="card-title">#24. Create UI design model </a>
            <span class="label label-default f-right"> 28 January, 2015 </span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <p class="task-detail">A collection of textile samples lay spread out on the table One morning, when Gregor Samsa woke from troubled.</p>
                <p class="task-due"><strong> Due : </strong><strong class="label label-danger">23 hours</strong></p>
              </div>
              <!-- end of col-sm-8 -->
            </div>
            <!-- end of row -->
          </div>
          <div class="card-footer">
            <div class="task-list-table">
              <a href="javascript:;"><img class="img-fluid img-circle" src="assets/images/avatar-1.png" alt="1" /></a>
              <a href="javascript:;"><img class="img-fluid img-circle" src="assets/images/avatar-2.png" alt="1" /></a>
              <a href="javascript:;"><i class="icofont icofont-plus"></i></a>
            </div>
            <div class="task-board">
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-primary btn-mini dropdown-toggle waves-effect waves-light" type="button" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Normal</button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-danger"></span>Highest priority</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-warning"></span>High priority</a>
                  <a class="dropdown-item waves-light waves-effect active" href="javascript:;"><span class="point-marker bg-success"></span>Normal priority</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-info"></span>Low priority</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-default btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Open</button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown2" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect active" href="javascript:;">Open</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">On hold</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Resolved</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Closed</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Dublicate</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Invalid</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Wontfix</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <!-- end of dropdown-secondary -->
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-default btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-navigation-menu"></i></button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown3" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-ui-alarm"></i> Check in</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-attachment"></i> Attach screenshot</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-spinner-alt-5"></i> Reassign</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-ui-edit"></i> Edit task</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-close-line"></i> Remove</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <!-- end of seconadary -->
            </div>
            <!-- end of pull-right class -->
          </div>
          <!-- end of card-footer -->
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-border-default">
          <div class="card-header">
            <a href="javascript:;" class="card-title">#24. Create UI design model </a>
            <span class="label label-default f-right"> 28 January, 2015 </span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <p class="task-detail">A collection of textile samples lay spread out on the table One morning, when Gregor Samsa woke from troubled.</p>
                <p class="task-due"><strong> Due : </strong><strong class="label label-danger">23 hours</strong></p>
              </div>
              <!-- end of col-sm-8 -->
            </div>
            <!-- end of row -->
          </div>
          <div class="card-footer">
            <div class="task-list-table">
              <a href="javascript:;"><img class="img-fluid img-circle" src="assets/images/avatar-1.png" alt="1" /></a>
              <a href="javascript:;"><img class="img-fluid img-circle" src="assets/images/avatar-2.png" alt="1" /></a>
              <a href="javascript:;"><i class="icofont icofont-plus"></i></a>
            </div>
            <div class="task-board">
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-primary btn-mini dropdown-toggle waves-effect waves-light" type="button" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Normal</button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-danger"></span>Highest priority</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-warning"></span>High priority</a>
                  <a class="dropdown-item waves-light waves-effect active" href="javascript:;"><span class="point-marker bg-success"></span>Normal priority</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-info"></span>Low priority</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-default btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Open</button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown2" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect active" href="javascript:;">Open</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">On hold</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Resolved</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Closed</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Dublicate</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Invalid</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Wontfix</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <!-- end of dropdown-secondary -->
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-default btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-navigation-menu"></i></button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown3" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-ui-alarm"></i> Check in</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-attachment"></i> Attach screenshot</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-spinner-alt-5"></i> Reassign</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-ui-edit"></i> Edit task</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-close-line"></i> Remove</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <!-- end of seconadary -->
            </div>
            <!-- end of pull-right class -->
          </div>
          <!-- end of card-footer -->
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-border-default">
          <div class="card-header">
            <a href="javascript:;" class="card-title">#24. Create UI design model </a>
            <span class="label label-default f-right"> 28 January, 2015 </span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <p class="task-detail">A collection of textile samples lay spread out on the table One morning, when Gregor Samsa woke from troubled.</p>
                <p class="task-due"><strong> Due : </strong><strong class="label label-danger">23 hours</strong></p>
              </div>
              <!-- end of col-sm-8 -->
            </div>
            <!-- end of row -->
          </div>
          <div class="card-footer">
            <div class="task-list-table">
              <a href="javascript:;"><img class="img-fluid img-circle" src="assets/images/avatar-1.png" alt="1" /></a>
              <a href="javascript:;"><img class="img-fluid img-circle" src="assets/images/avatar-2.png" alt="1" /></a>
              <a href="javascript:;"><i class="icofont icofont-plus"></i></a>
            </div>
            <div class="task-board">
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-primary btn-mini dropdown-toggle waves-effect waves-light" type="button" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Normal</button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-danger"></span>Highest priority</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-warning"></span>High priority</a>
                  <a class="dropdown-item waves-light waves-effect active" href="javascript:;"><span class="point-marker bg-success"></span>Normal priority</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-info"></span>Low priority</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-default btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Open</button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown2" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect active" href="javascript:;">Open</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">On hold</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Resolved</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Closed</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Dublicate</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Invalid</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Wontfix</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <!-- end of dropdown-secondary -->
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-default btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-navigation-menu"></i></button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown3" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-ui-alarm"></i> Check in</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-attachment"></i> Attach screenshot</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-spinner-alt-5"></i> Reassign</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-ui-edit"></i> Edit task</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-close-line"></i> Remove</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <!-- end of seconadary -->
            </div>
            <!-- end of pull-right class -->
          </div>
          <!-- end of card-footer -->
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-border-default">
          <div class="card-header">
            <a href="javascript:;" class="card-title">#24. Create UI design model </a>
            <span class="label label-default f-right"> 28 January, 2015 </span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <p class="task-detail">A collection of textile samples lay spread out on the table One morning, when Gregor Samsa woke from troubled.</p>
                <p class="task-due"><strong> Due : </strong><strong class="label label-danger">23 hours</strong></p>
              </div>
              <!-- end of col-sm-8 -->
            </div>
            <!-- end of row -->
          </div>
          <div class="card-footer">
            <div class="task-list-table">
              <a href="javascript:;"><img class="img-fluid img-circle" src="assets/images/avatar-1.png" alt="1" /></a>
              <a href="javascript:;"><img class="img-fluid img-circle" src="assets/images/avatar-2.png" alt="1" /></a>
              <a href="javascript:;"><i class="icofont icofont-plus"></i></a>
            </div>
            <div class="task-board">
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-primary btn-mini dropdown-toggle waves-effect waves-light" type="button" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Normal</button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-danger"></span>Highest priority</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-warning"></span>High priority</a>
                  <a class="dropdown-item waves-light waves-effect active" href="javascript:;"><span class="point-marker bg-success"></span>Normal priority</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-info"></span>Low priority</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-default btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Open</button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown2" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect active" href="javascript:;">Open</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">On hold</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Resolved</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Closed</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Dublicate</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Invalid</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Wontfix</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <!-- end of dropdown-secondary -->
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-default btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-navigation-menu"></i></button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown3" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-ui-alarm"></i> Check in</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-attachment"></i> Attach screenshot</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-spinner-alt-5"></i> Reassign</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-ui-edit"></i> Edit task</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-close-line"></i> Remove</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <!-- end of seconadary -->
            </div>
            <!-- end of pull-right class -->
          </div>
          <!-- end of card-footer -->
        </div>
      </div>
      <div class="col-sm-6">
        <div class="card card-border-default">
          <div class="card-header">
            <a href="javascript:;" class="card-title">#24. Create UI design model </a>
            <span class="label label-default f-right"> 28 January, 2015 </span>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <p class="task-detail">A collection of textile samples lay spread out on the table One morning, when Gregor Samsa woke from troubled.</p>
                <p class="task-due"><strong> Due : </strong><strong class="label label-danger">23 hours</strong></p>
              </div>
              <!-- end of col-sm-8 -->
            </div>
            <!-- end of row -->
          </div>
          <div class="card-footer">
            <div class="task-list-table">
              <a href="javascript:;"><img class="img-fluid img-circle" src="assets/images/avatar-1.png" alt="1" /></a>
              <a href="javascript:;"><img class="img-fluid img-circle" src="assets/images/avatar-2.png" alt="1" /></a>
              <a href="javascript:;"><i class="icofont icofont-plus"></i></a>
            </div>
            <div class="task-board">
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-primary btn-mini dropdown-toggle waves-effect waves-light" type="button" id="dropdown1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Normal</button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown1" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-danger"></span>Highest priority</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-warning"></span>High priority</a>
                  <a class="dropdown-item waves-light waves-effect active" href="javascript:;"><span class="point-marker bg-success"></span>Normal priority</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><span class="point-marker bg-info"></span>Low priority</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-default btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Open</button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown2" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect active" href="javascript:;">Open</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">On hold</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Resolved</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Closed</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Dublicate</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Invalid</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;">Wontfix</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <!-- end of dropdown-secondary -->
              <div ngbDropdown class="dropdown-secondary dropdown">
                <button ngbDropdownToggle class="btn btn-default btn-mini dropdown-toggle waves-light b-none txt-muted" type="button" id="dropdown3" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i class="icofont icofont-navigation-menu"></i></button>
                <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdown3" data-dropdown-in="fadeIn" data-dropdown-out="fadeOut">
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-ui-alarm"></i> Check in</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-attachment"></i> Attach screenshot</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-spinner-alt-5"></i> Reassign</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-ui-edit"></i> Edit task</a>
                  <a class="dropdown-item waves-light waves-effect" href="javascript:;"><i class="icofont icofont-close-line"></i> Remove</a>
                </div>
                <!-- end of dropdown menu -->
              </div>
              <!-- end of seconadary -->
            </div>
            <!-- end of pull-right class -->
          </div>
          <!-- end of card-footer -->
        </div>
      </div>
    </div>
    <!-- Task board design block end -->
  </div>
  <!-- Left column end -->
</div>