<div class="card-block">
    <div class="dt-responsive">
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div>
          <label class="label-control">
            <select class="form-control input-sm">
              <option [ngValue]="10">Daily</option>
              <option [ngValue]="25">Weekly</option>
              <option [ngValue]="50">Monthly</option>
              <option [ngValue]="100">Yearly</option>
            </select>
          </label>
        </div>
      </div>

  <!-- LINE CHART start -->
  <div class="col-md-12 col-lg-12">
    <div class="card card-border-primary">
      <div class="card-block">
        <div id="donut-example"></div>
      </div>
    </div>
  </div>
  <!-- LINE CHART Ends -->

  <div class="col-md-12 col-lg-12">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Machine RunTime Report Details </h5>
      </div>
      <div class="card-header">
          <div class="task-board m-0">
            <!-- end of dropdown-secondary -->
            <div class="dropdown-secondary dropdown">
              <button class="btn btn-primary btn-square" type="button">
              Export To Excel
              </button>
              <!-- end of dropdown menu -->
            </div>
            <!-- end of seconadary -->
          </div>
          <!-- end of pull-right class -->
        </div>
      <div class="card-block">
        <div class="dt-responsive">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div>
                <label class="label-control">Show
                  <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div style="text-align: right;">
                <label>Search:
                  <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                </label>
              </div>
            </div>
          </div>
          <!-- <div class="panel-heading">User information</div>-->
          <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
            [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="s.no">S.No</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="Raw material Purchased">Machine Runtime Production</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="Raw material Consumed">Machine DownTime</mfDefaultSorter>
                </th>
              </tr>
              <tr>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>100</td>
                <td>250</td>
              </tr>
              <tr>
                <td>2</td>
                <td>210</td>
                <td>120</td>
              </tr>
              <tr>
                <td>3</td>
                <td>300</td>
                <td>250</td>
              </tr>
            </tbody>
            <tfoot>

              <tr>
                <td colspan="6">
                  <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>