<div class="d-flex align-items-stretch min-height-100 bg-dark text-white">
  <div class="p-5">
    <div class="error-number fw-900 text-danger text-uppercase">Error 500</div>
    <h6 class="fw-300 mb-0">Internal server failure :(</h6>
    <small class="ff-headers fw-300">Sorry something went wrong with our servers. <a [routerLink]="['/']">Report this error!</a></small>
  </div>
</div>
