<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="row">
          <div class="col-md-6">
              <h5>Raw Material Details</h5>
            </div>
            <div class="col-md-6">
              <div class="text-right">
                <button class="btn btn-primary btn-square" type="button" (click)="openbulkupload(bulkupload)">
                  <i class="icofont icofont-upload"></i> Bulk Upload
                </button>
                <button class="btn btn-info btn-square" type="button" (click)="open(addnew)">
                  <i class="icofont icofont-plus"></i> Add Raw Material Details
                </button>
              </div>
            </div>
        </div>
      </div>
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered  row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Item</th>
              <th>Raw material Part No</th>
              <th>Description</th>
              <th>Weight (in kgs.)</th>
				      <th>Assigned To</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of rawmaterials ; let i=index">
              <td>{{i+1}}</td>
              <td>{{item.item}}</td>
              <td>{{item.raw_partno}}</td>
              <td>{{item.description}}</td>
              <td>{{item.weight | number:'1.2-2'}}</td>
              <td>		
                <span *ngIf="item.assigned_to==1">Cone</span>		
                <span *ngIf="item.assigned_to==2">Shell</span>		
                <span *ngIf="item.assigned_to==3">Cone & Shell</span>		
              </td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletedrawmaterial(item.id)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
          
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class=" btn btn-default">
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close
    </button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>

<!-- Add Bulk Upload -->

<!-- Add New -->
<ng-template #addnew let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Add Raw Material Details</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="addrawmaterial(frm, addNew)">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Item<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Item" name="item" ngModel #item="ngModel" appEmitfirstspace required>
              <div *ngIf="item.invalid && (item.dirty || item.touched)" class="alert-danger">
                <span *ngIf="item.errors?.required">
                  Item is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Raw Material Part No.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Part No" name="partno" ngModel #partno="ngModel" appDigitOnly appEmitfirstspace pattern="^[0-9]*$"
                required>
              <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                <span *ngIf="partno.errors?.required">
                  Par No. is Required
                </span>
                <span *ngIf="partno.errors?.pattern">
                  Par No. should be Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Description<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Description" name="description" ngModel appEmitfirstspace #description="ngModel"
                required>
              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert-danger">
                <span *ngIf="description.errors?.required">
                  Description is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Weight (in kgs.)<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="number" class="form-control" Placeholder="Enter Weight" name="weight" ngModel #weight="ngModel" min="0"  value='0.00' step="0.01" appEmitfirstspace required>
              <div *ngIf="weight.invalid && (weight.dirty || weight.touched)" class="alert-danger">
                <span *ngIf="weight.errors?.required">
                  Weight Flow is Required
                </span>
                <span *ngIf="weight.errors?.pattern">
                  Weight Flow should be numeric
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
		 <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label">Assigned To<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                    <select class="form-control" name="assign_to" [(ngModel)]="setassigned" #assign_to="ngModel" required>                      
                      <option [value]="undefined" selected hidden>Select Assigned To</option>
                      <option [value]="null" selected hidden>Select Assigned TO</option>
                      <option [value]="1">Cone</option>
                      <option [value]="2">Shell</option>
                      <option [value]="3">Cone & Shell</option>
                    </select>
                  
                    <div *ngIf="assign_to.invalid && (assign_to.dirty || assign_to.touched)" class="alert-danger">
                        <span *ngIf="assign_to.errors?.required">
                          Assigned To is Required
                        </span>
                      </div>
                </div>
              </div>
          </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>


<!-- Edit -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit Raw Material Details</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reloadPage()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="editform" #editfrm="ngForm" (ngSubmit)="editrawmaterial(editfrm, edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editrawmatterial.id" required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Item<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Item" name="item" [(ngModel)]="editrawmatterial.item" appEmitfirstspace #eitem="ngModel"
                required>
              <div *ngIf="eitem.invalid && (eitem.dirty || eitem.touched)" class="alert-danger">
                <span *ngIf="eitem.errors?.required">
                  Item is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Raw Material Part No.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Part No" name="partno" [(ngModel)]="editrawmatterial.raw_partno"
                #epartno="ngModel" pattern="^[0-9]*$" appDigitOnly appEmitfirstspace required>
              <div *ngIf="epartno.invalid && (epartno.dirty || epartno.touched)" class="alert-danger">
                <span *ngIf="epartno.errors?.required">
                  Part No. is Required
                </span>
                <span *ngIf="epartno.errors?.pattern">
                  Part No. should be Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Description<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Description" name="description" [(ngModel)]="editrawmatterial.description"
                #edescription="ngModel" appEmitfirstspace required>
              <div *ngIf="edescription.invalid && (edescription.dirty || edescription.touched)" class="alert-danger">
                <span *ngIf="edescription.errors?.required">
                  Description is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Weight (in kgs.)<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="number" class="form-control" Placeholder="Enter Weight" name="weight" [ngModel]="editrawmatterial.weight"  #eweight="ngModel" required step="0.01" min="0" value="0.00" appEmitfirstspace>
              <div *ngIf="eweight.invalid && (eweight.dirty || eweight.touched)" class="alert-danger">
                <span *ngIf="eweight.errors?.required">
                  Weight Flow is Required
                </span>
                <span *ngIf="eweight.errors?.required">
                  Accepts only Numeric
                </span>
                <!-- <span *ngIf="eweight.errors?.pattern">
                      Weight Flow should be in Numeric
                    </span> -->
              </div>
            </div>
          </div>
        </div>
      </div>
		 <div class="row">
          <div class="col-md-6">
              <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Assigned To<span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                      <select class="form-control" name="eassign_to" [(ngModel)]="editrawmatterial.assigned_to" #eassign_to="ngModel" required >
                        <option [value]="undefined" selected hidden>Select Assigned To</option>
                        <option [value]="null" selected hidden>Select Assigned To</option>
                        <option [value]="1">Cone</option>
                        <option [value]="2">Shell</option>
                        <option [value]="3">Cone & Shell</option>
                      </select>
                    
                      <div *ngIf="eassign_to.invalid && (eassign_to.dirty || eassign_to.touched)" class="alert-danger">
                          <span *ngIf="eassign_to.errors?.required">
                            Assigned To is Required
                          </span>
                        </div>
                  </div>
                </div>
            </div>
        </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reloadPage()">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>