<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="col-md-6">
          <h5>Material Issue Confirmation </h5>
        </div>
      </div>
      <div class="card-block">
        <div class="dt-responsive">
          <div class="table-responsive">
            <table class="datatable table table-striped table-bordered row-border hover">
              <thead>
                <tr>
                  <th>S.No.</th>
                  <th>Material Issued For</th>
                  <th>Model</th>
                  <th>Part No</th>
                  <th>Workorder No</th>
                  <th>Material issued against W/O</th>
                  <th>Confirmation of Shift Engineer</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let items of materialconfirmation.message;let i =index">
                  <td>{{i+1}}</td>
                  <td [ngSwitch]="items.material_issuefor">
                    <p *ngSwitchCase="'1'">Drum Model</p>
                    <p *ngSwitchCase="'2'">Mixer Assembly</p>
                    <p *ngSwitchCase="'3'">Mounting Module</p>
                  </td>
                  <td>{{items.model}}</td>
                  <td>{{items.part_no}}</td>
                  <td>{{items.workorder_no}}</td>
                 <td *ngIf="items.status == '1'; else falsyTemplate1">Materialissued 100%</td>
                    <ng-template #falsyTemplate1>
                      <td *ngIf="items.status == '2'; else falsyTemplate2">Partially Issued</td>
                    </ng-template>
                    <ng-template #falsyTemplate2>
                      <td *ngIf="items.status == '3'">Material Shortage</td>
                    </ng-template>
                    <td *ngIf="items.shift_engineer_status == '1'; else falsyTemplate11">Materialissued 100%</td>
                    <ng-template #falsyTemplate11>
                      <td *ngIf="items.shift_engineer_status == '2'; else falsyTemplate12">Partially Issued</td>
                    </ng-template>
                    <ng-template #falsyTemplate12>
                      <td *ngIf="items.shift_engineer_status == '3' ;else default">Material Shortage</td>
                    </ng-template>
                    <ng-template #default>
                      <td>-</td>
                    </ng-template>
                </tr>
              </tbody>
            </table>
          </div>      
        </div>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Add Bulk Upload  -->
<app-modal-basic #bulkupload [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close basic-close" (click)="bulkupload.hide()">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <input type="file" ng2FileSelect [uploader]="uploader" class="custom-file-input">
        <span class="custom-file-control"></span>
      </label>
    </div>


  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="bulkupload.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Submit</button>
  </div>
</app-modal-basic>

<!-- Add Bulk Upload -->

<!-- Add New -->

<app-modal-basic #addnew [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="modal-title">Add Material Picking</h4>
    <button type="button" class="close basic-close" (click)="addnew.hide()">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Work Order No</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" Placeholder="Enter Work Order No">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Drum / Mixer No / Mounting</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" Placeholder="Enter Drum / Mixer No / Mounting">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Material issued against W/O</label>
          <div class="col-sm-8">
            <select name="" id="">
              <option value="">Yes</option>
              <option value="">No</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addnew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Submit</button>
  </div>
</app-modal-basic>


<!-- Edit -->

<app-modal-basic #edit [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="modal-title">Edit Material Picking</h4>
    <button type="button" class="close basic-close" (click)="edit.hide()">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Work Order No</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" Placeholder="Enter Work Order No">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Drum / Mixer No / Mounting</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" Placeholder="Enter Drum / Mixer No / Mounting">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Material issued against W/O</label>
          <div class="col-sm-8">
            <select name="" id="">
              <option value="">Yes</option>
              <option value="">No</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="edit.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div>
</app-modal-basic>