<div class="row">
  <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="col-md-6">
            <h5>Material Acknowledgment</h5>
          </div>
        </div>
        <div class="card-block">
          <form class="form-horizontal" name="addform" #frm="ngForm">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Material Issue For:</label>
                  <div class="col-sm-5">
                    <select name="materialissue" class="form-control" [(ngModel)]="materialissues" #materialissue="ngModel" (change)="getvalue(materialissue.value)">
                      <option [value]="undefined" selected hidden>Select Material Issue For:</option>
                      <option [value]="null" selected hidden>Select Material Issue For:</option>
                      <option value="1">Drum Model</option>
                      <option value="2">Mixer Assembly</option>
                      <option value="3">Mounting Model</option>
                    </select>
                    <div *ngIf="materialissue.invalid && (materialissue.dirty || materialissue.touched)" class="alert-danger">
                        <span *ngIf="materialissue.errors?.required">
                          Material Issue for. is Required
                        </span>
                      </div>
                    <!-- <input type="text" class="form-control" Placeholder="Enter Drum / Mixer No / Mounting"> -->
                  </div>
                </div>
              </div>
            </div>
            <div [ngSwitch]="materialissues">
              <div *ngSwitchCase="'1'">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Drum Model:</label>
                      <div class="col-sm-5">
                            <select name="drummodel" class="form-control" [(ngModel)]="drummodels" #drummodel="ngModel" (change)="drum_getwo(drummodel.value);drum_getbom(drummodel.value)">
                              <option [value]="undefined" selected hidden>Select Drum Model:</option>
                              <option [value]="null" selected hidden>Select Drum Model:</option>
                              <option *ngFor="let item of mixer_value.message" [value]="item.id" >{{item.drumpart_no}} _ {{item.drum_model}}</option>
                            </select>                                                                                                                                                      
                          <div *ngIf="drummodel.invalid && (drummodel.dirty || drummodel.touched)" class="alert-danger">
                          <span *ngIf="drummodel.errors?.required">
                            Drum Model. is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Drum W/O No.</label>
                      <div class="col-sm-5">
                        <select class="form-control" name="workorder" [(ngModel)]="workorder" #workordernos="ngModel" required (ngModelChange)="getmaterials($event,materialissue.value)">
                          <option [value]="undefined" selected hidden >Select Workorder No.</option>
                          <option [value]="null" selected hidden >Select Workorder No.</option>
                          <option *ngFor="let item of drumworkorder.message" [value]="item.id">{{item.workorder_no}}</option>
                        </select>
                        <div *ngIf="workordernos.invalid && (workordernos.dirty || workordernos.touched)" class="alert-danger">
                          <span *ngIf="workordernos.errors?.required">
                              WorkOrder No. is Required
                          </span>
                          <span *ngIf="workordernos.errors?.pattern">
                            WorkOrder No. should acceptd only Numeric.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="row">
                  <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" (click)="getdrumdetails()">Submit </button>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'2'">   
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Mixer Part No.</label>
                      <div class="col-sm-5">
                        <select class="form-control" name="drummodel" [(ngModel)]="mixerpartnos" #partnos="ngModel" required (change)="getworkorderno(partnos.value)">
                          <option [value]="undefined" selected hidden>Select Part No.</option>
                          <option [value]="null" selected hidden>Select Part No.</option>
                          <option *ngFor="let item of getmixerparts.message" [value]="item.id">{{item.part_no}}_{{item.mixer_model}}</option>
                        </select>
                        <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                          <span *ngIf="partnos.errors?.required">
                            Part No. is Required
                          </span>
                        </div>  
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Mixer W/O No.</label>
                      <div class="col-sm-5">
                        <select class="form-control" name="workorder" [(ngModel)]="workorder" #workordernos="ngModel" required (ngModelChange)="getmaterials($event,materialissue.value)">
                          <option [value]="undefined" selected hidden >Select Workorder No.</option>
                          <option [value]="null" selected hidden >Select Workorder No.</option>
                          <option *ngFor="let item of mixerplanning.message" [value]="item.id">{{item.workorder_no}}</option>
                        </select>
                        <div *ngIf="workordernos.invalid && (workordernos.dirty || workordernos.touched)" class="alert-danger">
                          <span *ngIf="workordernos.errors?.required">
                              WorkOrder No. is Required
                          </span>
                          <span *ngIf="workordernos.errors?.pattern">
                            WorkOrder No. should accept only Numeric.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" (click)="getdrumdetails()">Submit </button>
                  </div>
                </div>
              </div>  
              <div *ngSwitchCase="'3'">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Mounting WorkOrder:</label>
                      <div class="col-sm-5">
                          <!-- <select name="drummodel" class="form-control" [(ngModel)]="mountwos" #mountwo="ngModel" (change)="mounting_getbom();getassyvalue(frm)"> -->
                          <select name="workorder" class="form-control" [(ngModel)]="mountwos" #mountwo="ngModel" (ngModelChange)="getmaterials($event,materialissue.value)">
                            <option value="undefined" selected hidden >Select Mounting Release WorkOrder:</option>
                            <option value="null" selected hidden >Select Mounting Release WorkOrder:</option>
                            <option *ngFor="let item of mounting_wo.message" [value]="item.id" >{{item.workorder_no}}</option>
                          </select>
                        <div *ngIf="mountwo.invalid && (mountwo.dirty || mountwo.touched)" class="alert-danger">
                          <span *ngIf="mountwo.errors?.required">
                              Mounting Release WorkOrder is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" (click)="getdrumdetails()">Submit </button>
                  </div>
                </div>
              </div> 
            </div> 
            <div class="card-block table-responsive">
              <table class="datatable table table-striped table-bordered row-border hover">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Date</th>
                    <th>Workorder No.</th>
                    <th>Total Quantity</th>
                    <th>Issued Quantity</th>
                    <th>Store Status</th>
                    <th>Shift Engineer Status</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of materialdetails;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.datas.date}}</td>
                    <td>{{item.datas.workorder_no}}</td>
                    <td>{{item.datas.total_qty}}</td>
                    <td>{{item.datas.issued_qty}}</td>
                    <td *ngIf="item.datas.status == '1'; else falsyTemplate1">Materialissued 100%</td>
                    <ng-template #falsyTemplate1>
                      <td *ngIf="item.datas.status == '2'; else falsyTemplate2">Partially Issued</td>
                    </ng-template>
                    <ng-template #falsyTemplate2>
                      <td *ngIf="item.datas.status == '3'">Material Shortage</td>
                    </ng-template>
                    <td *ngIf="item.datas.shift_engineer_status == '1'; else falsyTemplate11">Materialissued 100%</td>
                    <ng-template #falsyTemplate11>
                      <td *ngIf="item.datas.shift_engineer_status == '2'; else falsyTemplate12">Partially Issued</td>
                    </ng-template>
                    <ng-template #falsyTemplate12>
                      <td *ngIf="item.datas.shift_engineer_status == '3' ;else default">Material Shortage</td>
                    </ng-template>
                    <ng-template #default>
                      <td>-</td>
                    </ng-template>
                    <td>
                      <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item.datas);openedit(edit)'>
                        <i class='icofont icofont-fountain-pen'></i>
                      </button>
                      </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </form>
        </div>
        <!-- end of card-footer -->
      </div>    
  </div>
</div>
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Material Acknowledgment</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(editfrm)">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="editform" #editfrm="ngForm" (ngSubmit)="editshiftengineerstatus(editfrm, edit)">
      <div class="row" style="display: none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">ID</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="id" name="id" [(ngModel)]="bommaterials.id" #id="ngModel" required>
              <div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert-danger">
                <span *ngIf="id.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Date</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="createdby" [(ngModel)]="bommaterials.date" #createdby="ngModel" readonly>
              </div>
            </div>
          </div>
  
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">WorkOrder No.</label>
          <div class="col-sm-8">
         
              <input type="text" class="form-control" name="workstation" [(ngModel)]="bommaterials.workorder_no" #workstationname="ngModel" readonly>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Total Quantity</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="desc" [(ngModel)]="bommaterials.total_qty" #desc="ngModel" readonly>               
              </div>
            </div>
          </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Issue Quantity</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" name="torque" [(ngModel)]="bommaterials.issued_qty" #torque="ngModel" readonly>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Store Status</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="tooltype" [(ngModel)]="storestatus" #tooltype="ngModel" readonly>
            </div>
          </div>
        </div>
    <div class="col-md-6">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label">Shift Engineer Status</label>
        <div class="col-sm-8">
          <select name="status" class="form-control" [(ngModel)]="bommaterials.shift_engineer_status" #status="ngModel">
            <option value="undefined" [selected]="'true'" [disabled]="'true'">Select</option>
            <option value="1">Materialissued 100%</option>
            <option value="2">Partially Issued</option>
            <option value="3">Matrial Shortage</option>
          </select>
      </div>
    </div>
  </div>
  </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset(editfrm)">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>