<div class="row">
    <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="row">
              <div class="col-md-6">
                  <h5>Drum Header</h5>
                  <p class="mandatoryfiles">* Fields Are mandatory</p>
                </div>
                <div class="col-md-6">
                  <div class="text-right">
                    <button class="btn btn-primary btn-square" type="button" (click)="openbulkupload(bulkupload)">
                      <i class="icofont icofont-upload"></i> Bulk Upload
                    </button>
                  </div>
                </div>
          </div>
          
        </div>
        <div class="card-block">
          <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="adddruminternal(frm,addnew)">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Header No. <span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Header No." name="headerno" ngModel pattern="^\d[0-9]*$" #headerno="ngModel" appDigitOnly appEmitfirstspace required>
                    <div *ngIf="headerno.invalid && (headerno.dirty || headerno.touched)" class="alert-danger">
                      <span *ngIf="headerno.errors?.required">
                        Header No. is Required
                      </span>
                      <span *ngIf="headerno.errors?.pattern">
                        Accepts only Numeric.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
          <!--  <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Part No</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Part No" pattern="^\d[0-9]*$" name="partno" ngModel #partno="ngModel"
                    required>
                  <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                    <span *ngIf="partno.errors?.required">
                      Part Number Required
                    </span>
                    <span *ngIf="partno.errors?.pattern">
                      Accepts only Numeric.
                    </span>
                  </div>
                </div>
              </div>-->
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Object Description <span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Description" name="desc" ngModel #desc="ngModel" appEmitfirstspace required>
                    <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                      <span *ngIf="desc.errors?.required">
                        Description is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <hr>
          <div class="form-group row float-right">
            <div class="col-sm-6">
              <button type="button" class="btn btn-default waves-effect pull-right" (click)="reset(frm)">Reset</button>
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Header No.</th>
              <!--<th>Part No</th>-->
              <th>Object Description</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of employees;let i=index">
              <td>{{i+1}}</td>
              <td>{{item.headerno}}</td>
             <!-- <td>{{item.partno}}</td>-->
              <td>{{item.obj_desc}}</td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletedruminternal(item.id)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
  
  <!-- Add Bulk Upload  -->
  <ng-template #bulkupload let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Bulk Upload</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-4 text-right">
          <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
        </div>
        <label class="custom-file col-sm-6">
          <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class="btn btn-default">
          <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
          <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
        </label>
      </div>
      <label class="custom-file col-sm-6">
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class="btn btn-default">
        <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
        <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
      </label>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close
      </button>
      <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
    </div>
  </ng-template>
  
  <!-- Edit -->
  <ng-template #edit let-c="close" let-d="dismiss">
    <div class="modal-header">
        <div class="text-left">
          <h4 class="modal-title">Edit Drum Header</h4>
          <p class="mandatoryfiles">* Fields Are mandatory</p>
        </div>
        <div class="text-right">
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(editfrm)">
            <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
          </button>
        </div>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editdruminternal(editfrm,edit)">
        <div class="row" style="display:none">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Id</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editdrumheader.id" required #eid="ngModel">
                <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                  <span *ngIf="eid.errors?.required">
                    ID is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Header No. <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Header No." appDigitOnly appEmitfirstspace name="headerno" [(ngModel)]="editdrumheader.headerno" #headernos="ngModel" pattern="^\d[0-9]*$" required>
                <div *ngIf="headernos.invalid && (headernos.dirty || headernos.touched)" class="alert-danger">
                  <span *ngIf="headernos.errors?.required">
                    Header No. is Required
                  </span>
                  <span *ngIf="headernos.errors?.pattern">
                    Accepts only Numeric.
                  </span>
                </div>
              </div>
            </div>
          </div>
       <!-- <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Part No</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Part No" pattern="^\d[0-9]*$" name="partno" [(ngModel)]="editdrumheader.partno"
                #partnos="ngModel" required>
              <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                <span *ngIf="partnos.errors?.required">
                  Part Number Required
                </span>
                <span *ngIf="partnos.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>-->
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Object Description <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Description" name="desc" appEmitfirstspace [(ngModel)]="editdrumheader.obj_desc" #descs="ngModel" required>
                <div *ngIf="descs.invalid && (descs.dirty || descs.touched)" class="alert-danger">
                  <span *ngIf="descs.errors?.required">
                    Description is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset(editfrm)">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
        <hr>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
    </div> -->
</ng-template>