<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Angular Datatable'">
      <span class="m-b-20">use class <code>table table-striped table-bordered full-data-table</code> with table element</span><br><br>
      <div class="dt-responsive">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-sm-12 col-md-6">
            <div>
              <label class="label-control">Show
                <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="25">25</option>
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="100">100</option>
                </select>
                entries
              </label>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6">
            <div style="text-align: right;">
              <label>Search:
                <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
              </label>
            </div>
          </div>
        </div>
        <!-- <div class="panel-heading">User information</div>-->
        <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
               [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
          <thead>
          <tr>
            <th>
              <mfDefaultSorter  by="name">Name</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter  by="position">Position</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="office">Office</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter  by="age">Age</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="start-date">Start date</mfDefaultSorter>
            </th>
            <th>
              <mfDefaultSorter by="salary">Salary</mfDefaultSorter>
            </th>
          </tr>
          <tr>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let item of mf.data">
            <td>{{item.name}}</td>
            <td>{{item.position}}</td>
            <td>{{item.office}}</td>
            <td>{{item.age}}</td>
            <td>{{item.date}}</td>
            <td>{{item.salary}}</td>
          </tr>
          </tbody>
          <tfoot>
          <tr>
            <th>Name</th>
            <th>Position</th>
            <th>Office</th>
            <th>Age</th>
            <th>Start date</th>
            <th>Salary</th>
          </tr>
          <tr>
            <td colspan="6">
              <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
            </td>
          </tr>
          </tfoot>
        </table>
      </div>
    </app-card>
  </div>
</div>