<div class="row">
  <div class="col-xl-2 col-md-6 offset-xl-10 offset-md-10">
    <div class="card social-widget-card">
      <select class="pull-right">      
        <option value="bounce">Daily</option>
        <option value="flash">Weekly</option>
        <option value="pulse">Monthly</option>
        <option value="rubberBand">Yearly</option>      
      </select>      
    </div>
  </div>
</div>
<div class="row">  
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-block-big bg-facebook">
        <select class="pull-right">
        
          <option value="bounce">Daily</option>
          <option value="flash">Weekly</option>
          <option value="pulse">Monthly</option>
          <option value="rubberBand">Yearly</option>
        
        </select>
        <h3>1165 +</h3>
        <span class="m-t-10">Cone fabrication</span>
        
        <!-- <i class="icofont icofont-social-facebook"></i> -->
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-block-big bg-twitter">
        <select class="pull-right">
        
          <option value="bounce">Daily</option>
          <option value="flash">Weekly</option>
          <option value="pulse">Monthly</option>
          <option value="rubberBand">Yearly</option>
        
        </select>
        <h3>780 +</h3>
        <span class="m-t-10">Drum fabrication</span>
        <!-- <i class="icofont icofont-social-twitter"></i> -->
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-block-big bg-linkein">
        <select class="pull-right">
        
          <option value="bounce">Daily</option>
          <option value="flash">Weekly</option>
          <option value="pulse">Monthly</option>
          <option value="rubberBand">Yearly</option>
        
        </select>
        <h3>998 +</h3>
        <span class="m-t-10">Drum final Clearance</span>
        <!-- <i class="icofont icofont-brand-linkedin"></i> -->
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-block-big bg-google-plus">
        <select class="pull-right">
        
          <option value="bounce">Daily</option>
          <option value="flash">Weekly</option>
          <option value="pulse">Monthly</option>
          <option value="rubberBand">Yearly</option>
        
        </select>
        <h3>650 +</h3>
        <span class="m-t-10">Finished Product</span>
        <!-- <i class="icofont icofont-social-google-plus"></i> -->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-xl-6">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Productivity </h5>
        <select class="pull-right">
        
          <option value="bounce">250, Raghavan.R</option>
          <option value="flash">271, Venthan.M </option>
          <option value="bounce">61, Kumar.N</option>
          <option value="flash">552, Vengatesh.K </option>
        
        </select>
      </div>
      <div class="card-block">
        <div id="area-example"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-6">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Plan Vs Actual </h5>
        <select class="pull-right">
        
          <option value="bounce">Daily</option>
          <option value="flash">Weekly</option>
          <option value="pulse">Monthly</option>
          <option value="rubberBand">Yearly</option>
        
        </select>
      </div>
      <div class="card-block">
        <div id="plan-example"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-xl-6">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Production </h5>
        <select class="pull-right">
        
          <option value="bounce">Daily</option>
          <option value="flash">Weekly</option>
          <option value="pulse">Monthly</option>
          <option value="rubberBand">Yearly</option>
        
        </select>
      </div>
      <div class="card-block">
        <div id="line-example"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-6">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Snag Report </h5>
        <select class="pull-right">
        
          <option value="bounce">Daily</option>
          <option value="flash">Weekly</option>
          <option value="pulse">Monthly</option>
          <option value="rubberBand">Yearly</option>
        
        </select>
      </div>
      <div class="card-block">
        <div id="snag-example"></div>
      </div>
    </div>
  </div>
</div>
