<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="row">
          <div class="col-md-6">
            <h5>Drum Master </h5>
          </div>
          <div class="col-md-6">
            <div class="text-right">
              <button class="btn btn-primary btn-square" type="button" (click)="openbulkupload(bulkupload)">
                <i class="icofont icofont-upload"></i> Bulk Upload
              </button>
              <button class="btn btn-info btn-square" type="button" (click)="open(addnew)">
                <i class="icofont icofont-plus"></i> Add Drum Master
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Drum Part No</th>
              <th>Product Group</th>
              <th>Drum Model</th>
              <th>Drum Version</th>
              <th>Drum Drive</th>
              <th>No. Of Cone</th>
              <th>No. Of Shell</th>
              <th>Process Flow</th>              
              <th>Cone 1</th>              
              <th>Cone 2</th>              
              <th>Cone 3</th>              
              <th>Cone 4</th>              
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of drummaster ; let i=index">
              <td>{{i+1}}</td>
              <td>{{item.drumpart_no}}</td>
              <td [ngSwitch]="item.product_group">
                <p *ngSwitchCase="'1'">Concrete Mixer</p>
                <p *ngSwitchCase="'2'">SLM</p>
                <p *ngSwitchCase="'3'">Recycle Plant(RA)</p>
              </td>
              <td>{{item.drum_model}}</td>
              <td>{{item.drum_version}}</td>
              <td>{{item.drum_drive}}</td>
              <td [ngSwitch]="item.noofcone">
                <p *ngSwitchCase="'1'">None</p>
                <p *ngSwitchCase="'2'">2</p>
                <p *ngSwitchCase="'3'">3</p>
                <p *ngSwitchCase="'4'">4</p>
              </td>
              <td>{{item.noofshell}}</td>
              <td>{{item.process_flow}}</td>
              <td>
                <span *ngIf="item.cone1==null || item.cone1=='NA'; else notLoggedIn1">
                  NA
                </span>
                <ng-template #notLoggedIn1>
                  {{item.cone1}}
                </ng-template>
              </td>
              <td>
                <span *ngIf="item.cone2==null || item.cone2=='NA'; else notLoggedIn2">
                  NA
                </span>
                <ng-template #notLoggedIn2>
                  {{item.cone2}}
                </ng-template>
              </td>
              <td>
                <span *ngIf="item.cone3==null || item.cone3=='NA'; else notLoggedIn3">
                  NA
                </span>
                <ng-template #notLoggedIn3>
                  {{item.cone3}}
                </ng-template>
              </td>
              <td>
                <span *ngIf="item.cone4==null || item.cone4=='NA'; else notLoggedIn4">
                  NA
                </span>
                <ng-template #notLoggedIn4>
                  {{item.cone4}}
                </ng-template>
              </td>
              
              <!-- <span *ngIf="item.cone4=null;then content else other_content">here is ignored</span>    
              <ng-template #content><td>NA</td></ng-template>
              <ng-template #other_content><td>{{item.cone4}}</td></ng-template> -->
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletedrumtype(item.id)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class=" btn btn-default">
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close
    </button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>

<!-- Add New -->
<ng-template #addnew let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Add Drum Type</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="adddrumtype(frm, addnew)">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Drum Part No.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Part No." name="partno" ngModel #partno="ngModel" pattern="^\d[0-9]*$"
                required appEmitfirstspace appDigitOnly>
              <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                <span *ngIf="partno.errors?.required">
                  Part No. is Required
                </span>
                <span *ngIf="partno.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Product Group<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" id="" name="pgroup" [(ngModel)]="getpgroup" #pgroup="ngModel" required>
                <option [value]="undefined" hidden selected> please select Product Group.</option>
                <option [value]="null" hidden selected> please select Product Group</option>
                <option [value]="1">Concrete Mixer</option>
                <option [value]="2">SLM</option>
                <option [value]="3">Recycle Plant(RA)</option>
              </select>
              <!-- <input type="text" class="form-control" Placeholder="Enter Product Group" name="pgroup" ngModel #pgroup="ngModel" required> -->
              <div *ngIf="pgroup.invalid && (pgroup.dirty || pgroup.touched)" class="alert-danger">
                <span *ngIf="pgroup.errors?.required">
                  Product Group is Required
                </span>
              </div>
            </div>
          </div>
        </div>        
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Drum Model <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Drum Model" name="drummodel" ngModel #drummodel="ngModel" required appEmitfirstspace>
              <div *ngIf="drummodel.invalid && (drummodel.dirty || drummodel.touched)" class="alert-danger">
                <span *ngIf="drummodel.errors?.required">
                  Drum Model is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Drum Version <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Drum Version" name="drumversion" ngModel #drumversion="ngModel"
                required appEmitfirstspace>
              <div *ngIf="drumversion.invalid && (drumversion.dirty || drumversion.touched)" class="alert-danger">
                <span *ngIf="drumversion.errors?.required">
                  Drum Version is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Drum Drive <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Drum Drive" name="drumdrive" ngModel #drumdrive="ngModel" required appEmitfirstspace>
              <div *ngIf="drumdrive.invalid && (drumdrive.dirty || drumdrive.touched)" class="alert-danger">
                <span *ngIf="drumdrive.errors?.required">
                  Drum Drive is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">No. Of Cone <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="noofcone" [(ngModel)]="noofconeee" #noofcone="ngModel" required (ngModelChange)="selectednoofcones($event)">
                <option [value]="undefined" hidden selected> please select Number of Cone</option>
                <option [value]="null" hidden selected> please select Number of Cone</option>
                <option [value]="1">None</option>
                <option [value]="2">2</option>
                <option [value]="3">3</option>
                <option [value]="4">4</option>               
              </select>
              <!-- <input type="text" class="form-control" Placeholder="Enter No. Of Cone" name="noofcone" ngModel #noofcone="ngModel" pattern="^\d[0-9]*$"
                required> -->
              <div *ngIf="noofcone.invalid && (noofcone.dirty || noofcone.touched)" class="alert-danger">
                <span *ngIf="noofcone.errors?.required">
                  No Of Cone. is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">No. Of Shell <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter No. Of Shell" name="noofshell" ngModel #noofshell="ngModel" pattern="^\d[0-9]*$" required appEmitfirstspace appDigitOnly>
              <div *ngIf="noofshell.invalid && (noofshell.dirty || noofshell.touched)" class="alert-danger">
                <span *ngIf="noofshell.errors?.required">
                  No Of Shell. is Required
                </span>
                <span *ngIf="noofshell.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Process Flow <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class='select-option  form-control' required [(ngModel)]="seletprocess" name="selectprocess" #selectprocess="ngModel" >
                <option [value]="undefined" hidden selected> please select Process Flow</option>
                <option [value]="null" hidden selected> please select Process Flow</option>
                <option class='option' *ngFor='let option of options' [value]="option.flow_type">{{option.flow_type}}</option>
              </select>
              <div *ngIf="selectprocess.invalid && (selectprocess.dirty || selectprocess.touched)" class="alert-danger">
                <span *ngIf="selectprocess.errors?.required">
                  Process Flow. is Required
                </span>
              </div>          
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" *ngIf="optionselected === '2' || optionselected === '3' || optionselected === '4'">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Cone 1 <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
                <select class="form-control" name="cone1" [(ngModel)]="conetypes1" #conetype1="ngModel" required>
                  <option [value]="undefined" hidden selected> please select Cone Type</option>
                  <option [value]="null" hidden selected> please select Cone Type</option>
                  <option value="Type1">Type 1</option>
                  <option value="Type2">Type 2</option>
                  <option value="Type3">Type 3</option>
                  <option value="Type4">Type 4</option>
                  <option value="Type5">Type 5</option>
                  <option value="Type6">Type 6</option>
                </select>
                <div *ngIf="conetype1.invalid && (conetype1.dirty || conetype1.touched)" class="alert-danger">
                  <span *ngIf="conetype1.errors?.required">
                    Cone Type 1 is Required
                  </span>
                </div>
            </div>
          </div>
        </div>
        <div class="col-md-6" *ngIf="optionselected === '2' || optionselected === '3' || optionselected === '4'">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Cone 2 <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="cone2" [(ngModel)]="conetypes2" #conetype2="ngModel" required>
                <option [value]="undefined" hidden selected> please select Cone Type</option>
                <option [value]="null" hidden selected> please select Cone Type</option>
                <option value="Type1">Type 1</option>
                <option value="Type2">Type 2</option>
                <option value="Type3">Type 3</option>
                <option value="Type4">Type 4</option>
                <option value="Type5">Type 5</option>
                <option value="Type6">Type 6</option>
                <option value="Type7">Type 7</option>
              </select>
              <div *ngIf="conetype2.invalid && (conetype2.dirty || conetype2.touched)" class="alert-danger">
                <span *ngIf="conetype2.errors?.required">
                  Cone Type 2 is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6" *ngIf="optionselected === '3' || optionselected === '4'">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Cone 3 <span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                    <select class="form-control" name="cone3" [(ngModel)]="conetypes3" #conetype3="ngModel" required>
                      <option [value]="undefined" hidden selected> please select Cone Type</option>
                      <option [value]="null" hidden selected> please select Cone Type</option>
                      <option value="Type1">Type 1</option>
                      <option value="Type2">Type 2</option>
                      <option value="Type3">Type 3</option>
                      <option value="Type4">Type 4</option>
                      <option value="Type5">Type 5</option>
                      <option value="Type6">Type 6</option>
                      <option value="Type7">Type 7</option>
                    </select>
                    <div *ngIf="conetype3.invalid && (conetype3.dirty || conetype3.touched)" class="alert-danger">
                      <span *ngIf="conetype3.errors?.required">
                        Cone Type 3 is Required
                      </span>
                    </div>
                </div>
              </div>
          </div>
          <div class="col-md-6" *ngIf="optionselected === '4'">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Cone 4 <span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                    <select class="form-control" name="cone4" [(ngModel)]="conetypes4" #conetype4="ngModel" required>
                      <option [value]="undefined" hidden selected> please select Cone Type</option>
                      <option [value]="null" hidden selected> please select Cone Type</option>
                      <option value="Type1">Type 1</option>
                      <option value="Type2">Type 2</option>
                    </select>
                    <div *ngIf="conetype4.invalid && (conetype4.dirty || conetype4.touched)" class="alert-danger">
                      <span *ngIf="conetype4.errors?.required">
                        Cone Type 4 is Required
                      </span>
                    </div>
                </div>
              </div>
          </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Standard Operating Time<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <ngb-timepicker ngModel [seconds]="seconds" name="sot" #sot="ngModel" required
              (ngModelChange)="timechanged($event)"></ngb-timepicker>
              <div *ngIf="sot.invalid && (sot.dirty || sot.touched)" class="alert-danger">
                <span *ngIf="sot.errors?.required">
                  Standard Operating Time is Required
                </span>
              </div>          
            </div>
          </div>
        </div>
      </div> -->
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>

<!-- Edit -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit Drum Type</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="editform" #editfrm="ngForm" (ngSubmit)="editdrumtype(editfrm, edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editdrummaster.id" required #did="ngModel">
              <div *ngIf="did.invalid && (did.dirty || did.touched)" class="alert-danger">
                <span *ngIf="did.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Drum Part No.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Part No." name="partno" [(ngModel)]="editdrummaster.drumpart_no"
                #partnos="ngModel" pattern="^\d[0-9]*$" required appEmitfirstspace appDigitOnly>
              <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                <span *ngIf="partnos.errors?.required">
                  Part No. is Required
                </span>
                <span *ngIf="partnos.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Drum Model <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Drum Model" name="drummodel" [(ngModel)]="editdrummaster.drum_model"
                #drummodels="ngModel" required appEmitfirstspace>
              <div *ngIf="drummodels.invalid && (drummodels.dirty || drummodels.touched)" class="alert-danger">
                <span *ngIf="drummodels.errors?.required">
                  Drum Model is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Product Group<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
                <select class="form-control" id="" name="pgroup" [(ngModel)]="editdrummaster.product_group"
                #pgroups="ngModel" required appEmitfirstspace>
                  <option [value]="undefined" hidden selected> please select Product Group</option>
                  <option [value]="null" hidden selected> please select Product Group</option>
                  <option [value]="1">Concrete Mixer</option>
                  <option [value]="2">SLM</option>
                  <option [value]="3">Recycle Plant(RA)</option>
                </select>
              <!-- <input type="text" class="form-control" Placeholder="Enter Product Group" name="pgroup" [(ngModel)]="editdrummaster.product_group"
                #pgroups="ngModel" required> -->
              <div *ngIf="pgroups.invalid && (pgroups.dirty || pgroups.touched)" class="alert-danger">
                <span *ngIf="pgroups.errors?.required">
                  Product Group is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Drum Version <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Drum Version" name="drumversion" [(ngModel)]="editdrummaster.drum_version" #drumversions="ngModel" required appEmitfirstspace>
              <div *ngIf="drumversions.invalid && (drumversions.dirty || drumversions.touched)" class="alert-danger">
                <span *ngIf="drumversions.errors?.required">
                  Drum Version is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Drum Drive <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Drum Drive" name="drumdrive" [(ngModel)]="editdrummaster.drum_drive"
                #drumdrives="ngModel" required appEmitfirstspace>
              <div *ngIf="drumdrives.invalid && (drumdrives.dirty || drumdrives.touched)" class="alert-danger">
                <span *ngIf="drumdrives.errors?.required">
                  Drum Drive is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">No. Of Cone <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="noofcone" id="" [(ngModel)]="editdrummaster.noofcone" #noofconess="ngModel" required>
                <option [value]="undefined" hidden selected> please select No Of Cone</option>
                <option [value]="null" hidden selected> please select No Of Cone</option>
                <option [value]="1">None</option>
                <option [value]="2">2</option>
                <option [value]="3">3</option>
                <option [value]="4">4</option>
              </select>
              <!-- <input type="text" class="form-control" Placeholder="Enter No. Of Cone" name="noofcone" [(ngModel)]="editdrummaster.noofcone"
                #noofcones="ngModel" pattern="^\d[0-9]*$" required> -->
              <div *ngIf="noofconess.invalid && (noofconess.dirty || noofconess.touched)" class="alert-danger">
                <span *ngIf="noofconess.errors?.required">
                  No Of Cone. is Required
                </span>
                <span *ngIf="noofconess.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">No. Of Shell <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter No. Of Shell" name="noofshell" [(ngModel)]="editdrummaster.noofshell"
                #noofshells="ngModel" pattern="^\d[0-9]*$" required appEmitfirstspace appDigitOnly>
              <div *ngIf="noofshells.invalid && (noofshells.dirty || noofshells.touched)" class="alert-danger">
                <span *ngIf="noofshells.errors?.required">
                  No Of Shell is Required
                </span>
                <span *ngIf="noofshells.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Process Flow <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select id="" class="form-control" name="selectprocess" [(ngModel)]="editdrummaster.process_flow" #selectprocess="ngModel"
                required>
                <option [value]="undefined" hidden selected> please select Process Flow</option>
                <option [value]="null" hidden selected> please select Process Flow</option>
                <option class='option' *ngFor='let option of options' [value]="option.flow_type">{{option.flow_type}}</option>
              </select>
              <div *ngIf="selectprocess.invalid && (selectprocess.dirty || selectprocess.touched)" class="alert-danger">
                <span *ngIf="selectprocess.errors?.required">
                  Select Process is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6" *ngIf="editdrummaster.noofcone === '2' || editdrummaster.noofcone === '3' || editdrummaster.noofcone === '4'">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Cone 1 <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                  <select class="form-control" name="cone1" [(ngModel)]="editdrummaster.cone1" #conetype1="ngModel" required>
                    <option [value]="undefined" hidden selected> please select Cone 1</option>
                    <option [value]="null" hidden selected> please select COne 1</option>
                    <option value="Type1">Type 1</option>
                    <option value="Type2">Type 2</option>
                    <option value="Type3">Type 3</option>
                    <option value="Type4">Type 4</option>
                    <option value="Type5">Type 5</option>
                    <option value="Type6">Type 6</option>
                  </select>
                  <div *ngIf="conetype1.invalid && (conetype1.dirty || conetype1.touched)" class="alert-danger">
                    <span *ngIf="conetype1.errors?.required">
                      Cone Type 1 is Required
                    </span>
                  </div>
              </div>
            </div>
          </div>  
          <div class="col-md-6" *ngIf="editdrummaster.noofcone === '2' || editdrummaster.noofcone === '3' || editdrummaster.noofcone === '4'">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Cone 2 <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select class="form-control" name="cone2" [(ngModel)]="editdrummaster.cone2" #conetype2="ngModel" required>
                  <option [value]="undefined" hidden selected> please select COne 2</option>
                  <option [value]="null" hidden selected> please select COne 2</option>
                  <option value="Type1">Type 1</option>
                  <option value="Type2">Type 2</option>
                  <option value="Type3">Type 3</option>
                  <option value="Type4">Type 4</option>
                  <option value="Type5">Type 5</option>
                  <option value="Type6">Type 6</option>
                  <option value="Type7">Type 7</option>
                </select>
                <div *ngIf="conetype2.invalid && (conetype2.dirty || conetype2.touched)" class="alert-danger">
                  <span *ngIf="conetype2.errors?.required">
                    Cone Type 2 is Required
                  </span>
                </div>
              </div>
            </div>
          </div>           
        </div>  
      <div class="row">
          <div class="col-md-6" *ngIf="editdrummaster.noofcone === '3' || editdrummaster.noofcone === '4'">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Cone 3 <span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                    <select class="form-control" name="cone3" [(ngModel)]="editdrummaster.cone3" #conetype3="ngModel" required>
                      <option [value]="undefined" hidden selected> please select Cone 3</option>
                      <option [value]="null" hidden selected> please select Cone 3</option>
                      <option value="Type1">Type 1</option>
                      <option value="Type2">Type 2</option>
                      <option value="Type3">Type 3</option>
                      <option value="Type4">Type 4</option>
                      <option value="Type5">Type 5</option>
                      <option value="Type6">Type 6</option>
                      <option value="Type7">Type 7</option>
                    </select>
                    <div *ngIf="conetype3.invalid && (conetype3.dirty || conetype3.touched)" class="alert-danger">
                      <span *ngIf="conetype3.errors?.required">
                        Cone Type 3 is Required
                      </span>
                    </div>
                </div>
              </div>
            </div>
            <div class="col-md-6"  *ngIf="editdrummaster.noofcone === '4'">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Cone 4 <span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <select class="form-control" name="cone4" [(ngModel)]="editdrummaster.cone4" #conetype4="ngModel" required>
                      <option [value]="undefined" hidden selected> please select Cone 4</option>
                      <option [value]="null" hidden selected> please select Cone 4</option>
                      <option value="Type1">Type 1</option>
                      <option value="Type2">Type 2</option>
                    </select>
                    <div *ngIf="conetype4.invalid && (conetype4.dirty || conetype4.touched)" class="alert-danger">
                      <span *ngIf="conetype4.errors?.required">
                        Cone Type 4 is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset()">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>
