<div class="row">
  <div class="col-sm-12">
    <!-- Badges card start -->
    <app-card [title]="'Badges'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
      <div class="row">
        <div class="col-lg-4 col-xl-3 col-sm-12">
          <div class="badge-box">
            <div class="sub-title">Default badge

            </div>

            <p>Use class <code>badge-default</code></p>
            <div>
              <label class="badge badge-default">5</label>
              <label class="badge badge-default">9</label>
              <label class="badge badge-default">15</label>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3 col-sm-6">
          <div class="badge-box">
            <div class="sub-title">Primary badge

            </div>

            <p>Use class <code>badge-primary</code></p>
            <label class="badge badge-primary">5</label>
            <label class="badge badge-primary">9</label>
            <label class="badge badge-primary">15</label>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3 col-sm-6">
          <div class="badge-box">
            <div class="sub-title">Success badge

            </div>

            <p>Use class <code>badge-success</code></p>
            <label class="badge badge-success">5</label>
            <label class="badge badge-success">9</label>
            <label class="badge badge-success">15</label>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3 col-sm-6">
          <div class="badge-box">
            <div class="sub-title">Warning badge

            </div>

            <p>
              Use class <code>badge-warning</code>
            </p>
            <label class="badge badge-warning">5</label>
            <label class="badge badge-warning">9</label>
            <label class="badge badge-warning">15</label>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3 col-sm-6">
          <div class="badge-box">
            <div class="sub-title">Danger badge

            </div>

            <p>
              Use class <code>bg-danger</code>
            </p>
            <label class="badge badge-danger">5</label>
            <label class="badge badge-danger">9</label>
            <label class="badge badge-danger">15</label>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3 col-sm-6">
          <div class="badge-box">
            <div class="sub-title">Info badge

            </div>

            <p>
              Use class <code>badge-info</code>
            </p>
            <label class="badge badge-info ">5</label>
            <label class="badge badge-info">9</label>
            <label class="badge badge-info">15</label>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3 col-sm-6">
          <div class="badge-box">
            <div class="sub-title">inverse default badge

            </div>

            <p>
              Use class <code>badge-inverse-default</code>
            </p>
            <label class="badge badge-inverse-default">5</label>
            <label class="badge badge-inverse-default">9</label>
            <label class="badge badge-inverse-default">15</label>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3 col-sm-6">
          <div class="badge-box">
            <div class="sub-title">Inverse primary badge

            </div>

            <p>
              Use class <code>badge-inverse-primary</code>
            </p>
            <label class="badge badge-inverse-primary">5</label>
            <label class="badge badge-inverse-primary">9</label>
            <label class="badge badge-inverse-primary">15</label>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3 col-sm-6">
          <div class="badge-box">
            <div class="sub-title">Inverse success badge

            </div>

            <p>
              Use class <code>badge-inverse-success</code>
            </p>
            <label class="badge badge-inverse-success">5</label>
            <label class="badge badge-inverse-success">9</label>
            <label class="badge badge-inverse-success">15</label>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3 col-sm-6">
          <div class="badge-box">
            <div class="sub-title">Inverse warning badge
            </div>

            <p>
              Use class <code>badge-inverse-warning</code>
            </p>
            <label class="badge badge-inverse-warning">5</label>
            <label class="badge badge-inverse-warning">9</label>
            <label class="badge badge-inverse-warning">15</label>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3 col-sm-6">
          <div class="badge-box">
            <div class="sub-title">Inverse Danger badge

            </div>

            <p>
              Use class <code>badge-inverse-danger</code>
            </p>
            <label class="badge badge-inverse-danger">5</label>
            <label class="badge badge-inverse-danger">9</label>
            <label class="badge badge-inverse-danger">15</label>
          </div>
        </div>
        <div class="col-lg-4 col-xl-3 col-sm-6">
          <div class="badge-box">
            <div class="sub-title">Inverse Info badge

            </div>

            <p>
              Use class <code>badge-inverse-info</code>
            </p>
            <label class="badge badge-inverse-info">5</label>
            <label class="badge badge-inverse-info">9</label>
            <label class="badge badge-inverse-info">15</label>
          </div>
        </div>
      </div>
    </app-card>
    <!-- Badges card end -->
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <!-- Label card start -->
    <app-card [title]="'Labels'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
      <!-- labels -->
      <div class="row">
        <div class="col-md-12">
          <p>Use the <code>.label</code> class,&nbsp; followed by one of the six contextual classes <code>.label-default</code>, <code>.bg-primary</code>, <code>.bg-success</code>,
            <code>.bg-info</code>, <code>.bg-warning</code> or <code>.bg-danger</code>, within a <code>&lt;label&gt;</code> element to create a label:
          </p>
          <div class="label-main">
            <label class="label label-default">Default Label</label>
          </div>
          <div class="label-main">
            <label class="label label-primary">Primary Label</label>
          </div>
          <div class="label-main">
            <label class="label label-success">Success Label</label>
          </div>
          <div class="label-main">
            <label class="label label-info">Info Label</label>
          </div>
          <div class="label-main">
            <label class="label label-warning">Warning Label</label>
          </div>
          <div class="label-main">
            <label class="label label-danger">Danger Label</label>
          </div>
          <div class="label-main">
            <label class="label label-inverse">Inverse Label</label>
          </div>
          <div class="label-main">
            <label class="label label-inverse-default">Border Default</label>
          </div>
          <div class="label-main">
            <label class="label label-inverse-primary">Border Primary</label>
          </div>
          <div class="label-main">
            <label class="label label-inverse-success">Border Success</label>
          </div>
          <div class="label-main">
            <label class="label label-inverse-info">Border Label</label>
          </div>
          <div class="label-main">
            <label class="label label-inverse-warning">Border Warning</label>
          </div>
          <div class="label-main">
            <label class="label label-inverse-danger">Border Danger</label>
          </div>
          <div class="label-main">
            <label class="label label-inverse-info-border">Border Inverse</label>
          </div>
        </div>
      </div>
    </app-card>
    <!-- Label card end -->
  </div>
</div>
<div class="row">
  <div class="col-sm-6">
    <!-- Label size card start -->
    <app-card [title]="'Label Sizes'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
      <p>Use the <code>.label-lg</code> class along with <code>.label</code> for large label and Use the <code>.label-md</code> class along with <code>.label</code> for medium label.The<code>.label</code> class use form small label </p>
      <div class="label-main">
        <label class="label label-lg label-primary">Large Label</label>
      </div>
      <div class="label-main">
        <label class="label label-md label-primary">Medium Label</label>
      </div>
      <div class="label-main">
        <label class="label label-primary">Default Label</label>
      </div>
    </app-card>
    <!-- Label size card end -->
  </div>
  <div class="col-sm-6">
    <!-- Badge size card start -->
    <app-card [title]="'Badge Sizes'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
      <p>Use the <code>.badge-lg</code> class along with <code>.badge</code> for large badge and Use the <code>.badge-md</code> class along with <code>.badge</code> for medium badge.The<code>.badge</code> class use form small badge </p>
      <div class="group-label d-inline-block">
        <label class="badge badge-lg bg-info">5</label>
        <label class="badge badge-lg bg-info">5</label>
        <label class="badge badge-lg bg-info m-r-20">5</label>
      </div>
      <div class="group-label d-inline-block">
        <label class="badge badge-md bg-success">5</label>
        <label class="badge badge-md bg-success">5</label>
        <label class="badge badge-md bg-success m-r-20">5</label>
      </div>
      <div class="group-label d-inline-block">
        <label class="badge bg-danger">5</label>
        <label class="badge bg-danger">5</label>
        <label class="badge bg-danger">5</label>
      </div>
    </app-card>
    <!-- Badge size card end -->
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- Badges on button card start -->
    <app-card [title]="'Badges On Button'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'" [blockClass]="'button-list'">
      <!-- start flat Button -->
      <button type="button" class="btn btn-default waves-effect" data-toggle="tooltip" data-placement="top" title=".btn-default.badge">General
        <span class="badge">70</span>
      </button>
      <button type="button" class="btn btn-primary waves-effect waves-light" data-toggle="tooltip" data-placement="top" title=".btn-primary.badge">Primary
        <span class="badge">90</span>
      </button>
      <button type="button" class="btn btn-success waves-effect waves-light" data-toggle="tooltip" data-placement="top" title=".btn-success.badge">success
        <span class="badge">70</span>
      </button>
      <button type="button" class="btn btn-warning waves-effect waves-light" data-toggle="tooltip" data-placement="top" title=".btn-warning.badge">warning
        <span class="badge">170</span>
      </button>
      <button type="button" class="btn btn-danger waves-effect waves-light" data-toggle="tooltip" data-placement="top" title=".btn-danger.badge">danger
        <span class="badge">07</span>
      </button>
      <button type="button" class="btn btn-info waves-effect waves-light" data-toggle="tooltip" data-placement="top" title=".btn-info.badge">info
        <span class="badge">80</span>
      </button>
      <!-- end of flat Button -->
    </app-card>
    <!-- Badges on button card end -->
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    <!-- Badges with icon card start -->
    <app-card [title]="'Badges With Icon'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
      <div class="row">
        <div class="col-md-3 col-sm-6">
          <div class="badge-box">
            <div class="sub-title">Top Left badge
              <a href="" class="f-right" data-toggle="modal" data-target="#top-left-Modal">
              </a>
            </div>

            <!-- end of modal -->
            <p>
              Use class <code>badge-top-left</code>
            </p>
            <div class="label-icon">
              <i class="icofont icofont-envelope"></i>
              <label class="badge badge-default badge-top-left">5</label>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="badge-box">
            <div class="sub-title">Top Right badge
              <a href="" class="f-right" data-toggle="modal" data-target="#top-right-Modal">
              </a>
            </div>
            <!-- end of modal -->
            <p>
              Use class <code>badge-top-right</code>
            </p>
            <div class="label-icon">
              <i class="icofont icofont-envelope"></i>
              <label class="badge badge-primary badge-top-right">9</label>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="badge-box">
            <div class="sub-title">Bottom Left badge
              <a href="" class="f-right" data-toggle="modal" data-target="#bottom-left-Modal">
              </a>
            </div>
            <!-- end of modal -->
            <p>
              Use class <code>badge-bottom-left</code>
            </p>
            <div class="label-icon">
              <i class="icofont icofont-envelope"></i>
              <label class="badge badge-success badge-bottom-left">9</label>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6">
          <div class="badge-box">
            <div class="sub-title">Bottom Right badge
              <a href="" class="f-right" data-toggle="modal" data-target="#bottom-right-Modal">
              </a>
            </div>
            <!-- end of modal -->
            <p>
              Use class <code>badge-bottom-right</code>
            </p>
            <div class="label-icon">
              <i class="icofont icofont-envelope"></i>
              <label class="badge badge-warning badge-bottom-right">5</label>
            </div>
          </div>
        </div>
      </div>
    </app-card>
    <!-- Badges with icon card start -->
  </div>
</div>