<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="col-md-6">
          <h5>Mixer Weekly Plan</h5>
        </div>
      </div>
      <div class="card-block">
        <div class="card-block table-responsive">
          <table class="datatable table table-striped table-bordered row-border hover">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Part No</th>
                <th>Object Description</th>
                <th>Total Quantity</th>
                <th>Remarks</th>
                <th>Month</th>
                <th>Year</th>
                <th>Weekly Plan</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of employees.message;let i=index">
                <td>{{i+1}}</td>
                <td>{{item.part_no}}</td>
                <td>{{item.mixer_description}}</td>
                <td>{{item.totalqty}}</td>
                <td>{{item.remarks}}</td>
                <td [ngSwitch]="item.month">
                  <p *ngSwitchCase="'01'">Jan</p>
                  <p *ngSwitchCase="'02'">Feb</p>
                  <p *ngSwitchCase="'03'">Mar</p>
                  <p *ngSwitchCase="'04'">Apr</p>
                  <p *ngSwitchCase="'05'">May</p>
                  <p *ngSwitchCase="'06'">Jun</p>
                  <p *ngSwitchCase="'07'">Jul</p>
                  <p *ngSwitchCase="'08'">Aug</p>
                  <p *ngSwitchCase="'09'">Sep</p>
                  <p *ngSwitchCase="'10'">Oct</p>
                  <p *ngSwitchCase="'11'">Nov</p>
                  <p *ngSwitchCase="'12'">Dec</p>                
                </td>
                <td>{{item.year}}</td>
                <td>
                  <button class='btn btn-primary btn-outline-primary btn-icon' (click)='viewfunction(item);viewweeklyplan(viewweekly)'>
                    <i class='icofont icofont-eye'></i>
                  </button>
                  <button class='btn btn-danger btn-outline-danger btn-icon' (click)='createviewplan(item.id);opencreate(crateweekly)'>
                    <i class='icofont icofont-plus'></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>      
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Create Weekly Plan -->
<ng-template #crateweekly let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Create Weekly Plan</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #createfrm="ngForm" (ngSubmit)="createweeklyplans(createfrm,edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="createweeklyplan" required #eid="ngModel" appEmitfirstspace>
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">From Date.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="fromdate" [(ngModel)]="fromdates" ngbDatepicker #fromdate="ngbDatepicker" required readonly>
                <div class="input-group-append" >
                  <button class="btn btn-outline-secondary model" (click)="fromdate.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                </div>
              </div>
              <div *ngIf="fromdate.invalid && (fromdate.dirty || fromdate.touched)" class="alert-danger">
                <span *ngIf="fromdate.errors?.required">
                  From Date is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">To Date.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="todate" [(ngModel)]="todates" ngbDatepicker #todate="ngbDatepicker" required readonly>
                <div class="input-group-append" >
                  <button class="btn btn-outline-secondary model" (click)="todate.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                </div>
              </div>
              <div *ngIf="todate.invalid && (todate.dirty || todate.touched)" class="alert-danger">
                <span *ngIf="todate.errors?.required">
                  To Date is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Total Quantity<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Quantity" name="qty" ngModel  pattern="^\d[0-9]*$" #qty="ngModel" required appEmitfirstspace appDigitOnly>
              <div *ngIf="qty.invalid && (qty.dirty || qty.touched)" class="alert-danger">
                <span *ngIf="qty.errors?.required">
                 Total Quantity is Required
                </span>
                <span *ngIf="qty.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!createfrm.form.valid">Update</button>
        </div>
      </div>   
    </form>
  </div>
</ng-template>

<!-- View Weekly Plan -->
<ng-template #viewweekly let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Create Weekly Plan</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-block table-responsive">
      <table class="datatable table table-striped table-bordered row-border hover">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Part No</th>
            <th>Model</th>
            <th>Description</th>
            <th>From Date</th>
            <th>To Date</th>
            <th>Quantity</th>
            <th>Action</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of weeklyplans.message;let i=index">
            <td>{{i+1}}</td>
            <td>{{item.part_no}}</td>
            <td>{{item.mixer_model}}</td>
            <td>{{item.mixer_description}}</td>
            <td>{{item.fromdate}}</td>
            <td>{{item.todate}}</td>
            <td>{{item.quantity}}</td>
            <td>
              <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);editweeklyplan(editweekly)'>
                <i class='icofont icofont-pen'></i>
              </button>
              <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deleteweeklyplan(item.weeklyplanid,item.partno)'>
                <i class='icofont icofont-trash'></i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>

<ng-template #editweekly let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit Weekly Plan</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reloadPage()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #editsfrm="ngForm" (ngSubmit)="editweeklyplans(editsfrm,edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editweeklyplanadded.weeklyplanid" required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Part No<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="monthlyplanid" [(ngModel)]="editweeklyplanadded.monthlyplanid" required #monthlyplanid="ngModel" appEmitfirstspace appDigitOnly>
              <div *ngIf="monthlyplanid.invalid && (monthlyplanid.dirty || monthlyplanid.touched)" class="alert-danger">
                <span *ngIf="monthlyplanid.errors?.required">
                  Part No. is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">From Date.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="fromdate" [(ngModel)]="editfromdate" ngbDatepicker #fromdate="ngbDatepicker" required readonly>
                <div class="input-group-append" >
                  <button class="btn btn-outline-secondary model" (click)="fromdate.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                </div>
              </div>
              <div *ngIf="fromdate.invalid && (fromdate.dirty || fromdate.touched)" class="alert-danger">
                <span *ngIf="fromdate.errors?.required">
                  From Date is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">To Date.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="todate" [(ngModel)]="edittodate" ngbDatepicker #todate="ngbDatepicker" required readonly>
                <div class="input-group-append" >
                  <button class="btn btn-outline-secondary model" (click)="todate.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                </div>
              </div>
              <div *ngIf="todate.invalid && (todate.dirty || todate.touched)" class="alert-danger">
                <span *ngIf="todate.errors?.required">
                  To Date is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Total Quantity<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Quantity" name="qty" [(ngModel)]="editweeklyplanadded.quantity"  pattern="^\d[0-9]*$" #qty="ngModel" required appEmitfirstspace appDigitOnly>
              <div *ngIf="qty.invalid && (qty.dirty || qty.touched)" class="alert-danger">
                <span *ngIf="qty.errors?.required">
                  Total Quantity is Required
                </span>
                <span *ngIf="qty.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reloadPage()">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editsfrm.form.valid">Update</button>
        </div>
      </div>   
    </form>
  </div>
</ng-template>