<div class="row">
  <div class="col-sm-12">
    <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="addmenuaccess(frm)">
      <div class="card card-border-primary">
        <div class="card-header">
          <h5>Add User Role </h5>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-xs-6 col-sm-6 col-md-2 col-lg-2">
              <div>
                <label class="label-control">Select User Role :
                </label>
              </div>
            </div>
            <div class="col-sm-6">
              <select class='select-option  form-control' required ngModel name=role #roles="ngModel" (change)="role(roles.value)">
                <option value="" selected disabled>Select Role</option>
                <option class='option' *ngFor='let option of userrole' [value]="option.id">{{option.user_role}}</option>
              </select>
              <div *ngIf="roles.invalid && (roles.dirty || roles.touched)" class="alert-danger">
                <span *ngIf="roles.errors?.required">
                  Role is Required
                </span>
              </div>
            </div>
          </div>
          <div class="container">
            <div class="row" *ngFor="let item of menu;let in=index">
              <div class="col-sm-12" *ngIf="item.menutype == '1';else falsyTemplate">
                <div class="checkbox-fade fade-in-primary">
                  <ul>
                    <li> <label>
                        <input type="checkbox" name="{{item.menuid}}" [value]="item.menuid" id="{{item.menuid}}"
                          (change)="checkValue(item.menuid,$event.target.checked)" required>
                        <span class="cr">
                          <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                        </span>
                        <span class="text-inverse">{{item.menu}}</span>
                      </label></li>
                  </ul>
                </div>
              </div>
              <ng-template #falsyTemplate>
                <div class="col-sm-12" *ngIf="item.menutype == '2';else falsyTemplate1">
                  <div class="col-sm-12">
                    <li>
                      <div class="checkbox-fade fade-in-primary">
                        <label>
                          <input type="checkbox" name="{{item.menuid}}" [value]="item.menuid" id="{{item.menuid}}"
                            (change)="checkValue(item.menuid,$event.target.checked)" required>
                          <span class="cr">
                            <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                          </span>
                          <span class="text-inverse">{{item.menu}}</span>
                        </label>
                      </div>
                    </li>
                  </div>
                </div>
              </ng-template>
              <ng-template #falsyTemplate1>
                <div class="col-sm-12">
                  <div class="col-sm-12">
                    <div class="col-sm-12">
                      <div class="col-sm-12">
                        <div class="col-sm-12">
                          <div class="checkbox-fade fade-in-primary">
                            <ul>
                              <li> <label>
                                  <input type="checkbox" name="{{item.menuid}}" [value]="item.menuid" id="{{item.menuid}}"
                                    (change)="checkValue(item.menuid,$event.target.checked)" required>
                                  <span class="cr">
                                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                                  </span>
                                  <span class="text-inverse">{{item.menu}}</span>
                                </label></li>
                            </ul>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
        </div>
        <hr>
        <div class="modal-footer">
          <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close
          </button>
          <button type="submit" class="btn btn-primary waves-effect waves-light">Submit</button>
        </div>
        <!-- end of card-footer -->
      </div>
    </form>
  </div>
</div>