<div class="row">
  <div class="col-sm-12">
    <form class="form-horizontal" name="addform" #addfrm="ngForm" (ngSubmit)="addbillingstatus(addfrm)">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="row">
          <div class="col-md-6">
            <h5>Billing Status Update </h5>
            <p class="mandatoryfiles">* Fields Are mandatory</p>
          </div>
        </div>          
      </div>
      <div class="card-block">
        <div class="row">
          <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Dispatched Date<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" name="calendars" [(ngModel)]="model" ngbDatepicker #dispatcheddates="ngbDatepicker" required readonly [markDisabled]="isDisabled">
                      <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="dispatcheddates.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                      </div>
                    </div>
                    <div *ngIf="dispatcheddates.invalid && (dispatcheddates.dirty || dispatcheddates.touched)" class="alert-danger">
                      <span *ngIf="dispatcheddates.errors?.required">
                      Dispatched Date is Required
                      </span>
                    </div>
                </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Part No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">                     
                    <select class="form-control" name="partno" [(ngModel)]="mixerpartnos" #partnos="ngModel" required (change)="getslno(partnos.value);getmixerdetails(partnos.value)">
                    <option [value]="undefined" selected hidden>Select Part No.</option>
                    <option [value]="null" selected hidden>Select Part No.</option>
                    <option *ngFor="let item of getmixerparts.message" [value]="item.id">{{item.part_no}}_{{item.mixer_model}}</option>
                    </select>
                    <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                      <span *ngIf="partnos.errors?.required">
                      Part No. is Required
                      </span>
                    </div>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Description<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Description" name="description" [(ngModel)]="mixerdescription"
                    #description="ngModel" required readonly>
                    <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert-danger">
                      <span *ngIf="description.errors?.required">
                      Description is Required
                      </span>
                    </div>
                </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Mixer SL.No<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                    <select class="form-control" name="mixer_sl_no" [(ngModel)]="mixerslnos" #mixerslno="ngModel" required (change)="getmixerslnos(mixerslno.value)">
                      <option [value]="undefined" selected hidden>Select Mixer SL.No.</option>
                      <option [value]="null" selected hidden>Select Mixer SL.No.</option>
                      <option *ngFor="let item of getmixerslno.message" [value]="item.asmainmatid">{{item.mixer_s_no}}</option>
                    </select>
                    <div *ngIf="mixerslno.invalid && (mixerslno.dirty || mixerslno.touched)" class="alert-danger">
                      <span *ngIf="mixerslno.errors?.required">
                      Mixer Sl.NO is Required
                      </span>
                    </div>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Customer Name<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Customer Name" name="customername" [(ngModel)]="getmixerassembly.customer_name"
                    #customernames="ngModel" required readonly>
                    <div *ngIf="customernames.invalid && (customernames.dirty || customernames.touched)" class="alert-danger">
                      <span *ngIf="customernames.errors?.required">
                      Customer Name is Required
                      </span>
                    </div>
                </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Chassis Model</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Chassis Model" name="chassismodel" [(ngModel)]="getmixerassembly.chassismodel"
                    #chassismodel="ngModel" readonly  >
                    <div *ngIf="chassismodel.invalid && (chassismodel.dirty || chassismodel.touched)" class="alert-danger">
                      <span *ngIf="chassismodel.errors?.required">
                      Chassis Model is Required
                      </span>
                    </div>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Color Scheme<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Color Scheme" name="channelwidth" [(ngModel)]="getmixerassembly.color"
                    #colorschemes="ngModel" required readonly>
                    <div *ngIf="colorschemes.invalid && (colorschemes.dirty || colorschemes.touched)" class="alert-danger">
                      <span *ngIf="colorschemes.errors?.required">
                      Color Scheme is Required
                      </span>
                    </div>
                </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">CDS No<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter CDS No" name="cdsno" [(ngModel)]="getmixerassembly.cds_no" #cdsnos="ngModel"
                    required readonly>
                    <div *ngIf="cdsnos.invalid && (cdsnos.dirty || cdsnos.touched)" class="alert-danger">
                      <span *ngIf="cdsnos.errors?.required">
                      CDS No is Required
                      </span>
                    </div>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Bill Date<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" name="billdate" [(ngModel)]="model" ngbDatepicker #billdates="ngbDatepicker" required readonly [markDisabled]="isDisabled">
                      <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="billdates.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                      </div>
                    </div>
                    <div *ngIf="billdates.invalid && (billdates.dirty || billdates.touched)" class="alert-danger">
                      <span *ngIf="billdates.errors?.required">
                      CDS No is Required
                      </span>
                    </div>
                </div>
              </div>
          </div>
          <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Invoice No<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Invoice No" name="invoiceno" #invoiceno="ngModel" pattern="^\d[0-9]*$" ngModel appEmitfirstspace appDigitOnly>
                    <div *ngIf="invoiceno.invalid && (invoiceno.dirty || invoiceno.touched)" class="alert-danger">
                      <span *ngIf="invoiceno.errors?.required">
                      Invoice No. is Required
                      </span>
                      <span *ngIf="invoiceno.errors?.pattern">
                        Invoine No. Accepts only Numeric.
                      </span>
                    </div>
                </div>
              </div>
          </div>
        </div>
        <div class="row">
        </div>
      </div>
      <div class="card-footer">
        <div class="task-board m-0">
          <!-- end of dropdown-secondary -->
          <div class="dropdown-secondary dropdown">
              <button class="btn btn-primary btn-square" type="submit" [disabled]="!addfrm.form.valid">
              <i class="icofont icofont-tick-mark"></i> Submit
              </button>
              <button class="btn btn-info btn-square" type="button" (click)="resetform(addfrm)">
              <i class="icofont icofont-refresh"></i> Reset
              </button>
              <!-- end of dropdown menu -->
          </div>
          <!-- end of seconadary -->
        </div>
        <!-- end of pull-right class -->
      </div>
    </div>
      <!-- end of card-footer -->
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-block table-responsive">
            <table class="datatable table table-striped table-bordered row-border hover">
              <thead>
                  <tr>
                    <th>S.No</th>
                    <th>Dispatched date</th>
                    <th>Part No</th>
                    <th>Description</th>                    
                    <th>Mixer SL No</th>
                    <th>Customer Name</th>                    
                    <th>Color</th>
                    <th>CDS No.</th>
                    <th>Bill Date</th>
                    <th>Invoice No.</th>
                    <th>Action</th>
                  </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of billingstatus.message;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.dispatcheddate}}</td>
                    <td>{{item.part_no}}</td>
                    <td>{{item.mixer_description}}</td>
                    <td>{{item.mixer_s_no}}</td>
                    <td>{{item.customer_name}}</td> 
                    <td>{{item.color}}</td>  
                    <td>{{item.cds_no}}</td>                  
                    <td>{{item.billdate}}</td>
                    <td>{{item.invoiceno}}</td>                    
                    <td>
                        <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                        <i class='icofont icofont-fountain-pen'></i>
                        </button>
                        <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletebillingstatus(item.id)'>
                        <i class='icofont icofont-trash'></i>
                        </button>
                    </td>
                  </tr>
              </tbody>
            </table>
        </div>
        <!-- end of card-footer -->
      </div>
  </div>
</div>
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit Dispatch Plan</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
      <form class="form-horizontal" name="editfrm" #editfrm="ngForm" (ngSubmit)="editbillingstatus(editfrm, edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Id<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editdispatchplan.id" required #eid="ngModel">
                  <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                    <span *ngIf="eid.errors?.required">
                    ID is Required
                    </span>
                  </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Dispatched Date<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="calendars" [(ngModel)]="editdispatcheddate" ngbDatepicker #dispatcheddates="ngbDatepicker" required readonly [markDisabled]="isDisabled">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="dispatcheddates.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                    </div>
                  </div>
                  <div *ngIf="dispatcheddates.invalid && (dispatcheddates.dirty || dispatcheddates.touched)" class="alert-danger">
                    <span *ngIf="dispatcheddates.errors?.required">
                    Dispatched Date is Required
                    </span>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Part No.<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">                     
                  <select class="form-control" name="partno" [(ngModel)]="editdispatchplan.mixerid" #partnos="ngModel" required (change)="getslno(partnos.value);getmixerdetails(partnos.value)">
                  <option [value]="undefined" selected hidden>Select Part No.</option>
                  <option [value]="null" selected hidden>Select Part No.</option>
                  <option *ngFor="let item of getmixerparts.message" [value]="item.id">{{item.part_no}}_{{item.mixer_model}}</option>
                  </select>
                  <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                    <span *ngIf="partnos.errors?.required">
                    Part No. is Required
                    </span>
                  </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Description<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Description" name="description" [(ngModel)]="mixerdescription"
                  #description="ngModel" required readonly>
                  <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert-danger">
                    <span *ngIf="description.errors?.required">
                    Description is Required
                    </span>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Mixer SL.No<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                  <select class="form-control" name="mixer_sl_no" [(ngModel)]="editdispatchplan.asmainmatid" #mixerslno="ngModel" required (change)="getmixerslnos(mixerslno.value)">
                    <option [value]="undefined" selected hidden>Select Mixer SL.No.</option>
                    <option [value]="null" selected hidden>Select Mixer SL.No.</option>
                    <option *ngFor="let item of getmixerslno.message" [value]="item.asmainmatid">{{item.mixer_s_no}}</option>
                  </select>
                  <div *ngIf="mixerslno.invalid && (mixerslno.dirty || mixerslno.touched)" class="alert-danger">
                    <span *ngIf="mixerslno.errors?.required">
                    Mixer Sl.NO is Required
                    </span>
                  </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Customer Name<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Customer Name" name="customername" [(ngModel)]="getmixerassembly.customer_name"
                  #customernames="ngModel" required readonly>
                  <div *ngIf="customernames.invalid && (customernames.dirty || customernames.touched)" class="alert-danger">
                    <span *ngIf="customernames.errors?.required">
                    Customer Name is Required
                    </span>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Chassis Model<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Chassis Model" name="chassismodel" [(ngModel)]="getmixerassembly.chassismodel"
                  #chassismodel="ngModel" required readonly>
                  <div *ngIf="chassismodel.invalid && (chassismodel.dirty || chassismodel.touched)" class="alert-danger">
                    <span *ngIf="chassismodel.errors?.required">
                    Chassis Model is Required
                    </span>
                  </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Color Scheme<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Color Scheme" name="channelwidth" [(ngModel)]="getmixerassembly.color"
                  #colorschemes="ngModel" required readonly>
                  <div *ngIf="colorschemes.invalid && (colorschemes.dirty || colorschemes.touched)" class="alert-danger">
                    <span *ngIf="colorschemes.errors?.required">
                    Color Scheme is Required
                    </span>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">CDS No<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter CDS No" name="cdsno" [(ngModel)]="getmixerassembly.cds_no" #cdsnos="ngModel"
                  required readonly>
                  <div *ngIf="cdsnos.invalid && (cdsnos.dirty || cdsnos.touched)" class="alert-danger">
                    <span *ngIf="cdsnos.errors?.required">
                    CDS No is Required
                    </span>
                  </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Bill Date<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="billdate" [(ngModel)]="editbilldate" ngbDatepicker #billdates="ngbDatepicker" required readonly [markDisabled]="isDisabled">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary calendar" (click)="billdates.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                    </div>
                  </div>
                  <div *ngIf="billdates.invalid && (billdates.dirty || billdates.touched)" class="alert-danger">
                    <span *ngIf="billdates.errors?.required">
                    CDS No is Required
                    </span>
                  </div>
              </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Invoice No<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Invoice No" name="invoiceno" #invoiceno="ngModel" [(ngModel)]="editdispatchplan.invoiceno" pattern="^\d[0-9]*$" required appEmitfirstspace appDigitOnly>
                  <div *ngIf="invoiceno.invalid && (invoiceno.dirty || invoiceno.touched)" class="alert-danger">
                    <span *ngIf="invoiceno.errors?.required">
                    Invoice No. is Required
                    </span>
                    <span *ngIf="invoiceno.errors?.pattern">
                      Invoice No. is accepts only Numeric
                    </span>
                  </div>
              </div>
            </div>
        </div>
      </div>
      <div class="row">
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
            <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
      </form>
  </div>
  <!-- <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
      </div> -->
</ng-template>