<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="row">
            <div class="col-md-6">
                <h5>Product Variant </h5>
              </div>
              <div class="col-md-6">
                <div class="text-right">
                  <button class="btn btn-primary btn-square" type="button" (click)="open(bulkupload)">
                    <i class="icofont icofont-upload"></i> Bulk Upload
                  </button>
                  <button class="btn btn-info btn-square" type="button" (click)="open(addnew)">
                    <i class="icofont icofont-plus"></i> Add Product Variant
                  </button>
                </div>
              </div>
        </div>
        
      </div>
      <div class="card-block">

        <!-- <div class="panel-heading">User information</div>-->
        <table class="datatable table table-striped table-bordered table-responsive row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Part No.</th>
              <th>Component</th>
              <th>Model</th>
              <th>Rev. No.</th>
              <th>Rev. Date</th>
              <th>Plant</th>
              <th>PPE</th>
              <th>Prepared by</th>
              <th>Checked By</th>
              <th>Approved By</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of employees;let i=index">
              <td>{{i+1}}</td>
              <td>{{item.prodname}}</td>
              <td>{{item.list_of_operation}}</td>
              <td>{{item.mixer_model}}</td>
              <td>{{item.rev_no}}</td>
              <td>{{item.rev_date}}</td>
              <td>{{item.plant}}</td>
              <td>{{item.PPE}}</td>
              <td>{{item.prepared_by}}</td>
              <td>{{item.Checked_by}}</td>
              <td>{{item.approved_by}}</td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deleteproductvariant(item.id)'><i
                    class='icofont icofont-trash'></i></button>
              </td>
            </tr>

          </tbody>

        </table>
      </div>

      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Bulk Upload</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-4 text-right">
          <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
        </div>
        <label class="custom-file col-sm-6">
          <!-- <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder
                  ="Upload file"> -->
          <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file"
            class="
                    btn btn-default">
          <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
          <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
          <!-- <span class="custom-file-control"></span> -->
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
    </div>
  </ng-template>

<!-- Add Bulk Upload -->

<!-- Add New -->

<ng-template #addnew let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Product Variant</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reloadpage()">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="addproductvariant(frm, addnew)">
      <div class="row">
        <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Mixer Part No.</label>
              <div class="col-sm-8">
                 <select class='select-option  form-control' required ngModel name=partno #partno="ngModel" (ngModelChange)='onOptionsSelected($event)'>
                    <option value="" selected>Select Part No.</option>
                    <option class='option' *ngFor='let optiond of options' [value]="optiond.id">{{optiond.part_no}} ({{optiond.mixer_model}})</option>
                 </select> 
              </div>
            </div>
          </div>
          <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Workstation</label>
                <div class="col-sm-8">
                  <select class='select-option  form-control' #componentassembly="ngModel" (ngModelChange)='onOptionscomponentSelected($event)'
                    required ngModel name=componentassembly>
                    <option value="" selected>Select Component</option>
                    <option class='option' *ngFor='let option of stationname' [value]="option.id">{{option.list_of_operation}} ({{option.operation_code}})</option>
                  </select>
                  <div *ngIf="componentassembly.invalid && (componentassembly.dirty || componentassembly.touched)" class="alert-danger">
                    <span *ngIf="componentassembly.errors?.required">
                      Component/Assembly is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
        </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Rev. No.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Rev.No" name="revno" pattern="^\d[0-9]*$"
                [(ngModel)]="revino" #revno="ngModel" readonly>
              <div *ngIf="revno.invalid && (revno.dirty || revno.touched)" class="alert-danger">
                <span *ngIf="revno.errors?.required">
                  Rev.No Required
                </span>
                <span *ngIf="revno.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Rev. Date
            </label>
            <div class="col-sm-8">
              <input type="date" class="form-control" Placeholder="Enter Rev.Date" name="revdate" ngModel #revdate="ngModel"
                required>
              <div *ngIf="revdate.invalid && (revdate.dirty || revdate.touched)" class="alert-danger">
                <span *ngIf="revdate.errors?.required">
                  Rev.Date Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Plant
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="D6" name="plant" ngModel #plant="ngModel"
                readonly>
              <div *ngIf="plant.invalid && (plant.dirty || plant.touched)" class="alert-danger">
                <span *ngIf="plant.errors?.required">
                  Plant Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">PPE
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter PPE" name="ppe" ngModel #ppe="ngModel"
                required>
              <div *ngIf="ppe.invalid && (ppe.dirty || ppe.touched)" class="alert-danger">
                <span *ngIf="ppe.errors?.required">
                  PPE Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Prepared By
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Prepared By" name="preparedby" ngModel
                #preparedby="ngModel" required>
              <div *ngIf="preparedby.invalid && (preparedby.dirty || preparedby.touched)" class="alert-danger">
                <span *ngIf="preparedby.errors?.required">
                  Prepared By Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Checked By
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Checked By" name="checkedby" ngModel
                #checkedby="ngModel" required>
              <div *ngIf="checkedby.invalid && (checkedby.dirty || checkedby.touched)" class="alert-danger">
                <span *ngIf="checkedby.errors?.required">
                  Checked By Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Approved By
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Approved By" name="approvedby" ngModel
                #approvedby="ngModel" required>
              <div *ngIf="approvedby.invalid && (approvedby.dirty || approvedby.touched)" class="alert-danger">
                <span *ngIf="approvedby.errors?.required">
                  Approved By Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
    </div> -->
</ng-template>


<!-- Edit -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Product Variant</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="addform" #editfrm="ngForm" (ngSubmit)="editproductvariant(editfrm, edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editemployee.id"
                required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Mixer Part No.</label>
            <div class="col-sm-8">
               <select class='select-option  form-control' readonly [(ngModel)]="editemployee.part_no" name=partno #partno="ngModel" (ngModelChange)='onOptionsSelected($event)'>
                  <option value="" selected>Select Part No.</option>
                  <option class='option' *ngFor='let optiond of options' [value]="optiond.id">{{optiond.part_no}} ({{optiond.mixer_model}})</option>
               </select> 
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Workstation</label>
            <div class="col-sm-8">
              <select class='select-option  form-control' #componentassmbly="ngModel" readonly [(ngModel)]="editemployee.component_assembly"
                name=componentassembly (ngModelChange)='onOptionscomponentSelected($event)'>
                <option class='option' *ngFor='let option of stationname' [value]="option.id">{{option.list_of_operation}} ({{option.operation_code}})</option>
              </select>
              <div *ngIf="componentassmbly.invalid && (componentassmbly.dirty || componentassmbly.touched)" class="alert-danger">
                <span *ngIf="componentassmbly.errors?.required">
                  Component/Assembly is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Rev. No.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Rev.No" name="revno" pattern="^\d[0-9]*$"
                [(ngModel)]="editemployee.rev_no" #reno="ngModel" readonly>
              <div *ngIf="reno.invalid && (reno.dirty || reno.touched)" class="alert-danger">
                <span *ngIf="reno.errors?.required">
                  Rev.No Required
                </span>
                <span *ngIf="reno.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Rev. Date
            </label>
            <div class="col-sm-8">
              <input type="date" class="form-control" Placeholder="Enter Rev.Date" name="revdate" [(ngModel)]="editemployee.rev_date"
                #rvdate="ngModel" readonly>
              <div *ngIf="rvdate.invalid && (rvdate.dirty || rvdate.touched)" class="alert-danger">
                <span *ngIf="rvdate.errors?.required">
                  Rev.Date Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Plant
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Plant" name="plant" [(ngModel)]="editemployee.plant"
                #plnt="ngModel" readonly>
              <div *ngIf="plnt.invalid && (plnt.dirty || plnt.touched)" class="alert-danger">
                <span *ngIf="plnt.errors?.required">
                  Plant Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">PPE
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter PPE" name="ppe" [(ngModel)]="editemployee.PPE"
                #pe="ngModel" required>
              <div *ngIf="pe.invalid && (pe.dirty || pe.touched)" class="alert-danger">
                <span *ngIf="pe.errors?.required">
                  PPE Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Prepared By
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Prepared By" name="preparedby" [(ngModel)]="editemployee.prepared_by"
                #prepredby="ngModel" readonly>
              <div *ngIf="prepredby.invalid && (prepredby.dirty || prepredby.touched)" class="alert-danger">
                <span *ngIf="prepredby.errors?.required">
                  Prepared By Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Checked By
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Checked By" name="checkedby" [(ngModel)]="editemployee.Checked_by"
                #checkdby="ngModel" readonly>
              <div *ngIf="checkdby.invalid && (checkdby.dirty || checkdby.touched)" class="alert-danger">
                <span *ngIf="checkdby.errors?.required">
                  Checked By Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Approved By
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Approved By" name="approvedby" [(ngModel)]="editemployee.approved_by"
                #aprovedby="ngModel" readonly>
              <div *ngIf="aprovedby.invalid && (aprovedby.dirty || aprovedby.touched)" class="alert-danger">
                <span *ngIf="aprovedby.errors?.required">
                  Approved By Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
    </div> -->
</ng-template>