<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="row">
            <div class="col-md-6">
                <h5>Delay/Rework Master </h5>          
              </div>
              <div class="col-md-6">
                <div class="text-right">
                  <!-- <button class="btn btn-primary btn-square" type="button" (click)="openbulkupload(bulkupload)">
                    <i class="icofont icofont-upload"></i> Bulk Upload
                  </button> -->
                  <button class="btn btn-info btn-square" type="button" (click)="open(addnew)">
                    <i class="icofont icofont-plus"></i> Add Delay/Rework
                  </button>
                </div>
              </div>
        </div>
        
      </div>
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Code</th>
              <th>Type</th>
              <th>Production</th>
              <th>Description</th>              
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of delayrework;let i=index">
              <td>{{i+1}}</td>
              <td>{{item.dr_code}}</td>
              <td *ngIf="item.dr_type == '1'; else falsyTemplate1">Delay</td>
              <ng-template #falsyTemplate1>
              <td>Rework</td>
              </ng-template>
              <td *ngIf="item.dr_production == '1'; else falsyTemplate">Fabrication</td>
              <ng-template #falsyTemplate>
              <td>Assembly</td>
              </ng-template>
              <td>{{item.description}}</td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletefunction(item.id,item.dr_type,item.dr_production)'>
                  <i class='icofont icofont-trash'></i>
                </button>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class=" btn btn-default">
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close
    </button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>

<!-- Add New -->
<ng-template #addnew let-c="close" let-d="dismiss">
    <div class="modal-header">
      <div class="col-md-6">
        <h4 class="modal-title">Add Delay/Rework </h4>
        <p class="mandatoryfiles">* Fields Are mandatory</p>
      </div>
      <div class="col-md-6">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(frm)">
          <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="adddelayrework(frm, addnew)">
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Type <span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <select class="form-control" name="production" [(ngModel)]="setproduction" #production="ngModel" required (ngModelChange)="ontypechanged($event)" >
                      <option [ngValue]="undefined" hidden selected> please select Type</option>
                      <option [ngValue]="null" hidden selected> please select Type</option>
                      <option [ngValue]="1">Fabrication</option>
                      <option [ngValue]="2">Mixer Assembly</option>
                    </select>
                    <div *ngIf="production.invalid && (production.dirty || production.touched)" class="alert-danger">
                      <span *ngIf="production.errors?.required">
                          Type is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
      
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Delay/Rework <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select class="form-control" name="type" [(ngModel)]="settypes" #type="ngModel" required id="" (ngModelChange)="ondrchanged($event)">
                  <option [ngValue]="undefined" hidden selected> please select Delay/Rework</option>
                  <option [ngValue]="null" hidden selected> please select Delay/Rework</option>
                  <option [ngValue]="1">Delay</option>
                  <option [ngValue]="2">Rework</option>
                </select>
                <!-- <input type="text" class="form-control" Placeholder="Enter Type" name="type" ngModel #type="ngModel" required> -->
                <div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert-danger">
                  <span *ngIf="type.errors?.required">
                      Delay/Rework is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Code <span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Code" name="codeno" [(ngModel)]="drcodeinc" #codeno="ngModel" readonly appEmitfirstspace>
                    <div *ngIf="codeno.invalid && (codeno.dirty || codeno.touched)" class="alert-danger">
                      <span *ngIf="codeno.errors?.required">
                        Code No. is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Description <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Description" name="desc" ngModel #desc="ngModel" required appEmitfirstspace>
                <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                  <span *ngIf="desc.errors?.required">
                    Description is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Corresponding Stage</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Corresponding Stage">
                  </div>
                </div>
              </div> -->
        </div>
        <hr>
        <div class="form-group row float-right">
          <div class="col-sm-6">
            <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset(frm)">Close</button>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <!-- <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
    </div> -->
  </ng-template>


<!-- Edit -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit Delay/Rework</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(editfrm)">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="addform" #editfrm="ngForm" (ngSubmit)="editdelayrework(editfrm, edit)">
      <div class="row" style="display: none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter id" name="id" [(ngModel)]="editdelayreworks.id" #id="ngModel"
                required>
              <div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert-danger">
                <span *ngIf="id.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Type <span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="production" [(ngModel)]="editdelayreworks.dr_production" (ngModelChange)="ontypechanged($event)" #productions="ngModel" [disabled]="true">
                    <option value="" hidden selected> please select Delay/Rework</option>
                    <option value="" hidden selected> please select Delay/Rework</option>
                    <option [value]="1">Fabrication</option>
                    <option [value]="2">Mixer Assembly</option>
                  </select>
                  <div *ngIf="productions.invalid && (productions.dirty || productions.touched)" class="alert-danger">
                    <span *ngIf="productions.errors?.required">
                      Type is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Delay/Rework <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="type" [(ngModel)]="editdelayreworks.dr_type" #types="ngModel" (ngModelChange)="ondrchanged($event)" [disabled]="true">
                <option value="" hidden selected> please select Delay/Rework</option>
                <option value="" hidden selected> please select Delay/Rework</option>
                <option value="1">Delay</option>
                <option value="2">Rework</option>
              </select>
              <div *ngIf="types.invalid && (types.dirty || types.touched)" class="alert-danger">
                <span *ngIf="types.errors?.required">
                    Delay/Rework is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">

        <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Code <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Code" name="codeno" [(ngModel)]="editdelayreworks.dr_code" #codenos="ngModel"
                  readonly>
                <div *ngIf="codenos.invalid && (codenos.dirty || codenos.touched)" class="alert-danger">
                  <span *ngIf="codenos.errors?.required">
                    Code No. is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Description <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Description" name="desc" [(ngModel)]="editdelayreworks.description"
                #descs="ngModel" required appEmitfirstspace>
              <div *ngIf="descs.invalid && (descs.dirty || descs.touched)" class="alert-danger">
                <span *ngIf="descs.errors?.required">
                  Description is Required
                </span>
              </div>
            </div>
          </div>
        </div>
       </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset(editfrm)">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>