<div class="row">
    <div class="col-sm-12">
       <div class="card card-border-primary">
          <div class="card-header container">
             <div class="col-md-6">
                <h5>Mount Release</h5>
                <p class="mandatoryfiles">* Fields Are mandatory</p>
             </div>
          </div>
          <div class="card-block">
             <form class="form-horizontal" #frm="ngForm" (ngSubmit)="releasewo(frm)">
             <div class="row">
                <div class="col-md-6">
                   <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Customer Name.<span class="mandatoryfiles">*</span></label>
                      <div class="col-sm-8">
                         <select class="form-control" name="customername" [(ngModel)]="selcustomer" #customernames="ngModel" required>
                          <option [value]="undefined" selected hidden>Select Customer Name</option>
                          <option [value]="null" selected hidden>Select Customer Name</option>
                          <option *ngFor="let item of getcustomerspec.message" [value]="item.id">{{item.customer_name}}</option>
                         </select>
                         <div *ngIf="customernames.invalid && (customernames.dirty || customernames.touched)" class="alert-danger">
                            <span *ngIf="customernames.errors?.required">
                            Customer Name is Required
                            </span>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-sm-6">
                   <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Part No.<span class="mandatoryfiles">*</span></label>
                      <div class="col-sm-8">
                         <select class="form-control" name="partno" [(ngModel)]="mixerpartnos" #partnos="ngModel" required>
                          <option [value]="undefined" selected hidden>Select Part No.</option>
                          <option [value]="null" selected hidden>Select Part No.</option>
                          <option *ngFor="let item of mountingheaders.message" [value]="item.id">{{item.headerno}}</option>
                         </select>
                         <!-- <input type="text" class="form-control" Placeholder="Enter Part No." name="partno" ngModel #partnos="ngModel" pattern="^\d[0-9]*$" required> -->
                         <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                            <span *ngIf="partnos.errors?.required">
                            Part No. is Required
                            </span>
                            <span *ngIf="partnos.errors?.pattern">
                            Accepts only Numeric.
                            </span>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="row">
                <div class="col-sm-6">
                   <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Work Order No.<span class="mandatoryfiles">*</span></label>
                      <div class="col-sm-8">
                         <input type="text" class="form-control" name="workorderno" placeholder="Work Order NO." ngModel #workordernos="ngModel" pattern="^\d[0-9]*$" appEmitfirstspace appDigitOnly required>
                         <div *ngIf="workordernos.invalid && (workordernos.dirty || workordernos.touched)" class="alert-danger">
                            <span *ngIf="workordernos.errors?.required">
                            Workorder Number is Required
                            </span>
                            <span *ngIf="workordernos.errors?.pattern">
                                Workorder Number Accepts only Numeric
                            </span>
                         </div>
                      </div>
                   </div>
                </div>
                <div class="col-sm-6">
                   <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Quantity<span class="mandatoryfiles">*</span></label>
                      <div class="col-sm-8">
                         <input type="text" class="form-control" Placeholder="Enter Quantity" name="quantity" ngModel #quantity="ngModel" pattern="^\d[0-9]*$" appEmitfirstspace appDigitOnly required>
                         <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert-danger">
                            <span *ngIf="quantity.errors?.required">
                            Quantity is Required
                            </span>
                            <span *ngIf="quantity.errors?.pattern">
                            Accepts only Numeric.
                            </span>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <div class="row">
                <div class="col-sm-6">
                   <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Description<span class="mandatoryfiles">*</span></label>
                      <div class="col-sm-8">
                         <input type="text" class="form-control" Placeholder="Enter Description" name="desc" ngModel #desc="ngModel"
                         appEmitfirstspace required>
                         <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                            <span *ngIf="desc.errors?.required">
                            Description is Required
                            </span>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
             <hr>
             <div>
                <div class="form-group row float-right">
                   <button class="btn btn-primary btn-square" type="submit" [disabled]="!frm.form.valid">
                   <i class="icofont icofont-tick-mark"></i> Release W/O
                   </button>
                   <button class="btn btn-info btn-square" type="button" (click)=reset(frm)>
                   <i class="icofont icofont-refresh"></i> Reset
                   </button>
                   <!-- end of dropdown menu -->
                </div>
             </div>
             </form>
          </div>
          <!-- end of card-footer -->
       </div>
    </div>
 </div>
 <div class="row">
    <div class="col-sm-12">
       <div class="card card-border-primary">
          <div class="card-block table-responsive">
            <div class="text-right">
                <button class="btn btn-primary btn-square" type="button" (click)="openmodal(mail)">
                    <i class="icofont icofont-upload"></i> Intimate to
                </button>
            </div>
             <table class="datatable table table-striped table-bordered row-border hover">
                <thead>
                   <tr>
                       <th></th>
                      <th>S.No.</th>
                      <th>Customer Name</th>
                      <th>Mounting Header No.</th>
                      <th>Mounting Description</th>
                      <th>Workorder No.</th>                      
                      <th>Quantity</th>
                      <th>Description</th>
                      <th>Action</th>
                   </tr>
                </thead>
                <tbody>
                   <tr *ngFor="let item of options;let i=index">
                    <td><input type="checkbox" [(ngModel)]="item.selected" name="menu1" [value]="item.id" id="{{item.id}}" (change)="checkValue(item.id,$event.target.checked)"></td>
                      <td>{{i+1}}</td>
                      <td>{{item.customername}}</td>
                      <td>{{item.packageheader}}</td>
                      <td>{{item.mountdescription}}</td>
                      <td>{{item.workorder_no}}</td>                      
                      <td>{{item.quantity}}</td>
                      <td>{{item.description}}</td>
                      <td>
                         <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                         <i class='icofont icofont-fountain-pen'></i>
                         </button>
                         <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deleteworelease(item.id)'>
                         <i class='icofont icofont-trash'></i>
                         </button>
                      </td>
                   </tr>
                </tbody>
             </table>
          </div>
          <!-- end of card-footer -->
       </div>
    </div>
 </div>
 <ng-template #edit let-c="close" let-d="dismiss">
    <div class="modal-header">
      <div class="col-md-6">
        <h4 class="modal-title">Edit Chassis Inspection</h4>
        <p class="mandatoryfiles">* Fields Are mandatory</p>
      </div>
      <div class="col-md-6">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reloadPage()">
          <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
        </button>
      </div>
    </div>
    <div class="modal-body">
       <form class="form-horizontal" name="editfrm" #editfrm="ngForm" (ngSubmit)="editworkorderrelease(editfrm, edit)">
       <div class="row" style="display:none">
          <div class="col-md-6">
             <div class="form-group row">
                <label class="col-sm-4 col-form-label">Id<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                   <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editworelease.id" required #eid="ngModel">
                   <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                      <span *ngIf="eid.errors?.required">
                      ID is Required
                      </span>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Customer Name.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="customername" [(ngModel)]="editworelease.custid" #customernames="ngModel" required>
                  <option [value]="undefined" selected hidden>Select Customer Name</option>
                  <option [value]="null" selected hidden>Select Customer Name</option>
                  <option *ngFor="let item of getcustomerspec.message" [value]="item.id">{{item.customer_name}}</option>
                  </select>
                  <div *ngIf="customernames.invalid && (customernames.dirty || customernames.touched)" class="alert-danger">
                      <span *ngIf="customernames.errors?.required">
                      Customer Name is Required
                      </span>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-sm-6">
             <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Part No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                   <select class="form-control" name="partno" [(ngModel)]="editworelease.packageid" #partnos="ngModel" required>
                    <option [value]="undefined" selected hidden>Select Part No.</option>
                    <option [value]="null" selected hidden>Select Part No.</option>
                    <option *ngFor="let item of mountingheaders.message" [value]="item.id">{{item.headerno}}</option>
                   </select>
                   <!-- <input type="text" class="form-control" Placeholder="Enter Part No." name="partno" ngModel #partnos="ngModel" pattern="^\d[0-9]*$" required> -->
                   <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                      <span *ngIf="partnos.errors?.required">
                      Part No. is Required
                      </span>
                      <span *ngIf="partnos.errors?.pattern">
                      Accepts only Numeric.
                      </span>
                   </div>
                </div>
             </div>
          </div>          
       </div>
       <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Work Order No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="workorderno" [(ngModel)]="editworelease.workorder_no" #workordernos="ngModel" pattern="^\d[0-9]*$" appEmitfirstspace appDigitOnly required>
                  <div *ngIf="workordernos.invalid && (workordernos.dirty || workordernos.touched)" class="alert-danger">
                      <span *ngIf="workordernos.errors?.required">
                      Workorder Number is Required
                      </span>
                      <span *ngIf="workordernos.errors?.pattern">
                        Workorder Number Accepts only Numeric
                        </span>
                  </div>
                </div>
            </div>
          </div>
          <div class="col-sm-6">
             <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Quantity<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                   <input type="text" class="form-control" Placeholder="Enter Quantity" name="quantity" [(ngModel)]="editworelease.quantity" #quantity="ngModel" pattern="^\d[0-9]*$" appEmitfirstspace appDigitOnly required>
                   <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert-danger">
                      <span *ngIf="quantity.errors?.required">
                      Quantity Required
                      </span>
                      <span *ngIf="quantity.errors?.pattern">
                      Accepts only Numeric.
                      </span>
                   </div>
                </div>
             </div>
          </div>
          <div class="col-sm-6">
             <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Description<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                   <input type="text" class="form-control" Placeholder="Enter Description" name="desc" [(ngModel)]="editworelease.description" #desc="ngModel" appEmitfirstspace required>
                   <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                      <span *ngIf="desc.errors?.required">
                      Quantity is Required
                      </span>
                   </div>
                </div>
             </div>
          </div>
       </div>
       <hr>
       <div class="form-group row float-right">
          <div class="col-sm-6">
             <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reloadPage()">Close</button>
          </div>
          <div class="col-sm-6">
             <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
          </div>
       </div>
       </form>
    </div>
    <!-- <div class="app-modal-footer">
       <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
       <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
       </div> -->
 </ng-template>
 <ng-template #mail let-c="close" let-d="dismiss">
        <div class="modal-header">
          <h4 class="modal-title">Mount Release</h4>
          <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
            <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
          </button>
        </div>
        <div class="modal-body">
          <form class="form-horizontal" name="addform" #frm="ngForm"  (ngSubmit)="addmailingstatus()">
                  <div class="container" >
              <div class="row">
                  <div class="col-sm-4">
                      <div>
                        <label class="label-control">Select Users :
                        </label>
                      </div>
                    </div>
                <div class="col-sm-8" >
      
                    <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" ngModel name="selectedemails" #selectedemails="ngModel" required 
                    [settings]="dropdownSettings" 
                    (onSelect)="onItemSelect($event)" 
                    (onDeSelect)="OnItemDeSelect($event)"
                    (onSelectAll)="onSelectAll($event)"
                    (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
                    <div *ngIf="selectedemails.invalid && (selectedemails.dirty || selectedemails.touched)" class="alert-danger">
                      <span *ngIf="selectedemails.errors?.required">
                      Role is Required
                      </span>
                    </div>
                
                  
                </div>
              
              </div>
            </div>
      
            <hr>
            <div class="form-group row float-right">
              <div class="col-sm-6">
                <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
              </div>
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
              </div>
            </div>
          </form>
        </div>   
</ng-template>