<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block">
        <form class="form-horizontal" name="addform" #frm="ngForm"  (ngSubmit)="getproduction(frm,addNew)">
            <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-sm-5 col-form-label text-right">Mixer Status:</label>
                    <div class="col-sm-5">
                        <select class="form-control" name="status" [(ngModel)]="statuss" #status="ngModel" required>
                            <option value="" selected disabled >Select Mixer Status</option>
                            <option value="1"> R/Painting </option>
                            <option value="2"> Painted </option>
                            <option value="3"> FG </option>
                            <option value="4"> Dispatched </option>
                          </select>
                      <div *ngIf="status.invalid && (status.dirty || status.touched||frm.submitted)" class="alert-danger">
                        <span *ngIf="status.errors?.required">
                          Mixer Status is Required
                        </span>
                      </div>
                    </div>
                  </div>              
                </div>          
              </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label text-right">Choose Mixer Model:</label>
                <div class="col-sm-5">
                  <!--<select class="form-control" name="choosemodel" [(ngModel)]="choosemodels" #choosemodel="ngModel" required >
                    <option value="" selected disabled >Select Model</option>
                    <option *ngFor="let items of propductmodel.message" [value]="items.id">{{items.part_no}}_{{items.mixer_model}}</option>
                  </select>-->
                  <angular2-multiselect [data]="dropdownList" [(ngModel)]="choosemodels" ngModel name="choosemodel" #choosemodel="ngModel" required 
                  [settings]="dropdownSettings" 
                  (onSelect)="onmixermodelselect($event)" 
                 ></angular2-multiselect>
                  <div *ngIf="choosemodel.invalid && (choosemodel.dirty || choosemodel.touched||frm.submitted)" class="alert-danger">
                    <span *ngIf="choosemodel.errors?.required">
                      Choose Mixer Model is Required
                    </span>
                  </div>
                </div>
              </div>              
            </div>          
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Contractor</label>                           
                <div class="col-sm-5">
                  <!--<select class="form-control" name="choosecontract" [(ngModel)]="choosecontracts" #choosecontract="ngModel" required >
                    <option value="" selected disabled >Select Contract Name</option>
                    <option *ngFor="let items of contractmaster.message" [value]="items.id">{{items.contractor_id}}_{{items.name}}</option>
                  </select>-->
                  <angular2-multiselect [data]="dropdownListcontractor" [(ngModel)]="choosecontracts" ngModel name="choosecontract" #choosecontract="ngModel" required 
                  [settings]="dropdownSettingscontractor" 
                  (onSelect)="oncontractorselect($event)" 
                 ></angular2-multiselect>

                  <div *ngIf="choosecontract.invalid && (choosecontract.dirty || choosecontract.touched||frm.submitted)" class="alert-danger">
                    <span *ngIf="choosecontract.errors?.required">
                      Choose Contract Name is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>          
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Duration</label>                           
                <div class="col-sm-5">
                  <select class="form-control" name="duration" [(ngModel)]="durations" #duration="ngModel" required>
                    <option value="" selected disabled >Select Production Duration</option>
                    <option value="1"> Historical </option>
                    <option value="2"> Calendar Year </option>
                  </select>
                  <div *ngIf="duration.invalid && (duration.dirty || duration.touched||frm.submitted)" class="alert-danger">
                    <span *ngIf="duration.errors?.required">
                      Choose Duration Required
                    </span>
                  </div>
                </div>
              </div>
            </div>          
          </div>
          <div [ngSwitch]="durations">
            <div *ngSwitchCase="1">
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label text-right">From Date:</label>
                        <div class="col-sm-6">
                          <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd" name="fromcalendar" [(ngModel)]="models" ngbDatepicker #fromcalendar="ngbDatepicker" required readonly>
                              <div class="input-group-append" >
                                <button class="btn btn-outline-secondary calendar" (click)="fromcalendar.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                              </div>
                            </div>
                        </div>                      
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">To Date:</label>
                        <div class="col-sm-6">
                          <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd" name="tocalendar" [(ngModel)]="model" ngbDatepicker #tocalendar="ngbDatepicker" required readonly>
                              <div class="input-group-append" >
                                <button class="btn btn-outline-secondary calendar" (click)="tocalendar.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                              </div>
                            </div>
                        </div>                      
                    </div>
                </div>
              </div>
            </div>
            <div *ngSwitchCase="2">
              <div class="row">
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-6 col-form-label text-right">From Date:</label>
                        <div class="col-sm-6">
                          <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd" name="fromcalendar" [(ngModel)]="models" ngbDatepicker #fromcalendar="ngbDatepicker" required readonly>
                              <div class="input-group-append" >
                                <button class="btn btn-outline-secondary calendar" (click)="fromcalendar.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                              </div>
                            </div>
                        </div>                      
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">To Date:</label>
                        <div class="col-sm-6">
                          <div class="input-group">
                              <input class="form-control" placeholder="yyyy-mm-dd" name="tocalendar" [(ngModel)]="model" ngbDatepicker #tocalendar="ngbDatepicker" required readonly>
                              <div class="input-group-append" >
                                <button class="btn btn-outline-secondary calendar" (click)="tocalendar.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                              </div>
                            </div>
                        </div>                      
                    </div>
                </div>
              </div>
            </div>
          </div>
          <hr>        
          
          <div class="form-group row pull-right">
            <div class="container">            
              <button class="btn btn-info btn-primary btn-square" type="submit" >
                <i class="icofont icofont-check"></i> Submit
              </button>
            </div>
          </div>
        </form>           
      <!-- end of card-footer -->
      </div>
      <div class="card-block">          
        <div class="row table-responsive">
            <button (click)="export()">Export</button>
          <table #table1 class="table table-striped table-bordered row-border hover" id="exampletable">
            <thead>
              <tr>
                <th> S.No.</th>
                <th> Workorder No </th>
                <th> Part No </th>
                <th> Mixer Model </th>
                <th> Mix.Sl.No </th>
                <th> Channel Width </th>                
                <th> Hyd. Combination</th>
                <th> Engine Make </th>
                <th> Painted on </th>
                <th> Eng. No / Gear Box No.</th>
                <th> Colour </th>
                <th> Painter Name</th>
                <th> Contractor Name</th>
                <th> Despatch Date</th>
                <th> Customer Name</th>
                <th> Color Allocation </th>
                <th> Remarks </th>                  
              </tr>                
            </thead>
            <tbody>
              <tr *ngFor="let item of details;let i=index">
                  <td> {{i+1}}</td>
                  <td> {{item.workorder}} </td>
                  <td> {{item.pno}} </td>
                  <td> {{item.mixermodel}} </td>
                  <td> {{item.mixersno}} </td>
                  <td> {{item.cweight}} </td>
                  <td> {{item.hydcomp}} </td>
                  <td> {{item.enginemake}} </td>
                  <td> {{item.date}}</td>
                  <td> {{item.pmno}} </td>
                  <td> {{item.mixercolor}}</td>
                  <td>-</td>
                  <td> {{item.conname}} </td>
                  <td> {{item.dispatched_date}}</td>
                  <td> {{item.cname}} </td>
                  <td> - </td>
                  <td> -</td>                  
                </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>