<div class="row">
  <div class="col-sm-12">
    <form class="form-horizontal" name="addform" #addfrm="ngForm" (ngSubmit)="addconemapping(addfrm)">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="col-md-6">
            <h5> RM Cone Mapping</h5>
            <p class="mandatoryfiles">* Fields Are mandatory</p>
          </div>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Drum Model No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class='select-option  form-control' required [(ngModel)]="setsnagcode" #snagcodes="ngModel"
                    name=drummodel (ngModelChange)='onOptionsSelected($event)'>
                    <option [value]="undefined" selected hidden>Select Drum Model No.</option>
                    <option [value]="null" selected hidden>Select Drum Model No.</option>
                    <option class='option' *ngFor='let option of options1' [value]="option.id">{{option.drum_model}}</option>
                  </select>
                  <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                  <div *ngIf="snagcodes.invalid && (snagcodes.dirty || snagcodes.touched)" class="alert-danger">
                    <span *ngIf="snagcodes.errors?.required">
                      Drum Model No. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6" >
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Types<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class='form-control' [(ngModel)]="settypes" #type="ngModel" name="type" (ngModelChange)='ontypeselected($event)'
                    required>
                    <option [value]="undefined" selected hidden>Select Type</option>
                    <option [value]="null" selected hidden>Select Type</option>
                    <option [value]="1">Cone</option>
                    <option [value]="2">Shell</option>
                  </select>
                  <div *ngIf="type.invalid && (type.dirty || type.touched)" class="alert-danger">
                    <span *ngIf="type.errors?.required">
                      Type is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div [ngSwitch]="settypes">
            <div *ngSwitchCase="'1'">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Cone Category<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <select class='select-option  form-control' required [(ngModel)]="setcone" #relatedtos="ngModel"
                        name=checklist (ngModelChange)='onconeselected($event)'>
                        <!-- <option value="" selected >Select Cone Category</option> -->
                        <option [value]="undefined" selected hidden>Select Cone Category</option>
                        <option [value]="null" selected hidden>Select Cone Category</option>
                        <option class='option' *ngFor='let option of conecategory' [value]="option">{{option}}</option>
                      </select>
                      <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                      <div *ngIf="relatedtos.invalid && (relatedtos.dirty || relatedtos.touched)" class="alert-danger">
                        <span *ngIf="relatedtos.errors?.required">
                          Cone Category is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">

                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Cone Type<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="conetype" [(ngModel)]="typeofcone"
                        appEmitfirstspace #conetype="ngModel" readonly>
                      <div *ngIf="conetype.invalid && (conetype.dirty || conetype.touched)" class="alert-danger">
                        <span *ngIf="conetype.errors?.required">
                          Cone Type is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">

                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">RM Part No.<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">

                      <select class='select-option  form-control' required [(ngModel)]="setpart" #partno="ngModel" name=partno>
                        <option [value]="undefined" selected hidden>Select RM Part No.</option>
                        <option [value]="null" selected hidden>Select RM Part No.</option>
                        <option class='option' *ngFor='let option of options' [value]="option.id">{{option.raw_partno}}_{{option.description}}</option>
                      </select>
                      <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                      <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                        <span *ngIf="partno.errors?.required">
                          RM Part No. is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">No. of Segments / Plate<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" pattern="[0-9]+([\.,][0-9]+)?" step="0.01" Placeholder="Enter No. of Segments / Plate"
                        name="segments" ngModel #segments="ngModel"  appEmitfirstspace required>
                      <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                      <div *ngIf="segments.invalid && (segments.dirty || segments.touched)" class="alert-danger">
                        <span *ngIf="segments.errors?.required">
                          No. of Segments / Plate is Required
                        </span>
                        <span *ngIf="segments.errors?.pattern">
                          No. of Segments / Plate is accepts only Numeric
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">No. of Segments / Cone<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" pattern="^\d[0-9]*$" Placeholder="No. of Segments / Cone"
                        name="segmentcone" ngModel #segmentcone="ngModel" appDigitOnly appEmitfirstspace required>
                      <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                      <div *ngIf="segmentcone.invalid && (segmentcone.dirty || segmentcone.touched)" class="alert-danger">
                        <span *ngIf="segmentcone.errors?.required">
                          No. of Segments / Cone is Required
                        </span>
                        <span *ngIf="segmentcone.errors?.pattern">
                          No. of Segments / Cone is accepts only Numeric
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Wt. / segment (in kg.)<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" Placeholder="Enter Wt. / segment (in kg.)" name="segmentswt"
                        ngModel #segmentswt="ngModel" required step="0.01" min="0" value="0" appEmitfirstspace>
                      <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                      <div *ngIf="segmentswt.invalid && (segmentswt.dirty || segmentswt.touched)" class="alert-danger">
                        <span *ngIf="segmentswt.errors?.required">
                          Wt. / segment (in kg.) is Required
                        </span>

                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Opening Stock<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" pattern="^\d[0-9]*$" class="form-control" Placeholder="Enter Opening Stock"
                        name="openingstock" ngModel #openingstock="ngModel" appDigitOnly appEmitfirstspace required>
                      <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                      <div *ngIf="openingstock.invalid && (openingstock.dirty || openingstock.touched)" class="alert-danger">
                        <span *ngIf="openingstock.errors?.required">
                          Opening Stock is Required
                        </span>
                        <span *ngIf="openingstock.errors?.pattern">
                          Opening Stock is accepts only Numeric
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngSwitchCase="'2'">
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Shell Type</label>
                    <div class="col-sm-8">

                      <select class='select-option  form-control' required [(ngModel)]="setconetypes" #conetype="ngModel"
                        name=checklist>
                        <option [value]="undefined" selected hidden>Select Shell</option>
                        <option [value]="null" selected hidden>Select Shell</option>
                        <option class='option' *ngFor='let option of shellcategory' [value]="option">{{option}}</option>
                      </select>
                      <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                      <div *ngIf="conetype.invalid && (conetype.dirty || conetype.touched)" class="alert-danger">
                        <span *ngIf="conetype.errors?.required">
                          Shell Type is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">RM Part No.<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">

                      <select class='select-option  form-control' required [(ngModel)]="setpartnos" #partno="ngModel"
                        name=partno>
                        <option [value]="undefined" selected hidden>Select RM Part No.</option>
                        <option [value]="null" selected hidden>Select RM Part No.</option>
                        <option class='option' *ngFor='let option of options' [value]="option.id">{{option.raw_partno}}_{{option.description}}</option>
                      </select>
                      <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                      <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                        <span *ngIf="partno.errors?.required">
                          RM Part No. is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">

                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">No. of Segments / Plate<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" pattern="[0-9]+([\.,][0-9]+)?" Placeholder="Enter No. of Segments / Plate"
                        name="segments" ngModel #segments="ngModel"  appEmitfirstspace required>
                      <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                      <div *ngIf="segments.invalid && (segments.dirty || segments.touched)" class="alert-danger">
                        <span *ngIf="segments.errors?.required">
                          No. of Segments / Plate is Required
                        </span>
                        <span *ngIf="segments.errors?.pattern">
                          No. of Segments / Plate is accepts only Numeric
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">No. of Segments / Shell<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" pattern="^\d[0-9]*$" Placeholder="No. of Segments / Shell"
                        name="segmentcone" ngModel #segmentcone="ngModel" appDigitOnly appEmitfirstspace required>
                      <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                      <div *ngIf="segmentcone.invalid && (segmentcone.dirty || segmentcone.touched)" class="alert-danger">
                        <span *ngIf="segmentcone.errors?.required">
                          No. of Segments / Shell is Required
                        </span>
                        <span *ngIf="segmentcone.errors?.pattern">
                          No. of Segments / Shell is accepts only Numeric
                        </span>
                      </div>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row">
                <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Wt. / segment (in kg.)<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" Placeholder="Enter Wt. / segment (in kg.)" name="segmentswt"
                        ngModel #segmentswt="ngModel" required step="0.01" min="0" appEmitfirstspace value="0">
                      <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                      <div *ngIf="segmentswt.invalid && (segmentswt.dirty || segmentswt.touched)" class="alert-danger">
                        <span *ngIf="segmentswt.errors?.required">
                          Wt. / segment (in kg.) is Required
                        </span>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row" *ngIf="type==1">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Opening Stock</label>
                  <div class="col-sm-8">
                    <input type="text" pattern="^\d[0-9]*$" class="form-control" Placeholder="Enter Opening Stock" name="openingstock"
                      ngModel #openingstock="ngModel" required>
                    <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required>
                    <div *ngIf="openingstock.invalid && (openingstock.dirty || openingstock.touched)" class="alert-danger">
                      <span *ngIf="openingstock.errors?.required">
                        Opening Stock is Required
                      </span>
                      <span *ngIf="openingstock.errors?.pattern">
                        Opening Stock is accepts only Numeric
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div> -->
        </div>
        <div class="card-footer">
          <div class="task-board m-0">
            <!-- end of dropdown-secondary -->
            <div class="dropdown-secondary dropdown">
              <button class="btn btn-primary btn-square" type="submit" [disabled]="!addfrm.form.valid">
                <i class="icofont icofont-tick-mark"></i> Submit
              </button>
              <button class="btn btn-info btn-square" type="button" (click)="reset(addfrm)">
                <i class="icofont icofont-refresh"></i> Reset
              </button>
              <!-- end of dropdown menu -->
            </div>
            <!-- end of seconadary -->
          </div>
          <!-- end of pull-right class -->
        </div>
        <!-- end of card-footer -->
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Cone/Shell Category</th>
              <th>Cone/Shell Type</th>
              <th>RM Part No.</th>
              <th>Drum Model No</th>
              <th>No. of Segments / Plate</th>
              <th>No. of Segments / Cone(Shell)</th>
              <th>Wt. / segment (in kg.)</th>
              <th>Opening Stock</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of checklist;let i=index">
              <td>{{i+1}}</td>
              <td>{{item.cone_category}}</td>
              <td>
                <span *ngIf="!item.cone_type">NA</span>
                <span *ngIf="item.cone_type">{{item.cone_type}}</span>
              </td>
              <td>{{item.raw_partno}}</td>
              <td>{{item.drum_model}}</td>
              <td>{{item.no_of_plate_segment}}</td>
              <td>{{item.no_of_cone_segment}}</td>
              <td>{{item.wt_per_segment | number:'1.2-2'}}</td>
              <td>
                <span *ngIf="!item.opening_stock">NA</span>
                <span *ngIf="item.opening_stock">{{item.opening_stock}}</span>
              </td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletechecklist(item.id)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit Cone Mapping</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reloadPage()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="editfrm" #editfrm="ngForm" (ngSubmit)="editchecklists(editfrm, edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editchecklist.id"
                required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div [ngSwitch]="assignto">
        <div *ngSwitchCase="'1'">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Drum Model No<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class='form-control' required [(ngModel)]='editchecklist.model' #partno="ngModel" name=drummodel
                    (ngModelChange)='onOptionsSelected($event)'>
                    <option [value]="undefined" selected hidden>Select Drum Model No.</option>
                    <option [value]="null" selected hidden>Select Drum Model No.</option>
                    <option class='option' *ngFor='let option of options1' [value]="option.id">{{option.drum_model}}</option>
                  </select>
                  <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                  <div *ngIf="snagcodes.invalid && (snagcodes.dirty || snagcodes.touched)" class="alert-danger">
                    <span *ngIf="snagcodes.errors?.required">
                      Drum Model No. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">

                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Cone Type<span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="conetype" [(ngModel)]="editchecklist.cone_type"
                      appEmitfirstspace #conetype="ngModel" readonly>
                    <div *ngIf="conetype.invalid && (conetype.dirty || conetype.touched)" class="alert-danger">
                      <span *ngIf="conetype.errors?.required">
                        Cone Type is Required
                      </span>
                    </div>
                  </div>
                </div>
               </div>
               
          </div>
          <div class="row">
              <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Cone Category<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                          <select class='select-option  form-control' required [(ngModel)]="editchecklist.cone_category" #relatedtos="ngModel"
                            name=checklist (ngModelChange)='onconeselected($event)'>
                            <!-- <option value="" selected >Select Cone Category</option> -->
                            <option [value]="undefined" selected hidden>Select Cone Category</option>
                            <option [value]="null" selected hidden>Select Cone Category</option>
                            <option class='option' *ngFor='let option of conecategory' [value]="option">{{option}}</option>
                          </select>
                      <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                      <div *ngIf="relatedtos.invalid && (relatedtos.dirty || relatedtos.touched)" class="alert-danger">
                        <span *ngIf="relatedtos.errors?.required">
                          Cone Category is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">RM Part No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class='form-control' required [(ngModel)]='editchecklist.part_no' #partno="ngModel" name="partno"
                    (ngModelChange)='onOptionsSelected($event)'>
                    <option class='option' *ngFor='let items of options' [value]="items.id">{{items.raw_partno}}_{{items.description}}</option>
                  </select>
                  <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                  <div *ngIf="snagcodes.invalid && (snagcodes.dirty || snagcodes.touched)" class="alert-danger">
                    <span *ngIf="snagcodes.errors?.required">
                      RM Part No. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            
          </div>


          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">No. of Segments / Plate<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" pattern="[0-9]+([\.,][0-9]+)?" Placeholder="Enter No. of Segments / Plate"
                    name="segments" [(ngModel)]="editchecklist.no_of_plate_segment" #segments="ngModel"
                    appEmitfirstspace  required>
                  <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                  <div *ngIf="segments.invalid && (segments.dirty || segments.touched)" class="alert-danger">
                    <span *ngIf="segments.errors?.required">
                      No. of Segments / Plate is Required
                    </span>
                    <span *ngIf="segments.errors?.pattern">
                      No. of Segments / Plate accepts only Numeric
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">No. of Segments / Cone<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" pattern="^\d[0-9]*$" class="form-control" Placeholder="No. of Segments / Cone"
                    name="segmentcone" [(ngModel)]="editchecklist.no_of_cone_segment" #segmentcone="ngModel"
                    appEmitfirstspace appDigitOnly required>
                  <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                  <div *ngIf="segmentcone.invalid && (segmentcone.dirty || segmentcone.touched)" class="alert-danger">
                    <span *ngIf="segmentcone.errors?.required">
                      No. of Segments / Cone is Required
                    </span>
                    <span *ngIf="segmentcone.errors?.pattern">
                      No. of Segments / Cone accepts only Numeric
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Wt. / segment (in kg.)<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Wt. / segment (in kg.)" name="segmentswt"
                    [(ngModel)]="editchecklist.wt_per_segment" #segmentswt="ngModel" required step="0.01" min="0"
                    appEmitfirstspace value="0">
                  <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                  <div *ngIf="segmentswt.invalid && (segmentswt.dirty || segmentswt.touched)" class="alert-danger">
                    <span *ngIf="segmentswt.errors?.required">
                      Wt. / segment (in kg.) is Required
                    </span>

                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Opening Stock<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Opening Stock" name="openingstock"
                    [(ngModel)]="editchecklist.opening_stock" appEmitfirstspace #openingstock="ngModel" required>
                  <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                  <div *ngIf="openingstock.invalid && (openingstock.dirty || openingstock.touched)" class="alert-danger">
                    <span *ngIf="openingstock.errors?.required">
                      Opening Stock is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'2'">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Shell Type<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">

                  <select class='select-option  form-control' required [(ngModel)]='editchecklist.cone_category'
                    #conetype="ngModel" name=checklist>
                    <option [value]="undefined" selected hidden>Select Shell</option>
                    <option [value]="null" selected hidden>Select Shell</option>
                    <option class='option' *ngFor='let option of shellcategory' [value]="option">{{option}}</option>
                  </select>
                  <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                  <div *ngIf="conetype.invalid && (conetype.dirty || conetype.touched)" class="alert-danger">
                    <span *ngIf="conetype.errors?.required">
                      Shell Type is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">RM Part No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class='select-option  form-control' required [(ngModel)]='editchecklist.part_no' #partno="ngModel"
                    name=partno (ngModelChange)='onOptionsSelected($event)'>
                    <option class='option' *ngFor='let option of options' [value]="option.id">{{option.raw_partno}}_{{option.description}}</option>
                  </select>
                  <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                  <div *ngIf="snagcodes.invalid && (snagcodes.dirty || snagcodes.touched)" class="alert-danger">
                    <span *ngIf="snagcodes.errors?.required">
                      RM Part No. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">

            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Drum Model No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class='select-option  form-control' required [(ngModel)]='editchecklist.model' #partno="ngModel"
                    name=drummodel (ngModelChange)='onOptionsSelected($event)'>
                    <option [value]="undefined" selected hidden>Select Drum Model No.</option>
                    <option [value]="null" selected hidden>Select Drum Model No.</option>
                    <option class='option' *ngFor='let option of options1' [value]="option.id">{{option.drum_model}}</option>
                  </select>
                  <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                  <div *ngIf="snagcodes.invalid && (snagcodes.dirty || snagcodes.touched)" class="alert-danger">
                    <span *ngIf="snagcodes.errors?.required">
                      Drum Model No. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">No. of Segments / Plate<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" pattern="[0-9]+([\.,][0-9]+)?" Placeholder="Enter No. of Segments / Plate"
                    name="segments" [(ngModel)]="editchecklist.no_of_plate_segment" appEmitfirstspace 
                    #segments="ngModel" required>
                  <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                  <div *ngIf="segments.invalid && (segments.dirty || segments.touched)" class="alert-danger">
                    <span *ngIf="segments.errors?.required">
                      No. of Segments / Plate is Required
                    </span>
                    <span *ngIf="segments.errors?.pattern">
                      No. of Segments / Plate accepts only Numeric
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row">

            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">No. of Segments / Shell<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" pattern="^\d[0-9]*$" class="form-control" Placeholder="No. of Segments / Shell"
                    name="segmentcone" [(ngModel)]="editchecklist.no_of_cone_segment" #segmentcone="ngModel"
                    appEmitfirstspace appDigitOnly required>
                  <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                  <div *ngIf="segmentcone.invalid && (segmentcone.dirty || segmentcone.touched)" class="alert-danger">
                    <span *ngIf="segmentcone.errors?.required">
                      No. of Segments / Shell is Required
                    </span>
                    <span *ngIf="segmentcone.errors?.pattern">
                      No. of Segments / Shell accepts only Numeric
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Wt. / segment (in kg.)<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Wt. / segment (in kg.)" name="segmentswt"
                    [(ngModel)]="editchecklist.wt_per_segment" #segmentswt="ngModel" required step="0.01" min="0"
                    appEmitfirstspace value="0">
                  <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                  <div *ngIf="segmentswt.invalid && (segmentswt.dirty || segmentswt.touched)" class="alert-danger">
                    <span *ngIf="segmentswt.errors?.required">
                      Wt. / segment (in kg.) is Required
                    </span>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reloadPage()">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
    </div> -->
</ng-template>