<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block">
          <form class="form-horizontal" name="editfrm" #editfrm="ngForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Choose ENGG.SL.NO:</label>
              <div class="col-sm-5">
                <!--<select class="form-control" name="chooseslno" [(ngModel)]="chooseslnos" #chooseslno="ngModel" required >
                  <option value="" selected disabled >Select W/O.NO</option>
                  <option value="1"> 1621222 </option>
                </select>-->
                <angular2-multiselect [data]="dropdownList" [(ngModel)]="chooseslnos" ngModel name="chooseslno" #chooseslno="ngModel" required 
                    [settings]="dropdownSettings" 
                    (onSelect)="onengineSelect($event)" 
                   ></angular2-multiselect>
                <div *ngIf="showerror" class="alert-danger">
                  <span>
                    Choose ENGG.SL.NO is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">M/C Sl.No:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" [(ngModel)]="mixer_s_no" name="choosetmclno" ngModel #choosetmclno="ngModel" readonly>
                <!--<div *ngIf="choosetmclno.invalid && (choosetmclno.dirty || choosetmclno.touched)" class="alert-danger">
                  <span *ngIf="choosetmclno.errors?.required">
                    Enter M/C Sl.No is Required
                  </span>
                </div>-->
              </div>
            </div>
          </div>            
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">W/O NO:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" [(ngModel)]="workorder_no" name="workorderno" ngModel #workorderno="ngModel" readonly>
                <!--<div *ngIf="workorderno.invalid && (workorderno.dirty || workorderno.touched)" class="alert-danger">
                  <span *ngIf="workorderno.errors?.required">
                    Choose W/O NO is Required
                  </span>
                </div>-->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">HYD.Comp:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" [(ngModel)]="waterpump_hydcombution" name="hydcomp" ngModel #hydcomp="ngModel" readonly>
                <!--<div *ngIf="hydcomp.invalid && (hydcomp.dirty || hydcomp.touched)" class="alert-danger">
                  <span *ngIf="hydcomp.errors?.required">
                    Choose HYD.Comp is Required
                  </span>
                </div>-->
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Part No:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="partno" [(ngModel)]="part_no" ngModel #partno="ngModel" readonly>
                <!--<div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                  <span *ngIf="partno.errors?.required">
                    Enter Part No is Required
                  </span>
                </div>-->
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Date:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="date" [(ngModel)]="sh_fh_created_at" ngModel #date="ngModel" readonly>
                <!--<div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert-danger">
                  <span *ngIf="date.errors?.required">
                    Choose Date is Required
                  </span>
                </div>-->
              </div>
            </div>
          </div>
        </div>
        <hr>
        
        <div class="row pull-right">
          <div class="container">            
            <button class="btn btn-warning btn-square" type="reset">
              <i class="icofont icofont-reset"></i> Reset
            </button>
            <button  class="btn btn-info btn-square" (click)="showtable()" type="button">
              <i class="icofont icofont-check"></i> Submit
            </button>
          </div>
        </div>
        </form>
        
      <!-- end of card-footer -->
      </div>
      <div class="card-block" *ngIf="submitbuttonclicked">        

        <div class="row">
          <div class="col-md-3">
            <div class="checklist" (click)="isgeneral = !isgeneral"
            [attr.aria-expanded]="!isgeneral" aria-controls="generalExample">
              <h5>General Inspection</h5>
            </div>            
          </div>
          <div class="col-md-3">
            <div class="checklist" (click)="isassembly = !isassembly"
            [attr.aria-expanded]="!isassembly" aria-controls="assemblyExample">
              <h5>Assembly Checklist</h5>
            </div>
          </div>
          <div class="col-md-3">
            <div class="checklist" (click)="issnag = !issnag"
            [attr.aria-expanded]="!issnag" aria-controls="snagExample">
              <h5>Snag Assembly Checklist</h5>
            </div>
          </div>
          <div class="col-md-3">
            <div class="checklist" (click)="isfunctional = !isfunctional"
            [attr.aria-expanded]="!isfunctional" aria-controls="functionalExample">
              <h5>Functional Testing</h5>
            </div>
          </div>
        </div>
      </div>      
      <div class="card-block" id="generalExample" [ngbCollapse]="isgeneral"> 
          <hr />       
        <div class="row table-responsive">
          <div class="row">
            <div class="container text-center">
              <h5>General Inspection</h5>
            </div>            
          </div>
          <button (click)="export()">Export</button>

          <table #generalinstable id="generalinstable" class="table datatable0 table-striped table-bordered row-border hover">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Category</th>
                <th>Sub Category</th>
                <th>Description</th>
                <th>defect_image</th>
                <th>Shift Engineer</th>
                <th>Type</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of generalinspectiontabledata;let i=index">
             
                <td>{{i+1}}</td>
                <td>{{item.category}}</td>
                <td>{{item.subcategory}}</td>
                <td>{{item.description}}</td>
                <td class="text-center">
                  <button class='btn btn-default btn-outline-default btn-icon' (click)='showimage(item.defect_image);openbulkupload(viewimage)'>
                    <i class='icofont icofont-image'></i>
                  </button>
                </td>
                <td>{{item.name}}({{item.emp_id}})</td>
                <td>
                <span *ngIf="item.related_to=='1'">Assembler</span>
                <span *ngIf="item.related_to=='2'">Testing</span>
                </td>
                </tr>        
            </tbody>
          </table>
        </div>
      </div>

      <div class="card-block" id="assemblyExample" [ngbCollapse]="isassembly"> 
          <hr />       
        <div class="row table-responsive">
          <div class="row">
            <div class="container text-center">
              <h5>Assembly Checklist</h5>
            </div>            
          </div>
          <hr/>

          <h5>VC Checklist Details</h5><br>
          <button (click)="export10()">Export</button>
          <table #vcchecklisttable id="vcchecklisttable" class="table table-striped datatable10 table-bordered row-border hover">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>checklist</th>
                <th>Assembler</th>
                <th>Shift Engineer</th>
                <th colspan="2">Value</th>
              </tr>
              <tr>
                <th colspan="4"></th>
                <th>Actual value</th>
                <th>Standard value</th>
              </tr>
            </thead>
            <tbody>
                 <tr *ngFor="let item of vcchecklistdata;let i=index">
                   <td>{{i+1}}</td>
                   <td>{{item.checklist}}</td>
                   <td>
                     <span *ngIf="item.isAssemblerCheck==true">Checked</span>
                     <span *ngIf="item.isAssemblerCheck!=true">Not Checked</span>
                  </td>
                   <td>
                      <span *ngIf="item.isShiftEngineerCheck==true">Checked</span>
                     <span *ngIf="item.isShiftEngineerCheck!=true">Not Checked</span>
                   </td>
                   <td>{{item.actualValue}}</td>
                   <td>{{item.standardValue}}</td>
                   
                 </tr>
            </tbody>
          </table>

          <hr />
          <h5>Hydraulic Combination Details</h5><br>
          <button (click)="export1()">Export</button>
          <table #hydraulictable id="hydraulictable" class="table table-striped datatable1 table-bordered row-border hover">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Components</th>
                <th>Make</th>
                <th>Model</th>
                <th>Capacity</th>
                <th>SL.NO</th>
              </tr>
            </thead>
            <tbody>
                 <tr *ngFor="let item of hydrauliccombodata;let i=index">
                   <td>{{i+1}}</td>
                   <td>{{item.component_name}}</td>
                   <td>{{item.Make}}</td>
                   <td>{{item.Model}}</td>
                   <td>{{item.Capacity}}</td>
                   <td>{{item.SLNO}}</td>
                   
                 </tr>
            </tbody>
          </table>
         <!-- <table class="table datatable table-striped table-bordered row-border hover">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Components</th>
                <th>Make</th>
                <th>Model</th>
                <th>Capacity</th>
                <th>SL.NO</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Engine</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>2</td>
                <td>Gear Box</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
              <tr>
                <td>3</td>
                <td>Hydraulic Pump</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr> 
              <tr>
                <td>4</td>
                <td>Hydraulic Motor</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>             
              <tr>
                <td>5</td>
                <td>Water Pump</td>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
              </tr>
            </tbody>
          </table>-->
          <hr />  

          <div class="row">     
            <div class="col-md-6">
              <div class="text-right">
                <button class="btn btn-primary btn-square" type="button" (click)="open(bulkupload1)">
                  View Welder Details
                </button>
                <button class="btn btn-info btn-square" type="button" (click)="open1(bulkupload)">
                  View Fitter Details
                </button>
              </div>        
            </div>
          </div>
          <button (click)="export2()">Export</button>      
          <table #assemblychecklist2 id="assemblychecklist2" class="table table-striped datatable2 table-bordered row-border hover">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Inspection Points</th>
                <th>Conformance</th>
                <th>Inspector</th>
              </tr>
            </thead>
            <tbody>
              <!--<tr>
                <td>1</td>
                <td>Check al above Hydraulic details are ok</td>
                <td>Confirmed</td>                
                <td>Senthilkumar</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Check Channel settings are as per Standard mentioned above</td>
                <td>Confirmed</td>
                <td>Megala</td>
              </tr>   -->
              <tr *ngFor="let item of ins_checklistdata;let i=index">
                <td>{{i+1}}</td>
                <td>{{item.InspectionPoints}}</td>
                <td>
                  <span *ngIf="item.Conformance=='true' || item.Conformance==true ">Yes</span>
                  <span *ngIf="item.Conformance=='false' || item.Conformance==false ">No</span>
                </td>
                <td>{{assemby_insname}}</td>
                
              </tr>          
            </tbody>
          </table>
        </div>
      </div>

      <div class="card-block" id="snagExample" [ngbCollapse]="issnag"> 
          <hr />       
        <div class="row table-responsive">
          <div class="row">
            <div class="container text-center">
              <h5>Snag Assembly Checklist</h5>
            </div>            
          </div>
          <button (click)="export5()">Export</button>  
          <table #snagassembly id="snagassembly" class="table table-striped datatable3 table-bordered row-border hover">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Inspection Points</th>
                <th>Snag Code</th>
                <th>Problem Reported</th>
                <th>Problem Rectified</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of snaginspectiondata;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.snag_description}}</td>
                    <td>{{item.snag_code}}</td>
                    <td>
                      <span *ngIf="item.report_value==1">Yes</span>
                      <span *ngIf="item.report_value==0">No</span>
                    </td>
                    <td>{{item.name}}</td>
                   
                    
                  </tr>
             <!-- <tr>
                <td>1</td>
                <td>Torque Mark is not available in all bolts - Gear Box Flange</td>
                <td>A-Sng 01</td>
                <td>Yes</td>
                <td>Senthilkumar</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Torque Mark is not available in all bolts - Gear Box Base Bolt</td>
                <td>A-Sng 02</td>
                <td>No</td>
                <td>Megala</td>
              </tr>     -->         
            </tbody>

          </table>
        </div>
      </div>

      <div class="card-block" id="functionalExample" [ngbCollapse]="isfunctional"> 
        <hr />       
        <div class="row table-responsive">
          <div class="row">
            <div class="container text-center">
              <h5>Functional Testing</h5>
            </div>            
          </div>

          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Tested By Date:</label>                           
                <div class="col-sm-5">
                  <input type="text" class="form-control" [(ngModel)]="functionaltesteddate" name="testedbydate" ngModel #testedbydate="ngModel" required readonly>
                <!--  <div *ngIf="testedbydate.invalid && (testedbydate.dirty || testedbydate.touched)" class="alert-danger">
                    <span *ngIf="testedbydate.errors?.required">
                      Choose Tested By Date Required
                    </span>
                  </div>-->
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Tested By Name:</label>                           
                <div class="col-sm-5">
                  <input type="text" class="form-control" [(ngModel)]="functionaltestedbyname" name="testedbyname" ngModel #testedbyname="ngModel" required readonly>
                  <!--<div *ngIf="testedbyname.invalid && (testedbyname.dirty || testedbyname.touched)" class="alert-danger">
                    <span *ngIf="testedbyname.errors?.required">
                      Choose Tested By Name Required
                    </span>
                  </div>-->
                </div>
              </div>
            </div>
          </div>  
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">   
                                         
                <div class="col-sm-5">
                  <!-- <input type="text" class="form-control" name="supervisorsign" [(ngModel)]="painter_supervisor" #supervisorsign="ngModel" required readonly> -->
                
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Signature:</label>                           
                <div class="col-sm-5">
                  <a><img src="{{assembler_sign ||'assets/images/signature1.png'}}" class="form-control" height="100" width="200" alt="Signature Not Upload"  onerror="this.onerror=null;this.src='assets/images/signature1.png'"/></a>         
                </div>
              </div>
            </div>
          </div>   
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Problem Rectified By Date:</label>                           
                <div class="col-sm-5">
                  <input type="text" class="form-control" [(ngModel)]="rectifiedbydate" name="problemrectifiedbydate" ngModel #problemrectifiedbydate="ngModel" required readonly>
                  <!--<div *ngIf="problemrectifiedbydate.invalid && (problemrectifiedbydate.dirty || problemrectifiedbydate.touched)" class="alert-danger">
                    <span *ngIf="problemrectifiedbydate.errors?.required">
                      Choose Problem Rectified By Date Required
                    </span>
                  </div>-->
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Problem Rectified By Name:</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" [(ngModel)]="rectifiedbyname" name="problemrectifiedbyname" ngModel #problemrectifiedbyname="ngModel" required readonly>
                  <!--<div *ngIf="problemrectifiedbyname.invalid && (problemrectifiedbyname.dirty || problemrectifiedbyname.touched)" class="alert-danger">
                    <span *ngIf="problemrectifiedbyname.errors?.required">
                      Choose Problem Rectified By Name Required
                    </span>
                  </div>-->
                </div>
              </div>
            </div>
          </div> 
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">   
                <div class="col-sm-5">
                  <!-- <input type="text" class="form-control" name="supervisorsign" [(ngModel)]="painter_supervisor" #supervisorsign="ngModel" required readonly> -->
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Signature:</label>                           
                <div class="col-sm-5">
                  <a><img src="{{assembler2_sign ||'assets/images/signature1.png'}}" class="form-control" height="100" width="200" alt="Signature Not Upload"  onerror="this.onerror=null;this.src='assets/images/signature1.png'"/></a>         
                </div>
              </div>
            </div>
          </div>  
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Prodution Engineer By Date:</label>                           
                <div class="col-sm-5">
                  <input type="text" class="form-control" [(ngModel)]="func_engineerdate" name="productonengineerbydate" ngModel #productonengineerbydate="ngModel" required readonly>
                  <!--<div *ngIf="productonengineerbydate.invalid && (productonengineerbydate.dirty || productonengineerbydate.touched)" class="alert-danger">
                    <span *ngIf="productonengineerbydate.errors?.required">
                      Choose Prodution Engineer By Date Required
                    </span>
                  </div>-->
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Prodution Engineer By Name:</label>
                <div class="col-sm-5">
                  <input type="text" class="form-control" [(ngModel)]="func_engineername" name="productonengineerbyname" ngModel #productonengineerbyname="ngModel" required readonly>
                  <!--<div *ngIf="productonengineerbyname.invalid && (productonengineerbyname.dirty || productonengineerbyname.touched)" class="alert-danger">
                    <span *ngIf="productonengineerbyname.errors?.required">
                      Choose Prodution Engineer By Name Required
                    </span>
                  </div>-->
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">   
                                          
                <div class="col-sm-5">
                  
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Signature:</label>                           
                <div class="col-sm-5">
                  <a><img src="{{qc_sign ||'assets/images/signature1.png'}}" class="form-control" height="100" width="200" alt="Signature Not Upload"  onerror="this.onerror=null;this.src='assets/images/signature1.png'"/></a>         
                </div>
              </div>
            </div>
          </div>  
          <hr />
          <button (click)="export6()">Export</button>  
          <table #functionaltable id="functionaltable" class="table table-striped datatable4 table-bordered row-border hover">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Inspection Points</th>
                <th>Assembler</th>
                <th>Shift Engineer</th>
                <th>Comments</th>
              </tr>
            </thead>
            <tbody>
                
               <tr *ngFor="let item of enginefunctionaldata;let i=index">
                <td>{{i+1}}</td>
                <td>{{item.inspection_points}}</td>
                <td>
                  <span *ngIf="isAssembler1Checked"><div align="Center"><i class="icofont icofont-tick-mark" style="color:#008000;"></i></div></span>
                  <span *ngIf="!isAssembler1Checked"><div align="Center"><i class="icofont icofont-close" style="color:#FF0000;"></i></div></span>
                </td>
                <td> <span *ngIf="isAssembler2Checkked"><div align="Center"><i class="icofont icofont-tick-mark" style="color:#008000;"></i></div></span>
                  <span *ngIf="!isAssembler2Checkked"><div align="Center"><i class="icofont icofont-close" style="color:#FF0000;"></i></div></span></td>
                <td>
                  <span *ngIf="remarks!=''">{{item.remarks}}</span>
                  <span *ngIf="remarks==''">NA</span>
                </td>
              </tr>
                           
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>
</div>

<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Fitter Details</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
        <div class="col-md-12 col-sm-12 col-lg-12">
           <!-- <button (click)="export4()">Export</button>  -->
          <table #fittertable id="fittertable" class="table table-striped datatable5 table-bordered row-border hover">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Assembly Stage</th>
               <!-- <th>Fitter No</th>-->
                <th>Emp No</th>
                <th>Emp Name</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of fittertable;let i=index">
                  <td>{{i+1}}</td>
                  <td>{{item.list_of_operation}}</td>
                  <!--<td></td>-->
                  <td>{{item.emp_no}}</td>
                  <td>{{item.name}}</td>
                </tr>
              </tbody>
          </table>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>

<ng-template #bulkupload1 let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Welder Details</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
          <div class="col-md-12 col-sm-12 col-lg-12">
              <!--<button (click)="export3()">Export</button>-->  
            <table #weldertable1 id="weldertable" class="table table-striped datatable6 table-bordered row-border hover">
              <thead>
                <tr>
                  <th>S.No.</th>
                  <th>Assembly Stage</th>
                  <!--<th>Welder No</th>-->
                  <th>Emp No</th>
                  <th>Emp Name</th>
                </tr>
              </thead>
              <tbody>
                  <tr *ngFor="let item of weldertable;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.list_of_operation}}</td>
                    <!--<td></td>-->
                    <td>{{item.emp_no}}</td>
                    <td>{{item.name}}</td>
                  </tr>
              </tbody>
            </table>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
    </div>
  </ng-template>
  <!-- image view -->
  <ng-template #viewimage let-c="close" let-d="dismiss">
    <div class="modal-body">
      <button type="button" class="close basic-close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
      <img src="{{defect_image}}" class="form-control" height="400" width="300"  onerror="this.onerror=null;this.src='assets/images/signature1.png'">
    </div>
  </ng-template>
  