<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Performance Scale</h5>
        <p class="mandatoryfiles">* Fields Are mandatory</p>
      </div>
      <div class="card-block">
        <form class="form-horizontal" #frm="ngForm" (ngSubmit)="addperformancescale(frm)">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Scale Value<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="Enter Scale Value" name="scalevalue" appDigitOnly appEmitfirstspace [(ngModel)]="svalue" #scalevalue="ngModel" pattern="^\d[0-9]*$"
                    readonly>
                  <div *ngIf="scalevalue.invalid && (scalevalue.dirty || scalevalue.touched)" class="alert-danger">
                    <span *ngIf="scalevalue.errors?.required">
                      Scale Value is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Description<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" placeholder="Enter Description" name="description" appEmitfirstspace ngModel #description="ngModel"
                    required>
                  <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert-danger">
                    <span *ngIf="description.errors?.required">
                      description is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>

          </div>
          <div class="row">

              <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Min. Count<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">                    
                      <input type="text" class="form-control" Placeholder="Enter Max. Count" name="mincount" ngModel appDigitOnly appEmitfirstspace #mincount="ngModel" pattern="^\d[0-9]*$"  required>
                      <div *ngIf="mincount.invalid && (mincount.dirty || mincount.touched)" class="alert-danger">
                        <span *ngIf="mincount.errors?.required">
                          Min. Count is Required
                        </span>                  
                      </div>
                    </div>
                  </div>
                </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Max. Count<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">                    
                  <input type="text" class="form-control" Placeholder="Enter Max. Count" name="maxcount" ngModel appDigitOnly appEmitfirstspace #maxcount="ngModel" pattern="^\d[0-9]*$"  required>
                  <div *ngIf="maxcount.invalid && (maxcount.dirty || maxcount.touched)" class="alert-danger">
                    <span *ngIf="maxcount.errors?.required">
                      Max. Count is Required
                    </span>                  
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div>
            <div class="form-group row float-right">

              <button class="btn btn-primary btn-square" type="submit">
                <i class="icofont icofont-tick-mark"></i> Submit
              </button>
              <!-- <button class="btn btn-info btn-square" type="button" (click)="reset(frm)">
                            <i class="icofont icofont-refresh"></i> Reset
                          </button> -->
              <!-- <button class="btn btn-info btn-square" type="button">
                          <i class="icofont icofont-refresh"></i> Reset
                        </button> -->
              <!-- end of dropdown menu -->
            </div>
          </div>
        </form>


      </div>

      <!-- end of card-footer -->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Scale Value</th>
              <th>Description</th>
              <th>Min. Count</th>              
              <th>Max. Count</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of employees;let i=index">
              <td>{{i+1}}</td>
              <td>{{item.scale_value}}</td>
              <td>{{item.description}}</td>
              <td>{{item.min_value}}</td>              
              <td>{{item.max_value}}</td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="text-left">
      <h4 class="modal-title">Edit Contractor Master</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="text-right">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editemployeeperformance(editfrm)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editemployees.id"
                required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Scale Value<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Enter Scale Value" name="scalevalue" appDigitOnly appEmitfirstspace [(ngModel)]=editemployees.scale_value #scalevalue="ngModel" pattern="^\d[0-9]*$"
                readonly>
              <div *ngIf="scalevalue.invalid && (scalevalue.dirty || scalevalue.touched)" class="alert-danger">
                <span *ngIf="scalevalue.errors?.required">
                  Scale Value is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Description<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" placeholder="Enter Description" name="description" appEmitfirstspace [(ngModel)]=editemployees.description #description="ngModel"
                required>
              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert-danger">
                <span *ngIf="description.errors?.required">
                  description is Required
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">

          <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Min. Count<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">                    
                  <input type="text" class="form-control" Placeholder="Enter Max. Count" name="mincount" [(ngModel)]=editemployees.min_value appDigitOnly appEmitfirstspace #mincount="ngModel" pattern="^\d[0-9]*$"  required>
                  <div *ngIf="mincount.invalid && (mincount.dirty || mincount.touched)" class="alert-danger">
                    <span *ngIf="mincount.errors?.required">
                      Min. Count is Required
                    </span>                  
                  </div>
                </div>
              </div>
            </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Max. Count<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">                    
              <input type="text" class="form-control" Placeholder="Enter Max. Count" name="maxcount" [(ngModel)]=editemployees.max_value appDigitOnly appEmitfirstspace #maxcount="ngModel" pattern="^\d[0-9]*$"  required>
              <div *ngIf="maxcount.invalid && (maxcount.dirty || maxcount.touched)" class="alert-danger">
                <span *ngIf="maxcount.errors?.required">
                  Max. Count is Required
                </span>                  
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');;reset()">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>    