<div class="row">
    <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="row">
              <div class="col-md-6">
                  <h5>Mixer Assembly</h5>
                  <p class="mandatoryfiles">* Fields Are mandatory</p>
                </div>
                <div class="col-md-6">
                  <div class="text-right">
                    <button class="btn btn-primary btn-square" type="button" (click)="open(bulkupload)">
                        <i class="icofont icofont-upload"></i> Bulk Upload
                      </button>
                  </div>
                </div>
          </div>
          
        </div>
        <div class="card-block">
            <form class="form-horizontal" #frm="ngForm" (ngSubmit)="createmixerplanning(frm)">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Workorder No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Workorder No." name="workorderno" ngModel pattern="^\d[0-9]*$" #workorderno="ngModel" required appEmitfirstspace appDigitOnly >
                    <div *ngIf="workorderno.invalid && (workorderno.dirty || workorderno.touched)" class="alert-danger">
                      <span *ngIf="workorderno.errors?.required">
                      Workorder Number is Required
                      </span>
                      <span *ngIf="workorderno.errors?.pattern">
                        Accepts only Numeric.
                      </span>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Mixer Model No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class='select-option  form-control' required [(ngModel)]="modelnos" name="modelno" #mixermodel="ngModel" (ngModelChange)='onOptionsSelected($event)'>
                    <option [value]="undefind" selected hidden>Select Model No.</option>
                    <option [value]="null" selected hidden>Select Model No.</option>
                    <option class='option' *ngFor='let option of options' [value]="option.mixer_model">{{option.mixer_model}}</option>
                  </select> 
                  <div *ngIf="mixermodel.invalid && (mixermodel.dirty || mixermodel.touched)" class="alert-danger">
                    <span *ngIf="mixermodel.errors?.required">
                    Mixer model Number is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Part No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                   <!--  <input type="text" class="form-control" name="partno" [(ngModel)]="partno" #partnos="ngModel"
                      required readonly> -->
                    <select class='select-option  form-control' required [(ngModel)]="partnoss" #partno="ngModel" name="partno">
                      <option [value]="undefined" selected hidden>Select Part No.</option>
                      <option [value]="null" selected hidden>Select Part No.</option>
                      <option class='option' *ngFor='let option of partnos.message' [value]="option.id">{{option.part_no}}</option>
                    </select>
                    <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                      <span *ngIf="partno.errors?.required">
                      Part Number is Required
                      </span>
                    </div>
              </div>
            </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Plan Schedule<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" name="date" max='2020-01-01' ngModel #date="ngModel"
                      required>
                    <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert-danger">
                      <span *ngIf="date.errors?.required">
                      Select Date is required
                      </span>
                    </div>
              </div>
              </div>
            </div>
          </div>
          <hr>
          <div>
              <div class="form-group row float-right">
                
                  <button class="btn btn-primary btn-square" type="submit" [disabled]="!frm.form.valid">
                      <i class="icofont icofont-tick-mark"></i> Submit
                  </button>
                  <button class="btn btn-info btn-square" type="button" (click)="reset(frm)">
                    <i class="icofont icofont-refresh"></i> Reset
                  </button>
                  <!-- end of dropdown menu -->
                </div>
          </div>
          </form>
        </div>
      
        <!-- end of card-footer -->
      </div>
  </div>
</div>

<div class="row">
    <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-block table-responsive">
          <div class="text-right">
            <button class="btn btn-primary btn-square" type="button" (click)="openmodal(mail)">
              <i class="icofont icofont-upload"></i> Intimate to
            </button>
          </div>
          <table class="datatable table table-striped table-bordered  row-border hover">
            <thead>
              <tr>
                <th></th>
                <th>S.No.</th>
                <th>Workorder No.</th>
                <th>Mixer Model No.</th>
                <th>Part No.</th>
                <th>Plan Schedule</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of details;let i=index">
                <td><input type="checkbox" [(ngModel)]="item.selected" name="menu1" [value]="item.id" id="{{item.id}}" (change)="checkValue(item.id,$event.target.checked)"></td>
                <td>{{i+1}}</td>
                <td>{{item.workorder_no}}</td>
                <td>{{item.mixer_modelno}}</td>
                <td>{{item.partno}}</td>
                <td>{{item.plan_schedule}}</td>
                <td>
                  <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                    <i class='icofont icofont-fountain-pen'></i>
                  </button>
                  <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletemixerplanning(item.id)'>
                    <i class='icofont icofont-trash'></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end of card-footer -->
      </div>
    </div>
  </div>

<!-- Edit -->

<ng-template #edit let-c="close" let-d="dismiss">
    <div class="modal-header">
      <div class="col-md-6">
        <h4 class="modal-title">Edit Mixer Assembly</h4>
        <p class="mandatoryfiles">* Fields Are mandatory</p>
      </div>
      <div class="col-md-6">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reloadPage()">
          <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editmixerplanning(editfrm,edit)">
        <div class="row" style="display:none">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Id</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editplanning.id" required #eid="ngModel">
                <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                  <span *ngIf="eid.errors?.required">
                    ID is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Workorder No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Workorder No." name="workorderno" [(ngModel)]="editplanning.workorder_no" #workorderno="ngModel" appEmitfirstspace appDigitOnly required pattern="^\d[0-9]*$">
                    <div *ngIf="workorderno.invalid && (workorderno.dirty || workorderno.touched)" class="alert-danger">
                      <span *ngIf="workorderno.errors?.required">
                      Workorder Number is Required
                      </span>
                      <span *ngIf="workorderno.errors?.pattern">
                        Workorder Number accepts only Numeric
                      </span>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Mixer Model No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                    <select class='select-option  form-control' required [(ngModel)]="editplanning.mixer_modelno" #mixermodel="ngModel" name="modelno" (ngModelChange)='onOptionsSelected($event)'>
                      <option [value]="undefined" selected hidden>Select Mixer Model No.</option>
                      <option [value]="null" selected hidden>Select Mixer Model No.</option>
                      <option class='option' *ngFor='let option of options' [value]="option.mixer_model">{{option.mixer_model}}</option>
                    </select> 
                    <div *ngIf="mixermodel.invalid && (mixermodel.dirty || mixermodel.touched)" class="alert-danger">
                      <span *ngIf="mixermodel.errors?.required">
                      Mixer model Number is Required
                      </span>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Part No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                    <select class='select-option  form-control' required [(ngModel)]="editplanning.part_no" #partnoss="ngModel" name="partno">
                      <option [value]="undefined" selected hidden>Select Part No.</option>
                      <option [value]="null" selected hidden>Select Part No.</option>
                      <option class='option' *ngFor='let option of partnos.message' [value]="option.id">{{option.part_no}}</option>
                    </select>
                    <!-- <input type="text" class="form-control" Placeholder="Enter Part No." name="partno" [(ngModel)]="editplanning.part_no" #partno="ngModel"
                      required readonly> -->
                    <div *ngIf="partnoss.invalid && (partnoss.dirty || partnoss.touched)" class="alert-danger">
                      <span *ngIf="partnoss.errors?.required">
                      Part Number is Required
                      </span>
                    </div>
              </div>
            </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Plan Schedule<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                    <input type="date" class="form-control" name="date" max='2020-01-01'  [(ngModel)]="editplanning.plan_schedule" #date="ngModel"
                      required>
                    <div *ngIf="date.invalid && (date.dirty || date.touched)" class="alert-danger">
                      <span *ngIf="date.errors?.required">
                      Select Date is required
                      </span>
                    </div>
              </div>
              </div>
            </div>
          </div>
        <hr>
        <div class="form-group row float-right">
          <div class="col-sm-6">
            <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reloadPage()">Close</button>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
          </div>
        </div>
      </form>
    </div>
    <!-- <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
    </div> -->
  </ng-template>
<ng-template #mail let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Mixer Assembly Plan</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" name="addform" #frm="ngForm"  (ngSubmit)="addmailingstatus()">
              <div class="container" >
          <div class="row">
              <div class="col-sm-4">
                  <div>
                    <label class="label-control">Select Users :
                    </label>
                  </div>
                </div>
            <div class="col-sm-8" >
  
                <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" ngModel name="selectedemails" #selectedemails="ngModel" required 
                [settings]="dropdownSettings" 
                (onSelect)="onItemSelect($event)" 
                (onDeSelect)="OnItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
                <div *ngIf="selectedemails.invalid && (selectedemails.dirty || selectedemails.touched)" class="alert-danger">
                  <span *ngIf="selectedemails.errors?.required">
                  Role is Required
                  </span>
                </div>
            
              
            </div>
          
          </div>
        </div>
  
        <hr>
        <div class="form-group row float-right">
          <div class="col-sm-6">
            <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
          </div>
        </div>
      </form>
    </div>   
</ng-template>
<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class="
              btn btn-default">
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>