<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="row">
            <div class="col-md-6">
                <h5>Assembly Internal</h5>
                <p class="mandatoryfiles">* Fields Are mandatory</p>
              </div>
              <div class="col-md-6">
                <div class="text-right">
                  <button class="btn btn-primary btn-square" type="button" (click)="open(bulkupload)">
                    <i class="icofont icofont-upload"></i> Bulk Upload
                  </button>
                </div>        
              </div>
        </div>
          
      </div>
      <div class="card-block">
        <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="addassyinternal(frm,addnew)">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Header No<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="headernos" [(ngModel)]="headers.headerno" #headernos="ngModel" required>
                    <option [value]="undefined" hidden selected> please select Header No.</option>
                    <option [value]="null" hidden selected> please select Header No.</option>
                    <option *ngFor="let assyheaders of assyheader.message" [value]="assyheaders.id">{{assyheaders.headerno}}_{{assyheaders.obj_desc
                      }}</option>
                  </select>
                  <div *ngIf="headernos.invalid && (headernos.dirty || headernos.touched)" class="alert-danger">
                    <span *ngIf="headernos.errors?.required">
                      Header No. Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Part No <span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Part No" appEmitfirstspace appDigitOnly pattern="^\d[0-9]*$" name="partno" ngModel #partno="ngModel"
                    required>
                  <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                    <span *ngIf="partno.errors?.required">
                      Part Number Required
                    </span>
                    <span *ngIf="partno.errors?.pattern">
                      Accepts only Numeric.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Object Description <span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Description" name="desc" appEmitfirstspace ngModel #desc="ngModel" required>
                  <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                    <span *ngIf="desc.errors?.required">
                      Description Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Qty <span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Qty" name="qty" ngModel appEmitfirstspace appDigitOnly #qty="ngModel" pattern="^\d[0-9]*$" required>
                  <div *ngIf="qty.invalid && (qty.dirty || qty.touched)" class="alert-danger">
                    <span *ngIf="qty.errors?.required">
                      Quantity Required
                    </span>
                    <span *ngIf="qty.errors?.pattern">
                      Quantity accepts only Numeric value
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Unit <span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <!-- <input type="text" class="form-control" placeholder="Unit" name="unit" ngModel #unit="ngModel" pattern="^\d[0-9]*$"
                        required> -->
                      <select class="form-control" name="unit" [(ngModel)]="selectunit" #unit="ngModel" required>
                        <option [value]="undefined" hidden selected> please select Unit</option>
                        <option [value]="null" hidden selected> please select Unit</option>
                        <option value="1">PC</option>
                        <option value="2">KG</option>
                        <option value="3">MTR</option>
                        <option value="4">LTR</option>
                        <option value="5">UN</option>
                      </select> 
                    <div *ngIf="unit.invalid && (unit.dirty || unit.touched)" class="alert-danger">
                        <span *ngIf="unit.errors?.required">
                        Unit is Required
                        </span>
                        <span *ngIf="unit.errors?.pattern">
                        Unit should be Numeric
                        </span>
                    </div>
                    
                  </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Class <span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="class" [(ngModel)]="classes" #class="ngModel" required>
                    <option [value]="undefined" hidden selected> please select Class</option>
                    <option [value]="null" hidden selected> please select Class</option>
                    <option [value]="1">A</option>
                    <option [value]="2">B</option>
                    <option [value]="3">C</option>
                    <option [value]="4">Others</option>
                  </select>
                  <div *ngIf="class.invalid && (class.dirty || class.touched)" class="alert-danger">
                    <span *ngIf="class.errors?.required">
                      Class is Required
                    </span>
                    <span *ngIf="class.errors?.pattern">
                      Class should be Numeric
                    </span>
                  </div>
                </div>
              </div>
            </div>               
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Work Station <span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="workstations" [(ngModel)]="workstation" #workstations="ngModel" required>
                      <option [value]="undefined" hidden selected> please select Work Station</option>
                      <option [value]="null" hidden selected> please select Work Station</option>
                    <option *ngFor="let operations of assyoperations.message" [value]="operations.id">{{operations.operation_code}}-{{operations.list_of_operation}}</option>
                  </select>
                  <div *ngIf="workstations.invalid && (workstations.dirty || workstations.touched)" class="alert-danger">
                    <span *ngIf="workstations.errors?.required">
                        Work Station Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div [ngSwitch]="classes">
            <div *ngSwitchCase="'3'">
            <hr>
              <div class="row">   
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Storage Location <span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" Placeholder="Enter Storage Location" appEmitfirstspace name="storage_location" ngModel #storage_location="ngModel" required>
                      <div *ngIf="storage_location.invalid && (storage_location.dirty || storage_location.touched)" class="alert-danger">
                        <span *ngIf="storage_location.errors?.required">
                          Storage Location Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>                       
                                                
                </div>
                <div class="row">
                  <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">Bin Model <span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <select name="binmodel" id="" class="form-control" [(ngModel)]="selectbinmodel" #binmodel="ngModel" required>
                            <option [value]="undefined" hidden selected> please select Bin Model</option>
                            <option [value]="null" hidden selected> please select Bin Model</option>
                            <option [value]="1">Nilkamal</option>
                            <option [value]="2">Power King</option>
                            <option [value]="3">Steel Bin</option>
                            <option [value]="4">Supreme</option>
                          </select>
                          <div *ngIf="binmodel.invalid && (binmodel.dirty || binmodel.touched)" class="alert-danger">
                            <span *ngIf="binmodel.errors?.required">
                              Bin Model is Required
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">Bin Size <span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <select name="binsize" id="" class="form-control" [(ngModel)]="bin_size" #binsize="ngModel" required (change)="getlabesize(binsize.value)">                            
                            <option [value]="undefined" hidden selected> please select Size</option>
                            <option [value]="null" hidden selected> please select Size</option>
                            <option [value]="1">15</option>
                            <option [value]="2">25</option>
                            <option [value]="3">45</option>
                            <option [value]="4">100</option>
                            <option [value]="5">Steel Bin</option>
                          </select>
                          <div *ngIf="binsize.invalid && (binsize.dirty || binsize.touched)" class="alert-danger">
                            <span *ngIf="binsize.errors?.required">
                              Bin Size is Required
                            </span>
                            <span *ngIf="binsize.errors?.pattern">
                              Bin Size is accepts only Numeric
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>                              
                </div>
                <div class="row">
                  <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">Label Size <span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" Placeholder="Enter Label Size" name="label_size" [(ngModel)]="getlabelsize" #label_size="ngModel" required readonly>
                          <div *ngIf="label_size.invalid && (label_size.dirty || label_size.touched)" class="alert-danger">
                            <span *ngIf="label_size.errors?.required">
                              Label Size is Required
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>

            </div>
          </div>  
          
          <hr>
          <div class="form-group row float-right">
            <div class="col-sm-6">
              <button type="button" class="btn btn-default waves-effect pull-right" (click)="reset(frm)">Reset</button>
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Header No.</th>
              <th>Header Desc.</th>
              <th>Part No</th>
              <th>Object Description</th>
              <th>Quantity</th>              
              <th>Unit</th>
              <th>Class</th>
              <th>Storage Location</th>
              <th>Work station</th>
              <th>Bin Model</th>
              <th>Bin Size</th>
              <th>Label Size</th>              
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of assyinternal.message;let i=index">
              <td>{{i+1}}</td>
              <td>{{item.HEADERNO}}</td>
              <td>{{item.OBJ_DESC}}</td>
              <td>{{item.PART_NO}}</td>
              <td>{{item.DESCRIPTION}}</td>
              <td>{{item.QTY}}</td>
              <td [ngSwitch]="item.UNIT">
                <p *ngSwitchCase="'1'">PC</p>
                <p *ngSwitchCase="'2'">KG</p>
                <p *ngSwitchCase="'3'">MTR</p>
                <p *ngSwitchCase="'4'">LTR</p>
                <p *ngSwitchCase="'5'">UN</p>
              </td>
              <td [ngSwitch]="item.CLASS">
                <p *ngSwitchCase="'1'">A</p>
                <p *ngSwitchCase="'2'">B</p>
                <p *ngSwitchCase="'3'">C</p>
                <p *ngSwitchCase="'4'">Others</p>
              </td>
              <td>{{item.STORAGE_LOCATION}}</td>
              <td>{{item.LIST_OF_OPERATION}}</td>
              <td [ngSwitch]="item.BIN_MODEL">
                <p *ngSwitchCase="'1'">Nilkamal</p>
                <p *ngSwitchCase="'2'">Power King</p>
                <p *ngSwitchCase="'3'">Steel Bin</p>
                <p *ngSwitchCase="'4'">Supreme</p>
              </td>
              <td [ngSwitch]="item.BIN_SIZE">
                <p *ngSwitchCase="'1'">15</p>
                <p *ngSwitchCase="'2'">25</p>
                <p *ngSwitchCase="'3'">45</p>
                <p *ngSwitchCase="'4'">100</p>
                <p *ngSwitchCase="'5'">Steel Bin</p>
              </td>
              <td>{{item.LABEL_SIZE}}</td>              
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deleteassyinternal(item.ID,item.HEADER_NO)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Edit -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="text-left">
      <h4 class="modal-title">Edit Assembly Internal Parts</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="text-right">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(editfrm)">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editassyinternal(editfrm,edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editassyinternals.ID" required
                #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Header No. <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="headernos" [(ngModel)]="editassyinternals.HEADER_NO" #headernoss="ngModel" required>
                <option [value]="undefined" hidden selected> please select Header No.</option>
                <option [value]="null" hidden selected> please select Header No.</option>
                <option *ngFor="let assyheaders of assyheader.message" [value]="assyheaders.id">{{ assyheaders.obj_desc }}
                </option>
              </select>
              <div *ngIf="headernoss.invalid && (headernoss.dirty || headernoss.touched)" class="alert-danger">
                <span *ngIf="headernoss.errors?.required">
                  Header No. Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Part No. <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Part No" appEmitfirstspace appDigitOnly pattern="^\d[0-9]*$" name="partno" [(ngModel)]="editassyinternals.PART_NO"
                #partnoss="ngModel" required>
              <div *ngIf="partnoss.invalid && (partnoss.dirty || partnoss.touched)" class="alert-danger">
                <span *ngIf="partnoss.errors?.required">
                  Part Number Required
                </span>
                <span *ngIf="partnoss.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Object Description <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Description" name="desc" appEmitfirstspace [(ngModel)]="editassyinternals.DESCRIPTION"
                #descs="ngModel" required>
              <div *ngIf="descs.invalid && (descs.dirty || descs.touched)" class="alert-danger">
                <span *ngIf="descs.errors?.required">
                  Description Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Qty <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Qty" name="qty" appEmitfirstspace appDigitOnly [(ngModel)]="editassyinternals.QTY" #qtys="ngModel"
                pattern="^\d[0-9]*$" required>
              <div *ngIf="qtys.invalid && (qtys.dirty || qtys.touched)" class="alert-danger">
                <span *ngIf="qtys.errors?.required">
                  Quantity Required
                </span>
                <span *ngIf="qtys.errors?.pattern">
                  Quantity accepts only Numeric value
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
              <label class="col-sm-4 col-form-label">Unit <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <!-- <input type="text" class="form-control" placeholder="Unit" name="unit" [(ngModel)]="editassyinternals.UNIT" #unit="ngModel" pattern="^\d[0-9]*$"
                    required> -->
                  <select class="form-control" name="unit" [(ngModel)]="editassyinternals.UNIT" #unit="ngModel" required>
                    <option [value]="undefined" hidden selected> please select Unit</option>
                    <option [value]="null" hidden selected> please select Unit</option>
                    <option [value]="1">PC</option>
                    <option [value]="2">KG</option>
                    <option [value]="3">MTR</option>
                    <option [value]="4">LTR</option>
                    <option [value]="5">UN</option>
                  </select>
                <div *ngIf="unit.invalid && (unit.dirty || unit.touched)" class="alert-danger">
                    <span *ngIf="unit.errors?.required">
                    Unit is Required
                    </span>
                    <span *ngIf="unit.errors?.pattern">
                    Unit should be Numeric
                    </span>
                </div>
                
              </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Class <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="class" [(ngModel)]="editassyinternals.CLASS" #classes="ngModel" required>
                <option [value]="undefined" hidden selected> please select Class</option>
                <option [value]="null" hidden selected> please select Class</option>
                <option value="1">A</option>
                <option value="2">B</option>
                <option value="3">C</option>
                <option value="4">Others</option>
              </select>
              <div *ngIf="classes.invalid && (classes.dirty || classes.touched)" class="alert-danger">
                <span *ngIf="classes.errors?.required">
                  Class is Required
                </span>
                <span *ngIf="classes.errors?.pattern">
                  Class should be Numeric
                </span>
              </div>
            </div>
          </div>
        </div>               
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Work Station <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="workstations" [(ngModel)]="editassyinternals.WORKSTATIONNAME" #workstations="ngModel" required>
                  <option [value]="undefined" hidden selected> please select Work Station</option>
                  <option [value]="null" hidden selected> please select Work Station</option>
                <option *ngFor="let operations of assyoperations.message" [value]="operations.id">{{operations.list_of_operation}}</option>
              </select>
              <div *ngIf="workstations.invalid && (workstations.dirty || workstations.touched)" class="alert-danger">
                <span *ngIf="workstations.errors?.required">
                  Work Station Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div [ngSwitch]="editassyinternals.CLASS">
        <div *ngSwitchCase="'3'">
          <hr>
          <div class="row">

            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Storage Location <span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Storage Location" appEmitfirstspace name="storage_location" [(ngModel)]="editassyinternals.STORAGE_LOCATION" #storage_location="ngModel"
                    required>
                  <div *ngIf="storage_location.invalid && (storage_location.dirty || storage_location.touched)" class="alert-danger">
                    <span *ngIf="storage_location.errors?.required">
                      Storage Location Required
                    </span>
                  </div>
                </div>
              </div>        
            </div>
              
                    
          </div>
          <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Bin Model <span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <select name="binmodel" id="" class="form-control" [(ngModel)]="editassyinternals.BIN_MODEL" #binmodel="ngModel" required>
                      <option [value]="undefined" hidden selected> please select Bin Model</option>
                      <option [value]="null" hidden selected> please select Bin Model</option>
                      <option value="1">Nilkamal</option>
                      <option value="2">Power King</option>
                      <option value="3">Steel Bin</option>
                      <option value="4">Supreme</option>
                    </select>
                    <div *ngIf="binmodel.invalid && (binmodel.dirty || binmodel.touched)" class="alert-danger">
                      <span *ngIf="binmodel.errors?.required">
                        Bin Model is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Bin Size <span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <select name="binsize" id="" class="form-control" [(ngModel)]="editassyinternals.BIN_SIZE" #binsize="ngModel" required (change)="getlabesize(binsize.value)">
                      <option [value]="undefined" hidden selected> please select Bin Size</option>
                      <option [value]="null" hidden selected> please select Bin Size</option>
                      <option value="1">15</option>
                      <option value="2">25</option>
                      <option value="3">45</option>
                      <option value="4">100</option>
                      <option value="5">Steel Bin</option>
                    </select>
                    <div *ngIf="binsize.invalid && (binsize.dirty || binsize.touched)" class="alert-danger">
                      <span *ngIf="binsize.errors?.required">
                        Bin Size is Required
                      </span>
                      <span *ngIf="binsize.errors?.pattern">
                        Bin Size is accepts only Numeric
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            <!-- <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Class</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Class" name="class" [(ngModel)]="editassyinternals.CLASS" #class="ngModel">
                </div>
              </div>
            </div> -->
          </div>
          <div class="row">            
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Label Size <span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Label Size" appEmitfirstspace name="label_size" [(ngModel)]="editassyinternals.LABEL_SIZE" #label_size="ngModel" required readonly>
                    <div *ngIf="label_size.invalid && (label_size.dirty || label_size.touched)" class="alert-danger">
                      <span *ngIf="label_size.errors?.required">
                        Label Size is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
          </div>
        </div>
      </div>      
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset(editfrm)">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
    </div> -->
</ng-template>

<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Bulk Upload</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-4 text-right">
          <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
        </div>
        <label class="custom-file col-sm-6">
          <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class="btn btn-default">
          <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
          <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close
      </button>
      <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
    </div>
  </ng-template>