<div id="pcoded" (window:resize)="onResize($event)" class="pcoded iscollapsed" theme-layout="vertical"
  vertical-placement="left" vertical-layout="wide" [attr.pcoded-device-type]="deviceType" [attr.vertical-nav-type]="verticalNavType"
  [attr.vertical-effect]="verticalEffect" vnavigation-view="view1">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    <nav class="navbar header-navbar pcoded-header" header-theme="theme4">
      <div class="navbar-wrapper">
        <div class="navbar-logo" navbar-theme="theme5">
          <a class="mobile-menu" id="mobile-collapse" href="javascript:;" (click)="toggleOpened()" [exclude]="'#main_navbar'"
            (clickOutside)="onClickedOutside($event)">
            <i class="ti-menu"></i>
          </a>
          <a [routerLink]="['/']">
            <!-- <img class="img-fluid" src="assets/images/logo.png" alt="Theme-Logo" /> -->
            <img class="img-fluid" src="assets/images/auth/logo_header.png" alt="" height="52px" />
          </a>
          <a (click)="onMobileMenu()" class="mobile-options">
            <i class="ti-more"></i>
          </a>
        </div>
        <div class="navbar-container">
          <div>
            <ul class="nav-left">
              <li>
                <div class="sidebar_toggle"><a href="javascript:;" (click)="toggleOpened()"><i class="ti-menu f-18"></i></a></div>
              </li>

            </ul>
            <ul [@mobileMenuTop]="isCollapsedMobile" class="nav-right" [ngClass]="isCollapsedMobile">

              <li class="header-notification">
                <a href="javascript:;">
                  <i class="ti-bell"></i>
                  <span class="badge">5</span>
                </a>
                <ul class="show-notification">
                  <li>
                    <h6>Notifications</h6>
                    <label class="label label-danger">New</label>
                  </li>
                  <li>
                    <div class="media">
                      <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="notification-user">John Doe</h5>
                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <span class="notification-time">30 minutes ago</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="notification-user">Joseph William</h5>
                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <span class="notification-time">30 minutes ago</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="notification-user">Sara Soudein</h5>
                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <span class="notification-time">30 minutes ago</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="user-profile header-notification">
                <a>
                  <img src="assets/images/user.png" alt="User-Profile-Image">
                  <span>{{username}}</span>
                  <i class="ti-angle-down"></i>
                </a>
                <ul class="show-notification profile-notification">
                  <li>
                    <a [routerLink]="['/user/changepwd']">
                      <i class="ti-user"></i> Change Password
                    </a>
                  </li>
                  <!-- <li>
  <a [routerLink]="['/advance/notifications']">
  <i class="ti-email"></i> My Messages
  </a>
  </li>
  <li>
  <a [routerLink]="['/authentication/lock-screen']" target="_blank">
  <i class="ti-lock"></i> Lock Screen
  </a>
  </li> -->
                  <li>
                    <a *ngIf="auth.isLoggednIn()" (click)="auth.logout()">
                      <i class="ti-layout-sidebar-left"></i> Logout
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>
    <!-- rightbar chat start -->
    <!-- <div [@slideInOut]="chatToggle" id="sidebar" class="users p-chat-user">
  <div class="had-container">
  <div class="card card_main p-fixed users-main">
  <div class="user-box">
  <div class="card-body">
  <div class="right-icon-control">
  <input type="text" class="form-control search-text" placeholder="Search Friend" id="search-friends" #searchFriends (keyup)="searchFriendList($event)">
  <div class="form-icon">
  <i class="icofont icofont-search"></i>
  </div>
  </div>
  
  </div>
  <div slimScroll class="main-friend-list scroll-window" width="100%" height="100%" size="7px" color="rgb(27, 139, 249)" opacity="0.4">
  <div (click)="toggleChatInner()" class="media userlist-box" data-id="1" data-status="online" data-username="Josephin Doe" data-toggle="tooltip" data-placement="left" title="Josephin Doe">
  <a class="media-left" href="javascript:;">
  <img class="media-object img-circle" src="assets/images/avatar-1.png" alt="Generic placeholder image">
  <div class="live-status bg-success"></div>
  </a>
  <div class="media-body">
  <div class="f-13 chat-header">Josephin Doe</div>
  </div>
  </div>
  <div (click)="toggleChatInner()" class="media userlist-box" data-id="2" data-status="online" data-username="Lary Doe" data-toggle="tooltip" data-placement="left" title="Lary Doe">
  <a class="media-left" href="javascript:;">
  <img class="media-object img-circle" src="assets/images/task/task-u1.jpg" alt="Generic placeholder image">
  <div class="live-status bg-success"></div>
  </a>
  <div class="media-body">
  <div class="f-13 chat-header">Lary Doe</div>
  </div>
  </div>
  <div (click)="toggleChatInner()" class="media userlist-box" data-id="3" data-status="online" data-username="Alice" data-toggle="tooltip" data-placement="left" title="Alice">
  <a class="media-left" href="javascript:;">
  <img class="media-object img-circle" src="assets/images/avatar-2.png" alt="Generic placeholder image">
  <div class="live-status bg-success"></div>
  </a>
  <div class="media-body">
  <div class="f-13 chat-header">Alice</div>
  </div>
  </div>
  <div (click)="toggleChatInner()" class="media userlist-box" data-id="4" data-status="online" data-username="Alia" data-toggle="tooltip" data-placement="left" title="Alia">
  <a class="media-left" href="javascript:;">
  <img class="media-object img-circle" src="assets/images/task/task-u2.jpg" alt="Generic placeholder image">
  <div class="live-status bg-success"></div>
  </a>
  <div class="media-body">
  <div class="f-13 chat-header">Alia</div>
  </div>
  </div>
  <div (click)="toggleChatInner()" class="media userlist-box" data-id="5" data-status="online" data-username="Suzen" data-toggle="tooltip" data-placement="left" title="Suzen">
  <a class="media-left" href="javascript:;">
  <img class="media-object img-circle" src="assets/images/task/task-u3.jpg" alt="Generic placeholder image">
  <div class="live-status bg-success"></div>
  </a>
  <div class="media-body">
  <div class="f-13 chat-header">Suzen</div>
  </div>
  </div>
  <div (click)="toggleChatInner()" class="media userlist-box" data-id="6" data-status="offline" data-username="Michael Scofield" data-toggle="tooltip" data-placement="left" title="Michael Scofield">
  <a class="media-left" href="javascript:;">
  <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
  <div class="live-status bg-danger"></div>
  </a>
  <div class="media-body">
  <div class="f-13 chat-header">Michael Scofield</div>
  </div>
  </div>
  <div (click)="toggleChatInner()" class="media userlist-box" data-id="7" data-status="online" data-username="Irina Shayk" data-toggle="tooltip" data-placement="left" title="Irina Shayk">
  <a class="media-left" href="javascript:;">
  <img class="media-object img-circle" src="assets/images/avatar-4.png" alt="Generic placeholder image">
  <div class="live-status bg-success"></div>
  </a>
  <div class="media-body">
  <div class="f-13 chat-header">Irina Shayk</div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div> -->
    <!-- rightbar inner chat start-->
    <!-- <div [@slideOnOff]="chatInnerToggle" class="card card_main showChat_inner">
  <div class="media chat-inner-header">
  <a class="back_chatBox" (click)="toggleChatInner()">
  <i class="icofont icofont-rounded-left"></i> Josephin Doe
  </a>
  </div>
  <div class="media chat-messages">
  <a class="media-left photo-table" href="javascript:;">
  <img class="media-object img-circle m-t-5" src="assets/images/avatar-1.png" alt="Generic placeholder image">
  </a>
  <div class="media-body chat-menu-content">
  <div class="">
  <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
  <p class="chat-time">8:20 a.m.</p>
  </div>
  </div>
  </div>
  <div class="media chat-messages">
  <div class="media-body chat-menu-reply">
  <div class="">
  <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
  <p class="chat-time">8:20 a.m.</p>
  </div>
  </div>
  <div class="media-right photo-table">
  <a href="javascript:;">
  <img class="media-object img-circle m-t-5" src="assets/images/avatar-2.png" alt="Generic placeholder image">
  </a>
  </div>
  </div>
  <div class="chat-reply-box p-b-20">
  <div class="right-icon-control">
  <input type="text" class="form-control search-text" placeholder="Share Your Thoughts">
  <div class="form-icon">
  <i class="icofont icofont-paper-plane"></i>
  </div>
  </div>
  </div>
  </div> -->
    <!-- rightbar inner chat end-->
    <!-- rightbar chat end-->
    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">
        <nav id="main_navbar" class=" pcoded-navbar" navbar-theme="theme1" active-item-theme="theme5" sub-item-theme="theme2"
          active-item-style="style0" pcoded-navbar-position="absolute" (clickOutside)="onClickedOutside($event)"
          [exclude]="'#mobile-collapse'">
          <div class="sidebar_toggle"><a href="javascript:;"><i class="icon-close icons"></i></a></div>
          <div class="pcoded-inner-navbar main-menu" appAccordion slimScroll width="100%" height="100%" size="10px"
            color="#fff" opacity="1" allowPageScroll="false">
            <div class="">
              <!-- <div class="main-menu-header">
  <img class="img-40" src="assets/images/user.png" alt="User-Profile-Image">
  <div class="user-details">
  <span>John Doe</span>
  <span id="more-details" (click)="toggleOpenedSidebar()">Admin<i class="ti-angle-down"></i></span>
  </div>
  </div> -->
              <div class="main-menu-content">
                <ul>
                  <li [@mobileMenuTop]="isCollapsedSideBar" class="more-details" [ngClass]="isCollapsedSideBar">
                    <a [routerLink]="['/user/profile']"><i class="ti-user"></i>View Profile</a>
                    <a [routerLink]="['/crm-contact']"><i class="ti-settings"></i>Settings</a>
                    <a [routerLink]="['/authentication/login/with-bg-image']"><i class="ti-layout-sidebar-left"></i>Logout</a>
                  </li>
                </ul>
              </div>
            </div>
            <div>
              <div style="border-top:1px solid #f3f3f3">
                <!-- <div class="pcoded-navigatio-lavel" menu-title-theme="theme5" ></div> -->
                <br>
                <ul class="pcoded-item pcoded-left-item" item-border="none" item-border-style="solid" subitem-border="solid"
                  appAccordionLink>
                  <li [routerLinkActive]="['active']" *ngIf="dashboard.length == '1'" appAccordionLink group="dashboard">
                    <a [routerLink]="['/', 'dashboard']" target="_self" appAccordionToggle>
                      <span class="pcoded-micon"><i class="ti-home"></i></span>
                      <span class="pcoded-mtext">Dashboard</span>
                      <span class="pcoded-mcaret"></span>
                    </a>
                  </li>
                  <ul class="pcoded-item pcoded-left-item" item-border="true" item-border-style="none" subitem-border="true">
                    <li [routerLinkActive]="['active']" *ngIf="user.length != '0'" class="pcoded-hasmenu" dropdown-icon="style3"
                      subitem-icon="style6" appAccordionLink group="sub-toggled">
                      <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
                        <span class="pcoded-micon"><i class="ti-user"></i></span>
                        <span class="pcoded-mtext">User Management</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                      <ul class="pcoded-submenu" *ngFor="let item of user">
                        <li [routerLinkActive]="['active']" *ngIf="item == '2a'">
                          <a [routerLink]="['/', 'user', 'userrole']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">User Access</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '2b'">
                          <a [routerLink]="['/', 'user', 'userposition']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Users</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="pcoded-item pcoded-left-item" item-border="true" item-border-style="none" subitem-border="true">
                    <li [routerLinkActive]="['active']" *ngIf="master.length != '0' || mastersubmenu.length != '0'"
                      class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6" appAccordionLink group="master">
                      <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
                        <span class="pcoded-micon"><i class="ti-harddrive"></i></span>
                        <span class="pcoded-mtext">Masters</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                      <ul class="pcoded-submenu" *ngFor="let item of master">
                        <li [routerLinkActive]="['active']" *ngIf="item == '3a'">
                          <a [routerLink]="['/', 'master', 'contract']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Contractor</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>                       
                        <li [routerLinkActive]="['active']" *ngIf="item == '3aa'">
                          <a [routerLink]="['/', 'master', 'employee']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Employee Master</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '3ab'">
                          <a [routerLink]="['/', 'master', 'employeeperformance']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Employee Performance Scale</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" class="pcoded-hasmenu pcoded-trigger" dropdown-icon="style3"
                          subitem-icon="style6" *ngIf="item == '3b'" appAccordionLink group="sub-toggled">
                          <a href="javascript:;" appAccordionToggle>
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Drum Master</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                          <ul class="pcoded-submenu" *ngFor="let item of mastersubmenu">
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3ba'">
                              <a [routerLink]="['/', 'master', 'drumtype','drumtypes']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Drum Type Master</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3bb'">
                              <a [routerLink]="['/', 'master', 'drumtype','subassybom']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">BOM Master in Drum master</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6"
                          *ngIf="item == '3c'" appAccordionLink group="sub-toggled">
                          <a href="javascript:;" appAccordionToggle>
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Mixer Assembly Master</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                          <ul class="pcoded-submenu" *ngFor="let item of mastersubmenu">
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3ca'">
                              <a [routerLink]="['/', 'master', 'mixermaster','hydrauliccombination']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Hydraulic Combination</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3cb'">
                              <a [routerLink]="['/', 'master', 'mixermaster','mixertypemaster']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Mixer Assembly Master</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3cc'">
                              <a [routerLink]="['/', 'master', 'mixermaster','distancecorrelation']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Distance Correlation</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3cd'">
                              <a [routerLink]="['/', 'master', 'mixermaster','subassy']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Sub Assy Master</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3ce'">
                              <a [routerLink]="['/', 'master', 'mixermaster','torquemixer']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Torque</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '3d'">
                          <a [routerLink]="['/', 'master', 'fabstages']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Task Assignment Targets</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <!-- <li [routerLinkActive]="['active']" *ngIf="item == '3e'">
                          <a [routerLink]="['/', 'master', 'fabprocess']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Fabrication Process Flow</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li> -->
                        <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6"
                          *ngIf="item === '3f'" appAccordionLink group="sub-toggled">
                          <a href="javascript:;" appAccordionToggle>
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Raw Material Details</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                          <ul class="pcoded-submenu" *ngFor="let item of mastersubmenu">
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3fa'">
                              <a [routerLink]="['/', 'master', 'rawmaterial','rawmaterialdetails']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Raw Material Details</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <!-- <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3fb'">
                              <a [routerLink]="['/', 'master', 'rawmaterial','conedetails']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Cone Details</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li> -->
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3fc'">
                              <a [routerLink]="['/', 'master', 'rawmaterial','conemapdetails']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">RM Cone Mapping</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6"
                          *ngIf="item === '3g'" appAccordionLink group="sub-toggled">
                          <a href="javascript:;" appAccordionToggle>
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">SOP Master</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                          <ul class="pcoded-submenu" *ngFor="let item of mastersubmenu">
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3ga'">
                              <a [routerLink]="['/', 'master', 'sopmaster','cmvariance']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">CM Variance</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3gb'">
                              <a [routerLink]="['/', 'master', 'sopmaster','productvariant']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Product Variant</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3gc'">
                              <a [routerLink]="['/', 'master', 'sopmaster','sopprocedure']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">SOP Procedure</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6"
                          *ngIf="item === '3gg'" appAccordionLink group="sub-toggled">
                          <a href="javascript:;" appAccordionToggle>
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">SOP Drum Master</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                          <ul class="pcoded-submenu" *ngFor="let item of mastersubmenu">
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3gga'">
                              <a [routerLink]="['/', 'master', 'sopdrum','drumcmvariance']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">CM Variance</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3gga'">
                              <a [routerLink]="['/', 'master', 'sopdrum','drumproductvariant']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Product Variant</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3ggb'">
                              <a [routerLink]="['/', 'master', 'sopdrum','drumsopprocedure']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">SOP Procedure</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6"
                          *ngIf="item === '3h'" appAccordionLink group="sub-toggled">
                          <a href="javascript:;" appAccordionToggle>
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Drum Internal Parts (BOM)</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                          <ul class="pcoded-submenu" *ngFor="let item of mastersubmenu">
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3ha'">
                              <a [routerLink]="['/', 'master', 'druminternal','drumheader']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Drum Header</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3hb'">
                              <a [routerLink]="['/', 'master', 'druminternal','drumsubassy']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Drum BOM</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6"
                          *ngIf="item === '3i'" appAccordionLink group="sub-toggled">
                          <a href="javascript:;" appAccordionToggle>
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Assembly Internal Parts (BOM)</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                          <ul class="pcoded-submenu" *ngFor="let item of mastersubmenu">
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3ia'">
                              <a [routerLink]="['/', 'master', 'assyinternal','assyheader']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Assembly Header</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3ib'">
                              <a [routerLink]="['/', 'master', 'assyinternal','assysubassy']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Assembly BOM</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6"
                          *ngIf="item === '3j'" appAccordionLink group="sub-toggled">
                          <a href="javascript:;" appAccordionToggle>
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Mounting Arrangements (BOM)</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                          <ul class="pcoded-submenu" *ngFor="let item of mastersubmenu">
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3ja'">
                              <a [routerLink]="['/', 'master', 'mountingarrangement','mounting_header']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Mounting Header</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3jb'">
                              <a [routerLink]="['/', 'master', 'mountingarrangement','mounting_bom']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Mounting BOM</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '3k'">
                          <a [routerLink]="['/', 'master', 'delayrework']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Delay/Rework</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '3l'">
                          <a [routerLink]="['/', 'master', 'snagmaster']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Snag Master</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '3s'">
                          <a [routerLink]="['/', 'master', 'torque']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Torque Setting</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6"
                          *ngIf="item === '3m'" appAccordionLink group="sub-toggled">
                          <a href="javascript:;" appAccordionToggle>
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">QA Master</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                          <ul class="pcoded-submenu" *ngFor="let item of mastersubmenu">
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3ma'">
                              <a [routerLink]="['/', 'master', 'qamaster','drumins']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Drum Inspection</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3mb'">
                              <a [routerLink]="['/', 'master', 'qamaster','pdichecklist']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">PDI Checklist</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3mc'">
                              <a [routerLink]="['/', 'master', 'qamaster','processchecklist']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Process Checklist</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3md'">
                              <a [routerLink]="['/', 'master', 'qamaster','shfhchecklist']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">SH/FH Checklist</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3me'">
                              <a [routerLink]="['/', 'master', 'qamaster','fbvchecklist']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">FBV Checklist</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3mf'">
                              <a [routerLink]="['/', 'master', 'qamaster','chassisins']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Chassis Inspection</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '3n'">
                          <a [routerLink]="['/', 'master', 'jobsheet']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Assembly Job Sheet</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6"
                          *ngIf="item === '3o'" appAccordionLink group="sub-toggled">
                          <a href="javascript:;" appAccordionToggle>
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Packaging List</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                          <ul class="pcoded-submenu" *ngFor="let item of mastersubmenu">
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3oa'">
                              <a [routerLink]="['/', 'master', 'packagingarrangement','packaging_header']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Packaging Header</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3ob'">
                              <a [routerLink]="['/', 'master', 'packagingarrangement','packaging_bom']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Packaging BOM</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <!-- <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6" appAccordionLink group="sub-toggled" *ngIf="item == '3o'">
  <a href="javascript:;" appAccordionToggle>
  <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
  <span class="pcoded-mtext">Packaging List</span>
  <span class="pcoded-mcaret"></span>
  </a>
  <ul class="pcoded-submenu">
  <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3oa'">
  <a [routerLink]="['/', 'master', 'packagingarrangement','packaging_header']" target="_self">
  <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
  <span class="pcoded-mtext">Packaging Header</span> 
  <span class="pcoded-mcaret"></span>
  </a>
  </li> 
  <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '3ob'">
  <a [routerLink]="['/', 'master', 'packagingarrangement','packaging_bom']" target="_self">
  <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
  <span class="pcoded-mtext">Packaging BOM</span> 
  <span class="pcoded-mcaret"></span>
  </a>
  </li>
  </ul>
  </li> -->
                        <li [routerLinkActive]="['active']" *ngIf="item == '3p'">
                          <a [routerLink]="['/', 'master', 'packagechassis']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Package Chassis</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '3q'">
                          <a [routerLink]="['/', 'master', 'packagemapping']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Package Mapping</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '3r'">
                          <a [routerLink]="['/', 'master', 'packaginglist']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Generate Package list</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <!-- <li [routerLinkActive]="['active']" *ngIf="item == '3s'">
                          <a [routerLink]="['/', 'master', 'viewpackaginglist']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">View Package list</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li> -->
                      </ul>
                    </li>
                  </ul>
                  <ul class="pcoded-item pcoded-left-item" item-border="true" item-border-style="none" subitem-border="true">
                    <li [routerLinkActive]="['active']" *ngIf="shiftengineer.length != '0'" class="pcoded-hasmenu"
                      dropdown-icon="style3" subitem-icon="style6" appAccordionLink group="Shift">
                      <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
                        <span class="pcoded-micon"><i class="ti-harddrive"></i></span>
                        <span class="pcoded-mtext">Shift Engineer</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                      <ul class="pcoded-submenu" *ngFor="let item of shiftengineer">
                        <li [routerLinkActive]="['active']" *ngIf="item == '4a'">
                          <a [routerLink]="['/', 'shiftengineer', 'viewproductionplan']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Production Plan</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6"
                          *ngIf="item == '4b'" appAccordionLink group="sub-toggled">
                          <a href="javascript:;" appAccordionToggle>
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Assign Resources</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                          <ul class="pcoded-submenu" *ngFor="let item of shiftengineersubmenu">
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '4ba'">
                              <a [routerLink]="['/', 'shiftengineer', 'assignresources','weeklyallotment']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Weekly Allotment</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '4bb'">
                              <a [routerLink]="['/', 'shiftengineer', 'assignresources','shiftallotment']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Shift Allotment</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '4c'">
                          <a [routerLink]="['/', 'shiftengineer', 'shiftjobsheet']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Job Sheet</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '4d'">
                          <a [routerLink]="['/', 'shiftengineer', 'completedmounting']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Mounting Completion</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '4e'">
                          <a [routerLink]="['/', 'shiftengineer', 'cncsegment']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">CNC Segment Cutting Request</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '4f'">
                          <a [routerLink]="['/', 'shiftengineer', 'delaysnagrework']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Delay/Snag/Rework</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '4g'">
                          <a [routerLink]="['/', 'shiftengineer', 'drumclearance']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Drum Clearance</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '4h'">
                          <a [routerLink]="['/', 'shiftengineer', 'sparedetails']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Spare Details</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '4i'">
                          <a [routerLink]="['/', 'shiftengineer', 'paintingprocess']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Painting Process</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '4j'">
                          <a [routerLink]="['/', 'shiftengineer', 'mixerfinish']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Mixer Finishing</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '4k'">
                          <a [routerLink]="['/', 'shiftengineer', 'mixerworkorder']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Mixer Workorder Confirmation</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '4l'">
                          <a [routerLink]="['/', 'shiftengineer', 'viewsegmentinward']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext"> Segment Inward</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '4m'">
                          <a [routerLink]="['/', 'shiftengineer', 'viewrawmaterialissue']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Raw Material Issue</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '4n'">
                          <a [routerLink]="['/', 'shiftengineer', 'materialacknowledge']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Material Issue Acknowledgement</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '4o'">
                          <a [routerLink]="['/', 'shiftengineer', 'onepointlesson']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">One Point Lesson</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '4q'">
                          <a [routerLink]="['/', 'shiftengineer', 'snagfloor']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Snag Floor Shop</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '4p'">
                          <a [routerLink]="['/', 'shiftengineer', 'linerejection']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Line Rejection</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="pcoded-item pcoded-left-item" item-border="true" item-border-style="none" subitem-border="true">
                    <li [routerLinkActive]="['active']" *ngIf="productionplan.length != '0'" class="pcoded-hasmenu"
                      dropdown-icon="style3" subitem-icon="style6" appAccordionLink group="Shift">
                      <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
                        <span class="pcoded-micon"><i class="ti-briefcase"></i></span>
                        <span class="pcoded-mtext">Production Planning</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                      <ul class="pcoded-submenu" *ngFor="let item of productionplan">
                        <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6"
                          *ngIf="item === '5a'" appAccordionLink group="sub-toggled">
                          <a href="javascript:;" appAccordionToggle>
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Drum Fabrication</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                          <ul class="pcoded-submenu" *ngFor="let item of productionplansubmenu">
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '5aa'">
                              <a [routerLink]="['/', 'planner', 'drumassembly','workorder']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Drum WO Generation</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus" *ngIf="item == '5ab'">
                              <a [routerLink]="['/', 'planner', 'drumassembly','weeklyplan']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Drum Weekly Plan Schedule</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                          </ul>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '5b'">
                          <a [routerLink]="['/', 'planner', 'mixerassembly']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Mixer Assembly</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '5c'">
                          <a [routerLink]="['/', 'planner', 'mountrelease']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Mount Release</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '5c'">
                          <a [routerLink]="['/', 'planner', 'monthlyplan']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Monthly Plan</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '5d'">
                          <a [routerLink]="['/', 'planner', 'mixerweeklyplan']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Mixer Weekly Plan</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '5e'">
                            <a [routerLink]="['/', 'planner', 'viewpackaginglist']" target="_self">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext">View Package list</span>
                              <span class="pcoded-mcaret"></span>
                            </a>
                          </li>
        
                      </ul>
                    </li>
                  </ul>
                  <!-- <li [routerLinkActive]="['active']" *ngIf="reports.length != '0'" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6" appAccordionLink group="Shift">
  <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
  <span class="pcoded-micon"><i class="ti-bar-chart"></i></span>
  <span class="pcoded-mtext">Report Management</span>
  <span class="pcoded-mcaret"></span>
  </a>
  <ul class="pcoded-submenu" >
  
  <li [routerLinkActive]="['active']" *ngIf="item == '6a'">
  <a [routerLink]="['/', 'planner', 'mixerassembly']" target="_self">
  <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
  <span class="pcoded-mtext">Production Report</span>
  
  <span class="pcoded-mcaret"></span>
  </a>
  </li>
  <li [routerLinkActive]="['active']" *ngIf="item == '6b'">
  <a [routerLink]="['/', 'planner', 'mountrelease']" target="_self">
  <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
  <span class="pcoded-mtext">QA Report</span>
  
  <span class="pcoded-mcaret"></span>
  </a>
  </li>
  <li [routerLinkActive]="['active']" *ngIf="item == '6c'">
  <a [routerLink]="['/', 'planner', 'mountrelease']" target="_self">
  <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
  <span class="pcoded-mtext">Plan Vs Actual Production</span>
  
  <span class="pcoded-mcaret"></span>
  </a>
  </li>
  <li [routerLinkActive]="['active']" *ngIf="item == '6d'">
  <a [routerLink]="['/', 'planner', 'mountrelease']" target="_self">
  <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
  <span class="pcoded-mtext">Loss Analysis</span>
  
  <span class="pcoded-mcaret"></span>
  </a>
  </li>
  <li [routerLinkActive]="['active']" *ngIf="item == '6e'">
  <a [routerLink]="['/', 'planner', 'mountrelease']" target="_self">
  <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
  <span class="pcoded-mtext">Raw Material Consumption Report</span>
  
  <span class="pcoded-mcaret"></span>
  </a>
  </li>
  <li [routerLinkActive]="['active']" *ngIf="item == '6f'">
  <a [routerLink]="['/', 'planner', 'mountrelease']" target="_self">
  <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
  <span class="pcoded-mtext">Serial Number Tracking</span>
  
  <span class="pcoded-mcaret"></span>
  </a>
  </li>
  <li [routerLinkActive]="['active']" *ngIf="item == '6g'">
  <a [routerLink]="['/', 'planner', 'mountrelease']" target="_self">
  <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
  <span class="pcoded-mtext">Line Rejection Report</span>
  
  <span class="pcoded-mcaret"></span>
  </a>
  </li>
  </ul>
  </li> -->
                  <ul class="pcoded-item pcoded-left-item" item-border="true" item-border-style="none" subitem-border="true">
                    <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6"
                      appAccordionLink group="Shift">
                      <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
                        <span class="pcoded-micon"><i class="ti-package"></i></span>
                        <span class="pcoded-mtext">Reports </span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                      <ul class="pcoded-submenu">
                        <li [routerLinkActive]="['active']">
                          <a [routerLink]="['/', 'reports', 'productionreport']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Production Report</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']">
                          <a [routerLink]="['/', 'reports', 'productivityreport']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Productivity Report</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']">
                          <a [routerLink]="['/', 'reports', 'planvsactualproduction']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Plan Vs Actual Report</span>

                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']">
                          <a [routerLink]="['/', 'reports', 'productdeliveryreport']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Product Delivery Report</span>

                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']">
                          <a [routerLink]="['/', 'reports', 'modelwisesopreport']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Model Wise SOP Report</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']">
                          <a [routerLink]="['/', 'reports', 'rawmaterialconsumption']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Raw Material Consumption Report</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']">
                          <a [routerLink]="['/', 'reports', 'paintingreport']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Painting Report</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']">
                          <a [routerLink]="['/', 'reports', 'wipreport']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">WIP Report</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']">
                          <a [routerLink]="['/', 'reports', 'slnotracking']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Sl No Tracking</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']">
                          <a [routerLink]="['/', 'reports', 'snagreport']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Snag/Delay/Rework Report</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']">
                          <a [routerLink]="['/', 'reports', 'mixerreport']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Mixer Report</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6"
                          appAccordionLink group="sub-toggled">
                          <a href="javascript:;" appAccordionToggle>
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">QA Reports</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                          <ul class="pcoded-submenu">
                            <li [routerLinkActive]="['active']" class="hasmenus">
                              <a [routerLink]="['/', 'reports', 'qareports','pdicheklist']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">PDI Checklist</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus">
                              <a [routerLink]="['/', 'reports', 'qareports','processcheklist']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Process Checklist</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus">
                              <a [routerLink]="['/', 'reports', 'qareports','druminspection']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Drum Inspection</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus">
                              <a [routerLink]="['/', 'reports', 'qareports','fbvcheckreport']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">FBV Checklist</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus">
                              <a [routerLink]="['/', 'reports', 'qareports','chassisreport']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">Chassis Inspection</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                            <li [routerLinkActive]="['active']" class="hasmenus">
                              <a [routerLink]="['/', 'reports', 'qareports','fhshreport']" target="_self">
                                <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                                <span class="pcoded-mtext">SH/FH Checklist</span>
                                <span class="pcoded-mcaret"></span>
                              </a>
                            </li>
                          </ul>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="pcoded-item pcoded-left-item" item-border="true" item-border-style="none" subitem-border="true">
                    <li [routerLinkActive]="['active']" *ngIf="commercial.length != '0'" class="pcoded-hasmenu"
                      dropdown-icon="style3" subitem-icon="style6" appAccordionLink group="Shift">
                      <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
                        <span class="pcoded-micon"><i class="ti-layout-grid2"></i></span>
                        <span class="pcoded-mtext">Commercial </span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                      <ul class="pcoded-submenu" *ngFor="let item of commercial">
                        <li [routerLinkActive]="['active']" *ngIf="item == '8a'">
                          <a [routerLink]="['/', 'commercial', 'customerspec']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Customer Specification</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '8b'">
                          <a [routerLink]="['/', 'commercial', 'foc']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Customer FOC</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>

                        <li [routerLinkActive]="['active']" *ngIf="item == '8c'">
                            <a [routerLink]="['/', 'commercial', 'workinprogress']" target="_self">
                              <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                              <span class="pcoded-mtext">Mixer Planning</span>
                              <span class="pcoded-mcaret"></span>
                            </a>
                          </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '8d'">

                          <a [routerLink]="['/', 'commercial', 'chassisinward']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Chassis Inward Clearance</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                       
                        <li [routerLinkActive]="['active']" *ngIf="item == '8e'">
                          <a [routerLink]="['/', 'commercial', 'mountingscope']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Mounting Scope</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '8f'">
                          <a [routerLink]="['/', 'commercial', 'dispatchplan']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Dispatch Plan</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '8g'">
                          <a [routerLink]="['/', 'commercial', 'billingstatus']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Billing Status</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <ul class="pcoded-item pcoded-left-item" item-border="true" item-border-style="none" subitem-border="true">
                    <li [routerLinkActive]="['active']" *ngIf="stores.length != '0'" class="pcoded-hasmenu"
                      dropdown-icon="style3" subitem-icon="style6" appAccordionLink group="Shift">
                      <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
                        <span class="pcoded-micon"><i class="ti-wallet"></i></span>
                        <span class="pcoded-mtext">Stores </span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                      <ul class="pcoded-submenu" *ngFor="let item of stores">
                        <li [routerLinkActive]="['active']" *ngIf="item == '7a'">
                          <a [routerLink]="['/', 'stores', 'materialpicking']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Material Picking</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        
                        <li [routerLinkActive]="['active']" *ngIf="item == '7b'">
                          <a [routerLink]="['/', 'stores', 'issuedmaterial']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Issued Material</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '7c'">
                          <a [routerLink]="['/', 'stores', 'materialconfirmation']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Material Issue Confirmation</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '7d'">
                          <a [routerLink]="['/', 'stores', 'chassisclearance']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Chassis Inward Acknowledgement</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '7e'">
                          <a [routerLink]="['/', 'stores', 'binsystemupdate']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">2 Bin System</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '7f'">
                          <a [routerLink]="['/', 'stores', 'rawmaterialrequest']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Raw Material Request</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '7g'">
                          <a [routerLink]="['/', 'stores', 'rawmaterialissue']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Raw Material Issue</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '7h'">
                          <a [routerLink]="['/', 'stores', 'shellsegmentinward']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Segment Inward</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <li [routerLinkActive]="['active']" *ngIf="item == '7i'">
                          <a [routerLink]="['/', 'stores', 'linerejectionstores']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Line Rejection</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                        <!-- <li [routerLinkActive]="['active']" *ngIf="item == '7j'">
                          <a [routerLink]="['/', 'stores', 'mountingcompleted']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Completed Mounting</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li> -->
                        <li [routerLinkActive]="['active']" *ngIf="item == '7j'">
                          <a [routerLink]="['/', 'stores', 'packaginglist']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Generate Package list</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                      </ul>
                    </li> 
                  </ul>
                  <ul class="pcoded-item pcoded-left-item" item-border="true" item-border-style="none" subitem-border="true">
                    <li [routerLinkActive]="['active']" *ngIf="dispatch.length != '0'" class="pcoded-hasmenu"
                      dropdown-icon="style3" subitem-icon="style6" appAccordionLink group="Shift">
                      <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
                        <span class="pcoded-micon"><i class="ti-package"></i></span>
                        <span class="pcoded-mtext">Dispatch </span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                      <ul class="pcoded-submenu" *ngFor="let item of dispatch">
                        <li [routerLinkActive]="['active']" *ngIf="item == '9a'">
                          <a [routerLink]="['/', 'dispatch', 'mixerloading']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">Mixer Loading</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul>
                  <!-- <ul class="pcoded-item pcoded-left-item" item-border="true" item-border-style="none" subitem-border="true">
                    <li [routerLinkActive]="['active']" class="pcoded-hasmenu" dropdown-icon="style3" subitem-icon="style6"
                      appAccordionLink group="Shift">
                      <a [routerLinkActive]="['active']" href="javascript:;" appAccordionToggle>
                        <span class="pcoded-micon"><i class="ti-package"></i></span>
                        <span class="pcoded-mtext">Live Dashboard</span>
                        <span class="pcoded-mcaret"></span>
                      </a>
                      <ul class="pcoded-submenu">
                        <li [routerLinkActive]="['active']">
                          <a [routerLink]="['/', 'livedashboard', 'noofworkers']" target="_self">
                            <span class="pcoded-micon"><i class="ti-angle-right"></i></span>
                            <span class="pcoded-mtext">No Of Workers</span>
                            <span class="pcoded-mcaret"></span>
                          </a>
                        </li>
                      </ul>
                    </li>
                  </ul> -->
                </ul>
              </div>
            </div>
          </div>
        </nav>
        <div class="pcoded-content">
          <div class="pcoded-inner-content">
            <div class="main-body">
              <div class="page-wrapper">
                <app-title></app-title>
                <app-breadcrumbs></app-breadcrumbs>
                <div class="page-body">
                  <router-outlet>
                    <spinner></spinner>
                  </router-outlet>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
