<div class="row">
  <div class="col-md-12 col-lg-12">
    <div class="card card-border-primary">
      <div class="card-block">        
          <div class="auth-fluid">
            <div class="row">
              <div class="col-sm-12">
                <div class="login-card card-body auth-body">
                  <form class="md-float-material" #frm="ngForm">                    
                    <div class="auth-box">
                      <div class="row m-b-20">
                        <div class="col-md-12 text-center">
                          <h3 class="text-center txt-primary">Punch In</h3>
                        </div>
                      </div>
                      <hr/>
                      <div class="input-group">
                        <div class="text-center">
                          <img src="assets/images/auth/fingerprint.png" height="60px" width="300px" alt="logo.png">
                        </div>
                      </div>
                      <div class="row m-t-30">
                        <div class="col-md-12">
                          <button type="submit" name="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20" [disabled]="frm.invalid">Sign in</button>
                        </div>
                      </div>
                      <!-- <hr/>
                      <div class="row">
                        <div class="col-md-10">
                          <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                          <p class="text-inverse text-left"><b>Your Autentification Team</b></p>
                        </div>
                        <div class="col-md-2">
                          <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                        </div>
                      </div> -->
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>
