<div class="row">
    <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="col-md-6">
            <h5>Assembly Header</h5>
            <p class="mandatoryfiles">* Fields Are mandatory</p>
          </div>
          <div class="col-md-6">
            <div class="text-right">
              <button class="btn btn-primary btn-square" type="button" (click)="open(bulkupload)">
                <i class="icofont icofont-upload"></i> Bulk Upload
              </button>
            </div>
          </div>  
        </div>
        <div class="card-block">
          <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="addsubassy(frm,addnew)">
            <div class="row">
              <div class="col-md-3">
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Mixer Model No.<span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <select class="form-control" name="mixer_model" [(ngModel)]="mixermodel" #mixer_model="ngModel" required (change)="getassyvalue(frm,mixer_model.value);clearvalue()">
                      <option [value]="undefined" hidden selected> please select Mixer Model No.</option>
                      <option [value]="null" hidden selected> please select Mixer Model No.</option>
                      <option *ngFor="let item of assy_headers.message" [value]="item.id" >{{item.part_no}} _ {{item.mixer_description}}</option>
                    </select>
                    <div *ngIf="mixer_model.invalid && (mixer_model.dirty || mixer_model.touched)" class="alert-danger">
                      <span *ngIf="mixer_model.errors?.required">
                        Mixer Model No. is Required
                      </span>
                      <span *ngIf="mixer_model.errors?.pattern">
                        Accepts only Numeric.
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <div class="row">
              <div class="col-md-3">
              </div>
              <div class="col-md-6" *ngIf="assyheaders.message?.length != 0">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Header Filter</label>
                  <div class="col-sm-8">                 
                    <input type="text" class="form-control" placeholder="Search" name="list" [(ngModel)]="query" id="listSearch">
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-3">
              </div>
              <div class="col-md-6" *ngIf="assyheaders.message?.length != 0">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Select Header<span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">                 
                    <div *ngFor="let option of assyheaders.message | LockFilter:query;let i of index">
                      <div class="row">
                        <div class="col-sm-12">
                          <div class="checkbox-fade fade-in-primary">
                            <label>{{cdata.headerno}}
                              <input type="checkbox" class="headersnos" name="menu1" [value]="option.id" id="{{option.id}}"  (change)="checkValue(option.id,$event.target.checked)" required>
                              <!-- <input type="checkbox" name="menu1" [value]="option.id" ngModel #menu1="ngModel" [checked]="1" (change)="checkValue(option.id,$event.target.checked)" required> -->
                              <span class="cr">
                                <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                              </span>
                              <span class="text-inverse">{{option.headerno}}_{{option.obj_desc}}</span>
                            </label>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>  
            <hr>
            <div class="form-group row float-right">
              <div class="col-sm-6">
                <button type="button" class="btn btn-default waves-effect pull-right" (click)="reset(frm)">Reset</button>
              </div>
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
              </div>
            </div>
          </form>
        </div>
        <!-- end of card-footer -->
      </div>
    </div>
  </div>
  <ng-template #bulkupload let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Bulk Upload</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-4 text-right">
          <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
        </div>
        <div class="col-sm-7">
            <div class="form-group row">
                <select class="form-control" name="bulkmixer_model" [(ngModel)]="bulkmixermodel" #bulkmixer_model="ngModel" required>
                  <option value="undefined" selected hidden >Select Mixer Model</option>
                  <option value="null" selected hidden >Select Mixer Model</option>
                  <option *ngFor="let item of assy_headers.message" [value]="item.id" >{{item.part_no}} _ {{item.mixer_description}}</option>
                </select>
                <div *ngIf="bulkmixer_model.invalid && (bulkmixer_model.dirty || bulkmixer_model.touched)" class="alert-danger">
                  <span *ngIf="bulkmixer_model.errors?.required">
                    Mixer Model Required
                  </span>
                  <span *ngIf="bulkmixer_model.errors?.pattern">
                    Accepts only Numeric.
                  </span>
                </div>
              
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-12">
        <label class="custom-file col-sm-4 ">
          <!-- <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder
              ="Upload file"> -->
          <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class="
                btn btn-default">
          <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
          <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
          <!-- <span class="custom-file-control"></span> -->
        </label>
      </div>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click');reset(bulkupload)">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
    </div>
  </ng-template>