<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Production Plan </h5>
      </div>
      <div class="card-block">
        <div class="row pull-right">
          <div class="container">
            <button class="btn btn-primary btn-square" type="button" (click)="bulkupload.show()">
              <i class="icofont icofont-upload"></i> Bulk Upload
            </button>
            <button class="btn btn-info btn-square" type="button" (click)="addnew.show()">
              <i class="icofont icofont-plus"></i> Add Production Plan
            </button>
          </div>

        </div>
        <br>
        <br>
        <br>

        <div class="dt-responsive">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div>
                <label class="label-control">Show
                  <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div style="text-align: right;">
                <label>Search:
                  <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                </label>
              </div>
            </div>
          </div>
          <!-- <div class="panel-heading">User information</div>-->
          <table class="table table-striped table-bordered full-data-table col-sm-12 table-responsive" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
            [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="s.no">S.No</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="Work Order No">Work Order No</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="Drum Category">Drum Category</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="Drum Serial No">Drum Serial No</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="Multiple Cone Serial No">Multiple Cone Serial No</mfDefaultSorter>
                </th>                
                <th>
                  <mfDefaultSorter by="Cone Cutter">Alloted Technician Emp No</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="Cone Cutter">Alloted Technician Emp Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="Task Status">Task Status</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="action">Action</mfDefaultSorter>
                </th>
              </tr>
              <tr>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>355956</td>
                <td>Drum Category</td>
                <td>33301</td>
                <td>125</td>
                <td>Emp201</td>
                <td>Kathiravan</td>
                <td>CNC- Segment cutting</td>
                <td>
                  <button class="btn btn-primary btn-outline-primary btn-icon" (click)="edit.show()">
                    <i class="icofont icofont-fountain-pen"></i>
                  </button>
                  <button class="btn btn-danger btn-outline-danger btn-icon" (click)="openConfirmsSwal()">
                    <i class="icofont icofont-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>355956</td>
                <td>Drum Category</td>
                <td>33301</td>
                <td>125</td>
                <td>Emp51</td>
                <td>Vetri</td>
                <td>Drum primer</td>
                <td>
                  <button class="btn btn-primary btn-outline-primary btn-icon" (click)="edit.show()">
                    <i class="icofont icofont-fountain-pen"></i>
                  </button>
                  <button class="btn btn-danger btn-outline-danger btn-icon" (click)="openConfirmsSwal()">
                    <i class="icofont icofont-trash"></i>
                  </button>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>355956</td>
                <td>Drum Category</td>
                <td>33301</td>
                <td>125</td>
                <td>Emp205</td>
                <td>Velu</td>
                <td>Cone Rolling</td>
                <td>
                  <button class="btn btn-primary btn-outline-primary btn-icon" (click)="edit.show()">
                    <i class="icofont icofont-fountain-pen"></i>
                  </button>
                  <button class="btn btn-danger btn-outline-danger btn-icon" (click)="openConfirmsSwal()">
                    <i class="icofont icofont-trash"></i>
                  </button>
                </td>
              </tr>

            </tbody>
            <tfoot>

              <tr>
                <td colspan="6">
                  <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Add Bulk Upload  -->
<app-modal-basic #bulkupload [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close basic-close" (click)="bulkupload.hide()">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <input type="file" ng2FileSelect [uploader]="uploader" class="custom-file-input">
        <span class="custom-file-control"></span>
      </label>
    </div>


  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="bulkupload.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Submit</button>
  </div>
</app-modal-basic>

<!-- Add Bulk Upload -->

<!-- Add New -->

<app-modal-basic #addnew [dialogClass]="'modal-md'">
  <div class="app-modal-header">
    <h4 class="modal-title">Add Production Plan</h4>
    <button type="button" class="close basic-close" (click)="addnew.hide()">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Work Order No</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" Placeholder="Enter Work Order No">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Drum Category</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" Placeholder="Enter Drum Category">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Drum Serial No</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" Placeholder="Enter Drum Serial No">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Multiple Cone Serial No</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" Placeholder="Enter Multiple Cone Serial No">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Technician to be alloted</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" Placeholder="Enter Technician to be alloted">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Technician Name to be alloted</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" Placeholder="Enter Technician Name to be alloted">
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addnew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Submit</button>
  </div>
</app-modal-basic>


<!-- Edit -->

<app-modal-basic #edit [dialogClass]="'modal-md'">
  <div class="app-modal-header">
    <h4 class="modal-title">Edit Production Plan</h4>
    <button type="button" class="close basic-close" (click)="edit.hide()">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Work Order No</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" Placeholder="Enter Work Order No">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Drum Category</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" Placeholder="Enter Drum Category">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Drum Serial No</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" Placeholder="Enter Drum Serial No">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Multiple Cone Serial No</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" Placeholder="Enter Multiple Cone Serial No">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Technician to be alloted</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" Placeholder="Enter Technician to be alloted">
      </div>
    </div>
    <div class="form-group row">
      <label class="col-sm-3 col-form-label">Technician Name to be alloted</label>
      <div class="col-sm-9">
        <input type="text" class="form-control" Placeholder="Enter Technician Name to be alloted">
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="edit.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div>
</app-modal-basic>