<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="row">
            <div class="col-md-6">
                <h5>Raw Material Master </h5>
              </div>
              <div class="col-md-6">
                <div class="text-right">
                  <button class="btn btn-primary btn-square" type="button" (click)="bulkupload.show()">
                    <i class="icofont icofont-upload"></i> Bulk Upload
                  </button>
                  <button class="btn btn-info btn-square" type="button" (click)="addnew.show()">
                    <i class="icofont icofont-plus"></i> Add Raw Material Master
                  </button>
                </div>
              </div>
        </div>
        
      </div>
      <div class="card-block">
        <div class="dt-responsive">
          <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div>
                <label class="label-control">Show
                  <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                    <option [ngValue]="10">10</option>
                    <option [ngValue]="25">25</option>
                    <option [ngValue]="50">50</option>
                    <option [ngValue]="100">100</option>
                  </select>
                  entries
                </label>
              </div>
            </div>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
              <div style="text-align: right;">
                <label>Search:
                  <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                </label>
              </div>
            </div>
          </div>
          <!-- <div class="panel-heading">User information</div>-->
          <table class="table table-striped table-bordered table-responsiveness full-data-table" [mfData]="data | dataFilter : filterQuery"
            #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="s.no">S.No.</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="Emp No">RM Part No.
                  </mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="name">RM Qty.
                  </mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="Mobile Number">RM Size</mfDefaultSorter>
                </th>
                <!-- <th>
                  <mfDefaultSorter by="Role">Model
                  </mfDefaultSorter>
                </th> -->
                <th>
                  <mfDefaultSorter by="Mobile Number">Cone Segment qty
                  </mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="Role">Scrap weight        
                  </mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="Role1">Scrap weight in Kg        
                  </mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="Role2">Scrap %       
                  </mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="action">Action</mfDefaultSorter>
                </th>
              </tr>
              <tr>
              </tr>
            </thead>
            <tbody>
                <tr>
                    <td>1</td>
                    <td>RM 02</td>
                    <td>10</td>
                    <td>100</td>
                    <td>250</td>
                    <td>50</td>
                    <td>5</td>
                    <td>10</td>
                    <td>
                      <button class="btn btn-primary btn-outline-primary btn-icon" (click)="edit.show()">
                        <i class="icofont icofont-fountain-pen"></i>
                      </button>
                      <button class="btn btn-danger btn-outline-danger btn-icon" (click)="openConfirmsSwal()">
                        <i class="icofont icofont-trash"></i>
                      </button>
                    </td>
                  </tr>
                  <tr>
                      <td>2</td>
                      <td>RM 01</td>
                      <td>20</td>
                      <td>200</td>
                      <td>350</td>
                      <td>20</td>
                      <td>2</td>
                      <td>20</td>
                    <td>
                      <button class="btn btn-primary btn-outline-primary btn-icon" (click)="edit.show()">
                        <i class="icofont icofont-fountain-pen"></i>
                      </button>
                      <button class="btn btn-danger btn-outline-danger btn-icon" (click)="openConfirmsSwal()">
                        <i class="icofont icofont-trash"></i>
                      </button>
                    </td>
                  </tr>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6">
                  <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Add Bulk Upload  -->
<app-modal-basic #bulkupload [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close basic-close" (click)="bulkupload.hide()">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <input type="file" ng2FileSelect [uploader]="uploader" class="custom-file-input">
        <span class="custom-file-control"></span>
      </label>
    </div>


  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="bulkupload.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Submit</button>
  </div>
</app-modal-basic>

<!-- Add Bulk Upload -->

<!-- Add New -->

<app-modal-basic #addnew [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="modal-title">Add Raw Material Master</h4>
    <button type="button" class="close basic-close" (click)="addnew.hide()">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">RM Part No.
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" Placeholder="Enter RM part No">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">RM Qty.</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" Placeholder="Enter RM Qty">
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">RM Size
          </label>
          <div class="col-sm-8">
            <input type="text" class="form-control" Placeholder="Enter RM Size
            ">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Model</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" Placeholder="Enter Model">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Cone Segment Quantity</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" Placeholder="Enter Cone Segment Quantity">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Scrap Weight</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" Placeholder="Enter Scrap Weight">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Scrap Weight in Kg</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" Placeholder="Enter Weight in Kg">
          </div>
        </div>
      </div>
      <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Scrap Weight in %</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Weight in %">
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addnew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Submit</button>
  </div>
</app-modal-basic>


<!-- Edit -->

<app-modal-basic #edit [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="modal-title">Edit Fabrication Stages Master</h4>
    <button type="button" class="close basic-close" (click)="edit.hide()">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="app-modal-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">RM Part No.
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter RM Part No.">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">RM Qty.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter RM Qty">
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">RM Size
            </label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter RM Size
              ">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Model</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Model">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Code Segment Quantity</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Cone Segment Quantity">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Scrap Weight</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Scrap Weight">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Scrap Weight in Kg</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Weight in Kg">
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Scrap Weight in %</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Weight in %">
              </div>
            </div>
    </div>
    </div>
    </div>
    
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="edit.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div>
</app-modal-basic>