<div class="card-block">
    <div class="dt-responsive">
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
        <div>
          <label class="label-control">
            <select class="form-control input-sm">
              <option [ngValue]="10">Daily</option>
              <option [ngValue]="25">Weekly</option>
              <option [ngValue]="50">Monthly</option>
              <option [ngValue]="100">Yearly</option>
            </select>
          </label>
        </div>
      </div>
  <!-- LINE CHART start -->
  <div class="col-md-12 col-lg-12">
    <div class="card card-border-primary">
      <div class="card-block">
        <div id="line-example"></div>
      </div>
    </div>
  </div>
  <!-- LINE CHART Ends -->

  <div class="col-md-12 col-lg-12">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>QA Report Details </h5>
      </div>
      <div class="card-header">
          <div class="task-board m-0">
            <!-- end of dropdown-secondary -->
            <div class="dropdown-secondary dropdown">
              <button class="btn btn-primary btn-square" type="button">
              Export To Excel
              </button>
              <!-- end of dropdown menu -->
            </div>
            <!-- end of seconadary -->
          </div>
          <!-- end of pull-right class -->
        </div>
        <div class="card-block">
            <div class="dt-responsive">
              <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div>
                    <label class="label-control">Show
                      <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                        <option [ngValue]="10">10</option>
                        <option [ngValue]="25">25</option>
                        <option [ngValue]="50">50</option>
                        <option [ngValue]="100">100</option>
                      </select>
                      entries
                    </label>
                  </div>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
                  <div style="text-align: right;">
                    <label>Search:
                      <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
                    </label>
                  </div>
                </div>
              </div>
              <!-- <div class="panel-heading">User information</div>-->
              <table class="table table-striped table-bordered table-responsive full-data-table" [mfData]="data | dataFilter : filterQuery"
            #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
                <thead>
                  <tr>
                    <th>
                      <mfDefaultSorter by="s.no">S.No</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="Raw material Purchased">Designation</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="Raw material Consumed">Name</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="Scrap">Emp Id</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="Delivered mixer">Total Number of Output</mfDefaultSorter>
                    </th>
                    <th>
                      <mfDefaultSorter by="Delivered mixer">Percentage of Output</mfDefaultSorter>
                    </th>
                  </tr>
                  <tr>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>1</td>
                    <td>Welder</td>
                    <td>Krishnan</td>
                    <td>252</td>
                    <td>20</td>
                    <td>90</td>
                  </tr>
                  <tr>
                    <td>2</td>
                    <td>Welder</td>
                    <td>Krishnan</td>
                    <td>252</td>
                    <td>20</td>
                    <td>90</td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>Welder</td>
                    <td>Krishnan</td>
                    <td>252</td>
                    <td>20</td>
                    <td>90</td>
                  </tr>
                </tbody>
                <tfoot>
    
                  <tr>
                    <td colspan="6">
                      <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                    </td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>
    
    </div>