<div class="row">
  <div class="col-sm-12">
    <form class="md-float-material form-horizontal" #frm="ngForm" novalidate="">
      <div class="card card-border-primary">
        <div class="card-header">
          <h5>User Assign</h5>          
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">User Position:</label>
                <div class="col-sm-6">
                  <select name="" id="" class="form-control">
                    <option value="">Shift Engineer</option>
                    <option value="">Manager</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Assign User:</label>
                <div class="col-sm-6">
                  <select name="" id="" class="form-control">
                    <option value="">Raman</option>
                    <option value="">Tajudeen</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="task-board m-0">
            <!-- end of dropdown-secondary -->
            <div class="dropdown-secondary dropdown">
              <button class="btn btn-primary btn-square" type="button">
                <i class="icofont icofont-tick-mark"></i> Submit
              </button>
              <button class="btn btn-info btn-square" type="button">
                <i class="icofont icofont-refresh"></i> Reset
              </button>
              <!-- end of dropdown menu -->
            </div>
            <!-- end of seconadary -->
          </div>
          <!-- end of pull-right class -->
        </div>
        <!-- end of card-footer -->
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'User Positions'">
      <div class="dt-responsive">
        <div class="row">
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div>
              <label class="label-control">Show
                <select class="form-control input-sm full-data-show-entry" [(ngModel)]="rowsOnPage">
                  <option [ngValue]="10">10</option>
                  <option [ngValue]="25">25</option>
                  <option [ngValue]="50">50</option>
                  <option [ngValue]="100">100</option>
                </select>
                entries
              </label>
            </div>
          </div>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
            <div style="text-align: right;">
              <label>Search:
                <input type="search" [(ngModel)]="filterQuery" class="form-control input-sm full-data-search" placeholder="Search name">
              </label>
            </div>
          </div>
        </div>
        <!-- <div class="panel-heading">User information</div>-->
        <table class="table table-striped table-bordered full-data-table" [mfData]="data | dataFilter : filterQuery" #mf="mfDataTable"
          [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
          <thead>
            <tr>
              <th>
                <mfDefaultSorter by="s.no">S.No</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="Position Name">User Name</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="Position Name">Position</mfDefaultSorter>
              </th>
              <th>
                <mfDefaultSorter by="action">Action</mfDefaultSorter>
              </th>
            </tr>
            <tr>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Tajudeen</td>
              <td>Project Planner</td>
              <td>
                <button class="btn btn-primary btn-outline-primary btn-icon" (click)="modalDefault.show()">
                  <i class="icofont icofont-fountain-pen"></i>
                </button>
                <button class="btn btn-danger btn-outline-danger btn-icon" (click)="openConfirmsSwal()">
                  <i class="icofont icofont-trash"></i>
                </button>
              </td>
            </tr>
            <tr>
              <td>2</td>
              <td>Tajudeen</td>
              <td>Manager</td>
              <td>
                <button class="btn btn-primary btn-outline-primary btn-icon" (click)="modalDefault.show()">
                  <i class="icofont icofont-fountain-pen"></i>
                </button>
                <button class="btn btn-danger btn-outline-danger btn-icon" (click)="openConfirmsSwal()">
                  <i class="icofont icofont-trash"></i>
                </button>
              </td>
            </tr>
            
            <tr>
              <td>2</td>
              <td>Tajudeen</td>
              <td>Manager</td>
              <td>
                <button class="btn btn-primary btn-outline-primary btn-icon" (click)="modalDefault.show()">
                  <i class="icofont icofont-fountain-pen"></i>
                </button>
                <button class="btn btn-danger btn-outline-danger btn-icon" (click)="openConfirmsSwal()">
                  <i class="icofont icofont-trash"></i>
                </button>
              </td>
            </tr>
            
            <tr>
              <td>2</td>
              <td>Tajudeen</td>
              <td>Manager</td>
              <td>
                <button class="btn btn-primary btn-outline-primary btn-icon" (click)="modalDefault.show()">
                  <i class="icofont icofont-fountain-pen"></i>
                </button>
                <button class="btn btn-danger btn-outline-danger btn-icon" (click)="openConfirmsSwal()">
                  <i class="icofont icofont-trash"></i>
                </button>
              </td>
            </tr>
            
            <tr>
              <td>2</td>
              <td>Tajudeen</td>
              <td>Manager</td>
              <td>
                <button class="btn btn-primary btn-outline-primary btn-icon" (click)="modalDefault.show()">
                  <i class="icofont icofont-fountain-pen"></i>
                </button>
                <button class="btn btn-danger btn-outline-danger btn-icon" (click)="openConfirmsSwal()">
                  <i class="icofont icofont-trash"></i>
                </button>
              </td>
            </tr>
            
            <tr>
              <td>2</td>
              <td>Tajudeen</td>
              <td>Manager</td>
              <td>
                <button class="btn btn-primary btn-outline-primary btn-icon" (click)="modalDefault.show()">
                  <i class="icofont icofont-fountain-pen"></i>
                </button>
                <button class="btn btn-danger btn-outline-danger btn-icon" (click)="openConfirmsSwal()">
                  <i class="icofont icofont-trash"></i>
                </button>
              </td>
            </tr>
            
            <tr>
              <td>2</td>
              <td>Tajudeen</td>
              <td>Manager</td>
              <td>
                <button class="btn btn-primary btn-outline-primary btn-icon" (click)="modalDefault.show()">
                  <i class="icofont icofont-fountain-pen"></i>
                </button>
                <button class="btn btn-danger btn-outline-danger btn-icon" (click)="openConfirmsSwal()">
                  <i class="icofont icofont-trash"></i>
                </button>
              </td>
            </tr>
            
            <tr>
              <td>2</td>
              <td>Tajudeen</td>
              <td>Manager</td>
              <td>
                <button class="btn btn-primary btn-outline-primary btn-icon" (click)="modalDefault.show()">
                  <i class="icofont icofont-fountain-pen"></i>
                </button>
                <button class="btn btn-danger btn-outline-danger btn-icon" (click)="openConfirmsSwal()">
                  <i class="icofont icofont-trash"></i>
                </button>
              </td>
            </tr>
            
            <tr>
              <td>2</td>
              <td>Tajudeen</td>
              <td>Manager</td>
              <td>
                <button class="btn btn-primary btn-outline-primary btn-icon" (click)="modalDefault.show()">
                  <i class="icofont icofont-fountain-pen"></i>
                </button>
                <button class="btn btn-danger btn-outline-danger btn-icon" (click)="openConfirmsSwal()">
                  <i class="icofont icofont-trash"></i>
                </button>
              </td>
            </tr>
            
            <tr>
              <td>2</td>
              <td>Tajudeen</td>
              <td>Manager</td>
              <td>
                <button class="btn btn-primary btn-outline-primary btn-icon" (click)="modalDefault.show()">
                  <i class="icofont icofont-fountain-pen"></i>
                </button>
                <button class="btn btn-danger btn-outline-danger btn-icon" (click)="openConfirmsSwal()">
                  <i class="icofont icofont-trash"></i>
                </button>
              </td>
            </tr>
            
          </tbody>
          <tfoot>
            <tr>
              <td colspan="6">
                <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </app-card>
  </div>
</div>

<app-modal-basic #modalDefault [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="modal-title">Edit User</h4>
    <button type="button" class="close basic-close" (click)="modalDefault.hide()">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="form-group row">
      <label class="col-sm-4 col-form-label text-right">Position Name:</label>
      <div class="col-sm-6">
        <input type="text" class="form-control">
      </div>
    </div>
  </div>

  <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="modalDefault.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Save changes</button>
  </div>
</app-modal-basic>