<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="row">
          <div class="col-md-6">
            <h5>Drum Weekly Plan Generation</h5>
            <p class="mandatoryfiles">* Fields Are mandatory</p>
          </div>
          <div class="col-md-6">
            <div class="text-right">
              <button class="btn btn-primary btn-square" type="button" (click)="open(bulkupload)">
                <i class="icofont icofont-upload"></i> Bulk Upload
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="card-block">
        <form class="form-horizontal" #frm="ngForm" (ngSubmit)="adddrumweeklywo(frm)">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Drum Model No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class='select-option  form-control' required [(ngModel)]="seldrummodel" #drummodel="ngModel" name="modelno" (ngModelChange)='onOptionsSelected($event)'>
                    <option [value]="undefined" selected hidden>Select Drum Model No.</option>
                    <option [value]="null" selected hidden>Select Drum Model No.</option>
                    <option class='option' *ngFor='let option of options' [value]="option.id">{{option.drum_model}}</option>
                  </select>
                  <div *ngIf="drummodel.invalid && (drummodel.dirty || drummodel.touched)" class="alert-danger">
                    <span *ngIf="drummodel.errors?.required">
                      Drum Model No. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Part No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="partno" [(ngModel)]="partno" #partnos="ngModel" pattern="^\d[0-9]*$"
                    required readonly placeholder="Enter Part No">
                  <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                    <span *ngIf="partnos.errors?.required">
                      Part No. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">From Date<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <!-- <input type="text" class="form-control" Placeholder="Enter Next Week Quantity" pattern="^\d[0-9]*$" name="quantity" ngModel #quantity="ngModel" pattern="^\d[0-9]*$" required> -->
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="fromdate" [(ngModel)]="model_fromdate"
                      ngbDatepicker [minDate]="model" #fromdate="ngbDatepicker" readonly>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary fromdate" (click)="fromdate.toggle()" type="button"><i
                          class="icofont icofont-ui-calendar"></i></button>
                    </div>
                  </div>
                  <div *ngIf="fromdate.invalid && (fromdate.dirty || fromdate.touched)" class="alert-danger">
                    <span *ngIf="fromdate.errors?.required">
                      From Date is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">To Date<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <div class="input-group">
                    <input class="form-control" placeholder="yyyy-mm-dd" name="todate" [(ngModel)]="model_todate"
                      ngbDatepicker [minDate]="model_fromdate" #todate="ngbDatepicker" readonly>
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary todate" (click)="todate.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                    </div>
                  </div>
                  <!-- <input type="text" class="form-control" Placeholder="Enter Per Day Plan" name="plan" ngModel #plan="ngModel" pattern="^\d[0-9]*$" required>-->
                  <div *ngIf="todate.invalid && (todate.dirty || todate.touched)" class="alert-danger">
                    <span *ngIf="todate.errors?.required">
                      To Date is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">QTY.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="qty" ngModel #quantity="ngModel" pattern="^\d[0-9]*$" placeholder="Enter QTY." required appEmitFirstSpace appDigitOnly>
                  <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert-danger">
                    <span *ngIf="quantity.errors?.required">
                      QTY is Required
                    </span>
                    <span *ngIf="quantity.errors?.pattern">
                      QTY accepts only Numeric
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div>
            <div class="form-group row float-right">
              <button class="btn btn-primary btn-square" type="submit" [disabled]="!frm.form.valid">
                <i class="icofont icofont-tick-mark"></i> Submit
              </button>
              <button class="btn btn-info btn-square" type="button" (click)="reset(frm)">
                <i class="icofont icofont-refresh"></i> Reset
              </button>
              <!-- <button class="btn btn-info btn-square" type="button">
                        <i class="icofont icofont-refresh"></i> Reset
                      </button> -->
              <!-- end of dropdown menu -->
            </div>
          </div>
        </form>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <!-- <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder
            ="Upload file"> -->
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class="btn btn-default">
        <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
        <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
        <!-- <span class="custom-file-control"></span> -->
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
          <div class="text-right">
            <button class="btn btn-primary btn-square" type="button" (click)="openmodal(mail)">
              <i class="icofont icofont-upload"></i> Intimate to
            </button>
          </div>
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th></th>
              <th>S.No.</th>
              <th>Part No.</th>
              <th>Drum Model No.</th>
              <th>From Date</th>
              <th>To Date</th>
              <th>Quantity</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of options1;let i=index">
              <td><input type="checkbox" [(ngModel)]="item.selected" name="menu1" [value]="item.id" id="{{item.id}}" (change)="checkValue(item.id,$event.target.checked)"></td>
              <td>{{i+1}}</td>
              <td>{{item.part_no}}</td>
              <td>{{item.drum_model}}</td>
              <td>{{item.fromdate}}</td>
              <td>{{item.todate}}</td>
              <td>{{item.quantity}}</td>
              <td>

                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='viewquantityfunction(item);openview(view)'>
                  <i class='icofont icofont-eye-alt'></i>
                </button>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletedrumwo(item.id)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>


<ng-template #view let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title" id="modal-basic-title">View Daily Plan</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #dailyplan="ngForm" (ngSubmit)="editdailyplan()">

      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="viewquantityid"
                required #vid="ngModel">
              <div *ngIf="vid.invalid && (vid.dirty || vid.touched)" class="alert-danger">
                <span *ngIf="vid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-md-12">
          <div class="alert-danger">
            <span>* Fields Are mandatory</span>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-12">
          <div class="alert-danger">
            <!-- <span class="row" *ngIf="totalerror">* The total of the quality is not equal to {{viewquantityquality}} to The daily total quantity not exceed the weekly quantity {{total}}</span> -->
            <span class="row" *ngIf="totalerror">* Total daily quantity {{total}} should not exceed the weekly quantity {{viewquantityquality}}.</span>

          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6" *ngFor="let x of viewquantity;let i = index;">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">{{x.date}}<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="quantity[{{i}}]" [(ngModel)]="viewquantity[i]['quantity']"
                required ngModel #quantity="ngModel" appEmitFirstSpace appDigitOnly pattern="^\d[0-9]*$" >
              <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert-danger">
                <span *ngIf="quantity.errors?.required">
                  QTY is Required
                </span>
                <span *ngIf="quantity.errors?.pattern">
                  QTY accepts only Numeric
                </span>
              </div>

            </div>
          </div>
        </div>
      </div>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!--<div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>-->
</ng-template>
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit Drum Weekly WO Generation</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reloadPage()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editdrumwo(editfrm,edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editplanning.id"
                required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Part No.</label>
                <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Part No." name="partno" [(ngModel)]="editplanning.part_no" #part="ngModel"
                      required readonly>
                    <div *ngIf="part.invalid && (part.dirty || part.touched)" class="alert-danger">
                      <span *ngIf="part.errors?.required">
                      Part Number Required
                      </span>
                    </div>
                  </div>
              </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Drum Model No.</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" Placeholder="Enter Model No." name="modelno" [(ngModel)]="editplanning.drum_model_no" #model="ngModel"
                          required>
                        <div *ngIf="model.invalid && (model.dirty || model.touched)" class="alert-danger">
                          <span *ngIf="model.errors?.required">
                          Drum Model No. Required
                          </span>
                        </div>
                  </div>
                  </div>
            </div>
          </div> -->
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Drum Model No.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">

              <select class='select-option  form-control' required [(ngModel)]="editplanning.drum_model_no" name="modelno"
                (ngModelChange)='onOptionsSelected($event)' #drummodel="ngModel">
                <option [value]="undefined" selected>Select Drum Model No.</option>
                <option [value]="null" selected>Select Drum Model No.</option>
                <option class='option' *ngFor='let option of options' [value]="option.id">{{option.drum_model}}</option>
              </select>
              <div *ngIf="drummodel.invalid && (drummodel.dirty || drummodel.touched)" class="alert-danger">
                <span *ngIf="drummodel.errors?.required">
                  Drum Model No. is Required
                </span>
              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Part No.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="partno" [(ngModel)]="editplanning.part_no" #partnos="ngModel"
                pattern="^\d[0-9]*$" required readonly>
              <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                <span *ngIf="partnos.errors?.required">
                  Part No. is Required
                </span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">From Date<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <!-- <input type="text" class="form-control" Placeholder="Enter Next Week Quantity" pattern="^\d[0-9]*$" name="quantity" ngModel #quantity="ngModel" pattern="^\d[0-9]*$" required> -->
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="fromdate" [(ngModel)]="editfromdate"
                  ngbDatepicker #fromdate="ngbDatepicker" readonly>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary fromdate" (click)="fromdate.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                </div>
              </div>
              <div *ngIf="fromdate.invalid && (fromdate.dirty || fromdate.touched)" class="alert-danger">
                <span *ngIf="fromdate.errors?.required">
                  From Date is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">To Date<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <div class="input-group">
                <input class="form-control" placeholder="yyyy-mm-dd" name="todate" [(ngModel)]="edittodate"
                  ngbDatepicker #todate="ngbDatepicker" readonly>
                <div class="input-group-append">
                  <button class="btn btn-outline-secondary todate" (click)="todate.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                </div>
              </div>
              <!-- <input type="text" class="form-control" Placeholder="Enter Per Day Plan" name="plan" ngModel #plan="ngModel" pattern="^\d[0-9]*$" required>
-->
              <div *ngIf="todate.invalid && (todate.dirty || todate.touched)" class="alert-danger">
                <span *ngIf="todate.errors?.required">
                  To Date is Required
                </span>

              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">QTY.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="qty" [(ngModel)]="editplanning.quantity" #quantity="ngModel"
                pattern="^\d[0-9]*$" required appEmitFirstSpace appDigitOnly>
              <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert-danger">
                <span *ngIf="quantity.errors?.required">
                  Quantity is Required
                </span>
                <span *ngIf="quantity.errors?.pattern">
                  Quantity accepts only Numeric
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reloadPage();">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
    </div> -->
</ng-template>
<ng-template #mail let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Drum Weekly Plan</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" name="addform" #frm="ngForm"  (ngSubmit)="addmailingstatus()">
              <div class="container" >
          <div class="row">
              <div class="col-sm-4">
                  <div>
                    <label class="label-control">Select Users :
                    </label>
                  </div>
                </div>
            <div class="col-sm-8" >
  
                <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" ngModel name="selectedemails" #selectedemails="ngModel" required 
                [settings]="dropdownSettings" 
                (onSelect)="onItemSelect($event)" 
                (onDeSelect)="OnItemDeSelect($event)"
                (onSelectAll)="onSelectAll($event)"
                (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
                <div *ngIf="selectedemails.invalid && (selectedemails.dirty || selectedemails.touched)" class="alert-danger">
                  <span *ngIf="selectedemails.errors?.required">
                  Role is Required
                  </span>
                </div>
            
              
            </div>
          
          </div>
        </div>
  
        <hr>
        <div class="form-group row float-right">
          <div class="col-sm-6">
            <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
          </div>
        </div>
      </form>
    </div>   
  </ng-template>