<div class="card borderless-card">
  <!-- Email-card start -->
  <div class="card-block email-card">
    <div class="row">
      <!-- Left-side section start -->
      <div class="col-lg-12 col-xl-3">
        <div class="user-head row">
          <div class="user-face">
            <img src="assets/images/user.png" class="img-60" alt="User-Profile-Image">
          </div>
          <div class="user-name">
            <span>John Doe</span>
            <span>johndoe34@gmail.com</span>
          </div>
        </div>
        <div class="user-body">
          <div class="card-block p-15">
            <a [routerLink]="['/email/compose-email/']" class="btn btn-danger btn-block">Compose</a>
          </div>
          <ul class="page-list nav nav-tabs flex-column" id="pills-tab" role="tablist">
            <li class="nav-item mail-section" [ngClass]="tabControl==='e-inbox' ? 'active' : ''">
              <a  class="nav-link" data-toggle="pill" href="javascript:" (click)="changeTabRelation('e-inbox')" role="tab">
                <i class="icofont icofont-inbox"></i> Inbox
                <label class="label label-primary f-right">6</label>
              </a>
            </li>
            <li class="nav-item mail-section" [ngClass]="tabControl==='e-starred' ? 'active' : ''">
              <a  class="nav-link" data-toggle="pill" href="javascript:" (click)="changeTabRelation('e-starred')" role="tab">
                <i class="icofont icofont-star"></i> Starred
              </a>
            </li>
            <li class="nav-item mail-section" [ngClass]="tabControl==='e-drafts' ? 'active' : ''">
              <a class="nav-link" data-toggle="pill" href="javascript:" (click)="changeTabRelation('e-drafts')" role="tab">
                <i class="icofont icofont-file-text"></i> Drafts
              </a>
            </li>
            <li class="nav-item mail-section" [ngClass]="tabControl==='e-sent' ? 'active' : ''">
              <a class="nav-link"  data-toggle="pill" href="javascript:" (click)="changeTabRelation('e-sent')" role="tab">
                <i class="icofont icofont-paper-plane"></i> Sent Mail
              </a>
            </li>
            <li class="nav-item mail-section" [ngClass]="tabControl==='e-trash' ? 'active' : ''">
              <a  class="nav-link"  data-toggle="pill" href="javascript:" (click)="changeTabRelation('e-trash')" role="tab">
                <i class="icofont icofont-ui-delete"></i> Trash
                <label class="label label-info f-right">30</label>
              </a>
            </li>
          </ul>
          <ul class="card-block label-list p-25">
            <li>
              <h5>Labels</h5></li>
            <li>
              <a class="mail-work" href="javascript:">Work</a>
            </li>
            <li>
              <a class="mail-design" href="javascript:">Design</a>
            </li>
            <li>
              <a class="mail-family" href="javascript:">Family</a>
            </li>
            <li>
              <a class="mail-friends" href="javascript:">Friends</a>
            </li>
            <li>
              <a class="mail-office" href="javascript:">Office</a>
            </li>
          </ul>
        </div>
      </div>
      <!-- Left-side section end -->
      <!-- Right-side section start -->
      <div class="col-lg-12 col-xl-9">
        <div class="tab-content" id="pills-tabContent">
          <div class="tab-pane fade" [ngClass]="tabControl==='e-inbox' ? 'show active' : ''" id="e-inbox" role="tabpanel" >
            <div class="mail-box-head row align-items-center">
              <div class="col-sm-3">
                <h3 class="m-b-5 m-t-5">Inbox</h3>
              </div>
              <div class="col-md-9">
                <form class="f-right">
                  <div class="right-icon-control">
                    <input type="text" class="form-control  search-text" placeholder="Search Friend" id="search-friends-4">
                    <div class="form-icon">
                      <i class="icofont icofont-search"></i>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="mail-body">
              <div class="mail-body-header">
                <div class="btn-group" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
                  <button type="button" class="btn btn-primary btn-xs waves-effect waves-light">
                    <i class="icofont icofont-exclamation-circle"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-xs waves-effect waves-light">
                    <i class="icofont icofont-inbox"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-xs waves-effect waves-light">
                    <i class="icofont icofont-ui-delete"></i>
                  </button>
                </div>
                <div ngbDropdown class="btn-group dropdown-split-primary">
                  <button type="button" class="btn btn-primary">
                    <i class="icofont icofont-ui-folder"></i>
                  </button>
                  <button ngbDropdownToggle type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle primary</span>
                  </button>
                  <div ngbDropdownMenu class="dropdown-menu">
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Action</a>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Another action</a>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Separated link</a>
                  </div>
                </div>
                <div ngbDropdown="" class="btn-group dropdown-split-primary">
                  <button type="button" class="btn btn-primary">
                    More
                  </button>
                  <button ngbDropdownToggle="" type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle primary</span>
                  </button>
                  <div ngbDropdownMenu="" class="dropdown-menu">
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Action</a>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Another action</a>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Separated link</a>
                  </div>
                </div>
              </div>
              <div class="mail-body-content">
                <div class="table-responsive">
                  <table class="table">
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-warning"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Google Inc</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">08:01 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">John Doe</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Coming Up Next Week</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">13:02 PM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-info"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Sara Soudein</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">SVG new updates comes for you</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">00:05 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-inverse"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Rinky Behl</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Photoshop updates are available</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">10:01 AM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Harry John</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">New upcoming data available</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">11:01 AM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-inverse"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Hanry Joseph</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">SCSS current working for new updates</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">12:01 PM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Liu Koi Yan</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Charts waiting for you</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">07:15 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-warning"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Google Inc</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">08:01 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">John Doe</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Coming Up Next Week</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">13:02 PM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-info"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Sara Soudein</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">SVG new updates comes for you</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">00:05 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-inverse"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Rinky Behl</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Photoshop updates are available</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">10:01 AM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Harry John</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">New upcoming data available</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">11:01 AM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-inverse"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Hanry Joseph</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">SCSS current working for new updates</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">12:01 PM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Liu Koi Yan</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Charts waiting for you</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">07:15 AM</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" [ngClass]="tabControl==='e-starred' ? 'show active' : ''" id="e-starred" role="tabpanel" >
            <div class="mail-box-head row align-items-center">
              <div class="col-sm-3">
                <h3 class="m-b-5 m-t-5">Starred</h3>
              </div>
              <div class="col-md-9">
                <form class="f-right">
                  <div class="right-icon-control">
                    <input type="text" class="form-control  search-text" placeholder="Search Friend" id="search-friends-5">
                    <div class="form-icon">
                      <i class="icofont icofont-search"></i>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="mail-body">
              <div class="mail-body-header">
                <div class="btn-group" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
                  <button type="button" class="btn btn-primary btn-xs waves-effect waves-light">
                    <i class="icofont icofont-exclamation-circle"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-xs waves-effect waves-light">
                    <i class="icofont icofont-inbox"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-xs waves-effect waves-light">
                    <i class="icofont icofont-ui-delete"></i>
                  </button>
                </div>
                <div ngbDropdown class="btn-group dropdown-split-primary">
                  <button type="button" class="btn btn-primary">
                    <i class="icofont icofont-ui-folder"></i>
                  </button>
                  <button ngbDropdownToggle type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle primary</span>
                  </button>
                  <div ngbDropdownMenu class="dropdown-menu">
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Action</a>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Another action</a>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Separated link</a>
                  </div>
                </div>
                <div ngbDropdown="" class="btn-group dropdown-split-primary">
                  <button type="button" class="btn btn-primary">
                    More
                  </button>
                  <button ngbDropdownToggle="" type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle primary</span>
                  </button>
                  <div ngbDropdownMenu="" class="dropdown-menu">
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Action</a>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Another action</a>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Separated link</a>
                  </div>
                </div>
              </div>
              <div class="mail-body-content">
                <div class="table-responsive">
                  <table class="table">
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-warning"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Google Inc</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">08:01 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">John Doe</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Coming Up Next Week</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">13:02 PM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-info"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Sara Soudein</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">SVG new updates comes for you</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">00:05 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-inverse"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Rinky Behl</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Photoshop updates are available</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">10:01 AM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Harry John</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">New upcoming data available</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">11:01 AM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-inverse"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Hanry Joseph</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">SCSS current working for new updates</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">12:01 PM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Liu Koi Yan</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Charts waiting for you</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">07:15 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-warning"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Google Inc</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">08:01 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">John Doe</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Coming Up Next Week</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">13:02 PM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-info"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Sara Soudein</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">SVG new updates comes for you</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">00:05 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-inverse"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Rinky Behl</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Photoshop updates are available</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">10:01 AM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Harry John</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">New upcoming data available</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">11:01 AM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-inverse"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Hanry Joseph</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">SCSS current working for new updates</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">12:01 PM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Liu Koi Yan</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Charts waiting for you</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">07:15 AM</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" [ngClass]="tabControl==='e-drafts' ? 'show active' : ''" id="e-drafts" role="tabpanel" >
            <div class="mail-box-head row align-items-center">
              <div class="col-sm-3">
                <h3 class="m-b-5 m-t-5">Drafts</h3>
              </div>
              <div class="col-md-9">
                <form class="f-right">
                  <div class="right-icon-control">
                    <input type="text" class="form-control  search-text" placeholder="Search Friend" id="search-friends-3">
                    <div class="form-icon">
                      <i class="icofont icofont-search"></i>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="mail-body">
              <div class="mail-body-header">
                <div class="btn-group" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
                  <button type="button" class="btn btn-primary btn-xs waves-effect waves-light">
                    <i class="icofont icofont-exclamation-circle"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-xs waves-effect waves-light">
                    <i class="icofont icofont-inbox"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-xs waves-effect waves-light">
                    <i class="icofont icofont-ui-delete"></i>
                  </button>
                </div>
                <div ngbDropdown class="btn-group dropdown-split-primary">
                  <button type="button" class="btn btn-primary">
                    <i class="icofont icofont-ui-folder"></i>
                  </button>
                  <button ngbDropdownToggle type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle primary</span>
                  </button>
                  <div ngbDropdownMenu class="dropdown-menu">
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Action</a>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Another action</a>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Separated link</a>
                  </div>
                </div>
                <div ngbDropdown="" class="btn-group dropdown-split-primary">
                  <button type="button" class="btn btn-primary">
                    More
                  </button>
                  <button ngbDropdownToggle="" type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle primary</span>
                  </button>
                  <div ngbDropdownMenu="" class="dropdown-menu">
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Action</a>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Another action</a>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Separated link</a>
                  </div>
                </div>
              </div>
              <div class="mail-body-content">
                <div class="table-responsive">
                  <table class="table">
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-warning"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Google Inc</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">08:01 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">John Doe</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Coming Up Next Week</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">13:02 PM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-info"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Sara Soudein</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">SVG new updates comes for you</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">00:05 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-inverse"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Rinky Behl</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Photoshop updates are available</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">10:01 AM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Harry John</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">New upcoming data available</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">11:01 AM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-inverse"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Hanry Joseph</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">SCSS current working for new updates</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">12:01 PM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Liu Koi Yan</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Charts waiting for you</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">07:15 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-warning"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Google Inc</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">08:01 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">John Doe</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Coming Up Next Week</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">13:02 PM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-info"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Sara Soudein</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">SVG new updates comes for you</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">00:05 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-inverse"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Rinky Behl</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Photoshop updates are available</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">10:01 AM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Harry John</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">New upcoming data available</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">11:01 AM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-inverse"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Hanry Joseph</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">SCSS current working for new updates</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">12:01 PM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Liu Koi Yan</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Charts waiting for you</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">07:15 AM</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" [ngClass]="tabControl==='e-sent' ? 'show active' : ''" id="e-sent" role="tabpanel" >
            <div class="mail-box-head row align-items-center">
              <div class="col-sm-3">
                <h3 class="m-b-5 m-t-5">Sent</h3>
              </div>
              <div class="col-md-9">
                <form class="f-right">
                  <div class="right-icon-control">
                    <input type="text" class="form-control  search-text" placeholder="Search Friend" id="search-friends-6">
                    <div class="form-icon">
                      <i class="icofont icofont-search"></i>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="mail-body">
              <div class="mail-body-header">
                <div class="btn-group" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
                  <button type="button" class="btn btn-primary btn-xs waves-effect waves-light">
                    <i class="icofont icofont-exclamation-circle"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-xs waves-effect waves-light">
                    <i class="icofont icofont-inbox"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-xs waves-effect waves-light">
                    <i class="icofont icofont-ui-delete"></i>
                  </button>
                </div>
                <div ngbDropdown class="btn-group dropdown-split-primary">
                  <button type="button" class="btn btn-primary">
                    <i class="icofont icofont-ui-folder"></i>
                  </button>
                  <button ngbDropdownToggle type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle primary</span>
                  </button>
                  <div ngbDropdownMenu class="dropdown-menu">
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Action</a>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Another action</a>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Separated link</a>
                  </div>
                </div>
                <div ngbDropdown="" class="btn-group dropdown-split-primary">
                  <button type="button" class="btn btn-primary">
                    More
                  </button>
                  <button ngbDropdownToggle="" type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle primary</span>
                  </button>
                  <div ngbDropdownMenu="" class="dropdown-menu">
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Action</a>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Another action</a>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Separated link</a>
                  </div>
                </div>
              </div>
              <div class="mail-body-content">
                <div class="table-responsive">
                  <table class="table">
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-warning"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Google Inc</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">08:01 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">John Doe</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Coming Up Next Week</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">13:02 PM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-info"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Sara Soudein</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">SVG new updates comes for you</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">00:05 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-inverse"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Rinky Behl</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Photoshop updates are available</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">10:01 AM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Harry John</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">New upcoming data available</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">11:01 AM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-inverse"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Hanry Joseph</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">SCSS current working for new updates</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">12:01 PM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Liu Koi Yan</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Charts waiting for you</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">07:15 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-warning"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Google Inc</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">08:01 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">John Doe</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Coming Up Next Week</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">13:02 PM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-info"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Sara Soudein</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">SVG new updates comes for you</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">00:05 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-inverse"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Rinky Behl</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Photoshop updates are available</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">10:01 AM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Harry John</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">New upcoming data available</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">11:01 AM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-inverse"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Hanry Joseph</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">SCSS current working for new updates</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">12:01 PM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Liu Koi Yan</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Charts waiting for you</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">07:15 AM</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="tab-pane fade" [ngClass]="tabControl==='e-trash' ? 'show active' : ''" id="e-trash" role="tabpanel" >
            <div class="mail-box-head row align-items-center">
              <div class="col-sm-3">
                <h3 class="m-b-5 m-t-5">Trash</h3>
              </div>
              <div class="col-md-9">
                <form class="f-right">
                  <div class="right-icon-control">
                    <input type="text" class="form-control  search-text" placeholder="Search Friend" id="search-friends-7">
                    <div class="form-icon">
                      <i class="icofont icofont-search"></i>
                    </div>
                  </div>
                </form>
              </div>
            </div>
            <div class="mail-body">
              <div class="mail-body-header">
                <div class="btn-group" role="group" data-toggle="tooltip" data-placement="top" title="" data-original-title=".btn-xlg">
                  <button type="button" class="btn btn-primary btn-xs waves-effect waves-light">
                    <i class="icofont icofont-exclamation-circle"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-xs waves-effect waves-light">
                    <i class="icofont icofont-inbox"></i>
                  </button>
                  <button type="button" class="btn btn-primary btn-xs waves-effect waves-light">
                    <i class="icofont icofont-ui-delete"></i>
                  </button>
                </div>
                <div ngbDropdown class="btn-group dropdown-split-primary">
                  <button type="button" class="btn btn-primary">
                    <i class="icofont icofont-ui-folder"></i>
                  </button>
                  <button ngbDropdownToggle type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle primary</span>
                  </button>
                  <div ngbDropdownMenu class="dropdown-menu">
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Action</a>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Another action</a>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Separated link</a>
                  </div>
                </div>
                <div ngbDropdown="" class="btn-group dropdown-split-primary">
                  <button type="button" class="btn btn-primary">
                    More
                  </button>
                  <button ngbDropdownToggle="" type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split waves-effect waves-light" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span class="sr-only">Toggle primary</span>
                  </button>
                  <div ngbDropdownMenu="" class="dropdown-menu">
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Action</a>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Another action</a>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Something else here</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item waves-effect waves-light" href="javascript:">Separated link</a>
                  </div>
                </div>
              </div>
              <div class="mail-body-content">
                <div class="table-responsive">
                  <table class="table">
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-warning"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Google Inc</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">08:01 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">John Doe</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Coming Up Next Week</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">13:02 PM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-info"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Sara Soudein</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">SVG new updates comes for you</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">00:05 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-inverse"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Rinky Behl</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Photoshop updates are available</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">10:01 AM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Harry John</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">New upcoming data available</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">11:01 AM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-inverse"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Hanry Joseph</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">SCSS current working for new updates</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">12:01 PM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Liu Koi Yan</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Charts waiting for you</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">07:15 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-warning"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Google Inc</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">08:01 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">John Doe</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Coming Up Next Week</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">13:02 PM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-info"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Sara Soudein</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">SVG new updates comes for you</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">00:05 AM</td>
                    </tr>
                    <tr class="unread">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-inverse"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Rinky Behl</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Photoshop updates are available</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">10:01 AM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Harry John</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">New upcoming data available</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">11:01 AM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-inverse"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Hanry Joseph</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">SCSS current working for new updates</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">12:01 PM</td>
                    </tr>
                    <tr class="read">
                      <td>
                        <div class="check-star">
                          <div class="checkbox-fade fade-in-primary checkbox">
                            <label>
                              <input type="checkbox" value="">
                              <span class="cr"><i class="cr-icon icofont icofont-verification-check txt-primary"></i></span>
                            </label>
                          </div>
                          <i class="icofont icofont-star text-primary"></i>
                        </div>
                      </td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Liu Koi Yan</a></td>
                      <td><a [routerLink]="['/email/email-read/']" class="email-name">Charts waiting for you</a></td>
                      <td class="email-attch"><a href="javascript:"><i class="icofont icofont-clip"></i></a></td>
                      <td class="email-time">07:15 AM</td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Right-side section end -->
    </div>
  </div>
  <!-- Email-card end -->
</div>
