<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block">
        <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="getproduction(frm,addNew)">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label text-right">Choose Production Report:</label>
                <div class="col-sm-5">
                  <select class="form-control" name="chooseproduction" ngModel #chooseproduction="ngModel"
                    required (change)="checkproduction(chooseproduction.value)">
                    <option value="" selected disabled>Select Production Report</option>
                    <option value="1">Cone</option>
                    <option value="2">Shell</option>
                    <option value="3"> Drum Model </option>
                    <option value="4"> Mixer Model </option>
                    <option value="5"> Mounting Mixer </option>
                    <!-- <option value="5"> Gear Box </option> -->
                  </select>
                  <div *ngIf="chooseproduction.invalid && (chooseproduction.dirty || chooseproduction.touched||frm.submitted)" class="alert-danger">
                    <span *ngIf="chooseproduction.errors?.required">
                      Choose Production Report Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label text-right">Choose Shift:</label>
                <div class="col-sm-5">
                  <select class="form-control" name="chooseshift" ngModel #chooseshift="ngModel" required>
                    <option value="" selected disabled>Select Shift (8 hrs)</option>
                    <option value="1"> A </option>
                    <option value="2"> B </option>
                    <option value="3"> C </option>
                  </select>
                  <div *ngIf="chooseshift.invalid && (chooseshift.dirty || chooseshift.touched||frm.submitted)" class="alert-danger">
                    <span *ngIf="chooseshift.errors?.required">
                      Choose Shift is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div  [ngSwitch]="choosep">
            <div *ngIf="choosep==='3'">
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-sm-5 col-form-label text-right">Select Process Category:</label>
                        <div class="col-sm-5">
                          <select class="form-control" name="choosecategory" ngModel
                            #choosecategory="ngModel" required (ngModelChange)="getworkstation($event)">
                            <option value="" selected disabled>Select Process Category</option>
                            <!-- <option value="7">Cone fabrication</option> -->
                            <option value="8">Drum fabrication</option>
                            <option value="9">Drum final Clearance</option>
                            <option value="10">RA Shell Process</option>
                          </select>
                          <div *ngIf="choosecategory.invalid && (choosecategory.dirty || choosecategory.touched||frm.submitted)"
                            class="alert-danger">
                            <span *ngIf="choosecategory.errors?.required">
                               Process Category Required
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div *ngIf="choosep==='4'">
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-sm-5 col-form-label text-right">Select Process Category:</label>
                        <div class="col-sm-5">
                          <select class="form-control" name="choosecategory" ngModel
                            #choosecategory="ngModel" required (ngModelChange)="getworkstation($event)">
                            <option value="" selected disabled>Select Process Category</option>
                            <!-- <option value="1">Preliminary Process</option> -->
                            <option value="2">Mixer Assembly</option>
                            <option value="3">Mixer Testing & Clearance</option>
                            <option value="4">Mixer Painting & FG Posting on SAP</option>
                            <!-- <option value="5">Mixer Mounting (Only based on Commercial Requirement)</option>
                            <option value="6">Mixer Delivery</option> -->
                          </select>
                          <div *ngIf="choosecategory.invalid && (choosecategory.dirty || choosecategory.touched ||frm.submitted)"
                            class="alert-danger">
                            <span *ngIf="choosecategory.errors?.required">
                               Process Category Required
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
            </div>
            <div *ngSwitchCase="choosep==='3' || choosep==='4' ? choosep : '' ">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-sm-5 col-form-label text-right">Choose Work Station:</label>
                    <div class="col-sm-5">
                      <!--<select class="form-control" name="chooseworkstation" [(ngModel)]="chooseworkstations"
                        #chooseworkstation="ngModel" required>
                        <option value="" selected disabled>Select Workstation</option>
                        <option value="all"> All </option>
                        <option *ngFor="let items of workstation.message" [value]="items.id">{{items.operation_code}}_{{items.list_of_operation}}</option>
                      </select>-->
                      <angular2-multiselect [data]="dropdownList_workstation" [(ngModel)]="chooseworkstations" ngModel name="chooseworkstation" #chooseworkstation="ngModel" required 
                      [settings]="dropdownSettings_workstation" 
                      (onSelect)="onworkstationselect($event)" 
                     ></angular2-multiselect>
                      <div *ngIf="chooseworkstation.invalid && (chooseworkstation.dirty || chooseworkstation.touched||frm.submitted)"
                        class="alert-danger">
                        <span *ngIf="chooseworkstation.errors?.required">
                          Choose WorkStation Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngSwitchCase="choosep==='3' || choosep==='4' ? choosep : '' ">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-sm-5 col-form-label text-right">Choose Model:</label>
                    <div class="col-sm-5">
                      <!--<select class="form-control" name="choosemodel" [(ngModel)]="choosemodels" #choosemodel="ngModel"
                        required>
                        <option value="" selected disabled>Select Model</option>
                        <option value="all"> All </option>
                        <option *ngFor="let items of propductmodel" [value]="items.id">{{items.partno}}_{{items.model}}</option>
                      </select>-->
                      <angular2-multiselect [data]="dropdownList_model" [(ngModel)]="choosemodels" ngModel name="choosemodel" #choosemodel="ngModel" required 
                      [settings]="dropdownSettings_model" 
                      (onSelect)="onmodelselect($event)" 
                     ></angular2-multiselect>
                      <div *ngIf="choosemodel.invalid && (choosemodel.dirty || choosemodel.touched||frm.submitted)" class="alert-danger">
                        <span *ngIf="choosemodel.errors?.required">
                          Choose Model is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div *ngIf="choosep==='5'">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label text-right">Choose Chassis Model:</label>
                      <div class="col-sm-5">
                        <select class="form-control" name="choosemodel" [(ngModel)]="choosemodels" #choosemodel="ngModel"
                          required>
                          <option value="" selected disabled>Select Model</option>
                          <option value="all"> All </option>
                          <option *ngFor="let items of chasismodel" [value]="items.id">{{items.chassismake}}_{{items.chassismodel}}</option>
                        </select>
                        <div *ngIf="choosemodel.invalid && (choosemodel.dirty || choosemodel.touched||frm.submitted)" class="alert-danger">
                          <span *ngIf="choosemodel.errors?.required">
                            Choose Model is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label text-right">Duration</label>
                <div class="col-sm-5">
                  <select class="form-control" name="duration" ngModel #duration="ngModel" required (ngModelChange)="durationtype($event)">
                    <option value="" selected disabled>Select Production Duration</option>
                    <option value="1"> Historical </option>
                    <option value="2"> Calendar Year </option>
                  </select>
                  <div *ngIf="duration.invalid && (duration.dirty || duration.touched||frm.submitted)" class="alert-danger">
                    <span *ngIf="duration.errors?.required">
                      Choose Duration Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div [ngSwitch]="durations">
            <div *ngSwitchCase="1">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-6 col-form-label text-right">From Date:</label>
                    <div class="col-sm-6">
                      <div class="input-group">                       
                        <input class="form-control" placeholder="yyyy-mm-dd"
                        name="fromcalendar" ngModel ngbDatepicker #fromcalendar="ngbDatepicker" [minDate]="hist_mindate" [maxDate]="hist_maxdate" required readonly [markDisabled]="isDisabled"  (ngModelChange)="onChange($event)">
                 <div class="input-group-append"> 
                   <button class="btn btn-outline-secondary calendar" (click)="fromcalendar.toggle()" type="buton"><i class="icofont icofont-ui-calendar"></i></button>
                 </div>
                      </div>

                      <div *ngIf="fromcalendar.invalid && (fromcalendar.dirty || fromcalendar.touched||frm.submitted)" class="alert-danger">
                        <span *ngIf="fromcalendar.errors?.required">
                          To date is required
                        </span>
                      </div>

                    </div>
                  </div>
                </div>
                
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-right">To Date:</label>
                    <div class="col-sm-6">
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="tocalendar" [minDate]="hist_mindate" [maxDate]="hist_maxdate" [(ngModel)]="model"
                          ngbDatepicker #tocalendar="ngbDatepicker" required readonly>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="tocalendar.toggle()" type="button"><i
                              class="icofont icofont-ui-calendar"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngSwitchCase="2">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-6 col-form-label text-right">From Date:</label>
                    <div class="col-sm-6">
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="fromcalendar" [minDate]="mindate" [maxDate]="maxdate" [(ngModel)]="models"
                          ngbDatepicker #fromcalendar="ngbDatepicker" required readonly>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="fromcalendar.toggle()" type="button"><i
                              class="icofont icofont-ui-calendar"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-3 col-form-label text-right">To Date:</label>
                    <div class="col-sm-6">
                      <div class="input-group">
                        <input class="form-control" placeholder="yyyy-mm-dd" name="tocalendar" [minDate]="mindate" [maxDate]="maxdate" [(ngModel)]="model"
                          ngbDatepicker #tocalendar="ngbDatepicker" required readonly>
                        <div class="input-group-append">
                          <button class="btn btn-outline-secondary calendar" (click)="tocalendar.toggle()" type="button"><i
                              class="icofont icofont-ui-calendar"></i></button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
          
              <!-- <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">   
                      <label class="col-sm-5 col-form-label text-right">Select Period:</label>                           
                      <div class="col-sm-5">
                        <select class="form-control" name="productionduration" [(ngModel)]="productiondurations" #productionduration="ngModel" required>
                          <option value="" selected disabled >Select Production Duration</option>
                          <option value="1"> Monthly </option>                          
                          <option value="2"> Date Selection </option>
                        </select>
                        <div *ngIf="productionduration.invalid && (productionduration.dirty || productionduration.touched)" class="alert-danger">
                          <span *ngIf="productionduration.errors?.required">
                            Choose Production Duration Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>          
                </div> -->
            </div>
          </div>
         
          <hr>

          <div class="form-group row pull-right">
            <div class="container">
              <button class="btn btn-info  btn-primary btn-square" type="submit"  >
                <i class="icofont icofont-check"></i> Submit
              </button>
            </div>
          </div>
        </form>
      </div>
      <div class="card-block">
        <div class="row table-responsive">
          <div [ngSwitch]="choosep">
            <div *ngSwitchCase="'3'">
                <button (click)="export()">Export</button>  
              <table #table1 class="table table-striped table-bordered row-border hover" id="exampletable">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Drum Part No.</th>
                    <th>Drum Model</th>
                    <th>Date</th>
                    <th>Total Qty</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of details;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.drumpart_no}}</td>
                    <td>{{item.drum_model}}</td>
                    <td>{{item.create_at}}</td>
                    <td>{{item.total_qty}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngSwitchCase="'4'">
                <button (click)="export1()">Export</button>  
              <table #table2 class="table table-striped table-bordered row-border hover" id="exampletable1">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Mixer Part No.</th>
                    <th>Mixer Model</th>
                    <th>Mixer Description</th>
                    <th>Total Qty</th>
                  </tr>
                </thead>
                <tr *ngFor="let item of details;let i=index">
                  <td>{{i+1}}</td>
                  <td>{{item.part_no}}</td> 
                  <td>{{item.mixer_model}}</td>
                  <td>{{item.mixer_description}}</td>
                  <td>{{item.total_qty}}</td>
                </tr>                
                <tbody>
                </tbody>
              </table>
            </div>
            <div *ngSwitchCase="'5'">
                <button (click)="export2()">Export</button> 
              <table #table3 class="table table-striped table-bordered row-border hover" id="exampletable2">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Date</th>
                    <th>Mounting W/O No.</th>
                    <th>Mounting Part No.</th>
                    <th>Mixer Part No.</th>
                    <th>Mixer Model</th>
                    <th>Mixer SNo.</th>
                    <th>Engine/GearBox No..</th>
                    <th>Mixer Color</th>
                    <th>Chassis No.</th>
                    <th>Chassis Engine No.</th>
                    <th>Customer</th>
                  </tr>
                </thead>
                <tbody>
                  <tr  *ngFor="let item of details;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.create_at}}</td>
                    <td>{{item.workorder_no}}</td>
                    <td>{{item.part_no}}</td> 
                    <td>{{item.part_no}}</td> 
                    <td>{{item.mixer_model}}</td>
                    <td>{{item.mixer_s_no}}</td>
                    <td>{{item.pm_no}}</td>
                    <td>{{item.mix_color}}</td>
                    <td>{{item.chassisno}}</td>
                    <td>{{item.vehicle_eng_no}}</td>
                    <td>{{item.customer_name}}</td>
                  </tr>                 
                </tbody>
              </table>
            </div>
            <div *ngSwitchCase="'1'">
                <button (click)="export3()">Export</button>  
              <table #table4 class="table table-striped table-bordered row-border hover" id="exampletable3">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Cone Category.</th>
                    <th>Total Quantity</th>
                    <th>Assignd Drum Model</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of details;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.cone_category}}</td>
                    <td>{{item.total_qty}}</td>
                    <td>{{item.drum_model}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngSwitchCase="'2'">
                <button (click)="export4()">Export</button>  
              <table #table5 class="table table-striped table-bordered row-border hover" id="exampletable4">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Category.</th>
                    <th>Total Quantity</th>
                    <th>Assignd Drum Model</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of details;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.shell_category}}</td>
                    <td>{{item.total_qty}}</td>
                    <td>{{item.drum_model}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
