<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="row">
          <div class="col-md-6">
            <h5>Package Chassis</h5>
            <p class="mandatoryfiles">* Fields Are mandatory</p>
          </div>
          <div class="col-md-6">
            <div class="text-right">
              <button class="btn btn-primary btn-square" type="button" (click)="openbulkupload(bulkupload)">
                <i class="icofont icofont-upload"></i> Bulk Upload
              </button>
            </div>  
          </div>
        </div>
      </div>
      <div class="card-block">
        <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="addchassispackage(frm,addnew)">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Chassis Make.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="chassismake" [ngModel]="setchassismake" #chassismake="ngModel" required>
                    <option [value]="undefined" selected hidden>Select Chassis Make</option>
                    <option [value]="null" selected hidden>Select Chassis Make</option>
                    <option *ngFor="let item of chassis_make.message" [value]="item.id">{{item.chassis_make}}</option>
                  </select>
                  <!-- <input type="text" class="form-control" ngModel #chassismake="ngModel" name="chassismake" required> -->
                  <div *ngIf="chassismake.invalid && (chassismake.dirty || chassismake.touched)" class="alert-danger">
                    <span *ngIf="chassismake.errors?.required">
                      Chassis Make is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Chassis Model<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Chassis Model" name="chassismodel" ngModel #chassismodel="ngModel" appEmitfirstspace required>
                  <div *ngIf="chassismodel.invalid && (chassismodel.dirty || chassismodel.touched)" class="alert-danger">
                    <span *ngIf="chassismodel.errors?.required">
                      Chassis Model is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">ROH<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter ROH" name="roh" ngModel #roh="ngModel" appEmitfirstspace required>
                  <div *ngIf="roh.invalid && (roh.dirty || roh.touched)" class="alert-danger">
                    <span *ngIf="roh.errors?.required">
                      ROH is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">BSIII/IV<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="bsiii" [(ngModel)]="setbsiii" #bsiii="ngModel" required id="">
                    <option value="undefined" selected hidden>Select BSIII/IV</option>
                    <option value="null" selected hidden>Select BSIII/IV</option>
                    <option value="1">BSIII</option>
                    <option value="2">BSIV</option>
                  </select>
                  <!-- <input type="text" class="form-control" Placeholder="Enter BSIII/IV" name="bsiii" ngModel #bsiii="ngModel" required> -->
                  <div *ngIf="bsiii.invalid && (bsiii.dirty || bsiii.touched)" class="alert-danger">
                    <span *ngIf="bsiii.errors?.required">
                      BSIII/IV is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Remarks</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Remarks" name="remarks" ngModel appEmitfirstspace #remarks="ngModel" >
                  <div *ngIf="remarks.invalid && (remarks.dirty || remarks.touched)" class="alert-danger">
                    <span *ngIf="remarks.errors?.required">
                      Remarks is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div class="form-group row float-right">
            <div class="col-sm-6">
              <button type="button" class="btn btn-default waves-effect pull-right" (click)="reset(frm)">Reset</button>
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Chassis Make.</th>
              <th>Chassis Model</th>
              <th>ROH</th>
              <th>BSIII/IV</th>
              <th>Remarks</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of packagechassis.message;let i=index">
              <td>{{i+1}}</td>
              <td>{{item.chassis_make}}</td>
              <td>{{item.chassismodel}}</td>
              <td>{{item.roh}}</td>
              <td [ngSwitch]="item.bsiii">
                <p *ngSwitchCase="'1'">BSIII</p>
                <p *ngSwitchCase="'2'">BSIV</p>
              </td>
              <td>
                <span *ngIf="!item.remarks">NA</span>
                <span *ngIf="item.remarks">{{item.remarks}}</span>
              </td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletechassis(item.id,item.chassisid)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class="btn btn-default">
        <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
        <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close
    </button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>

<!-- Edit -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit Package Chassis</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reloadpage()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editchassispackage(editfrm,edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editpchassis.id" required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Chassis Make.<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select class="form-control" name="chassismake" [(ngModel)]="editpchassis.chassisid" #chassismake="ngModel" required>
                  <option value="" selected disabled>Select Chassis Make</option>
                  <option *ngFor="let item of chassis_make.message" [value]="item.id">{{item.chassis_make}}</option>
                </select>
                <!-- <input type="text" class="form-control" [(ngModel)]="editpchassis.chassismake" #chassismake="ngModel" name="chassismake" required> -->
                <div *ngIf="chassismake.invalid && (chassismake.dirty || chassismake.touched)" class="alert-danger">
                  <span *ngIf="chassismake.errors?.required">
                    Chassis Make is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Chassis Model<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Chassis Model" name="chassismodel" [(ngModel)]="editpchassis.chassismodel" #chassismodel="ngModel" appEmitfirstspace required>
                <div *ngIf="chassismodel.invalid && (chassismodel.dirty || chassismodel.touched)" class="alert-danger">
                  <span *ngIf="chassismodel.errors?.required">
                    Chassis Model is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">ROH<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter ROH" name="roh" [(ngModel)]="editpchassis.roh" appEmitfirstspace #roh="ngModel" required>
                <div *ngIf="roh.invalid && (roh.dirty || roh.touched)" class="alert-danger">
                  <span *ngIf="roh.errors?.required">
                    ROH is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">BSIII/IV<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">   
                <select class="form-control" name="bsiii" [(ngModel)]="editpchassis.bsiii" #bsiii="ngModel" required id="">
                  <option value="undefined" selected hidden>Select BSIII/IV</option>
                  <option value="null" selected hidden>Select BSIII/IV</option>
                  <option value="1">BSIII</option>
                  <option value="2">BSIV</option>
                </select>             
                <!-- <input type="text" class="form-control" Placeholder="Enter BSIII/IV" name="bsiii" [(ngModel)]="editpchassis.bsiii" #bsiii="ngModel" required> -->
                <div *ngIf="bsiii.invalid && (bsiii.dirty || bsiii.touched)" class="alert-danger">
                  <span *ngIf="bsiii.errors?.required">
                    BSIII/IV is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Remarks</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Remarks" name="remarks" appEmitfirstspace [(ngModel)]="editpchassis.remarks" #remarks="ngModel" >
                <div *ngIf="remarks.invalid && (remarks.dirty || remarks.touched)" class="alert-danger">
                  <span *ngIf="remarks.errors?.required">
                    Remarks is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reloadpage()">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
    </div> -->
</ng-template>