<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="row">
            <div class="col-md-6">
                <h5>Task Assignment Targets</h5>
              </div>
              <div class="col-md-6">
                <div class="text-right">
                  <button class="btn btn-info btn-square" type="button" (click)="open(addnew)">
                    <i class="icofont icofont-plus"></i> Add Task Assignment Targets
                  </button>
                </div>
              </div>
        </div>
        
      </div>
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Station Name</th>
              <th>Operation Code</th>
              <th>Work Station</th>
              <th>Drum Model</th>
              <th>Time Allocated(Mins)</th>
              <th>Splitted Time</th>
              <th>Action</th>
            </tr>

          </thead>
          <tbody>
            <tr *ngFor="let item of taskassignment; let i=index">
              <td>{{i+1}}</td>
              <td *ngIf="item.station_name == '1'; else falsyTemplate">Fabrication</td>
              <ng-template #falsyTemplate>
                <td>Assembly</td>
              </ng-template>
              <td>{{item.opcode}}</td>
              <td>{{item.work_station}}</td>
              <td>{{item.drummodel}}</td>
              <td>{{item.time_required}}</td>
              <td>{{item.work_split}}</td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <!-- <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletetaskassignment(item.id)'><i class='icofont icofont-trash'></i></button> -->
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- end of card-footer -->
    </div>
  </div>  
</div>

<ng-template #addnew let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Add Task Assignment Targets</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(addnew)">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="addtask(frm,addNew)">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Station Name <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class='select-option  form-control' required [(ngModel)]="selecstation" name="stationname" #selestation="ngModel" (ngModelChange)='onOptionsSelected($event)'>                
                <option [value]="undefined" hidden selected> please select Station Name</option>
                <option [value]="null" hidden selected> please select Station Name</option>
                <option [value]="1">Fabrication</option>
                <option [value]="2">Assembly</option>
              </select>
              <div *ngIf="selestation.invalid && (selestation.dirty || selestation.touched)" class="alert-danger">
                <span *ngIf="selestation.errors?.required">
                  Station Name is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Operation Code <span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class='select-option  form-control' #operationcode="ngModel" required [(ngModel)]="seloperation" name=operationcode
                (ngModelChange)='getstationname($event)'>                
                <option [value]="undefined" hidden selected> please select Operation Code</option>
                <option [value]="null" hidden selected> please select Operation Code</option>
                <option class='option' *ngFor='let option of operationcodes' [value]="option.id">{{option.operation_code}}</option>
              </select>
              <div *ngIf="operationcode.invalid && (operationcode.dirty || operationcode.touched)" class="alert-danger">
                <span *ngIf="operationcode.errors?.required">
                  Operation Code Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div [ngSwitch]="type">
        <div *ngSwitchCase="'1'">
          <div [ngSwitch]="isavailable">
            <div *ngSwitchCase="'1'">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Workstation Name <span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="workstation" [(ngModel)]='workstationnames'
                        #workstationname="ngModel" readonly appEmitfirstspace>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Drum Model No. <span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <select class='select-option  form-control' required [(ngModel)]="seldrummodel" #drum="ngModel" name=drummodel
                        (ngModelChange)='drummodelchanged($event)'>
                        <option [value]="undefined" hidden selected> please select Drum Model No</option>
                        <option [value]="null" hidden selected> please select Drum Model No</option>
                        <option class='option' *ngFor='let option of drummodel' [value]="option.id">{{option.drum_model}}</option>
                      </select>
                      <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                      <div *ngIf="drum.invalid && (drum.dirty || drum.touched)" class="alert-danger">
                        <span *ngIf="drum.errors?.required">
                          Drum Model No. is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div [ngSwitch]="dividevalue">
                <div *ngSwitchCase="'6'">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Time Allocated <span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <ngb-timepicker ngModel [seconds]="seconds" name="timings" #timings="ngModel" required
                            (ngModelChange)="timechanged($event)"></ngb-timepicker>
                          <!-- <input type="time" class="form-control" Placeholder="Enter Emp Batch" name="timings" ngModel #timings="ngModel" required> -->
                          <div *ngIf="timings.invalid && (timings.dirty || timings.touched)" class="alert-danger">
                            <span *ngIf="timings.errors?.required">
                              Time is Required
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">17 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time17" [(ngModel)]='dividedtime17' #time17="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">33 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time33" [(ngModel)]='dividedtime33' #time33="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">50 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time50" [(ngModel)]='dividedtime50' #time50="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">67 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time67" [(ngModel)]='dividedtime67' #time67="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">83 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time83" [(ngModel)]='dividedtime83' #time83="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">100 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time100" [(ngModel)]='dividedtime100' #time100="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="'7'">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Time Allocated<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <ngb-timepicker ngModel [seconds]="seconds" name="timings" #timings="ngModel" required
                            (ngModelChange)="timechanged($event)"></ngb-timepicker>
                          <!-- <input type="time" class="form-control" Placeholder="Enter Emp Batch" name="timings" ngModel #timings="ngModel" required> -->
                          <div *ngIf="timings.invalid && (timings.dirty || timings.touched)" class="alert-danger">
                            <span *ngIf="timings.errors?.required">
                              Time is Required
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">14 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time14" [(ngModel)]='dividedtime14' #time14="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">29 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time29" [(ngModel)]='dividedtime29' #time29="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">43 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time43" [(ngModel)]='dividedtime43' #time43="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">57 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time57" [(ngModel)]='dividedtime57' #time57="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">71 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time71" [(ngModel)]='dividedtime71' #time71="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">86 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time86" [(ngModel)]='dividedtime86' #time86="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">100 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time100" [(ngModel)]='dividedtime100' #time100="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="'8'">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Time Allocated<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <ngb-timepicker ngModel [seconds]="seconds" name="timings" #timings="ngModel" required
                            (ngModelChange)="timechanged($event)"></ngb-timepicker>
                          <!-- <input type="time" class="form-control" Placeholder="Enter Emp Batch" name="timings" ngModel #timings="ngModel" required> -->
                          <div *ngIf="timings.invalid && (timings.dirty || timings.touched)" class="alert-danger">
                            <span *ngIf="timings.errors?.required">
                              Time is Required
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">13 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time13" [(ngModel)]='dividedtime13' #time13="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">25 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time25" [(ngModel)]='dividedtime25' #time25="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">38 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time38" [(ngModel)]='dividedtime38' #time38="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">50 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time50" [(ngModel)]='dividedtime50' #time50="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">63 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time63" [(ngModel)]='dividedtime63' #time63="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">75 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time75" [(ngModel)]='dividedtime75' #time75="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">88 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time88" [(ngModel)]='dividedtime88' #time88="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">100 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time100" [(ngModel)]='dividedtime100' #time100="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="'1'">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label">Time Allocated<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <ngb-timepicker ngModel [seconds]="seconds" name="timings" #timings="ngModel" required
                            (ngModelChange)="timechanged($event)"></ngb-timepicker>
                          <!-- <input type="time" class="form-control" Placeholder="Enter Emp Batch" name="timings" ngModel #timings="ngModel" required> -->
                          <div *ngIf="timings.invalid && (timings.dirty || timings.touched)" class="alert-danger">
                            <span *ngIf="timings.errors?.required">
                              Time is Required
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">25 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time25" [(ngModel)]='dividedtime25' #time25="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">50 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time50" [(ngModel)]='dividedtime50' #time50="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">75 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time75" [(ngModel)]='dividedtime75' #time75="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">100 %<span class="mandatoryfiles">*</span></label>
                        <div class="col-sm-8">
                          <input type="text" class="form-control" name="time100" [(ngModel)]='dividedtime100' #time100="ngModel"
                            readonly>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngSwitchCase="'2'">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Workstation Name<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="workstation" [(ngModel)]='workstationnames'
                        #workstationname="ngModel" readonly>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Time Allocated<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <ngb-timepicker ngModel [seconds]="seconds" name="timings" #timings="ngModel" required
                        (ngModelChange)="timechanged($event)"></ngb-timepicker>
                      <!-- <input type="time" class="form-control" Placeholder="Enter Emp Batch" name="timings" ngModel #timings="ngModel" required> -->
                      <div *ngIf="timings.invalid && (timings.dirty || timings.touched)" class="alert-danger">
                        <span *ngIf="timings.errors?.required">
                          Time is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div *ngSwitchCase="'2'">
          <div [ngSwitch]="isavailable">
            <div *ngSwitchCase="'4'">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Workstation Name<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="workstation" [(ngModel)]='workstationnames'
                        #workstationname="ngModel" readonly>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Time Allocated<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <ngb-timepicker ngModel [seconds]="seconds" name="timings" #timings="ngModel" required
                        (ngModelChange)="timechanged($event)"></ngb-timepicker>
                      <!-- <input type="time" class="form-control" Placeholder="Enter Emp Batch" name="timings" ngModel #timings="ngModel" required> -->
                      <div *ngIf="timings.invalid && (timings.dirty || timings.touched)" class="alert-danger">
                        <span *ngIf="timings.errors?.required">
                          Time is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div *ngSwitchCase="'3'">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Workstation Name<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="workstation" [(ngModel)]='workstationnames'
                        #workstationname="ngModel" readonly>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Time Allocated<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <ngb-timepicker ngModel [seconds]="seconds" name="timings" #timings="ngModel" required
                        (ngModelChange)="timechanged($event)"></ngb-timepicker>
                      <!-- <input type="time" class="form-control" Placeholder="Enter Emp Batch" name="timings" ngModel #timings="ngModel" required> -->
                      <div *ngIf="timings.invalid && (timings.dirty || timings.touched)" class="alert-danger">
                        <span *ngIf="timings.errors?.required">
                          Time is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">50 %<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="time50" [(ngModel)]='dividedtime50' #time50="ngModel"
                        readonly>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">100 %<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" class="form-control" name="time100" [(ngModel)]='dividedtime100' #time100="ngModel"
                        readonly>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset(addnew)">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>
<!-- Edit -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit Task Assignment Targets</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(edit)">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="edittasks(editfrm,edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="edittask.id"
                required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Station Name<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select class='select-option  form-control' required [(ngModel)]="edittask.station_name" name=stationname (ngModelChange)='onOptionsSelected($event)' #selestation="ngModel">
                  <option [value]="undefined" hidden selected> please Station Name</option>
                  <option [value]="null" hidden selected> please Station Name</option>
                  <option value="1">Fabrication</option>
                  <option value="2">Assembly</option>
                </select>
                <div *ngIf="selestation.invalid && (selestation.dirty || selestation.touched)" class="alert-danger">
                  <span *ngIf="selestation.errors?.required">
                    Station Name is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Operation Code<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select class='select-option  form-control' #operationcode="ngModel" required [(ngModel)]="edittask.operation_code" name=operationcode
                  (ngModelChange)='getstationname($event)'>                  
                  <option [value]="undefined" hidden selected> please Operation Code</option>
                  <option [value]="null" hidden selected> please Operation Code</option>
                  <option class='option' *ngFor='let option of operationcodes' [value]="option.id">{{option.operation_code}}</option>
                </select>
                <div *ngIf="operationcode.invalid && (operationcode.dirty || operationcode.touched)" class="alert-danger">
                  <span *ngIf="operationcode.errors?.required">
                    Operation Code Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div [ngSwitch]="type">
          <div *ngSwitchCase="'1'">
            <div [ngSwitch]="isavailable">
              <div *ngSwitchCase="'1'">
                <div class="row">
  
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Workstation Name<span class="mandatoryfiles">*</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="workstation" [(ngModel)]='edittask.work_station'
                          #workstationname="ngModel" readonly>
                      </div>
                    </div>
  
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Drum Model No.<span class="mandatoryfiles">*</span></label>
                      <div class="col-sm-8">
                        <select class='select-option  form-control' required [(ngModel)]="edittask.drum_model" #drum="ngModel" name=drummodel
                          (ngModelChange)='drummodelchanged($event)'>
                          <option [value]="undefined" hidden selected> please select Drum Model No.</option>
                          <option [value]="null" hidden selected> please select Drum Model No.</option>
                          <option class='option' *ngFor='let option of drummodel' [value]="option.id">{{option.drum_model}}</option>
                        </select>
                        <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                        <div *ngIf="drum.invalid && (drum.dirty || drum.touched)" class="alert-danger">
                          <span *ngIf="drum.errors?.required">
                            Drum Model No. is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div [ngSwitch]="dividevalue">
                  <div *ngSwitchCase="'6'">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label">Time Allocated<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <ngb-timepicker [(ngModel)]="edittime" [seconds]="seconds" name="timings" #timings="ngModel" required
                              (ngModelChange)="timechanged($event)"></ngb-timepicker>
                            <!-- <input type="time" class="form-control" Placeholder="Enter Emp Batch" name="timings" ngModel #timings="ngModel" required> -->
                            <div *ngIf="timings.invalid && (timings.dirty || timings.touched)" class="alert-danger">
                              <span *ngIf="timings.errors?.required">
                                Time is Required
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">17 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time17" [(ngModel)]="edittask.t_17" #time17="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">33 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time33" [(ngModel)]='edittask.t_33' #time33="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">50 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time50" [(ngModel)]='edittask.t_50' #time50="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">67 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time67" [(ngModel)]='edittask.t_67' #time67="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">83 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time83" [(ngModel)]='edittask.t_83' #time83="ngModel"
                              readonly>
                          </div>
                        </div>  
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">100 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time100" [(ngModel)]='edittask.time_required' #time100="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                    </div>
                  </div>
                  <div *ngSwitchCase="'7'">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label">Time Allocated<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <ngb-timepicker [(ngModel)]="edittime" [seconds]="seconds" name="timings" #timings="ngModel" required
                              (ngModelChange)="timechanged($event)"></ngb-timepicker>
                            <!-- <input type="time" class="form-control" Placeholder="Enter Emp Batch" name="timings" ngModel #timings="ngModel" required> -->
                            <div *ngIf="timings.invalid && (timings.dirty || timings.touched)" class="alert-danger">
                              <span *ngIf="timings.errors?.required">
                                Time is Required
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">14 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time14" [(ngModel)]='edittask.t_14' #time14="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">29 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time29" [(ngModel)]='edittask.t_29' #time29="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">43 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time43" [(ngModel)]='edittask.t_43' #time43="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">57 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time57" [(ngModel)]='edittask.t_57' #time57="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">71 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time71" [(ngModel)]='edittask.t_71' #time71="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">86 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time86" [(ngModel)]='edittask.t_86' #time86="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">100 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time100" [(ngModel)]='edittask.time_required' #time100="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                    </div>
                  </div>
                  <div *ngSwitchCase="'8'">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label">Time Allocated<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <ngb-timepicker [(ngModel)]="edittime" [seconds]="seconds" name="timings" #timings="ngModel" required
                              (ngModelChange)="timechanged($event)"></ngb-timepicker>
                            <!-- <input type="time" class="form-control" Placeholder="Enter Emp Batch" name="timings" ngModel #timings="ngModel" required> -->
                            <div *ngIf="timings.invalid && (timings.dirty || timings.touched)" class="alert-danger">
                              <span *ngIf="timings.errors?.required">
                                Time is Required
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">13 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time13" [(ngModel)]='edittask.t_13' #time13="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">25 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time25" [(ngModel)]='edittask.t_25' #time25="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">38 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time38" [(ngModel)]='edittask.t_38' #time38="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">50 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time50" [(ngModel)]='edittask.t_50' #time50="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">63 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time63" [(ngModel)]='edittask.t_63' #time63="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">75 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time75" [(ngModel)]='edittask.t_75' #time75="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">88 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time88" [(ngModel)]='edittask.t_88' #time88="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">100 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time100" [(ngModel)]='edittask.time_required' #time100="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                    </div>
                  </div>
                  <div *ngSwitchCase="'1'">
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label">Time Allocated<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <ngb-timepicker [(ngModel)]="edittime" [seconds]="seconds" name="timings" #timings="ngModel" required
                              (ngModelChange)="timechanged($event)"></ngb-timepicker>
                            <!-- <input type="time" class="form-control" Placeholder="Enter Emp Batch" name="timings" ngModel #timings="ngModel" required> -->
                            <div *ngIf="timings.invalid && (timings.dirty || timings.touched)" class="alert-danger">
                              <span *ngIf="timings.errors?.required">
                                Time is Required
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">25 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time25" [(ngModel)]='edittask.t_25' #time25="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">50 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time50" [(ngModel)]='edittask.t_50' #time50="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">75 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time75" [(ngModel)]='edittask.t_75' #time75="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">100 %<span class="mandatoryfiles">*</span></label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" name="time100" [(ngModel)]='edittask.time_required' #time100="ngModel"
                              readonly>
                          </div>
                        </div>
  
                      </div>
                    </div>
                  </div>
                </div>
  
              </div>
              <div *ngSwitchCase="'2'">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Workstation Name<span class="mandatoryfiles">*</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="workstation" [(ngModel)]='workstationnames'
                          #workstationname="ngModel" readonly>
                      </div>
                    </div>
  
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Time Allocated<span class="mandatoryfiles">*</span></label>
                      <div class="col-sm-8">
                        <ngb-timepicker [(ngModel)]="edittime"  [seconds]="seconds" name="timings" #timings="ngModel" required
                          (ngModelChange)="timechanged($event)"></ngb-timepicker>
                        <!-- <input type="time" class="form-control" Placeholder="Enter Emp Batch" name="timings" ngModel #timings="ngModel" required> -->
                        <div *ngIf="timings.invalid && (timings.dirty || timings.touched)" class="alert-danger">
                          <span *ngIf="timings.errors?.required">
                            Time is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
          </div>
          <div *ngSwitchCase="'2'">
            <div [ngSwitch]="isavailable">
              <div *ngSwitchCase="'4'">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Workstation Name<span class="mandatoryfiles">*</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="workstation" [(ngModel)]='workstationnames'
                          #workstationname="ngModel" readonly>
                      </div>
                    </div>
  
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Time Allocated<span class="mandatoryfiles">*</span></label>
                      <div class="col-sm-8">
                        <ngb-timepicker [(ngModel)]="edittime"  [seconds]="seconds" name="timings" #timings="ngModel" required
                          (ngModelChange)="timechanged($event)"></ngb-timepicker>
                        <!-- <input type="time" class="form-control" Placeholder="Enter Emp Batch" name="timings" ngModel #timings="ngModel" required> -->
                        <div *ngIf="timings.invalid && (timings.dirty || timings.touched)" class="alert-danger">
                          <span *ngIf="timings.errors?.required">
                            Time is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'3'">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Workstation Name<span class="mandatoryfiles">*</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="workstation" [(ngModel)]='workstationnames'
                          #workstationname="ngModel" readonly>
                      </div>
                    </div>
  
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label">Time Allocated<span class="mandatoryfiles">*</span></label>
                      <div class="col-sm-8">
                        <ngb-timepicker [(ngModel)]="edittime" [seconds]="seconds" name="timings" #timings="ngModel" required
                          (ngModelChange)="timechanged($event)"></ngb-timepicker>
                        <!-- <input type="time" class="form-control" Placeholder="Enter Emp Batch" name="timings" ngModel #timings="ngModel" required> -->
                        <div *ngIf="timings.invalid && (timings.dirty || timings.touched)" class="alert-danger">
                          <span *ngIf="timings.errors?.required">
                            Time is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">50 %<span class="mandatoryfiles">*</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="time50" [(ngModel)]='edittask.t_50' #time50="ngModel"
                          readonly>
                      </div>
                    </div>
  
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">100 %<span class="mandatoryfiles">*</span></label>
                      <div class="col-sm-8">
                        <input type="text" class="form-control" name="time100" [(ngModel)]='edittask.time_required' #time100="ngModel"
                          readonly>
                      </div>
                    </div>
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset(edit)">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>