<div class="row">
    <div class="col-sm-12">
        <app-data-table-selection-cell></app-data-table-selection-cell>
        <app-data-table-selection-single-row></app-data-table-selection-single-row>
        <app-data-table-selection-multi-rows></app-data-table-selection-multi-rows>
        <app-data-table-selection-checkbox></app-data-table-selection-checkbox>
    </div>
</div>