<div class="row">
  <!-- SITE VISIT CHART start -->
  <div class="col-md-12 col-lg-6">
    <app-card [title]="'SITE VISIT CHART'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
      <div id="morris-site-visit"></div>
    </app-card>
  </div>
  <!-- SITE VISIT CHART Ends -->
  <!-- Bar Chart start -->
  <div class="col-md-12 col-lg-6">
    <app-card [title]="'BAR CHART'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
      <div id="morris-bar-chart"></div>
    </app-card>
  </div>
  <!-- Bar Chart Ends -->
  <!-- EXTRA AREA CHART start -->
  <div class="col-lg-12">
    <app-card [title]="'EXTRA AREA CHART'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <div id="morris-extra-area"></div>
    </app-card>
  </div>
  <!-- EXTRA AREA CHART Ends -->
  <!-- Area Chart start -->
  <div class="col-lg-12">
    <app-card [title]="'Area Chart'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <div id="area-example"></div>
    </app-card>
  </div>
  <!-- Area Chart Ends -->
  <!-- LINE CHART start -->
  <div class="col-md-12 col-lg-6">
    <app-card [title]="'LINE CHART'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <div id="line-example"></div>
    </app-card>
  </div>
  <!-- LINE CHART Ends -->
  <!-- Donut chart start -->
  <div class="col-md-12 col-lg-6">
    <app-card [title]="'Donut CHART'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <div id="donut-example"></div>
    </app-card>
  </div>
  <!-- Donut chart Ends -->
</div>