<div class="row">
    <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="row">
              <div class="col-md-6">
                  <h5>Completed Mounting</h5>
                </div>
                <div class="col-md-6">
                  <div class="text-right">
                    <button class="btn btn-primary btn-square" type="button" (click)="openmodal(mail)">
                      <i class="icofont icofont-upload"></i> Intimate to
                    </button>
                  </div>
                </div>
          </div>
          
        </div>
        <div class="card-block table-responsive">
          <table class="datatable table table-striped table-bordered row-border hover">
            <thead>
              <tr>
                <th></th>
                <th>S.No.</th>
                <th>DATE OF COMPLETION</th>
                <th>TM.NO</th>
                <th>COLOUR SCHEME</th>
                <th>Mixer Engine No / Gear Box No</th>
                <th>ID NO</th>
                <th>CHASSIS NO</th>
                <th>VEHICLE ENGINE NO</th>
                <th>CUSTOMER </th>
                <th>Mounting Completion Done</th>
                <th>U bolt mounting</th>
                <th>FBV completion</th>
                <th>Mounted by</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of completedmounting.message;let i=index">
                <td><input type="checkbox" [(ngModel)]="item.selected" name="menu1" [value]="item.id" id="{{item.id}}" (change)="checkValue(item.id,$event.target.checked)"></td>
                <td>{{i+1}}</td>
                <td>{{item.mounteddate}}</td>
                <td>{{item.tmno}}</td>
                <td>{{item.color}}</td>
                <td>{{item.mixerengineno}}</td>
                <td>{{item.partno}}</td>
                <td>{{item.chaaisno}}</td>
                <td>{{item.lrno}}</td>
                <td>{{item.customername}}</td>
                <td>Yes</td>
                <td>
                  <span *ngIf="item.mountingscope == '3' && item.mountingscope != '1' ; else notLoggeds">
                    Yes
                  </span>
                  <ng-template #notLoggeds>
                    -
                  </ng-template>
                </td>
                <td>
                  <span *ngIf="item.mountingscope == '2' && item.mountingscope != '1'; else notLoggedIn1">
                    Yes
                  </span>
                  <ng-template #notLoggedIn1>
                    -
                  </ng-template>
                </td>
                <td>
                  <span *ngIf="item.mountingscope == '3' && item.mountingscope != '1'; else notLoggedIn2">
                    Yes
                  </span>
                  <ng-template #notLoggedIn2>
                    SSIPL
                  </ng-template>
                </td>                
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end of card-footer -->
      </div>
    </div>
  </div>
<ng-template #mail let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Mounting Completion</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="addform" #frm="ngForm"  (ngSubmit)="addbillingstatus()">
            <div class="container" >
        <div class="row">
            <div class="col-sm-4">
                <div>
                  <label class="label-control">Select Users :
                  </label>
                </div>
              </div>
          <div class="col-sm-8" >

              <angular2-multiselect [data]="dropdownList" [(ngModel)]="selectedItems" ngModel name="selectedemails" #selectedemails="ngModel" required 
              [settings]="dropdownSettings" 
              (onSelect)="onItemSelect($event)" 
              (onDeSelect)="OnItemDeSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)"></angular2-multiselect>
              <div *ngIf="selectedemails.invalid && (selectedemails.dirty || selectedemails.touched)" class="alert-danger">
                <span *ngIf="selectedemails.errors?.required">
                Role is Required
                </span>
              </div>
          
            
          </div>
        
        </div>
      </div>

      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>   
</ng-template>