<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="col-md-6">
          <h5>Users</h5>
        </div>
      </div>
      <div class="card-block">
          <form class="form-horizontal" #frm="ngForm" (ngSubmit)="createuser(frm)">
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Employee</label>
                  <div class="col-sm-6">
                      <select class='select-option  form-control' required ngModel name=empid #empno="ngModel" >
                      <option value="" selected hidden>Select Employee</option>
                          <option class='option' *ngFor='let option of employees' [value]="option.emp_no">{{option.name}}({{option.emp_no}})_{{option.role}}</option>
                      </select> 
                      <div *ngIf="empno.invalid && (empno.dirty || empno.touched)" class="alert-danger">
                          <span *ngIf="empno.errors?.required">
                              Employee is Required.
                          </span>
                 
                        </div>
                  </div>
                </div>
              </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Email Id</label>
              <div class="col-sm-6">
                  <input type="email" class="form-control" placeholder="Your Email Address" name="email" email ngModel #emailLogin="ngModel" 
                   required>
                 
                    <div *ngIf="emailLogin.invalid && (emailLogin.dirty || emailLogin.touched)" class="alert-danger">
                        <span *ngIf="emailLogin.errors?.required">
                            Email is Required.
                        </span>
                        <span *ngIf="emailLogin.errors?.email">
                            Email is not valid.
                          </span>
                      </div>
              </div>
            
              
            </div>
          </div>
         
        </div>
        <!-- <div class="row">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Role</label>
              <div class="col-sm-6">
                      <select class='select-option  form-control' required ngModel name=role #roles="ngModel">
                       <option value="" selected >Select Role</option>
                       <option class='option' *ngFor='let option of userrole' [value]="option.id">{{option.user_role}}</option>
                      </select> 
         
                  <div *ngIf="roles.invalid && (roles.dirty || roles.touched)" class="alert-danger">
                    <span *ngIf="roles.errors?.required">
                    Role is Required
                    </span>
                  </div>
                
            </div>
          </div>
          </div>
        
        </div> -->
        <hr>
        <div>
            <div class="form-group row float-right">
                <button class="btn btn-primary btn-square" type="submit" [disabled]="!frm.form.valid">
                  <i class="icofont icofont-tick-mark"></i> Create
                </button>
                <button class="btn btn-info btn-square" type="button" (click)="reset(frm)">
                  <i class="icofont icofont-refresh"></i> Reset
                </button>
                <!-- end of dropdown menu -->
              </div>
        </div>
        </form>
      </div>
    
      <!-- end of card-footer -->
    </div>
</div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">          
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
              <thead>
            <tr>              
                <th>S.No.</th>
                <th>Employee</th>
                <th>Email ID</th>
                <th>Role</th> 
                <th>Actions</th>             
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of employeesdetails;let i=index">              
                <td>{{i+1}}</td>
                <td>{{item.name}} ({{item.emp_no}})</td>
                <td>{{item.email}}</td>
                <td>{{item.role}}</td>                   
                <td>
                  <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'> 
                  <i class='icofont icofont-fountain-pen'></i>
                  </button>
                  <button class="btn btn-danger btn-outline-danger btn-icon" (click)="deleteempid(item.id)">
                    <i class="icofont icofont-trash"></i>
                  </button>

                </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>
<!-- edit -->
<ng-template #edit let-c="close" let-d="dismiss">
    <div class="modal-header">
      <div class="text-left">
        <h4 class="modal-title">User Details</h4>
        <p class="mandatoryfiles">* Fields Are mandatory</p>
      </div>
      <div class="text-right">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(edit)">
          <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editemployees(editfrm)">
          <div class="row" style="display:none">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Id</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editemployee.id" required #eid="ngModel">
                    <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                      <span *ngIf="eid.errors?.required">
                        ID is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Emp No <span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Emp No" name="empno" appEmitfirstspace [(ngModel)]="editemployee.emp_no" #eno="ngModel"
                      required readonly>
                    <div *ngIf="eno.invalid && (eno.dirty || eno.touched)" class="alert-danger">
                      <span *ngIf="eno.errors?.required">
                        Emp No. is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Name <span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Name" name="empname" appEmitfirstspace [(ngModel)]="editemployee.name" #ename="ngModel"
                      required readonly>
                    <div *ngIf="ename.invalid && (ename.dirty || ename.touched)" class="alert-danger">
                      <span *ngIf="ename.errors?.required">
                        Emp Name is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">
                   <label class="col-sm-4 col-form-label">Email</label>
                    <div class="col-sm-8">
                      <input type="email" class="form-control" Placeholder="Enter Email " name="email"   [(ngModel)]="editemployee.email"
                        #email="ngModel"  >
                      <div *ngIf="email.invalid && (email.dirty || email.touched)" class="alert-danger">
                        <span *ngIf="email.errors?.required">
                          Emp Email is Required
                        </span>
                       
                      </div>
                    </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">
                    <label class="col-sm-4 col-form-label">Employee Role<span class="mandatoryfiles">*</span></label>
              
                    <div class="col-sm-8">
                      <!-- <select class="form-control" name="empdest" [(ngModel)]="editemployee.roles" #edest="ngModel" required  ng-readonly>
                        <option [value]="undefined" selected hidden>Select Employee Role</option>
                        <option [value]="null" selected hidden>Select Employee Role</option>
                        <option class='option' *ngFor='let option of userrole' [value]="option.id">{{option.user_role}}</option>       
                      </select> -->
                      <input type="text" class="form-control" Placeholder="Enter Employee Role " name="empdest" appEmitfirstspace  #empdest="ngModel"
                      required readonly [(ngModel)]="editemployee.role" >
                      
                        <!-- <div *ngIf="edest.invalid && (edest.dirty || edest.touched)" class="alert-danger">
                          <span *ngIf="edest.errors?.required">
                            Emp Destination is Required
                          </span>
                        </div> -->
                  </div>
              </div>
              </div>
            </div>
           
       <hr>
        <div class="form-group row float-right">
          <div class="col-sm-6">
            <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset(edit)">Close</button>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
  
