<div class="row">
  <div class="col-sm-12">
    <form class="form-horizontal" name="addform" #addfrm="ngForm" (ngSubmit)="addpdicheck(addfrm)">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="col-md-6">
            <h5>FBV Checklist </h5>
            <p class="mandatoryfiles">* Fields Are mandatory</p>
          </div>
        </div>
        <div class="card-block">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Checklist Name.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" [(ngModel)]="checklistname" name="checklistname" id="" #checklistnames="ngModel" required>
                    <option [value]="undefined" selected hidden>Please Select Chasiis Checklist</option>
                    <option [value]="null" selected hidden>Please Select Chassis Checklist</option>
                    <option [value]="1">MOUNTING CHECK LIST</option>
                    <option [value]="2">Party Mounting</option>
                    <option [value]="3">CHASSIS + BENZ</option>
                    <option [value]="4">D 6 - 8 m³ & 10 m³ R 1</option>
                    <option [value]="5">CHASSIS + 6 m³ TM</option>
                    <option [value]="6">CHASSIS + 8 m³ TM</option>
                    <option [value]="7">CHASSIS + 10 m³ TM</option>
                    <option [value]="8">Mounting Pithampur - 8 m³</option>
                    <option [value]="9">D 6 - 8 m³ R0</option>
                  </select>
                  <div *ngIf="checklistnames.invalid && (checklistnames.dirty || checklistnames.touched)" class="alert-danger">
                    <span *ngIf="checklistnames.errors?.required">
                      Chassis Inspection Checklist. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>   
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Check List.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <textarea type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #mountingchecklistss="ngModel"  appEmitfirstspace required></textarea>
                  <div *ngIf="mountingchecklistss.invalid && (mountingchecklistss.dirty || mountingchecklistss.touched)" class="alert-danger">
                    <span *ngIf="mountingchecklistss.errors?.required">
                      Chassis Inspection Checklist. is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>         
          </div>
          <!-- <div [ngSwitch]="checklistname">
            <div class="row" *ngSwitchCase="'1'">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Check List.</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #mountingchecklistss="ngModel" required>
                    <div *ngIf="mountingchecklistss.invalid && (mountingchecklistss.dirty || mountingchecklistss.touched)" class="alert-danger">
                      <span *ngIf="mountingchecklistss.errors?.required">
                        Chassis Inspection Checklist. is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Chassis Image.</label>
                  <div class="col-sm-8">
                    <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" name="fabprocesschart" ngModel #mountingfile="ngModel" accept="image/x-png,image/gif,image/jpeg" required>
                    <div *ngIf="mountingfile.invalid && (mountingfile.dirty || mountingfile.touched)" class="alert-danger">
                      <span *ngIf="mountingfile.errors?.required">
                        Chassis Inspection Image. is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngSwitchCase="'2'">
              <div class="col-sm-10">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Check List.</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #Partychecklistss="ngModel"
                      required>
                    <div *ngIf="Partychecklistss.invalid && (Partychecklistss.dirty || Partychecklistss.touched)" class="alert-danger">
                      <span *ngIf="Partychecklistss.errors?.required">
                        Chassis Inspection Checklist. is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngSwitchCase="'3'">
              <div class="col-sm-10">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Check List.</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #Chassischecklistss="ngModel"
                      required>
                    <div *ngIf="Chassischecklistss.invalid && (Chassischecklistss.dirty || Chassischecklistss.touched)" class="alert-danger">
                      <span *ngIf="Chassischecklistss.errors?.required">
                        Chassis Inspection Checklist. is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngSwitchCase="'4'">
              <div class="col-sm-10">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Check List.</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #D6checklistss="ngModel"
                    appEmitfirstspace required>
                    <div *ngIf="D6checklistss.invalid && (D6checklistss.dirty || D6checklistss.touched)" class="alert-danger">
                      <span *ngIf="D6checklistss.errors?.required">
                        Chassis Inspection Checklist. is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngSwitchCase="'5'">
              <div class="col-sm-10">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Check List.</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #m6checklistss="ngModel"
                    appEmitfirstspace required>
                    <div *ngIf="m6checklistss.invalid && (m6checklistss.dirty || m6checklistss.touched)" class="alert-danger">
                      <span *ngIf="m6checklistss.errors?.required">
                        Chassis Inspection Checklist. is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngSwitchCase="'6'">
              <div class="col-sm-10">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Check List.</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #m8checklistss="ngModel"
                    appEmitfirstspace required>
                    <div *ngIf="m8checklistss.invalid && (m8checklistss.dirty || m8checklistss.touched)" class="alert-danger">
                      <span *ngIf="m8checklistss.errors?.required">
                        Chassis Inspection Checklist. is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngSwitchCase="'7'">
              <div class="col-sm-10">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Check List.</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #m10checklistss="ngModel"
                    appEmitfirstspace required>
                    <div *ngIf="m10checklistss.invalid && (m10checklistss.dirty || m10checklistss.touched)" class="alert-danger">
                      <span *ngIf="m10checklistss.errors?.required">
                        Chassis Inspection Checklist. is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngSwitchCase="'8'">
              <div class="col-sm-10">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Check List.</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #pithampurchecklistss="ngModel" appEmitfirstspace required>
                    <div *ngIf="pithampurchecklistss.invalid && (pithampurchecklistss.dirty || pithampurchecklistss.touched)" class="alert-danger">
                      <span *ngIf="pithampurchecklistss.errors?.required">
                        Chassis Inspection Checklist. is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" *ngSwitchCase="'9'">
              <div class="col-sm-10">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Check List.</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #d6checklistss="ngModel"
                    appEmitfirstspace required>
                    <div *ngIf="d6checklistss.invalid && (d6checklistss.dirty || d6checklistss.touched)" class="alert-danger">
                      <span *ngIf="d6checklistss.errors?.required">
                        Chassis Inspection Checklist. is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div> -->
          <div class="card-footer">
            <div class="task-board m-0">
              <!-- end of dropdown-secondary -->
              <div class="dropdown-secondary dropdown">
                <button class="btn btn-primary btn-square" type="submit" [disabled]="!addfrm.form.valid">
                  <i class="icofont icofont-tick-mark"></i> Submit
                </button>
                <button class="btn btn-info btn-square" type="button" (click)="resetform(addfrm)">
                  <i class="icofont icofont-refresh"></i> Reset
                </button>
                <!-- end of dropdown menu -->
              </div>
              <!-- end of seconadary -->
            </div>
            <!-- end of pull-right class -->
          </div>
        </div>
        
        <!-- end of card-footer -->
      </div>
    </form>
  </div>
</div>
<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Checklist Name</th>
              <th>Checklist</th>
              <!-- <th>Image File</th> -->
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of checklist;let i = index">
              <td>{{i+1}}</td>
              <td [ngSwitch]="item.checklistname">
                <p *ngSwitchCase="'1'">MOUNTING CHECK LIST</p>
                <p *ngSwitchCase="'2'">Party Mounting</p>
                <p *ngSwitchCase="'3'">CHASSIS + BENZ</p>
                <p *ngSwitchCase="'4'">D 6 - 8 m³ & 10 m³ R 1</p>
                <p *ngSwitchCase="'5'">CHASSIS + 6 m³ TM</p>
                <p *ngSwitchCase="'6'">CHASSIS + 8 m³ TM</p>
                <p *ngSwitchCase="'7'">CHASSIS + 10 m³ TM</p>
                <p *ngSwitchCase="'8'">Mounting Pithampur - 8 m³</p>
                <p *ngSwitchCase="'9'">D 6 - 8 m³ R0</p>
              </td>
              <td>{{item.checklist}}</td>
              <!-- <td class="text-center">
                <span *ngIf="item.checklistname == '1' || item.image != null || item.image != ''; else notLoggedIn">                  
                  <button class='btn btn-default btn-outline-default btn-icon' (click)='showimage(item.image);openbulkupload(bulkupload)'>
                      <i class='icofont icofont-image'></i>
                  </button>
                </span>
                <ng-template #notLoggedIn>                  
                  NA
                </ng-template>            
              </td> -->
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletechecklist(item.id,item.image)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-body">
    <button type="button" class="close basic-close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
    <img src="{{processimage}}" class="form-control" height="400" width="300">
  </div>
</ng-template>

<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit Chassis Inspection</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reloadPage()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="editfrm" #editfrm="ngForm" (ngSubmit)="editchecklists(editfrm, edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editchecklist.id" required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Checklist Name.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" [(ngModel)]="editchecklist.checklistname" name="checklistname" id="" #checklistnamess="ngModel" appEmitfirstspace required>
                <option [value]="undefined" selected hidden>Please Select Chasiis Checklist</option>
                <option [value]="null" selected hidden>Please Select Chassis Checklist</option>
                <option value="1">MOUNTING CHECK LIST</option>
                <option value="2">Party Mounting</option>
                <option value="3">CHASSIS + BENZ</option>
                <option value="4">D 6 - 8 m³ & 10 m³ R 1</option>
                <option value="5">CHASSIS + 6 m³ TM</option>
                <option value="6">CHASSIS + 8 m³ TM</option>
                <option value="7">CHASSIS + 10 m³ TM</option>
                <option value="8">Mounting Pithampur - 8 m³</option>
                <option value="9">D 6 - 8 m³ R0</option>
              </select>
              <div *ngIf="checklistnamess.invalid && (checklistnamess.dirty || checklistnamess.touched)" class="alert-danger">
                <span *ngIf="checklistnamess.errors?.required">
                  Chassis Inspection Checklist. is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Check List.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <textarea type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" [(ngModel)]="editchecklist.checklist"
                #mountingchecklistsss="ngModel"  required></textarea>
              <div *ngIf="mountingchecklistsss.invalid && (mountingchecklistsss.dirty || mountingchecklistsss.touched)" class="alert-danger">
                <span *ngIf="mountingchecklistsss.errors?.required">
                  Chassis Inspection Checklist. is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div [ngSwitch]="editchecklist.checklistname">
        <div class="row" *ngSwitchCase="'1'">
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Check List.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" [(ngModel)]="editchecklist.checklist"
                  #mountingchecklistsss="ngModel" required>
                <div *ngIf="mountingchecklistsss.invalid && (mountingchecklistsss.dirty || mountingchecklistsss.touched)" class="alert-danger">
                  <span *ngIf="mountingchecklistsss.errors?.required">
                    Chassis Inspection Checklist. is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Chassis Image.</label>
              <div class="col-sm-8">
                <input #file type="file" (click)="file.value = null" (change)="fileUploads($event)" Placeholder="Upload file" name="fabprocesschart" ngModel #mountingfile="ngModel" accept="image/x-png,image/gif,image/jpeg">
                <input type="text" class="form-control" Placeholder="Enter Fabrication Process Flow" name="images" [(ngModel)]="editchecklist.image" #mountingimages="ngModel" style="display:none">
                <div *ngIf="mountingfile.invalid && (mountingfile.dirty || mountingfile.touched)" class="alert-danger">
                  <span *ngIf="mountingfile.errors?.required">
                    Chassis Inspection Image. is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngSwitchCase="'2'">
          <div class="col-sm-10">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Check List.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" [(ngModel)]="editchecklist.checklist"
                  #Partychecklistss="ngModel" required>
                <div *ngIf="Partychecklistss.invalid && (Partychecklistss.dirty || Partychecklistss.touched)" class="alert-danger">
                  <span *ngIf="Partychecklistss.errors?.required">
                    Chassis Inspection Checklist. is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngSwitchCase="'3'">
          <div class="col-sm-10">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Check List.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" [(ngModel)]="editchecklist.checklist"
                  #Chassischecklistss="ngModel" required>
                <div *ngIf="Chassischecklistss.invalid && (Chassischecklistss.dirty || Chassischecklistss.touched)" class="alert-danger">
                  <span *ngIf="Chassischecklistss.errors?.required">
                    Chassis Inspection Checklist. is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngSwitchCase="'4'">
          <div class="col-sm-10">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Check List.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" [(ngModel)]="editchecklist.checklist"
                  #D6checklistss="ngModel" required>
                <div *ngIf="D6checklistss.invalid && (D6checklistss.dirty || D6checklistss.touched)" class="alert-danger">
                  <span *ngIf="D6checklistss.errors?.required">
                    Chassis Inspection Checklist. is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngSwitchCase="'5'">
          <div class="col-sm-10">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Check List.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" [(ngModel)]="editchecklist.checklist"
                  #m6checklistss="ngModel" required>
                <div *ngIf="m6checklistss.invalid && (m6checklistss.dirty || m6checklistss.touched)" class="alert-danger">
                  <span *ngIf="m6checklistss.errors?.required">
                    Chassis Inspection Checklist. is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngSwitchCase="'6'">
          <div class="col-sm-10">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Check List.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" [(ngModel)]="editchecklist.checklist"
                  #m8checklistss="ngModel" required>
                <div *ngIf="m8checklistss.invalid && (m8checklistss.dirty || m8checklistss.touched)" class="alert-danger">
                  <span *ngIf="m8checklistss.errors?.required">
                    Chassis Inspection Checklist. is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngSwitchCase="'7'">
          <div class="col-sm-10">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Check List.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" [(ngModel)]="editchecklist.checklist"
                  #m10checklistss="ngModel" required>
                <div *ngIf="m10checklistss.invalid && (m10checklistss.dirty || m10checklistss.touched)" class="alert-danger">
                  <span *ngIf="m10checklistss.errors?.required">
                    Chassis Inspection Checklist. is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngSwitchCase="'8'">
          <div class="col-sm-10">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Check List.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" [(ngModel)]="editchecklist.checklist"
                  #pithampurchecklistss="ngModel" required>
                <div *ngIf="pithampurchecklistss.invalid && (pithampurchecklistss.dirty || pithampurchecklistss.touched)" class="alert-danger">
                  <span *ngIf="pithampurchecklistss.errors?.required">
                    Chassis Inspection Checklist. is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row" *ngSwitchCase="'9'">
          <div class="col-sm-10">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Check List.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" [(ngModel)]="editchecklist.checklist"
                  #d6checklistss="ngModel" required>
                <div *ngIf="d6checklistss.invalid && (d6checklistss.dirty || d6checklistss.touched)" class="alert-danger">
                  <span *ngIf="d6checklistss.errors?.required">
                    Chassis Inspection Checklist. is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reloadPage()">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>