<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block">
          <form class="form-horizontal" name="editfrm" #editfrm="ngForm">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Customer Name:</label>
              <div class="col-sm-5">
                <!-- <select class="form-control" name="choosecust" [(ngModel)]="chooseslnos" #choosecust="ngModel" required (ngModelChange)=getchassisno($event)>
                  <option [value]="undefined" selected hidden>Select Customer Name</option>
                  <option [value]="null" selected hidden>Select Customer Name</option>
                  <option *ngFor="let item of custname" [value]="item.id">{{item.custid}}_{{item.customer_name}}</option>
                 </select> -->
                 <angular2-multiselect [data]="dropdownList_customer" [(ngModel)]="chooseslnos" ngModel name="choosecust" #choosecust="ngModel" required 
                 [settings]="dropdownSettings_customer" 
                 (onSelect)="getchassisno($event)" 
                ></angular2-multiselect>
                <div *ngIf="choosecust.invalid && (choosecust.dirty || choosecust.touched)" class="alert-danger">
                  <span *ngIf="choosecust.errors?.required">
                  Customer Name is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Select Chassis NO:</label>
              <div class="col-sm-6">
                <!-- <select class="form-control" name="choosechassisno" [(ngModel)]="choosechassis" #choosechassisno="ngModel" required (ngModelChange)=getchassismakemodel($event)>
                  <option [value]="undefined" selected hidden>Select Chassis NO</option>
                  <option [value]="null" selected hidden>Select Chassis NO</option>
                  <option *ngFor="let item of chassis_no" [value]="item.id">{{item.chassisno}}</option>
                 </select> -->
                 <angular2-multiselect [data]="dropdownList_chassisno" [(ngModel)]="choosechassis" ngModel name="choosechassisno" #choosechassisno="ngModel" required 
                 [settings]="dropdownSettings_chassisno" 
                 (onSelect)="getchassismakemodel($event)" 
                ></angular2-multiselect>
                <div *ngIf="choosechassisno.invalid && (choosechassisno.dirty || choosechassisno.touched)" class="alert-danger">
                  <span *ngIf="choosechassisno.errors?.required">
                  Chassis No. is Required
                  </span>
                </div>
              </div>
            </div>
          </div>            
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Chassis Make:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="choosemake" [(ngModel)]="chassis_make" #choosemake="ngModel" required readonly>
                <div *ngIf="choosemake.invalid && (choosemake.dirty || choosemake.touched)" class="alert-danger">
                  <span *ngIf="choosemake.errors?.required">
                    Choose Make is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Chassis Model:</label>
              <div class="col-sm-5">
                <input type="text" class="form-control" name="modelno" [(ngModel)]="chassis_model" #modelno="ngModel" required readonly>
                <div *ngIf="modelno.invalid && (modelno.dirty || modelno.touched)" class="alert-danger">
                  <span *ngIf="modelno.errors?.required">
                    Enter Model No is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-5 col-form-label text-right">Checklist Name:</label>
              <div class="col-sm-5">
                    <input type="text" class="form-control" name="choosechecklist" [(ngModel)]="checklist_name" #choosechecklist="ngModel" required readonly>
                <div *ngIf="choosechecklist.invalid && (choosechecklist.dirty || choosechecklist.touched)" class="alert-danger">
                  <span *ngIf="choosechecklist.errors?.required">
                    Choose Checklist Name is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>      
        <hr>      
        <div class="row pull-right">
          <div class="container">            
            <button class="btn btn-warning btn-square" type="reset" >
              <i class="icofont icofont-reset"></i> Reset
            </button>
            <button class="btn btn-info btn-square" type="button" (click)="getchecklistdetails(choosechecklist.value)">
              <i class="icofont icofont-check"></i> Submit
            </button>
          </div>
        </div>    
        </form>
      <!-- end of card-footer -->
      </div>
      <div class="card-block"> 
        <div>
          <div *ngIf="checklist_id == 1 || checklist_id == 3 || checklist_id == 4 || checklist_id == 5 || checklist_id == 6 || checklist_id == 7 || checklist_id == 8 || checklist_id == 9">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">   
                  <label class="col-sm-5 col-form-label text-right">Shift Engineer:</label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" name="supervisor" [(ngModel)]="rectified_by" #supervisor="ngModel" required readonly>
                    <div *ngIf="supervisor.invalid && (supervisor.dirty || supervisor.touched)" class="alert-danger">
                      <span *ngIf="supervisor.errors?.required">
                        Shift Engineer is required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">   
                  <label class="col-sm-5 col-form-label text-right">Quality Control:</label>       <div class="col-sm-5">
                    <input type="text" class="form-control" name="qcinspector" [(ngModel)]="inspected_by" #qcinspector="ngModel" required readonly>
                    <div *ngIf="qcinspector.invalid && (qcinspector.dirty || qcinspector.touched)" class="alert-danger">
                      <span *ngIf="qcinspector.errors?.required">
                        Quality Control is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">   
                  <label class="col-sm-5 col-form-label text-right">Shift Engineer Signature:</label>                           
                  <div class="col-sm-5">
                    <!--<input type="text" class="form-control" name="supervisor" ngModel #supervisor="ngModel" required readonly>-->
                    <img src="{{shiftengineersign|| 'assets/images/signature1.png'}}" class="form-control" height="100" width="200"  onerror="this.onerror=null;this.src='assets/images/signature1.png'"/>
                    <!--<div *ngIf="supervisor.invalid && (supervisor.dirty || supervisor.touched)" class="alert-danger">
                      <span *ngIf="supervisor.errors?.required">
                          Supervisor Signature is required
                      </span>
                    </div>-->
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">   
                  <label class="col-sm-5 col-form-label text-right">QC Signature:</label>                           
                  <div class="col-sm-5">
                    <!--<input type="text" class="form-control" name="supervisor" ngModel #supervisor="ngModel" required readonly>-->
                    <img src="{{qcsign|| 'assets/images/signature1.png'}}" class="form-control" height="100" width="200" alt="image not found"  onerror="this.onerror=null;this.src='assets/images/signature1.png'"/>
                    <!--<div *ngIf="supervisor.invalid && (supervisor.dirty || supervisor.touched)" class="alert-danger">
                      <span *ngIf="supervisor.errors?.required">
                          Supervisor Signature is required
                      </span>
                    </div>-->
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="checklist_id == 2">
            <div class="row">
              <div class="col-md-6">
                <div class="form-group row">   
                  <label class="col-sm-5 col-form-label text-right">Production:</label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" name="supervisor" [(ngModel)]="assy_rectified_by" #supervisor="ngModel" required readonly>
                    <div *ngIf="supervisor.invalid && (supervisor.dirty || supervisor.touched)" class="alert-danger">
                      <span *ngIf="supervisor.errors?.required">
                        Production is required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group row">   
                  <label class="col-sm-5 col-form-label text-right">Quality Control:</label>                      
                  <div class="col-sm-5">
                    <input type="text" class="form-control" name="qcinspector" [(ngModel)]="rectified_by" #qcinspector="ngModel" required readonly>
                    <div *ngIf="qcinspector.invalid && (qcinspector.dirty || qcinspector.touched)" class="alert-danger">
                      <span *ngIf="qcinspector.errors?.required">
                        Quality Control is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
          </div>
        </div>    
        <div class="row table-responsive">
          <div>
            <div *ngIf="checklist_id == 1 || checklist_id == 3 || checklist_id == 4 || checklist_id == 5 || checklist_id == 6 || checklist_id == 7 || checklist_id == 8 || checklist_id == 9">
                <button (click)="export()">Export</button>  
              <table #table1 class="table table-striped table-bordered row-border hover" id="example41">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Inspection Points</th>
                    <th>Photos</th>
                    <th>Shift Engineer</th>
                    <th>Quality Control</th>
                    <th>Remarks</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of pdichecklist; let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.checklistname}}</td>
                    <td class="text-center">
                      <button class='btn btn-default btn-outline-default btn-icon' (click)='showimage(item.imagepath);openbulkupload(viewimage)'>
                        <i class='icofont icofont-image'></i>
                      </button>
                    </td>
                    <td *ngIf="item.checkshiftengineer == true;else falsyTemplate1">Checked</td>
                    <ng-template #falsyTemplate1>
                      <td>Not Checked</td>
                    </ng-template> 
                    <td *ngIf="item.qc_status == 1;else falsyTemplate1">Checked</td>               <ng-template #falsyTemplate1>
                      <td>Not Checked</td>
                    </ng-template>          
                    <td>{{item.checklistRemarks}}</td>
                  </tr>                   
                </tbody>
              </table>
            </div>  
            <div *ngIf="checklist_id == 2">
                <button (click)="export1()">Export</button> 
                <table #table2 class="table table-striped table-bordered row-border hover" id="example4">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Inspection Points</th>
                    <th>Assembler</th>
                    <th>Quality Control</th>
                    <th>Remarks</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of pdichecklist; let i=index">
                    <td>{{i+1}}</td>
                    <td><div class="b">{{item.checklistname}}</div></td>
                    <td *ngIf="item.checkshiftengineer == true;else falsyTemplate1">Checked</td>
                    <ng-template #falsyTemplate1>
                      <td>Not Checked</td>
                    </ng-template> 
                    <td *ngIf="item.qc_status == 1;else falsyTemplate1">Checked</td>               
                    <ng-template #falsyTemplate1>
                      <td>Not Checked</td>
                    </ng-template>          
                    <td>{{item.checklistRemarks}}</td>
                  </tr>                   
                </tbody>
              </table>
            </div>

          </div>
          
        </div>        
      </div>
    </div>
  </div>
</div>
<ng-template #viewimage let-c="close" let-d="dismiss">
  <div class="modal-body">
    <button type="button" class="close basic-close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
    <img src="{{defect_image}}" class="form-control" height="400" width="300"  onerror="this.onerror=null;this.src='assets/images/signature1.png'">
  </div>
</ng-template>
