<div class="row">
    <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-block">
          <form class="form-horizontal" name="addform" #frm="ngForm"  (ngSubmit)="showtable(frm,addNew)">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label text-right">Choose Sl.No Tracking</label>
                <div class="col-sm-5">
                  <select class="form-control" name="chooseproduction" (change)="getworkstations($event)" [(ngModel)]="choosep" #chooseproduction="ngModel" required >
                    <option value="" selected disabled >Select Production Report</option>
                    <option value="1"> Drum Module </option>
                    <option value="2"> Mixer Module </option>
                    <option value="3"> Cone </option>
                  </select>
                  <div *ngIf="chooseproduction.invalid && (chooseproduction.dirty || chooseproduction.touched||frm.submitted)" class="alert-danger">
                    <span *ngIf="chooseproduction.errors?.required">
                      Choose Production Report Required
                    </span>
                  </div>
                </div>
              </div>
            </div>          
          </div>
          <!--<div [ngSwitch]="choosep">
            <div *ngSwitchCase="choosep==='1' || choosep==='3' ? choosep : '' ">-->
              <div class="row">
                  <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label text-right">Choose WorkStation</label>
                      <div class="col-sm-5">
                          <angular2-multiselect [data]="dropdownList" [(ngModel)]="chooswss" ngModel name="choosws" #choosws="ngModel" required 
                          [settings]="dropdownSettings" 
                          (onSelect)="onworkstationselect($event)" 
                         ></angular2-multiselect>
                        <!--<select class="form-control" name="choosws" [(ngModel)]="chooswss" #choosws="ngModel" required >
                          <option value="" selected disabled >Select Work Station</option>
                          <option value="1"> Fab 01 </option>
                          <option value="2"> Fab 02 </option>
                          <option value="3"> Fab 03 </option>
                        </select>-->
                        <div *ngIf="choosws.invalid && (choosws.dirty || choosws.touched||frm.submitted)" class="alert-danger">
                          <span *ngIf="choosws.errors?.required">
                            Choose Work Station is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>  
                      
            <!--</div>
            
            <div *ngSwitchCase="'2'">
              <div class="row">
                <div class="col-md-12">
                    <div class="form-group row">
                      <label class="col-sm-5 col-form-label text-right">Choose WorkStation</label>
                      <div class="col-sm-5">
                        <select class="form-control" name="choosws" [(ngModel)]="chooswss" #choosws="ngModel" required >
                          <option value="" selected disabled >Select Work Station</option>
                          <option value="1"> Assy 01 </option>
                          <option value="2"> Assy 02 </option>
                          <option value="3"> Assy 03 </option>
                        </select>
                        <div *ngIf="choosws.invalid && (choosws.dirty || choosws.touched)" class="alert-danger">
                          <span *ngIf="choosws.errors?.required">
                            Choose Work Station is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
              </div>            
            </div>
          </div>  -->
          <!--<div [ngSwitch]="choosep">
            <div *ngSwitchCase="'1'">     -->       
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-sm-5 col-form-label text-right">Select Sl.No:</label>
                    <div class="col-sm-5">
                        <angular2-multiselect [data]="dropdownListslno" [(ngModel)]="drumslnomodel" ngModel name="drumslno" #drumslno="ngModel" required 
                        [settings]="dropdownSettings1" 
                        (onSelect)="onslnoselect($event)" 
                       ></angular2-multiselect>
                      <!--<input type="text" class="form-control" placeholder="Enter Drum SL.No" ngModel #drumslno="ngModel" required>-->
                      <div *ngIf="drumslno.invalid && (drumslno.dirty || drumslno.touched||frm.submitted)" class="alert-danger">
                        <span *ngIf="drumslno.errors?.required">
                          Drum SL.No is Required.
                        </span>
                      </div>
                    </div>
                  </div>
                </div>          
              </div> 
              <div class="row pull-right">
                  <div class="container">  
                      <button  class="btn btn-info btn-square"  type="submit" >
                        <i class="icofont icofont-check"></i> Submit
                      </button>
                    </div>
              </div> 
              <br><br>
              <!--</form> -->            
            <!--</div>
            <div *ngSwitchCase="'2'">            
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-sm-5 col-form-label text-right">Enter Mixer Sl.No:</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control" placeholder="Enter Mixer SL.No" ngModel #mixerslno="ngModel" required>
                      <div *ngIf="mixerslno.invalid && (mixerslno.dirty || mixerslno.touched)" class="alert-danger">
                        <span *ngIf="mixerslno.errors?.required">
                          Mixer SL.No is Required.
                        </span>
                      </div>
                    </div>
                  </div>
                </div>          
              </div>              
            </div>
            <div *ngSwitchCase="'3'">            
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group row">
                    <label class="col-sm-5 col-form-label text-right">Enter Cone Sl.No:</label>
                    <div class="col-sm-5">
                      <input type="text" class="form-control" placeholder="Enter Cone SL.No" ngModel #coneslno="ngModel" required>
                      <div *ngIf="coneslno.invalid && (coneslno.dirty || coneslno.touched)" class="alert-danger">
                        <span *ngIf="coneslno.errors?.required">
                          Cone SL.No is Required.
                        </span>
                      </div>
                </div>
            </div>            
          </div>
        </div>  -->
        <!--<div [ngSwitch]="choosep">
          <div *ngSwitchCase="'1'">     -->       
           <!-- <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-5 col-form-label text-right">Select Sl.No:</label>
                  <div class="col-sm-5">
                      <angular2-multiselect [data]="dropdownListslno" [(ngModel)]="drumslnomodel" ngModel name="drumslno" #drumslno="ngModel" required 
                      [settings]="dropdownSettings1" 
                      (onSelect)="onslnoselect($event)" 
                     ></angular2-multiselect>
                    <input type="text" class="form-control" placeholder="Enter Drum SL.No" ngModel #drumslno="ngModel" required>
                    <div *ngIf="drumslno.invalid && (drumslno.dirty || drumslno.touched||frm.submitted)" class="alert-danger">
                      <span *ngIf="drumslno.errors?.required">
                        Drum SL.No is Required.
                      </span>
                    </div>
                  </div>
                </div>
              </div>          
            </div> -->
            <!--<div class="row pull-right">
                <div class="container">  
                    <button  class="btn btn-info btn-primary btn-square"  type="submit" >
                      <i class="icofont icofont-check"></i> Submit
                    </button>
                  </div>
            </div> -->
            <br><br>
            </form>        
          <!--</div>
          <div *ngSwitchCase="'2'">            
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-5 col-form-label text-right">Enter Mixer Sl.No:</label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="Enter Mixer SL.No" ngModel #mixerslno="ngModel" required>
                    <div *ngIf="mixerslno.invalid && (mixerslno.dirty || mixerslno.touched)" class="alert-danger">
                      <span *ngIf="mixerslno.errors?.required">
                        Mixer SL.No is Required.
                      </span>
                    </div>
                  </div>
                </div>
              </div>          
            </div>              
          </div>
          <div *ngSwitchCase="'3'">            
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-5 col-form-label text-right">Enter Cone Sl.No:</label>
                  <div class="col-sm-5">
                    <input type="text" class="form-control" placeholder="Enter Cone SL.No" ngModel #coneslno="ngModel" required>
                    <div *ngIf="coneslno.invalid && (coneslno.dirty || coneslno.touched)" class="alert-danger">
                      <span *ngIf="coneslno.errors?.required">
                        Cone SL.No is Required.
                      </span>
                    </div>
                  </div>
                </div>          
              </div>              
            </div>
          </div>-->
          <hr>
          
        <!-- end of card-footer -->
        </div>
        <div class="card-block">          
          <div class="row table-responsive">
            <div [ngSwitch]="choosep">
              <div *ngSwitchCase="'1'"><!--drum-->
                <div *ngIf="drumslnotable">
                <button (click)="export()">Export</button>
                <table #table1 class="table table-striped table-bordered row-border hover" id="table1">
                  <thead>
                    <tr>
                      <!--
                      <td [attr.rowspan]="item.conedata.length+1">{{i+1}}</td>
                      <td [attr.rowspan]="item.conedata.length+1">{{item.operation_code}}</td>
                      <td [attr.rowspan]="item.conedata.length+1">{{item.list_of_operation}}</td>
                      <td [attr.rowspan]="item.conedata.length+1">{{item.model}}</td>
                      <th>Category</th>
                      <th>Cone Serial No</th>
                      <th>Work Break Down</th>
                      <th>Emp No</th>
                      <th>Emp name</th>
                     
                      <th>Date </th>-->
                      <th>S.No.</th>
                      <th>Operation Code</th>
                      <th>Work station</th>
                      <th>Drum Model</th>
                      <th colspan="6">Cone Details</th>
                    </tr>
                  </thead>
                  <tbody *ngFor="let item of tabledata;let i=index">
                      <tr>
                        <td [attr.rowspan]="item.conedata.length+1">{{i+1}}</td>
                        <td [attr.rowspan]="item.conedata.length+1">{{item.operation_code}}</td>
                        <td [attr.rowspan]="item.conedata.length+1">{{item.list_of_operation}}</td>
                        <td [attr.rowspan]="item.conedata.length+1">{{item.model}}</td>
                        <th>Category</th>
                        <th>Cone Serial No</th>
                        <th>Work Break Down</th>
                        <th>Emp No</th>
                        <th>Emp name</th>
                        <!--<th>Operation Code</th>
                        <th>Stage</th>-->
                        <th>Date </th>
                      </tr>
                      <tr *ngFor="let item1 of item.conedata;let j=index">
                        <td>{{item1.category_type}}</td>
                        <td>{{item1.serial_no}}</td>
                        <td>{{item1.work_brk_down}}</td>
                        <td>{{item1.empid}}</td>
                        <td>{{item1.name}}</td>
                        <!--<td>{{item1.operation_code}}</td>
                        <td>{{item1.list_of_operation}}</td>-->
                        <td>{{item1.date_on}}</td>
                        </tr>
                    <!--<tr *ngFor="let item of tabledata;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{item.operation_code}}</td>
                        <td>{{item.list_of_operation}} </td>
                        <td>{{item.shift_type}}</td>
                        <td>{{item.empid}}</td>
                        <td>{{item.emp_name}}</td>
                        <td>{{item.prod_date}}</td>
                        <td>{{item.part_no}}</td>
                        <td>{{item.model}}</td>-->
                     
                    
                  </tbody>
                </table>
                </div>
              </div>
              <div *ngSwitchCase="'2'"><!--Mixer-->
                <button (click)="export1()">Export</button>
                <table #table2 class="table datatable1 table-striped table-bordered row-border hover" id="table2">
                  <thead>
                    <tr>
                      <th>S.No.</th>
                      <th>Operation Code</th>
                      <th>Work station </th>
                      <th>Shift</th>
                      <th>Emp ID</th>
                      <th>Operator/Technician Name</th>
                      <th>Mixer Prod Date</th>
                      <th>Mixer Part No</th>
                      <th>Mixer Model</th>
                      <th>Channel Width</th>
                      <th>Hydraulic Combination</th>
                      <th>Mixer S/No</th>
                      <th>Engine No</th>
                      <th>Gear Box No</th>
                      <th>Dispatched Date</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of tabledata1;let i=index">
                      <td>{{i+1}}</td>
                      <td>{{item.operation_code}}</td>
                      <td>{{item.list_of_operation}} </td>
                      <td>{{item.shift_type}}</td>
                      <td>{{item.empid}}</td>
                      <td>{{item.emp_name}}</td>
                      <td>{{item.prod_date}}</td>
                      <td>{{item.part_no}}</td>
                      <td>{{item.model}}</td>
                      <td>{{item.channelassembly_widthheight}}</td>
                      <td>{{item.waterpump_hydcombution}}</td>
                      <td>{{item.mixer_s_no}}</td>
                      <td>{{item.engine_sl_no}}</td>
                      <td>{{item.gear_box_sl_no}}</td>
                      <td>{{item.dispatched_date}}</td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div *ngSwitchCase="'3'"><!--Cone-->
                <button (click)="export2()">Export</button>
                <table #table3 class="table datatable2 table-striped table-bordered row-border hover" id="table3">
                  <thead>
                    <tr>
                      <th>S.No.</th>
                      <th>Operation Code</th>
                      <th>Work station </th>
                      <th>Shift</th>
                      <th>Emp ID</th>
                      <th>Operator/Technician Name</th>
                      <th>Cone Prod Date</th>
                      <th>Cone Category</th>
                    <!--<th>Cone Type</th>-->
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of tabledata2;let i=index">
                      <td>{{i+1}}</td>
                      <td>{{item.operation_code}}</td>
                      <td>{{item.list_of_operation}} </td>
                      <td>{{item.shift_type}}</td>
                      <td>{{item.empid}}</td>
                      <td>{{item.emp_name}}</td>
                      <td>{{item.prod_date}}</td>
                      <td>{{item.category_type}}</td>
                    <!--<td>{{item.model}}</td>-->
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>          
          </div>
        </div>
      </div>
    </div>
  </div>