<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="row">
          <div class="col-md-6">
            <h5>Drum WO Generation</h5>
            <p class="mandatoryfiles">* Fields Are mandatory</p>
          </div>
          <div class="col-md-6">
            <div class="text-right">
              <button class="btn btn-primary btn-square" type="button" (click)="open(bulkupload)">
                <i class="icofont icofont-upload"></i> Bulk Upload
              </button>
            </div>
          </div>
        </div>        
      </div>
      <div class="card-block">
        <form class="form-horizontal" #frm="ngForm" (ngSubmit)="adddrumwo(frm)">
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Drum Model No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">

                  <select class='select-option  form-control' required [(ngModel)]="seldrummodel" #drummodel="ngModel" name="modelno" (ngModelChange)='onOptionsSelected($event)'>
                    <option [value]="undefined" selected hidden>Select Drum Model No.</option>
                    <option [value]="null" selected hidden>Select Drum Model No.</option>
                    <option class='option' *ngFor='let option of options' [value]="option.id">{{option.drum_model}}</option>
                  </select>
                  <div *ngIf="drummodel.invalid && (drummodel.dirty || drummodel.touched)" class="alert-danger">
                    <span *ngIf="drummodel.errors?.required">
                      Drum Model No. is Required
                    </span>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Part No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Part No." name="partno" [(ngModel)]="partno"
                    #partnos="ngModel" pattern="^\d[0-9]*$" required readonly appEmitfirstspace appDigitOnly >
                  <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                    <span *ngIf="partnos.errors?.required">
                      Part No. is Required
                    </span>
                    <span *ngIf="partnos.errors?.pattern">
                      Accepts only Numeric.
                    </span>
                  </div>
                </div>
              </div>

            </div>

          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Work Order No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Workorder No." name="workorderno" ngModel
                    #workorderno="ngModel" pattern="^\d[0-9]*$" required appEmitfirstspace appDigitOnly>
                  <div *ngIf="workorderno.invalid && (workorderno.dirty || workorderno.touched)" class="alert-danger">
                    <span *ngIf="workorderno.errors?.required">
                      Workorder Number Required
                    </span>
                    <span *ngIf="workorderno.errors?.pattern">
                      Accepts only Numeric.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Quantity<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Quantity" name="quantity" ngModel
                    #quantity="ngModel" pattern="^\d[0-9]*$" required appEmitfirstspace appDigitOnly>
                  <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert-danger">
                    <span *ngIf="quantity.errors?.required">
                      Quantity Required
                    </span>
                    <span *ngIf="quantity.errors?.pattern">
                      Accepts only Numeric.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <hr>
          <div>
            <div class="form-group row float-right">

              <button class="btn btn-primary btn-square" type="submit" [disabled]="!frm.form.valid">
                <i class="icofont icofont-tick-mark"></i> Submit
              </button>
              <button class="btn btn-info btn-square" type="button" (click)="reset(frm)">
                <i class="icofont icofont-refresh"></i> Reset
              </button>
              <!-- <button class="btn btn-info btn-square" type="button">
                  <div class="row">
                    <div class="col-sm-6">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">Quantity</label>
                        <div class="col-sm-8">
                            <input type="text" class="form-control" Placeholder="Enter Quantity" name="quantity" ngModel #quantity="ngModel" pattern="^\d[0-9]*$"
                              required>
                            <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert-danger">
                              <span *ngIf="quantity.errors?.required">
                              Quantity Required
                              </span>
                              <span *ngIf="quantity.errors?.pattern">
                                  Accepts only Numeric.
                              </span>
                            </div>
                      </div>
                      </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group row">
                            <label class="col-sm-4 col-form-label text-right">Work Order No.</label>
                            <div class="col-sm-8">
                                <input type="text" class="form-control" Placeholder="Enter Workorder No." name="workorderno" ngModel #workorderno="ngModel" pattern="^\d[0-9]*$"
                                  required>
                                <div *ngIf="workorderno.invalid && (workorderno.dirty || workorderno.touched)" class="alert-danger">
                                  <span *ngIf="workorderno.errors?.required">
                                  Workorder Number Required
                                  </span>
                                  <span *ngIf="workorderno.errors?.pattern">
                                      Accepts only Numeric.
                                    </span>
                                </div>
                              </div>
                          </div>
                    </div>
                      </div>
                      <hr>
                      <div>
                          <div class="form-group row float-right">
                              
                              <button class="btn btn-primary btn-square" type="submit" [disabled]="!frm.form.valid">
                                  <i class="icofont icofont-tick-mark"></i> Submit
                              </button>
                              <button class="btn btn-info btn-square" type="button" (click)="reset(frm)">
                                  <i class="icofont icofont-refresh"></i> Reset
                                </button>
                              <!-- <button class="btn btn-info btn-square" type="button">
                                <i class="icofont icofont-refresh"></i> Reset
                              </button> -->
              <!-- end of dropdown menu -->
            </div>
          </div>


        </form>

      </div>

      <!-- end of card-footer -->
    </div>
  </div>
</div>
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <!-- <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder
              ="Upload file"> -->
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file"
          class="
                btn btn-default">
        <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
        <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
        <!-- <span class="custom-file-control"></span> -->
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>

<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
          <table class="datatable table table-striped table-bordered  row-border hover">
            <thead>
              <tr>
              <th>S.No.</th>
              <th>Drum Model No.</th>
              <th>Part No.</th>
              <th>Quantity</th>
              <th>Workorder No.</th>
              <th>Action</th>
              </tr>
            </thead>  
            <tbody>
              <tr *ngFor="let items of options1;let i =index">
                <td>{{i+1}}</td>
                <td>{{items.drum_model}}</td>
                <td>{{items.part_no}}</td>
                <td>{{items.quantity}}</td>
                <td>{{items.workorder_no}}</td>
                <td>
                  <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(items);openedit(edit)'>
                    <i class='icofont icofont-fountain-pen'></i>
                  </button>
                  <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletedrumwo(items.id)'>
                    <i class='icofont icofont-trash'></i>
                  </button>
                </td>
              </tr>    
            </tbody>
          </table>
      </div>
      <!-- end of card-footer -->
    </div>
    <!-- end of card-footer -->
  </div>
</div>
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit Drum WO Generation</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reloadPage()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editdrumwo(editfrm,edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editplanning.id"
                required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>          
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Drum Model No.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class='select-option  form-control' required [(ngModel)]="editplanning.drum_model_no" name="modelno" (ngModelChange)='onOptionsSelected($event)' appEmitfirstspace appDigitOnly #drummodell="ngModel">
                <option [value]="undefined" selected hidden>Select Drum Model No.</option>
                <option [value]="null" selected hidden>Select Drum Model No.</option>
                <option class='option' *ngFor='let option of options' [value]="option.id">{{option.drum_model}}</option>
              </select> 
              <div *ngIf="drummodell.invalid && (drummodell.dirty || drummodell.touched)" class="alert-danger">
                  <span *ngIf="drummodell.errors?.required">
                  Drum Model No. is Required
                  </span>
                </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Part No.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Workorder No." name="partno" [(ngModel)]="editplanning.part_no" #part="ngModel" required readonly appEmitfirstspace appDigitOnly>
                <div *ngIf="part.invalid && (part.dirty || part.touched)" class="alert-danger">
                  <span *ngIf="part.errors?.required">
                  Part No. is Required
                  </span>
                </div>
              </div>
          </div>
        </div>          
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Workorder No.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Workorder No." name="workorderno" [(ngModel)]="editplanning.workorder_no" #work="ngModel" required appEmitfirstspace appDigitOnly>
              <div *ngIf="work.invalid && (work.dirty || work.touched)" class="alert-danger">
                <span *ngIf="work.errors?.required">
                Workorder No. is Required
                </span>
              </div>
              </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Quantity<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Quantity" name="quantity" [(ngModel)]="editplanning.quantity" #qty="ngModel" required appEmitfirstspace appDigitOnly>
              <div *ngIf="qty.invalid && (qty.dirty || qty.touched)" class="alert-danger">
                <span *ngIf="qty.errors?.required">
                Quantity is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Workorder No.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Workorder No." name="workorderno" [(ngModel)]="editplanning.workorder_no" #work="ngModel" pattern="^\d[0-9]*$" required appEmitfirstspace appDigitOnly>
              <div *ngIf="work.invalid && (work.dirty || work.touched)" class="alert-danger">
                <span *ngIf="work.errors?.required">
                  Workorder No. is Required
                </span>
                <span *ngIf="work.errors?.pattern">
                  Accepts only Numeric
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Quantity<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Quantity" name="quantity" [(ngModel)]="editplanning.quantity"
                #qty="ngModel" pattern="^\d[0-9]*$" required appEmitfirstspace appDigitOnly>
              <div *ngIf="qty.invalid && (qty.dirty || qty.touched)" class="alert-danger">
                <span *ngIf="qty.errors?.required">
                  Quantity is Required
                </span>
                <span *ngIf="qty.errors?.pattern">
                  Accepts only Numeric
                </span>
              </div>
            </div>
          </div>
        </div>
      </div> -->
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reloadPage()">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
        <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
        <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
      </div> -->
</ng-template>