<div class="row">
  <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="col-md-6">
            <h5>2 Bin System</h5>
          </div>
        </div>
        <div class="card-block">
          <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="addsubassy(frm,addnew)">

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">From Date<span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <!-- <input type="text" class="form-control" Placeholder="Enter Next Week Quantity" pattern="^\d[0-9]*$" name="quantity" ngModel #quantity="ngModel" pattern="^\d[0-9]*$" required> -->
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" name="fromdate" [(ngModel)]="model_fromdate"
                        ngbDatepicker [minDate]="model" #fromdate="ngbDatepicker" readonly>
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary fromdate" (click)="fromdate.toggle()" type="button"><i
                            class="icofont icofont-ui-calendar"></i></button>
                      </div>
                    </div>
                    <div *ngIf="fromdate.invalid && (fromdate.dirty || fromdate.touched)" class="alert-danger">
                      <span *ngIf="fromdate.errors?.required">
                        From Date is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">To Date<span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <div class="input-group">
                      <input class="form-control" placeholder="yyyy-mm-dd" name="todate" [(ngModel)]="model_todate"
                        ngbDatepicker [minDate]="model_fromdate" #todate="ngbDatepicker" readonly>
                      <div class="input-group-append">
                        <button class="btn btn-outline-secondary todate" (click)="todate.toggle()" type="button"><i class="icofont icofont-ui-calendar"></i></button>
                      </div>
                    </div>
                    
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-9">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">BOM Header</label>
                  <div class="col-sm-8">
                    <select name="bomheader" class="form-control" [(ngModel)]="bomheaders" #bomheader="ngModel" required>
                      <option [value]="undefined" selected hidden>Select BOM Header</option>
                      <option [value]="null" selected hidden>Select BOM Header</option>
                      <option *ngFor="let items of drum_value.message" [value]="items.id" >{{items.part_no}}_{{items.description}}</option>
                    </select>
                    <div *ngIf="bomheader.invalid && (bomheader.dirty || bomheader.touched)" class="alert-danger">
                      <span *ngIf="bomheader.errors?.required">
                        BOM Header is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-3">
                <div class="form-group row">
                  <div class="col-sm-5">
                    <button type="button" class="btn btn-default waves-effect pull-right" (click)="checkweeklyplan(model_fromdate,model_todate,bomheaders);getselectedvalues(model_fromdate,model_todate,bomheaders)">Check</button>
                  </div>
                </div>
              </div>
            </div>   

            <div *ngFor="let option of mixer_va">
              <div class="row">  
                <div class="col-sm-3"></div>          
                <div class="col-sm-6">
                  <div class="checkbox-fade fade-in-primary col-sm-12">
                    <label class="col-sm-12">
                      <input type="checkbox" [(ngModel)]="option.selected" name="menu1" [value]="option.id" id="{{option.id}}" (change)="checkValue(option.id,$event.target.checked)">
                      <span class="cr">
                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                      </span>
                      <span class="text-inverse">{{option.part_no}}_{{option.mixer_description}}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Total Quantity<span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <input class="form-control" placeholder="Enter Quantity" name="totalquan" [(ngModel)]="totalquantity" #totalquan="ngModel" readonly>
                    <div *ngIf="totalquan.invalid && (totalquan.dirty || totalquan.touched)" class="alert-danger">
                      <span *ngIf="totalquan.errors?.required">
                        Total Quantity is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Issued Quantity<span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <input class="form-control" placeholder="Enter Quantity" name="issuedquan" [(ngModel)]="issuedquantity" #issuedquan="ngModel" readonly>                    
                    <div *ngIf="issuedquan.invalid && (issuedquan.dirty || issuedquan.touched)" class="alert-danger">
                      <span *ngIf="issuedquan.errors?.required">
                        Issued Quantity is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            <div class="row">
              <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Available Quantity<span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <select class="form-control" name="availabquan" [(ngModel)]="availablequantity" #availabquan="ngModel" required>
                      <option [value]="undefined" selected hidden>Select Available Quantity.</option>
                      <option [value]="null" selected hidden>Select Available Quantity.</option>
                      <option *ngFor="let item of availqty" [value]="item">{{item}}</option>
                    </select>                      
                    <div *ngIf="availabquan.invalid && (availabquan.dirty || availabquan.touched)" class="alert-danger">
                      <span *ngIf="availabquan.errors?.required">
                        Available Quantity is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div> 
            <hr>
            <div class="form-group row float-right">
              <div class="col-sm-6">
                <button type="button" class="btn btn-default waves-effect pull-right" (click)="reset(frm)">Reset</button>
              </div>
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary waves-effect waves-light pull-right">Submit</button>
              </div>
            </div>
          </form>
        </div>
        <!-- end of card-footer -->
      </div>    
  </div>
</div>