<div class="row">
  <div class="col-sm-12">
    <form class="form-horizontal" name="addform" #addfrm="ngForm" (ngSubmit)="addpdicheck(addfrm);">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="col-md-6">
            <h5>Distance Correlation</h5>
            <p class="mandatoryfiles">* Fields Are mandatory</p>
          </div>
        </div>
        <div class="card-block">
          
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Select Checklist Category<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">                   
                    <select class='select-option  form-control' #checkliscategory="ngModel"  required [(ngModel)]="setchecklist" name="checklistcategory" (change)="loadchecklistpoint($event)">
                        <option [value]="undefined" hidden selected> please select Checklist Point Category</option>
                      <option [value]="null" hidden selected> please select Checklist Point Category</option>
                      <option [value]="1">SH</option>
                      <option [value]="2">FH</option>
                    </select>
                  <div *ngIf="checkliscategory.invalid && (checkliscategory.dirty || checkliscategory.touched)" class="alert-danger">
                    <span *ngIf="checkliscategory.errors?.required">
                      Checklist point category is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">SH/FH Checklist point<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">                   
                    <select class='select-option  form-control' #checklis="ngModel"  required [(ngModel)]="setchecklistss" name=checklist>
                      <option [value]="undefined" hidden selected> please select SH/FH Checklist point</option>
                      <option [value]="null" hidden selected> please select SH/FH Checklist point</option>
                      <option class='option' *ngFor='let option of modelno' [value]="option.id">{{option.inspection_points}}</option>
                    </select>
                  <div *ngIf="checklis.invalid && (checklis.dirty || checklis.touched)" class="alert-danger">
                    <span *ngIf="checklis.errors?.required">
                      SH/FH Checklist point is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- <div class="row">
           
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Description<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Description" name="desc" ngModel #desc="ngModel"
                    required appEmitfirstspace>
                  <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                    <span *ngIf="desc.errors?.required">
                      Description is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div> -->          
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Drum Cubic Meter<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <!-- <input type="text" class="form-control" Placeholder="Enter Drum M3" name="drumm3" ngModel #drumm3="ngModel"
                    required> -->
                    <select class='select-option  form-control' required [(ngModel)]="setdrum" name="drumm3" #drumm3="ngModel" >
                      <option [value]="undefined" hidden selected> please select Drum Cubic Meter</option>
                      <option [value]="null" hidden selected> please select Drum Cubic Meter</option>
                      <option class='option' *ngFor='let option of drummodelm3' [value]="option.id">{{option.waterpump_cum3}}</option>
                    </select> 
                  <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                  <div *ngIf="drumm3.invalid && (drumm3.dirty || drumm3.touched)" class="alert-danger">
                    <span *ngIf="drumm3.errors?.required">
                      Drum Cubic Meter is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Drum Version<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <!-- <input type="text" class="form-control" Placeholder="Enter Drum Version" name="drumversion" ngModel #drumversion="ngModel"
                    required> -->
                    <select class='select-option  form-control' required [(ngModel)]="setdrumversin" name="drumversion" #drumversion="ngModel">                                
                      <option [value]="undefined" hidden selected> please select Drum Version</option>
                      <option [value]="null" hidden selected> please select Drum Version</option>
                      <option class='option' *ngFor='let option of drummodelversion' [value]="option.id">{{option.waterpump_model}}</option>
                    </select> 
                  <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                  <div *ngIf="drumversion.invalid && (drumversion.dirty || drumversion.touched)" class="alert-danger">
                    <span *ngIf="drumversion.errors?.required">
                      Drum Version is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>            
          </div>
          <div class="row">            
            <!-- <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Distance Element<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class='select-option  form-control' required [(ngModel)]="setdistance" name="distance" #distance="ngModel">
                    <option [value]="undefined" hidden selected> please select Distance Element</option>
                    <option [value]="null" hidden selected> please select Distance Element</option>
                    <option class='option' value="Roller Center Distance">Roller Center Distance</option>
                    <option class='option' value="Backmark">Backmark</option>
                    <option class='option' value="Front & Rear Pedestal Pitch">Front & Rear Pedestal Pitch</option>
                  </select> 
                    <div *ngIf="distance.invalid && (distance.dirty || distance.touched)" class="alert-danger">
                    <span *ngIf="distance.errors?.required">
                        Distance is Required
                    </span>
                  </div>
                </div>
              </div>
            </div> -->
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Distance Value in mm / nm<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Distance Value" name="distancevalue" ngModel #distancevalue="ngModel" appEmitfirstspace required>
                    <div *ngIf="distancevalue.invalid && (distancevalue.dirty || distancevalue.touched)" class="alert-danger">
                    <span *ngIf="distancevalue.errors?.required">
                        Distance Value is Required
                    </span>
                    <span *ngIf="distancevalue.errors?.pattern">
                      Distance Value is accepts only Numeric
                    </span>
                  </div>
                </div>
              </div>
            </div>     
          </div>
        </div>
        <div class="card-footer">
          <div class="task-board m-0">
            <!-- end of dropdown-secondary -->
            <div class="dropdown-secondary dropdown">
              <button class="btn btn-primary btn-square" type="submit">
                <i class="icofont icofont-tick-mark"></i> Submit
              </button>
              <button class="btn btn-info btn-square" type="button" (click)=reset(addfrm)>
                <i class="icofont icofont-refresh"></i> Reset
              </button>
              <!-- end of dropdown menu -->
            </div>
            <!-- end of seconadary -->
          </div>
          <!-- end of pull-right class -->
        </div>
        <!-- end of card-footer -->
      </div>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Checklist Category</th>
              <th>SH/FH Checklist Point</th>
              <th>Drum Cubic Meter</th>
              <th>Drum Version</th>
              <th>Distance Value in mm / nm</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of checklist; let i=index">
              <td>{{i+1}}</td>
              <td>
                <span *ngIf="item.shfhcategory==1">SH</span>
                <span *ngIf="item.shfhcategory==2">FH</span>
                
              </td>
              <td>{{item.inspection_points}}</td>
              <td>{{item.waterpumpcum3name}}</td>
              <td>{{item.waterpumpmodelname}}</td>
              <td>{{item.distance_value}}</td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletechecklist(item.id)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>
  
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit Distance Correlation</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(editfrm)">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="editfrm" #editfrm="ngForm" (ngSubmit)="editchecklists(editfrm, edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editchecklist.id" required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Select Checklist Category<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">                   

              <select class='select-option  form-control' #checklistcategory="ngModel"  required [(ngModel)]="editchecklist.shfhcategory" name=checklistcategory (change)="loadchecklistpoint($event)">
                <option [ngValue]="undefined" hidden selected> please select Checklist Point Category</option>
                <option [ngValue]="null" hidden selected> please select Checklist Point Category</option>
                <option class='option' [value]="1">SH</option>
                <option class='option' [value]="2">FH</option>
              </select>
              <div *ngIf="checkliscategory.invalid && (checkliscategory.dirty || checkliscategory.touched)" class="alert-danger">
                <span *ngIf="checkliscategory.errors?.required">
                  Checklist point category is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">SH/FH Checklist point<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">                   
                <select class='select-option  form-control' #checklis="ngModel"  required [(ngModel)]="editchecklist.checklist_point" name=checklist>
                  <option [ngValue]="undefined" hidden selected> please select SH/FH Checklist point</option>
                  <option [ngValue]="null" hidden selected> please select SH/FH Checklist point</option>
                  <option class='option' *ngFor='let option of modelno' [value]="option.id">{{option.inspection_points}}</option>
                </select>
              <div *ngIf="checklis.invalid && (checklis.dirty || checklis.touched)" class="alert-danger">
                <span *ngIf="checklis.errors?.required">
                  SH/FH Checklist point is Required
                </span>
              </div>
            </div>
          </div>
        </div>
    </div>
      <!-- <div class="row">
        
        <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Description<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Description" name="desc" [(ngModel)]="editchecklist.description" #desc="ngModel" appEmitfirstspace required>
                <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                  <span *ngIf="desc.errors?.required">
                    Description is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
      </div> -->          
        <div class="row">
            <div class="col-sm-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Drum Cubic Meter<span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <!-- <input type="text" class="form-control" Placeholder="Enter Drum M3" name="drumm3" [(ngModel)]="editchecklist.drum_m3" #drum3="ngModel"
                      required> -->
                      <select class='select-option  form-control' required [(ngModel)]="editchecklist.drum_m3" name=drumm3 #drumm3="ngModel" (ngModelChange)="cubic($event)">
                          <option [ngValue]="undefined" hidden selected> please select Drum Cubic Meter</option>
                          <option value="null" hidden selected> please select Drum Cubic Meter</option>
                        <option class='option' *ngFor='let option of drummodelm3' [value]="option.waterpump_cum3">{{option.waterpump_cum3}}</option>
                      </select> 
                    <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                    <div *ngIf="drumm3.invalid && (drumm3.dirty || drumm3.touched)" class="alert-danger">
                      <span *ngIf="drumm3.errors?.required">
                          Drum Cubic Meter is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-6">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Drum Version<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <!-- <input type="text" class="form-control" Placeholder="Enter Drum Version" name="drumversion" [(ngModel)]="editchecklist.drum_version" #drumv="ngModel"
                        required> -->
                        <select class='select-option  form-control' required [(ngModel)]="editchecklist.drum_version" name=drumversion #drumv="ngModel">
                            <option [ngValue]="undefined" hidden selected> please select Drum Version</option>
                            <option [ngValue]="null" hidden selected> please select Drum Version</option>
                            <option class='option' *ngFor='let option of drummodelversion' [value]="option.waterpump_model">{{option.waterpump_model}}</option>
                          </select> 
                      <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                      <div *ngIf="drumv.invalid && (drumv.dirty || drumv.touched)" class="alert-danger">
                        <span *ngIf="drumv.errors?.required">
                          Drum Version is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        <div class="row">            
          <!-- <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Distance Element<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select class='select-option  form-control' required [(ngModel)]="editchecklist.distance" name="distance" #distance="ngModel">
                  <option [ngValue]="undefined" hidden selected> please select Distance Element</option>
                  <option [ngValue]="null" hidden selected> please select Distance Element</option>
                  <option class='option' value="Roller Center Distance">Roller Center Distance</option>
                  <option class='option' value="Backmark">Backmark</option>
                  <option class='option' value="Front & Rear Pedestal Pitch">Front & Rear Pedestal Pitch</option>
                </select> 
                  <div *ngIf="distance.invalid && (distance.dirty || distance.touched)" class="alert-danger">
                  <span *ngIf="distance.errors?.required">
                      Distance is Required
                  </span>
                </div>
              </div>
            </div>
          </div> -->
          <div class="col-sm-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label text-right">Distance Value in mm / nm<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Distance Value" name="distancevalue" [(ngModel)]="editchecklist.distance_value" #distancevalue="ngModel" appEmitfirstspace required>
                  <div *ngIf="distancevalue.invalid && (distancevalue.dirty || distancevalue.touched)" class="alert-danger">
                  <span *ngIf="distancevalue.errors?.required">
                      Distance Value is Required
                  </span>
                  <span *ngIf="distancevalue.errors?.pattern">
                    Distance Value is accepts only Numeric
                  </span>
                </div>
              </div>
            </div>
          </div>     
        </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset(editfrm)">Close</button>
        </div>
        <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>
