<div class="row">
  <div class="col-sm-12">
    <!-- Default Styling table start -->
    <app-card [title]="'Default Styling'" [classHeader]="true" [blockClass]="'table-border-style'">
      <span class="code-header">use class <code>table table-styling</code> inside table element</span>
        <div class="table-responsive">
          <table class="table">
            <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            </tbody>
          </table>
        </div>
    </app-card>
    <!-- Default Styling table start -->
    <!-- Table header styling table start -->
    <app-card [title]="'Table Header styling'" [classHeader]="true" [blockClass]="'table-border-style'">
      <span class="code-header">use class <code>table-primary, table-*</code> inside thead tr element</span>
        <div class="table-responsive">
          <table class="table table-styling">
            <thead>
            <tr class="table-primary">
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            </tbody>
          </table>
        </div>
    </app-card>
    <!-- Table header styling table end -->
    <!-- Table footer Styling table start -->
    <app-card [title]="'Table footer Styling'" [classHeader]="true" [blockClass]="'table-border-style'">
      <span class="code-header">use class <code>table-info</code> inside tfoot element</span>
        <div class="table-responsive">
          <table class="table table-styling">
            <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            </tbody>
            <tfoot class="table-info">
            <tr>
              <th scope="row">#</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            </tfoot>
          </table>
        </div>
    </app-card>
    <!-- Table footer Styling table end -->
    <!-- Custom table color table start -->
    <app-card [title]="'Custom table color'" [classHeader]="true" [blockClass]="'table-border-style'">
      <span class="code-header">use class <code>table-*</code> inside table element</span>
        <div class="table-responsive">
          <table class="table table-styling table-info">
            <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            </tbody>
          </table>
        </div>
    </app-card>
    <!-- Custom table color table end -->
    <!-- Custom Table color with hover and stripped table start -->
    <app-card [title]="'Custom Table color with hover and stripped'" [classHeader]="true" [blockClass]="'table-border-style'">
      <span class="code-header">use class <code>table-hover, table-striped table-*</code> inside table element</span>
        <div class="table-responsive">
          <table class="table table-styling table-hover table-striped table-primary">
            <thead>
            <tr>
              <th>#</th>
              <th>First Name</th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
            </tbody>
          </table>
        </div>
    </app-card>
    <!-- Custom Table color with hover and stripped table end -->
  </div>
</div>