<form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="getdetails(frm,addNew)">
<div class="row">
    <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-block">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label text-right">Choose Model:</label>
                <div class="col-sm-5">
                  <select class="form-control" name="choosemodule" ngModel #choosemodule="ngModel" required (ngModelChange)="getmodel($event)">
                    <option value="" selected disabled >Select Module</option>
                    <option value="1"> Consumption Report </option>
                    <option value="2"> Running Meter Report </option>
                  </select>
                  <div *ngIf="choosemodule.invalid && (choosemodule.dirty || choosemodule.touched||frm.submitted)" class="alert-danger">
                    <span *ngIf="choosemodule.errors?.required">
                      Choose Model Required
                    </span>
                  </div>
                </div>
              </div>
            </div>          
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-5 col-form-label text-right">Part No</label>
                <div class="col-sm-5">
                  <angular2-multiselect [(ngModel)]="choosepartno" [data]="dropdownList_partno" ngModel name="part" #part="ngModel" required 
                  [settings]="dropdownSettings_partno" 
                  (onSelect)="getselectedpartno($event)" 
                 ></angular2-multiselect>
                  <div *ngIf="part.invalid && (part.dirty || part.touched||frm.submitted)" class="alert-danger">
                    <span *ngIf="part.errors?.required">
                      Part No is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>          
          </div>
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">   
                <label class="col-sm-5 col-form-label text-right">Select Period:</label>                           
                <div class="col-sm-5">
                  <select class="form-control" name="productionduration" ngModel #productionduration="ngModel" required (ngModelChange)="getduration($event)">
                    <option value="" selected disabled >Select Production Duration</option>
                    <option value="1"> Historical </option>
                    <option value="3"> Date Selection </option>
                  </select>
                  <div *ngIf="productionduration.invalid && (productionduration.dirty || productionduration.touched||frm.submitted)" class="alert-danger">
                    <span *ngIf="productionduration.errors?.required">
                      Choose Production Duration Required
                    </span>
                  </div>
                </div>
              </div>
            </div>          
          </div>
            <div [ngSwitch]="productiondurations">
              <div *ngSwitchCase="1">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-6 col-form-label text-right">From Date:</label>
                      <div class="col-sm-6">
                        <div class="input-group">                       
                          <input class="form-control" placeholder="yyyy-mm-dd"
                          name="fromcalendar" ngModel ngbDatepicker #fromcalendar="ngbDatepicker" [minDate]="hist_mindate" [maxDate]="hist_maxdate" required readonly [markDisabled]="isDisabled"  (ngModelChange)="onChange($event)">
                   <div class="input-group-append"> 
                     <button class="btn btn-outline-secondary calendar" (click)="fromcalendar.toggle()" type="buton"><i class="icofont icofont-ui-calendar"></i></button>
                     <span ng-show="frm.form.invalid" class="alert-danger">
                      From Date Required
                    </span>
                   
                    </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label text-right">To Date:</label>
                      <div class="col-sm-6">
                        <div class="input-group">
                          <input class="form-control" placeholder="yyyy-mm-dd" name="tocalendar" [minDate]="hist_mindate" [maxDate]="hist_maxdate" [(ngModel)]="model"
                            ngbDatepicker #tocalendar="ngbDatepicker" required readonly>
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="tocalendar.toggle()" type="button"><i
                                class="icofont icofont-ui-calendar"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="3">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-6 col-form-label text-right">From Date:</label>
                      <div class="col-sm-6">
                        <div class="input-group">
                          <input class="form-control" placeholder="yyyy-mm-dd" name="fromcalendar" [minDate]="mindate" [maxDate]="maxdate" [(ngModel)]="models"
                            ngbDatepicker #fromcalendar="ngbDatepicker" required readonly (ngModelChange)="getfromdate($event)">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="fromcalendar.toggle()" type="button"><i
                                class="icofont icofont-ui-calendar"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group row">
                      <label class="col-sm-3 col-form-label text-right">To Date:</label>
                      <div class="col-sm-6">
                        <div class="input-group">
                          <input class="form-control" placeholder="yyyy-mm-dd" name="tocalendar" [minDate]="mindate" [maxDate]="maxdate" [(ngModel)]="model"
                            ngbDatepicker #tocalendar="ngbDatepicker" required readonly (ngModelChange)="gettodate($event)">
                          <div class="input-group-append">
                            <button class="btn btn-outline-secondary calendar" (click)="tocalendar.toggle()" type="button"><i
                                class="icofont icofont-ui-calendar"></i></button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          <hr>        
          
          <div class="row pull-right">
            <div class="container">            
              <button class="btn btn-info btn-square" type="button" (click)="getdetails()">
                <i class="icofont icofont-check"></i> Submit
              </button>
            </div>
          </div>
          
        
        </div>
        <div class="card-block">          
          <div class="row table-responsive">
            <div [ngSwitch]="choosep">
              <div *ngSwitchCase="'1'">
                  <button (click)="export()">Export</button>
                  <table #table1 class="table datatable2 table-striped table-bordered row-border hover" id="tableexample">
                    <thead>
                      <tr>
                        <th>S.No.</th>
                        <th>RM part no</th>
                        <th>RM description/Size</th>
                        <th>RM Consumed Qty</th>
                        <th>Date</th>
                        <th>Cut Part Wt(in KG)</th>
                        <th>Scrap Wt(in KG)</th>
                        <th>Scrap %</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of rmdetails;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{item.raw_partno}}</td>
                        <td>{{item.description}}</td>
                        <td>{{item.rmq}}</td>
                        <td>{{item.create_at}}</td>
                        <td>{{item.weight}}</td>
                        <td>{{item.scrap_weight}}</td>
                        <td>{{item.scrap_percentage}}</td>
                      </tr>                      
                    </tbody>
                  </table>
              </div>
              <div *ngSwitchCase="'2'">
                  <button (click)="export1()">Export</button>
                  <table #table2 class="table datatable2 table-striped table-bordered row-border hover" id="tableexample1">
                    <thead>
                      <tr>
                        <th>S.No.</th>
                        <th>Date</th>
                        <th>Drum Model</th>
                        <th>Cone/Shell</th>
                        <th>Total Segment Qty</th>
                        <th>Total Running mtr</th>
                      </tr>
                    </thead>
                                                          
                    <tbody>
                    <tr *ngFor="let item of runningmtrdetails;let i=index">
                      <td>{{i+1}}</td>
                      <td>{{item.create_at}}</td>
                      <td>{{item.drum_model}}</td>
                      <td>
                        <span *ngIf="item.assign_to==1">Cone</span>
                        <span *ngIf="item.assign_to==2">Shell</span>
                        </td>
                      <td>{{item.rmq}}</td>
                      <td>{{item.machine_running_meter_end}}</td>
                      </tr> 
                    </tbody>
                  </table>
              </div>
         
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
   <div class="row">
      <div class="col-sm-12">
        <div class="card card-border-primary">
          <div class="card-block">
              
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-5 col-form-label text-right">Choose Model:</label>
                  <div class="col-sm-5">
                    <select class="form-control" name="choosemodule" ngModel #choosemodule="ngModel" required (ngModelChange)="getmodel($event)">
                      <option value="" selected disabled >Select Module</option>
                      <option value="1"> Consumption Report </option>
                      <option value="2"> Running Meter Report </option>
                    </select>
                    <div *ngIf="choosemodule.invalid && (choosemodule.dirty || choosemodule.touched||frm.submitted)" class="alert-danger">
                      <span *ngIf="choosemodule.errors?.required">
                        Choose Model Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>          
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-5 col-form-label text-right">Part No</label>
                  <div class="col-sm-5">
                    <angular2-multiselect [(ngModel)]="choosepartno" [data]="dropdownList_partno" ngModel name="part" #part="ngModel" required 
                    [settings]="dropdownSettings_partno" 
                    (onSelect)="getselectedpartno($event)" 
                   ></angular2-multiselect>
                    <div *ngIf="part.invalid && (part.dirty || part.touched||frm.submitted)" class="alert-danger">
                      <span *ngIf="part.errors?.required">
                        Part No is Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>          
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">   
                  <label class="col-sm-5 col-form-label text-right">Select Period:</label>                           
                  <div class="col-sm-5">
                    <select class="form-control" name="productionduration" ngModel #productionduration="ngModel" required (ngModelChange)="getduration($event)">
                      <option value="" selected disabled >Select Production Duration</option>
                      <option value="1"> Historical </option>
                      <option value="3"> Date Selection </option>
                    </select>
                    <div *ngIf="productionduration.invalid && (productionduration.dirty || productionduration.touched||frm.submitted)" class="alert-danger">
                      <span *ngIf="productionduration.errors?.required">
                        Choose Production Duration Required
                      </span>
                    </div>
                  </div>
                </div>
              </div>          
            </div>
              <div [ngSwitch]="productiondurations">
                <div *ngSwitchCase="1">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-6 col-form-label text-right">From Date:</label>
                        <div class="col-sm-6">
                          <div class="input-group">                       
                            <input class="form-control" placeholder="yyyy-mm-dd"
                            name="fromcalendar" ngModel ngbDatepicker #fromcalendar="ngbDatepicker" [minDate]="hist_mindate" [maxDate]="hist_maxdate" required readonly [markDisabled]="isDisabled"  (ngModelChange)="getfromdate($event)">
                     <div class="input-group-append"> 
                       <button class="btn btn-outline-secondary calendar" (click)="fromcalendar.toggle()" type="buton"><i class="icofont icofont-ui-calendar"></i></button>
                     </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">To Date:</label>
                        <div class="col-sm-6">
                          <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="tocalendar" [minDate]="hist_mindate" [maxDate]="hist_maxdate" [(ngModel)]="model"
                              ngbDatepicker #tocalendar="ngbDatepicker" required readonly (ngModelChange)="gettodate($event)">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="tocalendar.toggle()" type="button"><i
                                  class="icofont icofont-ui-calendar"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div *ngSwitchCase="3">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-6 col-form-label text-right">From Date:</label>
                        <div class="col-sm-6">
                          <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="fromcalendar" [minDate]="mindate" [maxDate]="maxdate" [(ngModel)]="models"
                              ngbDatepicker #fromcalendar="ngbDatepicker" required readonly (ngModelChange)="getfromdate($event)">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="fromcalendar.toggle()" type="button"><i
                                  class="icofont icofont-ui-calendar"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group row">
                        <label class="col-sm-3 col-form-label text-right">To Date:</label>
                        <div class="col-sm-6">
                          <div class="input-group">
                            <input class="form-control" placeholder="yyyy-mm-dd" name="tocalendar" [minDate]="mindate" [maxDate]="maxdate" [(ngModel)]="model"
                              ngbDatepicker #tocalendar="ngbDatepicker" required readonly (ngModelChange)="gettodate($event)">
                            <div class="input-group-append">
                              <button class="btn btn-outline-secondary calendar" (click)="tocalendar.toggle()" type="button"><i
                                  class="icofont icofont-ui-calendar"></i></button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            <hr>        
            
            <div class="row pull-right">
              <div class="container">            
                <button class="btn btn-info btn-primary btn-square" type="submit" >
                  <i class="icofont icofont-check"></i> Submit
                </button>
              </div>
            </div>
         
          </div>
          </div>
          <div class="card-block">          
            <div class="row table-responsive">
              <div [ngSwitch]="choosep">
                <div *ngSwitchCase="'1'">
                    <button (click)="export()">Export</button>
                    <table #table1 class="table datatable table-striped table-bordered row-border hover" id="tableexample">
                      <thead>
                        <tr>
                          <th>S.No.</th>
                          <th>RM part no</th>
                          <th>RM description/Size</th>
                          <th>RM Consumed Qty</th>
                          <th>Date</th>
                          <th>Cut Part Wt(in KG)</th>
                          <th>Scrap Wt(in KG)</th>
                          <th>Scrap %</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of rmdetails;let i=index">
                          <td>{{i+1}}</td>
                          <td>{{item.raw_partno}}</td>
                          <td>{{item.description}}</td>
                          <td>{{item.rmq}}</td>
                          <td>{{item.create_at}}</td>
                          <td>{{item.weight}}</td>
                          <td>{{item.scrap_weight}}</td>
                          <td>{{item.scrap_percentage}}</td>
                        </tr>                      
                      </tbody>
                    </table>
                </div>
                <div *ngSwitchCase="'2'">
                    <button (click)="export1()">Export</button>
                    <table #table2 class="table datatable table-striped table-bordered row-border hover" id="tableexample1">
                      <thead>
                        <tr>
                          <th>S.No.</th>
                          <th>Date</th>
                          <th>Drum Model</th>
                          <th>Cone/Shell</th>
                          <th>Total Segment Qty</th>
                          <th>Total Running mtr</th>
                        </tr>
                      </thead>
                                                            
                      <tbody>
                      <tr *ngFor="let item of runningmtrdetails;let i=index">
                        <td>{{i+1}}</td>
                        <td>{{item.create_at}}</td>
                        <td>{{item.drum_model}}</td>
                        <td *ngIf="item.assign_to == 1;else falsetemplate">Cone</td>
                        <ng-template #falsetemplate>
                            <td>Shell</td>
                        </ng-template>                       
                        <td>{{item.rmq}}</td>
                        <td>{{item.machine_running_meter_end}}</td>
                        </tr> 
                      </tbody>
                    </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </form>
