<div class="row">
  <div class="col-sm-12">
    <!-- Input group card start -->
    <app-card [title]="'Addon\'s Group'">
      <!-- Basic group add-ons start -->
      <div class="m-b-20">
        <h4 class="sub-title">Basic Group Add-ons</h4>
        <p>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</p>
        <div class="row">
          <label class="col-sm-4 col-lg-2 col-form-label">Simple Add-on</label>
          <div class="col-sm-8 col-lg-10">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon1">@</span>
              <input type="text" class="form-control">
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-lg-2 col-form-label">Placeholder</label>
          <div class="col-sm-8 col-lg-10">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon2">%</span>
              <input type="text" class="form-control" placeholder="Left addon">
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-lg-2 col-form-label">Right Add-on</label>
          <div class="col-sm-8 col-lg-10">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Right addon">
              <span class="input-group-addon" id="basic-addon3">$</span>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-lg-2 col-form-label">Both-side Add-on</label>
          <div class="col-sm-8 col-lg-10">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <input type="text" class="form-control" placeholder="Both-side addon">
              <span class="input-group-addon">.20</span>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-lg-2 col-form-label">Muliple Add-ons</label>
          <div class="col-sm-8 col-lg-10">
            <div class="input-group">
              <span class="input-group-addon">$</span>
              <span class="input-group-addon">.20</span>
              <input type="text" class="form-control" placeholder="Multiple addons">
            </div>
          </div>
        </div>
      </div>
      <!-- Basic group add-ons end -->
      <!-- Icon Group Addons start -->
      <div>
        <h4 class="sub-title">Icon Group Addons</h4>
        <div class="row">
          <label class="col-sm-4 col-lg-2 col-form-label">Left Icon</label>
          <div class="col-sm-8 col-lg-10">
            <div class="input-group">
              <span class="input-group-addon" id="basic-addon4"><i class="icofont icofont-ui-volume"></i></span>
              <input type="text" class="form-control" placeholder="Left addon">
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-lg-2 col-form-label">Right Icon</label>
          <div class="col-sm-8 col-lg-10">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Right addon">
              <span class="input-group-addon" id="basic-addon5"><i class="icofont icofont-ui-wifi"></i></span>
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-lg-2 col-form-label">Both-side Icons Addon</label>
          <div class="col-sm-8 col-lg-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="icofont icofont-rounded-left"></i></span>
              <input type="text" class="form-control" placeholder="Right add-on">
              <span class="input-group-addon"><i class="icofont icofont-rounded-right"></i></span>
            </div>
          </div>
        </div>
      </div>
      <!-- Icon Group Addons end -->
    </app-card>
    <!-- Input group card end -->
    <!-- Input Group Sizes & Colors card start -->
    <app-card [title]="'Addon\'s Group Sizes & Colors'">
      <div class="row">
        <div class="col-sm-6">
          <h4 class="sub-title">Group Addons Sizes</h4>
          <p>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</p>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group input-group-lg">
                <span class="input-group-addon" id="basic-addon6">@</span>
                <input type="text" class="form-control" placeholder="input-group-lg">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-10">
              <div class="input-group">
                <span class="input-group-addon" id="basic-addon7">@</span>
                <input type="text" class="form-control" placeholder="input-group">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-8">
              <div class="input-group input-group-sm">
                <span class="input-group-addon" id="basic-addon8">%</span>
                <input type="text" class="form-control" placeholder="input-group-sm">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h4 class="sub-title">Color Addons</h4>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group input-group-primary">
                                            <span class="input-group-addon">
                                       <i class="icofont icofont-presentation"></i>
                                       </span>
                <input type="text" class="form-control" placeholder="input-group-primary">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group input-group-warning">
                                            <span class="input-group-addon">
                                       <i class="icofont icofont-queen"></i>
                                       </span>
                <input type="text" class="form-control" placeholder="input-group-warning">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group input-group-default">
                                            <span class="input-group-addon">
                                       <i class="icofont icofont-shield"></i>
                                       </span>
                <input type="text" class="form-control" placeholder="input-group-default">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group input-group-danger">
                                            <span class="input-group-addon">
                                       <i class="icofont icofont-volume-down"></i>
                                       </span>
                <input type="text" class="form-control" placeholder="input-group-danger">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group input-group-success">
                                            <span class="input-group-addon">
                                       <i class="icofont icofont-volume-off"></i>
                                       </span>
                <input type="text" class="form-control" placeholder="input-group-success">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="input-group input-group-inverse">
                                            <span class="input-group-addon">
                                       <i class="icofont icofont-wifi"></i>
                                       </span>
                <input type="text" class="form-control" placeholder="input-group-inverse">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group input-group-info">
                                            <span class="input-group-addon">
                                       <i class="icofont icofont-signal"></i>
                                       </span>
                <input type="text" class="form-control" placeholder="input-group-info">
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-card>
    <!-- Input Group Sizes & Colors card end -->
    <!-- Input Group With Components card start -->
    <app-card [title]="'Addon\'s With Components'">
      <div class="row m-b-20">
        <div class="col-sm-12 col-lg-6">
          <h4 class="sub-title">Icon Group with Buttons</h4>
          <p>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</p>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group input-group-button">
                                            <span class="input-group-addon" id="basic-addon9">
                                       <button class="btn btn-primary">Left Button</button>
                                       </span>
                <input type="text" class="form-control" placeholder="Left Button">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group input-group-button">
                <input type="text" class="form-control" placeholder="Right Button">
                <span class="input-group-addon" id="basic-addon10">
                                       <button class="btn btn-primary">Right Button</button>
                                       </span>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group input-group-button">
                                            <span class="input-group-addon" id="basic-addon11">
                                       <button class="btn btn-primary">Left Click</button>
                                       </span>
                <input type="text" class="form-control" placeholder="Both side addons">
                <span class="input-group-addon" id="basic-addon12">
                                       <button class="btn btn-primary">Right Click</button>
                                       </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-lg-6">
          <h4 class="sub-title">Icon Group with Dropdowns</h4>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group input-group-dropdown">
                <div ngbDropdown class="input-group-btn">
                  <button ngbDropdownToggle type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Left Action
                  </button>
                  <div ngbDropdownMenu class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:;">Action</a>
                    <a class="dropdown-item" href="javascript:;">Another action</a>
                    <a class="dropdown-item" href="javascript:;">Something else here</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:;">Separated link</a>
                  </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group input-group-dropdown">
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                <div ngbDropdown class="input-group-btn">
                  <button ngbDropdownToggle type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Right Action
                  </button>
                  <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="javascript:;">Action</a>
                    <a class="dropdown-item" href="javascript:;">Another action</a>
                    <a class="dropdown-item" href="javascript:;">Something else here</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:;">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group input-group-dropdown">
                <div ngbDropdown class="input-group-btn">
                  <button ngbDropdownToggle type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    click
                  </button>
                  <div ngbDropdownMenu class="dropdown-menu">
                    <a class="dropdown-item" href="javascript:;">Action</a>
                    <a class="dropdown-item" href="javascript:;">Another action</a>
                    <a class="dropdown-item" href="javascript:;">Something else here</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:;">Separated link</a>
                  </div>
                </div>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
                <div ngbDropdown class="input-group-btn">
                  <button ngbDropdownToggle type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    click
                  </button>
                  <div ngbDropdownMenu class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" href="javascript:;">Action</a>
                    <a class="dropdown-item" href="javascript:;">Another action</a>
                    <a class="dropdown-item" href="javascript:;">Something else here</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="javascript:;">Separated link</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <h4 class="sub-title">Icon Group with Checkbox</h4>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group">
                                            <span class="input-group-addon">
                                       <input type="checkbox" aria-label="Checkbox for following text input">
                                       </span>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <h4 class="sub-title">Icon Group with Radio</h4>
          <div class="row">
            <div class="col-sm-12">
              <div class="input-group">
                                            <span class="input-group-addon">
                                       <input type="radio" aria-label="Radio button for following text input">
                                       </span>
                <input type="text" class="form-control" aria-label="Text input with dropdown button">
              </div>
            </div>
          </div>
        </div>
      </div>
    </app-card>
    <!-- Input Group With Components card end -->
    <app-card [title]="'Addon\'s Group Alignment'">
      <h4>Addon's Group Alignment</h4>
      <span>Add class of <code>.form-control</code> with <code>&lt;input&gt;</code> tag</span>
      <form>
        <div class="row">
          <label class="col-sm-4 col-lg-2 col-form-label">Normal Text</label>
          <div class="col-sm-8 col-lg-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="icofont icofont-ui-volume"></i></span>
              <input type="text" class="form-control" placeholder="Normal Text">
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-lg-2 col-form-label">Bold Text</label>
          <div class="col-sm-8 col-lg-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="icofont icofont-ui-volume"></i></span>
              <input type="text" class="form-control form-control-bold" placeholder=".form-control-bold">
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-lg-2 col-form-label">Capitalize Text</label>
          <div class="col-sm-8 col-lg-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="icofont icofont-ui-volume"></i></span>
              <input type="text" class="form-control form-control-capitalize" placeholder=".form-control-capitalize">
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-lg-2 col-form-label">Uppercase Text</label>
          <div class="col-sm-8 col-lg-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="icofont icofont-ui-volume"></i></span>
              <input type="text" class="form-control form-control-uppercase" placeholder=".form-control-uppercase">
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-lg-2 col-form-label">Lowercase Text</label>
          <div class="col-sm-8 col-lg-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="icofont icofont-ui-volume"></i></span>
              <input type="text" class="form-control form-control-lowercase" placeholder=".form-control-lowercase">
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-lg-2 col-form-label">Varient Text</label>
          <div class="col-sm-8 col-lg-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="icofont icofont-ui-volume"></i></span>
              <input type="text" class="form-control form-control-variant" placeholder=".form-control-variant">
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-lg-2 col-form-label">Left-Align Text</label>
          <div class="col-sm-8 col-lg-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="icofont icofont-ui-volume"></i></span>
              <input type="text" class="form-control form-control-left" placeholder=".form-control-left">
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-lg-2 col-form-label">Center-Align Text</label>
          <div class="col-sm-8 col-lg-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="icofont icofont-ui-volume"></i></span>
              <input type="text" class="form-control form-control-center" placeholder=".form-control-center">
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-lg-2 col-form-label">Right-Align Text</label>
          <div class="col-sm-8 col-lg-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="icofont icofont-ui-volume"></i></span>
              <input type="text" class="form-control form-control-right" placeholder=".form-control-right">
            </div>
          </div>
        </div>
        <div class="row">
          <label class="col-sm-4 col-lg-2 col-form-label">RTL Text</label>
          <div class="col-sm-8 col-lg-10">
            <div class="input-group">
              <span class="input-group-addon"><i class="icofont icofont-ui-volume"></i></span>
              <input type="text" class="form-control form-control-rtl" placeholder=".form-control-rtl">
            </div>
          </div>
        </div>
      </form>
    </app-card>
  </div>
</div>