<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="row">
            <div class="col-md-6">
                <h5>Fabrication Process Flow</h5>
              </div>
              <div class="col-md-6">
                <div class="text-right">
                  <!-- <button class="btn btn-primary btn-square" type="button" (click)="bulkupload.show()">
                    <i class="icofont icofont-upload"></i> Bulk Upload
                  </button> -->
                  <button class="btn btn-info btn-square" type="button" (click)="open(addnew)">
                    <i class="icofont icofont-plus"></i> Add Fabrication Process Flow
                  </button>
                </div>
              </div>
        </div>
        
      </div>
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered table-condensed row-border hover">
          <thead>
            <tr>
              <!-- <th>Operation code</th>
              <th>Description of Each Task</th> -->
              <!-- <th>Drum Model</th> -->
              <th>Process Flow Type</th>
              <th>Process Flow Chart</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of fabprocess">
              <td>{{item.flow_type}}</td>
              <td class="text-left">
                <button class='btn btn-default btn-outline-default btn-icon' (click)='showimage(item.process_image);openbulkupload(bulkupload)'>
                  <i class='icofont icofont-image'></i>
                </button>
              </td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletefabprocess(item.id,item.process_image)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-body">
    <button type="button" class="close basic-close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
    <img src="{{processimage}}" class="form-control" height="400" width="300">
  </div>
</ng-template>

<!-- Add Bulk Upload -->

<!-- Add New -->

<ng-template #addnew let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Fabrication Process Flow</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="addfabprocess(frm, addnew)">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Process Flow Type</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Process Flow Type" name="fabprocessflow" ngModel #fabprocessflow="ngModel"
                required>
              <div *ngIf="fabprocessflow.invalid && (fabprocessflow.dirty || fabprocessflow.touched)" class="alert-danger">
                <span *ngIf="fabprocessflow.errors?.required">
                    Process Flow Type is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Process Flow Chart</label>
              <div class="col-sm-8">
                <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" name="fabprocesschart"
                  ngModel #fabprocesschart="ngModel" accept="image/x-png,image/gif,image/jpeg" required>
                <div *ngIf="fabprocesschart.invalid && (fabprocesschart.dirty || fabprocesschart.touched)" class="alert-danger">
                  <span *ngIf="fabprocesschart.errors?.required">
                    Fabrication Process Flow Chart is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<!-- Edit -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Fabrication Process Flow</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="editform" #editfrm="ngForm" (ngSubmit)="editfabproces(editfrm)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="fid" [(ngModel)]="editfabprocess.id" required #fid="ngModel">
              <div *ngIf="fid.invalid && (fid.dirty || fid.touched)" class="alert-danger">
                <span *ngIf="fid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Process Flow Type</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Process Flow Type" name="fabprocessflows" [(ngModel)]="editfabprocess.flow_type"
                #fabprocessflows="ngModel" required>
              <div *ngIf="fabprocessflows.invalid && (fabprocessflows.dirty || fabprocessflows.touched)" class="alert-danger">
                <span *ngIf="fabprocessflows.errors?.required">
                    Process Flow Type is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Process Flow Chart</label>
              <div class="col-sm-8">
                <input #file type="file" (click)="file.value = null" (change)="fileUploads($event)" Placeholder="Upload file" name="fabprocesscharts" ngModel #fabprocesscharts="ngModel" accept="image/x-png,image/gif,image/jpeg">
                <input type="text" class="form-control" Placeholder="Enter Fabrication Process Flow" name="fabprocesschartss" [(ngModel)]="editfabprocess.process_image" #fabprocesschartss="ngModel" required style="display:none">
              </div>
            </div>
          </div>
      </div>
     <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" >Update</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
