<div class="row">
  <div class="col-xl-2 col-md-6 offset-xl-10 offset-md-10">
    <div class="card social-widget-card">
        <select class="pull-right" name="filter" [(ngModel)]="filtermodel" (change)="changedashboardcount($event)" #filter="ngModel" required>
      
        <!--<option value="bounce">Daily</option>-->
        <option value="1">Weekly</option>
        <option value="2">Monthly</option>
        <option value="3">Yearly</option>
      </select>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-block-big bg-facebook">
         
        <!-- <h3><div class="counter-up" data-count="1">0</div></h3>-->
         <!--<h3 [countUp]="cone_count">0</h3>-->
        <!--  <h1 [countUp]="345" (complete)="doSomethingOnComplete()">0</h1>-->
       <h3>{{this.cone_count}}</h3>

        <span class="m-t-10">No Of Cones</span>

        <!-- <i class="icofont icofont-social-facebook"></i> -->
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-block-big bg-twitter">
        <h3>{{this.drum_count}}</h3>
        <!--<h3><div class="counter-up" data-count="2">0</div></h3>-->
       <!-- <h3 [countUp]="drum_count">0</h3>-->
        <span class="m-t-10">No of Drums</span>
        <!-- <i class="icofont icofont-social-twitter"></i> -->
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-block-big bg-linkein">
       <h3>{{this.mixer_count}}</h3>
        <!--<h3><div id="mixercount" class="counter-up" data-count="3">0</div></h3>-->
       <!-- <h3 [countUp]="mixer_count">0</h3>-->
        <span class="m-t-10">No of mixers</span>
        <!-- <i class="icofont icofont-brand-linkedin"></i> -->
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-3">
    <div class="card social-widget-card">
      <div class="card-block-big bg-google-plus">
        <h3>{{this.mounting_count}}</h3>
      <!--  <h3><div class="counter-up" data-count="4">0</div></h3>-->
     <!-- <h3 [countUp]="mounting_count">0</h3>-->
        <span class="m-t-10">No of Mounts</span>
        <!-- <i class="icofont icofont-social-google-plus"></i> -->
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-xl-6">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Production Graph </h5>
        <select class="pull-right" name="productionfilter" [(ngModel)]="productionfiltermodel" (change)="onchartchange($event)" #productionfilter="ngModel" required>
      
            <!--<option value="bounce">Daily</option>-->
            <option value="1">Weekly</option>
            <option value="2">Monthly</option>
            <option value="3">Yearly</option>
          </select>
        <!--<select class="pull-right">

          <option value="bounce">250, Raghavan.R</option>
          <option value="flash">271, Venthan.M </option>
          <option value="bounce">61, Kumar.N</option>
          <option value="flash">552, Vengatesh.K </option>

        </select>-->
      </div>
      <div class="card-block">
        <div id="area-example"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-6">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Raw Matrial Consumption</h5>
            <select class="pull-right" name="rawmaterialpartfilter" [(ngModel)]="rawmaterialpartfiltermodel" (change)="rawmaterialpartgraphchange($event)" #rawmaterialpartfilter="ngModel" required>
            <option [value]="0" selected>All</option>                    
            <option *ngFor="let items of part_no" [value]="items.id">{{items.raw_partno}}</option>
            </select>           
            <select class="pull-right" name="rawmaterialfilter" [(ngModel)]="rawmaterialfiltermodel" (change)="rawmaterialgraphchange($event)" #rawmaterialfilter="ngModel" required>
          
                <option value="1">Weekly</option>
                <option value="2">Monthly</option>
                <option value="3">Yearly</option>

        </select>
      </div>
      <div class="card-block">
        <div id="plan-example"></div>
      </div>
    </div>
  </div>
</div>
<!--<div class="search-results"
infiniteScroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="50"
(scrolled)="onScroll()">
</div>-->
<!--<div class="row" infinite-Scroll
[infiniteScrollDistance]="2"
[infiniteScrollThrottle]="50"
(scrolled)="onScroll()">-->
<!--<div class="search-results"
      infinite-scroll
      [infiniteScrollDistance]="2"
      [infiniteScrollThrottle]="300"
      (scrolled)="onScroll()"
>-->
<div class="row" (scroll)="scrollHandler($event)">
  <div class="col-md-6 col-xl-6">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Plan vs Actual </h5>
        <select class="pull-right" name="planactualfilter" [(ngModel)]="planactualfiltermodel" (change)="getplanactualgraph()" #planactualfilter="ngModel" required>
          
          <option value="1">Weekly</option>
          <option value="2">Monthly</option>
          <option value="3">Yearly</option>

  </select>
      </div>
      <div class="card-block">
        <div id="line-example"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-6">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>Snag Report </h5>
        <select class="pull-right" name="snagfilter" [(ngModel)]="snagfiltermodel" (change)="getsnagreport($event)" #snagfilter="ngModel" required>
         
            <option value="2">Monthly</option>
            <option value="3">Yearly</option>
  
          </select>
        <select class="pull-right" name="snagwsfilter" [(ngModel)]="snagwsfiltermodel" (change)="getsnagreport($event)" #snagwsfilter="ngModel" required>
            <option [value]="0" selected>All</option>  
            <option *ngFor="let items of workstationdata" [value]="items.id">{{items.operation_code}}</option>
  
          </select>
        <select class="pull-right" name="snagtypefilter" [(ngModel)]="snagtypefiltermodel" (change)="getsnagreport($event);snagtypechange($event);" #snagtypefilter="ngModel" required>
         
            <option value="1">Fabrication</option>
            <option value="2">Assembly</option>
          </select>
      
       
      </div>
      <div class="card-block">
        <div id="snag-example"></div>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-6 col-xl-6">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>WIP </h5>
        
        <select class="pull-right" name="wippartfilter" [(ngModel)]="wippartfiltermodel" (change)="getwipchart()" #wippartfilter="ngModel" required>
          <option [value]="0" selected>All</option>  
          <option *ngFor="let items of wip_partno" [value]="items.id">{{items.part_no}}</option>

        </select>
        <select class="pull-right" name="wipfilter" [(ngModel)]="wipfiltermodel" (change)="getwipchart()" #wipfilter="ngModel" required>
          <option value="1">Weekly</option>
            <option value="2">Monthly</option>
            <option value="3">Yearly</option>
  
          </select>
      </div>
      <div class="card-block">
        <div id="wip-example"></div>
      </div>
    </div>
  </div>
  <div class="col-md-6 col-xl-6">
      <div class="card card-border-primary">
        <div class="card-header">
          <h5>FG </h5>
          
         
          <select class="pull-right" name="fgfilter" [(ngModel)]="fgfiltermodel" (change)="getfgchart()" #wipfilter="ngModel" required>
            <option value="1">Weekly</option>
              <option value="2">Monthly</option>
              <option value="3">Yearly</option>
    
            </select>
        </div>
        <div class="card-block">
          <div id="fg-example"></div>
        </div>
      </div>
    </div>
</div>
<div class="row">
  <div class="col-md-6 col-xl-6">
    <div class="card card-border-primary">
      <div class="card-header">
        <h5>DRUM STOCK </h5>
        
       
        <select class="pull-right" name="drumstockfilter" [(ngModel)]="drumstockfiltermodel" (change)="getdrumstockgraph()" #drumstockfilter="ngModel" required>
          <option value="1">Weekly</option>
            <option value="2">Monthly</option>
            <option value="3">Yearly</option>
  
          </select>
      </div>
      <div class="card-block">
        <div id="drumstock-example"></div>
      </div>
    </div>
  </div>
</div>