<div class="row">
  <!-- CATEGORIES CHART start -->
  <div class="col-lg-12">
    <app-card [title]="'RADIAL VARIANTS'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <div data-label="10%" class="radial-bar radial-bar-10 radial-bar-lg radial-bar-default"></div>
        <div data-label="20%" class="radial-bar radial-bar-20 radial-bar-lg radial-bar-primary"></div>
        <div data-label="30%" class="radial-bar radial-bar-30 radial-bar-lg radial-bar-success"></div>
        <div data-label="40%" class="radial-bar radial-bar-40 radial-bar-lg .radial-bar-info"></div>
        <div data-label="50%" class="radial-bar radial-bar-50 radial-bar-lg radial-bar-danger"></div>
        <div data-label="60%" class="radial-bar radial-bar-60 radial-bar-lg radial-bar-warning"></div>
        <div data-label="70%" class="radial-bar radial-bar-70 radial-bar-lg radial-bar-inverse"></div>
    </app-card>
  </div>
  <!-- CATEGORIES CHART Ends -->
  <!-- RADIAL SIZES start -->
  <div class="col-md-12 col-lg-4">
    <app-card [title]="'RADIAL SIZES'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <div data-label="50%" class="radial-bar radial-bar-50 radial-bar-lg "></div>
        <div data-label="40%" class="radial-bar radial-bar-40 radial-bar-sm"></div>
        <div data-label="30%" class="radial-bar radial-bar-30 radial-bar-xs"></div>
    </app-card>
  </div>
  <!-- RADIAL SIZES Ends -->
  <!-- RADIAL WITH IMAGES start -->
  <div class="col-md-12 col-lg-4">
    <app-card [title]="'RADIAL WITH IMAGES'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <div data-label="50%" class="radial-bar radial-bar-50 radial-bar-lg radial-bar-danger">
          <img src="assets/images/avatar-2.png" alt="User-Image">
        </div>
        <div data-label="40%" class="radial-bar radial-bar-40 radial-bar-sm radial-bar-warning">
          <img src="assets/images/avatar-2.png" alt="User-Image">
        </div>
        <div data-label="30%" class="radial-bar radial-bar-30 radial-bar-xs radial-bar-success">
          <img src="assets/images/avatar-2.png" alt="User-Image">
        </div>
    </app-card>
  </div>
  <!-- RADIAL WITH IMAGES Ends -->
  <!-- RADIAL WITH TOOPLTIP start -->
  <div class="col-md-12 col-lg-4">
    <app-card [title]="'RADIAL WITH TOOLTIP'" [headerContent]="'Lorem ipsum dolor sit amet, consectetur adipisicing elit'">
        <div data-label="50%" class="radial-bar radial-bar-40 radial-bar-lg" placement="top" ngbTooltip="50%"></div>
        <div data-label="40%" class="radial-bar radial-bar-40 radial-bar-lg" placement="top" ngbTooltip="40%"></div>
        <div data-label="30%" class="radial-bar radial-bar-30 radial-bar-lg" placement="top" ngbTooltip="30%"></div>
    </app-card>
  </div>
  <!-- RADIAL WITH TOOPLTIP Ends -->
</div>