<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="row">
            <div class="col-md-6">
                <h5>Mounting Arrangements (BOM) </h5>
              </div>
              <div class="col-md-6">
                <div class="text-right">
                  <button class="btn btn-primary btn-square" type="button" (click)="openbulkupload(bulkupload)">
                    <i class="icofont icofont-upload"></i> Bulk Upload
                  </button>
                  <button class="btn btn-info btn-square" type="button" (click)="open(addnew)">
                    <i class="icofont icofont-plus"></i> Add Mounting Arrangements
                  </button>
                </div>
              </div>
        </div>
        
      </div>
      <div class="card-block table-responsive">
          <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Mounting ID No.</th>
              <th>Level</th>
              <th>Item No.</th>
              <th>ID No.</th>
              <th>Rev No.</th>
              <th>Quantity</th>
              <th>Unit</th>
              <th>Description</th>
              <th>Drg Issued</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of mountingmaster;let i =index">
              <td>{{i+1}}</td>
              <td>{{item.mounting_id_no}}</td>
              <td>{{item.level}}</td>
              <td>{{item.itemno}}</td>
              <td>{{item.idno}}</td>
              <td>{{item.ravno}}</td>
              <td>{{item.quantity}}</td>
              <td>{{item.unit}}</td>
              <td>{{item.description}}</td>
              <td>{{item.drg_issue}}</td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletemounting(item.id)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="row">
    <div class="col-sm-4 text-right">
      <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
    </div>
    <label class="custom-file col-sm-6">
      <input #file type="file" class="btn btn-default" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file">
      <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
      <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
    </label>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close
    </button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>
<!-- Add Bulk Upload -->

<!-- Add New -->

<ng-template #addnew let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Mounting Arrangements (BOM)</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="addmountinginternal(frm,addnew)">
        <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Mounting ID </label>
                <div class="col-sm-8">
                    <select class='select-option  form-control' #mountingid="ngModel"  required ngModel name=mountingid>
                        <option value="" selected>Select Mounting ID</option>
                        <option class='option' *ngFor='let option of modelno' [value]="option.id_no">{{option.id_no}}</option>
                    </select>
                    <div *ngIf="mountingid.invalid && (mountingid.dirty || mountingid.touched)" class="alert-danger">
                      <span *ngIf="mountingid.errors?.required">
                  Mounting ID  is Required
                      </span>
                      </div>
                </div>
              </div>
            </div>
         
          </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Level</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Level" name="level" ngModel #level="ngModel" pattern="^\d[0-9]*$"
                required>
              <div *ngIf="level.invalid && (level.dirty || level.touched)" class="alert-danger">
                <span *ngIf="level.errors?.required">
                  level is Required
                </span>
                <span *ngIf="level.errors?.pattern">
                  level should be NUmeric.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Item No</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Item No" name="itemno" ngModel #itemno="ngModel" pattern="^\d[0-9]*$"
                required>
              <div *ngIf="itemno.invalid && (itemno.dirty || itemno.touched)" class="alert-danger">
                <span *ngIf="itemno.errors?.required">
                  Item No. is Required
                </span>
                <span *ngIf="itemno.errors?.pattern">
                  Item No. should be NUmeric.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">ID No.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter ID No." name="idno" ngModel #idno="ngModel" pattern="^\d[0-9]*$"
                required>
              <div *ngIf="idno.invalid && (idno.dirty || idno.touched)" class="alert-danger">
                <span *ngIf="idno.errors?.required">
                  ID NO. is Required
                </span>
                <span *ngIf="idno.errors?.pattern">
                  ID No. should be NUmeric.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Rev No.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Rev No." name="revno" ngModel #revno="ngModel">
              <div *ngIf="revno.invalid && (revno.dirty || revno.touched)" class="alert-danger">
                <span *ngIf="revno.errors?.required">
                  Rev No. is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Quantity</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Quantity" name="quantity" ngModel #quantity="ngModel" pattern="^\d[0-9]*$"
                required>
              <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert-danger">
                <span *ngIf="quantity.errors?.required">
                  Quantity is Required
                </span>
                <span *ngIf="quantity.errors?.pattern">
                  Quantity should be Numeric
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Unit</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Unit" name="unit" ngModel #unit="ngModel" required>
              <div *ngIf="unit.invalid && (unit.dirty || unit.touched)" class="alert-danger">
                <span *ngIf="unit.errors?.required">
                  Unit is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Description</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Description" name="desc" ngModel #desc="ngModel" required>
              <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                <span *ngIf="desc.errors?.required">
                  Description is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Drg Issued</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Drg Issued" name="drg" ngModel #drg="ngModel" required>
              <div *ngIf="drg.invalid && (drg.dirty || drg.touched)" class="alert-danger">
                <span *ngIf="drg.errors?.required">
                  Drg Issued is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>


<!-- Edit -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Mounting Arrangements (BOM)</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="editfrm" #editfrm="ngForm" (ngSubmit)="editmountinginternal(editfrm, edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editmounting.id" required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Mounting ID </label>
              <div class="col-sm-8">
                  <select class='select-option  form-control' #mountingi="ngModel"  required [(ngModel)]="editmounting.mounting_id_no" name=mountingid disabled>
                      <option class='option' *ngFor='let option of modelno' [value]="option.id_no">{{option.id_no}}</option>
                  </select>
                  <div *ngIf="mountingi.invalid && (mountingi.dirty || mountingi.touched)" class="alert-danger">
                    <span *ngIf="mountingi.errors?.required">
                Mounting ID  is Required
                    </span>
                    </div>
              </div>
            </div>
          </div>
       
        </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Level</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Level" name="level" [(ngModel)]="editmounting.level" pattern="^\d[0-9]*$"
                #levels="ngModel" required>
              <div *ngIf="levels.invalid && (levels.dirty || levels.touched)" class="alert-danger">
                <span *ngIf="levels.errors?.required">
                  level is Required
                </span>
                <span *ngIf="levels.errors?.pattern">
                  level should be Numeric
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Item No</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Item No" name="itemno" [(ngModel)]="editmounting.itemno" #itemnos="ngModel"
                pattern="^\d[0-9]*$" required>
              <div *ngIf="itemnos.invalid && (itemnos.dirty || itemnos.touched)" class="alert-danger">
                <span *ngIf="itemnos.errors?.required">
                  Item No. is Required
                </span>
                <span *ngIf="itemnos.errors?.pattern">
                  Item No. should be Numeric
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">ID No.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter ID No." name="idno" [(ngModel)]="editmounting.idno" pattern="^\d[0-9]*$"
                #idnos="ngModel" required>
              <div *ngIf="idnos.invalid && (idnos.dirty || idnos.touched)" class="alert-danger">
                <span *ngIf="idnos.errors?.required">
                  ID NO. is Required
                </span>
                <span *ngIf="idnos.errors?.pattern">
                  ID NO. should be Numeric
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Rev No.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Rev No." name="revno" [(ngModel)]="editmounting.ravno" #revnos="ngModel"
                required>
              <div *ngIf="revnos.invalid && (revnos.dirty || revnos.touched)" class="alert-danger">
                <span *ngIf="revnos.errors?.required">
                  Rev No. is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Quantity</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Quantity" name="quantity" [(ngModel)]="editmounting.quantity"
                #quantitys="ngModel" pattern="^\d[0-9]*$" required>
              <div *ngIf="quantitys.invalid && (quantitys.dirty || quantitys.touched)" class="alert-danger">
                <span *ngIf="quantitys.errors?.required">
                  Quantity is Required
                </span>
                <span *ngIf="quantitys.errors?.pattern">
                  Quantity should be Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Unit</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Unit" name="unit" [(ngModel)]="editmounting.unit" #units="ngModel"
                required>
              <div *ngIf="units.invalid && (units.dirty || units.touched)" class="alert-danger">
                <span *ngIf="units.errors?.required">
                  Unit is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Description</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Description" name="desc" [(ngModel)]="editmounting.description"
                #descs="ngModel" required>
              <div *ngIf="descs.invalid && (descs.dirty || descs.touched)" class="alert-danger">
                <span *ngIf="descs.errors?.required">
                  Description is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Drg Issued</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Drg Issued" name="drg" [(ngModel)]="editmounting.drg_issue" #drgs="ngModel"
                required>
              <div *ngIf="drgs.invalid && (drgs.dirty || drgs.touched)" class="alert-danger">
                <span *ngIf="drgs.errors?.required">
                  Drg Issued is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>