<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="col-md-6">
          <h5>One Point Lesson Report</h5>
        </div>
      </div>
      <div class="card-block">
        <div class="dt-responsive">
          <div slimScroll class="app-modal-body scroll-window" width="100%" height="900px" size="7px" color="rgb(27, 139, 249)"
            opacity="0.4">
            <table class="table-responsive table-striped table-bordered">
              <thead>
                <tr>
                  <th style="background-color:aliceblue">File.No.</th>
                  <td>
                    <input type="text" class="form-control" #workorder name="wono" ngModel #wono="ngModel" readonly />
                  </td>
                  <th style="background-color:aliceblue">Part.No.</th>
                  <td>
                    <input type="text" class="form-control" #workorder name="wono" [(ngModel)]="partno" #wono="ngModel"
                      readonly />
                  </td>
                  <th style="background-color:aliceblue">Snag.No.</th>
                  <td>
                    <input type="text" class="form-control" #workorder name="wono" [(ngModel)]="snagno" #wono="ngModel"
                      readonly />
                  </td>
                </tr>
                <tr>
                  <th style="background-color:aliceblue">Engine/Gearbox No.</th>
                  <td>
                    <input type="text" class="form-control" #workorder name="wono" [(ngModel)]="engine_gear_no" #wono="ngModel"
                      readonly />
                  </td>
                  <th style="background-color:aliceblue">Snag reported stage</th>
                  <td>
                    <input type="text" class="form-control" #workorder name="wono" [(ngModel)]="reportedstage" #wono="ngModel"
                      readonly />
                  </td>
                  <th style="background-color:aliceblue"> Resp. W.Station</th>
                  <td>
                    <input type="text" class="form-control" #workorder name="wono" [(ngModel)]="stationname" #wono="ngModel"
                      readonly />
                  </td>
                </tr>
                <tr>
                  <th style="background-color:aliceblue">Snag Category</th>
                  <td>
                    <input type="text" class="form-control" #workorder name="wono" [(ngModel)]="snagcategory" #wono="ngModel"
                      readonly />
                  </td>
                  <th style="background-color:aliceblue">Mixer tested by</th>
                  <td>
                    <input type="text" class="form-control" #workorder name="wono" [(ngModel)]="testedby" #wono="ngModel"
                      readonly />
                  </td>
                  <th style="background-color:aliceblue">Mixer cleared by</th>
                  <td>
                    <input type="text" class="form-control" #workorder name="wono" [(ngModel)]=clearedby #wono="ngModel"
                      readonly />
                  </td>
                </tr>

                <tr>
                  <th colspan="2">Problem Description</th>
                </tr>
                <tr>
                  <td></td>
                  <td colspan="8" rowspan="2">
                    <input type="text" class="form-control" #workorder name="wono" [(ngModel)]="description" #wono="ngModel"
                      readonly />
                  </td>
                  <td></td>
                </tr>
                <tr></tr>
                <tr>
                  <th colspan="3" style="text-align:center">Snag Snapshot</th>
                  <th colspan="3" style="text-align:center">Employee Performance Scale</th>

                </tr>
                <tr></tr>
                <tr>
                  <td colspan="3"> <img src="http://52.35.246.28/schwing_backends_V5/storage/app/public/pdi_defectimages/{{processimage}}" class="form-control" height="400" width="300"></td>
                  <td colspan="3"><div id="performancescale"></div></td>
                </tr>
                <tr></tr>
                <tr>
                  <th colspan="2" style="text-align:center">Snag Impact Area</th>
                </tr>
                <tr></tr>
                <tr>
                  <th colspan="3" style="background-color:aliceblue"> <label>
                      <input type="checkbox" name="warantyreplacement" [(ngModel)]="delayindelivery"
                        #warantyreplacement="ngModel">

                      <span class="text-inverse">Delay in Delivery</span>
                      <!-- <input type="checkbox" value="{{options.id}}" name="{{options.id}}" (change)="updateSelectedoptionss($event)" />{{options.components}} -->
                    </label></th>
                  <th colspan="3" style="background-color:aliceblue"> <label>
                      <input type="checkbox" name="warantyreplacement" [(ngModel)]="order" #warantyreplacement="ngModel">

                      <span class="text-inverse">Order Cancellation</span>
                      <!-- <input type="checkbox" value="{{options.id}}" name="{{options.id}}" (change)="updateSelectedoptionss($event)" />{{options.components}} -->
                    </label></th>
                </tr>
                <tr></tr>
                <tr>
                  <th colspan="3" style="background-color:aliceblue"> <label>
                      <input type="checkbox" name="warantyreplacement" [(ngModel)]="waranty" #warantyreplacement="ngModel">

                      <span class="text-inverse">Waranty Replacement</span>
                      <!-- <input type="checkbox" value="{{options.id}}" name="{{options.id}}" (change)="updateSelectedoptionss($event)" />{{options.components}} -->
                    </label></th>
                  <th colspan="3" style="background-color:aliceblue"> <label>
                      <input type="checkbox" name="warantyreplacement" [(ngModel)]="material" #warantyreplacement="ngModel">

                      <span class="text-inverse">Material Loss</span>
                      <!-- <input type="checkbox" value="{{options.id}}" name="{{options.id}}" (change)="updateSelectedoptionss($event)" />{{options.components}} -->
                    </label></th>
                </tr>
                <tr></tr>
                <tr>
                  <th colspan="3" style="background-color:aliceblue"> <label>
                      <input type="checkbox" name="warantyreplacement" [(ngModel)]="productivity" #warantyreplacement="ngModel">

                      <span class="text-inverse">Productivity Loss</span>
                      <!-- <input type="checkbox" value="{{options.id}}" name="{{options.id}}" (change)="updateSelectedoptionss($event)" />{{options.components}} -->
                    </label></th>
                  <th colspan="3" style="background-color:aliceblue"> <label>
                      <input type="checkbox" name="warantyreplacement" [(ngModel)]="reputation" #warantyreplacement="ngModel">

                      <span class="text-inverse">Reputation Loss</span>
                      <!-- <input type="checkbox" value="{{options.id}}" name="{{options.id}}" (change)="updateSelectedoptionss($event)" />{{options.components}} -->
                    </label></th>
                </tr>
                <tr>
                <tr></tr>
                <tr>
                  <th colspan="3" style="text-align:center">Action Taken</th>
                </tr>
                <tr  rowspan="3"><td colspan="3" rowspan="3"><label height="100" width="100"></label></td><td rowspan="3" colspan="3"><label height="100" width="100"></label></td></tr>
                
                <tr></tr>
                <tr></tr>
                <tr>
                  <th colspan="3">Preventive Action (To be filled by Respective Employee/Shift Engineer)</th>
                </tr>
              </thead>
            </table>
          </div>

          <!-- <div class="panel-heading">User information</div>-->
          <!-- <table class="table table-striped table-bordered table-responsiveness full-data-table" [mfData]="data | dataFilter : filterQuery"
            #mf="mfDataTable" [mfRowsOnPage]="rowsOnPage" [(mfSortBy)]="sortBy" [(mfSortOrder)]="sortOrder">
            <thead>
              <tr>
                <th>
                  <mfDefaultSorter by="s.no">S.No</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="Emp No">Process Name</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="Mobile Number">Process Image</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="Emp No">Process Sequence</mfDefaultSorter>
                </th>
                <th>
                  <mfDefaultSorter by="action">Action</mfDefaultSorter>
                </th>
              </tr>
              <tr>
              </tr>
            </thead>
            <tbody>
            </tbody>
            <tfoot>
              <tr>
                <td colspan="6">
                  <mfBootstrapPaginator class="pagination-main f-right"></mfBootstrapPaginator>
                </td>
              </tr>
            </tfoot>
          </table> -->
        </div>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Add Bulk Upload  -->
<!-- <app-modal-basic #bulkupload [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close basic-close" (click)="bulkupload.hide()">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <input type="file" ng2FileSelect [uploader]="uploader" class="custom-file-input">
        <span class="custom-file-control"></span>
      </label>
    </div>


  </div> 
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="bulkupload.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Submit</button>
  </div>
</app-modal-basic> -->

<!-- Add Bulk Upload -->

<!-- Add New -->

<app-modal-basic #addnew [dialogClass]="'modal-lg'" style="min-height:1200px">
  <div class="app-modal-header">
    <h4 class="modal-title">Add Process</h4>
    <button type="button" class="close basic-close" (click)="addnew.hide()">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="app-modal-body">
    <form class="form-horizontal" name="addform" #frm1="ngForm" (ngSubmit)="savechanges(frm1,addnew)">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label text-right">Process Name:</label>
        <div class="col-sm-8">
          <div class="col-sm-8">
            <select class='select-option  form-control' readonly [(ngModel)]='optionSelected' name=workstation
              (ngModelChange)='onOptionstationSelected($event)'>
              <option class='option' *ngFor='let option of processname' [value]="option.work_station">{{option.work_station}}</option>
            </select>
          </div>
        </div>
      </div>

      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="addnew.hide()">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm1.form.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
</app-modal-basic>

<app-modal-basic #addnewfitter [dialogClass]="'modal-lg'" style="min-height:1200px">
  <div class="app-modal-header">
    <h4 class="modal-title">Add Details</h4>
    <button type="button" class="close basic-close" (click)="addnew.hide()">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="app-modal-body">
    <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="addemployee(frm,addNew)">
      <div class="form-group row">
        <label class="col-sm-4 col-form-label text-right">Process Name:</label>
        <div class="col-sm-6">
          <input type="text" class="form-control" Placeholder="Enter Process Name" name="procesname" ngModel
            #procesname="ngModel" readonly>
          <div *ngIf="procesname.invalid && (procesname.dirty || procesname.touched)" class="alert-danger">
            <span *ngIf="procesname.errors?.readonly">
              Process Name readonly
            </span>
          </div>
        </div>
      </div>

      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="addnewfitter.hide()">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>

</app-modal-basic>

<!-- Edit -->

<app-modal-basic #edit [dialogClass]="'modal-lg'">
  <div class="app-modal-header">
    <h4 class="modal-title">Edit Assembly Job Sheet</h4>
    <button type="button" class="close basic-close" (click)="edit.hide()">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="app-modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Process Name</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" Placeholder="Enter Process Name">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Process Image</label>
          <div class="col-sm-8">
            <input type="file" ng2FileSelect [uploader]="uploader" class="custom-file-input">
            <span class="custom-file-control"></span>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Process Sequence</label>
          <div class="col-sm-8">
            <input type="text" class="form-control" Placeholder="Enter Process Sequence">
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="edit.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div>
</app-modal-basic>