<div class="row">
  <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="col-md-6">
            <h5>Material Picking</h5>
          </div>
        </div>
        <div class="card-block">
          <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="addsubassy(frm,addnew)">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label text-right">Material Issue For:</label>
                  <div class="col-sm-5">
                    <select name="materialissue" class="form-control" [(ngModel)]="materialissues" #materialissue="ngModel" (change)="getvalue(materialissue.value)">
                      <option [value]="undefined" selected hidden>Select Material Issue For:</option>
                      <option [value]="null" selected hidden>Select Material Issue For:</option>
                      <option value="1">Drum Model</option>
                      <option value="2">Mixer Assembly</option>
                      <option value="3">Mounting Model</option>
                    </select>
                    <div *ngIf="materialissue.invalid && (materialissue.dirty || materialissue.touched)" class="alert-danger">
                        <span *ngIf="materialissue.errors?.required">
                          Material Issue for. is Required
                        </span>
                      </div>
                    <!-- <input type="text" class="form-control" Placeholder="Enter Drum / Mixer No / Mounting"> -->
                  </div>
                </div>
              </div>
            </div>

            <div [ngSwitch]="materialissues">
              <div *ngSwitchCase="'1'">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Drum Model:</label>
                      <div class="col-sm-5">
                          <!-- <select name="drummodel" class="form-control" [(ngModel)]="drummodels" #drummodel="ngModel" (change)="drum_getbom(drummodel.value);getassyvalue(frm)"> -->
                            <select name="drummodel" class="form-control" [(ngModel)]="drummodels" #drummodel="ngModel" (change)="drum_getwo(drummodel.value);drum_getbom(drummodel.value)">
                              <option [value]="undefined" selected hidden>Select Drum Model:</option>
                              <option [value]="null" selected hidden>Select Drum Model:</option>
                              <option *ngFor="let item of mixer_value.message" [value]="item.id" >{{item.drumpart_no}} _ {{item.drum_model}}</option>
                            </select>
                        <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                        <div *ngIf="drummodel.invalid && (drummodel.dirty || drummodel.touched)" class="alert-danger">
                          <span *ngIf="drummodel.errors?.required">
                            Drum Model. is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Drum W/O No.</label>
                      <div class="col-sm-5">
                        <select class="form-control" name="workorder" [(ngModel)]="workorder" #workordernos="ngModel" required (change)="getdrumwoqty(workordernos.value,materialissue.value);getassyvalue(frm)">
                          <option [value]="undefined" selected hidden>Select Workorder No.</option>
                          <option [value]="null" selected hidden>Select Workorder No.</option>
                          <option *ngFor="let item of drumworkorder.message" [value]="item.id">{{item.workorder_no}}</option>
                        </select>
                        <div *ngIf="workordernos.invalid && (workordernos.dirty || workordernos.touched)" class="alert-danger">
                          <span *ngIf="workordernos.errors?.required">
                              WorkOrder No. is Required
                          </span>
                          <span *ngIf="workordernos.errors?.pattern">
                            WorkOrder No. should acceptd only Numeric.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Quantity.</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" name="drumwoqtys" [(ngModel)]="drumwoqty" #drumwoqtys="ngModel" required readonly />                            
                        <div *ngIf="drumwoqtys.invalid && (drumwoqtys.dirty || drumwoqtys.touched)" class="alert-danger">
                          <span *ngIf="drumwoqtys.errors?.required">
                            Quantity is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="row">
                  <div class="col-sm-12"> 
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Available Quantity.</label>
                      <div class="col-sm-5">
                        <!-- <input type="text" class="form-control" name="availableqtys" placeholder="Enter Available Quantity" ngModel #availableqtys="ngModel" required/> -->
                        <select class="form-control" name="availableqtys" [(ngModel)]="availableqty" #availableqtys="ngModel" required>
                          <option [value]="undefined" selected hidden>Select Available Quantity.</option>
                          <option [value]="null" selected hidden>Select Available Quantity.</option>
                          <option *ngFor="let item of availqty" [value]="item">{{item}}</option>
                        </select>
                        <div *ngIf="availableqtys.invalid && (availableqtys.dirty || availableqtys.touched)" class="alert-danger">
                          <span *ngIf="availableqtys.errors?.required">
                            Available Quantity is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div [ngSwitch]="choose_matr.status">
                  <div *ngSwitchCase="'3'">
                    <div class="row">   
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-4 col-form-label text-right">Storage Location</label>
                          <div class="col-sm-8">
                            <input type="text" class="form-control" Placeholder="Enter Storage Location" name="storage_location" ngModel #storage_location="ngModel" required>
                            <div *ngIf="storage_location.invalid && (storage_location.dirty || storage_location.touched)" class="alert-danger">
                              <span *ngIf="storage_location.errors?.required">
                                Storage Location Required
                              </span>
                            </div>
                          </div>
                        </div>
                      </div>                          
                    </div>      
                  </div>
                </div> --> 
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Remaining Quantity.</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" name="remainingqty" placeholder="Enter Remaining Quantity" [(ngModel)]="remainingqtys.remaining_qty" #remainingqty="ngModel" readonly/>
                       
                        <div *ngIf="remainingqty.invalid && (remainingqty.dirty || remainingqty.touched)" class="alert-danger">
                          <span *ngIf="remainingqty.errors?.required">
                            Available Quantity is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div *ngSwitchCase="'2'">   
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Mixer Part No.</label>
                      <div class="col-sm-5">
                        <select class="form-control" name="drummodel" [(ngModel)]="mixerpartnos" #partnos="ngModel" required (change)="getworkorderno(partnos.value)">
                          <option [value]="undefined" selected hidden>Select Part No.</option>
                          <option [value]="null" selected hidden>Select Part No.</option>
                          <option *ngFor="let item of getmixerparts.message" [value]="item.id">{{item.part_no}}_{{item.mixer_model}}</option>
                        </select>
                        <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                          <span *ngIf="partnos.errors?.required">
                            Part No. is Required
                          </span>
                        </div>  
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Mixer W/O No.</label>
                      <div class="col-sm-5">
                        <select class="form-control" name="workorder" [(ngModel)]="workorder" #workordernos="ngModel" required (change)="mixerbom(partnos.value);getassyvalue(frm)">
                          <option [value]="undefined" selected hidden>Select Workorder No.</option>
                          <option [value]="null" selected hidden>Select Workorder No.</option>
                          <option *ngFor="let item of mixerplanning.message" [value]="item.id">{{item.workorder_no}}</option>
                        </select>
                        <div *ngIf="workordernos.invalid && (workordernos.dirty || workordernos.touched)" class="alert-danger">
                          <span *ngIf="workordernos.errors?.required">
                              WorkOrder No. is Required
                          </span>
                          <span *ngIf="workordernos.errors?.pattern">
                            WorkOrder No. should acceptd only Numeric.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <!-- <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Quantity.</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" name="drumwoqtys" [(ngModel)]="drumwoqty" #drumwoqtys="ngModel" required readonly />                            
                        <div *ngIf="drumwoqtys.invalid && (drumwoqtys.dirty || drumwoqtys.touched)" class="alert-danger">
                          <span *ngIf="drumwoqtys.errors?.required">
                            Quantity is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="row">
                  <div class="col-sm-12"> 
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Available Quantity.</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" name="availableqtys" placeholder="Enter Available Quantity" ngModel #availableqtys="ngModel" required/>
                        <select class="form-control" name="availableqtys" [(ngModel)]="availableqty" #availableqtys="ngModel" required>
                          <option [value]="undefined" selected hidden>Select Available Quantity.</option>
                          <option [value]="null" selected hidden>Select Available Quantity.</option>
                          <option *ngFor="let item of availqty" [value]="item">{{item}}</option>
                        </select>
                        <div *ngIf="availableqtys.invalid && (availableqtys.dirty || availableqtys.touched)" class="alert-danger">
                          <span *ngIf="availableqtys.errors?.required">
                            Available Quantity is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Remaining Quantity.</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" name="remainingqty" placeholder="Enter Remaining Quantity" [(ngModel)]="remainingqtys.remaining_qty" #remainingqty="ngModel" readonly/>
                       
                        <div *ngIf="remainingqty.invalid && (remainingqty.dirty || remainingqty.touched)" class="alert-danger">
                          <span *ngIf="remainingqty.errors?.required">
                            Available Quantity is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> -->
              </div>  
              <div *ngSwitchCase="'3'">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Mounting WorkOrder:</label>
                      <div class="col-sm-5">
                          <!-- <select name="drummodel" class="form-control" [(ngModel)]="mountwos" #mountwo="ngModel" (change)="mounting_getbom();getassyvalue(frm)"> -->
                          <select name="workorder" class="form-control" [(ngModel)]="mountwos" #mountwo="ngModel" (change)="getmountreleaseqty(mountwo.value,materialissue.value);mounting_getbom()">
                            <option [value]="undefined" selected hidden>Select Mounting Release WorkOrder:</option>
                            <option [value]="null" selected hidden>Select Mounting Release WorkOrder:</option>
                            <option *ngFor="let item of mounting_wo.message" [value]="item.id" >{{item.workorder_no}}</option>
                          </select>
                        <div *ngIf="mountwo.invalid && (mountwo.dirty || mountwo.touched)" class="alert-danger">
                          <span *ngIf="mountwo.errors?.required">
                              Mounting Release WorkOrder is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Quantity.</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" name="drumwoqtys" [(ngModel)]="drumwoqty" #drumwoqtys="ngModel" required readonly />                            
                        <div *ngIf="drumwoqtys.invalid && (drumwoqtys.dirty || drumwoqtys.touched)" class="alert-danger">
                          <span *ngIf="drumwoqtys.errors?.required">
                            Quantity is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div> 
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Available Quantity.</label>
                      <div class="col-sm-5">
                        <!-- <input type="text" class="form-control" name="availableqtys" placeholder="Enter Available Quantity" ngModel #availableqtys="ngModel" required/> -->
                        <select class="form-control" name="availableqtys" [(ngModel)]="availableqty" #availableqtys="ngModel" required>
                          <option [value]="undefined" selected hidden>Select Workorder No.</option>
                          <option [value]="null" selected hidden>Select Workorder No.</option>
                          <option *ngFor="let item of availqty" [value]="item">{{item}}</option>
                        </select>
                        <div *ngIf="availableqtys.invalid && (availableqtys.dirty || availableqtys.touched)" class="alert-danger">
                          <span *ngIf="availableqtys.errors?.required">
                            Available Quantity is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Remaining Quantity.</label>
                      <div class="col-sm-5">
                        <input type="text" class="form-control" name="remainingqty" placeholder="Enter Remaining Quantity" [(ngModel)]="remainingqtys.remaining_qty" #remainingqty="ngModel" readonly>
                        
                        <div *ngIf="remainingqty.invalid && (remainingqty.dirty || remainingqty.touched)" class="alert-danger">
                          <span *ngIf="remainingqty.errors?.required">
                            Available Quantity is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div> 
            </div> 

            <div>
              <div class="row">  
                <div class="col-sm-3"></div>          
                <div class="col-sm-6">
                  <div class="checkbox-fade fade-in-primary col-sm-12">
                    <label class="col-sm-12">                            
                        <input type="checkbox" (change)="selectAll($event);"/> 
                      <span class="cr">
                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                      </span>
                      <span class="text-inverse">Select All</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>

            <div *ngFor="let option of drum_value.message">
              <div class="row">  
                <div class="col-sm-3"></div>          
                <div class="col-sm-6">
                  <div class="checkbox-fade fade-in-primary col-sm-12">
                    <label class="col-sm-12">
                      <input type="checkbox" [(ngModel)]="option.selected" name="menu1" [value]="option.id" id="{{option.id}}" (change)="checkValue(option.id,$event.target.checked)">
                      <span class="cr">
                        <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                      </span>
                      <span class="text-inverse">{{option.description}}</span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <hr>            
            <div class="form-group row float-right">
              <div class="col-sm-6">
                <button type="button" class="btn btn-default waves-effect pull-right" (click)="reset(frm)">Reset</button>
              </div>
              <div class="col-sm-6">
                <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
              </div>
            </div>
          </form>
        </div>
        <!-- end of card-footer -->
      </div>    
  </div>
</div>