<div class="row">
  <div class="col-sm-12">
    <form class="form-horizontal" name="addform" #addfrm="ngForm" (ngSubmit)="adddispatchplan(addfrm)">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="row">
              <div class="col-md-6">
                <h5>Dispatch Plan</h5>
                <p class="mandatoryfiles">* Fields Are mandatory</p>
              </div>
          </div>          
        </div>
        <div class="card-block">
          <div class="row">            
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Part No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="partno" [(ngModel)]="mixerpartnos" #partnos="ngModel" required (change)="getworkorderno(partnos.value)">
                    <option [value]="undefined" selected hidden>Select Part No.</option>
                    <option [value]="null" selected hidden>Select Part No.</option>
                    <option *ngFor="let item of getmixerparts.message" [value]="item.id">{{item.part_no}}_{{item.mixer_model}}</option>
                  </select>
                  <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                    <span *ngIf="partnos.errors?.required">
                      Part No. is Required
                    </span>
                  </div>                  
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">WorkOrder No.<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="workorderno" [(ngModel)]="workorder" #workordernos="ngModel" required (change)="getpartno(workordernos.value)">
                    <option [value]="undefined" selected hidden>Select Workorder No.</option>
                    <option [value]="null" selected hidden>Select Workorder No.</option>
                    <option *ngFor="let item of mixerplanning.message" [value]="item.workorderid">{{item.workorder_no}}</option>
                  </select>
                  <div *ngIf="workordernos.invalid && (workordernos.dirty || workordernos.touched)" class="alert-danger">
                    <span *ngIf="workordernos.errors?.required">
                        WorkOrder No. is Required
                    </span>
                    <span *ngIf="workordernos.errors?.pattern">
                      WorkOrder No. should acceptd only Numeric.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Description<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Description" name="description" [(ngModel)]="getmixerassembly.mixer_description" #description="ngModel" required readonly>
                  <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert-danger">
                    <span *ngIf="description.errors?.required">
                      Description is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Customer Name<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="customername" [(ngModel)]="getmixerassembly.custid" #customernames="ngModel" required disabled>
                    <option [value]="undefined" selected hidden>Select Customer Name</option>
                    <option [value]="null" selected hidden>Select Customer Name</option>
                    <option *ngFor="let items of customer.message" [value]="items.id">{{items.customer_name}}</option>
                  </select>
                  <div *ngIf="customernames.invalid && (customernames.dirty || customernames.touched)" class="alert-danger">
                    <span *ngIf="customernames.errors?.required">
                      Customer Name is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Color Scheme<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Color Scheme" name="channelwidth" [(ngModel)]="getmixerassembly.color"
                    #colorschemes="ngModel" required readonly>
                  <div *ngIf="colorschemes.invalid && (colorschemes.dirty || colorschemes.touched)" class="alert-danger">
                    <span *ngIf="colorschemes.errors?.required">
                      Color Scheme is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Mounting Category<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class="form-control" name="mountingcategory" [(ngModel)]="getmixerassembly.mountingcategory" #mountingcategorys="ngModel" required disabled>
                    <option [value]="undefined" selected hidden>Select Mounting Category</option>
                    <option [value]="null" selected hidden>Select Mounting Category</option>
                    <option value="1">Export</option>
                    <option value="2">FBV</option>
                    <option value="3">Party Mounting</option>
                    <option value="4">Mixer</option>
                  </select>
                  <div *ngIf="mountingcategorys.invalid && (mountingcategorys.dirty || mountingcategorys.touched)" class="alert-danger">
                    <span *ngIf="mountingcategorys.errors?.required">
                      Mounting Category is Required.
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Mixer Serial No</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Mixer Serial No" name="mixersno" [(ngModel)]="getmixerassembly.mixerno" #cdsnoss="ngModel" readonly>
                  <div *ngIf="cdsnoss.invalid && (cdsnoss.dirty || cdsnoss.touched)" class="alert-danger">
                    <span *ngIf="cdsnoss.errors?.required">
                      Mixer Serial No is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Engine No</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Engine No" name="mixersno" #enginenos="ngModel" [(ngModel)]="getmixerassembly.pm_no" readonly>
                  <div *ngIf="enginenos.invalid && (enginenos.dirty || enginenos.touched)" class="alert-danger">
                    <span *ngIf="enginenos.errors?.required">
                      Engine No is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">CDS No<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter CDS No" name="cdsno" [(ngModel)]="getmixerassembly.cds_no" #cdsnos="ngModel" required readonly>
                  <div *ngIf="cdsnos.invalid && (cdsnos.dirty || cdsnos.touched)" class="alert-danger">
                    <span *ngIf="cdsnos.errors?.required">
                      CDS No is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">SO No<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter SO No" name="sono" ngModel #sonos="ngModel"
                    required >
                  <div *ngIf="sonos.invalid && (sonos.dirty || sonos.touched)" class="alert-danger">
                    <span *ngIf="sonos.errors?.required">
                      SO No is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">FG Date</label>
                <div class="col-sm-8">
                  <input class="form-control" placeholder="yyyy-mm-dd" name="calendar" [(ngModel)]="getmixerassembly.fg_date" #fgdates="ngModel" readonly>
                  <div *ngIf="fgdates.invalid && (fgdates.dirty || fgdates.touched)" class="alert-danger">
                    <span *ngIf="fgdates.errors?.required">
                      FG Date is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Production Remarks<!--<span class="mandatoryfiles">*</span>--></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Production Remarks" name="premark" [(ngModel)]="getmixerassembly.shift_engg_remarks"
                    #premarks="ngModel" readonly>
                  <div *ngIf="premarks.invalid && (premarks.dirty || premarks.touched)" class="alert-danger">
                    <span *ngIf="premarks.errors?.required">
                      Production Remarks is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Commercial Remarks<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter Commercial Remarks" name="cremark" [(ngModel)]="getmixerassembly.commercial_remarks"
                    #cremarks="ngModel" required readonly>
                  <div *ngIf="cremarks.invalid && (cremarks.dirty || cremarks.touched)" class="alert-danger">
                    <span *ngIf="cremarks.errors?.required">
                      Commercial Remarks is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Dispatch Plan Date<span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <input class="form-control" placeholder="yyyy-mm-dd" name="calendars" [(ngModel)]="plandate" ngbDatepicker (click)="plandates.toggle()"
                    #plandates="ngbDatepicker" required>
                  <div *ngIf="plandates.invalid && (plandates.dirty || plandates.touched)" class="alert-danger">
                    <span *ngIf="plandates.errors?.required">
                      Dispatch Plan Date is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Status</label>
                <div class="col-sm-8">
                  <select name="status" id="" class="form-control" [(ngModel)]="getmixerassembly.mixerstatus" disabled #status="ngModel" >
                    <option [value]="undefined" selected hidden> Select Status</option>
                    <option [value]="null" selected hidden> Select Status</option>
                   <!-- <option value="1"> FG</option>
                    <option value="2"> R/P</option>
                    <option value="3">Painted</option>
                    <option value="4"> U/R</option> 
                    <option value="5"> U/T</option>-->
                    <option value="6">Yet to start</option>
                    <option value="1">Under Testing</option>
                    <option value="2">Under Rework</option>
                    <option value="3">Ready for Painting</option>
                    <option value="4">Painted</option>
                    <option value="5">FG</option>
                    <option value="7">In Progress</option>
                    <option value="8">Dispatched</option>
                  </select>
                  <div *ngIf="status.invalid && (status.dirty || status.touched)" class="alert-danger">
                    <span *ngIf="status.errors?.required">
                      Status is Required
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="card-footer">
          <div class="task-board m-0">
            <!-- end of dropdown-secondary -->
            <div class="dropdown-secondary dropdown">
              <button class="btn btn-primary btn-square" type="submit" [disabled]="!addfrm.form.valid">
                <i class="icofont icofont-tick-mark"></i> Submit
              </button>
              <button class="btn btn-info btn-square" type="reset">
                <i class="icofont icofont-refresh"></i> Reset
              </button>
              <!-- end of dropdown menu -->
            </div>
            <!-- end of seconadary -->
          </div>
          <!-- end of pull-right class -->
        </div>
      </div>
      <!-- end of card-footer -->
    </form>
  </div>
</div>

<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.NO</th>
              <th>Work Order No</th>
              <th>Part No</th>
              <th>Description</th>
              <th>Customer Name</th>
              <th>Color Scheme</th>
              <th>Mounting Category</th>
              <th>Mixer S.No</th>
              <th>Engine No.</th>
              <th>CDS No.</th>
              <th>SO No.</th>
              <th>FG Date</th>
              <th>Production Remarks</th>
              <th>Commercial Remarks</th>
              <th>Dispatch Plan Date</th>
              <th>Status</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of dispatchplan.message;let i=index">
              <td>{{i+1}}</td>
              <td>{{item.mixerworkorder_no}}</td>
              <td>{{item.mixpartno}}</td>
              <td>{{item.mixer_description}}</td>
              <td>{{item.custname}}</td>
              <td>{{item.color}}</td>
              <td [ngSwitch]="item.mountingcategory">
                <p *ngSwitchCase="'1'">Export</p>
                <p *ngSwitchCase="'2'">FBV</p>
                <p *ngSwitchCase="'3'">Party Mounting</p>
                <p *ngSwitchCase="'4'">Mixer</p>
              </td>
              <td>{{item.mixer_s_no}}</td>
              <td>{{item.pm_no}}</td>
              <td>{{item.cds_no}}</td>
              <td>{{item.sono}}</td>
              <td>{{item.fg_date}}</td>
              <td>{{item.shift_engg_remarks}}</td>
              <td>{{item.commercial_remarks}}</td>
              <td>{{item.plandate}}</td>
              <td [ngSwitch]="item.status">
                 <p *ngSwitchCase="'6'">Yet to start</p>
                <p *ngSwitchCase="'1'">Under Testing</p>
                <p *ngSwitchCase="'2'">Under Rework</p>
                <p *ngSwitchCase="'3'">Ready for Painting</p>
                <p *ngSwitchCase="'4'">Painted</p>
                <p *ngSwitchCase="'5'">FG</p>
                <p *ngSwitchCase="'7'">In Progress</p>
                <p *ngSwitchCase="'8'">Dispatched</p>
              </td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletedispatchplan(item.dispatchid)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>


<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit Dispatch Plan</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reloadPage()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="editfrm" #editfrm="ngForm" (ngSubmit)="editdispatchplans(editfrm, edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editdispatchplan.dispatchid" required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">            
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Part No.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="partno" [(ngModel)]="editdispatchplan.mixpartid" #partnos="ngModel" required (change)="getworkorderno(partnos.value)">
                <option [value]="undefined" selected hidden>Select Part No.</option>
                <option [value]="null" selected hidden>Select Part No.</option>
                <option *ngFor="let item of getmixerparts.message" [value]="item.id">{{item.part_no}}_{{item.mixer_model}}</option>
              </select>
              <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                <span *ngIf="partnos.errors?.required">
                  Part No. is Required
                </span>
              </div>                  
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">WorkOrder No.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <!--<select class="form-control" name="workorderno" [(ngModel)]="editdispatchplan.mixerwoid" #workordernos="ngModel" required (change)="getpartno(workordernos.value)">
                <option [value]="undefined" selected hidden>Select Workorder No.</option>
                <option [value]="null" selected hidden>Select Workorder No.</option>
                <option *ngFor="let item of mixerplanning.message" [value]="item.workorderid">{{item.workorder_no}}</option>
              </select>-->
              
              <input type="text" class="form-control" Placeholder="Enter Work order" name="workorderno" [(ngModel)]="editdispatchplan.mixerworkorder_no" #workordernos="ngModel" required readonly>
              <div *ngIf="workordernos.invalid && (workordernos.dirty || workordernos.touched)" class="alert-danger">
                <span *ngIf="workordernos.errors?.required">
                    WorkOrder No. is Required
                </span>
                <span *ngIf="workordernos.errors?.pattern">
                  WorkOrder No. should acceptd only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Description<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Description" name="description" [(ngModel)]="getmixerassembly.mixer_description" #description="ngModel" required readonly>
              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert-danger">
                <span *ngIf="description.errors?.required">
                  Description is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Customer Name<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <!-- <select class="form-control" name="customername" [(ngModel)]="getmixerassembly.custid" #customernames="ngModel" required disabled>
                <option [value]="undefined" selected hidden>Select Customer Name</option>
                <option [value]="null" selected hidden>Select Customer Name</option>
                <option *ngFor="let items of customer.message" [value]="items.id">{{items.customer_name}}</option>
              </select>
              <div *ngIf="customernames.invalid && (customernames.dirty || customernames.touched)" class="alert-danger">
                <span *ngIf="customernames.errors?.required">
                  Customer Name is Required
                </span>
              </div> -->
              <input type="text" class="form-control" Placeholder="Enter Customername" name="customername" [(ngModel)]="getmixerassembly.customer_name"
              #customername="ngModel" required readonly>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Color Scheme<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Color Scheme" name="channelwidth" [(ngModel)]="getmixerassembly.color"
                #colorschemes="ngModel" required readonly>
              <div *ngIf="colorschemes.invalid && (colorschemes.dirty || colorschemes.touched)" class="alert-danger">
                <span *ngIf="colorschemes.errors?.required">
                  Color Scheme is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Mounting Category<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select class="form-control" name="mountingcategory" [(ngModel)]="getmixerassembly.mountingcategory" #mountingcategorys="ngModel" required disabled>
                <option [value]="undefined" selected hidden>Select Mounting Category</option>
                <option [value]="null" selected hidden>Select Mounting Category</option>
                <option value="1">Export</option>
                <option value="2">FBV</option>
                <option value="3">Party Mounting</option>
                <option value="4">Mixer</option>
              </select>
              <div *ngIf="mountingcategorys.invalid && (mountingcategorys.dirty || mountingcategorys.touched)" class="alert-danger">
                <span *ngIf="mountingcategorys.errors?.required">
                  Mounting Category is Required.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Mixer S.No</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Mixer S.No" name="mixersno" #mixersnos="ngModel" [(ngModel)]="getmixerassembly.mixer_s_no" readonly>
              <div *ngIf="mixersnos.invalid && (mixersnos.dirty || mixersnos.touched)" class="alert-danger">
                <span *ngIf="mixersnos.errors?.required">
                  Mixer S.No is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Engine No</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Engine No" name="mixersno" #enginenos="ngModel" [(ngModel)]="getmixerassembly.pm_no" readonly>
              <div *ngIf="enginenos.invalid && (enginenos.dirty || enginenos.touched)" class="alert-danger">
                <span *ngIf="enginenos.errors?.required">
                  Engine No is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">CDS No<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter CDS No" name="cdsno" [(ngModel)]="getmixerassembly.cds_no" #cdsnos="ngModel" required readonly>
              <div *ngIf="cdsnos.invalid && (cdsnos.dirty || cdsnos.touched)" class="alert-danger">
                <span *ngIf="cdsnos.errors?.required">
                  CDS No is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">SO No<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter SO No" name="sono" [(ngModel)]="editdispatchplan.sono" #sonos="ngModel"
                required >
              <div *ngIf="sonos.invalid && (sonos.dirty || sonos.touched)" class="alert-danger">
                <span *ngIf="sonos.errors?.required">
                  SO No is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">FG Date</label>
            <div class="col-sm-8">
                <input class="form-control" placeholder="yyyy-mm-dd" name="calendar" [(ngModel)]="getmixerassembly.fg_date" #fgdates="ngModel"  readonly>
              <div *ngIf="fgdates.invalid && (fgdates.dirty || fgdates.touched)" class="alert-danger">
                <span *ngIf="fgdates.errors?.required">
                  FG Date is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Production Remarks<!--<span class="mandatoryfiles">*</span>--></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Production Remarks" name="premark" [(ngModel)]="getmixerassembly.shift_engg_remarks"
                #premarks="ngModel" readonly>
              <div *ngIf="premarks.invalid && (premarks.dirty || premarks.touched)" class="alert-danger">
                <span *ngIf="premarks.errors?.required">
                  Production Remarks is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Commercial Remarks<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Commercial Remarks" name="cremark" [(ngModel)]="getmixerassembly.commercial_remarks"
                #cremarks="ngModel" required readonly>
              <div *ngIf="cremarks.invalid && (cremarks.dirty || cremarks.touched)" class="alert-danger">
                <span *ngIf="cremarks.errors?.required">
                  Commercial Remarks is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Dispatch Plan Date<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input class="form-control" placeholder="yyyy-mm-dd" name="calendars" [(ngModel)]="editplandate" ngbDatepicker (click)="plandates.toggle()" #plandates="ngbDatepicker" required>
              <div *ngIf="plandates.invalid && (plandates.dirty || plandates.touched)" class="alert-danger">
                <span *ngIf="plandates.errors?.required">
                  Dispatch Plan Date is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label text-right">Status<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <select name="status" id="" class="form-control" [(ngModel)]="editdispatchplan.status" #status="ngModel" disabled required>
                <option [value]="undefined" selected hidden> Select Status</option>
                <option [value]="null" selected hidden> Select Status</option>
                <option value="6">Yet to start</option>
                <option value="1">Under Testing</option>
                <option value="2">Under Rework</option>
                <option value="3">Ready for Painting</option>
                <option value="4">Painted</option>
                <option value="5">FG</option>
                <option value="7">In Progress</option>
                <option value="8">Dispatched</option>
              </select>
              <div *ngIf="status.invalid && (status.dirty || status.touched)" class="alert-danger">
                <span *ngIf="status.errors?.required">
                  Status is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reloadPage()">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>
             