<div class="row">
    <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="row">
              <div class="col-md-6">
                  <h5>Snag Master </h5>
                </div>
                <div class="col-md-6">
                  <div class="text-right">
                    <!-- <button class="btn btn-primary btn-square" type="button" (click)="openbulkupload(bulkupload)">
                      <i class="icofont icofont-upload"></i> Bulk Upload
                    </button> -->
                    <button class="btn btn-info btn-square" type="button" (click)="open(addnew)">
                      <i class="icofont icofont-plus"></i> Add Snag
                    </button>
                  </div>
                </div>
          </div>
          
        </div>
        <div class="card-block table-responsive">
            <table class="datatable table table-striped table-bordered row-border hover">
            <thead>
              <tr>
                <th>S.No.</th>
                <th>Snag Type</th>
                <th>Snag Category</th>
                <th>Snag Code</th>
                <th>Version</th>
                <th>Snag Description</th>
                <th>Reponsible Station</th>
                <th>Reporting Station</th>
                <th>Workstation Name</th>
                <th>Responsible Persons</th>
                <th>No of Fitters</th>
                <th>No of Welders</th>
                <th>No of Man hours</th>
                <th>Total Man hours</th>
                <!-- <th>Responsible Workstation</th>
                <th>Reporting Workstation</th> -->
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of snagmaster;let i=index">
                <td>{{i+1}}</td>
                <td *ngIf="item.snag_type == '1'; else falsyTemplate">Fabrication</td>
                <ng-template #falsyTemplate>
                <td *ngIf="item.snag_type == '2'; else falsyTemplate1">Assembly</td>
                </ng-template>
                <ng-template #falsyTemplate1>
                  <td >PDI Snag Points</td>
                  </ng-template>
                <td>{{item.snagcategory}}</td>
                <td>{{item.snag_code}}</td>
                <td *ngIf="item.version == null; else version">-</td>
                <ng-template #version>
                <td>{{item.version}}</td>
                </ng-template>  
                <td>{{item.snag_description}}</td>
                <td>{{item.opcode}}</td>      
                <td *ngIf="item.repoting_station == null; else reporting">-</td>
                <ng-template #reporting>
                <td>{{item.reporting_station}}</td>
                </ng-template>         
                <td *ngIf="item.workstation_name == null; else workstation">-</td>
                <ng-template #workstation>
                <td>{{item.workstation_name}}</td>
                </ng-template>                   
                <td *ngIf="responsible == 0; else responsible">-</td>
                <ng-template #responsible>
                <td>{{item.responsible_person}}</td>
                </ng-template>               
                <td *ngIf="item.no_of_fitters == null; else nooffitters">-</td>
                <ng-template #nooffitters>
                <td>{{item.no_of_fitters}}</td>
                </ng-template>                 
                <td *ngIf="item.no_of_welders == null; else noofwelders">-</td>
                <ng-template #noofwelders>
                <td>{{item.no_of_welders}}</td>
                </ng-template>                
                <td *ngIf="item.no_of_manhours == null; else noofmanhours">-</td>
                <ng-template #noofmanhours>
                <td>{{item.no_of_manhours}}</td>
                </ng-template>                   
                <td *ngIf="item.total_manhours == null; else totalnoofmanhours">-</td>
                <ng-template #totalnoofmanhours>
                <td>{{item.total_manhours}}</td>
                </ng-template> 
                <td>
                  <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                    <i class='icofont icofont-fountain-pen'></i>
                  </button>
                  <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletedrumtype(item.id,item.snag_type)'>
                    <i class='icofont icofont-trash'></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- end of card-footer -->
      </div>
    </div>
  </div>
  
  <!-- Add Bulk Upload  -->
  <ng-template #bulkupload let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Bulk Upload</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row">
        <div class="col-sm-4 text-right">
          <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
        </div>
        <label class="custom-file col-sm-6">
          <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class=" btn btn-default">
        </label>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close
      </button>
      <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
    </div>
  </ng-template>
  
  <!-- Add Bulk Upload -->
  
  <!-- Add New -->
  <ng-template #addnew let-c="close" let-d="dismiss">
    <div class="modal-header">
      <div class="col-md-6">
        <h4 class="modal-title">Add Snag Category</h4>
        <p class="mandatoryfiles">* Fields Are mandatory</p>
      </div>
      <div class="col-md-6">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click');resetaddform(frm)">
          <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="addsnagmaster(frm, addnew)">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Snag Type <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select name="snagtype" class="form-control" (ngModel)="snagtype" #snagtype="ngModel" (ngModelChange)='onOptionsSelected($event)' required>
                  <option [value]="undefined" hidden  selected> please select Snag Type</option>
                  <option [value]="null"  selected> please select Snag Type</option>
                  <option [value]="1">Fabrication</option>
                  <option [value]="2">Assembly</option>
                  <option [value]="3">PDI/SH-FH Funtional Test</option>
                </select>
                <div *ngIf="snagtype.invalid && (snagtype.dirty || snagtype.touched)" class="alert-danger">
                  <span *ngIf="snagtype.errors?.required">
                    Snag Type is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Snag Category<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <!-- <input type="text" class="form-control" Placeholder="Enter Snag Category" name="snagcategory" ngModel #snagcategory="ngModel"
                  required> -->
                  <select class='select-option  form-control' #snagcategory="ngModel"  required [(ngModel)]="setsnagcategory" name="snagcategory">                      
                    <option [value]="undefined" hidden selected> please select Snag Category</option>
                    <option [value]="null" hidden selected> please select Snag Category</option>
                    <option class='option' *ngFor='let option of snagbasedcategory' [value]="option.id">{{option.snag_category}}</option>
                </select>
                <div *ngIf="snagcategory.invalid && (snagcategory.dirty || snagcategory.touched)" class="alert-danger">
                  <span *ngIf="snagcategory.errors?.required">
                    Snag Category is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Snag Code <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Snag Code" name="snagcode" [(ngModel)]="snagcodeinc" #snagcode="ngModel" appEmitfirstspace readonly>
                <div *ngIf="snagcode.invalid && (snagcode.dirty || snagcode.touched)" class="alert-danger">
                  <span *ngIf="snagcode.errors?.required">
                    Snag Code is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6" *ngIf="optionSelected == '2'">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Version <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select class='select-option form-control' #verson="ngModel" required [(ngModel)]="setsnagversion" name="snagversion">
                  <option [value]="undefined" hidden selected> please select Version</option>
                  <option [value]="null" hidden selected> please select Version</option>
                  <option class='option' value="C2">C2</option>
                  <option class='option' value="N2">N2</option>
                  <option class='option' value="D2">D2</option>
                  <option class='option' value="V2">V2</option>
                  <option class='option' value="C">C</option>
                  <option class='option' value="N">N</option>
                  <option class='option' value="Nil">Nil</option>
                  <option class='option' value="Common">Common</option>
              </select>
              <div *ngIf="verson.invalid && (verson.dirty || verson.touched)" class="alert-danger">
                <span *ngIf="verson.errors?.required">
                    Version is Required
                </span>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Snag Description <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Snag Description" name="snagdesc" ngModel appEmitfirstspace #snagdesc="ngModel"
                  required>
                <div *ngIf="snagdesc.invalid && (snagdesc.dirty || snagdesc.touched)" class="alert-danger">
                  <span *ngIf="snagdesc.errors?.required">
                    Snag Description is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row" *ngIf="optionSelected != '3'">
              <label class="col-sm-4 col-form-label">Responsible Workstation <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select class="select-option form-control" #operationcode="ngModel" required [(ngModel)]="setoperationcode" name="operationcode" (ngModelChange)='getstationname($event)'>                    
                  <option [value]="undefined" hidden selected> please select Responsible Workstation</option>
                  <option [value]="null" hidden selected> please select Responsible Workstation</option>
                  <option class='option' *ngFor='let option of operationcodes' [ngValue]="option.id">{{option.operation_code}}</option>
                </select>
              <div *ngIf="operationcode.invalid && (operationcode.dirty || operationcode.touched)" class="alert-danger">
                <span *ngIf="operationcode.errors?.required">
                    Responsible Workstation is Required
                </span>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row"> 
            <div class="col-md-6">
                <div class="form-group row" *ngIf="optionSelected != '3'">
                  <label class="col-sm-4 col-form-label">Workstation Name <span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                      <input type="text" class="form-control" name="workstation" [(ngModel)]='workstationnames' appEmitfirstspace #workstationname="ngModel" readonly>
                  </div>
                </div>
                </div>
                     <div class="col-md-6" >
                    <div class="form-group row" *ngIf="optionSelected == '1'">
                      <label class="col-sm-4 col-form-label">Reporting Workstation <span class="mandatoryfiles">*</span></label>
                      <div class="col-sm-8">
                          <select class="select-option form-control" #codeworks="ngModel" required [(ngModel)]="setoperationcodes" name="operationcode1">                    
                            <option [value]="undefined" hidden selected> please select Reporting Workstation</option>
                            <option [value]="null" hidden selected> please select Reporting Workstation</option>
                            <option class='option' *ngFor='let option of operationcodes' [ngValue]="option.id">{{option.operation_code}}</option>
                          </select>
                        <!-- <select class='select-option form-control' #codeworks="ngModel" required [(ngModel)]="setoperationcode" name="operationcode1" >
                          <option [ngValue]="undefined" hidden selected> please select Reporting Workstation</option>
                          <option [ngValue]="null" hidden selected> please select Reporting Workstation</option>
                          <option class='option' *ngFor='let option of operationcodes' [value]="option.id">{{option.operation_code}}</option>
                        </select> -->
                      <div *ngIf="codeworks.invalid && (codeworks.dirty || codeworks.touched)" class="alert-danger">
                        <span *ngIf="codeworks.errors?.required">
                            Reporting Workstation is Required
                        </span>
                      </div>
                      </div>
                    </div>
                  </div>
        </div>
        <div class="row">
            <div class="col-md-6" >
                <div class="form-group row" *ngIf="optionSelected == '2' || optionSelected == '1'">
                    <label class="col-sm-4 col-form-label">Responsible Person <span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
            <div class="checkbox-fade fade-in-primary"  >
                <label>
                  <input type="checkbox" name="fitter" [value]="F" ngModel #fitter="ngModel" (ngModelChange)="checkValue('F',$event)" >
                  <span class="cr">
                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                  </span>
                  <span class="text-inverse">Fitter</span>                  
                </label>
                <div *ngIf="fitter.invalid && (fitter.dirty || fitter.touched)" class="alert-danger">
                  <span *ngIf="fitter.errors?.required">
                    Fitter is Required
                  </span>
                </div>
              </div>
              <div class="checkbox-fade fade-in-primary" >
                  <label>
                    <input type="checkbox" name="welder" [value]="W" ngModel #welder="ngModel" (ngModelChange)="checkValue('W',$event)">
                    <span class="cr">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                    </span>
                    <span class="text-inverse">Welder</span>                    
                 </label>
                 <div *ngIf="welder.invalid && (welder.dirty || welder.touched)" class="alert-danger">
                    <span *ngIf="welder.errors?.required">
                      Welder is Required
                    </span>
                  </div>
                </div>
              
              </div>
              </div>
              </div>
              <div class="col-md-6" *ngIf="optionSelected == '2' || optionSelected == '1'">
                  <div class="form-group row"  *ngIf="fitter == '1'">
                    <label class="col-sm-4 col-form-label">No. Of Fitters<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                  <!--    <input type="text" class="form-control" Placeholder="Enter Critical Points">-->
                      <input type="text" pattern="^\d[0-9]*$" class="form-control" Placeholder="Enter No. Of Fitters" name="nooffitters" ngModel #nooffitters="ngModel" appEmitfirstspace appDigitOnly (change)="totalhours($event.target.value,frm)"  required>
                      <div *ngIf="nooffitters.invalid && (nooffitters.dirty || nooffitters.touched)" class="alert-danger">
                        <span *ngIf="nooffitters.errors?.required">
                            No. Of Fitters is Required
                        </span>
                        <span *ngIf="nooffitters.errors?.pattern">
                            No. Of Fitters accepts only Numeric
                          </span>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
        <div class="row" *ngIf="optionSelected == '2' || optionSelected == '1'">
            <div class="col-md-6" *ngIf="welder == '1'">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">No. Of Welders<span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                <!--    <input type="text" class="form-control" Placeholder="Enter Critical Points">-->
                    <input type="text" pattern="^\d[0-9]*$" class="form-control" Placeholder="Enter No. Of Welders" name="noofwelders" ngModel #noofwelders="ngModel" (change)="totalhours($event.target.value,frm)" appEmitfirstspace appDigitOnly required>
                    <div *ngIf="noofwelders.invalid && (noofwelders.dirty || noofwelders.touched)" class="alert-danger">
                      <span *ngIf="noofwelders.errors?.required">
                          No. Of Welders is Required
                      </span>
                      <span *ngIf="noofwelders.errors?.pattern">
                          No. Of Welders accepts only Numeric
                        </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6" *ngIf="optionSelected == '2' || optionSelected == '1'">
                  <div class="form-group row" >
                    <label class="col-sm-4 col-form-label">No Of Man hours (in mins)<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <input pattern="^\d[0-9]*$" type="text" class="form-control" Placeholder="Enter No. of Man hours" name="manhours" ngModel #manhours="ngModel" required (change)="totalhours($event.target.value,frm)" appEmitfirstspace appDigitOnly>
                      <div *ngIf="manhours.invalid && (manhours.dirty || manhours.touched)" class="alert-danger">
                        <span *ngIf="manhours.errors?.required">
                            No Of Man hours is Required
                        </span>
                        <span *ngIf="manhours.errors?.pattern">
                            No. Of Man hours  accepts only Numeric
                          </span>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-6" *ngIf="optionSelected == '2' || optionSelected == '1'"> 
                <div class="form-group row" >
                  <label class="col-sm-4 col-form-label">Total Man hours(in mins)<span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <input pattern="^\d[0-9]*$" type="text" class="form-control" Placeholder="Enter Total Man hours" name="totalmanhours" [(ngModel)]="total_hours" #totalmanhours="ngModel" readonly appEmitfirstspace appDigitOnly>
                    <div *ngIf="totalmanhours.invalid && (totalmanhours.dirty || totalmanhours.touched)" class="alert-danger">
                      <span *ngIf="totalmanhours.errors?.required">
                         Total Man hours is Required
                      </span>
                      <span *ngIf="totalmanhours.errors?.pattern">
                          Total Man hours accepts only Numeric
                        </span>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <hr>
        <div class="form-group row float-right">
          <div class="col-sm-6">
            <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');resetaddform(frm)">Close</button>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
          </div>
        </div>
      </form>
    </div>
    <!-- <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
    </div> -->
  </ng-template>
  
  
  <!-- Edit -->
  <ng-template #edit let-c="close" let-d="dismiss">
    <div class="modal-header">
      <div class="col-md-6">
        <h4 class="modal-title">Edit Snag Category</h4>
        <p class="mandatoryfiles">* Fields Are mandatory</p>
      </div>
      <div class="col-md-6">
        <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(editfrm)">
          <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
        </button>
      </div>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" name="editform" #editfrm="ngForm" (ngSubmit)="editsnagmaster(editfrm, edit)">
        <div class="row" style="display: none">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">ID</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="id" name="id" [(ngModel)]="editsnagmasters.id" #id="ngModel" required>
                <div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert-danger">
                  <span *ngIf="id.errors?.required">
                    ID is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Snag Type <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select name="snagtype" class="form-control" [(ngModel)]="editsnagmasters.snag_type" #snagtypes="ngModel" [disabled]="true">
                  <option [value]="undefined" hidden selected> please select Snag Type</option>
                  <option [value]="null" hidden selected> please select Snag Type</option>
                  <option [value]="1">Fabrication</option>
                  <option [value]="2">Assembly</option>
                  <option [value]="3">PDI Snag Points</option>
                </select>
                <div *ngIf="snagtypes.invalid && (snagtypes.dirty || snagtypes.touched)" class="alert-danger">
                  <span *ngIf="snagtypes.errors?.required">
                    Snag Type is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Snag Category<span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <!-- <input type="text" class="form-control" Placeholder="Enter Snag Category" name="snagcategory" [(ngModel)]="editsnagmasters.snag_category"
                  #snagcategory="ngModel" required> -->
                  <select class='select-option  form-control' #snagcateory="ngModel"  required [(ngModel)]="editsnagmasters.snag_category" name=snagcategory>                      
                    <option [value]="undefined" hidden selected> please select Snag Category</option>
                    <option [value]="null" hidden selected> please select Snag Category</option>
                    <option class='option' *ngFor='let option of snagbasedcategory' [value]="option.id">{{option.snag_category}}</option>
                  </select>
                <div *ngIf="snagcateory.invalid && (snagcateory.dirty || snagcateory.touched)" class="alert-danger">
                  <span *ngIf="snagcateory.errors?.required">
                    Snag Category is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Snag Code <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Snag Code" name="snagcode" [(ngModel)]="editsnagmasters.snag_code"
                  #snagcodes="ngModel" readonly appEmitfirstspace >
                <div *ngIf="snagcodes.invalid && (snagcodes.dirty || snagcodes.touched)" class="alert-danger">
                  <span *ngIf="snagcodes.errors?.required">
                    Snag Code is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6" *ngIf="optionSelected == '2'">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Version <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select class='select-option  form-control' #verson="ngModel"  required [(ngModel)]='editsnagmasters.version' name=snagversion>
                  <option [value]="undefined" hidden selected> please select Version</option>
                  <option [value]="null" hidden selected> please select Version</option>
                  <option class='option' *ngFor='let option of version' [value]="option.drum_version">{{option.drum_version}}</option>
                  <option class='option' value="Common">Common</option>
              </select>
              <div *ngIf="verson.invalid && (verson.dirty || verson.touched)" class="alert-danger">
                <span *ngIf="verson.errors?.required">
                    Version is Required
                </span>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Snag Description <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Snag Description" name="snagdesc" [(ngModel)]="editsnagmasters.snag_description" #snagdescs="ngModel" required appEmitfirstspace>
                <div *ngIf="snagdescs.invalid && (snagdescs.dirty || snagdescs.touched)" class="alert-danger">
                  <span *ngIf="snagdescs.errors?.required">
                    Snag Description is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row" *ngIf="optionSelected != '3'">
              <label class="col-sm-4 col-form-label">Responsible Workstation <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                <select class='select-option  form-control' #operationcde="ngModel"  required [(ngModel)]="editsnagmasters.operation_code" name="operationcode" (ngModelChange)='getstationname($event)'>
                  <option [value]="undefined" hidden selected> please select Responsible Workstation</option>
                  <option [value]="null" hidden selected> please select Responsible Workstation</option>
                  <option class='option' *ngFor='let option of operationcodes' [value]="option.id">{{option.operation_code}}</option>
              </select>
              <div *ngIf="operationcde.invalid && (operationcde.dirty || operationcde.touched)" class="alert-danger">
                <span *ngIf="operationcde.errors?.required">
                    Responsible Workstation is Required
                </span>
              </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group row" *ngIf="optionSelected != '3'">
              <label class="col-sm-4 col-form-label">Workstation Name <span class="mandatoryfiles">*</span></label>
              <div class="col-sm-8">
                  <input type="text" class="form-control" name="workstation" [(ngModel)]='editsnagmasters.workstation_name' #workstationname="ngModel" readonly appEmitfirstspace>
              </div>
            </div>
          </div>
          <div class="col-md-6" >
              <div class="form-group row" *ngIf="optionSelected == '1' || optionSelected == '1'">
                <label class="col-sm-4 col-form-label">Reporting Workstation <span class="mandatoryfiles">*</span></label>
                <div class="col-sm-8">
                  <select class='select-option  form-control' #operationcode="ngModel"  [(ngModel)]='editsnagmasters.repoting_station' name=operationcode1>
                    <option [value]="undefined" hidden selected> please select Reporting Workstation</option>
                    <option [value]="null" hidden selected> please select Reporting Workstation</option>
                    <option class='option' *ngFor='let option of operationcodes' [value]="option.id">{{option.operation_code}}</option>
                </select>
                <div *ngIf="operationcode.invalid && (operationcode.dirty || operationcode.touched)" class="alert-danger">
                  <span *ngIf="operationcode.errors?.required">
                      Reporting Workstation is Required
                  </span>
                </div>
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6" >
              
                <div class="form-group row" *ngIf="optionSelected == '2' || optionSelected == '1'">
                    <label class="col-sm-4 col-form-label">Responsible Person <span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
            <div class="checkbox-fade fade-in-primary" *ngIf="editfitter == '1';else uncheck" >
                <label>
                  <input type="checkbox" checked="true" name="fitter" [value]="F"  (change)="editcheckValue('F',$event)" >
                  <span class="cr">
                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                  </span>
                  <span class="text-inverse">Fitter</span>
                </label>
            
              </div>
              <ng-template #uncheck>
                  <div class="checkbox-fade fade-in-primary">
                <label>
                  <!-- <input type="checkbox" name="comp" [(ngModel)]="option" [value]="options" (change)="change(options, $event.target.checked)"> -->
                  <!--[checked]="(facility.timeslotids && (-1 !== facility.timeslotids.indexOf(timeslot.id)) ? 'checked' : '')"-->
                  <input type="checkbox" name="fitter" [value]="F"  (change)="editcheckValue('F',$event)" >
                  <span class="cr">
                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                  </span>
                  <span class="text-inverse">Fitter</span>
                  <!-- <input type="checkbox" value="{{options.id}}" name="{{options.id}}" (change)="updateSelectedoptionss($event)" />{{options.components}} -->
                </label>
                </div>
              </ng-template>
              <div class="checkbox-fade fade-in-primary" *ngIf="editwelder == '1'; else uncheck1"  >
                  <label>
                    <!-- <input type="checkbox" name="comp" [(ngModel)]="option" [value]="options" (change)="change(options, $event.target.checked)"> -->
                    <!--[checked]="(facility.timeslotids && (-1 !== facility.timeslotids.indexOf(timeslot.id)) ? 'checked' : '')"-->
                    <input type="checkbox" name="welder" [value]="W" checked="true" (change)="editcheckValue('W',$event)" >
                    <span class="cr">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                    </span>
                    <span class="text-inverse">Welder</span>
                    <!-- <input type="checkbox" value="{{options.id}}" name="{{options.id}}" (change)="updateSelectedoptionss($event)" />{{options.components}} -->
                  </label>
                </div>
  
                <ng-template #uncheck1>
                    <div class="checkbox-fade fade-in-primary">
                  <label>
                    <!-- <input type="checkbox" name="comp" [(ngModel)]="option" [value]="options" (change)="change(options, $event.target.checked)"> -->
                    <!--[checked]="(facility.timeslotids && (-1 !== facility.timeslotids.indexOf(timeslot.id)) ? 'checked' : '')"-->
                    <input type="checkbox" name="welder" [value]="W"  (change)="editcheckValue('W',$event)" >
                    <span class="cr">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                    </span>
                    <span class="text-inverse">Welder</span>
                    <!-- <input type="checkbox" value="{{options.id}}" name="{{options.id}}" (change)="updateSelectedoptionss($event)" />{{options.components}} -->
                  </label>
                  </div>
                </ng-template>
              </div>
              </div>
              </div>
              <div class="col-md-6" *ngIf="fitter == '1' || editfitter== '1'">
                  <div class="form-group row" *ngIf="optionSelected == '2' || optionSelected == '1'">
                    <label class="col-sm-4 col-form-label">No. Of Fitters<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                  <!--    <input type="text" class="form-control" Placeholder="Enter Critical Points">-->
                      <input type="text" pattern="^\d[0-9]*$" class="form-control" Placeholder="Enter No. Of Fitters" name="nooffitters" [(ngModel)]='editsnagmasters.no_of_fitters' #nooffitter="ngModel" required appEmitfirstspace appDigitOnly (change)="totalhours($event.target.value,editfrm)">
                      <div *ngIf="nooffitter.invalid && (nooffitter.dirty || nooffitter.touched)" class="alert-danger">
                        <span *ngIf="nooffitter.errors?.required">
                            No. Of Fitters is Required
                        </span>
                        <span *ngIf="nooffitter.errors?.pattern">
                            No. Of Fitters is accepts only Numeric
                          </span>
                          <span *ngIf="nooffitter.errors?.pattern">
                              No. Of Fitters is accepts only Numeric
                            </span>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-6" *ngIf="welder == '1' || editwelder== '1'">
                <div class="form-group row" *ngIf="optionSelected == '2' || optionSelected == '1'">
                  <label class="col-sm-4 col-form-label">No. Of Welders<span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                <!--    <input type="text" class="form-control" Placeholder="Enter Critical Points">-->
                    <input type="text" pattern="^\d[0-9]*$" class="form-control" Placeholder="Enter No. Of Welders" name="noofwelders" [(ngModel)]='editsnagmasters.no_of_welders' #noofwelder="ngModel" appEmitfirstspace appDigitOnly (change)="totalhours($event.target.value,editfrm)">
                    <div *ngIf="noofwelder.invalid && (noofwelder.dirty || noofwelder.touched)" class="alert-danger">
                      <span *ngIf="noofwelder.errors?.required">
                          No. Of Welders is Required
                      </span>
                      <span *ngIf="noofwelder.errors?.pattern">
                          No. Of Welders  accepts only Numeric
                        </span>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-6">
                  <div class="form-group row" *ngIf="optionSelected == '2' || optionSelected == '1'">
                    <label class="col-sm-4 col-form-label">No Of Man hours (in mins)<span class="mandatoryfiles">*</span></label>
                    <div class="col-sm-8">
                      <input type="text" pattern="^\d[0-9]*$" class="form-control" Placeholder="Enter No. of Man hours" name="manhours" [(ngModel)]='editsnagmasters.no_of_manhours' #manhour="ngModel" required (change)="totalhours($event.target.value,editfrm)" appEmitfirstspace appDigitOnly>
                      <div *ngIf="manhour.invalid && (manhour.dirty || manhour.touched)" class="alert-danger">
                        <span *ngIf="manhour.errors?.required">
                            No Of Man hours is Required
                        </span>
                        <span *ngIf="manhour.errors?.pattern">
                            No. Of Man hours is accepts only Numeric
                          </span>
                      </div>
                    </div>
                  </div>
                </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row" *ngIf="optionSelected == '2' || optionSelected == '1'">
                  <label class="col-sm-4 col-form-label">Total Man hours(in mins)<span class="mandatoryfiles">*</span></label>
                  <div class="col-sm-8">
                    <input type="text" pattern="^\d[0-9]*$" class="form-control" Placeholder="Enter Total Man hours" name="totalmanhours" [(ngModel)]='editsnagmasters.total_manhours' #totalmanhour="ngModel" readonly appEmitfirstspace appDigitOnly >
                    <div *ngIf="totalmanhour.invalid && (totalmanhour.dirty || totalmanhour.touched)" class="alert-danger">
                      <span *ngIf="totalmanhour.errors?.required">
                         Total Man hours is Required
                      </span>
                      <span *ngIf="totalmanhour.errors?.pattern">
                         Total Man hours is accepts only Numeric
                        </span>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <hr>
        <div class="form-group row float-right">
          <div class="col-sm-6">
            <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset(editfrm)">Close</button>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
          </div>
        </div>
      </form>
    </div>
    <!-- <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
    </div> -->
  </ng-template>