<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="row">
            <div class="col-md-6">
                <h5>Torque Setting</h5>
              </div>
              <div class="col-md-6">
                <div class="text-right">
                  <!-- <button class="btn btn-primary btn-square" type="button" (click)="openbulkupload(bulkupload)">
                    <i class="icofont icofont-upload"></i> Bulk Upload
                  </button> -->
                  <button class="btn btn-info btn-square" type="button" (click)="open(addnew)">
                    <i class="icofont icofont-plus"></i> Add Torque Setting
                  </button>
                </div>
              </div>
        </div>
        
      </div>
      <div class="card-block">
        <table class="datatable table table-striped table-responsive table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Station Code</th>
              <th>Workstation name</th>
              <th>Work Description</th>
              <th>Torque (in Nm.)</th>
              <th>Tool Type</th>
              <th>Tool Size (A/F)</th>
              <th>Photo Reference</th>
              <th>Bolt size & Grade</th>
              <th>Cm Variance</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of torquedetails;let i=index">
              <td>{{i+1}}</td>
              <td>{{item.operation_code}}</td>
              <td>{{item.station_name}}</td>
              <td>{{item.work_description}}</td>
              <td>{{item.torque}}</td>
              <td>{{item.tool_type}}</td>
              <td>{{item.tool_size}}</td>
              <td class="text-left">
                <button class='btn btn-default btn-outline-default btn-icon' (click)='showimage(item.photo_reference);openbulkupload(image)'>
                  <i class='icofont icofont-image'></i>
                </button>
              </td>
              <td>{{item.bolt_size_grade}}</td>
              <td><span>{{item.sop_name}}</span></td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletetorquesetting(item.id)'>
                  <i class='icofont icofont-trash'></i>
                </button>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>
<ng-template #image let-c="close" let-d="dismiss">
  <div class="modal-body">
    <button type="button" class="close basic-close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
    <img src="{{processimage}}" class="form-control" height="400" width="300"  onerror="this.onerror=null;this.src='assets/images/signature1.png'">
  </div>
</ng-template>
<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file"
          class=" btn btn-default">
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close
    </button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>

<!-- Add New -->
<ng-template #addnew let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Torque Setting </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(addnew)">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="addtorquesetting(frm, addnew)">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Station Code</label>
            <div class="col-sm-8">
              <select class="form-control" name="code" ngModel #code="ngModel" required (ngModelChange)='getstationname($event)'>
                <option value="" selected disabled>Select Station Code</option>
                <option class='option' *ngFor='let option of operationcodes' [value]="option.id">{{option.operation_code}}</option>
              </select>
              <div *ngIf="code.invalid && (code.dirty || code.touched)" class="alert-danger">
                <span *ngIf="code.errors?.required">
                  Code is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Workstation name</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="workstation" [(ngModel)]='workstationnames'
                #workstationname="ngModel" readonly>
              <!-- <input type="text" class="form-control" Placeholder="Enter Type" name="type" ngModel #type="ngModel" required> -->
              <div *ngIf="workstationname.invalid && (workstationname.dirty || workstationname.touched)" class="alert-danger">
                <span *ngIf="workstationname.errors?.required">
                  Workstation name is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Work Description</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Description" name="desc" ngModel #desc="ngModel"
                required>
              <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                <span *ngIf="desc.errors?.required">
                  Work Description is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Torque (in Nm.)</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" pattern="^\d[0-9]*$" Placeholder="Enter Torque" name="torque"
                ngModel #torque="ngModel" required>
              <div *ngIf="torque.invalid && (torque.dirty || torque.touched)" class="alert-danger">
                <span *ngIf="torque.errors?.required">
                  Torque is Required
                </span>
                <span *ngIf="torque.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Tool Type</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Tool Type" name="tooltype" [(ngModel)]="drcodeinc"
                #tooltype="ngModel" required>
              <div *ngIf="tooltype.invalid && (tooltype.dirty || tooltype.touched)" class="alert-danger">
                <span *ngIf="tooltype.errors?.required">
                  Tool Type is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Tool Size (A/F)</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" pattern="^\d[0-9]*$" Placeholder="Enter Tool Size (A/F)" name="toolsize"
                ngModel #toolsize="ngModel" required>
              <div *ngIf="toolsize.invalid && (toolsize.dirty || toolsize.touched)" class="alert-danger">
                <span *ngIf="toolsize.errors?.required">
                  Tool Size (A/F) is Required
                </span>
                <span *ngIf="toolsize.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Photo Reference</label>
            <div class="col-sm-8">
              <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file"
                name="photoreference" ngModel #photoreference="ngModel" accept="image/x-png,image/gif,image/jpeg"
                required>
              <div *ngIf="photoreference.invalid && (photoreference.dirty || photoreference.touched)" class="alert-danger">
                <span *ngIf="photoreference.errors?.required">
                  Photo Reference is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Bolt size & Grade</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Bolt size & Grade" name="boltsize" ngModel
                #boltsize="ngModel" required>
              <div *ngIf="boltsize.invalid && (boltsize.dirty || boltsize.touched)" class="alert-danger">
                <span *ngIf="boltsize.errors?.required">
                  Bolt size & Grade is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">CM Variance</label>
            <div class="col-sm-8">
              <div class="checkbox-fade fade-in-primary" *ngFor="let options of component_options">
                <label>
                  <input type="checkbox" name="componentoptions" ngModel #componentoptions="ngModel"  [value]="options.components" id="{{options.components}}" (change)="checkValue(options.components,$event.target.checked)"
                    required>
                  <span class="cr">
                    <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                  </span>
                  <span class="text-inverse">{{options.components}}</span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset(addnew)">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
      <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
      <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
    </div> -->
</ng-template>
<!-- Edit -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Torque Setting</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(edit)">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="editform" #editfrm="ngForm" (ngSubmit)="edittorquesetting(editfrm,edit)">
      <div class="row" style="display: none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter id" name="id" [(ngModel)]="edittorquesettings.id"
                #id="ngModel" required>
              <div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert-danger">
                <span *ngIf="id.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Station Code</label>
            <div class="col-sm-8">
              <select class="form-control" name="code" [(ngModel)]="edittorquesettings.station_code" #code="ngModel"
                 (ngModelChange)='getstationname($event)'>
                <option value="" selected disabled>Select Station Code</option>
                <option class='option' *ngFor='let option of operationcodes' [value]="option.id">{{option.operation_code}}</option>
              </select>
              <div *ngIf="code.invalid && (code.dirty || code.touched)" class="alert-danger">
                <span *ngIf="code.errors?.required">
                  Code is Required
                </span>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Workstation name</label>
            <div class="col-sm-8">

              <input type="text" class="form-control" name="workstation" [(ngModel)]="edittorquesettings.station_name"
                #workstationname="ngModel" readonly>

              <!-- <input type="text" class="form-control" Placeholder="Enter Type" name="type" ngModel #type="ngModel" required> -->
              <div *ngIf="workstationname.invalid && (workstationname.dirty || workstationname.touched)" class="alert-danger">
                <span *ngIf="workstationname.errors?.required">
                  Workstation name is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Work Description</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Description" name="desc" [(ngModel)]="edittorquesettings.work_description"
                #desc="ngModel" >
              <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                <span *ngIf="desc.errors?.required">
                  Work Description is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Torque (in Nm.)</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" pattern="^\d[0-9]*$" Placeholder="Enter Torque" name="torque"
                [(ngModel)]="edittorquesettings.torque" #torque="ngModel" >
              <div *ngIf="torque.invalid && (torque.dirty || torque.touched)" class="alert-danger">
                <span *ngIf="torque.errors?.required">
                  Torque is Required
                </span>
                <span *ngIf="torque.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Tool Type</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Tool Type" name="tooltype" [(ngModel)]="edittorquesettings.tool_type"
                #tooltype="ngModel" >
              <div *ngIf="tooltype.invalid && (tooltype.dirty || tooltype.touched)" class="alert-danger">
                <span *ngIf="tooltype.errors?.required">
                  Tool Type is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Tool Size (A/F)</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" pattern="^\d[0-9]*$" Placeholder="Enter Tool Size (A/F)" name="toolsize"
                [(ngModel)]="edittorquesettings.tool_size" #toolsize="ngModel" >
              <div *ngIf="toolsize.invalid && (toolsize.dirty || toolsize.touched)" class="alert-danger">
                <span *ngIf="toolsize.errors?.required">
                  Tool Size (A/F) is Required
                </span>
                <span *ngIf="toolsize.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Photo Reference</label>
            <div class="col-sm-8">
              <input #file type="file" (click)="file.value = null" (change)="fileUploads($event)" Placeholder="Upload file"
                name="photoref" [(ngModel)]="edittorquesettings.photo_reference" #photoref="ngModel" accept="image/x-png,image/gif,image/jpeg">
              <input type="text" class="form-control" Placeholder="Enter " name="photorefer" [(ngModel)]="edittorquesettings.photo_reference"
                #photorefer="ngModel"  style="display:none">
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Bolt size & Grade</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Bolt size & Grade" name="boltsize" [(ngModel)]="edittorquesettings.bolt_size_grade"
                #boltsize="ngModel" >
              <div *ngIf="boltsize.invalid && (boltsize.dirty || boltsize.touched)" class="alert-danger">
                <span *ngIf="boltsize.errors?.required">
                  Bolt size & Grade is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">CM Variance</label>
              <div class="col-sm-8">
                <div class="checkbox-fade fade-in-primary" *ngFor="let options of component_options;let i = index">
                  <label>
                    <input type="checkbox" name="componentoptions" [(ngModel)]=options.id #componentoptions="ngModel"  [value]="options.components" id="{{options.components}}" (change)="checkValue(options.components,$event.target.checked)">
                    <span class="cr">
                      <i class="cr-icon icofont icofont-ui-check txt-primary"></i>
                    </span>
                    <span class="text-inverse">{{options.components}}</span>
                  </label>
                </div>
              </div>
            </div>
          </div>
        </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset(addnew)">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>