<div id="pcoded" (window:resize)="onResize($event)" class="pcoded iscollapsed" theme-layout="vertical" vertical-placement="left" vertical-layout="wide" [attr.pcoded-device-type]="deviceType" [attr.vertical-nav-type]="verticalNavType" [attr.vertical-effect]="verticalEffect" vnavigation-view="view1">
  <div class="pcoded-overlay-box"></div>
  <div class="pcoded-container navbar-wrapper">
    <nav class="navbar header-navbar pcoded-header" header-theme="theme4">
      <div class="navbar-wrapper">
        <div class="navbar-logo" navbar-theme="theme4">
          <a [routerLink]="['/']">
            <!-- <img class="img-fluid" src="assets/images/logo.png" alt="Theme-Logo" /> -->
            <img class="img-fluid" src="assets/images/auth/logo.png" alt="Theme-Logo" />
          </a>
          <a (click)="onMobileMenu()" class="mobile-options">
            <i class="ti-more"></i>
          </a>
        </div>

        <div class="navbar-container">
          <div>
            <ul class="nav-left">
              <li>
                <a href="javascript:;" appToggleFullscreen>
                  <i class="ti-fullscreen"></i>
                </a>
              </li>
              <li class="mega-menu-top">
                <a href="javascript:;">
                  Mega
                  <i class="ti-angle-down"></i>
                </a>
                <ul class="show-notification row">
                  <li class="col-sm-3">
                    <h6 class="mega-menu-title">Popular Links</h6>
                    <ul class="mega-menu-links">
                      <li><a [routerLink]="['/forms/advance-elements']">Form Elements</a></li>
                      <li><a [routerLink]="['/basic/button']">Buttons</a></li>
                      <li><a [routerLink]="['/map/google']">Maps</a></li>
                      <li><a [routerLink]="['/user/card']">Contact Cards</a></li>
                      <li><a [routerLink]="['/user/profile']">User Information</a></li>
                      <li><a [routerLink]="['/authentication/lock-screen']" target="_blank">Lock Screen</a></li>
                    </ul>
                  </li>
                  <li class="col-sm-3">
                    <h6 class="mega-menu-title">Mailbox</h6>
                    <ul class="mega-mailbox">
                      <li>
                        <a href="javascript:;" class="media">
                          <div class="media-left">
                            <i class="ti-folder"></i>
                          </div>
                          <div class="media-body">
                            <h5>Data Backup</h5>
                            <small class="text-muted">Store your data</small>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:;" class="media">
                          <div class="media-left">
                            <i class="ti-headphone-alt"></i>
                          </div>
                          <div class="media-body">
                            <h5>Support</h5>
                            <small class="text-muted">24-hour support</small>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:;" class="media">
                          <div class="media-left">
                            <i class="ti-dropbox"></i>
                          </div>
                          <div class="media-body">
                            <h5>Drop-box</h5>
                            <small class="text-muted">Store large amount of data in one-box only
                            </small>
                          </div>
                        </a>
                      </li>
                      <li>
                        <a href="javascript:;" class="media">
                          <div class="media-left">
                            <i class="ti-location-pin"></i>
                          </div>
                          <div class="media-body">
                            <h5>Location</h5>
                            <small class="text-muted">Find Your Location with ease of use</small>
                          </div>
                        </a>
                      </li>
                    </ul>
                  </li>
                  <li class="col-sm-3">
                    <h6 class="mega-menu-title">Gallery</h6>
                    <div class="row m-b-20">
                      <div class="col-sm-4"><img class="img-fluid img-thumbnail" src="assets/images/mega-menu/01.jpg" alt="Gallery-1">
                      </div>
                      <div class="col-sm-4"><img class="img-fluid img-thumbnail" src="assets/images/mega-menu/02.jpg" alt="Gallery-2">
                      </div>
                      <div class="col-sm-4"><img class="img-fluid img-thumbnail" src="assets/images/mega-menu/03.jpg" alt="Gallery-3">
                      </div>
                    </div>
                    <div class="row m-b-20">
                      <div class="col-sm-4"><img class="img-fluid img-thumbnail" src="assets/images/mega-menu/04.jpg" alt="Gallery-4">
                      </div>
                      <div class="col-sm-4"><img class="img-fluid img-thumbnail" src="assets/images/mega-menu/05.jpg" alt="Gallery-5">
                      </div>
                      <div class="col-sm-4"><img class="img-fluid img-thumbnail" src="assets/images/mega-menu/06.jpg" alt="Gallery-6">
                      </div>
                    </div>
                    <button class="btn btn-primary btn-sm btn-block">Browse Gallery</button>
                  </li>
                  <li class="col-sm-3">
                    <h6 class="mega-menu-title">Contact Us</h6>
                    <div class="mega-menu-contact">
                      <div class="form-group row">
                        <label for="example-text-input" class="col-3 col-form-label">Name</label>
                        <div class="col-9">
                          <input class="form-control" type="text" placeholder="Artisanal kale" id="example-text-input">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="example-search-input-email" class="col-3 col-form-label">Email</label>
                        <div class="col-9">
                          <input class="form-control" type="email" placeholder="Enter your E-mail Id" id="example-search-input-email">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="example-search-input-content" class="col-3 col-form-label">Contact</label>
                        <div class="col-9">
                          <input class="form-control" type="number" placeholder="+91-9898989898" id="example-search-input-content">
                        </div>
                      </div>
                      <div class="form-group row">
                        <label for="exampleTextarea" class="col-3 col-form-label">Message</label>
                        <div class="col-9">
                          <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
                        </div>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
            <ul [@mobileMenuTop]="isCollapsedMobile" class="nav-right" [ngClass]="isCollapsedMobile">
              <li class="header-notification lng-dropdown">
                <a href="javascript:;" id="dropdown-active-item">
                  <i class="flag-icon flag-icon-gb m-r-5"></i> English
                </a>
                <ul class="show-notification">
                  <li>
                    <a href="javascript:;" data-lng="en">
                      <i class="flag-icon flag-icon-gb m-r-5"></i> English
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;" data-lng="es">
                      <i class="flag-icon flag-icon-es m-r-5"></i> Spanish
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;" data-lng="pt">
                      <i class="flag-icon flag-icon-pt m-r-5"></i> Portuguese
                    </a>
                  </li>
                  <li>
                    <a href="javascript:;" data-lng="fr">
                      <i class="flag-icon flag-icon-fr m-r-5"></i> French
                    </a>
                  </li>
                </ul>
              </li>
              <li class="header-notification">
                <a href="javascript:;">
                  <i class="ti-bell"></i>
                  <span class="badge">5</span>
                </a>
                <ul class="show-notification">
                  <li>
                    <h6>Notifications</h6>
                    <label class="label label-danger">New</label>
                  </li>
                  <li>
                    <div class="media">
                      <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="notification-user">John Doe</h5>
                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <span class="notification-time">30 minutes ago</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="notification-user">Joseph William</h5>
                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <span class="notification-time">30 minutes ago</span>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="media">
                      <img class="d-flex align-self-center" src="assets/images/user.png" alt="Generic placeholder image">
                      <div class="media-body">
                        <h5 class="notification-user">Sara Soudein</h5>
                        <p class="notification-msg">Lorem ipsum dolor sit amet, consectetuer elit.</p>
                        <span class="notification-time">30 minutes ago</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
              <li class="header-notification">
                <a href="javascript:;" (click)="toggleChat()" class="displayChatbox">
                  <i class="ti-comments"></i>
                  <span class="badge">9</span>
                </a>
              </li>
              <li class="user-profile header-notification">
                <a [routerLink]="['/']">
                  <img src="assets/images/user.png" alt="User-Profile-Image">
                  <span>John Doe</span>
                  <i class="ti-angle-down"></i>
                </a>
                <ul class="show-notification profile-notification">
                  <li>
                    <a [routerLink]="['/crm-contact']">
                      <i class="ti-settings"></i> Settings
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/user/profile']">
                      <i class="ti-user"></i> Profile
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/advance/notifications']">
                      <i class="ti-email"></i> My Messages
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/authentication/lock-screen']" target="_blank">
                      <i class="ti-lock"></i> Lock Screen
                    </a>
                  </li>
                  <li>
                    <a [routerLink]="['/']">
                      <i class="ti-layout-sidebar-left"></i> Logout
                    </a>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <!-- rightbar chat start -->
    <div [@slideInOut]="chatToggle" id="sidebar" class="users p-chat-user">
      <div class="had-container">
        <div class="card card_main p-fixed users-main">
          <div class="user-box">
            <div class="card-body">
              <div class="right-icon-control">
                <input type="text" class="form-control search-text" placeholder="Search Friend" id="search-friends" #searchFriends (keyup)="searchFriendList($event)">
                <div class="form-icon">
                  <i class="icofont icofont-search"></i>
                </div>
              </div>

            </div>
            <div slimScroll class="main-friend-list scroll-window" width="100%" height="100%" size="7px" color="rgb(27, 139, 249)" opacity="0.4">
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="1" data-status="online" data-username="Josephin Doe" data-toggle="tooltip" data-placement="left" title="Josephin Doe">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/avatar-1.png" alt="Generic placeholder image">
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Josephin Doe</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="2" data-status="online" data-username="Lary Doe" data-toggle="tooltip" data-placement="left" title="Lary Doe">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/task/task-u1.jpg" alt="Generic placeholder image">
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Lary Doe</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="3" data-status="online" data-username="Alice" data-toggle="tooltip" data-placement="left" title="Alice">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/avatar-2.png" alt="Generic placeholder image">
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Alice</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="4" data-status="online" data-username="Alia" data-toggle="tooltip" data-placement="left" title="Alia">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/task/task-u2.jpg" alt="Generic placeholder image">
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Alia</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="5" data-status="online" data-username="Suzen" data-toggle="tooltip" data-placement="left" title="Suzen">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/task/task-u3.jpg" alt="Generic placeholder image">
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Suzen</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="6" data-status="offline" data-username="Michael Scofield" data-toggle="tooltip" data-placement="left" title="Michael Scofield">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                  <div class="live-status bg-danger"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Michael Scofield</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="7" data-status="online" data-username="Irina Shayk" data-toggle="tooltip" data-placement="left" title="Irina Shayk">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/avatar-4.png" alt="Generic placeholder image">
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Irina Shayk</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="8" data-status="offline" data-username="Sara Tancredi" data-toggle="tooltip" data-placement="left" title="Sara Tancredi">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/avatar-5.png" alt="Generic placeholder image">
                  <div class="live-status bg-danger"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Sara Tancredi</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="9" data-status="online" data-username="Samon" data-toggle="tooltip" data-placement="left" title="Samon">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/avatar-1.png" alt="Generic placeholder image">
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Samon</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="10" data-status="online" data-username="Daizy Mendize" data-toggle="tooltip" data-placement="left" title="Daizy Mendize">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/task/task-u3.jpg" alt="Generic placeholder image">
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Daizy Mendize</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="11" data-status="offline" data-username="Loren Scofield" data-toggle="tooltip" data-placement="left" title="Loren Scofield">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                  <div class="live-status bg-danger"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Loren Scofield</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="12" data-status="online" data-username="Shayk" data-toggle="tooltip" data-placement="left" title="Shayk">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/avatar-4.png" alt="Generic placeholder image">
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Shayk</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="13" data-status="offline" data-username="Sara" data-toggle="tooltip" data-placement="left" title="Sara">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/task/task-u3.jpg" alt="Generic placeholder image">
                  <div class="live-status bg-danger"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Sara</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="14" data-status="online" data-username="Doe" data-toggle="tooltip" data-placement="left" title="Doe">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/avatar-1.png" alt="Generic placeholder image">
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Doe</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="15" data-status="online" data-username="Lary" data-toggle="tooltip" data-placement="left" title="Lary">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/task/task-u1.jpg" alt="Generic placeholder image">
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Lary</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="16" data-status="online" data-username="Josephin Doe" data-toggle="tooltip" data-placement="left" title="Josephin Doe">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/avatar-1.png" alt="Generic placeholder image">
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Roni Sommerfield</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="17" data-status="online" data-username="Lary Doe" data-toggle="tooltip" data-placement="left" title="Lary Doe">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/task/task-u1.jpg" alt="Generic placeholder image">
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Mickey Amavisca</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="18" data-status="online" data-username="Alice" data-toggle="tooltip" data-placement="left" title="Alice">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/avatar-2.png" alt="Generic placeholder image">
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Dorethea Hennigan</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="19" data-status="online" data-username="Alia" data-toggle="tooltip" data-placement="left" title="Alia">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/task/task-u2.jpg" alt="Generic placeholder image">
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Marisha Haughey</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="20" data-status="online" data-username="Suzen" data-toggle="tooltip" data-placement="left" title="Suzen">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/task/task-u3.jpg" alt="Generic placeholder image">
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Justin Czajkowski</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="21" data-status="offline" data-username="Michael Scofield" data-toggle="tooltip" data-placement="left" title="Michael Scofield">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                  <div class="live-status bg-danger"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Reyes Hodges</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="22" data-status="online" data-username="Irina Shayk" data-toggle="tooltip" data-placement="left" title="Irina Shayk">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/avatar-4.png" alt="Generic placeholder image">
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Vicky Hadley</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="23" data-status="offline" data-username="Sara Tancredi" data-toggle="tooltip" data-placement="left" title="Sara Tancredi">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/avatar-5.png" alt="Generic placeholder image">
                  <div class="live-status bg-danger"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Lezlie Baumert</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="24" data-status="online" data-username="Samon" data-toggle="tooltip" data-placement="left" title="Samon">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/avatar-1.png" alt="Generic placeholder image">
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Otha Vanorden</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="25" data-status="online" data-username="Daizy Mendize" data-toggle="tooltip" data-placement="left" title="Daizy Mendize">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/task/task-u3.jpg" alt="Generic placeholder image">
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Glayds Inabinet</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="26" data-status="offline" data-username="Loren Scofield" data-toggle="tooltip" data-placement="left" title="Loren Scofield">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/avatar-3.png" alt="Generic placeholder image">
                  <div class="live-status bg-danger"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Hang Owsley</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="27" data-status="online" data-username="Shayk" data-toggle="tooltip" data-placement="left" title="Shayk">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/avatar-4.png" alt="Generic placeholder image">
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Carlotta Buttner</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="28" data-status="offline" data-username="Sara" data-toggle="tooltip" data-placement="left" title="Sara">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/task/task-u3.jpg" alt="Generic placeholder image">
                  <div class="live-status bg-danger"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Randa Vanloan</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="29" data-status="online" data-username="Doe" data-toggle="tooltip" data-placement="left" title="Doe">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/avatar-1.png" alt="Generic placeholder image">
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Elana Fulk</div>
                </div>
              </div>
              <div (click)="toggleChatInner()" class="media userlist-box" data-id="30" data-status="online" data-username="Lary" data-toggle="tooltip" data-placement="left" title="Lary">
                <a class="media-left" href="javascript:;">
                  <img class="media-object img-circle" src="assets/images/task/task-u1.jpg" alt="Generic placeholder image">
                  <div class="live-status bg-success"></div>
                </a>
                <div class="media-body">
                  <div class="f-13 chat-header">Amos Spearman</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- rightbar inner chat start-->
    <div [@slideOnOff]="chatInnerToggle" class="card card_main showChat_inner">
      <div class="media chat-inner-header">
        <a class="back_chatBox" (click)="toggleChatInner()">
          <i class="icofont icofont-rounded-left"></i> Josephin Doe
        </a>
      </div>
      <div class="media chat-messages">
        <a class="media-left photo-table" href="javascript:;">
          <img class="media-object img-circle m-t-5" src="assets/images/avatar-1.png" alt="Generic placeholder image">
        </a>
        <div class="media-body chat-menu-content">
          <div class="">
            <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
            <p class="chat-time">8:20 a.m.</p>
          </div>
        </div>
      </div>
      <div class="media chat-messages">
        <div class="media-body chat-menu-reply">
          <div class="">
            <p class="chat-cont">I'm just looking around. Will you tell me something about yourself?</p>
            <p class="chat-time">8:20 a.m.</p>
          </div>
        </div>
        <div class="media-right photo-table">
          <a href="javascript:;">
            <img class="media-object img-circle m-t-5" src="assets/images/avatar-2.png" alt="Generic placeholder image">
          </a>
        </div>
      </div>
      <div class="chat-reply-box p-b-20">
        <div class="right-icon-control">
          <input type="text" class="form-control search-text" placeholder="Share Your Thoughts">
          <div class="form-icon">
            <i class="icofont icofont-paper-plane"></i>
          </div>
        </div>
      </div>
    </div>
    <!-- rightbar inner chat end-->
    <!-- rightbar chat end-->
    <div class="pcoded-main-container">
      <div class="pcoded-wrapper">
        <div class="page-wrapper">
          <div class="page-body">
            <section class="login header p-fixed d-flex text-center bg-primary common-img-bg">
              <!-- starts -->
              <div class="auth-fluid">
                <div class="row">
                  <div class="col-sm-12">
                    <!-- Authentication card start -->
                    <div class="login-card card-body auth-body">
                      <form class="md-float-material">
                        <div class="text-center">
                          <img src="assets/images/auth/logo.png" alt="logo.png">
                        </div>
                        <div class="auth-box">
                          <div class="row m-b-20">
                            <div class="col-md-12">
                              <h3 class="text-center txt-primary">Sign up. It is fast and easy.</h3>
                            </div>
                          </div>
                          <p class="text-inverse b-b-default text-left p-b-5">Sign in easily with your social account:</p>
                          <div class="row m-b-20">
                            <div class="col-md-6">
                              <button class="btn btn-facebook m-b-0"><i class="icofont icofont-social-facebook"></i>Sign in with facebook</button>
                            </div>
                            <div class="col-md-6">
                              <button class="btn btn-twitter m-b-0"><i class="icofont icofont-social-twitter"></i>Sign in with twitter</button>
                            </div>
                          </div>
                          <p class="text-inverse b-b-default text-left p-b-5">Sign in with your regular account</p>
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Choose Username">
                            <span class="md-line"></span>
                          </div>
                          <div class="input-group">
                            <input type="text" class="form-control" placeholder="Your Email Address">
                            <span class="md-line"></span>
                          </div>
                          <div class="input-group">
                            <input type="password" class="form-control" placeholder="Choose Password">
                            <span class="md-line"></span>
                          </div>
                          <div class="input-group">
                            <input type="password" class="form-control" placeholder="Confirm Password">
                            <span class="md-line"></span>
                          </div>
                          <div class="row m-t-25 text-left">
                            <div class="col-md-12">
                              <div class="checkbox-fade fade-in-primary">
                                <label>
                                  <input type="checkbox" value="">
                                  <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                  <span class="text-inverse">I read and accept <a href="javascript:;">Terms &amp; Conditions.</a></span>
                                </label>
                              </div>
                            </div>
                            <div class="col-md-12">
                              <div class="checkbox-fade fade-in-primary">
                                <label>
                                  <input type="checkbox" value="">
                                  <span class="cr"><i class="cr-icon icofont icofont-ui-check txt-primary"></i></span>
                                  <span class="text-inverse">Send me the <a href="javascript:;">Newsletter</a> weekly.</span>
                                </label>
                              </div>
                            </div>
                          </div>
                          <div class="row m-t-30">
                            <div class="col-md-12">
                              <button type="button" class="btn btn-primary btn-md btn-block waves-effect text-center m-b-20">Sign up now.</button>
                            </div>
                          </div>
                          <hr/>
                          <div class="row">
                            <div class="col-md-10">
                              <p class="text-inverse text-left m-b-0">Thank you and enjoy our website.</p>
                              <p class="text-inverse text-left"><b>Your Autentification Team</b></p>
                            </div>
                            <div class="col-md-2">
                              <img src="assets/images/auth/Logo-small-bottom.png" alt="small-logo.png">
                            </div>
                          </div>
                        </div>
                      </form>
                      <!-- end of form -->
                    </div>
                    <!-- Authentication card end -->
                  </div>
                  <!-- end of col-sm-12 -->
                </div>
                <!-- end of row -->
              </div>
              <!-- end of -->
            </section>
            <div class="footer bg-inverse">
              <p class="text-center">Copyright &copy; 2017 MASH ABLE ADMIN , All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>