<div class="row">
    <div class="col-sm-12">
      <div class="card card-border-primary">
        <div class="card-header container">
          <div class="row">
              <div class="col-md-6">
                  <h5>Mixer Assembly</h5>
                </div>        
                <div class="col-md-6">
                  <div class="text-right">
                    <button class="btn btn-primary btn-square" type="button" (click)="openbulkupload(bulkupload)">
                      <i class="icofont icofont-upload"></i> Bulk Upload
                    </button>
                    <button class="btn btn-info btn-square" type="button" (click)="open(addnew)">
                      <i class="icofont icofont-plus"></i> Add Mixer Assembly
                    </button>
                  </div>        
                </div>
          </div>
          
        </div>
        <div class="card-block" >
          <table class="datatable table table-striped table-bordered table-responsive row-border hover">
            <thead>
              <tr>
                <th>
                  <div align="Center">
          
                    Mixer Part Number</div>
                </th>
                <th>
                  <div align="Center">
                    Concrete Mixer Description</div>
                </th>
                <th>
                  <div align="Center">
          
                    Mixer Model</div>
                </th>
                <th colspan='2'>
                  <div align="Center">
          
                    Engine</div>
                </th>
                <th colspan='2'>
                  <div align="Center">
          
                    Gear Box</div>
                </th>
                <th colspan='2'>
                  <div align="Center">
          
                    Hyd Pump</div>
                </th>
                <th colspan='2'>
                  <div align="Center">
          
                    Hyd Motor</div>
                </th>
                <th>
                  <div align="Center">
          
                    Water Pump</div>
                </th>
                <th colspan="2">
                  <div align="Center">
                  
                    Drum</div>
                </th>
                <th>
                  Hydraulic Combination
                </th>
                <th>
                  Chassis Suitable For
                </th>
                <th>
                  Chassis Width
                </th>
                <th>
                  Remarks
                </th>
                
          
                <th colspan="14">
                  <div align="Center">
                    Channel Assembly Stage</div>
                </th>
                <th>
                  Pump A to Motor A 
                </th>
                <th>
                  Pump B to Motor B
                </th>
                <th>
                  Cooler To Motor
                </th>
                <th>
                  Cooler To Pump
                </th>
                <th>
                  Suction Hose
                </th>
                <th>
                  Remote Cable
                </th>
                <th>
                  Stop Cable
                </th>
                <th>
                  Stopper Plate
                </th>
                <th>
                  Others
                </th>
                
                <th>
                  Action
                </th>                          
              </tr>
              <tr>
                <th>
          
                </th>
                <th>
          
                </th>
                <th>
                </th>
                <th>
                  Make
                </th>
                <th>
                  Model
                </th>
                <th>
                  Make </th>
                <th>
                  Model </th>
                <th>
                  Make
                </th>
                <th>
                  Model
                </th>
                <th>
                  Make
                </th>
                <th>
                  Model
                </th>
                <th>
                  Make
                </th>
                <th>
                  Model
                </th>
                <th>
                  Cum3
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th>
                  Channel frame
                </th>
                <th>
                  Engine Frame
                </th>
                <th>
                  Front Pedestal
                </th>
                <th>
                  Rear Pedestal
                </th>
                <th>
                  Channel frame Width - Height
                </th>
                <th>
                  Counter Holder
                </th>
                <th>
                  Counter Holder Square length @FP side and Base Frame
                </th>
                <th>
                  Counter Holder sq bar length @RP
                </th>
                <th>
                  Channel back Mark
                </th>
                <th>
                  RP Rear leg to Fp Rear leg
                </th>
                <th>
                  Fp to Engine frame X/Y
                </th>
                <th>
                  Water Pipe Line Distance
                </th>
                <th>
                  Electrical Conduit (Rooting Pipe) Qty 
                </th>
                <th>
                  Electrical Conduit (Rooting Pipe) Position
                </th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of employees">
                <td>{{item.part_no}}</td>
                <td>{{item.mixer_description}}</td>
                <td>{{item.mixer_model}}</td>
                <td>{{item.engine_make}}</td>
                <td>{{item.engine_model}}</td>
                <td>{{item.gearbox_make}}</td>
                <td>{{item.gearbox_model}}</td>
                <td>{{item.hydpump_make}}</td>
                <td>{{item.hydpump_model }}</td>
                <td>{{item.hydmotor_make }}</td>
                <td>{{item.hydmotor_model }}</td>
                <td>{{item.waterpump_make }}</td>
                <td>{{item.waterpump_model }}</td>
                <td>{{item.waterpump_cum3 }}</td>
                <td>{{item.waterpump_hydcombution }}</td>
                <td>{{item.waterpump_chassis }}</td>
                <td>{{item.waterpump_chassiswidth }}</td>
                <td>{{item.waterpump_remarks }}</td>
                <td>{{item.channelassembly_channelframe }}</td>
                <td>{{item.channelassembly_engineframe }}</td>
                <td>{{item.channelassembly_frontpedestal }}</td>
                <td>{{item.channelassembly_rearpedestal }}</td>
                <td>{{item.channelassembly_widthheight }}</td>
                <td>{{item.channelassembly_counterholder }}</td>
                <td>{{item.channelassembly_counterholdersqlength }}</td>
                <td>{{item.channelassembly_counterholdersqbarlength }}</td>
                <td>{{item.channelassembly_channelbackmark }}</td>
                <td>{{item.channelassembly_rpreartofprear }}</td>
                <td>{{item.channelassembly_Fptoengineframe }}</td>
                <td>{{item.channelassembly_waterpipelinedistance }}</td>
                <td>{{item.channelassembly_electricalconduitqty }}</td>
                <td>{{item.channelassembly_electricalconduitposition }}</td>
                <td>{{item.channelassembly_pumpAtomotorA }}</td>
                <td>{{item.channelassembly_pumpBtomotorB }}</td>
                <td>{{item.channelassembly_coolertomotor }}</td>
                <td>{{item.channelassembly_coolertopump }}</td>
                <td>{{item.channelassembly_suctionhose }}</td>
                <td>{{item.channelassembly_remotecable }}</td>
                <td>{{item.channelassembly_stopcable }}</td>
                <td>{{item.channelassembly_stopperplate }}</td>
                <td>{{item.others }}</td>
          
                <td>
                  <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                    <i class='icofont icofont-fountain-pen'></i>
                  </button>
                  <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletemixerassembly(item.id)'>
                    <i class='icofont icofont-trash'></i>
                  </button>
                </td>
              </tr>
          
            </tbody>
          </table>
        </div>
        <!-- end of card-footer -->
      </div>
    </div>
  </div>

<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class=" btn btn-default">
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close
    </button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>

<!-- Add Bulk Upload -->

<!-- Add New -->

<ng-template #addnew let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Mixer Assembly</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="addmixerassembly(frm,addnew)">
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Part No.</label>
    
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Part No" name="partno" pattern="^\d[0-9]*$" ngModel #partno="ngModel"
                required>
              <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                <span *ngIf="partno.errors?.required">
                  Part No. Required
                </span>
                <span *ngIf="partno.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Concrete Mixer Description</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Concrete Mixer Description" name="desc" ngModel #desc="ngModel"
                required>
              <div *ngIf="desc.invalid && (desc.dirty || desc.touched)" class="alert-danger">
                <span *ngIf="desc.errors?.required">
                  Mixer Description Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Mixer Model</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Mixer Model" name="mixermodel" ngModel #mixermodel="ngModel" required>
    
              <div *ngIf="mixermodel.invalid && (mixermodel.dirty || mixermodel.touched)" class="alert-danger">
                <span *ngIf="mixermodel.errors?.required">
                  Mixer Model Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h5 class="small">Engine</h5>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Make</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Make" name="enginemake" ngModel #enginemake="ngModel" required>
    
              <div *ngIf="enginemake.invalid && (enginemake.dirty || enginemake.touched)" class="alert-danger">
                <span *ngIf="enginemake.errors?.required">
                  Engine Make Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Model</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="EnterEngine Model" name="enginemodel" ngModel #enginemodel="ngModel"
                required>
    
              <div *ngIf="enginemodel.invalid && (enginemodel.dirty || enginemodel.touched)" class="alert-danger">
                <span *ngIf="enginemodel.errors?.required">
                  Engine Model Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h5 class="small">Gear Box</h5>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Make</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Gear Box Make" name="gearmake" ngModel #gearmake="ngModel" required>
    
              <div *ngIf="gearmake.invalid && (gearmake.dirty || gearmake.touched)" class="alert-danger">
                <span *ngIf="gearmake.errors?.required">
                  GearBox Make Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Model</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Gear Box Model" name="gearmodel" ngModel #gearmodel="ngModel"
                required>
    
              <div *ngIf="gearmodel.invalid && (gearmodel.dirty || gearmodel.touched)" class="alert-danger">
                <span *ngIf="gearmodel.errors?.required">
                  GearBox Model Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h5 class="small">Hyd. Pump</h5>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Make</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Hyd. Pump Make" name="pumpmake" ngModel #pumpmake="ngModel" required>
    
              <div *ngIf="pumpmake.invalid && (pumpmake.dirty || pumpmake.touched)" class="alert-danger">
                <span *ngIf="pumpmake.errors?.required">
                  Hyd.pump Make Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Model</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Hyd. Pump Model" name="pumpmodel" ngModel #pumpmodel="ngModel"
                required>
    
              <div *ngIf="pumpmodel.invalid && (pumpmodel.dirty || pumpmodel.touched)" class="alert-danger">
                <span *ngIf="pumpmodel.errors?.required">
                  Hyd.pump Model Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h5 class="small">Hyd. Motor</h5>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Make</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Hyd. Motor Make" name="motormake" ngModel #motormake="ngModel"
                required>
    
              <div *ngIf="motormake.invalid && (motormake.dirty || motormake.touched)" class="alert-danger">
                <span *ngIf="motormake.errors?.required">
                  Hyd. Motor Make Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Model</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Hyd. Motor Model" name="motormodel" ngModel #motormodel="ngModel"
                required>
    
              <div *ngIf="motormodel.invalid && (motormodel.dirty || motormodel.touched)" class="alert-danger">
                <span *ngIf="motormodel.errors?.required">
                  Hyd. Motor Model Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Water Pump Make</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Water Pump Make" name="waterpumpmake" ngModel #waterpumpmake="ngModel"
                required>
    
              <div *ngIf="waterpumpmake.invalid && (waterpumpmake.dirty || waterpumpmake.touched)" class="alert-danger">
                <span *ngIf="waterpumpmake.errors?.required">
                  Water Pump Make Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Model</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Water Pump Model" name="waterpumpmodel" ngModel #waterpumpmodel="ngModel"
                required>
    
              <div *ngIf="waterpumpmodel.invalid && (waterpumpmodel.dirty || waterpumpmodel.touched)" class="alert-danger">
                <span *ngIf="waterpumpmodel.errors?.required">
                  Water Pump Model Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Cum3</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter cum3" name="cum3" ngModel #cum3="ngModel" required>
    
              <div *ngIf="cum3.invalid && (cum3.dirty || cum3.touched)" class="alert-danger">
                <span *ngIf="cum3.errors?.required">
                  Cum3 Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Hydraulic Combination</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Hydraulic Combination" name="hydcom" ngModel #hydcom="ngModel"
                required>
    
              <div *ngIf="hydcom.invalid && (hydcom.dirty || hydcom.touched)" class="alert-danger">
                <span *ngIf="hydcom.errors?.required">
                  Hydraulic Combination Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Chassis Suitable for</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Chassis Suitable for" name="chassis" ngModel #chassis="ngModel"
                required>
    
              <div *ngIf="chassis.invalid && (chassis.dirty || chassis.touched)" class="alert-danger">
                <span *ngIf="chassis.errors?.required">
                  Chassis Suitable for Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Chassis width</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Chassis Width" name="chassiswidth" ngModel #chassiswidth="ngModel"
                required>
    
              <div *ngIf="chassiswidth.invalid && (chassiswidth.dirty || chassiswidth.touched)" class="alert-danger">
                <span *ngIf="chassiswidth.errors?.required">
                  Chassis Width Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Remarks</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Remarks" name="remarks" ngModel #remarks="ngModel" required>
    
              <div *ngIf="remarks.invalid && (remarks.dirty || remarks.touched)" class="alert-danger">
                <span *ngIf="remarks.errors?.required">
                  Remarks Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h5 class="small">Channel assembly stage</h5>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Channel frame</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Channel Frame" name="channelframe" ngModel #channelframe="ngModel"
                required>
    
              <div *ngIf="channelframe.invalid && (channelframe.dirty || channelframe.touched)" class="alert-danger">
                <span *ngIf="channelframe.errors?.required">
                  channel Frame Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Engine Frame</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Engine Frame" name="engineframe" ngModel #engineframe="ngModel"
                required>
    
              <div *ngIf="engineframe.invalid && (engineframe.dirty || engineframe.touched)" class="alert-danger">
                <span *ngIf="engineframe.errors?.required">
                  Engine Frame Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Front Pedestal</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Front Pededstal" name="frontpedastal" ngModel #frontpedastal="ngModel"
                required>
    
              <div *ngIf="frontpedastal.invalid && (frontpedastal.dirty || frontpedastal.touched)" class="alert-danger">
                <span *ngIf="frontpedastal.errors?.required">
                  Front Pedestal Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Rear Pedestal</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Rear Pededstal" name="rearpedastal" ngModel #rearpedastal="ngModel"
                required>
    
              <div *ngIf="rearpedastal.invalid && (rearpedastal.dirty || rearpedastal.touched)" class="alert-danger">
                <span *ngIf="rearpedastal.errors?.required">
                  Rear Pedestal Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Channel frame Width - Height</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Channel frame Width - Height" name="widthheight" ngModel #widthheight="ngModel"
                required>
    
              <div *ngIf="widthheight.invalid && (widthheight.dirty || widthheight.touched)" class="alert-danger">
                <span *ngIf="widthheight.errors?.required">
                  Channel frame Width - Height Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Counter Holder</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Counter Holder" name="counterholder" ngModel #counterholder="ngModel"
                required>
    
              <div *ngIf="counterholder.invalid && (counterholder.dirty || counterholder.touched)" class="alert-danger">
                <span *ngIf="counterholder.errors?.required">
                  Counter Holder Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Counter holder Sq. bar length @ FP side & Base frame</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Counter Holder Sq. bar length @ FP side & Base frame" name="counterholdersqbar"
                ngModel #counterholdersqbar="ngModel" required>
    
              <div *ngIf="counterholdersqbar.invalid && (counterholdersqbar.dirty || counterholdersqbar.touched)" class="alert-danger">
                <span *ngIf="counterholdersqbar.errors?.required">
                  Counter holder Sq. bar length @ FP side & Base frame Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Counter holder Sq. bar length @ RP</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Counter Holder Sq. bar length @ RP" name="counterholdersqbarrp"
                ngModel #counterholdersqbarrp="ngModel" required>
    
              <div *ngIf="counterholdersqbarrp.invalid && (counterholdersqbarrp.dirty || counterholdersqbarrp.touched)" class="alert-danger">
                <span *ngIf="counterholdersqbarrp.errors?.required">
                  Counter holder Sq. bar length @ RP Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Channel back mark for RP</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Channel back mark for RP" name="channelbackmark" ngModel #channelbackmark="ngModel"
                required>
    
              <div *ngIf="channelbackmark.invalid && (channelbackmark.dirty || channelbackmark.touched)" class="alert-danger">
                <span *ngIf="channelbackmark.errors?.required">
                  Channel Backmark for RP Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">RP rear leg to FP rear leg</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter RP rear leg to FP rear leg" name="rearleg" ngModel #rearleg="ngModel"
                required>
    
              <div *ngIf="rearleg.invalid && (rearleg.dirty || rearleg.touched)" class="alert-danger">
                <span *ngIf="rearleg.errors?.required">
                  RP rear leg to FP rear leg Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">FP to Engine frame X / Y</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter FP to Engine frame X / Y" name="fptoengine" ngModel #fptoengine="ngModel"
                required>
    
              <div *ngIf="fptoengine.invalid && (fptoengine.dirty || fptoengine.touched)" class="alert-danger">
                <span *ngIf="fptoengine.errors?.required">
                  FP to Engine frame X / Y Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Water line pipe distance from FP</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Water line pipe distance from FP" name="linepipe" ngModel #linepipe="ngModel"
                required>
    
              <div *ngIf="linepipe.invalid && (linepipe.dirty || linepipe.touched)" class="alert-danger">
                <span *ngIf="linepipe.errors?.required">
                  Water line pipe distance from FP Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Electrical conduit ( Rooting pipe ) Qty</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Electrical conduit ( Rooting pipe ) Qty" pattern="^\d[0-9]*$"
                name="conduitqty" ngModel #conduitqty="ngModel" required>
    
              <div *ngIf="conduitqty.invalid && (conduitqty.dirty || conduitqty.touched)" class="alert-danger">
                <span *ngIf="conduitqty.errors?.required">
                  Electrical conduit ( Rooting pipe ) Qty Required
                </span>
                <span *ngIf="conduitqty.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Electrical conduit ( Rooting pipe ) Position</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Electrical conduit ( Rooting pipe ) Position" name="conduitposition"
                ngModel #conduitposition="ngModel" required>
    
              <div *ngIf="conduitposition.invalid && (conduitposition.dirty || conduitposition.touched)" class="alert-danger">
                <span *ngIf="conduitposition.errors?.required">
                  Electrical conduit ( Rooting pipe ) Position Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">PUMP (A) TO MOTOR (A)</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter PUMP (A) TO MOTOR (A)" name="pumptomotor" ngModel #pumptomotor="ngModel"
                required>
    
              <div *ngIf="pumptomotor.invalid && (pumptomotor.dirty || pumptomotor.touched)" class="alert-danger">
                <span *ngIf="pumptomotor.errors?.required">
                  PUMP (A) TO MOTOR (A) Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">PUMP (B) TO MOTOR (B)</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter PUMP (B) TO MOTOR (B)" name="pumpbtomotorb" ngModel #pumpbtomotorb="ngModel"
                required>
    
              <div *ngIf="pumpbtomotorb.invalid && (pumpbtomotorb.dirty || pumpbtomotorb.touched)" class="alert-danger">
                <span *ngIf="pumpbtomotorb.errors?.required">
                  PUMP (B) TO MOTOR (B) Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">COOLER TO MOTOR</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter COOLER TO MOTOR" name="coolertomotor" ngModel #coolertomotor="ngModel"
                required>
    
              <div *ngIf="coolertomotor.invalid && (coolertomotor.dirty || coolertomotor.touched)" class="alert-danger">
                <span *ngIf="coolertomotor.errors?.required">
                  COOLER TO MOTOR Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">COOLER TO PUMP</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter COOLER TO PUMP" name="coolertopump" ngModel #coolertopump="ngModel"
                required>
    
              <div *ngIf="coolertopump.invalid && (coolertopump.dirty || coolertopump.touched)" class="alert-danger">
                <span *ngIf="coolertopump.errors?.required">
                  COOLER TO PUMP Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">SUCTION HOSE</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter SUCTION HOSE" name="suctionhose" ngModel #suctionhose="ngModel"
                required>
    
              <div *ngIf="suctionhose.invalid && (suctionhose.dirty || suctionhose.touched)" class="alert-danger">
                <span *ngIf="suctionhose.errors?.required">
                  Suction Hose Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">REMOTE CABLE</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter REMOTE CABLE" name="remotecable" ngModel #remotecable="ngModel"
                required>
    
              <div *ngIf="remotecable.invalid && (remotecable.dirty || remotecable.touched)" class="alert-danger">
                <span *ngIf="remotecable.errors?.required">
                  Remote Cable Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">STOP CABLE</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter STOP CABLE" name="stopcable" ngModel #stopcable="ngModel" required>
    
              <div *ngIf="stopcable.invalid && (stopcable.dirty || stopcable.touched)" class="alert-danger">
                <span *ngIf="stopcable.errors?.required">
                  Stop Cable Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">STOPPER PLATE</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter STOPPER CABLE" name="stoppercable" ngModel #stoppercable="ngModel"
                required>
    
              <div *ngIf="stoppercable.invalid && (stoppercable.dirty || stoppercable.touched)" class="alert-danger">
                <span *ngIf="stoppercable.errors?.required">
                  Stopper Cable Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Others</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Others" name="others" ngModel #others="ngModel"
                >      
              <div *ngIf="others.invalid && (others.dirty || others.touched)" class="alert-danger">
                <span *ngIf="others.errors?.required">
                  Others Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr/>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>


<!-- Edit -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Mixer Assembly</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editemployees(editfrm,edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editemployee.id" required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Part No.</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Part No" name="partno" [(ngModel)]="editemployee.part_no" #parno="ngModel"
                required>
              <div *ngIf="parno.invalid && (parno.dirty || parno.touched)" class="alert-danger">
                <span *ngIf="parno.errors?.required">
                  Part No. Required
                </span>
                <span *ngIf="parno.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">CONCRETE MIXER</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Concrete Mixer Description" name="desc" [(ngModel)]="editemployee.mixer_description"
                #descrip="ngModel" required>
              <div *ngIf="descrip.invalid && (descrip.dirty || descrip.touched)" class="alert-danger">
                <span *ngIf="descrip.errors?.required">
                  Mixer Description Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Mixer Model</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Mixer Model" name="mixermodel" [(ngModel)]="editemployee.mixer_model"
                #mixemodel="ngModel" required>
    
              <div *ngIf="mixemodel.invalid && (mixemodel.dirty || mixemodel.touched)" class="alert-danger">
                <span *ngIf="mixemodel.errors?.required">
                  Mixer Model Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h5 class="small">Engine</h5>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Make</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Make" name="enginemake" [(ngModel)]="editemployee.engine_make"
                #enginmake="ngModel" required>
    
              <div *ngIf="enginmake.invalid && (enginmake.dirty || enginmake.touched)" class="alert-danger">
                <span *ngIf="enginmake.errors?.required">
                  Engine Make Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Model</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Engine Model" name="enginemodel" [(ngModel)]="editemployee.engine_model"
                #enginmodel="ngModel" required>
    
              <div *ngIf="enginmodel.invalid && (enginmodel.dirty || enginmodel.touched)" class="alert-danger">
                <span *ngIf="enginmodel.errors?.required">
                  Engine Model Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h5 class="small">Gear Box</h5>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Make</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Gear Box Make" name="gearmake" [(ngModel)]="editemployee.gearbox_make"
                #gearmke="ngModel" required>
    
              <div *ngIf="gearmke.invalid && (gearmke.dirty || gearmke.touched)" class="alert-danger">
                <span *ngIf="gearmke.errors?.required">
                  GearBox Make Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Model</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Gear Box Model" name="gearmodel" [(ngModel)]="editemployee.gearbox_model"
                #gearmode="ngModel" required>
    
              <div *ngIf="gearmode.invalid && (gearmode.dirty || gearmode.touched)" class="alert-danger">
                <span *ngIf="gearmode.errors?.required">
                  GearBox Model Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h5 class="small">Hyd. Pump</h5>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Make</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Hyd. Pump Make" name="pumpmake" [(ngModel)]="editemployee.hydpump_make"
                #pumpmke="ngModel" required>
    
              <div *ngIf="pumpmke.invalid && (pumpmke.dirty || pumpmke.touched)" class="alert-danger">
                <span *ngIf="pumpmke.errors?.required">
                  Hyd.pump Make Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Model</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Hyd. Pump Model" name="pumpmodel" [(ngModel)]="editemployee.hydpump_model"
                #pumpmdel="ngModel" required>
    
              <div *ngIf="pumpmdel.invalid && (pumpmdel.dirty || pumpmdel.touched)" class="alert-danger">
                <span *ngIf="pumpmdel.errors?.required">
                  Hyd.pump Model Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h5 class="small">Hyd. Motor</h5>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Make</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Hyd. Motor Make" name="motormake" [(ngModel)]="editemployee.hydmotor_make"
                #motrmake="ngModel" required>
    
              <div *ngIf="motrmake.invalid && (motrmake.dirty || motrmake.touched)" class="alert-danger">
                <span *ngIf="motrmake.errors?.required">
                  Hyd. Motor Make Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Model</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Hyd. Motor Model" name="motormodel" [(ngModel)]="editemployee.hydmotor_model"
                #motomodel="ngModel" required>
    
              <div *ngIf="motomodel.invalid && (motomodel.dirty || motomodel.touched)" class="alert-danger">
                <span *ngIf="motomodel.errors?.required">
                  Hyd. Motor Model Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Water Pump Make</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Water Pump Make" name="waterpumpmake" [(ngModel)]="editemployee.waterpump_make"
                #watermake="ngModel" required>
    
              <div *ngIf="watermake.invalid && (watermake.dirty || watermake.touched)" class="alert-danger">
                <span *ngIf="watermake.errors?.required">
                  Water Pump Make Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Model</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Water Pump Model" name="waterpumpmodel" [(ngModel)]="editemployee.waterpump_model"
                #watermodel="ngModel" required>
    
              <div *ngIf="watermodel.invalid && (watermodel.dirty || watermodel.touched)" class="alert-danger">
                <span *ngIf="watermodel.errors?.required">
                  Water Pump Model Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Cum3</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter cum3" name="cum3" [(ngModel)]="editemployee.waterpump_cum3" #cum="ngModel"
                required>
    
              <div *ngIf="cum.invalid && (cum.dirty || cum.touched)" class="alert-danger">
                <span *ngIf="cum.errors?.required">
                  Cum3 Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Hydraulic Combination</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Hydraulic Combination" name="hydcom" [(ngModel)]="editemployee.waterpump_hydcombution"
                #hydco="ngModel" required>
    
              <div *ngIf="hydco.invalid && (hydco.dirty || hydco.touched)" class="alert-danger">
                <span *ngIf="hydco.errors?.required">
                  Hydraulic Combination Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Chassis Suitable for</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Chassis Suitable for" name="chassis" [(ngModel)]="editemployee.waterpump_chassis"
                #chasis="ngModel" required>
    
              <div *ngIf="chasis.invalid && (chasis.dirty || chasis.touched)" class="alert-danger">
                <span *ngIf="chasis.errors?.required">
                  Chassis Suitable for Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Chassis width</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Chassis Width" name="chassiswidth" [(ngModel)]="editemployee.waterpump_chassiswidth"
                #chasiswidth="ngModel" required>
    
              <div *ngIf="chasiswidth.invalid && (chasiswidth.dirty || chasiswidth.touched)" class="alert-danger">
                <span *ngIf="chasiswidth.errors?.required">
                  Chassis Width Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Remarks</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Remarks" name="remarks" [(ngModel)]="editemployee.waterpump_remarks"
                #remark="ngModel" required>
    
              <div *ngIf="remark.invalid && (remark.dirty || remark.touched)" class="alert-danger">
                <span *ngIf="remark.errors?.required">
                  Remarks Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <h5 class="small">Channel assembly stage</h5>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Channel frame</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Channel Frame" name="channelframe" [(ngModel)]="editemployee.channelassembly_channelframe"
                #chanelframe="ngModel" required>
    
              <div *ngIf="chanelframe.invalid && (chanelframe.dirty || chanelframe.touched)" class="alert-danger">
                <span *ngIf="chanelframe.errors?.required">
                  channel Frame Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Engine Frame</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Engine Frame" name="engineframe" [(ngModel)]="editemployee.channelassembly_engineframe"
                #enginframe="ngModel" required>
    
              <div *ngIf="enginframe.invalid && (enginframe.dirty || enginframe.touched)" class="alert-danger">
                <span *ngIf="enginframe.errors?.required">
                  Engine Frame Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Front Pedestal</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Front Pededstal" name="frontpedastal" [(ngModel)]="editemployee.channelassembly_frontpedestal"
                #frontpedestal="ngModel" required>
    
              <div *ngIf="frontpedestal.invalid && (frontpedestal.dirty || frontpedestal.touched)" class="alert-danger">
                <span *ngIf="frontpedestal.errors?.required">
                  Front Pedestal Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Rear Pedestal</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Rear Pededstal" name="rearpedastal" [(ngModel)]="editemployee.channelassembly_rearpedestal"
                #rearpedestal="ngModel" required>
    
              <div *ngIf="rearpedestal.invalid && (rearpedestal.dirty || rearpedestal.touched)" class="alert-danger">
                <span *ngIf="rearpedestal.errors?.required">
                  Rear Pedestal Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Channel frame Width - Height</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Channel frame Width - Height" name="widthheight" [(ngModel)]="editemployee.channelassembly_widthheight"
                #widhheight="ngModel" required>
    
              <div *ngIf="widhheight.invalid && (widhheight.dirty || widhheight.touched)" class="alert-danger">
                <span *ngIf="widhheight.errors?.required">
                  Channel frame Width - Height Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Counter Holder</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Counter Holder" name="counterholder" [(ngModel)]="editemployee.channelassembly_counterholder"
                #counteholder="ngModel" required>
    
              <div *ngIf="counteholder.invalid && (counteholder.dirty || counteholder.touched)" class="alert-danger">
                <span *ngIf="counteholder.errors?.required">
                  Counter Holder Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Counter holder Sq. bar length @ FP side & Base frame</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Counter Holder Sq. bar length @ FP side & Base frame" name="counterholdersqbar"
                [(ngModel)]="editemployee.channelassembly_counterholdersqlength" #counterholderqbar="ngModel" required>
    
              <div *ngIf="counterholderqbar.invalid && (counterholderqbar.dirty || counterholderqbar.touched)" class="alert-danger">
                <span *ngIf="counterholderqbar.errors?.required">
                  Counter holder Sq. bar length @ FP side & Base frame Required
                </span>
              </div>
    
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Counter holder Sq. bar length @ RP</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Counter Holder Sq. bar length @ RP" name="counterholdersqbarrp"
                [(ngModel)]="editemployee.channelassembly_counterholdersqbarlength" #counterholdersqbarp="ngModel" required>
    
              <div *ngIf="counterholdersqbarp.invalid && (counterholdersqbarp.dirty || counterholdersqbarp.touched)" class="alert-danger">
                <span *ngIf="counterholdersqbarp.errors?.required">
                  Counter holder Sq. bar length @ RP Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Channel back mark for RP</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Channel back mark for RP" name="channelbackmark" [(ngModel)]="editemployee.channelassembly_channelbackmark"
                #chanelbackmark="ngModel" required>
    
              <div *ngIf="chanelbackmark.invalid && (chanelbackmark.dirty || chanelbackmark.touched)" class="alert-danger">
                <span *ngIf="chanelbackmark.errors?.required">
                  Channel Backmark for RP Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">RP rear leg to FP rear leg</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter RP rear leg to FP rear leg" name="rearleg" [(ngModel)]="editemployee.channelassembly_rpreartofprear"
                #realeg="ngModel" required>
    
              <div *ngIf="realeg.invalid && (realeg.dirty || realeg.touched)" class="alert-danger">
                <span *ngIf="realeg.errors?.required">
                  RP rear leg to FP rear leg Required
                </span>
              </div>
    
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">FP to Engine frame X / Y</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter FP to Engine frame X / Y" name="fptoengine" [(ngModel)]="editemployee.channelassembly_Fptoengineframe"
                #fptoengne="ngModel" required>
    
              <div *ngIf="fptoengne.invalid && (fptoengne.dirty || fptoengne.touched)" class="alert-danger">
                <span *ngIf="fptoengne.errors?.required">
                  FP to Engine frame X / Y Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Water line pipe distance from FP</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Water line pipe distance from FP" name="linepipe" [(ngModel)]="editemployee.channelassembly_waterpipelinedistance"
                #linpipe="ngModel" required>
    
              <div *ngIf="linpipe.invalid && (linpipe.dirty || linpipe.touched)" class="alert-danger">
                <span *ngIf="linpipe.errors?.required">
                  Water line pipe distance from FP Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Electrical conduit ( Rooting pipe ) Qty</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Electrical conduit ( Rooting pipe ) Qty" pattern="^\d[0-9]*$"
                name="conduitqty" [(ngModel)]="editemployee.channelassembly_electricalconduitqty" #condutqty="ngModel" required>
    
              <div *ngIf="condutqty.invalid && (condutqty.dirty || condutqty.touched)" class="alert-danger">
                <span *ngIf="condutqty.errors?.required">
                  Electrical conduit ( Rooting pipe ) Qty Required
                </span>
                <span *ngIf="condutqty.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Electrical conduit ( Rooting pipe ) Position</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Electrical conduit ( Rooting pipe ) Position" name="conduitposition"
                [(ngModel)]="editemployee.channelassembly_electricalconduitposition" #condutposition="ngModel" required>
    
              <div *ngIf="condutposition.invalid && (condutposition.dirty || condutposition.touched)" class="alert-danger">
                <span *ngIf="condutposition.errors?.required">
                  Electrical conduit ( Rooting pipe ) Position Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">PUMP (A) TO MOTOR (A)</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter PUMP (A) TO MOTOR (A)" name="pumptomotor" [(ngModel)]="editemployee.channelassembly_pumpAtomotorA"
                #pumtomotor="ngModel" required>
    
              <div *ngIf="pumtomotor.invalid && (pumtomotor.dirty || pumtomotor.touched)" class="alert-danger">
                <span *ngIf="pumtomotor.errors?.required">
                  PUMP (A) TO MOTOR (A) Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">PUMP (B) TO MOTOR (B)</label>
            <div class="col-sm-9">
    
              <input type="text" class="form-control" Placeholder="Enter PUMP (B) TO MOTOR (B)" name="pumpbtomotorb" [(ngModel)]="editemployee.channelassembly_pumpBtomotorB"
                #pumbtomotorb="ngModel" required>
    
              <div *ngIf="pumbtomotorb.invalid && (pumbtomotorb.dirty || pumbtomotorb.touched)" class="alert-danger">
                <span *ngIf="pumbtomotorb.errors?.required">
                  PUMP (B) TO MOTOR (B) Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">COOLER TO MOTOR</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter COOLER TO MOTOR" name="coolertomotor" [(ngModel)]="editemployee.channelassembly_coolertomotor"
                #colertomotor="ngModel" required>
    
              <div *ngIf="colertomotor.invalid && (colertomotor.dirty || colertomotor.touched)" class="alert-danger">
                <span *ngIf="colertomotor.errors?.required">
                  COOLER TO MOTOR Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">COOLER TO PUMP</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter COOLER TO PUMP" name="coolertopump" [(ngModel)]="editemployee.channelassembly_coolertopump"
                #colertopump="ngModel" required>
    
              <div *ngIf="colertopump.invalid && (colertopump.dirty || colertopump.touched)" class="alert-danger">
                <span *ngIf="colertopump.errors?.required">
                  COOLER TO PUMP Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">SUCTION HOSE</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter SUCTION HOSE" name="suctionhose" [(ngModel)]="editemployee.channelassembly_suctionhose"
                #sutionhose="ngModel" required>
    
              <div *ngIf="sutionhose.invalid && (sutionhose.dirty || sutionhose.touched)" class="alert-danger">
                <span *ngIf="sutionhose.errors?.required">
                  Suction Hose Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">REMOTE CABLE</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter REMOTE CABLE" name="remotecable" [(ngModel)]="editemployee.channelassembly_remotecable"
                #remotcable="ngModel" required>
    
              <div *ngIf="remotcable.invalid && (remotcable.dirty || remotcable.touched)" class="alert-danger">
                <span *ngIf="remotcable.errors?.required">
                  Remote Cable Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">STOP CABLE</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter STOP CABLE" name="stopcable" [(ngModel)]="editemployee.channelassembly_stopcable"
                #stopcble="ngModel" required>
    
              <div *ngIf="stopcble.invalid && (stopcble.dirty || stopcble.touched)" class="alert-danger">
                <span *ngIf="stopcble.errors?.required">
                  Stop Cable Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">STOPPER PLATE</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter STOPPER CABLE" name="stoppercable" [(ngModel)]="editemployee.channelassembly_stopperplate"
                #stopercable="ngModel" required>
    
              <div *ngIf="stopercable.invalid && (stopercable.dirty || stopercable.touched)" class="alert-danger">
                <span *ngIf="stopercable.errors?.required">
                  Stopper Cable Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="form-group row">
            <label class="col-sm-3 col-form-label">Others</label>
            <div class="col-sm-9">
              <input type="text" class="form-control" Placeholder="Enter Others" name="others" [(ngModel)]="editemployee.others" #otherss="ngModel">
              <div *ngIf="otherss.invalid && (otherss.dirty || otherss.touched)" class="alert-danger">
                <span *ngIf="otherss.errors?.required">
                  Others Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>