<div class="row">
  <div class="col-sm-12">
    <app-card [title]="'Ng-X Basic Datatable'">
      <span class="m-b-20">use class <code>data-table</code> with ngx-datatable</span><br><br>
      <ngx-datatable
              class="data-table table-responsive"
              [rows]="rowsBasic"
              [loadingIndicator]="loadingIndicator"
              [columns]="columns"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="50"
              [reorderable]="reorderable">
      </ngx-datatable>
    </app-card>

    <app-card [title]="'Ng-X 100K Virtual Scrolling Rows'">
      <span class="m-b-20">use class <code>data-table</code> with ngx-datatable and <code>rowHeight</code></span><br><br>
      <ngx-datatable
              class='data-table scroll'
              [rows]='rows'
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="getRowHeight"
              [limit]="10"
              [scrollbarV]="true"
              (page)="onPage($event)">
        <ngx-datatable-column name="Name">
          <ng-template let-value="value" ngx-datatable-cell-template>
            <strong>{{value}}</strong>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Gender">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <i [innerHTML]="row['name']"></i> and <i>{{value}}</i>
          </ng-template>
        </ngx-datatable-column>
        <ngx-datatable-column name="Row Height" prop="height">
        </ngx-datatable-column>
      </ngx-datatable>
    </app-card>

    <app-card [title]="'Ng-X Full Screen'" [blockClass]="'table-border-style'" [classHeader]="true">
      <span class="code-header">use class <code>data-table </code>and<code> fullscreen</code> with ngx-datatable.</span>
      <ngx-datatable
          class="data-table fullscreen"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="0"
          [rowHeight]="50"
          [scrollbarV]="true"
          [scrollbarH]="true"
          [rows]="fullScreenRow">
        <ngx-datatable-column name="Id"></ngx-datatable-column>
        <ngx-datatable-column name="Name"></ngx-datatable-column>
        <ngx-datatable-column name="Gender"></ngx-datatable-column>
        <ngx-datatable-column name="Age"></ngx-datatable-column>
        <ngx-datatable-column name="City" prop="address.city"></ngx-datatable-column>
        <ngx-datatable-column name="State" prop="address.state"></ngx-datatable-column>
      </ngx-datatable>
    </app-card>

    <app-card [title]="'Ng-X Search/Filter'" [classHeader]="true">
      <span class="code-header">use class <code>data-table </code> with ngx-datatable and set <code>search element</code>.</span>
      <div class="row">
        <div class="col-sm-12">
          <label class="form-inline f-right">
            <div class="form-group">
              <label>Search: </label>
              <input
                type='text'
                class="form-control input-sm m-l-10"
                placeholder='Search Name'
                (keyup)='updateFilter($event)'
              />
            </div>
          </label>
        </div>
      </div>
      <ngx-datatable
          #table
          class='data-table'
          [columns]="columns"
          [columnMode]="'force'"
          [headerHeight]="50"
          [footerHeight]="50"
          [rowHeight]="50"
          [limit]="10"
          [rows]='rowsFilter'>
      </ngx-datatable>
    </app-card>
  </div>
</div>