<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="row">
          <div class="col-md-6">
              <h5>Cone  Details</h5>
            </div>
            <div class="col-md-6">
              <div class="text-right">
                <!-- <button class="btn btn-primary btn-square" type="button" (click)="bulkupload.show()">
                  <i class="icofont icofont-upload"></i> Bulk Upload
                </button> -->
                <button class="btn btn-info btn-square" type="button" (click)="open(addnew)">
                  <i class="icofont icofont-plus"></i> Add Cone Details
                </button>
              </div>
            </div>
        </div>
        
      </div>
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Description</th>
              <th>Cone Details Part No</th>
              <th>Weight (in kgs.)</th>
              <th>Weight/Segment(in kgs.)</th>
              <th>Total Weight(in kgs.)</th>               
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of conematerials;let i=index">
              <td>{{i+1}}</td>
              <td>{{item.description}}</td>
              <td>{{item.part_no}}</td>
              <td>{{item.weight | number:'1.2-2'}}</td>
              <td>{{item.weight_segment | number:'1.2-2'}}</td>
              <td>{{item.total_weight | number:'1.2-2'}}</td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deleteconematerial(item.id)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class=" btn btn-default">
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close
    </button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>

<!-- Add Bulk Upload -->

<!-- Add New -->
<ng-template #addnew let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Add Cone Details</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="addconematerial(frm, addnew)">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Description<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Description" name="description" ngModel appEmitfirstspace #description="ngModel"
                required>
              <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert-danger">
                <span *ngIf="description.errors?.required">
                  Description is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Part No.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Part No" name="partno" ngModel appDigitOnly appEmitfirstspace #partno="ngModel" pattern="^[0-9]*$"
                required>
              <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                <span *ngIf="partno.errors?.required">
                  part No. is Required
                </span>
                <span *ngIf="partno.errors?.pattern">
                  part No. should be on Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Weight(in kgs.)<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="number" class="form-control" Placeholder="Enter Weight" name="weight" appEmitfirstspace ngModel #weight="ngModel" 
                step="0.01" min="0" value="0"  required>
              <div *ngIf="weight.invalid && (weight.dirty || weight.touched)" class="alert-danger">
                <span *ngIf="weight.errors?.required">
                  Weight is Required
                </span>
                <span *ngIf="weight.errors?.pattern">
                  Weight should be numeric
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Weight/Segment(in kgs.)<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="number" class="form-control" Placeholder="Enter Weight/Segment" name="weightsegment" ngModel #weightsegment="ngModel"
                pattern="^\d+(?:\.\d{1,2})?$" step="0.01" min="0" value="0" step="0.01" appEmitfirstspace required>
              <div *ngIf="weightsegment.invalid && (weightsegment.dirty || weightsegment.touched)" class="alert-danger">
                <span *ngIf="weightsegment.errors?.required">
                  Weight / Segment is Required
                </span>
                <span *ngIf="weightsegment.errors?.pattern">
                  Weight / Segment should be numeric
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Total Weight(in kgs.)<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="number" class="form-control" Placeholder="Enter Total Weight" name="totalweight" ngModel #totalweight="ngModel"
                pattern="^\d+(?:\.\d{1,2})?$" step="0.01" min="0" value="0" step="0.01" appEmitfirstspace required>
              <div *ngIf="totalweight.invalid && (totalweight.dirty || totalweight.touched)" class="alert-danger">
                <span *ngIf="totalweight.errors?.required">
                  Total Weight is Required
                </span>
                <span *ngIf="weight.errors?.pattern">
                  Total Weight should be numeric
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>


<!-- Edit -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <div class="col-md-6">
      <h4 class="modal-title">Edit Cone Details</h4>
      <p class="mandatoryfiles">* Fields Are mandatory</p>
    </div>
    <div class="col-md-6">
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reloadPage()">
        <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
      </button>
    </div>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="addform" #editfrm="ngForm" (ngSubmit)="editconematerial(editfrm, edit)">
      <div class="row" style="display: none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Description" name="id" [(ngModel)]="editconematterial.id" #eid="ngModel"
                required>
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  Id is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Description<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Item" name="description" appEmitfirstspace [(ngModel)]="editconematterial.description"
                #edescription="ngModel" required>
              <div *ngIf="edescription.invalid && (edescription.dirty || edescription.touched)" class="alert-danger">
                <span *ngIf="edescription.errors?.required">
                  Description is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Part No.<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Part No" name="partno" appDigitOnly appEmitfirstspace [(ngModel)]="editconematterial.part_no"
                #epartno="ngModel" pattern="^[0-9]*$" required>
              <div *ngIf="epartno.invalid && (epartno.dirty || epartno.touched)" class="alert-danger">
                <span *ngIf="epartno.errors?.required">
                  part No. is Required
                </span>
                <span *ngIf="epartno.errors?.pattern">
                  part No. should be on Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Weight(in kgs.)<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter weight" name="weight" appEmitfirstspace [ngModel]="editconematterial.weight | number:'1.2-2'" #eweight="ngModel"
              pattern="^\d+(?:\.\d{1,2})?$"   step="0.01" min="0" value="0" >
              <div *ngIf="eweight.invalid && (eweight.dirty || eweight.touched)" class="alert-danger">
                <span *ngIf="eweight.errors?.required">
                  Weight is Required
                </span>
                <span *ngIf="eweight.errors?.pattern">
                  Weight should be Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Weight/Segment(in kgs.)<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Weight/Segment" name="weightsegment" [ngModel]="editconematterial.weight_segment | number:'1.2-2'"
                #eweightsegment="ngModel"  required  pattern="^\d+(?:\.\d{1,2})?$" step="0.01" min="0" appEmitfirstspace value="0" > 
              <div *ngIf="eweightsegment.invalid && (eweightsegment.dirty || eweightsegment.touched)" class="alert-danger">
                <span *ngIf="eweightsegment.errors?.required">
                  Weight/Segment is required.
                </span>
                <span *ngIf="eweightsegment.errors?.pattern">
                  Weight/Segment should be Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Total Weight(in kgs.)<span class="mandatoryfiles">*</span></label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Total Weight" name="totalweight" [ngModel]="editconematterial.total_weight | number:'1.2-2'"
                #etotalweight="ngModel"  pattern="^\d+(?:\.\d{1,2})?$" required step="0.01" min="0" appEmitfirstspace value="0" >
              <div *ngIf="etotalweight.invalid && (etotalweight.dirty || etotalweight.touched)" class="alert-danger">
                <span *ngIf="etotalweight.errors?.required">
                  Total Weight is required.
                </span>
                <span *ngIf="etotalweight.errors?.pattern">
                  Total Weight should be Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reloadPage()">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>