<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="row">
            <div class="col-md-6">
                <h5>Size Make </h5>
              </div>
              <div class="col-md-6">
                <div class="text-right">
                  <!-- <button class="btn btn-primary btn-square" type="button" (click)="openbulkupload(bulkupload)">
                    <i class="icofont icofont-upload"></i> Bulk Upload
                  </button> -->
                  <button class="btn btn-info btn-square" type="button" (click)="open(addnew)">
                    <i class="icofont icofont-plus"></i> Add Bin Size Make
                  </button>
                </div>
              </div>
        </div>
        
      </div>
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No</th>
              <th>Work Station</th>
              <th>Part No.</th>
              <th>Material</th>
              <th>Bin Size</th>
              <th>Bin Model</th>
              <th>Label Size</th>
              <th>Storage Location</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of binsystem; let i=index">
              <td>{{i+1}}</td>
              <td [ngSwitch]="item.work_station">
                <p *ngSwitchCase="'1'">Engine & Roller Sub Assy</p>
                <p *ngSwitchCase="'2'">Channel frame with pedestal Assy</p>
                <p *ngSwitchCase="'3'">Gear box assy</p>
                <p *ngSwitchCase="'4'">Oil cooler sub Assy, 1" & 1 1/2" water line Sub Assembly</p>
                <p *ngSwitchCase="'5'">Engine,Oil cooler Assy & water pump setting</p>
                <p *ngSwitchCase="'6'">Charging Hopper</p>
                <p *ngSwitchCase="'7'">Ladder Assy</p>
                <p *ngSwitchCase="'8'">Testing Preparation</p>
              </td>
              <td>{{item.part_no}}</td>
              <td>{{item.object_desc}}</td>
              <td [ngSwitch]="item.bin_size">
                <p *ngSwitchCase="'1'">15</p>
                <p *ngSwitchCase="'2'">25</p>
                <p *ngSwitchCase="'3'">45</p>
                <p *ngSwitchCase="'4'">100</p>
                <p *ngSwitchCase="'5'">Steel Bin</p>
              </td>
              <td [ngSwitch]="item.bin_model">
                <p *ngSwitchCase="'1'">Nilkamal</p>
                <p *ngSwitchCase="'2'">Power King</p>
                <p *ngSwitchCase="'3'">Steel Bin</p>
                <p *ngSwitchCase="'4'">Supreme</p>
              </td>
              <td>{{item.label_size}}</td>
              <td>{{item.storage_location}}</td>
              <td>
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deletebinsystem(item.id)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class=" btn btn-default">
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close
    </button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>

<!-- Add New -->
<ng-template #addnew let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Size Make </h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="addbinsystem(frm, addnew)">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Work Station</label>
            <div class="col-sm-8">
              <select name="workstation" id="" class="form-control" ngModel #workstation="ngModel" required>
                <option value="" selected disabled>Select Work Station</option>
                <option value="1">Engine & Roller Sub Assy</option>
                <option value="2">Channel frame with pedestal Assy</option>
                <option value="3">Gear box assy</option>
                <option value="4">Oil cooler sub Assy, 1" & 1 1/2" water line Sub Assembly</option>
                <option value="5">Engine,Oil cooler Assy & water pump setting</option>
                <option value="6">Charging Hopper</option>
                <option value="7">Ladder Assy</option>
                <option value="8">Testing Preparation</option>
              </select>
              <div *ngIf="workstation.invalid && (workstation.dirty || workstation.touched)" class="alert-danger">
                <span *ngIf="workstation.errors?.required">
                  Workstation is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Part No.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Part No." name="partno" pattern="^\d[0-9]*$" ngModel #partno="ngModel"
                required>
              <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                <span *ngIf="partno.errors?.required">
                  Part No. is Required
                </span>
                <span *ngIf="partno.errors?.pattern">
                  Part No. accepts only numeric
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Material</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Obect Description" name="objectdesc" ngModel #objectdesc="ngModel"
                required>
              <div *ngIf="objectdesc.invalid && (objectdesc.dirty || objectdesc.touched)" class="alert-danger">
                <span *ngIf="objectdesc.errors?.required">
                  Obect Description is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Bin Size</label>
            <div class="col-sm-8">
              <select name="binsize" id="" class="form-control" [(ngModel)]="bin_size" #binsize="ngModel" required (change)="getlabesize(binsize.value)">
                <option value="" selected disabled>Select Bin Size</option>
                <option value="1">15</option>
                <option value="2">25</option>
                <option value="3">45</option>
                <option value="4">100</option>
                <option value="5">Steel Bin</option>
              </select>
              <div *ngIf="binsize.invalid && (binsize.dirty || binsize.touched)" class="alert-danger">
                <span *ngIf="binsize.errors?.required">
                  Bin Size is Required
                </span>
                <span *ngIf="binsize.errors?.pattern">
                  Bin Size is accepts only Numeric
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Bin Model</label>
            <div class="col-sm-8">
              <select name="binmodel" id="" class="form-control" ngModel #binmodel="ngModel" required>
                <option value="" selected disabled>Select Bin Model</option>
                <option value="1">Nilkamal</option>
                <option value="2">Power King</option>
                <option value="3">Steel Bin</option>
                <option value="4">Supreme</option>
              </select>
              <div *ngIf="binmodel.invalid && (binmodel.dirty || binmodel.touched)" class="alert-danger">
                <span *ngIf="binmodel.errors?.required">
                  Bin Model is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
              <label class="col-sm-4 col-form-label">Label Size</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" Placeholder="Enter Obect Description" name="labelsize" [(ngModel)]="getlabelsize" #labelsize="ngModel" required readonly>
                <div *ngIf="labelsize.invalid && (labelsize.dirty || labelsize.touched)" class="alert-danger">
                  <span *ngIf="labelsize.errors?.required">
                    Label Size is Required
                  </span>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Storage Location</label>
            <div class="col-sm-8">
              <select name="storageloc" id="" class="form-control" [(ngModel)]="storage_loc" #storageloc="ngModel" required multiple>
                <option value="" selected disabled>Select Work Station</option>
                <option *ngFor="let items of store_locat.message" [value]="items.storage_location">{{items.storage_location}}</option>
              </select>
              <div *ngIf="storageloc.invalid && (storageloc.dirty || storageloc.touched)" class="alert-danger">
                <span *ngIf="storageloc.errors?.required">
                  Storage Location is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!frm.form.valid">Submit</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>


<!-- Edit -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Delay/Rework</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" name="addform" #editfrm="ngForm" (ngSubmit)="editbinsystems(editfrm, edit)">
      <div class="row" style="display: none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter id" name="id" [(ngModel)]="editbinsystem.id" #id="ngModel" required>
              <div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert-danger">
                <span *ngIf="id.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Work Station</label>
            <div class="col-sm-8">
              <select name="workstation" id="" class="form-control" [(ngModel)]="editbinsystem.work_station" #workstations="ngModel" required>
                <option value="" selected disabled>Select Work Station</option>
                <option value="1">Engine & Roller Sub Assy</option>
                <option value="2">Channel frame with pedestal Assy</option>
                <option value="3">Gear box assy</option>
                <option value="4">Oil cooler sub Assy, 1" & 1 1/2" water line Sub Assembly</option>
                <option value="5">Engine,Oil cooler Assy & water pump setting</option>
                <option value="6">Charging Hopper</option>
                <option value="7">Ladder Assy</option>
                <option value="8">Testing Preparation</option>
              </select>
              <div *ngIf="workstations.invalid && (workstations.dirty || workstations.touched)" class="alert-danger">
                <span *ngIf="workstations.errors?.required">
                  Workstation is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Part No.</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Part No." name="partno" pattern="^\d[0-9]*$" [(ngModel)]="editbinsystem.part_no"
                #partnos="ngModel" required>
              <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                <span *ngIf="partnos.errors?.required">
                  Part No. is Required
                </span>
                <span *ngIf="partno.errors?.pattern">
                  Part No. accepts only numeric
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Object description</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Obect Description" name="objectdesc" [(ngModel)]="editbinsystem.object_desc"
                #objectdescs="ngModel" required>
              <div *ngIf="objectdescs.invalid && (objectdescs.dirty || objectdescs.touched)" class="alert-danger">
                <span *ngIf="objectdescs.errors?.required">
                  Obect Description is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Bin Size</label>
            <div class="col-sm-8">
              <select name="binsize" id="" class="form-control" [(ngModel)]="editbinsystem.bin_size" #binsizes="ngModel" required (change)="getlabesize(binsizes.value)">
                <option value="" selected disabled>Select Bin Size</option>
                <option value="1">15</option>
                <option value="2">25</option>
                <option value="3">45</option>
                <option value="4">100</option>
                <option value="5">Steel Bin</option>
              </select>
              <div *ngIf="binsizes.invalid && (binsizes.dirty || binsizes.touched)" class="alert-danger">
                <span *ngIf="binsizes.errors?.required">
                  Bin Size is Required
                </span>
                <span *ngIf="binsizes.errors?.pattern">
                  Bin Size is accepts only Numeric
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Bin Model</label>
            <div class="col-sm-8">
              <select name="binmodel" id="" class="form-control" [(ngModel)]="editbinsystem.bin_model" #binmodels="ngModel" required>
                <option value="" selected disabled>Select Bin Model</option>
                <option value="1">Nilkamal</option>
                <option value="2">Power King</option>
                <option value="3">Steel Bin</option>
                <option value="4">Supreme</option>
              </select>
              <div *ngIf="binmodels.invalid && (binmodels.dirty || binmodels.touched)" class="alert-danger">
                <span *ngIf="binmodels.errors?.required">
                  Bin Model is Required
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">          
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Label Size</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Obect Description" name="labelsize" [(ngModel)]="editbinsystem.label_size"
                #labelsizes="ngModel" required readonly>
              <div *ngIf="labelsizes.invalid && (labelsizes.dirty || labelsizes.touched)" class="alert-danger">
                <span *ngIf="labelsizes.errors?.required">
                  Label Size is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Storage Location</label>
            <div class="col-sm-8">
              <!-- <input type="text" class="form-control" Placeholder="Enter Storage Location" name="storageloc" [(ngModel)]="editbinsystem.storage_location" #storagelocs="ngModel"
                required> -->
              <select name="storageloc" id="" class="form-control" [(ngModel)]="sto_loc" #storagelocs="ngModel" required multiple>
                <option value="" selected disabled>Select Work Station</option>
                <option *ngFor="let itemss of store_locat.message" [value]="itemss.storage_location">{{itemss.storage_location}}</option>
              </select>
              <div *ngIf="storagelocs.invalid && (storagelocs.dirty || storagelocs.touched)" class="alert-danger">
                <span *ngIf="storagelocs.errors?.required">
                  Storage Location is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
  <!-- <div class="app-modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="addNew.hide()">Close</button>
    <button type="button" class="btn btn-primary waves-effect waves-light ">Update</button>
  </div> -->
</ng-template>