<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="col-md-6">
          <h5>Line Rejection</h5>
        </div>
      </div>
      <div class="card-block">
        <form class="form-horizontal" name="addform" #frm="ngForm">
          <div class="row">
            <div class="col-md-12">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label text-right">Material Issue For:</label>
                <div class="col-sm-5">
                  <select name="materialissue" class="form-control" [(ngModel)]="materialissues" #materialissue="ngModel"
                    (change)="getvalue(materialissue.value)">
                    <option [value]="undefined" selected hidden>Select Material Issue For:</option>
                    <option [value]="null" selected hidden>Select Material Issue For:</option>
                    <option value="1">Drum Model</option>
                    <option value="2">Mixer Assembly</option>
                    <option value="3">Mounting Model</option>
                  </select>
                  <div *ngIf="materialissue.invalid && (materialissue.dirty || materialissue.touched)" class="alert-danger">
                    <span *ngIf="materialissue.errors?.required">
                      Material Issue for. is Required
                    </span>
                  </div>
                  <!-- <input type="text" class="form-control" Placeholder="Enter Drum / Mixer No / Mounting"> -->
                </div>
              </div>
            </div>
          </div>
          <div [ngSwitch]="materialissues">
            <div *ngSwitchCase="'1'">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Drum PartNo:</label>
                    <div class="col-sm-5">
                      <!-- <select name="drummodel" class="form-control" [(ngModel)]="drummodels" #drummodel="ngModel" (change)="drum_getbom(drummodel.value);getassyvalue(frm)"> -->
                      <select name="drummodel" class="form-control" [(ngModel)]="drummodels" #drummodel="ngModel"
                        (change)="drum_getwo(drummodel.value)">
                        <option [value]="undefined" selected hidden>Select Drum PartNo:</option>
                        <option [value]="null" selected hidden>Select Drum PartNo:</option>
                        <option *ngFor="let item of mixer_value.message" [value]="item.id">{{item.drumpart_no}} _
                          {{item.drum_model}}</option>
                      </select>
                      <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                      <div *ngIf="drummodel.invalid && (drummodel.dirty || drummodel.touched)" class="alert-danger">
                        <span *ngIf="drummodel.errors?.required">
                          Drum Model. is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Workstation</label>
                    <div class="col-sm-5">
                      <!-- <select name="drummodel" class="form-control" [(ngModel)]="drummodels" #drummodel="ngModel" (change)="drum_getbom(drummodel.value);getassyvalue(frm)"> -->
                      <select name="station" class="form-control" [(ngModel)]="selworkstation" #station="ngModel" (ngModelChange)="getstationcode($event)">
                        <option value="undefined" selected hidden>Select Workstation</option>
                        <option *ngFor="let item of stations" [value]="item.id">{{item.list_of_operation}} (
                          {{item.operation_code}} )</option>
                      </select>
                      <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                      <div *ngIf="station.invalid && (station.dirty || station.touched)" class="alert-danger">
                        <span *ngIf="station.errors?.required">
                          Workstation is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Drum W/O No.</label>
                    <div class="col-sm-5">
                      <select class="form-control" name="workorder" [(ngModel)]="workorder" #workordernos="ngModel"
                        required (ngModelChange)="getmaterials($event,materialissue.value)">
                        <option [value]="undefined" selected hidden>Select Workorder No.</option>
                        <option [value]="null" selected hidden>Select Workorder No.</option>
                        <option *ngFor="let item of drumworkorder.message" [value]="item.id">{{item.workorder_no}}</option>
                      </select>
                      <div *ngIf="workordernos.invalid && (workordernos.dirty || workordernos.touched)" class="alert-danger">
                        <span *ngIf="workordernos.errors?.required">
                          WorkOrder No. is Required
                        </span>
                        <span *ngIf="workordernos.errors?.pattern">
                          WorkOrder No. should acceptd only Numeric.
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" (click)="getdetails()">Submit </button>
                </div>
              </div>
            </div>
            <div *ngSwitchCase="'2'">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Mixer Part No.</label>
                    <div class="col-sm-5">
                      <select class="form-control" name="drummodel" [(ngModel)]="mixerpartnos" #partnos="ngModel"
                        required (change)="getworkorderno(partnos.value)">
                        <option [value]="undefined" selected hidden>Select Part No.</option>
                        <option [value]="null" selected hidden>Select Part No.</option>
                        <option *ngFor="let item of mixer_value.message" [value]="item.id">{{item.part_no}}_{{item.mixer_model}}</option>
                      </select>
                      <div *ngIf="partnos.invalid && (partnos.dirty || partnos.touched)" class="alert-danger">
                        <span *ngIf="partnos.errors?.required">
                          Part No. is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Workstation</label>
                    <div class="col-sm-5">
                      <!-- <select name="drummodel" class="form-control" [(ngModel)]="drummodels" #drummodel="ngModel" (change)="drum_getbom(drummodel.value);getassyvalue(frm)"> -->
                      <select name="station" class="form-control" [(ngModel)]="selworkstations" #station="ngModel" (ngModelChange)="getstationcode($event)">
                        <option [value]="undefined" selected hidden>Select Workstation</option>
                        <option [value]="null" selected hidden>Select Workstation</option>
                        <option *ngFor="let item of stations" [value]="item.id">{{item.list_of_operation}} (
                          {{item.operation_code}} )</option>
                      </select>
                      <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                      <div *ngIf="station.invalid && (station.dirty || station.touched)" class="alert-danger">
                        <span *ngIf="station.errors?.required">
                          Workstation is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Mixer W/O No.</label>
                    <div class="col-sm-5">
                      <select class="form-control" name="workorder" [(ngModel)]="workorder" #workordernos="ngModel"
                        required (ngModelChange)="getmaterials($event,materialissue.value)">
                        <option [value]="undefined" selected hidden>Select Workorder No.</option>
                        <option [value]="null" selected hidden>Select Workorder No.</option>
                        <option *ngFor="let item of mixerplanning.message" [value]="item.id">{{item.workorder_no}}</option>
                      </select>
                      <div *ngIf="workordernos.invalid && (workordernos.dirty || workordernos.touched)" class="alert-danger">
                        <span *ngIf="workordernos.errors?.required">
                          WorkOrder No. is Required
                        </span>
                        <span *ngIf="workordernos.errors?.pattern">
                          WorkOrder No. should acceptd only Numeric.
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" (click)="getdetails()">Get </button>
                </div>
              </div>
            </div>
            <div *ngSwitchCase="'3'">
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Mounting WorkOrder:</label>
                    <div class="col-sm-5">
                      <!-- <select name="drummodel" class="form-control" [(ngModel)]="mountwos" #mountwo="ngModel" (change)="mounting_getbom();getassyvalue(frm)"> -->
                      <select name="workorder" class="form-control" [(ngModel)]="mountwos" #mountwo="ngModel"
                        (ngModelChange)="getmaterials($event,materialissue.value)">
                        <option [value]="undefined" selected hidden>Select Mounting Release
                          WorkOrder:</option>
                        <option [value]="null" selected hidden>Select Mounting Release
                            WorkOrder:</option>
                        <option *ngFor="let item of mounting_wo.message" [value]="item.id">{{item.workorder_no}}</option>
                      </select>
                      <div *ngIf="mountwo.invalid && (mountwo.dirty || mountwo.touched)" class="alert-danger">
                        <span *ngIf="mountwo.errors?.required">
                          Mounting Release WorkOrder is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group row">
                    <label class="col-sm-4 col-form-label text-right">Workstation</label>
                    <div class="col-sm-5">
                      <!-- <select name="drummodel" class="form-control" [(ngModel)]="drummodels" #drummodel="ngModel" (change)="drum_getbom(drummodel.value);getassyvalue(frm)"> -->
                      <select name="station" class="form-control" [(ngModel)]="selworkstation" #station="ngModel" (ngModelChange)="getstationcode($event)">
                        <option [value]="undefined" selected hidden>Select Workstation</option>
                        <option [value]="null" selected hidden>Select Workstation</option>
                        <option *ngFor="let item of stations" [value]="item.id">{{item.list_of_operation}} (
                          {{item.operation_code}} )</option>
                      </select>
                      <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
                      <div *ngIf="station.invalid && (station.dirty || station.touched)" class="alert-danger">
                        <span *ngIf="station.errors?.required">
                          Workstation is Required
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" (click)="getdetails()">Get </button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-block table-responsive">
            <table class="datatable table table-striped table-bordered row-border hover">
              <thead>
                <tr>
                  <th>S.No.</th>
                  <th>LR ID</th>
                  <th>Workorder No.</th>
                  <th>Workstation</th>
                  <th>Line Rejection Items</th>
                  <th>Requested By</th>
                  <th>QC Status</th>
                  <th>SAP Status</th>
                  <th>QC Rework Details</th>
                  <th>QC Comments</th>
                  <th>Store Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of materialdetails;let i=index">
                  <td>{{i+1}}</td>
                  <td>{{item.line_rejection_id}}</td>
                  <td>{{item.workorder_no}}</td>
                  <td>{{item.operation_code}}_{{item.list_of_operation}}</td>
                  <td><button class='btn btn-primary btn-outline-primary btn-icon' (click)='getpartnodetails(item.id);openedit(partnodetails)'>
                      <i class="icofont icofont-eye-alt"></i>
                    </button></td>
                  <td>{{item.requested_by}}</td>
                  <td *ngIf="item.qc_status == 1; else elsetemplate1">Approved</td>
                  <ng-template #elsetemplate1>
                    <td *ngIf="item.qc_status == 2;else elsetemplate2">Rejected</td>
                  </ng-template>
                  <ng-template #elsetemplate2>
                    <td>-</td>
                  </ng-template>
                  <td *ngIf="item.sap_status == '1'; else falsyTemplate11">512 Update</td>
                  <ng-template #falsyTemplate11>
                    <td *ngIf="item.sap_status == '2';else falsyTemplate12">612 Update</td>
                  </ng-template>
                  <ng-template #falsyTemplate12>
                      <td>-</td>
                  </ng-template>
                  <td *ngIf="item.qc_rework_details == '1'; else falsyTemplate21">At SSI by Supplier</td>
                  <ng-template #falsyTemplate21>
                    <td *ngIf="item.qc_rework_details == '2';else falsyTemplate22">At SSI by SSI</td>
                  </ng-template>
                  <ng-template #falsyTemplate22>
                      <td *ngIf="item.qc_rework_details == '3';else falsyTemplate23">At Supplier Premises</td>
                    </ng-template>
                    <ng-template #falsyTemplate23>
                        <td>-</td>
                    </ng-template>
                  <td>{{item.qc_comments}}</td>
                  <td *ngIf="item.store_status == '1'; else falsyTemplate31">Issued</td>
                  <ng-template #falsyTemplate31>
                    <td *ngIf="item.store_status == '2';else falsyTemplate32">Not Issued</td>
                  </ng-template>
                  <ng-template #falsyTemplate32>
                      <td>-</td>
                  </ng-template>
                  <td *ngIf="item.store_status == '0' || item.store_status == '2';else template">
                   <button class='btn btn-icon btn-outline-primary btn-icon' (click)='editfunction(item);openedit(edit)'>
                      <i class='icofont icofont-fountain-pen'></i>
                   </button>
                   <button class='btn btn-danger btn-outline-danger btn-icon' (click)='delete(item.id)'>
                    <i class='icofont icofont-trash'></i> 
                   </button>
                  </td>
                  <ng-template #template>
                    <td>NA</td>
                  </ng-template>
                </tr>
              </tbody>
            </table>
          </div>
        </form>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<ng-template #addNew let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Add Line Rejection Items</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(addNew)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #frm="ngForm" (ngSubmit)="addlineitems(frm)">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <div class="col-md-6">
              <div class="text-right">
                <button class="btn btn-info btn-square" type="button" (click)="add($event)">
                  <i class="icofont icofont-plus"></i> Add Item
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
     <div *ngFor="let container of containers; let in=index">         
        <div class="row">
          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Part No.</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Description</label>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Quantity</label>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Comments</label>
            </div>
          </div>      
        </div>
        <div class="row">
          <div class="col-md-3">
            <div class="form-group row">
              <div class="col-sm-8">
                <input type="text" class="form-control" name="partno{{in}}" [(ngModel)]="partnos[in]" #partno="ngModel"
                  pattern="^\d[0-9]*$" required>
                <div *ngIf="partno.invalid && (partno.dirty || partno.touched)" class="alert-danger">
                  <span *ngIf="partno.errors?.required">
                    Part No. is Required
                  </span>
                  <span *ngIf="partno.errors?.pattern">
                    Accepts only Numeric.
                  </span>
                </div>
              </div>
              <button class="btn btn-info" type="button" (click)="getdesc(partnos[in],in)">
                Submit
              </button>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group row">
              <div class="col-sm-8">
                <textarea type="text" class="form-control" name="desc{{in}}" [(ngModel)]="description[in]" #desc="ngModel"
                  readonly></textarea>
              </div>
            </div>
          </div>
          <div class="col-md-2">
            <div class="form-group row">
              <div class="col-sm-8">
                <input type="text" class="form-control" name="quantity{{in}}" [(ngModel)]="container.quantity"
                  #quantity="ngModel" pattern="^\d[0-9]*$" required>
                <div *ngIf="quantity.invalid && (quantity.dirty || quantity.touched)" class="alert-danger">
                  <span *ngIf="quantity.errors?.required">
                    Quantity is Required
                  </span>
                  <span *ngIf="quantity.errors?.pattern">
                    Accepts only Numeric.
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group row">
              <div class="col-sm-8">
                <input type="text" class="form-control" name="comments{{in}}" [(ngModel)]="container.quantity" #cmnts="ngModel"
                  required>
                <div *ngIf="cmnts.invalid && (cmnts.dirty || cmnts.touched)" class="alert-danger">
                  <span *ngIf="cmnts.errors?.required">
                    Comments is Required
                  </span>
                </div>
              </div>
              <div class="col-md-4">
                <td><button class="btn btn-light btn-square" type="button" (click)="deleteline(in)">
                    <i class="icofont icofont-ui-delete"></i>
                  </button></td>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div>
        <div class="form-group row float-right">

          <button class="btn btn-primary btn-square" type="submit" [disabled]="!frm.form.valid">
            <i class="icofont icofont-tick-mark"></i> Submit
          </button>
          <button class="btn btn-info btn-square" type="button" (click)="reset(frm)">
            <i class="icofont icofont-refresh"></i> Reset
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>
<ng-template #partnodetails let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Line Rejection Items</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(addNew)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="card-block table-responsive">
      <table class="datatable table table-striped table-bordered row-border hover">
        <thead>
          <tr>
            <th>S.No.</th>
            <th>Part No.</th>
            <th>Description</th>
            <th>Quantity</th>
            <th>Comments</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of lineitems;let i=index">
            <td>{{i+1}}</td>
            <td>{{item.part_no}}</td>
            <td>{{item.description}}</td>
            <td>{{item.quantity}}</td>
            <td>{{item.comments}}</td>
           
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ng-template>
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Update Store Status</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(edit)">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #edit="ngForm" (ngSubmit)="update_storestatus(edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="id" [(ngModel)]="editlineitems.id"
                required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Material Issue For</label>
                  <div class="col-sm-8">
                    <input type="text" class="form-control" name="issuefor" [(ngModel)]="editmaterialissuefor"
                      #issuefor="ngModel" pattern="^\d[0-9]*$" readonly>               
                  </div>
                </div>
              </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Part No.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control"  name="partno" [(ngModel)]="editlineitems.part_no"
                  #workorder="ngModel" pattern="^\d[0-9]*$" readonly>               
              </div>
            </div>
          </div>
        </div>
        <div class="row">
           <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">WorkOrder No.</label>
              <div class="col-sm-8">
                <input type="text" class="form-control"  name="workorder" [(ngModel)]="editlineitems.workorder_no"
                  #workorder="ngModel" pattern="^\d[0-9]*$" readonly>               
              </div>
            </div>
          </div>
          <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">QC Status</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="qcstatus" [(ngModel)]="qc_status"
                    #qcstatus="ngModel" pattern="^\d[0-9]*$" readonly>               
                </div>
              </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
             <div class="form-group row">
               <label class="col-sm-4 col-form-label">SAP Status</label>
               <div class="col-sm-8">
                 <input type="text" class="form-control" name="sapstatus" [(ngModel)]="sap_status"
                   #sapstatus="ngModel" pattern="^\d[0-9]*$" readonly>               
               </div>
             </div>
           </div>
           <div class="col-md-6">
               <div class="form-group row">
                 <label class="col-sm-4 col-form-label">QC Rework Details</label>
                 <div class="col-sm-8">
                   <input type="text" class="form-control" name="qcrework" [(ngModel)]="qcreworkdetails"
                     #qcstatus="ngModel" pattern="^\d[0-9]*$" readonly>               
                 </div>
               </div>
             </div>
         </div>
         <div class="row">
            <div class="col-md-6">
             <div class="form-group row">
               <label class="col-sm-4 col-form-label">QC Comments</label>
               <div class="col-sm-8">
                 <input type="text" class="form-control" name="qccomments" [(ngModel)]="editlineitems.qc_comments"
                   #qccomments="ngModel" pattern="^\d[0-9]*$" readonly>               
               </div>
             </div>
           </div>

             <div class="col-md-6">
                <div class="form-group row">
                  <label class="col-sm-4 col-form-label">Store Status</label>
                  <div class="col-sm-8">
                    <select name="status" class="form-control" [(ngModel)]="selstotrstatus" #storestatus="ngModel" required>
                      <option [value]="undefined" selected hidden>Select Status</option>
                      <option [value]="null" selected hidden>Select Status</option>
                      <option value="1">Issued</option>
                      <option value="2">Pending</option>
                    </select>
                </div>
              </div>
            </div>
         </div>
      </div>
      <hr>
      <div>
        <div class="form-group row float-right">
          <button class="btn btn-primary btn-square" type="submit" >
            <i class="icofont icofont-tick-mark"></i> Submit
          </button>
          <button class="btn btn-info btn-square" type="button" (click)="reset(edit)">
            <i class="icofont icofont-refresh"></i> Reset
          </button>
        </div>
      </div>
    </form>
  </div>
</ng-template>