  <div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-header container">
        <div class="col-md-6">
          <h5>Shell Segment Inward</h5>
        </div>
      </div>
  
      <div class="card-block">
        <form class="form-horizontal" name="addform" #frm="ngForm" (ngSubmit)="frm.form.valid && addshellsegmentinward(frm,addnew)">          
          <input type="hidden" class="form-control" Placeholder="Enter no of segments" name="loggeduserid" [(ngModel)]="currentuserid" #loggeduserid="ngModel" id="loggeduserid" required>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Drum Model No.</label>
                <div class="col-sm-8">
                  <select class='select-option  form-control' required [(ngModel)]="createsegmentinward_drummodel" #snagcodes="ngModel" name=drummodel (ngModelChange)='onOptionsSelected($event)'>
                    <option [value]="undefined" selected hidden>Select Drum Model No.</option>
                    <option [value]="null" selected hidden>Select Drum Model No.</option>
                    <option class='option' *ngFor='let option of options1' [value]="option.id">{{option.drum_model}}</option>
                </select> 
               
                <div *ngIf="snagcodes.invalid && formclicked && (snagcodes.dirty || snagcodes.touched)" class="alert-danger">
                  <span *ngIf="snagcodes.errors?.required">
                      Drum Model No. is Required
                  </span>
                </div>
                </div>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Shell Category</label>
                <div class="col-sm-8">
                  <select class='select-option  form-control' required [(ngModel)]="createsegmentinward_shellcategory" #relatedtos="ngModel" name=checklist>
                    <option [value]="undefind" selected hidden>Select Shell Category</option>
                    <option [value]="null" selected hidden>Select Shell Category</option>
                    <option class='option' *ngFor='let option of shellcategory' [value]="option">{{option}}</option>
                </select> 
                <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
               
                <div *ngIf="relatedtos.invalid && formclicked && (relatedtos.dirty || relatedtos.touched)" class="alert-danger">
                  <span *ngIf="relatedtos.errors?.required">
                    Shell Category is Required
                  </span>
                </div>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Number of Segments</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" Placeholder="Enter no of segments" name="segmentcount"  [(ngModel)]="createsegmentinward_segmentcount"  pattern="^\d[0-9]*$" #segmentcount="ngModel" required>
                
                  <div *ngIf="segmentcount.invalid && formclicked && (segmentcount.dirty || segmentcount.touched)" class="alert-danger">
                    <span *ngIf="segmentcount.errors?.required">
                      Number of Segments is  Required
                    </span>
                    <span *ngIf="segmentcount.errors?.pattern">
                      Accepts only Numeric.
                    </span>
                  </div>
                </div>
              </div>
            </div>
          
          </div>
          <hr>
          <div class="form-group row float-right">
            <div class="col-sm-6">
              <button type="button" class="btn btn-default waves-effect pull-right" (click)="reset(frm)">Reset</button>
            </div>
            <div class="col-sm-6">
              <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" (click)="formclicked=true">Submit</button>
            </div>
          </div>
        </form>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>


<div class="row">
  <div class="col-sm-12">
    <div class="card card-border-primary">
      <div class="card-block table-responsive">
        <table class="datatable table table-striped table-bordered row-border hover">
          <thead>
            <tr>
              <th>S.No.</th>
              <th>Drum Model</th>
              <th>No of Segments</th>
              <th>Shell Category</th>
              <th>Approval Status</th>
              
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of employees;let i=index">
              <td>{{i+1}}</td>
              <td>{{item.drum_model}}</td>
              <td>{{item.number_of_segment}}</td>
              <td>{{item.shell_category}}</td>
              <td>
                <span *ngIf="item.approval_status==0">Waiting For Approval</span>
                <span *ngIf="item.approval_status==1">Approved</span>
                <span *ngIf="item.approval_status==2">Not Approved</span>
               </td>
             
              <td>
                  <div *ngIf="item.approval_status!=0">
                    NA
                  </div>
                <div *ngIf="item.approval_status==0">
                <button class='btn btn-primary btn-outline-primary btn-icon' (click)='openedit(edit,item);editfunction(item);'>
                  <i class='icofont icofont-fountain-pen'></i>
                </button>
                <button class='btn btn-danger btn-outline-danger btn-icon' (click)='deleteshellsegmentinward(item.shell_seg_id)'>
                  <i class='icofont icofont-trash'></i>
                </button>
              </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- end of card-footer -->
    </div>
  </div>
</div>

<!-- Add Bulk Upload  -->
<ng-template #bulkupload let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Bulk Upload</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <div class="row">
      <div class="col-sm-4 text-right">
        <button type="button" class="btn btn-default waves-effect" (click)="downloadFile()">Sample Template</button>
      </div>
      <label class="custom-file col-sm-6">
        <input #file type="file" (click)="file.value = null" (change)="fileUpload($event)" Placeholder="Upload file" class="btn btn-default">
        <!--  <input #fileUpload type="file" placeholder="Upload file" (change)="upload(file.files)"> -->
        <!-- <input type="file" class="custom-file-input" (change)="incomingfile($event)" placeholder="Upload file" accept=".xlsx" required> -->
      </label>
    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default waves-effect" (click)="d('Cross click')">Close
    </button>
    <button type="button" class="btn btn-primary waves-effect waves-light" (click)="filesubmit(bulkupload)">Submit</button>
  </div>
</ng-template>

<!-- Edit -->
<ng-template #edit let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">Edit Shell Segment Inward</h4>
    <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
      <span aria-hidden="true"><i class="fa fa-times" aria-hidden="true"></i></span>
    </button>
  </div>
  <div class="modal-body">
    <form class="form-horizontal" #editfrm="ngForm" (ngSubmit)="editshellsegmentationinward(editfrm,edit)">
      <div class="row" style="display:none">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Id</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter Emp No" name="eid" [(ngModel)]="editseginward.shell_seg_id" required #eid="ngModel">
              <div *ngIf="eid.invalid && (eid.dirty || eid.touched)" class="alert-danger">
                <span *ngIf="eid.errors?.required">
                  ID is Required
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Drum Model No.</label>
              <div class="col-sm-8">
                <select class='select-option  form-control' required [(ngModel)]="editseginward.drumid" #esnagcodes="ngModel" name=esnagcodes (ngModelChange)='onOptionsSelected1($event)'>
                  <option [value]="undefind" selected hidden>Select Drum Model No.</option>
                  <option [value]="null" selected hidden>Select Drum Model No.</option>
                  <option class='option' *ngFor='let option of options1' [value]="option.id">{{option.drum_model}}</option>
              </select> 
              <div *ngIf="esnagcodes.invalid && (esnagcodes.dirty || esnagcodes.touched)" class="alert-danger">
                <span *ngIf="esnagcodes.errors?.required">
                    Drum Model No. is Required
                </span>
              </div>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Shell Category</label>
              <div class="col-sm-8">
                <select class='select-option  form-control' required [(ngModel)]="editseginward.shell_category" #relatedtos="ngModel" name=relatedtos>
                  <option [value]="undefind" selected hidden>Select Shell Category</option>
                  <option [value]="null" selected hidden>Select Shell Category</option>
                  <option class='option' *ngFor='let option of shellcategory' [value]="option">{{option}}</option>
              </select> 
              <!-- <input type="text" class="form-control" Placeholder="Enter Checklist." name="checklist" ngModel #checklistss="ngModel" required> -->
              <div *ngIf="relatedtos.invalid && (relatedtos.dirty || relatedtos.touched)" class="alert-danger">
                <span *ngIf="relatedtos.errors?.required">
                  Shell Category is Required
                </span>
              </div>
              </div>
            </div>
          </div>
        </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">No Of Segments</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" Placeholder="Enter No of segments" name="segmentcount" [(ngModel)]="editseginward.number_of_segment"  pattern="^\d[0-9]*$" #segmentcount="ngModel" required>
              <div *ngIf="segmentcount.invalid && (segmentcount.dirty || segmentcount.touched)" class="alert-danger">
                <span *ngIf="segmentcount.errors?.required">
                  No Of Segments is Required
                </span>
                <span *ngIf="segmentcount.errors?.pattern">
                  Accepts only Numeric.
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Approval Status</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="approvalstatustext" [(ngModel)]="editseginward_approvalstatustext" #approvalstatustext="ngModel" readonly>
              
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div class="form-group row float-right">
        <div class="col-sm-6">
          <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click')">Close</button>
        </div>
        <div class="col-sm-6">
          <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
        </div>
      </div>
    </form>
  </div>
</ng-template>