<div class="row">
    <div class="col-sm-12">
        <div class="card card-border-primary">
          <div class="card-header row">
            <div class="col-md-6">
              <h5>Spare Details</h5>
            </div>
          </div>
          <div class="card-block">
            <form class="form-horizontal" name="addform" #frm="ngForm">
                <div class="row">
                    <div class="col-md-12">
                      <div class="form-group row">
                        <label class="col-sm-4 col-form-label text-right">Select Type</label>
                        <div class="col-sm-5">
                            <select class="form-control" name="processtype" [(ngModel)]="processtypes" #processtype="ngModel" required (ngModelChange)="selectedoption($event);getvalue(processtype.value)">
                                <option [value]="undefined" selected hidden>Select Type</option>
                                <option [value]="null" selected hidden>Select Type</option>
                                <option value="1">Cone</option>
                                <option value="2">Drum</option>
                                <option value="3">Shell</option>
                              </select>
                              <div *ngIf="processtype.invalid && (processtype.dirty || processtype.touched)" class="alert-danger">
                                <span *ngIf="processtype.errors?.required">
                                   Type is Required
                                </span>
                              </div>
                          <!-- <input type="text" class="form-control" Placeholder="Enter Drum / Mixer No / Mounting"> -->
                        </div>
                      </div>
                    </div>
                  </div>
            <div [ngSwitch]="processtypes">
              <div *ngSwitchCase="'1'">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Drum Model:</label>
                      <div class="col-sm-5">
                            <select name="drummodel" class="form-control" [(ngModel)]="drummodels" #drummodel="ngModel" (change)="getconecategory(drummodel.value)">
                              <option value="undefined" selected hidden>Select Drum Model:</option>
                              <option value="null" selected hidden>Select Drum Model:</option>
                              <option *ngFor="let item of mixer_value.message" [value]="item.id" >{{item.drumpart_no}} _ {{item.drum_model}}</option>
                            </select>
                          <div *ngIf="drummodel.invalid && (drummodel.dirty || drummodel.touched)" class="alert-danger">
                          <span *ngIf="drummodel.errors?.required">
                            Drum Model. is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Cone Category</label>
                      <div class="col-sm-5">
                          <select class='select-option  form-control' required ngModel #workordernos="ngModel" name=workordernos
                          (ngModelChange)='onconeselected($event)'>
                          <!-- <option value="" selected >Select Cone Category</option> -->
                          <option [value]="undefined" selected hidden>Select Cone Category</option>
                          <option [value]="null" selected hidden>Select Cone Category</option>
                          <option class='option' *ngFor='let option of conecategory' [value]="option">{{option}}</option>
                        </select>
                        <div *ngIf="workordernos.invalid && (workordernos.dirty || workordernos.touched)" class="alert-danger">
                          <span *ngIf="workordernos.errors?.required">
                              Cone Category is Required
                          </span>
                          <span *ngIf="workordernos.errors?.pattern">
                              Cone Category should acceptd only Numeric.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" (click)="spare()">Get</button>
                  </div>
                </div>
              </div>
               <div *ngSwitchCase="'3'">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Drum Model:</label>
                      <div class="col-sm-5">
                            <select name="drummodel" class="form-control" [(ngModel)]="drummodels" #drummodel="ngModel" (change)="getconecategory(drummodel.value)">
                              <option [value]="undefined" selected hidden>Select Drum Model:</option>
                              <option [value]="null" selected hidden>Select Drum Model:</option>
                              <option *ngFor="let item of mixer_value.message" [value]="item.id" >{{item.drumpart_no}} _ {{item.drum_model}}</option>
                            </select>
                          <div *ngIf="drummodel.invalid && (drummodel.dirty || drummodel.touched)" class="alert-danger">
                          <span *ngIf="drummodel.errors?.required">
                            Drum Model. is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Shell Category</label>
                      <div class="col-sm-5">
                          <select class='select-option  form-control' required [(ngModel)]="selshellcat" #workordernos="ngModel" name=workordernos
                          (ngModelChange)='onconeselected($event)'>
                          <option [value]="undefined" selected hidden>Select Cone Category</option>
                          <option [value]="null" selected hidden>Select Cone Category</option>
                          <option class='option' *ngFor='let option of shellcategory' [value]="option">{{option}}</option>
                        </select>
                        <div *ngIf="workordernos.invalid && (workordernos.dirty || workordernos.touched)" class="alert-danger">
                          <span *ngIf="workordernos.errors?.required">
                              WorkOrder No. is Required
                          </span>
                          <span *ngIf="workordernos.errors?.pattern">
                            WorkOrder No. should accept only Numeric.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" (click)="spare()">Submit </button>
                  </div>
                </div>
              </div>
             <div *ngSwitchCase="'2'">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Drum Model:</label>
                      <div class="col-sm-5">
                            <select name="drummodel" class="form-control" [(ngModel)]="drummodels" #drummodel="ngModel" (change)="drum_getwo(drummodel.value)">
                              <option [value]="undefined" selected hidden >Select Drum Model:</option>
                              <option [value]="null" selected hidden >Select Drum Model:</option>
                              <option *ngFor="let item of mixer_value.message" [value]="item.id" >{{item.drumpart_no}} _ {{item.drum_model}}</option>
                            </select>
                          <div *ngIf="drummodel.invalid && (drummodel.dirty || drummodel.touched)" class="alert-danger">
                          <span *ngIf="drummodel.errors?.required">
                            Drum Model. is Required
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="form-group row">
                      <label class="col-sm-4 col-form-label text-right">Drum W/O No.</label>
                      <div class="col-sm-5">
                        <select class="form-control" name="workorder" [(ngModel)]="workorder" #workordernos="ngModel" required (ngModelChange)="getwo($event)">
                          <option [value]="undefined" selected hidden >Select Workorder No.</option>
                          <option [value]="null" selected hidden >Select Workorder No.</option>
                          <option *ngFor="let item of drumworkorder.message" [value]="item.id">{{item.workorder_no}}</option>
                        </select>
                        <div *ngIf="workordernos.invalid && (workordernos.dirty || workordernos.touched)" class="alert-danger">
                          <span *ngIf="workordernos.errors?.required">
                              WorkOrder No. is Required
                          </span>
                          <span *ngIf="workordernos.errors?.pattern">
                            WorkOrder No. should acceptd only Numeric.
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-6">
                    <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" (click)="spare()">Get </button>
                  </div>
                </div>
              </div>
            </div>       
            </form>
          </div>
          <!-- end of card-footer -->
          <div class="card-block" *ngIf="selectedtype == '1'">
              <table class="datatable table table-striped table-bordered row-border hover">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Cone Sl. No.</th> 
                    <th>Cone Category</th> 
                    <th>Model</th>     
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of sparedetails;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.cone_sl_no}}</td>
                    <td>{{item.cone_category}}</td>
                    <td>{{item.drum_model}}</td>
                   <td>
                      <button type="button" class="btn btn-info btn-square" (click)="reverttoprocess(item.fcsaiid,selectedtype)">Revert to Process</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-block" *ngIf="selectedtype == '2'">
              <table class="datatable table table-striped table-bordered row-border hover">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Drum Sl. No.</th>
                    <th>Workorder No.</th>  
                    <th>Model</th>         
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of sparedetails;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.drum_serial_no}}</td>
                    <td>{{item.workorder_number}}</td>
                    <td>{{item.drum_model}}</td>
                   <td>
                      <button type="button" class="btn btn-info btn-square" (click)="reverttoprocess(item.id,selectedtype)">Revert to Process</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="card-block" *ngIf="selectedtype == '3'">
              <table class="datatable table table-striped table-bordered row-border hover">
                <thead>
                  <tr>
                    <th>S.No.</th>
                    <th>Shell Sl. No.</th>     
                    <th>Model</th> 
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let item of sparedetails;let i=index">
                    <td>{{i+1}}</td>
                    <td>{{item.shell_sl_no}}</td>
                    <td>{{item.drum_model}}</td>
                   <td>
                      <button type="button" class="btn btn-info btn-square" (click)="reverttoprocess(item.fcsaiid,selectedtype)">Revert to Process</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- end of card-footer -->
          </div>
        </div>
      </div>
  <ng-template #edit let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title">Material Acknowledgment</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click');reset(editfrm)">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form class="form-horizontal" name="editform" #editfrm="ngForm" (ngSubmit)="editshiftengineerstatus(editfrm, edit)">
        <div class="row" style="display: none">
          <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">ID</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" placeholder="id" name="id" [(ngModel)]="bommaterials.id" #id="ngModel" required>
                <div *ngIf="id.invalid && (id.dirty || id.touched)" class="alert-danger">
                  <span *ngIf="id.errors?.required">
                    ID is Required
                  </span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Date</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="createdby" [(ngModel)]="bommaterials.date" #createdby="ngModel" readonly>
                </div>
              </div>
            </div>

        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">WorkOrder No.</label>
            <div class="col-sm-8">

                <input type="text" class="form-control" name="workstation" [(ngModel)]="bommaterials.workorder_no" #workstationname="ngModel" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
          <div class="col-md-6">
              <div class="form-group row">
                <label class="col-sm-4 col-form-label">Total Quantity</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" name="desc" [(ngModel)]="bommaterials.total_qty" #desc="ngModel" readonly>
                </div>
              </div>
            </div>
        <div class="col-md-6">
          <div class="form-group row">
            <label class="col-sm-4 col-form-label">Issue Quantity</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" name="torque" [(ngModel)]="bommaterials.issued_qty" #torque="ngModel" readonly>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
            <div class="form-group row">
              <label class="col-sm-4 col-form-label">Store Status</label>
              <div class="col-sm-8">
                <input type="text" class="form-control" name="tooltype" [(ngModel)]="storestatus" #tooltype="ngModel" readonly>
              </div>
            </div>
          </div>
      <div class="col-md-6">
        <div class="form-group row">
          <label class="col-sm-4 col-form-label">Shift Engineer Status</label>
          <div class="col-sm-8">
            <select name="status" class="form-control" [(ngModel)]="bommaterials.shift_engineer_status" #status="ngModel">
              <option value="undefined" selected hidden>Select Engineer Status</option>
              <option value="1">Materialissued 100%</option>
              <option value="2">Partially Issued</option>
              <option value="3">Matrial Shortage</option>
            </select>
        </div>
      </div>
    </div>
    </div>
        <hr>
        <div class="form-group row float-right">
          <div class="col-sm-6">
            <button type="button" class="btn btn-default waves-effect pull-right" (click)="d('Cross click');reset(editfrm)">Close</button>
          </div>
          <div class="col-sm-6">
            <button type="submit" class="btn btn-primary waves-effect waves-light pull-right" [disabled]="!editfrm.form.valid">Update</button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>